[2020-12-21 16:55] jpmckinney commented on #750
The original [procedure](https://github.com/open-contracting-extensions/ocds_procedure_extension) extension had codes for:

Code | Title | Description
-- | -- | --
negotiated | Negotiated procedure | The procurement method involves negotiation.
optionallyNegotiated | Optionally negotiated procedure | The buyer may award contracts on the basis of the initial bids without negotiation

This was remov

[2020-12-21 22:05] duncandewhurst commented on #1144
As noted in https://github.com/open-contracting/infrastructure/issues/251, the SOURCE platform also includes a `Contractual Arrangement` field which mixes information on the functions for which the supplier is responsible with the following values relevant to this issue:

* Concession
* Lease
* Concession to lease transformation

Also, as noted in https://github.com/open-contracting-extensions/pub

[2020-12-21 23:26] duncandewhurst commented on #892
The field name (`datePublished`) and description ("The date when the tender was published.") in the extension seem to be backward-looking only.

Some publishers wish to disclose the expected publication date of the tender, which may still differ from the date from which the tender is open for submissions, e.g. SIF's SOURCE platform includes a 'tender_publication_taget_date` field.

We could instea

[2020-12-21 23:38] jpmckinney commented on #892
The intended date of publication of a notice is captured by `futureNoticeDate` in the [communication](https://extensions.open-contracting.org/en/extensions/communication/master/) extension.

`tender.datePublished` matches `Document.datePublished`, `Contract.dateSigned`, `dateModified` (Milestone and Document) and `Milestone.dateMet`, as well as Schema.org.

[2020-12-22 00:49] duncandewhurst commented on #1074
This would be very useful as I frequently find I have missed fields introduced in EU extensions.

[2020-12-22 00:50] duncandewhurst commented on #892
Ah, I was not aware of that extension. Bring on https://github.com/open-contracting/standard/issues/1074.

We should add something to the schema style guide about date fields being an exception to the 'put the qualifier first' rule.

[2020-12-22 16:56] jpmckinney commented on #892
Done in above commit.

[2020-12-22 21:21] jpmckinney commented on #1074
I made a lookup for all extensions (but not core fields or codes): https://open-contracting.github.io/editor-tools/

I can add core later, but i think most editors are familiar enough with core.

Repo is here, on which we can create issues: https://github.com/open-contracting/editor-tools

The intended audience is just OCDS contributors. We would design something else for a public audience.

[2020-12-28 10:50] JachymHercher commented on #896
Currently it would, but does tracking this require a new field? The difference between the original contract value and the contract value after the amendment could be derived by comparing `AwardValue` in the two releases.

(Note: according to https://standard.open-contracting.org/latest/en/guidance/map/amendments/#example-2-contract-amendment amendments are currently done by only changing `Contrac

[2020-12-28 10:54] JachymHercher commented on #1143
My (and eForms) thinking: a framework agreement (FA) has `EstimatedValue` and/or `MaximumValue` (which of the two depends on jurisdiction/case by case), while non-FA has `Value`. `Value` does not appear together with the other ones.

Discussed in https://github.com/open-contracting/standard/issues/896#issuecomment-751671216. (The two will usually be the same; if a publisher wants to distinguish th

[2020-12-28 11:25] JachymHercher commented on #896
Information from the contract creation phase of the procurement process.

Actually, "procurement process" should be changed to "Contracting process"

[2020-12-28 11:36] JachymHercher commented on #866
Yes, it is consistent.

Main point of https://github.com/open-contracting/standard/issues/866#issuecomment-727195366 was that we should have the same approach for _all_ processes, i.e. there is _no_ processes containing `Planning` and at the same time (`Awards` and/or `Contracts`). It is one or the other, always. This implies, for example, that if a publisher wants to provide information about `ra

[2020-12-28 14:06] JachymHercher commented on #707
Consistency detail: the definition of `document.url` in https://github.com/open-contracting/standard/issues/707#issuecomment-691107254 mentions "direct". Shouldn't we also move it form the definition to the general #document reference section?

(If  not, then point 2 from https://github.com/open-contracting/standard/issues/707#issuecomment-731576031 should IMO also be part of the definition, becau

[2020-12-28 14:17] JachymHercher commented on #548
I think keeping the word "contract" is important for emphasizing the distinction with the party that manages the "process", so 'contractManager' or 'contratImplementationManager' sounds good to me. Assuming there is nothing else to manage about a contract except its implementation, then the former may be sufficient and more easily readable.

[2020-12-28 15:06] JachymHercher opened #1149 "Supplier - definition ("awarded or contracted")"
In https://github.com/open-contracting/standard/issues/903#issuecomment-728178107, I questioned whether the definition of 'Supplier' ("An entity awarded or contracted to provide goods, works or services.") requires both "awarded" and "contracted".

To clarify, the point of the first paragrah was that if we mention "awarded", then non-intuitive things can sometimes happen. The point of the second p

[2020-12-28 20:41] JachymHercher commented on #883
For context, some info on how the EU deals with this:

The eForms act defines that "'Organisation’ refers to a legal or natural person or a public entity." Furthermore, organisation BT-633 (Organisation Natural Person) allows marking organisations that are natural persons. The idea is that the organisation block can be used to inform about people, even if some of the fields will not be used.

We e

[2020-12-28 20:50] JachymHercher commented on #790
I'll try to summarize, just to see whether we are on the same page:
- We need to validate the scenario.
- If the scenario is validated, then the only solution we have is turning `awardID` into an array, which shouldn't cause any problems (?) but it's a backwards incompatible change, so it has to wait for 2.0.

[2020-12-29 19:46] JachymHercher commented on #895
New question: how are unsuccessful procedures (e.g. where all tenderers were excluded because of exclusion grounds or selection criteria) modelled in OCDS? Specifically, is `Award` used? I assume this is done through `status` being equal to 'unsuccessful', but I'm not sure whether `Tender.status` is enough or `Award.status` is also used. Depending on the approach, this will also need to be reflect

[2021-01-04 11:58] odscrachel commented on #1074
This is brilliant, adding the core fields at some point would be helpful.

[2021-01-04 12:44] ColinMaudry commented on #524
eForms uses country codes for organizations address ([link to our glossary crosswalk](https://docs.google.com/spreadsheets/d/1Nh_HjyYuNk8wuu_Tb0kcPDyV6j8pAMgXqJ3MgwpXZjQ/edit#gid=202916689&range=25:25))

[2021-01-04 15:59] mrshll1001 commented on #833
I like this a lot too. It deals with the crux of the issue really. If we've got the review process to ensure quality I don't see the need to keep the distinction at all.

I'm unsure of the language around "module"; I think perhaps it just sits a little too close to 'building block' which is used in other OCDS documentation to describe the re-usable objects in the schema. And while extensions *may*

[2021-01-04 16:21] jpmckinney commented on #833
@mrshll1001 Sounds good. Is there anything else you need before preparing the pull request?

[2021-01-04 16:23] mrshll1001 commented on #833
@jpmckinney  Don't think so, I'll comment if I need anything further!

[2021-01-04 16:25] jpmckinney commented on #1139
What changed in the PNG files? I'm not sure why they are part of the PR.

[2021-01-04 16:56] nativaldezt commented on #1139
The PNG files had the text Live System too, so I change it to Data Source.

[2021-01-04 17:15] ColinMaudry commented on #901
Exclusion grounds in eForms: https://docs.google.com/spreadsheets/d/1Nh_HjyYuNk8wuu_Tb0kcPDyV6j8pAMgXqJ3MgwpXZjQ/edit#gid=202916689&range=121:121

ID | Name | Description
-- | -- | --
BG-701 | Exclusion Grounds | The brief description of criteria regarding the personal situation of tenderers that may lead to their exclusion. This must include a list of all such criteria and indicate required infor

[2021-01-05 12:57] yolile commented on #784
is this already covered by #1123 ?

[2021-01-05 17:45] ColinMaudry commented on #827
I have added comments when an eForm term probably matches a field or code from an OCDS extension.

[2021-01-05 21:32] jpmckinney commented on #784
I still have to review #1123, but I think so.

I'll limit the scope of this issue to OCDS 1.1. We aren't solving this in OCDS 1.2, and in OCDS 1.3/2.0 we will remember to support the same use cases as OCDS 1.1, so the issue doesn't need to remain open once #1123 is closed.

[2021-01-05 21:38] #1119 closed, assigned to yolile

[2021-01-05 22:01] #1126 closed, assigned to yolile

[2021-01-05 22:01] #912 closed, assigned to yolile

[2021-01-05 22:15] jpmckinney commented on #1143
With respect to this issue, where the problem is having "nine value fields (applicable in Tender, Award and Contract)," it sounds like while the *schema* might define many fields (though as I understand each of Tender, Award and Contract will not need all 9), the *data* will often have one, sometimes two, in each of Tender, Award and Contract.

If the data is simple, and if publishers have clear g

[2021-01-05 22:16] jpmckinney commented on #1143
I'll optimistically close the issue, but happy to re-open if there are concerns with the current direction.

[2021-01-05 22:20] jpmckinney opened #1154 "Ensure tender field descriptions make sense for planning and contracting processes"
Follow-up to https://github.com/open-contracting/standard/issues/866#issuecomment-751683275

[2021-01-05 22:25] jpmckinney commented on #866
I created #1154

The release should be [tagged](https://standard.open-contracting.org/latest/en/schema/codelists/#release-tag) as 'planning' or 'planningUpdate' to distinguish it as a planning release. That said, compiled releases lose this detail. But, the problem could be solved by the user by querying for data that refers back to the planning OCID with a 'planning' relationship.

I think we've

[2021-01-05 22:34] jpmckinney commented on #707
Good catch. I think 1,2,4 can go into the field description, but using descriptive language (e.g. "The internet address for directly accessing") rather than prescriptive language ("the address must give access that is direct"). OCDS' norms (MUST) are with respect to data format, not with respect to e.g. the completeness of procurement documents, which are more like legal requirements. It's maybe a

[2021-01-05 22:38] jpmckinney commented on #548
A web search for "contract manager" seems to turn up roles relating to [preparing and reviewing](https://study.com/articles/Contract_Manager_Job_Duties_and_Requirements_for_a_Career_in_Contract_Mgmt.html) contracts, [preparing proposals and negotiating contracts](https://www.salary.com/research/salary/alternate/contracts-manager-salary), etc. so 'contractImplementationManager' is wordy but unambig

[2021-01-05 22:49] jpmckinney commented on #1149
From the [glossary](https://docs.google.com/spreadsheets/d/1Nh_HjyYuNk8wuu_Tb0kcPDyV6j8pAMgXqJ3MgwpXZjQ/edit#gid=1183552086):

* OCDS 1.1: The suppliers awarded this award. If different suppliers have been awarded different items or values, these should be split into separate award blocks.
* MAPS: A party that supplies goods, works, or services, i.e. in this context, “supplier” implies contractors

[2021-01-05 23:12] jpmckinney commented on #883
@JachymHercher Sole proprietors make sense, and is an exception we carve out in OCDS ("sole traders" above).

In eForms, I only see the following in BG-4 Winner, which wouldn't result in BG-703 Organisation being used for a beneficial owner.

ID | Name | Data type | Repeatable | Description
-- | -- | -- | -- | --
BT-706 | Winner Owner Nationality | Code | Yes | The nationality (or nationalities) o

[2021-01-05 23:19] jpmckinney commented on #790
The other solution is to recommend postponing the disclosure of items, from https://github.com/open-contracting/standard/issues/790#issuecomment-718801713

Since I'm not sure the problem actually exists, and since the issue was reported via an implementer who might have based their question on the structure of the database, I think okay to close until we have further evidence.

At any rate, I'm ok

[2021-01-05 23:41] jpmckinney commented on #827
A mapping between eForms and the eProcurement Ontology is at https://github.com/eprocurementontology/eprocurementontology/blob/v2.0.2/v2.0.2/03-Analysis%20and%20design/eForms2ePO/Ontology_eForms_Mapping_New%20Regulation.xlsx (https://github.com/eprocurementontology/eprocurementontology/issues/277)

I did a bit of tidying in https://docs.google.com/spreadsheets/d/1Pj4mMIPU-UosrA2rR6Ty7mXNLLOV9sfH/e

[2021-01-05 23:59] jpmckinney opened #1155 "Fix add_translation_notes to remove existing notes"
e.g. https://standard.open-contracting.org/latest/fr/guidance/

[2021-01-06 00:21] jpmckinney commented on #888
I'm moving this to 1.1 (iterative improvements), since it can build on #1123 as a further example of a (cascade) framework agreement - assuming @yolile agrees that simultaneous supply can be modelled as such.

The additional field with the semantics of "To be awarded a contract, any supplier must agree to supply at the prices offered by the lowest bidder, regardless of his own bid price." could be

[2021-01-06 00:37] jpmckinney commented on #825
0.2% of parties have the "funder" role when we last checked, so OK to deprecate.

I've opened https://github.com/open-contracting/ocds-extensions/issues/157 and https://github.com/open-contracting/ocds-extensions/issues/158

This seems fine to me.

I'll open new issues for some of the related concerns.

[2021-01-06 00:45] jpmckinney opened #1156 "Review procuringEntity description"
@JachymHercher wrote in #825

Re: "fully accurate", this was described as:

I guess as a starting point: Is "procuring entity" a useful concept on its own? If so, then this issue is about adding subroles (see below quote). If not, then this issue is about replacing it with new options. Viz. subroles:

[2021-01-06 00:47] jpmckinney commented on #825
I created #1156 for `procuringEntity` (which might be a use case for subroles). Re: `memberOf`, there is https://github.com/open-contracting/standard/issues/452.

I didn't create issues for this, but issues can be opened if there is demand. For mediator, the OCDS for EU profile adds 'mediationBody', which can be promoted to the standard: https://github.com/open-contracting-extensions/ocds_eu_exten

[2021-01-06 00:57] jpmckinney opened #1157 "Review additions to open codelists by extensions"
After review, the new codes can be merged into the standard itself, including:

* [x] ocds_enquiry_extension: [partyRole.csv](https://github.com/open-contracting-extensions/ocds_enquiry_extension/blob/master/codelists/%2BpartyRole.csv)
* [x] ocds_legalBasis_extension: [itemClassificationScheme.csv](https://github.com/open-contracting-extensions/ocds_legalBasis_extension/blob/master/codelists/%2Bit

[2021-01-06 02:37] #1155 closed, assigned to nobody

[2021-01-06 03:42] jpmckinney opened #1159 "Worked example: Move discussion of contracting process out of unsuccessful tenders"
The worked example was merged in #1007 based on [this outline](https://docs.google.com/document/d/1bIOMCC1sQjrz2UO5bkc2PcHtTaDA2C1W7jeXRRqGjfE/edit).

However, it spends the first half explaining what a contracting process is.

This content should be moved/removed, since #866 will define a contracting process.

[2021-01-06 03:43] jpmckinney opened #1160 "Update all status codelists"
The 'unsuccessful' code's description is:

This seems to imply that if the process is unsuccessful, then there would be an award object without suppliers and `status` set to 'unsuccessful'.

But, https://standard.open-contracting.org/latest/en/guidance/map/unsuccessful_tender/ doesn't mention awards. This seems correct for, e.g., a procedure where all tenderers were excluded because of exclusion g

[2021-01-06 03:58] jpmckinney commented on #895
I agree that the description of the awardStatus 'unsuccessful' code needs revision. I opened #1160.

https://standard.open-contracting.org/latest/en/guidance/map/unsuccessful_tender/ gets around to explaining how to model unsuccessful tenders. Basically: set `tender.status` to 'unsuccessful', then link to the unsuccessful OCID from a new OCID via `relatedProcesses`. I've opened #1159 to move/remov

[2021-01-06 04:17] jpmckinney commented on #896
Yes, the releases can be compared. However, this information isn't preserved in the compiled release; it's only available by inspecting each release or using the versioned release. Where relevant, we define separate fields rather than overwriting information. Since contract value modification is a common use case, we prefer separate fields.

I believe that approach is appropriate, yes.

If we incl

[2021-01-06 14:45] yolile commented on #893
what about the items? at least their description and classification/additional classifications etc and the in the "item reference" we can add the quantities, values. etc

[2021-01-06 15:16] jpmckinney commented on #893
Hmm, it would be a somewhat different model, but it could work. In what cases are an item's description/classification/etc. duplicated? (Besides between tender, award and contract.)

[2021-01-06 15:52] ColinMaudry commented on #827
I have added most of eForms code in [a new sheet](https://docs.google.com/spreadsheets/d/1Nh_HjyYuNk8wuu_Tb0kcPDyV6j8pAMgXqJ3MgwpXZjQ/edit#gid=640628659) from the [eProcurement code tables](https://op.europa.eu/en/web/eu-vocabularies/e-procurement/tables).

I have skipped the following codelists:

- Applicability codes (irrelevant)
- CPV and CPVS (too big)
- Change corrig justification (irrelevant

[2021-01-06 16:51] yolile commented on #893
I was thinking on #904 where we used items in auctions in the auction stage and also in [#126](https://github.com/open-contracting/ocds-extensions/issues/126) in the bid stage

[2021-01-06 20:22] #1129 closed, assigned to yolile

[2021-01-10 11:49] JachymHercher commented on #1143
I think each of those will need 9, but the data itself can never have 9 and usually will have just one.

Just realized - this was not correct. If we added a layer into `Value` with the different value fields while keeping `amount` and `currency`, then this would be a backwards compatible change. Assuming it is not too messy, this might be a good direction to go - that way, we have a single `Value`

[2021-01-10 11:56] JachymHercher commented on #896
In eForms, it's treated as a separate contract in the sense that the data about the modification is stored as new data (as if for a new contract), not changing previous data.

From a legal perspective, changes to contracts will probably be [sometimes treated as a "contract modification" and sometimes as a "new contract"](https://www.revenuehub.org/contract-modifications-part-separate-contracts/),

[2021-01-10 13:17] JachymHercher commented on #895
When would `award.status` (equal to 'unsuccessful' and perhaps also 'cancelled') be used? It might have impact on the awards definition. (Very much related to https://github.com/open-contracting/standard/issues/1160#issuecomment-757475552.)

[2021-01-10 13:22] JachymHercher commented on #1160
More generally: why isn't there just a single contractingProcess.status field, i.e. what are the use cases for having one in each block? Also, shouldn't there be a planning.status, since there could be an OCDS planning process that would not have `Tender` (cf https://github.com/open-contracting/standard/issues/866#issuecomment-751683275).

eForms have a [Not Awarded Reason (BT-144)](https://op.eur

[2021-01-10 14:39] JachymHercher commented on #1149
eForms rather avoids the use of "supplier" altogether - the definition in the act re-uses the Directives' term "successful tenderer".

(By the way: the previous procurement directive 2004/18/EC says the following: "The terms ‘contractor’, ‘supplier’ and ‘service provider’ mean any natural or legal person or public entity or group of such persons and/or bodies which offers on the market, respective

[2021-01-10 14:48] JachymHercher commented on #883
BT-706 and BT-746 are used for minimalistic reporting (just the nationality). Publishers that want to publish more can do so by publishing BG-703 and choosing the 'ben-own' code in https://op.europa.eu/en/web/eu-vocabularies/at-concept-scheme/-/resource/authority/organisation-role.

[2021-01-10 15:52] woodbine commented on #883
In our recent work on bringing invoice data into OCDS, there were a couple
of potential uses for naturalised persons that came up and so I also
support the proposal.

In line with the CoST data, there's a need for data on authorisation, but
also for the officer executing the payment.

This is particularly valuable for combatting invoice fraud and for
monitoring separation of duties within finance

[2021-01-11 12:50] ColinMaudry commented on #827
I have matched eForms codes with OCDS schema fields and OCDS codes.

[2021-01-11 13:02] ColinMaudry commented on #1160
@JachymHercher The idea behind `tender.status` is have a single field to refer to in order to know how the contracting process went/is going.

The problem is that it doesn't carry enough granularity and one must analyze the data further (awards? contracts? suppliers?) in order to infer accurate insights.

The proposal of Jachym is interesting:

1. renaming `tender.status` to something like `.statu

[2021-01-11 13:16] ColinMaudry commented on #1149
I like how we move towards using key concepts via nouns instead of verbs. This is helpful to improve consistency across definitions.

[2021-01-11 13:31] ColinMaudry commented on #764
@yolile Sorry about that. It's fixed: https://gitlab.com/dncp-opendata/ocds_statusdetails_extension/-/merge_requests/2/diffs?commit_id=60611322495e3241fed96eea1ff39f2e5f6cc4a4

[2021-01-11 13:40] yolile commented on #764
@ColinMaudry thank you! merged!

[2021-01-11 13:53] ColinMaudry commented on #901
Deprecating `eligibilityCriteria` in favor of `exclusionGrounds` sounds like a good idea.

Looking at the bigger picture, we must set a design pattern for cases where we have core unstructured data that may be structured with an extension. For instance, we work on a core `selectionCriteria` field #1120, while an extension enables the publication of structured data: https://github.com/open-contract

[2021-01-11 18:08] jpmckinney commented on #764
Re-opening the issue, as this would be resolved by merging the extension into OCDS.

[2021-01-11 18:12] jpmckinney commented on #901
The linked extension has a different pattern, which I think is preferred: https://extensions.open-contracting.org/en/extensions/selectionCriteria/master/schema/

[code]

We can do something similar for exclusion grounds.

[2021-01-11 19:36] JachymHercher commented on #1156
I think both roles and subroles are useful - the former because they appear in legal discussions, the latter because they sometimes meet concrete communication (or analytical) needs.

Concerning 'procuringEntity', a good starting point is to review the definitions (OCDS and Art. 2 of Directive 2014/24/EU):
- 'procuringEntity': "The entity managing the contracting process."
- (17) ‘procurement serv

[2021-01-11 20:15] #1110 closed, assigned to nobody

[2021-01-12 09:04] ColinMaudry commented on #764
OK, I'll work on a PR on dev-1.2.

[2021-01-12 09:22] ColinMaudry commented on #571
Not sure it's ideal, but here are the terms mapped to `tender.procuringEntity` and `partyRole/procuringEntity` in the glossary crosswalk ([direct link to the row](https://docs.google.com/spreadsheets/d/1Nh_HjyYuNk8wuu_Tb0kcPDyV6j8pAMgXqJ3MgwpXZjQ/edit#gid=270908364&range=97:97))

MAPS definition (3) | UNCITRAL definition (17) | eForms term (46) | eForms definition (46) | eForms codelist (6) | eFor

[2021-01-12 10:11] ColinMaudry commented on #571
All the definitions in other glossaries tend to boil down to:

A public entity that engages in procurement.

[2021-01-12 10:22] ColinMaudry opened #1164 "ContactPoint: add an .address field"
As discussed in https://github.com/open-contracting-extensions/european-union/issues/75#issuecomment-728140642, it would be convenient to add an `address` field to the ContactPoint object.

cc @benccs

[2021-01-12 14:43] ColinMaudry commented on #707
I'll modify the description of the Document object using points 1,2 and 4 suggested by Jachym, using descriptive language a suggested by James.

I'll modify the reference text using points 3, 5 and 6. I lean toward using non-normative verbs given...

OK?

[2021-01-12 15:19] jpmckinney commented on #1156
I forgot #571 was already open. I'll copy these comments there.

[2021-01-12 15:19] jpmckinney commented on #571
I forgot this issue was open when I opened #1156. That issue's description was:

@JachymHercher wrote in #825

Re: "fully accurate", this was described as:

I guess as a starting point: Is "procuring entity" a useful concept on its own? If so, then this issue is about adding subroles (see below quote). If not, then this issue is about replacing it with new options. Viz. subroles:

[2021-01-12 15:20] jpmckinney commented on #571
@JachymHercher then replied:

I think both roles and subroles are useful - the former because they appear in legal discussions, the latter because they sometimes meet concrete communication (or analytical) needs.

Concerning 'procuringEntity', a good starting point is to review the definitions (OCDS and Art. 2 of Directive 2014/24/EU):
- 'procuringEntity': "The entity managing the contracting proc

[2021-01-12 15:20] #1156 closed, assigned to nobody

[2021-01-12 15:59] yolile opened #1166 "Contract.items: update description to avoid repeating identical tender items"
From CRM-6426 and a JSON example from Nuevo Leon @alexramosnj http://si.nl.gob.mx/acceso/DatosAbiertos/DocumentosPublicos/000007/SINL-CPE-007-2019//ocds-7wj9x5-SINL-CPE-007-2019-RCPv001-contract.json

There are some cases where a contracting process only has one award and one contract with the same items as the tender. For those cases, we should update the current contract.items description:

to i

[2021-01-12 16:34] yolile commented on #893
an example from Paraguay where there is partial duplication between tender.items and award.items: https://contrataciones.gov.py/datos/api/v3/doc/ocds/record/ocds-03ad3f-331547-2

[2021-01-12 16:43] jpmckinney commented on #1143
@JachymHercher Can you provide some JSON samples of your proposal(s)? I'm not sure I get it.

[2021-01-12 18:13] jpmckinney commented on #707
@ColinMaudry I think @JachymHercher will prepare the PR; it'll be simpler since he was the last to make suggestions.

[2021-01-12 20:46] jpmckinney commented on #1139
Closed by #1150

[2021-01-12 20:46] #1139 closed, assigned to nativaldezt

[2021-01-12 21:02] jpmckinney commented on #1160
There are multiple status fields, because each object can have a different status. For example, in the same contracting process, one contract might be terminated while another remains active. One award of a lot might be unsuccessful, while another award of another lot is active.

`tender.status` is just about the pre-award stage(s) - it is not about the procedure as a whole. For example, `tender.s

[2021-01-12 21:04] jpmckinney commented on #1160
In any case, I agree that non-success ought to be better explained, which is the subject of this issue, viz:

[2021-01-12 21:14] jpmckinney commented on #1149
We're avoiding terms like "winner" and "successful tenderer" to be able to use Award objects to represent unsuccessful awards (e.g. due to a complaint), correct?

In the end, I prefer the original suggestion (with "intends"). (3) just raises more questions. (What does it mean for an award to take place? Mustn't the supplier be "known" in order for the buyer to intend to conclude a contract with it

[2021-01-13 15:06] ColinMaudry commented on #1149
A supplier is a "tenderer" whose proposal has been accepted by the buyer. I'd consequently go for 3) as long as we refine the definition of "award".

My understanding is that an OCDS Award object is created when the buyer has finished studying some sort of proposal (bid, contest application, selection phase, etc.) and publishes the result.

Award: here is what the buyer has decided based on what t

[2021-01-13 15:19] ColinMaudry commented on #1149
The difficulty with "after an award has taken place" is that we use the word award in its narrow definition (awarding a contract). But the way the Award object is used in OCDS is broader.

We consequently need to:

1. refine the definition of Award (or at least review it with its relationship with supplier in mind)
2. either
  - paraphrase the definition of Award in the definition of Supplier (e.g

[2021-01-13 15:20] ColinMaudry commented on #1149
Or we rename Award and Supplier to reflect their broad semantics, e.g. Decision and Contractor.

[2021-01-13 16:34] #868 closed, assigned to nobody

[2021-01-13 16:41] #917 closed, assigned to nobody

[2021-01-13 16:43] jpmckinney commented on #826
Combined with #827

[2021-01-13 16:43] #826 closed, assigned to ColinMaudry

[2021-01-13 17:33] jpmckinney commented on #1149
For the definition of award, see #895. For context, the proposed definition is:

[2021-01-13 17:37] jpmckinney commented on #1149
👍

If we replace "after an award has taken place" with "after the decision has taken place" then this clause is just repeating the first clause, unless we draw a fine line between an intention and a decision:

So, my preference is for (1).

**Update:** Actually we can change (1) a bit to use "decided" instead of "intends", to match the use of "decision" in the award definition:

[2021-01-13 17:39] jpmckinney commented on #895
As discussed in #1149, we would change "wishes" to "intends".

[2021-01-13 17:52] ColinMaudry commented on #1149
We can do that, but the relationship between the Award and Supplier is not explicit, as the verb "decide" is not necessarily bound to Award. I see the way a tenderer becomes a supplier in an OCDS process is documented in the guidance for [Award](https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts_buyers_suppliers/?highlight=supplier%20award#award) and [Supplier](https://s

[2021-01-13 18:36] jpmckinney commented on #1149
Can you quote the sentences from the linked page that you think should inform the definition of supplier?

[2021-01-13 22:46] jpmckinney commented on #792
Noting that https://github.com/open-contracting-extensions/ocds_ppp_extension/pull/11 removed some tags relating to pre-qualification from the releaseTag codelist in the OCDS for PPPs profile. We can consider re-adding them in OCDS itself.

[2021-01-14 13:31] ColinMaudry commented on #828
My attempt to improve the OCDS definitions using the GPA definitions.

### Electronic auction

GPA:

OCDS (`submissionMethod.electronicAuction`)

Proposal:

### Qualified supplier

GPA:

OCDS [Qualification extension](https://extensions.open-contracting.org/en/extensions/qualification/master/codelists/#+partyRole.csv) (`partyRole.qualifiedBidder`):

FYI the definition of `qualifiedBidders` from th

[2021-01-14 13:44] ColinMaudry commented on #828
@jpmckinney The `qualifiedBidder` party role doesn't seem to exist anymore. Do you know why?

The difficulty to make a good definition for `qualifiedBidder` comes from the lack of internal references we can make in OCDS to the qualification stage and evaluation process. The standard doesn't really cover these concepts.

[2021-01-14 15:18] ColinMaudry commented on #849
Since we lean toward implementing option 1, here is what we should update:

- adding a `schema` field to the release schema, or recommending the use of a `links` entry, however it's not necessarily fit for version identification but rather for validation (https://github.com/open-contracting/standard/issues/426#issuecomment-325068241) => #426. Do we also need a `ocdsVersion` field to the release ro

[2021-01-14 15:50] jpmckinney commented on #849
For this issue, let's focus on specifying the rules. Let's leave checking for conformance with the aid of a `$schema` field to #426.

Release `id` is currently:

We can change it to something like:

For the merging routine, I think we can go even simpler, and simply specify that, "All releases must be upgraded to the same version of OCDS." (Merging releases from different versions has undefined be

[2021-01-14 15:56] jpmckinney commented on #828
Can you update your comment to specify the precise OCDS fields/codes whose descriptions are being modified? Otherwise, I can't follow.

`qualifiedBidder` only exists on the Qualification extension, which is not recommended for use and will be removed: https://extensions.open-contracting.org/en/extensions/qualification/master/codelists/#+partyRole.csv

FYI, I created this tool for schema editors to

[2021-01-14 21:17] duncandewhurst opened #1168 "Organization classifications worked example: correct JSON example and link to extension"
[Example 2.2 disclosing data using a local scheme](https://standard.open-contracting.org/latest/en/guidance/map/organization_classifications/#example-2-2-disclosing-data-using-a-local-scheme) uses `parties/details/classifications/name` when it should use `parties/details/classifications/description`.

The link to the organization classification extension in the introductory paragraph links to the

[2021-01-14 22:22] LindseyAM opened #1169 "Options for publishers interested in modelling machine-readable documents"
A partner today mentioned that while the OCDS calls for the publication documents (https://standard.open-contracting.org/latest/en/schema/reference/?highlight=documents#document), it doesn't specify that documents should be published in a machine readable format and requested that this clarification be added.

[2021-01-14 22:23] LindseyAM opened #1170 "Incorporating standardized documents into OCDS"
Several partners are beginning to explore standardizing their procurement documents (eg their standard terms and clauses). At least one has expressed an interest in indexing these standard terms and referencing them as part of OCDS data. Starting this issue to discuss what this could look like in case others are exploring similar ideas.

[2021-01-14 22:24] LindseyAM opened #1171 "Standard terms"
Several partners are beginning to explore standardizing their procurement documents (eg their standard terms and clauses). At least one has expressed an interest in indexing these standard terms and referencing them as part of OCDS data. Starting this issue to discuss what this could look like in case others are exploring similar ideas.

[2021-01-14 22:28] jpmckinney commented on #1169
We allow PDF documents, e.g. for the actual contractual documents. Such documents aren't machine-readable.

Which documents, more specifically, would make sense in machine-readable formats?

[2021-01-14 22:31] jpmckinney commented on #1170
https://www.resourcecontracts.org (for extractives contracts) takes the approach of uploading an original document and then referencing terms/clauses, using a standard vocabulary for different clauses (royalty clause, etc.).

In OCDS, we offer a wide variety of fields (especially in extensions) to cover a range of terms. In order to incorporate fields for additional terms/clauses, we would need sp

[2021-01-14 22:33] jpmckinney commented on #1171
Duplicate #1170

[2021-01-14 22:33] #1171 closed, assigned to nobody

[2021-01-15 10:12] ColinMaudry commented on #1169
Machine-readable usually actually means machine-understandable, meaning data in an open serialization: XML, JSON, CSV... ideally in a documented format. A machine can process it and automatically take action based on its content.

HTML, PDF and other text documents are digital documents, they can be opened with software by a "machine", but only a human can understand its content.

[2021-01-15 10:34] ColinMaudry commented on #828
I've updated my comment.

Thanks, great tool, that will definitely help!

[2021-01-15 15:38] jpmckinney commented on #828
`submissionMethod.electronicAuction` is also going away https://github.com/open-contracting/standard/issues/322#issuecomment-475380695

[2021-01-15 18:48] LindseyAM opened #1172 "Modeling more aspects of 'cost' than price in OCDS"
We recently received the following thoughts from a partner in the US:

"the mistake we've made in the US is we measure what is easy to measure: numbers of transactions, contractor demographics (size, location, social/economic status), correlation between budget and spend, volume of competition, etc. Sadly, none of that matters (except for, say, corruption control, which is not the ultimate "purpos

[2021-01-15 20:44] jpmckinney commented on #1172
The partner covers a lot of issues not related to cost/price, but related to outputs/outcomes (customer satisfaction, climate externalities, "requirements-to-outcome", whether the goods/services were used).

It's important to keep in mind that OCDS is a data format for disclosing information. It is not an IT system for collecting or managing information. As the partner notes, this data is not capt

[2021-01-17 14:30] JachymHercher commented on #1143
Sorry, I think I misunderstood the discussion above (I was crossing values and amounts, ignoring that amounts are nested _within_ the values).

To make sure that I understand it correctly now: we will add `MaximumValue` and `EstimatedValue` at the same level as the existing `Value` (and `MinimumValue`); while we will add `amountGross` and `amountNet` inside each of the value object. I.e. the schem

[2021-01-17 15:14] JachymHercher opened #1173 "partyRole codelist and elsewhere: entity vs. party (vs. organization)"
The [`Organisation.roles` description](https://standard.open-contracting.org/latest/en/schema/release/#release-schema) is

The corresponding [`partyRole` codelist](https://standard.open-contracting.org/latest/en/schema/codelists/#party-role) description is

from which I assume (as well as from some older discussions) that in OCDS, "party" is preferable to "entity" or "organisation".

However,
1) H

[2021-01-17 17:43] jpmckinney commented on #1143
Yes, though I don't remember where we discussed a minimum value.

[2021-01-17 17:47] jpmckinney commented on #1173
We don't have a clear description of what a "party" is though. In that remains the case, we might prefer to go in the other direction (have fewer occurrences of the term "party").

[2021-01-17 18:13] JachymHercher commented on #1143
We didn't, I just now noticed it's already in OCDS and I've been ignoring it up till now, so I thought I'd haphazardly mention it above.

[2021-01-17 18:18] JachymHercher commented on #1173
Sure. The ultimate goal is that we should use one term consistently and the term should be defined. Personally, I find both organisation and entity to be clearer than party; eForms uses organisation (which also exists, from what I gather from the ePO, more broadly in the standardisation world). The limitation is that "role" is used in a field and codelist in OCDS, which means we can't change it in

[2021-01-18 14:40] ColinMaudry commented on #571
I have illustrated your comment:
![Blank diagram_wide](https://user-images.githubusercontent.com/3747136/104929737-912baf80-59a4-11eb-8f48-a309c0e839f6.png)

[2021-01-18 15:04] ColinMaudry commented on #571
We could check the data, but I feel that `procuringEntity` has been used to complete `buyer` when the data publishers needed to name the organisation that manages the contracting process on behalf of the buyer. I'd consequently go for Option 1.

Having all 15(a), (b) and (c) under the same term makes it very broad (having law firms, consultancies and data publishers, private and public bodies), no

[2021-01-18 16:23] ColinMaudry commented on #828
My bad, I first thought I had to study the terms that had an "Open" status.
* procurementCategory 'goods' and 'services':
  * The GPA combines goods and services in the same term.
  * It refers to things that are typically only sold or purchased "by non‑governmental buyers for non-governmental purposes". I find it surprising in a text that intends to rule **public** procurement.
  * In the OCDS de

[2021-01-18 17:20] jpmckinney commented on #1173
Let's go with "organization."

"Entity" is used in other standards to cover cases like groups, unincorporated entities, organizational units, etc. but:

1. Public contracting typically involves "true" organizations.
1. In cases where "nearly" organizations are involved, laws often carve out exceptions such that, e.g., sole proprietors are treated like organizations, with respect to VAT, etc.
1. In

[2021-01-18 17:34] jpmckinney commented on #571
I'd also go for Option 1, though we can fine-tune the definition.

I agree that 15(a) shouldn't be under `procuringEntity` but can have its own role. There are distributed eGP systems like ProZorro, where private companies offer marketplaces that fulfill 15(a). In terms of a data user's expectations, I think they would expect ProZorro to be the procuring entity (as a CPB).

I also agree that 15(b)

[2021-01-19 12:33] ColinMaudry commented on #849
I would specify "major version". Publishing different datasets for different minor versions of the same major version (e.g 1.1 and 1.2 data) is not recommended, even in distinct datasets. Could we add a paragraph about that in the [Build](https://standard.open-contracting.org/latest/en/guidance/build/) or [Publish](https://standard.open-contracting.org/latest/en/guidance/publish/) guidance?

Can a

[2021-01-19 16:38] ColinMaudry commented on #1071
@jpmckinney What's missing to close this?

[2021-01-19 19:19] JachymHercher commented on #1173
The field is called `roles`, so you're right, no problem there (we just need to change the title and the description), but the codelist is called `partyRole` which I assume we would like to change to `organisationRole`, but can only do in 2.0?

[2021-01-19 20:58] JachymHercher commented on #571
Option 1 seems popular, so below are some concrete drafts (also reflecting the rest of this issue). The process of drafting revealed some new complexity though, mainly reflected in the second sentences of the definitions. (By splitting (15) into its three components, we are going one step closer towards the granularity of eForms' organisation subrole. But I think there's still space for both.)

-

[2021-01-20 12:39] ColinMaudry commented on #1173
Switching from party to organization makes sense, but it seems like a big change for a minor version.

[2021-01-20 15:50] ColinMaudry commented on #322
Do we also deprecate the `tender.submissionMethod` field?

We could also remodel it following the approach taken by eForms with their Submission Terms business group (BG-102), partially implemented in the [Submission terms extension](https://github.com/open-contracting-extensions/ocds_submissionTerms_extension).

[2021-01-20 17:30] jpmckinney commented on #322
Good question. We don't have any proposals for alternative codes. I think it is okay to deprecate this field. We can consider merging the submission terms extension into core. That extension supports the only clear use case from the above discussion, which is distinguishing opportunities for which electronic submission is required/allowed/not allowed.

[2021-01-20 17:34] jpmckinney commented on #1173
OCDS's versioning policy is with respect to the data it describes, not to the mechanics of the schema. So, codelists can be renamed, like in #1034

I don't think it is such a big change, considering we never defined "party." In any case, it is permitted in a minor version. We will just need to prioritize this for broader consultation.

[2021-01-20 17:35] jpmckinney commented on #1071
Nothing - GitHub only closes issues automatically once the relevant PR is merged to the main branch, which is presently 1.1-dev. The PR was merged to 1.2-dev (which is correct), but it didn't auto-close this issue.

[2021-01-20 17:35] #1071 closed, assigned to ColinMaudry

[2021-01-20 17:42] jpmckinney commented on #849
To clarify, merging releases from different **major or minor** versions has undefined behavior (i.e. not advised). For example, in OCDS 1.0, organizations were in-lined. There was no `parties` array, and there were no organization references. Organizations had full details under `buyer`, `awards/suppliers`, etc. Merging 1.0 and 1.1 data would yield strange results. For example, if a buyer's addres

[2021-01-20 17:48] jpmckinney commented on #571
I think the new codes might require longer discussion. Can we split that out into a new issue? I think we can resolve the procuringEntity description without necessarily adding the new codes at the same time.

[2021-01-20 17:56] ColinMaudry commented on #395
The definition of 'terminated' currently encompasses both normal and early termination of the contract. We consequently cannot add a code that bears either of these meanings without editing the definition of 'terminated', otherwise we would have two codes that overlap.

@jpmckinney If 'terminated' isn't used as @ekoner observed (in 2017 😋), or is used only for early termination, could we split it

[2021-01-20 18:21] ColinMaudry commented on #395
I haven't seen anything helpful in eForms regarding contract cancellation or conclusion.

Once the contract is signed, eForms only describes the review of potential requests or the fact that a cancelled/unsuccessful procedure will be relaunched.

The [2014 EU directive](https://eur-lex.europa.eu/legal-content/EN/TXT/?qid=1585836130257&uri=CELEX:32014L0024) mentions the lifecycle of the contract:

[2021-01-20 20:06] jpmckinney commented on #895
I think we can continue that discussion in #1160.

[2021-01-20 21:41] jpmckinney commented on #395
We can add narrower codes without changing broader codes. It's common in ontologies for there to be terms at greater and lesser specificity, e.g. animalia, carnivora, canis lupis familiaris.

[2021-01-20 22:53] duncandewhurst opened #1177 "Example: Combine text fields and publish semi-structured data"
Sometimes multiple text fields in a publisher's data source map to a single text field in OCDS.

There are several options for handling this, depending on the nature of the data and whether there is a reason users would need to separate the values or identify which field they were mapped from:

1. Simply concatenate the values
2. Concatenate the values with a separator which does not otherwise app

[2021-01-20 23:49] jpmckinney commented on #1177
We might want a section to explain when this might be the case. For example, it could be the case that there is only one candidate field that currently exists in OCDS or extensions, but the appropriate solution might be to (1) create an extension field or (2) omit a source field.

Cases for creating an extension field:

* The source fields have distinct semantics, and there are use cases for prese

[2021-01-22 16:20] yolile opened #1179 "Merge stable extensions into the standard"
## Discussion

From https://github.com/open-contracting/standard/issues/891#issuecomment-693634519:

We should analyze and consider which current and widely used extensions should be added to the standard itself.

One of these extensions could be [Bid statistics and details extension](https://extensions.open-contracting.org/en/extensions/bids/master/). This information is important  because as the

[2021-01-23 13:38] JachymHercher opened #1180 "partyRole codelist: add wholesaleBuyer"
When discussing `procuringEntity` in https://github.com/open-contracting/standard/issues/571, I noted that several roles in contracting processes that can be marked in the EU's eForms and that seem useful, but that cannot currently be expressed in OCDS.

### Introductory analysis
(from https://github.com/open-contracting/standard/issues/571#issuecomment-758726651 and https://github.com/open-contra

[2021-01-23 13:44] JachymHercher commented on #571
Makes sense, I've opened https://github.com/open-contracting/standard/issues/1180 to discuss new supporting and centralized purchasing roles for `partyRole`.

I didn't open a new ticket for an equivalent to eForms' organisation subrole, mentioned in https://github.com/open-contracting/standard/issues/571#issuecomment-758726382, as perhaps we can deal with it only once concrete demand comes (e.g. w

[2021-01-23 14:42] JachymHercher commented on #395
In fact, I don't. Maybe there are no happy contracts in the EU? :-) Or, more seriously, it's because implementation is largely out of scope of the EU directives, so indeed things generally end with "contract conclusion"AKA signing.

Off the top of my head, I'd use 'fulfilled' or 'completed' (suggested above and used in `tender.status`) for a happy contract. ('Ended' is too ambiguous.)

[2021-01-23 15:30] JachymHercher commented on #1160
Thank you for the clarifications, @jpmckinney and @ColinMaudry, I understand better now, esp. that `tender.status`, `award.status`, and `contract.status` provide information about different phases of the process as well as difference instances of awards and contracts within the process.

Beyond scope for improvement in the documentation and description, I think there might be others problems with

[2021-01-24 15:42] JachymHercher opened #1181 "Definitions in the guidance repeated, not referenced"
In https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts_buyers_suppliers/ (and possibly elsewhere), definitions of fields (award, contract, buyer, etc.) are included in a way that doesn't update automatically when the definition changes in the schema. This breaks the "single source of truth" approach, introducing risk of divergence between the schema and the guidance.

Is

[2021-01-24 18:14] ColinMaudry commented on #395
I'd love to coin "happy" as a standard contract.status code, but I'm not sure @jpmckinney would agree 😋

[2021-01-25 13:26] ColinMaudry commented on #571
This definition seems to take into account the requirements we have expressed in this issue. @jpmckinney does it fit the bill?

[2021-01-25 13:33] ColinMaudry commented on #571
If I have one concern, it's with "be marked with the buyer role". I'm not sure this wording matches OCDS phraseology. What about

~~only~~: the organization may still have other roles beside "buyer".
**have**: I think it's more inline with OCDS phraseology, highlighting the fact an organization may have several roles

[2021-01-25 13:46] ColinMaudry commented on #1164
https://github.com/open-contracting-extensions/european-union/issues/75#issuecomment-761850540

Since we don't use ContactPoint for `informationService`, I guess we don't need to add `address`. OK to close @jpmckinney ?

[2021-01-25 13:53] ColinMaudry opened #1183 "Merge the submissionTerms extension"
https://github.com/open-contracting/standard/issues/322#issuecomment-763810724

[submissionTerms extension](https://github.com/open-contracting-extensions/ocds_submissionTerms_extension)

[2021-01-25 13:58] ColinMaudry commented on #322
I need to know the outcome of #1183 to write a fitting `Deprecated.description` for `tender.submissionMethod`.

[2021-01-25 14:08] ColinMaudry commented on #395
Right, but in ontologies the parent-child relationship is formally expressed. OCDS uses flat codelists, the relationship would need to be expressed in a "loose" fashion, i.e. in the definition of the codes. I don't remember such underlying parent-child relationship in OCDS codelists.

We can do it, but I fear it may be poorly understood and may make data analysis more difficult (misuse in data + p

[2021-01-25 14:31] ColinMaudry commented on #792
Since the `tag` field is key, I'm not keen on modifying it in a minor version. It's hard to anticipate the impact of turning it into an open codelist.

+1 to create a new field, although `statusDetails` is a free text field that is meant to clarify a `status` field.

I'd suggest the `additionalTag` array, as an open codelist that could be extended in extensions.

[2021-01-25 14:40] ColinMaudry commented on #870
Why not the other way around, and deprecating 'contractSchedule'? That may be because I'm French, but the word 'annex' sounds more universal to me than 'schedule' (as defined on [the page](https://weagree.com/drafting-principles/4-structuring-the-transaction-documents/4-2-schedules-annexes-and-exhibits/) referenced in [this comment](https://github.com/open-contracting/standard/issues/386#issuecomm

[2021-01-25 14:59] ColinMaudry commented on #918
The creation of certain release is triggered by formal events, while for others it's strictly about publishing data that is triggered by the mere opportunity or need to publish data. Use cases that I can think of:

- informal correction of values (e.g. for a typo)
- adding details about a party
- rephrasing informal content

That's difficult to know. I **haven't** seen enough data to build an opin

[2021-01-25 15:08] ColinMaudry commented on #1101
I agree with your conclusion @jpmckinney: we try not to add fields for information that can be derived from the context and other fields. Not only is it redundant, but it can lead to inconsistencies (late milestones that are not flagged as such).

For those who are willing to properly update this field and want to ease the retrieval of this information, I think that implementing a boolean field vi

[2021-01-26 00:16] jpmckinney commented on #1101
Yes, we can close this issue. If there is new interest, we can of course continue the discussion.

[2021-01-26 00:16] #1101 closed, assigned to nobody

[2021-01-26 00:23] jpmckinney commented on #918
Thanks! We have good answers from @duncandewhurst and @ColinMaudry to 1 and 3 from the issue description. Of course, the utility of the codes still depends on 2, but, for 2 to be a reason for deprecation on its own, we'd need evidence that data quality is very poor and not improving. As such, I retract my proposal. As follow-up, OCP can perhaps analyze the use of codes in order to assess the data

[2021-01-26 00:23] #918 closed, assigned to nobody

[2021-01-26 00:30] jpmckinney commented on #870
Good suggestion. We can also go the other way around.

I originally proposed to keep contractSchedule, because it was the term whose description had expanded more in scope over time, but we can similarly update the description of contractAnnexe.

A small disadvantage of contractAnnexe is that it uses British spelling (annexe) whereas we use American spelling (annex) for other terms like organizati

[2021-01-26 00:34] jpmckinney commented on #792
I think an `additionalTags` array is a good compromise.

Right now, we don't have clear and consistent demand for specific new codes. Even if we spent the time to define new codes, we wouldn't support every code that publishers would want to use, so there would still be a use case for `additionalTags`.

[2021-01-26 00:37] jpmckinney commented on #395
I agree that, absent better support for expressing hierarchy between terms, it is not a good idea to have such relationships.

However, in this specific case, we have a code that is in use that is underspecified. For this scenario, I think it is an acceptable compromise to introduce more specific codes without deprecating the broader code. Of course, we might discover during consultation with stak

[2021-01-26 00:39] jpmckinney commented on #322
Can we write a description based on this issue, and then add a comment to #1183 to update the description if that issue is resolved?

[2021-01-26 00:39] jpmckinney commented on #1164
Indeed. Solved!

[2021-01-26 00:39] #1164 closed, assigned to ColinMaudry

[2021-01-26 00:42] jpmckinney commented on #1181
I believe we can author a Sphinx directive to do this, and it should be straightforward. Tasks:

* [x] Identify locations of definitions (we can perhaps start with some automated approach)
* [x] Author Sphinx directive
* [x] Apply Sphinx directive

This can be done against 1.1-dev, and then merged into 1.2-dev, instead of waiting for a final 1.2.

[2021-01-26 00:46] jpmckinney commented on #1179
Also related: #1183

[2021-01-26 00:53] jpmckinney commented on #571
Yes, good refinement. We should also use American English spelling. Changing the phrasing a bit (similar to phrasing in the OCDS for EU profile):

Earlier, I had written, to which there has been no disagreement (yet):

From my perspective, the use of "should" means exceptions can be made. Just logging this here in case a future reader wonders whether there is an inconsistency in the discussion.

[2021-01-26 15:35] ColinMaudry commented on #322
I take a shot at a concise deprecation description:

All the other descriptions of deprecation contain guidance with alternative ways to publish the corresponding data. If we don't add the submissionTerms extension to core, there will be no guidance to write.

[2021-01-26 15:36] ColinMaudry commented on #322
Does deprecating `submissionMethod` means deprecating `submissionMethodDetails`?

[2021-01-26 15:38] ColinMaudry commented on #1183
If the submissionTerms extension ends up being added in core:

- [ ]  the deprecation description for `submissionMethod` (https://github.com/open-contracting/standard/issues/322#issuecomment-767625406) must be edited to include guidance explaining how the information entered in `submissionMethod` can be expressed in submissionTerms object

[2021-01-26 15:45] ColinMaudry commented on #1183
The description could look like this (inspired by the description of `Budget.source`:

[2021-01-26 15:56] ColinMaudry commented on #1183
It would be sensible to move `submissionMethodDetails` to submissionTerms if it ends up being added to core (cf https://github.com/open-contracting/standard/issues/322#issuecomment-767626046).

I mean depracating `submissionMethodDetails` and adding it to SubmissionTerms. However that might not be feasible in a minor version. It may be simpler to wait for 2.0.

[2021-01-26 16:51] ColinMaudry commented on #395
Alright, I just wanted to make sure we are aware of the risks.

Based on this discussion, in the spirit of https://github.com/open-contracting/standard/issues/395#issuecomment-476932107, I propose the following, which strictly builds on top of the current description of 'terminated' so that the semantics are as obvious as possible:

- 'terminated' remains as-is

- 'terminatedEarly'

- 'terminatedS

[2021-01-26 17:12] ColinMaudry commented on #571
I think the proposed definition (https://github.com/open-contracting/standard/issues/571#issuecomment-767208811) works well for the code in the partyRole codelist, but not for the description of the `procuringEntity` field.

I suggest we use something like this:

[2021-01-26 17:24] jpmckinney commented on #571
Good catch, I got confused about which code/field we were working on.

Suggested change in **bold**:

* Removed "only" since there might be other fields like `informationService` that also refer to the organization.
* Changed "be referenced" to "be disclosed", since the use of organization references is a structural detail, not a semantic detail. Also, this way, the description will work for both

[2021-01-26 17:29] ColinMaudry commented on #1179
Also related: #891

[2021-01-26 17:30] ColinMaudry commented on #792
Do we need at least one code to create the field and the open codelist? The examples you give (https://github.com/open-contracting/standard/issues/792#issue-391295363) would rather be implemented in the related extensions than in core (see #1179 about moving extensions to core).

[2021-01-26 17:34] ColinMaudry commented on #870
How do we check that? I don't think I have access to your OCDS data vault. Otherwise I'd gladly check myself.

[2021-01-26 17:35] ColinMaudry commented on #571
Great. I'll update the PR (#1163).

[2021-01-26 17:59] jpmckinney commented on #870
I was thinking the popularity of each term in public usage (legal references, procurement discussions, whatever).

In terms of each code's use, according to [this spreadsheet](https://docs.google.com/spreadsheets/d/1FTIwVceAb9-bfwHBjH07_MPS0JUVU3vfvRH6WVMQCbU/edit#gid=812686904) (you might not have access, but at least I'll be able to find it again), contractAnnexe has 222,437 occurrences and cont

[2021-01-26 18:01] jpmckinney commented on #792
Any extensions that change the `releaseTag` closed codelist are non-compliant. So, we can consider those codes for the new codelist that goes with the `additionalTags` field.

[2021-01-26 18:04] ColinMaudry commented on #1160
My understanding is that, in OCDS jargon

- 'cancelled' means that the contract could have been awarded, but some incident made the buyer decide to actively cancel it
- 'unsuccessful' means that none or not enough bids matched the award criteria, or none of the bidding suppliers were eligible (see also b. below)

That means that the tendered items (it can be a lot) has not been awarded, e.g. if no

[2021-01-26 18:21] ColinMaudry commented on #870
The article linked in https://github.com/open-contracting/standard/issues/870#issuecomment-766861696 says:

I made a few Google searches:

- ["procurement "schedule to the contract""](https://www.google.com/search?hl=en&q=procurement+%22schedule+to+the+contract%22) returns mainly Irish, British, Indian, Canadian and Australian results (1,970,000 results)
- [ "procurement "annex to the contract""](

[2021-01-26 18:28] ColinMaudry commented on #792
Do you mean creating a codelist in the standard with codes related to bids, enquiries, etc.? Since these codes are related to concepts that are currently modeled in extensions, I thought these codes should be defined in the corresponding extensions.

[2021-01-26 18:58] jpmckinney commented on #792
Aha, I understand. If we have no proposed codes that aren't related to extensions, I suppose the codelist will be empty.

[2021-01-26 19:02] jpmckinney commented on #870
We should avoid a Commonwealth of Nations bias where possible, so let's go with annex, with the Annexe spelling for backwards compatibility.

[2021-01-26 21:41] JachymHercher commented on #1160
I'd put 4. only in `contract.status` - it is a post-award failure.

We can decide that 1 & 2 & 3 belong in `tender.status` or `award.status`, but they shouldn't be in both. So if we say they belong in `award.status` then my question is what belongs into `tender.status`.

[2021-01-27 13:41] ColinMaudry commented on #870
That would mean we keep and slightly adapt the description of contractSchedule, because it's the one that been improved over time, and use it for contractAnnexe.

I propose the following:

- deprecate contractSchedule, with its current description, indicating data publishers should rather use contractAnnexe
- copy and adapt  the description of contractSchedule for contractAnnexe:

(I've just switc

[2021-01-27 14:22] ColinMaudry commented on #792
Empty `enum` array in the schema, only headers in additionalTags.csv.... the tests are not going to like it!

[2021-01-27 14:29] ColinMaudry opened #1184 "Add additionalTags to the release schema"
As discussed in #792, we need to add a new field `additionalTags` to support additional tags to track more specific events that motivate the publication of a release.

This field will be bound to an open codelist additionalTags that is empty in core, but expanded in extensions (bids, enquiries, etc.).

[2021-01-27 14:30] ColinMaudry commented on #792
Let's track the implementation in a new issue: https://github.com/open-contracting/standard/issues/1184

[2021-01-27 14:30] #792 closed, assigned to nobody

[2021-01-27 14:43] ColinMaudry commented on #1184
I suggest the following description, inspired by the description of `tag`:

[2021-01-27 14:57] ColinMaudry commented on #1149
From the [Award guidance](https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts_buyers_suppliers/#award):

From the [contract guidance](https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts_buyers_suppliers/#contract):

[2021-01-27 16:33] jpmckinney commented on #1184
We might want to describe the use case more clearly, maybe:

And to clarify the rules around `tag` vs `additionalTags`:

**Update:** Hmm, if we ever promote codes from the additionalTags codelist to the releaseTag codelist, then that change would be backwards-incompatible if we have the above rule. Do we need a sentence about the `tag` field?

In the schema, the field will need to be `"omitWhenMer

[2021-01-27 16:35] jpmckinney commented on #983
Noting that #792 is now #1184 (which pursues one of the two options considered in #792).

[2021-01-27 16:39] jpmckinney commented on #870
That sounds fine to me!

[2021-01-27 16:41] jpmckinney commented on #1149
@JachymHercher I remember you were going to review that particular guidance in light of this issue and other semantic issues. Does the guidance align with the proposals, or do we need to edit the guidance?

[2021-01-27 17:39] jpmckinney commented on #395
'terminatedSuccessful' -> 'terminatedSuccessfully'

Change the second 'was' to 'is', since we typically express semantics in the present tense.

Otherwise, those look good to me.

We might do a comprehensive copy-edit as part of #827, so we can leave further refinement to later, and just do a straightforward split of the 'terminated' description as proposed.

[2021-01-27 22:35] jpmckinney commented on #322
I'll reply in #1183 since `submissionMethodDetails` is fine on its own, but if the submissionTerms extension is merged, it'd make sense to move the field.

[2021-01-27 22:44] jpmckinney commented on #1183
`submissionMethodDetails` is a top 100 field according to [this sheet](https://docs.google.com/spreadsheets/d/1HJbqmgoM1wOFyQfmv7WZXjvyyO6hzKpquiMwtMFo8AE/edit#gid=1299987550).

The [submissionTerms](https://extensions.open-contracting.org/en/extensions/submissionTerms/master/schema/) extension doesn't have a `description` field like other extensions, like [bidOpening](https://extensions.open-cont

[2021-01-27 22:52] jpmckinney commented on #322
We can leave it short, and defer to a "Deprecation note" column of the individual codes for specific guidance (codelists currently only have a "Deprecated" column to specify the version). For the field itself:

The version is given by `deprecated.deprecatedVersion`, so we don't need to repeat it in `deprecated.description`.

[2021-01-28 12:40] ColinMaudry commented on #1184
I have thought of several scenarios:

1. promoting codes and forbidding the presence of releaseTags codes in `additionalTags`
2. promoting codes and allowing the presence of releaseTags codes in `additionalTags`
3. no promotion of codes from additionalTags to releaseTags

The first question is: why would we promote tags to the releaseTag codelist?

We could expect additionalTags codes from the bid

[2021-01-28 13:46] ColinMaudry commented on #322
I suggest the following deprecation notes for the codes, based on your comment https://github.com/open-contracting/standard/issues/322#issuecomment-475380695:

- electronicSubmission: Use the submission terms extension instead.
- electronicAuction: Use  the techniques extension instead.
- written: This code mixed paper and electronic (email) submission methods.
- inPerson: ?

Don't we need alterna

[2021-01-31 22:10] JachymHercher opened #1188 "Standarize Documents descriptions"
The description of `Planning/Tender/Award/Contract/Contract.Implementation.Documents` is not standard across blocks, see below.

I would suggest:
- Standardizing the phrasing, e.g. "Documents related to the [block name] (for example [block-related examples]." Glad for second opinions on whether the descriptions should start with "All" and whether we need the examples.
- The standardization consist

[2021-01-31 22:25] JachymHercher commented on #707
When working on the PR, I had some second thoughts (reflected in the PR):
- I don't mention the confidentiality topic in the definition, as it is complex. Instead, I added text to the guidance.
- I left "direct" and "full" in the definition, but I think it would be nice to leave out both and just deal with it in more detail in the guidance.

    (Note: when I was drawing the comparisons with eForm

[2021-02-01 04:24] choldgraf opened #1190 "Convert documentation to MyST Markdown and new theme"
This is a meta-issue to track conversion of documentation syntax to use MyST Markdown. It may grow or shrink as more focused issues pop up during initial conversion so I'll track them here.

- [x] Initial conversion attempt via MyST parser (https://github.com/open-contracting/standard/pull/1192)
- [x] Convert over eval-rst blocks into MyST markdown (~~#1220, #1221,~~ #1247)
- [x] Check that we are

[2021-02-01 04:25] choldgraf opened #1191 "[MyST] Convert H2 titles to H1"
In MyST markdown, you should start your markdown files with an H1 header (aka, with a single `#`). It seems like several of the pages here start with an H2 title instead (`##`).

For example: https://raw.githubusercontent.com/open-contracting/standard/1.1-dev/docs/getting_started/contracting_process.md

@jpmckinney is there a reason for this? Are they being "included" in other files or something?

[2021-02-01 04:26] choldgraf commented on #1190
Also note - I'm going to prefix all of these issues with `[MyST]` to help differentiate them from others, since I cannot add tags etc myself.

[2021-02-01 04:52] choldgraf commented on #1190
@jpmckinney do you prefer to have one mega-PR that does all of the changes at once, or is it OK to break this into several smaller PRs that get merged over time?

[2021-02-01 22:22] duncandewhurst commented on #1098
Recording the example shared in CRM-6407 here for posterity:

[code]

And in CSV:

| tender/classification/scheme | tender/classification/id | tender/classification/description |
| - | - | - |
| SDGTarget | 3.3 | By 2030, end the epidemics of AIDS, tuberculosis, malaria and neglected tropical diseases and combat hepatitis, water-borne diseases and other communicable diseases |

[2021-02-01 22:56] jpmckinney commented on #1191
Yes, we can change them to `#`. They are accidental.

For this change, can you use 1.1-dev as the base branch? We can then merge 1.1-dev into 1.2-dev.

[2021-02-01 23:00] jpmckinney commented on #1190
I've changed your role to Maintain, so you should be able to create/add labels. An issue prefix is also fine.

I have no preference in terms of PR size. For larger PRs, I sometimes read one commit diff at a time when reviewing.

[2021-02-02 23:14] duncandewhurst opened #1196 "Document type codelist: Update completionCertificate description"
https://github.com/open-contracting/infrastructure/issues/273 clarifies the distinction between a completion certificate and a payment certificate (OC4IDS introduces a document type code for the latter).

**Proposal**

Update the description of 'completionCertificate' to make the distinction clearer, and:

* align with the structure of the description of 'paymentCertificate' in OC4IDS
* remove the

[2021-02-03 13:59] ColinMaudry commented on #828
@jpmckinney What's your view on this?

[2021-02-03 14:43] jpmckinney commented on #571
Noting that the 'limited' code in the `method` codelist is:

This is based on the GPA text:

The GPA text for "selective tendering" uses the passive voice, e.g.:

where we omit "by the procuring entity" for the 'selective' code:

So, for the 'limited' code, we could reword it in the passive voice, in order to omit "The procuring entity", since, per this issue, there might only be a buyer without a

[2021-02-03 14:43] jpmckinney commented on #571
@ColinMaudry Can you suggest new wording for the 'limited' code and then, once agreed, edit the open PR?

[2021-02-03 14:52] jpmckinney commented on #828
I reviewed my old spreadsheet from the issue description: https://docs.google.com/spreadsheets/d/1X4nULP8nhYR_iXra0HjTy5n2v5z2kyzFFT7KTv2GZo0/edit?pli=1#gid=0

I think we might consider (the first two are in open codelists, so might be covered by #827):

GPA term | GPA ref | OCDS ref | OCDS text | GPA text
-- | -- | -- | -- | --
technical specification | Article I:u | documentType: technicalSpecif

[2021-02-03 15:14] ColinMaudry commented on #849
Right! I mixed up the use cases.

Then there is the description of `date`. I think the current one could remain as-is since it's pretty clear that the date corresponds to the first time the information was released. I can't think of a way it could imply a version upgrade would affect the date of the release. However, we can make it crystal clear:

[2021-02-03 16:25] ColinMaudry commented on #571
I've also used the OCDS definition of `selective` ("Only qualified suppliers are invited to submit a tender."):

[2021-02-03 16:34] ColinMaudry commented on #1157
@jpmckinney  When they are merged into the standard, the codelists are also removed from the extensions, right?

[2021-02-03 16:40] jpmckinney commented on #1157
Yes, they would be removed. We might start tagging releases of extensions, so that OCDS 1.1 users can refer to a version of the extension that contains the codelist.

[2021-02-03 16:42] jpmckinney commented on #571
Where does "chosen suppliers" come from?

[2021-02-03 16:45] jpmckinney commented on #849
I think #854 (PR #995) clarified `date` enough for this issue's purposes.

[2021-02-03 16:47] ColinMaudry commented on #571
Both the current OCDS definition and the GPA definition describe limited tendering as a method whereby the buyer chooses (not "select") certain suppliers. I simply (naively?) translated "of choice" into a past participle.

[2021-02-03 16:53] ColinMaudry commented on #849
Ah I had missed it, thanks!

[2021-02-03 16:54] ColinMaudry commented on #849
In that case, I think we can proceed with this description for `id`:

[2021-02-03 17:51] jpmckinney commented on #849
Sounds good. I might edit my earlier suggestion, to reference field titles instead of field names, and to avoid the use of Markdown where possible.

[2021-02-03 17:58] jpmckinney commented on #571
Ah, I got confused; in https://github.com/open-contracting/standard/issues/571#issuecomment-772636835 you referred to 'selective', not 'limited', but you meant using the definition of 'selective' **as inspiration**.

On second thought, it might not be clear who is doing the choosing, whereas people familiar with procurement processes understand that "qualified suppliers" is based on pre-qualificat

[2021-02-03 18:25] jpmckinney commented on #322
* electronicSubmission: This code distinguished electronic submission through a procurement platform from other forms of electronic submission. This distinction is not supported by use cases. Use the submission terms extension instead.
* electronicAuction: An electronic auction is a technique, not a submission method. Use the techniques extension instead.
* written: This code was based on a defini

[2021-02-03 19:00] jpmckinney commented on #707
I agree with your points on what to put in the definition versus the guidance.

Yes, that is more of an "ought to".

[2021-02-03 22:39] jpmckinney commented on #1160
Since we mentioned lots (from the Lots extension): each lot has a status field, which uses the tender.status codelist. So, it is not necessary to create an award related to a lot in order to describe the status of the lot.

----

Taking a step back, I believe contract.status = 'cancelled' exists because contract.status = 'pending' exists, and the latter needs statuses to transition to. To be hones

[2021-02-03 23:07] jpmckinney commented on #1188
Yes, I am in favor of adopting a consistent structure and wording, as proposed.

[2021-02-03 23:11] jpmckinney commented on #1184
In that case, could we instead just change `tag` to an open codelist (the other option from #792)? If we have `additionalTags` that repeats and adds to `tag`, there is really not that much utility to `tag`. Publishers would still need to use existing codes where appropriate; they'll just now have the option to use other codes. Extensions can then add new codes, and if we decide to promote a code t

[2021-02-03 23:22] jpmckinney commented on #1160
Another good next step would be to ask OCDS Helpdesk analysts to describe how implementers have used these codes.

[2021-02-04 09:12] ColinMaudry commented on #828
My understanding of the need is that OCDS definitions work as-is but you want them to be more anchored in a reference terminology. GPA has a worldwide scope and good definitions.

Let's give a "GPA touch" to the OCDS definitions:

- documentType: technicalSpecifications:

OCDS 1.1:

GPA:

OCDS 1.2:

**James' update:** To make it easier to compare versions without copying content, I'll add my sugge

[2021-02-04 09:17] ColinMaudry commented on #828
- documentType: tenderNotice

OCDS 1.1:

GPA:

Proposal:

**James' update:** Sorry, the text above was from OCDS 1.1.4. OCDS 1.1.5 (#714, PR #725) already changed this to:

I don't know if #571 means that we should change this to "the buyer or the procuring entity". I'm also okay with removing the second sentence, since this can be said for almost any document

**Colin's update** new proposal:

I

[2021-02-04 09:38] ColinMaudry commented on #828
- procurementCategory: goods

OCDS 1.1:

GPA (commercial goods or services):

OCDS 1.2:

I don't really understand this part (bold) of the GPA definition:

I don't see how the GPA text could improve the definition of 'procurementCategory: services'.

[2021-02-04 10:09] ColinMaudry commented on #1184
To be sure, my proposal in https://github.com/open-contracting/standard/issues/1184#issuecomment-769026554 is *not* to promote codes from `additionalTags` to `tag`. `additionalTags` would be used to narrow down the purpose of the release in a more flexible way than `tag`.

I'm also OK with turning `releaseTag` into an open codelist, but I find it more risky than my proposal above, as the existing

[2021-02-04 14:28] ColinMaudry commented on #1157
@jpmckinney What's the benefit of merging the codes from extensions into the standard, but not the schemas?

[2021-02-04 15:03] ColinMaudry commented on #1157
@jpmckinney May I use this opportunity to sort codes in alphabetical order in the impacted codelists CSVs? I believe it will improve their usability.

[2021-02-04 15:25] ColinMaudry commented on #1157
I'll do PRs for legalBasis so that we agree on the wording and the procedure, then I'll do the others.

(the case of the enquiry extension was straightforward as it was [already implemented](https://github.com/open-contracting/standard/commit/20c8e216621063f3a64dbfbdaf7799deecf0392b) in the standard)

[2021-02-04 15:54] jpmckinney commented on #1157
Let's create an issue to do this right before the release of OCDS 1.2.0. If we do it now, it could cause unnecessary merge conflicts.

Also, some codelists have a chronological order (status codelists) or other logical order (e.g. method is ordered by degree of openness). The documentType codelist is also sorted by Category (which maybe we want to remove) and Section.

So, in the new issue, we sho

[2021-02-04 15:59] ColinMaudry opened #1198 "codelists: Re-order (sort) codes"
In order to improve the readability of the codelists we will sort the CSVs alphabetically.

We will do it just before the 1.2 release in order to prevent unnecessary merge conflicts.

[2021-02-04 16:03] ColinMaudry commented on #1157
There's no rush, I'll take care of this issue when we're closer to release 1.2.

[2021-02-04 16:05] jpmckinney commented on #1157
For **open** codelists, OCDS can add new codes at any time. As such, the only reason to modify the codelists in extensions is if the OCDS process is too slow. Since we're currently upgrading OCDS, we might as well add the codes to OCDS itself.

Adding fields to the schema, however, always requires a minor version, and requires more discussion. That topic is the subject of #1179.

[2021-02-04 16:06] jpmckinney commented on #1157
I think the addition of codes can be done now. The only thing that should wait is the sorting of codes, which deserves its own issue, since it's not related to this issue.

[2021-02-04 16:17] jpmckinney commented on #1198
Moving from https://github.com/open-contracting/standard/issues/1157

Some codelists have a chronological order (status codelists) or other logical order (e.g. method is ordered by degree of openness). The documentType codelist is also sorted by Category (which should have been removed when resolving #388, I'll create a new issue) and Section.

In this issue, we should describe the appropriate ord

[2021-02-04 16:19] jpmckinney opened #1199 "documentType: Remove Category column"
This should have been removed as part of #388. There is a corresponding sentence on docs/schema/codelists.md to remove as well.

[2021-02-04 16:38] jpmckinney commented on #1184
My concern is having two fields that are arrays of codes that are semantically identical, but where the only difference is that one uses a closed codelist and the other uses an open codelist. It would make more sense to just have a single field.

[2021-02-04 20:40] JachymHercher commented on #707
I interpret your comment as agreeing with removing "direct" and "full" :). I've removed them and updated the PR.

[2021-02-04 21:06] jpmckinney opened #1202 "Options for publishers interested in modelling documents"
Some partners want to model the contents of documents as structured data. While some metadata contained in documents belongs in OCDS (deadlines, criteria, etc.), there is a lot of content in documents that is difficult to standardize (e.g. liability clauses), or for which there is a marginal benefit compared to reading the document itself.

If there is demand, we could add guidance pointing to sta

[2021-02-04 21:09] jpmckinney opened #1203 "documentType: Check that there are codes for all documents referenced by the UNCITRAL Model Law"
Model law: https://uncitral.un.org/sites/uncitral.un.org/files/media-documents/uncitral/en/2011-model-law-on-public-procurement-e.pdf

[2021-02-04 21:46] JachymHercher commented on #1160
I've started replying to the questions, but I think it ultimately all boils down to where stages/phases start and finish. (If this doesn't help enough, I'll reply to the individual questions.)

My perception:
- Planning: from an idea to publishing a "call for competition" (i.e. a notice with enough information to be followed by a bid)
- Tender:  from [end of last phase +1 second] to the bid submis

[2021-02-05 00:11] jpmckinney commented on #1160
Yes, I think we need to establish those boundaries between stages to resolve this issue: that is, to be able to describe which events cause a given stage to be unsuccessful.

First, a simpler way to resolve the semantic conflict I described earlier is to change the description of the Contract object ("Information regarding the signed contract between the buyer and supplier(s)") to allow for unsign

[2021-02-05 01:01] jpmckinney commented on #828
I guess GPA distinguishes "commercial" goods or services by adding that extra clause ("generally sold or ...") - which I agree is not relevant to our definition. As such, the entire definition is not helpful to us.

I think the only change is to switch "electronic" (which tends to be understood as laptops, etc. which are already "physical") to "digital". We should keep "or supplies" since that is

[2021-02-05 19:22] #395 closed, assigned to nobody

[2021-02-06 11:38] JachymHercher commented on #896
Based on the outcome of https://github.com/open-contracting/standard/issues/1160, we should likely expand the proposed definition so that it covers also information about contracts that were not signed. (Probably by omitting "concluded" from the definition and possibly adding an explanatory sentence.)

[2021-02-06 11:45] JachymHercher commented on #1160
I agree, I've noted it in https://github.com/open-contracting/standard/issues/896#issuecomment-774459139 and will update the definition once we're done here.

I think the bid submission deadline is more useful. Mainly because, at least in the EU, in an open procedure, you can choose whether you first evaluate the qualification criteria or the award criteria (a very useful provision, the reasoning

[2021-02-07 13:08] JachymHercher commented on #395
In all three terminated codes above we use the word "signed", but according to https://github.com/open-contracting/standard/issues/896#issuecomment-719623894, we should instead use "concluded".

[2021-02-07 17:08] JachymHercher opened #1206 ""Contract notice" in OCDS vs. EU, warning and consistency"
In `documentType`, 'contractNotice' is a document on a contract being concluded. By contrast, in the EU, "contract notice" is a document on the contracting procedure being lauched (a "call for competition").

1) I'm afraid this might be a common point of confusion for EU OCDS publishers, so I suggest adding a warning note in https://standard.open-contracting.org/profiles/eu/master/en/.

2) https:/

[2021-02-07 19:34] #1143 closed, assigned to nobody

[2021-02-07 20:59] JachymHercher opened #1207 "Value fields: remove "total""
Value fields in OCDS often use the term "total". I am not sure what it means and I think it might be misleading, e.g. because a "total" value field might be tax-less (see https://github.com/open-contracting/standard/issues/817) or represent just a single award, contract a lot from a contracting process that contains more of them.

I would suggest replacing:
- "total estimated value" with "estimate

[2021-02-07 21:39] JachymHercher commented on #896
I've started working on a PR (https://github.com/open-contracting/standard/pull/1208). Here is a summary of the discussion above and whether the issues, as listed in https://github.com/open-contracting/standard/issues/896#issuecomment-719623894, are resolved in the draft PR.

Included in PR:  "Information regarding the contract, typically between the buyer and supplier. This includes contracts des

[2021-02-08 14:52] ColinMaudry commented on #828
That means we agreed on the following definition for procurementCategory:goods:

[2021-02-08 16:09] ColinMaudry commented on #1207
I think "estimated" is important, otherwise data publishers may think the field only supports a fixed value.

[2021-02-08 16:21] jpmckinney commented on #1207
@JachymHercher I support the changes to award.value and contract.value.

For tender.value, did you mean to delete "total" instead of "estimated"?

[2021-02-08 16:27] jpmckinney commented on #1206
I agree that the code is confusing.

In addition to your suggestions, we can change its `Title` to "Contract Signature Notice". Similarly, we might change the title of `awardNotice` to "Contract Award Notice".

[2021-02-08 18:53] JachymHercher commented on #1207
Yes, corrected, sorry.

[2021-02-09 21:29] jpmckinney opened #1211 "Worked example: Packaging"
* [Internal draft outline](https://docs.google.com/document/d/1iDJDPVGYy0rZ-ncjwM0yqkf2qDLE1vEAiAqRZYBNqUs/edit) from CRM-5529
* [Slide deck](https://docs.google.com/presentation/d/1sJfD80I5oQVKVVrZFnI073wrREQ9bwiwOgWiT5biPp4/edit)

Noting that CRM-5073 described a user's confusion with respect to the `packages` field in record packages, but that field is proposed to be deprecated in #920.

[2021-02-09 21:32] jpmckinney commented on #887
* [Internal draft outline for worked example](https://docs.google.com/document/d/1OjyXdg5qlmIxrV_fn3vrZF3s2vdihDeu45JM0asqQOY/edit) from CRM-5526

[2021-02-09 21:35] jpmckinney opened #1212 "Worked example: Mapping a local codelist"
* [Internal draft outline](https://docs.google.com/document/d/1e2V62fLBHoqcIdhdK4g3qTGq30onNmGnc9XK7i-mgUc/edit) from CRM-5502

[2021-02-11 15:33] ColinMaudry commented on #1184
We have `procurementCategory` and `additionalProcurementCategory`, isn't it the same pattern?

[2021-02-12 17:34] jpmckinney commented on #1190
Follow-up for this issue:

* [x] Update selector(s) in util/add_translation_notes.py

Small cleanup that can be done in later PRs:

* [x] Build with `sphinx-build -nW --keep-going -q -b dirhtml $(DOCS_DIR) $(BUILD_DIR)/en` once warnings are cleared
* [x] Change some eval-rst to block-level directives https://myst-parser.readthedocs.io/en/latest/using/intro.html#block-level-directives-with-myst-mar

[2021-02-12 23:12] jpmckinney commented on #1184
Notes from call:

`additionalProcurementCategories` was first discussed in #376 as part of the 1.1 upgrade. The three main procurement categories (goods, services and works) are well established. A contracting process has a single main procurement category. Different jurisdictions have additional categories, like "services related to goods", "services related to works", etc. These other categories

[2021-02-12 23:12] #1184 closed, assigned to ColinMaudry

[2021-02-12 23:15] jpmckinney opened #1214 "Tag: Open the codelist"
Following from #792 and #1184, we will open the `tag` codelist.

In terms of guidance, we can recommend that a code from the codelist be used wherever possible, but that additional codes can be used based on the publisher's use cases. The additional codes can closely map the notice types (in a notice-based or paper-based system) or the event types (in an electronic records-based system).

[2021-02-12 23:16] jpmckinney commented on #792
#1184 (adding a new field) was discussed but not taken forward. #1214 is the new issue to describe the only other alternative discussed in this issue: opening the `releaseTag` codelist.

[2021-02-12 23:24] jpmckinney commented on #571
I'm not sure it's been clearly stated in this discussion, but the reasons for preferring only setting the `buyer` field in cases where the buyer and procuring entity are identical are:

1. There are more use cases related to the buyer. Publishers ought to be encouraged to publish this common field in preference to the `procuringEntity` field.
2. In many jurisdictions, for simple procedures, the bu

[2021-02-12 23:29] jpmckinney commented on #764
Closed by #1165

[2021-02-13 00:07] jpmckinney commented on #571
Closed by #1163

[2021-02-14 15:11] JachymHercher opened #1215 "Explaining the documentation structure"
As a reader of the OCDS documentation, it is not clear to me what is the relationship between / what to expect of "Getting Started", "Guidance" and certain parts of "Reference" (esp. "Merging", "Identifiers" and "Conformance and extensions").

My best guess is:
- "Getting Started" is something like "understanding what OCDS is" / "very basic info"
- "Guidance" is something like "step by step guidan

[2021-02-14 15:23] JachymHercher commented on #866
I have created a draft PR. A few notes:
1) An OCID is normatively defined in the schema (as well as https://standard.open-contracting.org/latest/en/schema/identifiers/). However, I do not think there are any normative definitions for "record" (except a brief mention in the description of the top-level "Schema for an Open Contracting Release"), nor contracting process and planning process. Shouldn'

[2021-02-15 10:53] ColinMaudry commented on #1157
Steps to have two release branches in extension repos:

- branch 1.1 out of master
- make the default branch 1.1 (instead of master)
- create a new 1.2 branch with the new commits
- delete the master branch

==> https://github.com/open-contracting-extensions/ocds_legalBasis_extension/pull/6#issuecomment-778516885

[2021-02-15 13:39] ColinMaudry opened #1217 "General guidance on version upgrades"
With the release of OCDS 1.2, many data publishers will wonder how to upgrade, the available options, the potential side effects etc.

The revision and upgrade process is well documented in [Governance](https://standard.open-contracting.org/latest/en/governance/?highlight=upgrade#versioning-and-upgrade-process) from a standardization point of view, but not from a data publication point of view.

[2021-02-16 22:06] jpmckinney commented on #1191
Done as part of #1213.

[2021-02-16 22:06] #1191 closed, assigned to nobody

[2021-02-16 22:07] jpmckinney commented on #1191
The reason this was not noticed earlier, is because recommonmark re-sets the heading levels based on hierarchy, rather than based on the number of `#` marks. (MyST-Parser does, too, but it warns if there's misalignment.)

[2021-02-17 05:06] jpmckinney opened #1222 "Holding issue for procurement terminology with inconsistent semantics"
Different jurisdictions use the same terms in contradictory ways.

This issue has no action as yet. For now, it just serves to catalog terms whose interpretations are too inconsistent to be used in the documentation (without major caveats and clarifications).

For example:

* In some jurisdictions, a Request for Information (RFI) is not aimed at concluding a contract, and it may even be forbidden

[2021-02-17 05:06] jpmckinney commented on #1222
Thanks @duncandewhurst for compiling the UK examples above.

[2021-02-17 19:33] #825 closed, assigned to JachymHercher

[2021-02-17 19:44] #548 closed, assigned to JachymHercher

[2021-02-17 20:38] JachymHercher commented on #866
1. Discussed with @jpmckinney, yes, we add the definitions to "Schema for an Open Contracting Release". Done in https://github.com/open-contracting/standard/pull/1216/commits/588097f938c439653b1bda275fd40b12b0c5dc64.

[2021-02-17 21:15] jpmckinney commented on #707
All comments are represented in #1189, which also adds links to a couple external resources to support the "open by default" recommendation.

[2021-02-17 21:15] #707 closed, assigned to JachymHercher

[2021-02-17 21:16] #396 closed, assigned to JachymHercher

[2021-02-17 21:21] jpmckinney commented on #396
As part of #1223, the worked example for electronic catalogs has been removed.

The reason is that (1) an electronic catalog is just an electronic format for describing items for sale, which is not represented in OCDS, and (2) a purchase of an item from an electronic catalog is no different from a purchase from a supplier in other cases, and as such it does not require an explicit example.

As @Ja

[2021-02-17 21:31] jpmckinney commented on #396
Note: A follow-up issue has also been created here: https://github.com/open-contracting/ocds-extensions/issues/159

[2021-02-20 14:19] ColinMaudry commented on #322
Closed by #1200

[2021-02-20 14:19] #322 closed, assigned to ColinMaudry

[2021-02-20 14:20] ColinMaudry commented on #701
Closed by #1167

[2021-02-20 14:20] #701 closed, assigned to ColinMaudry

[2021-02-22 14:11] yolile commented on #689
Not sure if that case is the same case because 1) 1.1 only deprecated the other fields and 2) as none of the removed fields were required ones the tools needs to ask if the field exists first anyway (so true, the tool won't work anymore but it won't crash either)

But agree that option 2 is the better one. @jpmckinney To mark this issue as ready to PR, should then the quantity field now:
1. Change

[2021-02-22 15:14] ColinMaudry commented on #901
No feedback from @duncandewhurst and @yolile. I assume mixed participation conditions didn't catch their attention.

Shall we (I) proceed with `tender.exclusionGrounds` and `tender.selectionCriteria` (#1120)?

[2021-02-22 15:46] yolile commented on #901
@jpmckinney @ColinMaudry no that I'm aware of!

[2021-02-22 19:28] duncandewhurst commented on #901
Likewise!

[2021-02-22 21:35] jpmckinney commented on #689
That is the proposal, yes. However, given this change might be disruptive, I think it important to first validate the demand. As such, I think the next step for this issue is for it to be raised in a community call for further input.

In terms of internal coordination, in general, any issue with the label "discussion" first needs to have that label removed, before we can progress to a PR. In this

[2021-02-22 23:22] jpmckinney commented on #1215
Thanks, @JachymHercher. @EricReese15's work on the Primer (and home page) can address the first two bullets. For the last bullet, we'll have to do this iteratively. The new theme that @choldgraf is working on will help with the navigational issues.

[2021-02-23 15:08] ColinMaudry commented on #1157
@jpmckinney Do we add codes from the `documentType.csv` codelist of the ppp extension to the standard? That's[ 44 codes](https://github.com/open-contracting-extensions/ocds_ppp_extension/blob/master/codelists/documentType.csv) and the columns differ from the standard codelist. The tariff codes are in it.

[2021-02-23 18:20] yolile commented on #1095
Noting that the [current documentation](https://standard.open-contracting.org/latest/en/guidance/build/hosting/) title is "Data files and APIs" but it barely describes APIs

[2021-02-23 18:21] yolile commented on #1095
and the other mention of APIs is here https://standard.open-contracting.org/latest/en/guidance/build/system_architectures/#additional-considerations

[2021-02-24 00:12] jpmckinney commented on #1157
That codelist is a bit of a challenge, because it entirely replaces the OCDS codelist (no `+` at the beginning of the filename), so we need to resolve that in the PPPs profile/extension first, for which I'll involve @duncandewhurst.

[2021-02-24 00:41] jpmckinney opened #1226 "Guidance: Build: Writing an RFP"
Can add sentences in https://standard.open-contracting.org/latest/en/guidance/design/#writing-ocds-requirements-for-egp-developers with links to:

* https://govlab.hks.harvard.edu/guidebook-crafting-results-driven-request-proposals-rfp
* https://contract-design.worldcc.com

[2021-02-24 13:40] ColinMaudry commented on #1157
Dedicated issue: https://github.com/open-contracting-extensions/public-private-partnerships/issues/253

[2021-02-24 15:32] #1049 closed, assigned to odscrachel

[2021-02-27 02:49] portaledcahn opened #1228 "Supporting documentation for a contracting process as a whole"
Hi community,

Currently the data of the purchases made to attend the COVID-19 emergency are published monthly with all the contracting processes in an Excel file and the supporting documentation is included as a link to a pdf file that could have all the supporting documents for these processes (For example: Quotes, Contracts, Purchase Orders, Bidders and quotes).

Initially we are including this

[2021-02-27 20:54] JachymHercher commented on #1207
(To avoid unnecessary conflicts, I will create the PR for this issue once https://github.com/open-contracting/standard/pull/1208 is merged (it moves around some value fields).)

[2021-02-27 21:30] JachymHercher commented on #1160
(In https://standard.open-contracting.org/latest/en/schema/codelists/#document-type, 'evaluationReports' are classified as belonging into tender, but according to our discussion above they should belong to award. We should change it.)

[2021-02-27 21:31] JachymHercher commented on #901
When resolving this issue, besides changing/removing 'eligbilityCriteria' in `documentType`, we should also either expand the definition of `evaluationReports` to also cover eligbility/exclusion/selection criteria, or we should add a eligibility/exclusion/selectionReports code.

[2021-02-28 18:15] JachymHercher commented on #903
Summary: I would suggest changing the last sentence of the `Contract` description to "Contracts _are used in public procurement, concessions, public-private partnerships and sales of government assets, as well as governing_ the granting of prizes or other rewards (e.g. a follow-up contract) resulting from a design contest." and closing this issue.
_____

Reviewing this ticket, I think it is best t

[2021-02-28 19:46] JachymHercher opened #1230 "Replace "submit a tender" with "submit a bid""
In most of OCDS, we use the term "bid", but in (at least) three cases we use "tender" instead:
- `Method` codelist, 'open', "All interested suppliers can submit a tender."
- `Method` codelist, 'selective', "Only qualified suppliers are invited to submit a tender."
- `partyRole` codelist, 'tenderer', "All entities who submit a tender".

I suggest replacing "tender" with "bid". Are you aware of any

[2021-02-28 20:10] JachymHercher commented on #1149
Both the Award and Contract guidance are being replaced by the new definitions ([award PR](https://github.com/open-contracting/standard/pull/1175/files#diff-b14b10bfc661f1e53dc8755e219078cb33c957719cbee5d0a92842ad02255fb2) and [contract PR](https://github.com/open-contracting/standard/pull/1208/files#diff-b14b10bfc661f1e53dc8755e219078cb33c957719cbee5d0a92842ad02255fb2), respectively), so no new c

[2021-03-01 20:48] jpmckinney commented on #1230
I'm not aware of others, but we can fix them when we find them. Okay to go ahead with these fixes.

[2021-03-01 20:59] jpmckinney commented on #903
I'm happy to focus on that last change and then close the issue. Original proposal:

"Granting" can be understood as a specific type of process/contract (e.g. grants to charities), so I'd prefer another word or phrasing. Could this work?

In other words, is it critical to specify follow-up contracts and prizes as specific rewards from design contests?

**Update:** I guess we might want to make cle

[2021-03-02 04:24] choldgraf commented on #1190
Hey @jpmckinney - I've updated the top comment with a few more of the to-dos that we discussed. I think that a lot of the `eval-rst` blocks are converted, and I'm wondering what you'd prefer that we prioritize moving forward. E.g., do you prefer that we finish up the MyST conversion to 100%, or better to try out new themes etc?

[2021-03-02 18:01] mgifford commented on #1169
We definitely need to move away from PDFs.  This is what the UK Government is proposing for documents - https://www.gov.uk/guidance/publishing-accessible-documents

OpenDocument Format might be good too. Mind you if you have a well structured JSON format and can separate content & presentation then you could have the flexibility to design the formatting of the RFP check out https://jsonresume.org/

[2021-03-02 18:27] jpmckinney commented on #1202
Merging into #1169

[2021-03-02 18:27] #1202 closed, assigned to nobody

[2021-03-02 18:27] jpmckinney commented on #1169
Merging #1202 here:

Some partners want to model the contents of documents as structured data. While some metadata contained in documents belongs in OCDS (deadlines, criteria, etc.), there is a lot of content in documents that is difficult to standardize (e.g. liability clauses), or for which there is a marginal benefit compared to reading the document itself.

If there is demand, we could add gui

[2021-03-02 19:01] mgifford commented on #1169
I think at the moment the first stage is to highlight to procurement teams that this is an option. I don't think that many are aware that there are alternatives to PDFs to consider.

Definitely worth taking time to describe the advantages. Accessibility should be one improvement, but the output of OASIS LegalDocumentML (or whatever) would need to be considred.

Huge opportunities though in terms o

[2021-03-02 19:06] mgifford commented on #1170
Interesting to see the resource contracts.  I'd be curious to see other examples from other sectors. Neat that it is global.

If we could get large organizations to just begin from a common template theoretically we could make them easier for everyone to read. So much of the content is just repeated between contracts, but vendors need to scrape through each one because they are often pretty unique

[2021-03-02 19:44] jpmckinney commented on #1170
Related #1169. (This issue is about adding fields for more metadata from documents to OCDS, whereas #1169 is about modelling the documents themselves using other standards.)

Many governments follow templates, but there is often a fair amount of customization of the template. Beyond templates, there are resources like https://contract-design.worldcc.com and https://govlab.hks.harvard.edu/guidebook

[2021-03-02 19:51] jpmckinney commented on #1169
Yes, there are quite a few companies like https://cognitivplus.com which extract information from otherwise unstructured documents. In the world of legislative transcripts, I've seen effective use of document styles (in Word, etc.) to add semantics to the content. The same can be done for procurement documents to label elements. However, since document generation is quite distributed, I'm not sure

[2021-03-03 08:59] pindec opened #1236 "Download link for schema broken in "Browsing the schema" box"
Link to download the schema in the "Browsing the schema" box on the [Release schema page](https://standard.open-contracting.org/latest/en/schema/release/) is currently showing as ```{download}JSON Schema <../../build/current_lang/release-schema.json>```

![image](https://user-images.githubusercontent.com/1897475/109779918-5d2be700-7bfe-11eb-8b95-839d7d7b74e4.png)

[2021-03-04 00:22] jpmckinney commented on #1190
I think better to try out new themes. And yes, I'll do the two search-related bullets :)

[2021-03-04 00:29] jpmckinney commented on #1236
Fixed in #1221. Example: https://standard.open-contracting.org/staging/eval-rst/en/schema/release/

[2021-03-04 00:29] #1236 closed, assigned to nobody

[2021-03-07 08:23] JachymHercher commented on #903
I agree with your comments, but on second thought, I would modify my original proposal. I think the sentence is more about the use of OCDS rather than uses of contracts as such. Consequently, wouldn't it fit better as the first or last sentence of the schema description (latest version in https://github.com/open-contracting/standard/commit/588097f938c439653b1bda275fd40b12b0c5dc64#diff-8ede12936d49

[2021-03-07 20:39] JachymHercher commented on #1160
Here is the list of action points based on this issue so far:
1) Contract definition covers also unsigned contracts - done.
2) Decide where the tender and award stages end. I think they should end with bid submission and the award decision, respectively.
3) I would suggest: update the definitions of `Planning`, `Tender`, `Awards` and `Contracts` as well as the corresponding values in https://stand

[2021-03-08 09:19] ColinMaudry commented on #1160
@JachymHercher Great summary, thanks!

[2021-03-08 10:19] ColinMaudry commented on #849
@jpmckinney Do we mention the possibility to publish several datasets for different OCDS versions in existing guidance pages ([identifiers](https://standard.open-contracting.org/latest/en/schema/identifiers/), [easy releases](https://standard.open-contracting.org/latest/en/guidance/build/easy_releases/), etc.) or do we only add it to the new version upgrade guidance content #1217?

[2021-03-08 14:46] ColinMaudry commented on #1214
@jpmckinney On top of modifying the schema, does it make sense to reflect this change in the documentation?

We could update:

- https://standard.open-contracting.org/latest/en/getting_started/releases_and_records/
- https://standard.open-contracting.org/latest/en/guidance/build/easy_releases/
- https://standard.open-contracting.org/latest/en/schema/reference/

[2021-03-08 15:25] EricReese15 opened #1239 "Draft Primer to replace Getting Started section of documentation"
As discussed, we've been working on a replacement to the current format for the Getting Started section of the documentation. To do that, I've drafted a series of pages that together form a "Primer." The primer will be organized around answering four main questions, with each having their own section within the primer, plus a landing page for the Primer to provide general orientation for users to

[2021-03-08 17:25] jpmckinney commented on #1214
What changes would you make to those pages? Getting started is being rewritten (#1239) and guidance on tags is probably too low-level for the primer/getting started section.

[2021-03-08 17:32] jpmckinney commented on #849
Let's just do it in #1217. It's going to be an edge case, so it's okay for the content to be on one page only.

[2021-03-09 06:59] ColinMaudry commented on #1214
In the sections that mention release tags, II would advertise the fact that one can use their own codes to stick to their internal process.

[2021-03-09 09:04] ColinMaudry commented on #849
This comment assumes that the OCDS version is indicated at release level (may be implemented in #426), but currently it's only available at package level.

The [merge routine documentation](https://standard.open-contracting.org/latest/en/schema/merging/) doesn't mention packages and OCDS version. It's only about merging a number of releases into a combined or versioned release. We assume the relea

[2021-03-09 13:15] aguilerapy commented on #1228
Hello! Thanks for opening an issue to comment on this case.

The 'supportingDocumentation' code refers to the fact that it is a document that can change its content as the contracting process progresses. So instead of using `documentType` in the document section of each specific stage, we can add a top-level field, similar to [`relatedProcesses`,](https://standard.open-contracting.org/latest/en/sc

[2021-03-09 14:35] ColinMaudry commented on #1245
"Notified" or "selected" potential tenderers would be added as parties with a specific role. Since these parties may not bid, calling them "supplier" (= tenderer who has been awarded a contract) or "tenderer" (= who has submitted a bid) may be confusing.

- "notifiedOrganization" may be safer, but I find it too broad. It doesn't suggest it's about bidding.
- "invitedToBid" is more explicit, but po

[2021-03-09 14:59] ColinMaudry commented on #901
Regarding document types, I think we should:

- deprecate "eligibilityCriteria" in favor of "exclusionGrounds", mirroring the fate of `Tender.eligibilityCriteria`
- after assessing its actual usage, possibly updating the description of "evaluationReports" to explicitly mention the exclusion and selection phases (+ the evaluation of the bids?).
- create a "selectionCriteria" document type

[2021-03-09 18:18] yolile commented on #1245
Although the reference of the party is in Bids/**tenderers**

"invitedToBid" sounds good to me or it could be "invitedToParticipate" to make it less narrowed to submitting a bid

[2021-03-09 20:53] dwasyl commented on #1245
What about something along the lines of 'interested' organization?

Would that be different than using bid status of `invited`?

Related, and perhaps this needs a separate ticket, but one of the challenges we have is the lack of any specific point to hold a list of planholders (interested parties that have downloaded/accessed the tender documents). Often the 'invitation' process here comes from ad

[2021-03-10 10:42] ColinMaudry commented on #1245
That leads me to think that the bid extension is not the right place to model invited/notified/interested organizations. I think adding a party with a specific role is enough, it doesn't need to be in an array.

Regarding the code of the role, I understand that @jpmckinney preferred 'notified' because 'invited' sounded like the possibility to submit a bid was exclusive.

How "invitation" is used i

[2021-03-11 16:02] ColinMaudry commented on #1166
Related to https://github.com/open-contracting/standard/issues/911.

[2021-03-11 16:21] ColinMaudry commented on #1166
Current documentation is here: https://standard.open-contracting.org/latest/en/guidance/map/mapping_awards_contracts/

[2021-03-11 16:56] ColinMaudry commented on #1166
@yolile Do you mean something like this?

[2021-03-12 03:39] choldgraf commented on #1190
@jpmckinney we just released a new version of the PyData theme: https://github.com/pydata/pydata-sphinx-theme/releases

I think that this should make it a bit easier to customize and such. When trying out a new theme for these docs, would you like to try that (because it is a topbar-based theme) or start with the Sphinx Book Theme (https://sphinx-book-theme.readthedocs.io/) ?

My intuition is that

[2021-03-12 04:09] jpmckinney commented on #1190
Thanks for the explanation and updates! Let's go with the PyData theme 👍

[2021-03-12 13:44] ColinMaudry commented on #817
Does this issue (expanding the description of `Value.amount`) depend on the fate of #1143?

[2021-03-12 15:02] yolile commented on #1166
Yes! But also mention that this only applies if there is only **one award and one contract** with the same items as the tender

[2021-03-12 15:26] jpmckinney commented on #1217
From https://github.com/open-contracting/standard/issues/849#issuecomment-792650512, we can mention the possibility to publish several datasets for different OCDS versions.

Also from #849, we should be clear that when upgrading a source (API, bulk downloads, etc.) then all data from that source should be upgraded to the same version. (Publishers can of course have endpoints/files for different OC

[2021-03-12 15:36] jpmckinney commented on #1245
I'll move this issue to the standard repository, since we might solve this with a `partyRole` code.

[2021-03-12 15:38] jpmckinney commented on #1245
Noting comments in this PR: https://github.com/open-contracting/standard/pull/1225#discussion_r589624278

[2021-03-12 15:47] jpmckinney commented on #1180
Noting full list of roles is here: https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/organisation-role

[2021-03-12 21:01] jpmckinney commented on #817
#1143 is abandoned. This issue can proceed.

[2021-03-12 21:27] jpmckinney commented on #903
Yes, that sounds like a better proposal!

[2021-03-12 22:10] jpmckinney commented on #1214
I don't think tagging is fundamental to the worked example at https://standard.open-contracting.org/latest/en/guidance/build/easy_releases/, so it's not necessary to explain this there.

The new Primer (replacing Getting Started) doesn't discuss tags at all. (The Primer focuses on the concepts needed to understand the rest of the docs. Tags are a more narrow topic that can be addressed later.)

I'

[2021-03-14 21:43] duncandewhurst commented on #1160
Currently, the standstill period (see https://github.com/open-contracting/standard/issues/1142) is part of the award stage. Is the proposal for the standstill period to instead be part of the contract stage, and thus remove the 'pending' code from the award status codelist?

[2021-03-15 12:45] ColinMaudry commented on #1166
I have read it somewhere, but I don't remember where: @yolile what's wrong with repeating the items?

[2021-03-15 16:53] yolile commented on #1166
@ColinMaudry I've updated the issue description to clarify, but it is mainly to avoid big JSON files with repeated information.

[2021-03-15 19:02] yolile commented on #641
closed by #1241

[2021-03-15 19:02] #641 closed, assigned to yolile

[2021-03-15 19:54] jpmckinney commented on #1107
@yolile for the metrics extension, we can rename master to 1.1 (and update the registry), and then add a 1.2 branch that references the Unit definition.

[2021-03-17 16:24] portaledcahn commented on #1228
Hi @aguilerapy,

Ok, using links sounds good to include supporting documentation, we will start working on the extension mentioned in [related issue](Https://github.com/open-contracting/standard/issues/928)

Greetings.

[2021-03-18 22:08] jpmckinney commented on #825
From https://github.com/eprocurementontology/eprocurementontology/issues/279#issuecomment-781355624

Definitions used by Peppol:

Definitions used by UBL:

----

Ours:

I prefer that ours refers to a contract, rather than the verbs "buys or purchases". Also the above make it seem like the buyer and customer/originator are necessarily different, whereas we know they can be the same.

[2021-03-18 22:21] jpmckinney commented on #1120
Directive 2014/24/EU: https://eur-lex.europa.eu/legal-content/en/TXT/?uri=CELEX:32014L0024 Article 58 (Selection criteria)

[2021-03-20 19:35] JachymHercher commented on #1160
If we decided that tender and award stages end with bid submission and the award decision, respectively, then indeed the standstill period would be part of the contract stage. This would require changing the description of 'pending' in the award status codelist, as that currently in effect only covers the standstill period. I wouldn't remove the code as such though - I think it should be used to i

[2021-03-23 21:08] portaledcahn commented on #928
Hello,

We need to use this extension for the [issue 1228](https://github.com/open-contracting/standard/issues/1228), an initial version in the repository that can be found at here: [https://github.com/portaledcahn/ocds_Links_extension](https://github.com/portaledcahn/ocds_Links_extension)

Please feel free to comment.

Greetings

[2021-03-26 13:23] ColinMaudry commented on #1245
@jpmckinney @yolile Are you ok to solve this with an 'invitedToParticipate' partyRole code? I think it covers the following use cases:

- Second stage of framework agreement
- Design contests invitations
- Selective and direct procedures in general

I don't think it necessary to add a `tender.invitedToParticipate` field (like in https://gitlab.com/dncp-opendata/ocds_tender_notifiedsuppliers_extens

[2021-03-27 17:58] jpmckinney commented on #1245
I think having a code without a field is fine. Is the choice of term 'invitedToParticipate' based on something?

[2021-03-27 18:01] #849 closed, assigned to ColinMaudry

[2021-03-29 19:15] ColinMaudry commented on #1245
"invited" was found in MAPS (https://github.com/open-contracting/standard/issues/1245#issuecomment-795229360), although UNCITRAL and GPA use it meaning "exclusively invited". That's fine for the "FA 2nd stage" and "selective/limited procedures" scenarios, but is a bit of a stretch in the case of design contests.

"participate" is a broad terms that intends to cover many ways to join a contracting

[2021-03-29 23:23] jpmckinney commented on #1104
Can we check a few collection summaries to get the 90% percentile title length? e.g.

[code]

Note that some publishers don't have tender titles.

**Update:** There's probably duplication of data sources among these schema, but the range is 15-301 characters for the 90% percentile. Among these numbers, the average is 98, median is 92, and 90% percentile is 151.

If we choose a limit of 150, then a

[2021-04-01 15:38] jpmckinney commented on #1180
Copying discussion at https://github.com/open-contracting/standard/pull/1225#discussion_r598152191

[2021-04-02 02:16] jpmckinney opened #1261 "Check whether some csv-table-no-translate should be csv-table"
Only codelists are translated by Transifex. The rest should likely be `csv-table`. Right now, only two tables use `csv-table`. To find the other tables, regex-search for `:file: (?!(\.\./)+build/current_lang/.*csv)`.

[2021-04-02 12:13] ColinMaudry opened #1262 "Example: Consortia: Expand to cover disclosing bidders using the bids extension"
Initially mentioned in https://github.com/open-contracting/standard/pull/1243#issuecomment-799044712 and https://github.com/open-contracting/standard/pull/1243#issuecomment-808970349 by @duncandewhurst.

The [worked example](https://standard.open-contracting.org/1.1/en/guidance/map/consortia/) doesn't make use of the bid extension.

[2021-04-05 23:09] joelbyronbarker opened #1263 "Season of Docs wiki page: Contact information"
Looking at https://github.com/open-contracting/standard.wiki.git and wanting to follow up to help out, I can not locate directions to reach out and show interest. Can that be added to the doc?

[2021-04-06 15:34] jpmckinney opened #1264 "Record reference: "there should be a single record per contracting process""
The implications of this statement are unclear. For example, cases that are allowed:

* If a publisher creates a bulk download of all data on some schedule, and names the file according to the creation date, it is allowed for a contracting process to have a record in each bulk download.
* If a publisher has API endpoints for OCDS 1.0 and 1.1, it is allowed for a contracting process to have a recor

[2021-04-06 15:41] jpmckinney opened #1265 "Navigation: Move Governance above History"
I agree with @JachymHercher's suggestion:

[2021-04-06 22:49] jpmckinney commented on #413
Related issue is https://github.com/open-contracting/standard/issues/364

[2021-04-07 21:33] yolile opened #1266 "Include the framework agreements guidance link in multiple suppliers per award guidance"
related #1115

to do after #1123

[2021-04-08 00:25] duncandewhurst opened #1267 "Inconsistent guidance on fields without a value"
https://standard.open-contracting.org/latest/en/schema/reference/#empty-fields:

https://standard.open-contracting.org/latest/en/guidance/build/merging/#updates-and-deletions

[2021-04-08 19:50] duncandewhurst opened #1268 "Data user guide (publication policy): Add a recommendation to explain how the ocid is generated"
In the Latam bi-weekly call today we discussed two cases where multiple organizations want to publish data about the same contracting processes.

To help such organizations publish data using consistent ocids, we should add a recommendation to explain how the ocid is generated to the publication policy guidance and template.

For example, if Mexico Compranet explains how they generate the ocid the

[2021-04-09 00:41] jpmckinney commented on #827
I've updated the glossary:

* Removed the "To do" tasks:
  * Add eForms terms
  * Check if ePO has eForms mapping https://github.com/eprocurementontology/eprocurementontology/issues/257
  * Extend the glossary with relevant terms
* Cleared the "Notes" columns where updates have been made
* MAPS, UNCITRAL, EBRD, GPA are reviewed

I won't review ePO and eForms as they are too long, so I'll trust tha

[2021-04-09 00:47] jpmckinney commented on #1215
For the third bullet, could you give some examples? Once that's clearer, we can start to list which content ought to move.

[2021-04-12 22:19] #784 closed, assigned to yolile

[2021-04-14 20:44] jpmckinney commented on #1236
Deployed. FYI @duncandewhurst

[2021-04-15 15:41] ColinMaudry commented on #848
That rule also applies to cases where the releases have the same `ocid`, same `date` but different content.

They do... in the world of software. For instance two releases could be generated at the same time, each describing part of a `tender`. It's not good programming, but it's possible.

[2021-04-15 15:45] ColinMaudry commented on #848
Unless data shows that it doesn't happen, I would proceed with the change without breaking compatibility ("should").

[2021-04-15 15:49] ColinMaudry commented on #827
Since many OCDS definitions have moved in the 1.2-dev branch, we should also update them in the glossary.

[2021-04-15 19:10] jpmckinney commented on #828
To preserve the same meaning as before, change "The document can also address" to "Or, a document that addresses"

I think it is clear in context. However, it'd be good to have a consistent style guide, e.g.:

- prefer "buyer" to "procuring entity" unless the issue is specifically about the procuring entity
- when to use suppliers, tenderers, interested suppliers, invited suppliers, participants,

[2021-04-15 20:38] duncandewhurst commented on #848
I'm happy with a 'should' in the schema as long as we can include an additional check in the DRT to catch the type of error that prompted the issue.

[2021-04-15 23:19] yolile opened #1275 "Move "Linked Standards" section to Map"
Currently, the "Linked Standard" section is under [Guidance->Map->Extension](https://standard.open-contracting.org/latest/en/guidance/map/extensions/#linked-standards), however, it could have its own section under Map, and we should add an admonition on the extensions page to reference this new page

[2021-04-15 23:30] yolile opened #1276 "Add BODS reference to Linked Standards"
Mention Beneficial Ownership Data Standard in the Linked Standards section and create a worked example about the different approaches to link BODS with OCDS or including BODS data in OCDS with the [Shareholders](https://extensions.open-contracting.org/en/extensions/shareholders/master/) extension

[2021-04-18 13:39] Aut0R3V commented on #1276
@yolile I'm interested in working on this.

[2021-04-19 06:39] ColinMaudry commented on #828
I saw guidelines on how field descriptions should be written. Where was it?

[2021-04-19 08:04] ColinMaudry commented on #848
I suggest the following description for `date`, using part of the description of `id`:

[2021-04-19 08:54] ColinMaudry commented on #828
Found them: https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/style_guide.html

[2021-04-19 08:58] ColinMaudry commented on #850
@jpmckinney The description of this issue has not aged well as the style guide has grown significantly and field and code decriptions may have changed since then. Could you please update the issue description with updated examples of what needs fixing?

I assume this is the part of the style guide that is relevant today: https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/sche

[2021-04-19 16:02] jpmckinney commented on #850
I think the same high-level issues need fixing as before. I'm sure once anyone starts on the issue after reading the style guide that they will easily find problematic field/code descriptions. Finding the issues is half the work :)

[2021-04-19 17:01] aguilerapy commented on #920
Update: all these scrapers download record packages with the `packages` field:

chile_compra_bulk
chile_compra_records
mexico_nuevo_leon_records
moldova
nigeria_budeshi_records
paraguay_dncp_records
portugal_records
portugal
zambia

[2021-04-19 20:25] jpmckinney commented on #1276
Hi @Aut0R3V, if you're looking to contribute to OCDS, please have a look at our [Contributing guide](https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/contributing.html). Then, we've tagged some issues as ["quick"](https://github.com/open-contracting/standard/issues?q=is%3Aissue+is%3Aopen+label%3Aquick), which are good first issues. This particular issue is fairly comple

[2021-04-19 20:58] yolile commented on #1266
closed by #1277

[2021-04-19 20:58] #1266 closed, assigned to yolile

[2021-04-19 21:25] jpmckinney commented on #848
Okay, so the first sentence is identical to the current definition. The second sentence is based on:

That looks good to me 👍

[2021-04-19 21:57] jpmckinney commented on #828
@ColinMaudry Is this issue closed by #1280?

[2021-04-19 21:58] jpmckinney commented on #1262
Changing milestone as this can be solved in 1.1.

[2021-04-19 21:59] jpmckinney commented on #1120
@ColinMaudry Is this issue closed now that #1237 is merged?

[2021-04-19 22:00] jpmckinney commented on #1120
Nevermind, I see "Closes #1120" in the PR description.

[2021-04-19 22:00] #1120 closed, assigned to nobody

[2021-04-19 22:07] jpmckinney commented on #1245
Roles tend to be noun phrases (procuring entity), not verb phrases (invited to participate), so maybe 'invitedParticipant'?

[2021-04-20 03:25] jpmckinney commented on #1160
@JachymHercher Sounds good!

[2021-04-20 04:07] jpmckinney commented on #1188
Closed by #1229

[2021-04-20 04:07] #1188 closed, assigned to nobody

[2021-04-20 21:22] #1149 closed, assigned to JachymHercher

[2021-04-20 22:01] #1275 closed, assigned to nobody

[2021-04-22 13:12] ishubham21 commented on #1267
Hi, can I work on this issue?

[2021-04-22 13:13] ishubham21 commented on #1265
Hi, I wish to work on this issue. Can you please assign it to me?

[2021-04-22 13:16] ishubham21 commented on #1168
Hi, I would like to work on fixing this. Could you please assign it to me?

[2021-04-22 15:41] jpmckinney commented on #1265
Done - thank you, @ishubham21 !

[2021-04-23 12:45] ishubham21 commented on #1265
Hi @jpmckinney, can you help me with setting up the project?
I'm referencing this (https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/build.html) document to run it on my local machine, but I'm facing some issues.
It would be really nice if you could help by providing me some resources to get started.

Problems:
1. Getting an error with the 'make' command as spe

[2021-04-23 12:49] jpmckinney commented on #1265
What operating system do you use?

[2021-04-23 12:54] ishubham21 commented on #1265
Windows 10

[2021-04-23 13:12] jpmckinney commented on #1265
@pindec If I remember correctly, you are familiar with installing dependencies in a Windows environment?

@ishubham21 For this issue, you can make a pull request with the necessary changes without building the documentation locally. Building the documentation locally would just allow you to preview the results.

[2021-04-23 13:31] ishubham21 commented on #1265
Okay @jpmckinney, I'm doing it.
Thank you.

[2021-04-27 22:32] jpmckinney opened #1286 "itemClassificationScheme: Check URLs for Russian codelists"
The codelists were added in #387. The URLs now redirect. I can't tell if the new URLs are the correct content.

We should ask a Russian speaker to confirm.

[2021-04-28 17:38] jpmckinney opened #1288 "META: Limiting the size of the OCDS documentation"
The progress of the number of words in the documentation is:

1.1.0: 38,907
1.1.1: 35,660
1.1.2: 35,339
1.1.3: 35,581
1.1.4: 33,313
1.1.5: 53,242
current: 54,844

Adding the worked examples in 1.1.5, as expected, added a lot of words. We should consider limiting the growth of the documentation in order to:

* Keep the documentation to a size that users can still grasp
* Lower the intensity of tran

[2021-04-28 17:40] #1005 closed, assigned to nativaldezt

[2021-04-29 18:44] yolile opened #1289 "Move item.weight to its own definition"
Then this can be reused in other objects, for example, in [the medicine extension](https://github.com/open-contracting-extensions/ocds_medicine_extension)

[2021-04-30 15:27] #870 closed, assigned to nobody

[2021-05-03 17:56] jpmckinney opened #1290 "Build CSV mapping sheet as part of build, rather than via Toucan"

[2021-05-04 21:57] jpmckinney commented on #891
There are deficiencies in the lots modelling, that interacts with deficiencies in the awards/contracts modelling.

A contract object in OCDS should match as much as possible the real-world contract, so that we have the same number of contracts in OCDS as in the real world, with the same values, etc.

Now, multiple lots with distinct values can be awarded on different dates to the same supplier, an

[2021-05-05 10:37] mrshll1001 opened #1291 "Create a public process to support publishers checking extensions"
Based on [CRM #6624](https://crm.open-contracting.org/issues/6624).

We currently have an [internal process for reviewing extensions](https://docs.google.com/document/d/1bRhVVkuTPXw6acE2opKD-Yj80y0lvAsfAqDjG632nNY/edit) involving both automated and manual quality checks. With some tweaking this process could be made more suitable for the public to support publishers performing the checks on their

[2021-05-06 03:57] jpmckinney commented on #1265
Closed by https://github.com/open-contracting/standard/pull/1285

[2021-05-06 03:57] #1265 closed, assigned to ishubham21

[2021-05-06 03:58] jpmckinney commented on #1021
We can use ~~https://sphinx-inline-tabs.readthedocs.io/en/latest/~~ https://sphinx-design.readthedocs.io/en/rtd-theme/tabs.html

Ref: https://github.com/open-contracting/standard_profile_template/issues/38

[2021-05-06 03:59] jpmckinney commented on #922
Glossary is abandoned as unused.

[2021-05-06 03:59] #922 closed, assigned to nobody

[2021-05-07 03:39] duncandewhurst opened #1292 "Add a recommendation to link to HTML versions of notices"
Several implementations use OCDS releases to represent notices that are otherwise available as HTML pages. For example, Contracts Finder, Find a Tender Services, AusTender and NSW e-Tendering.

None of the above implementations include a link to the HTML page for the notice in their OCDS data. It is possible to construct the links from the values of fields in OCDS data, but none of the above imple

[2021-05-07 18:13] yolile commented on #1292
Related to #928 ?

[2021-05-08 16:51] jpmckinney commented on #790
Buyers can award multiple lots to a single supplier on different dates, and then sign a single contract. From https://github.com/open-contracting/standard/pull/1175#discussion_r628153740

In OCDS 1.1, we can't have multiple award objects referenced by a single contract object, which:

1. makes it difficult to implement the above scenario (I suppose the publisher updates an existing award object if

[2021-05-09 20:47] duncandewhurst commented on #1292
Ah yes, I hadn't seen that issue. As suggested there, I think `documents` make the most sense for this use case.

[2021-05-11 17:20] yolile opened #1295 "Incorrect manually entered award values"
In Ecuador, they have identified some cases where the awarded values, manually entered into the system by the procurement entities, are incorrect. They identified these errors by comparing the awarded values against the budget values (the budget values are connected to the budget system and filled automatically so that values are considered correct). In this case, as they know the values are incor

[2021-05-11 18:13] jpmckinney commented on #1295
Thanks for logging the issue!

If we hear of similar cases, we can consider a common approach and re-open this issue.

For now, I will tag it as a local extension and close it.

[2021-05-11 18:13] #1295 closed, assigned to nobody

[2021-05-11 19:58] JachymHercher commented on #891
To evaluate the options, e.g. the "we live with the information loss" approach, we need to have an intuition on when we can move to OCDS 2.0 to solve it. Do you have one?

I feel like "2.0" necessarily sounds like "revolution", but in practice it could be way smaller than a "1.2", as long as we propose just a limited set of changes that are not backwards compatible, but still pretty straightforwar

[2021-05-11 20:20] jpmckinney commented on #891
Yes, I think a "minimal" 2.0 is preferred to a "revolutionary" 2.0 (which would likely wait for a 3.0). I imagine a minimal 2.0 would address #866, which would require the introduction of contracting planning processes, and a solution for framework agreements, which is not so straightforward.

However, I have no estimate on when that will occur. It is likely on the scale of years.

[2021-05-14 14:31] ColinMaudry commented on #1214
With #1244 merged, the only guidance is in reference/codelists.md  and it mentions the fact that one can use their own tags:  https://github.com/open-contracting/standard/pull/1244/files#diff-d6958c79ed9293ec0b969c4db1ebbeeeeb6542bc6d2124e25b01769896e5b7fcR25

I can't think of another section in reference were we could mention this possibility.

[2021-05-14 14:31] #1214 closed, assigned to ColinMaudry

[2021-05-14 14:50] ColinMaudry commented on #828
Closed by #1280 and #1209

[2021-05-14 14:50] #828 closed, assigned to ColinMaudry

[2021-05-14 16:19] ColinMaudry commented on #1157
All the identified open codelists have been processed. OK to close @jpmckinney?

[2021-05-14 16:37] ColinMaudry commented on #901
@jpmckinney @JachymHercher Here is my proposal for `exclusionGrounds`:

I have reused wording from [eForms](https://github.com/open-contracting/standard/issues/901#issuecomment-754101413) and [GPA](https://github.com/open-contracting/standard/issues/901#issuecomment-729117243) and made it more fluid.

It doesn't mention the fact these exclusion grounds are usually defined by a ["higher administrat

[2021-05-14 16:45] ColinMaudry commented on #901
In https://www.procurementjourney.scot/route-3/develop-documents/exclusion-selection-and-award-criteria/exclusion-criteria, bankruptcy is in the "may ask" column, thus less typical than "criminal convictions". I'll update my proposal.

[2021-05-14 19:48] #1157 closed, assigned to ColinMaudry

[2021-05-17 10:14] pindec opened #1297 "Linking release reference and worked examples"
It would be helpful for people reading the [release reference](https://standard.open-contracting.org/latest/en/schema/reference/) to link to relevant [worked examples](https://standard.open-contracting.org/latest/en/guidance/map/#mapping-the-hard-cases), just as links are given to relevant extensions.

For example, in the [parties reference](https://standard.open-contracting.org/latest/en/schema/r

[2021-05-19 17:11] jpmckinney commented on #1263
Sorry - my GitHub notifications somehow became misconfigured, so I missed this issue. It was added to the doc on April 20. https://github.com/open-contracting/standard/wiki/Google-Season-of-Docs-2021-Project-Ideas/_compare/3109006849721ce10f35551afa295c337eda9aaa...1205c1be417c0c3aea6c4845e45801475532b627

[2021-05-19 17:11] #1263 closed, assigned to nobody

[2021-05-19 17:16] jpmckinney commented on #1267
@ishubham21 Sorry, my GitHub notifications had become misconfigured. Yes, you can work on this issue.

[2021-05-19 17:21] jpmckinney commented on #1297
We can create a simple Sphinx extension, where we add either Markdown frontmatter or a simple directive on the worked example, and then list the marked pages in the reference section.

Possible implementation inspiration is the example `todolist` directive: https://www.sphinx-doc.org/en/master/development/tutorials/todo.html

[2021-05-19 17:22] jpmckinney commented on #1292
For individual notices, the specific `documents` arrays make sense, since they generally fit those semantics.

For a web page whose semantics are of representing the procedure as a whole, #928 might be more appropriate.

[2021-05-19 17:35] jpmckinney commented on #1292
The question of how to link documents that span stages came up in #1228.

[2021-05-19 17:42] jpmckinney commented on #1228
As I understand, this PDF file contains information that spans multiple stages, e.g. bidders from the tender stage, contracts and purchase orders from the contracts stage, etc.

In OCDS, all the `documents` arrays are in specific stages, so this PDF file doesn't fit in any of them. If there were a top-level `documents` array, it would fit there.

In #928, the idea would be that the linked document

[2021-05-19 18:14] jpmckinney commented on #1168
Hi @ishubham21, my GitHub notifications somehow got misconfigured. Please feel free to prepare a pull request.

[2021-05-28 12:43] ColinMaudry commented on #850
Wow the style guide seems to have grown a lot, great job @jpmckinney !

[2021-05-28 15:59] odscrachel commented on #1096
Changed links I could find in general guidance text in #1299. Note that links still need changed [here](https://raw.githubusercontent.com/open-contracting/extension_registry/main/build/extensions.json) which populates the reference page via the extension_registry repo

[2021-05-28 20:07] jpmckinney commented on #1096
Thanks!

All URLs in the registry JSON file now use the Extension Explorer.

Also, Duncan's link is for OC4IDS. Please open a similar issue there if it doesn't exist yet.

[2021-05-28 20:08] #1096 closed, assigned to odscrachel

[2021-05-30 09:27] JachymHercher opened #1300 "Better Guidance/Map structure"
I think we can improve https://standard.open-contracting.org/latest/en/guidance/map/ with the following steps:
1) Remove the title and level (not the content) "Map your data to OCDS" in Guidance/Map. Semantically, the title "Map your data to OCDS" is identical to "Map" above it, which I find confusing. Furthermore, it will allow us to reduce the overall depth of the guidance/map section. The text

[2021-05-30 21:03] JachymHercher opened #1301 "Improvements/fixes to the framework guidance"
I have a few questions on the framework guidance at https://standard.open-contracting.org/latest/en/guidance/map/related_processes/

1) [x] 1) Are you sure the following is correct?

a) Isn't "with a single supplier" excessively restrictive? A contracting process under the open procedure can establish a framework agreement with multiple suppliers, in several independent scenarios: i) when winners

[2021-06-01 13:42] ColinMaudry commented on #850
@jpmckinney I have run `ocdskit schema-strict` on the the release-schema.json of dev-1.2, and it seems like many properties are missing. Shall I proceed pushing the changes or there is a reason why these properties were not added?

See https://github.com/open-contracting/standard/commit/815a5ca10f1499cbf4562d70779ea258d00aa41a

[2021-06-01 15:50] ColinMaudry commented on #850
(moved discussion about deprecating `Transaction.source` to https://github.com/open-contracting/standard/issues/1304)

[2021-06-01 15:57] ColinMaudry opened #1304 "Deprecate transaction.source"
@jpmckinney `Budget.source` was deprecated in 1.1, but not `Transaction.source`, although they have the same description. Do you know why?

`deprecated.description` for `Budget.source`:

Discussed with in https://github.com/open-contracting/standard/issues/378, but deprecating `Transaction.source` was never mentioned. @duncandewhurst is `Transaction.source` used correctly? That would explain why i

[2021-06-01 19:12] yolile commented on #1301
@JachymHercher I can answer some of your questions:

We cannot reuse the procurement method field for the second stage because "The `tender.procurementMethod` field uses the method codelist to describe the competitive conditions of the **framework agreement procedure as a whole**, not only the first stage." cc @jpmckinney

Sounds good

You are right

Makes sense

Yes, that is correct

Makes sense!

[2021-06-02 06:27] duncandewhurst commented on #1304
According to the 1.2 research, `Transaction.source` was only used by one publication: Mexico Jalisco. Unfortunately, that publication lapsed so I can't check its use of the field. I think the reason for not deprecating the field was because we hadn't seen it being widely misused. Even if one publication misused it, we would likely need more evidence of misuse to deprecate it for that reason.

[2021-06-02 20:52] duncandewhurst commented on #1301
Thanks, @JachymHercher!

I think @jpmckinney is in a better position to answer your first question, when he returns from leave next week.

I agree with @yolile's answers to your other questions.

[2021-06-03 19:09] JachymHercher commented on #1301
@yolile and @duncandewhurst - thank you!

Concerning point 2), isn't that only set by the framework guidance itself? If so, why can't we change it to e.g. "The `tender.procurementMethod` field uses the method codelist to describe the competitive conditions of the framework agreement procedure _for the given stage_ / _for the stage covered by this contracting process_."? To further clarify, we coul

[2021-06-11 14:36] jpmckinney commented on #928
More recently, we've been discussing the use case of one publication's release referring to another publication's release as canonical. This can be achieved with `links`, using `"rel": "canonical"`. However, in this case, the link would be in the context of a release, not a contracting process. Also, merging all the canonical links in a compiled release would not make sense; if a compiled release

[2021-06-14 01:52] duncandewhurst commented on #689
I agree that we should validate the demand before progressing with Option 2.

We should also consider the impact on users of tabular OCDS data, either in SQL databases or spreadsheets, for whom using a programming language's number parser and ignoring errors isn't an option.

[2021-06-14 02:05] duncandewhurst commented on #893
I haven't seen examples of the same document being duplicated across multiple arrays.

With regard to items and locations, we should consider the trade-off between reducing repetition, adding complexity for data users (joining to a top-level array), and introducing the risk of inconsistencies (between the `id` in a reference and the `id` in a top-level array).

[2021-06-14 02:19] duncandewhurst commented on #1267
To clarify, the task is to update the guidance to match the reference.

[2021-06-14 02:26] duncandewhurst commented on #1075
Strongly agree!

[2021-06-14 02:35] duncandewhurst commented on #582
I'm in favour of all of the proposed requirements. However, there is some cross-over with parts of the [schema style guide](https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/schema_style_guide.html#), so we should consider how to keep those in sync, or whether the style guide should defer to the extensions conformance section for some points.

I think so, so that titles and

[2021-06-14 02:39] duncandewhurst commented on #847
Related to https://github.com/open-contracting/standard/issues/1264

[2021-06-14 03:06] duncandewhurst commented on #834
Does this conform to the description of the `date` field in the release schema?

Arguably, taking the information in the compiled release as a whole, the date the information was first published is the date the compiled release was updated.

In which case, should we clarify the schema description as follows?

[2021-06-14 17:28] jpmckinney commented on #834
Yes. Another option:

To avoid ambiguity with respect to "last" (e.g. if some historical release were backfilled at a later date).

[2021-06-14 17:30] jpmckinney commented on #847
Merging #1264 into this issue:

The implications of this statement are unclear. For example, cases that are allowed:

* If a publisher creates a bulk download of all data on some schedule, and names the file according to the creation date, it is allowed for a contracting process to have a record in each bulk download.
* If a publisher has API endpoints for OCDS 1.0 and 1.1, it is allowed for a con

[2021-06-14 17:30] jpmckinney commented on #1264
Closing as duplicate of #847

[2021-06-14 17:30] #1264 closed, assigned to nobody

[2021-06-14 17:38] jpmckinney commented on #582
Yes, once this documentation exists, we can remove some content from the style guide and link to these docs.

This is quite an old issue. Some additional rules for extensions are expressed by the schema files for CSV codelists and extension.json files: https://github.com/open-contracting/standard-maintenance-scripts/tree/main/schema

These [tests](https://github.com/open-contracting/standard-maint

[2021-06-14 21:46] duncandewhurst commented on #834
For `id`:

I used {} notation for consistency with the description for `Organization/id`.

Potentially, this creates a conformance issue: if the publisher already uses `ocid`-`date` for release IDs, then the compiled release and the last release would share the same `id`, so it would not be unique within the scope of the contracting process. @jpmckinney what do you think?

In addition to the schem

[2021-06-14 22:33] duncandewhurst commented on #847
I suggest updating the first sentence of https://standard.open-contracting.org/staging/1.2-dev/en/schema/records_reference/ to read:

To account for old records and API methods with an "as of" argument, we might need to clarify the following requirements:

* a record must provide a list of **all the existing** OCDS releases
* the compiled release contains the **current state** of all the fields
*

[2021-06-15 00:30] duncandewhurst commented on #857
I've written a simple script, similar to `fetch_currency_codelist.py`, to fetch the media types from the CSV files on https://www.iana.org/assignments/media-types/media-types.

There's a couple of issues to address before making a PR:

**Missing values**

`Document/format` specifies the values in the IANA list's 'Template' column, which consist of the type and subtype (e.g. application/pdf), but s

[2021-06-15 00:41] duncandewhurst commented on #858
It seems like the TSV file would be the easiest to integrate: http://id.loc.gov/vocabulary/iso639-1.tsv

[2021-06-15 14:10] yolile commented on #1245
I think that 'invitedParticipant' is fine

[2021-06-15 16:32] jpmckinney commented on #857
Yes, please update the script in those ways.

FYI, all the scripts will be later consolidated into a single `manage.py` interface: https://github.com/open-contracting/standard_profile_template/issues/40

[2021-06-15 16:44] jpmckinney commented on #834
dash -> hyphen

I consider compiled releases to be grouped separately from individual releases, in terms of uniqueness. Their uniqueness rules are more like records.

Rather than the records reference page, this section of the merging page needs to be updated: https://standard.open-contracting.org/staging/1.2-dev/en/schema/merging/#merging-specification

[2021-06-15 16:47] jpmckinney commented on #847
All sounds good. I think "at the time of publication" works well.

[2021-06-16 00:35] jpmckinney commented on #1304
`Transaction.source` serves a purpose. An individual transaction might not have a unique URI, but there might still be a dataset that contains the transaction (the `source`).

`Budget.source`:

`Transaction.source`:

The field description doesn't make much sense, but there isn't a good reason to deprecate the field.

I'll change the issue to be about improving the description.

[2021-06-16 00:38] jpmckinney commented on #850
We can't make the schema more strict until 2.0 (though see also #1046).

`ocdskit schema-strict` should never be run on the standard - only on extensions.

[2021-06-16 03:38] jpmckinney commented on #1301
Okay, so there needs to be a small PR for at least 3, 4, 5, 7. For 6 there is no action.

1) [x] 1) I think we can remove this entire section. I'm not sure the following sentence is even true, which is contradicted by the bullets, which only care about the first stage:

2) @JachymHercher The current modelling is somewhat of a compromise, since ideally call-offs would be part of the same ocid/recor

[2021-06-16 04:03] jpmckinney opened #1309 "Fix markup to avoid unwanted links"
linkify automatically hyperlinks URLs. We need to:

* Add backticks around release.id in the schema
* Remove the sentence about buyandsell.gc.ca from itemClassificationScheme.csv (no other code has a similar sentence)

Once that's done, we can remove the lines in `conf.py` that ignore the auto-created links.

[2021-06-16 04:14] jpmckinney commented on #1300
Sounds good in general!

* "Working in parallel" is a single paragraph, so we can consider whether to just merge it into another section or the intro.
* We use verb clauses as heading names in the guidance pages ("Involve the right people", etc.), so we should try to follow that style for the others ("Split up the work", "Address the hard cases", "Consider extensions and linked standards").
* I th

[2021-06-17 11:39] ColinMaudry commented on #901
Closed with #1296

[2021-06-18 06:40] JachymHercher commented on #1300
Should I make a PR?

[2021-06-18 06:56] JachymHercher commented on #1301
1. Sounds good to me.
2. I agree with the "future compatibility" approach as well as avoiding the conditional semantics. My comment resulted more from a different ideal model - I imagined (without giving it much thought) that we will have multiple `Tender` blocks (one for each phase / round of competition) and so you could use `procurementMethod` in each block to describe the competitive condition

[2021-06-18 14:59] jpmckinney commented on #1301
Thinking about it:

I think the future model would have a single object for the first stage, and then an array of objects for the second stage.

The objects in each case will have many fields in common, but they will have some differences, in which case we'd have an opportunity to rename fields and/or change their description.

In a more RDF style of standard, a given keyword generally only has on

[2021-06-18 18:50] jpmckinney commented on #1300
Yes, please do :)

[2021-06-20 21:41] duncandewhurst opened #1313 "Assessing data quality: Add "Decrease the number of license restrictions""
From CRM-6998: To encourage the use of open licenses, add "Decrease the number of license restrictions" to the [access indicators](https://standard.open-contracting.org/latest/en/getting_started/quality/#access).

[2021-06-21 13:50] jpmckinney commented on #1222
CRM-7343 also has a list of opportunity types with overlapping semantics.

[2021-06-22 17:38] #1034 closed, assigned to yolile

[2021-06-22 17:39] #857 closed, assigned to duncandewhurst

[2021-06-22 21:31] #858 closed, assigned to duncandewhurst

[2021-06-23 14:19] #812 closed, assigned to yolile

[2021-06-28 00:14] duncandewhurst commented on #440
The World Bank recently published a [Guidebook for Setting-up and Operating Framework Agreements](https://documents1.worldbank.org/curated/en/958921624026529503/pdf/Guidebook-for-Setting-up-and-Operating-Framework-Agreements.pdf). From a quick scan, it mostly references familiar sources: the EU Directives, the UNCITRAL model law and   The Law and Economics of Framework Agreements book. However, it

[2021-06-28 11:26] kd-ods commented on #987
This work on adding and updating iso6523-compliant org-id lists will be picked up over the next weeks. Issues in the org-id repo relating to this work will be [tagged iso 6523](https://github.com/org-id/register/labels/ISO6523).

[2021-06-28 23:42] #833 closed, assigned to mrshll1001

[2021-06-30 17:48] #834 closed, assigned to duncandewhurst

[2021-06-30 22:24] jpmckinney commented on #1295
In the UK CRM-7381, a user can select a corporate register from a dropdown, or manually enter the register's name if it is not in the list. Since the manual entries are non-standardized, one option is to use `scheme` for dropdown entries and `schemeEntered` for manual entries. This separates data with a known issue, and makes a (narrow) semantic distinction.

[2021-07-02 16:30] kd-ods commented on #987
@duncandewhurst - I just noticed that the list of [ISO 6523 ICD values](https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/) held by the BIS e-invoicing standard now goes up to 213 (i.e. there are 4 more codes than when I first looked at this [last year](https://docs.google.com/spreadsheets/d/1qPPAOx9w4NIfrll66a0Qd2SMizoxGNRUMU6YV2rLuEE/edit#gid=1900375069)).

So:

1) I'll need to take a look a

[2021-07-06 19:22] yolile commented on #419
From https://github.com/open-contracting-archive/api-specification/issues/5#issuecomment-278967789 :

Should we close this issue and open a new one to update the [extension](https://github.com/open-contracting/api_extension/)?

[2021-07-06 21:33] jpmckinney commented on #419
~~That extension~~ The old API extension (to which that issue refers) should not be used.

And I disagree. It makes more sense to remove the constraint in the core schema.

[2021-07-06 21:43] duncandewhurst commented on #987
Sounds good! Another option for maintaining alignment is to add a step to the [deploy process](https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/deployment.html#deploying-the-documentation) to prompt the deployer to check for new codes. @jpmckinney do you have a preference?

[2021-07-07 04:05] jpmckinney commented on #987
Doing both sounds best. I’m subscribed to ISO currency announcements, for example.

[2021-07-07 08:38] pindec opened #1325 "Clarify "globally unique identifiers" example"
Two publishers have recently interpreted the [globally unique identifiers](https://standard.open-contracting.org/latest/en/schema/identifiers/#globally-unique-identifiers) worked example that uses "Two government publishers (Town A and Town B)" to mean that each *procuring entity* should have a different OCDS prefix because it refers to town-level publication.

We should update the example to clar

[2021-07-07 14:13] jpmckinney commented on #1325
Hmm, in some countries, local governments run their own procurements, in which case they would each have prefixes. In other countries, procurement is centralized, and all procurements are reported to/run through a central system, in which case there would only be one prefix in such countries.

We can change the words, but it then might cause local governments in the first scenario to think that pr

[2021-07-07 17:59] pindec commented on #1325
Ah, yes, good point. Should we therefore:
1. Make the worked example cover both scenarios:
 * clarify that the Town A / Town B example applies where local governments run their own procurements
 * add a brief example to cover the centralised case.
2. Also note both your points that:
  * OCID prefixes are related to the publication, not related to the organizations it covers; and
  * no publisher n

[2021-07-07 19:00] jpmckinney commented on #1325
Instead of adding another example and giving the user more to read, we can update and clarify the current example. The scenario can be more specific, e.g. a named country with a named state/province. We would add a sentence to explain that the country and province operate independently; they do not use a centralized system. Then the rest of the worked example is essentially the same.

Then, when m

[2021-07-08 00:29] duncandewhurst commented on #987
I've emailed Farance at the address listed on https://www.iso.org/organization/270240.html

[2021-07-08 22:44] duncandewhurst opened #1327 "Merge the pagination extension"
Creating a new issue for this comment from #928 since the main topic of that issue will be addressed separately:

_Originally posted by @jpmckinney in https://github.com/open-contracting/standard/issues/928#issuecomment-660284323_

[2021-07-09 00:36] duncandewhurst commented on #896
Can we narrow the semantics of a field like this in a minor version? Currently, if `tender.status` is 'planning', then `tender.value` means 'cost estimate', the pre-tender estimated value of the contracting process (see https://github.com/open-contracting/standard/issues/914).

[2021-07-09 02:02] duncandewhurst commented on #914
I reviewed the field and code descriptions on the `1.2-dev` branch to identify conditional semantics.

**Tender section**
The following codes modify the semantics of the `tender` section:

Codelist | Code | Title | Description
-- | -- | -- | --
releaseTag.csv | planning | Planning | A contracting process is proposed or planned. Information in the tender section describes the proposed process. The

[2021-07-09 21:24] #1276 closed, assigned to yolile

[2021-07-09 21:52] jpmckinney commented on #896
#866 disambiguates "contracting planning process" from "contracting process", as their conflation creates a lot of challenges, and we also know that if disclosure truly begins at the planning stage, then it is unlikely that the process continues through the other stages without potentially splitting into multiple procedures, being redefined, etc.

With that distinction, `tender.value` will have di

[2021-07-09 22:02] jpmckinney commented on #914
Thanks for the analysis!

For `tender.value`, if the new guidance is to disclose planning information under a different OCID than the procurement procedure per #866 (though I presume it's also okay to retroactively disclose planning information once a procurement procedure has started under one same OCID), then the semantics would be consistent in the context of a given OCID, and the value would n

[2021-07-11 20:08] JachymHercher commented on #914
The current conclusion of https://github.com/open-contracting/standard/issues/866#issuecomment-751683275 (also discussed in a few comments above that) is that it is not, i.e. when publishing planning information, you _always_ must do it under a new planning process, even if it is retrospective. If we stick to that (I believe we should), then I think we wouldn't need a new field.
____

Second reaso

[2021-07-11 20:09] JachymHercher commented on #896
While the semantics of `tender.value` are slighly different depending on whether `tender.status` is 'planning'/'planned' or 'active', the current definition aims to be agnostic to it. "As estimated when publishing the tender information" refers only to the tender block, which will be present in any planning process or contracting process. The purpose of the addition is just to differentiate it fro

[2021-07-11 23:32] duncandewhurst commented on #896
Ah, I see. I missed the intentional ambiguity of 'publishing the tender information', which I interpreted as publishing a tender notice. It might be best to add the clarification to the description of `tender` rather than to its individual properties. I'll add a note to #1154.

[2021-07-11 23:33] duncandewhurst commented on #914
If planning information must always be disclosed under a separate planning process, then I agree that there's no need to add a field to preserve the pre-tender estimate for `tender.value`.

Based on OCP's procurement indicators, no. However, presumably, this issue was prompted by a use case for separating the concepts, so this might be a topic for consultation/further research if retroactive discl

[2021-07-11 23:38] duncandewhurst commented on #1154
I think it would be helpful to explicitly state in the description of `tender` that it can be used in either a planning process or a contracting process and that its properties should be interpreted as such. We can give the different interpretations of `tender.value` discussed in #914 as an example.

[2021-07-12 17:55] jpmckinney commented on #914
Aha, yes, happy to stick to that. That way, there is only one way to disclose the pre-tender estimate, rather than two.

[2021-07-12 18:03] #847 closed, assigned to duncandewhurst

[2021-07-13 02:25] duncandewhurst commented on #764
The topic of suspended contracts came up again in Nigeria, so it would be good to mention this somewhere in the 1.2 docs, now that the Status Details extension has been merged into the schema.

[2021-07-13 13:47] jpmckinney commented on #764
@duncandewhurst Can you create a new, specific issue? This issue was about adding the fields, which is complete.

[2021-07-13 13:51] jpmckinney commented on #764
Comments relevant to a worked example or other documentation:

https://github.com/open-contracting/standard/issues/430#issuecomment-660405607

All comments in https://github.com/open-contracting/standard/issues/758

[2021-07-13 13:52] jpmckinney commented on #758
Re-opening this issue to be about a worked example or other documentation. Another relevant comment is https://github.com/open-contracting/standard/issues/430#issuecomment-660405607

[2021-07-13 13:53] jpmckinney commented on #764
I've re-opened #758 instead.

[2021-07-13 13:53] #764 closed, assigned to ColinMaudry

[2021-07-13 13:54] jpmckinney commented on #758
For OCDS 1.1, if desired, we can add more docs to the status details extension.

[2021-07-13 15:29] JachymHercher commented on #914
The scenario "challenge leads to a delay" seems totally realistic. I'm not sure what the solution is - besides telling people "if you're analyzing modifications, you need to go through individual releases".

[2021-07-13 16:40] JachymHercher commented on #1300
PR ready. Compared to the discussion here, it proposes the following (cosmetic) changes:
- Address the hard cases --> Deal with the hard cases
- Extensions --> Consider using extensions
- Linked standards --> Link OCDS with other standards
- Wrapping up --> Wrap up

additionally, I proposed changing a couple of words in the text.

As you suggested, I moved working in parallel into the intro.

[2021-07-13 20:27] duncandewhurst commented on #764
Great, thanks!

[2021-07-14 02:27] duncandewhurst commented on #758
Sounds good. I'll draft an example that we can use in both places.

[2021-07-14 17:10] JachymHercher opened #1333 "Better Guidance/Map/*/Mapping the hard cases structure"
The introduction of the planning process and changes in the definitions of the contracting process (https://github.com/open-contracting/standard/issues/866), contracts (https://github.com/open-contracting/standard/issues/896), awards (https://github.com/open-contracting/standard/issues/895) as well as the stages of the contracting process (https://github.com/open-contracting/standard/issues/1160)

[2021-07-15 10:47] kd-ods commented on #987
Just noting here that I'm going to keep this [research list](https://docs.google.com/spreadsheets/d/1qPPAOx9w4NIfrll66a0Qd2SMizoxGNRUMU6YV2rLuEE/edit#gid=1900375069) updated until we decide otherwise. My tasks for the moment are:

- ~~Adding the 4 new ICDs I spotted~~ - DONE
- ~~Reviewing those 4 new ICDs to determine if new org-id entries should be added~~
- ~~Opening org-id tickets for any new e

[2021-07-16 19:15] jpmckinney commented on #988
Perhaps a more relevant reference: https://www.investopedia.com/terms/v/valuedate.asp

[2021-07-16 19:35] jpmckinney commented on #988
In OCDS we have values in budget, tender, award, contract, transaction, and unit (which it itself used in the items of tender, awards, and contracts).

For awards (and award items) and transactions, we have `awards.date` and `transactions.date`. For tender (and tender items), we will have `datePublished` #892. I'm not aware of a scenario in which these values would change (except to make a correct

[2021-07-16 19:35] #988 closed, assigned to yolile

[2021-07-16 19:49] jpmckinney commented on #1333
As discussed on our call, I agree with the proposed changes. In a later PR, we will revisit unsuccessful tenders, as it spends too much time describing a contracting process, which should probably be explained elsewhere (not in a worked example).

[2021-07-16 21:12] yolile opened #1340 "documentation: </div> in releases_and_records.md"
That file has a closing div without any obvious reason
https://github.com/open-contracting/standard/blob/b3d0ae8a30e409f3ae8235caea5b52b8f0a604e1/docs/getting_started/releases_and_records.md#L104

[2021-07-16 21:50] #1340 closed, assigned to nobody

[2021-07-17 14:55] JachymHercher commented on #866
The PR is pretty much ready. The updates to the guidance assume that https://github.com/open-contracting/standard/issues/1300 and https://github.com/open-contracting/standard/issues/1333 are part of 1.2, which is not currently the case, but that shouldn't hopefully cause major problems. Few new issues below:

4. The first two sentences of the contracting process definition agreed above are "All th

[2021-07-17 15:05] JachymHercher opened #1342 "Pre-qualification guidance notes"
In https://standard.open-contracting.org/latest/en/guidance/map/pre-qualification/, one of the notes says

while another one says

I think the former is correct and consequently the latter would be more comprehensive if it said:

[2021-07-17 19:45] JachymHercher commented on #1160
*@jpmckinney moved this to #1385*

[2021-07-19 18:24] #892 closed, assigned to duncandewhurst

[2021-07-19 18:30] #920 closed, assigned to yolile

[2021-07-21 18:15] jpmckinney opened #1343 "Clarify unit description"
Current:

From the research for the medicine extension, ISO-11240 (Health informatics — Identification of medicinal products — Data elements and structures for the unique identification and exchange of units of measurement) notes:

In the current description, we only give units of measurement as examples. We also use "unit(s) of measure" in the description of the unit's `scheme` and `uri`.

Howeve

[2021-07-21 18:18] jpmckinney commented on #1127
Noting that UCUM came up in the context of the medicine extension.  UCUM is more like a standard way to specify units (e.g. "kg/l" not "kg per L" etc.), than a full list of units:

For one list, see https://github.com/lhncbc/ucum-lhc/blob/master/data/ucum.csv linked from https://ucum.nlm.nih.gov/ucum-lhc/demo.html  linked from https://ucum.org/trac

[2021-07-21 18:27] jpmckinney commented on #1127
Another potential scheme to add is [international unit (IU)](https://en.wikipedia.org/wiki/International_unit) / [WHO international reference preparations](https://www.who.int/teams/health-product-and-policy-standards/standards-and-specifications/catalogue).

[2021-07-24 15:30] jpmckinney commented on #1142
If we add this field, we might want to add a worked example similar to #1344 in which an award is challenged during a standstill period. Whether we just need `statusDetails` or a new status code is to be determined.

[2021-07-24 15:35] jpmckinney commented on #1342
+1 Easy fix :)

[2021-07-26 21:18] jpmckinney commented on #614
In #1302, the page is renamed to "user needs".

[2021-07-26 22:15] jpmckinney commented on #1160
~~ACTION ITEM: Update `docs/primer/how.md` based on this issue (e.g. https://github.com/open-contracting/standard/issues/1160#issuecomment-792348486).~~ *Added to linked comment*

[2021-07-27 09:58] JachymHercher commented on #1160
In my comment above, I've clarified that bid submission falls into the tender stage and not the award stage, as discussed above. Furthermore, I've added alternative wordings and clearer identification of which blocks, fields and codes should change. The comment now covers answers to questions 1-3 in https://github.com/open-contracting/standard/issues/1160#issuecomment-792348486.

[2021-07-27 12:58] JachymHercher commented on #1160
The changes proposed to the [block]Status codelists are listed in the table below. I've introduced the changes discussed above (update cancelled/unsuccessful), standardized the wording and added examples from the eForms' codelist. Furthermore, I suggest the following changes not discussed above:
1. Remove 'planning' from `tender.status`. As far as I can see, this code only duplicates `releaseTag`

[2021-07-27 20:07] jpmckinney opened #1346 "Content usability review"
Common content usability problems include (which may or may not exist in the docs):

* Not cutting to the chase, e.g. burying the lede
* Not providing enough context or examples
* Wrong information at the wrong time (e.g. too much detail too early)
* Unclear labels or too little sign-posting for unfamiliar users (i.e. need clearer menu options and headings)
* Inappropriate content for certain user

[2021-07-27 22:50] jpmckinney opened #1347 "Eliminate language of "building blocks""
The new Primer explains the concept of the "schema" – a term we use frequently. "Building blocks" is not very helpful, because:

1. It is a metaphor for an abstract concept (sub-schema). Using familiar words in a metaphorical sense to describe an abstract concept just adds another layer of abstraction and is harder to understand.
2. Having learned the term "schema", the term "sub-schema" is much e

[2021-07-27 22:58] jpmckinney opened #1348 "Add example data to schema reference"
For example, these short snippets of common objects:

https://github.com/open-contracting/standard/blob/f73f4c9/docs/getting_started/building_blocks.md#examples

[2021-07-28 06:52] JachymHercher commented on #891
I think "live with the information loss" is the right approach, mainly because no user has complained so far, just me. The likely reason is that the described case is not that common.

That being said, I would "vote" for an OCDS 2.0 sooner rather than later. For example, in the EU, eForms should be usable from November 2022 and mandatory from October 2023. Since they allow the described case, its

[2021-07-28 09:50] JachymHercher commented on #1159
This issue should be resolved by https://github.com/open-contracting/standard/pull/1216, which splits the unsuccessful tenders into map/contracting_planning_processes and map/unsuccessful_processes.

[2021-07-28 12:04] JachymHercher commented on #896
On second thought, having a single award actually doesn't work:
1) FAs in OCDS are both closed and open. In case of open ones, the decision to add new suppliers can happen later on, so it needs a separate award with a separate date. Similarly, the later awards may have a different maximum value, because some of the money might have already been spent.
2) A similar, if smaller, issue also applies f

[2021-07-28 12:12] JachymHercher commented on #895
I have updated the PR, it is ready for review. Changes:
1) Renamed this issue from "awards" to "award", as the discussion here concentrates since the beginning on `award`. Rewording `Awards` is discussed in https://github.com/open-contracting/standard/issues/1160#issuecomment-881950573.
2) Removed "(including only being implicitly covered by the contract)" and wrong use of normative language, as p

[2021-07-28 13:42] JachymHercher opened #1349 "Field order across award and contract, possibly elsewhere"
`award` and `contract` have very similarly ordered fields (e.g. they start with `title`, `description`, `status`.) The exception to that pattern are `award.date` (5th position) and `award.contractPeriod` (9th) vs. `contract.Period` (6th) and `contract.dateSigned` (9th). Here, the semantically similar fields (award date and signature date; contract period and period) are in opposite places. For eas

[2021-07-28 13:42] JachymHercher opened #1350 "releaseTag: 'awardAmendment' maybe missing"
_/ This issue is a detail, definitely not a priority. Noting it down just because I stumbled upon it when thinking about other things. /_

https://standard.open-contracting.org/latest/en/guidance/map/amendments/#contract-amendment explains that amendments to contracts are done via releases with `tag` having the code 'contractAmendment' and using the `Contracts` block. The `Awards` block is not use

[2021-07-28 15:38] JachymHercher commented on #1154
https://github.com/open-contracting/standard/issues/1160#issuecomment-881950573 proposes a description of `tender` that explicitly mentions that it can be used within two different types of processes (and gives value as an example, of sorts).

[2021-07-28 16:29] jpmckinney commented on #1349
This change is fine, as it has no impact on the data.

I agree that grouping and ordering fields in a logical order is better - across the whole schema.

[2021-07-28 17:44] jpmckinney opened #1351 "Check alt text on all images"
Image notation is: `![alt text](url)`

Search with: `_static/(png|svg)`

Right now, most alt text is not descriptive for screen readers.

We should check the best practice for when the image is not doing anything besides emphasizing the text.

[2021-07-29 08:21] JachymHercher commented on #1301
Few more points:

7. [x] 7) I think the beginning would be slightly easier to read if it had a heading, just under the top level one, saying ~"Definition of framework agreement" and then above "Framework agreements can be open or closed:" saying "Types of framework agreements".
8. [x] 8) Nitpicking1: Wouldn't https://standard.open-contracting.org/latest/en/_images/framework_agreement_types.png per

[2021-07-29 08:56] JachymHercher commented on #1301
12. In the "Common operations" section on "Add an award, contract and supplier" shouldn't we add the following in the middle of the existing sentence: "Populate, __in particular,__ the `award`'s  __and `contract`'s__ `.value`, `.contractPeriod` __/`.period`__ and `.items` with the initial contract value, period and items.", because the first bullet of the section speaks about both `award` and `con

[2021-07-29 09:12] JachymHercher commented on #896
The PR is ready for review. The outstanding issues have been resolved in the following way:
___

Status quo: there is https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts_buyers_suppliers/ which contains various examples (that should be better linked to the text), including https://standard.open-contracting.org/latest/en/guidance/map/related_processes/, https://standard.op

[2021-07-29 10:00] JachymHercher commented on #909
That is my understanding as well.

___

In the EU, beyond framework agreements and dynamic purchasing systems, the GPA's multi-use lists are also implemented as "qualification systems" under the sectoral procurement Directive (see Art. 77 of Directive 2014/25/EU). This is the closest to the GPA approach, in the sense that a single qualification system can then lead to many procedures. In practice,

[2021-07-29 11:59] JachymHercher commented on #903
"Open Contracting Releases are used for contracts in public procurement (incl. design contests), concessions, public-private partnerships, government asset sales and other contexts."

Done in https://github.com/open-contracting/standard/pull/1216/commits/76413ea692092275b0508a20fc9c1e775253fb01.
___

Done in https://github.com/open-contracting/standard/pull/1208/commits/e93fe10f61e27fb692321d9ddb0

[2021-07-29 13:55] JachymHercher commented on #1173
The PR is ready. I have replaced the following terms with "organization" or "organizations": "party" (but not "counter-party", "third party"), "parties" (but not when referencing to `parties`), "entity" (but not 'procuringEntity', "legal entity", "public entity"), "entities", and "body".  I have also occasionally removed wording such as `organization.description`'s "_A common name for this organiz

[2021-07-29 14:13] JachymHercher commented on #1230
The PR is ready. Besides the above, I also searched for "tender submission" which returned a couple more occurrences. ("submitting a tender" and "submission of a tender" did not).

[2021-07-29 14:52] JachymHercher commented on #1349
I skimmed the schema and didn't notice any other ordering issues. I'll prepare the mini-PR.

The only other question I have concerns fields such as `tender.procuringEntity`, `tender.tenderers`, `.buyer`. My take was that now that we have `parties`, the use of these fields could effectively be discouraged, e.g. by putting them at the end of their relevant sections. However, as far as I'm aware they

[2021-07-29 18:06] jpmckinney commented on #1349
They persist for a few (potential) reasons.

1. Arrays. For an award, we need to be able to point to a supplier – unlike procuring entity and buyer, which can simply be listed in the parties array without ambiguity, as they relate to the entire procedure.
1. Forwards compatibility. An application that understood OCDS 1.0 can accept OCDS 1.1 data and still extract the names and IDs of parties (but

[2021-07-29 18:08] #1349 closed, assigned to JachymHercher

[2021-07-29 18:56] JachymHercher commented on #1349
Ahh, right. Especially 1) is interesting and requires plenty of thinking: similar use cases as for suppliers could probably also be for buyers/procuringEntities that would be buying only some lots (or items?); interaction with lots in general; what happens if there can be multiple `tender` blocks in the future... plenty of fish to fry, thanks.

[2021-07-29 22:07] jpmckinney commented on #1230
I've checked for `a tender\b(?! (process|release))|submi(\S+ ){1,10}tender(?!er)|tender submi` across extensions and fixed a few instances.

[2021-07-29 22:21] #1230 closed, assigned to JachymHercher

[2021-07-29 23:05] #1342 closed, assigned to JachymHercher

[2021-07-29 23:56] #1333 closed, assigned to JachymHercher

[2021-07-29 23:56] #1300 closed, assigned to JachymHercher

[2021-07-30 00:10] jpmckinney commented on #1350
I suppose a contract management system would track such changes, but it is less common for a procurement system to do so. (Of course, if the procurement system is end-to-end, then there is no distinction.)

If it is just a name change, then the entity has not changed, and so just the party name (and reference name) should be updated (if at all – the organization identifier would still function as

[2021-07-30 00:10] #1350 closed, assigned to nobody

[2021-07-30 00:12] jpmckinney commented on #1301
These sound reasonable to me after a quick read. I'll let @yolile decide whether to make part of #1332 (if not, need to edit the PR description to not say "closes #1301")

[2021-07-30 03:22] jpmckinney commented on #1301
@JachymHercher Is there anything in https://github.com/open-contracting/standard/issues/896#issuecomment-888948114 that is not mentioned here? Perhaps something that is OCDS 1.2-specific? If so, please create an issue to update the framework agreement guidance for 1.2.

**Update:** Re-reading that comment, I assume the fields introduced in 1.2 will not be used in this PR, so I will create that new

[2021-07-30 03:29] jpmckinney commented on #896
I think in all cases when we say "value of the framework agreement" we mean "…, as a whole". I've added that in the PR.

[2021-07-30 03:33] jpmckinney opened #1358 "Worked example: Update framework agreement guidance to use OCDS 1.2 fields"
@JachymHercher wrote the following in https://github.com/open-contracting/standard/issues/896#issuecomment-888948114

This should only be done once the OCDS 1.1 guidance is finalized in #1301, to avoid merge conflicts between OCDS 1.1 and OCDS 1.2 development.

----

I think the following changes should be made in https://standard.open-contracting.org/latest/en/guidance/map/related_processes/. The

[2021-07-30 03:33] jpmckinney commented on #896
I have renamed the issue to use "Contract" – though GItHub issues have no normative weight.

[2021-07-30 04:02] jpmckinney commented on #896
I believe this is closed by #1208. #1358 is opened as follow-up. Thank you for the great work!

[2021-07-30 04:04] jpmckinney commented on #909
Is a qualification system like a "supplier list"? e.g. I know many procuring entities that create lists of "authorized suppliers" with whom buyers can contract with much lower procedural overhead.

[2021-07-30 04:05] #896 closed, assigned to JachymHercher

[2021-07-30 05:13] jpmckinney commented on #866
4. I am happy with (a), as it reuses a term already in the schema (implementation). Indeed, the purpose is to implement contracts, not only conclude/sign them.
5.
    * Why would we need a new identifier field for planning processes? Could the same field not be used to identify either contracting processes or planning processes?
    * Regarding the linked data approach with individual nodes/object

[2021-07-30 05:24] jpmckinney commented on #821
Also, we should remove/replace all mentions of "initiation" in the documentation. Except for the codelist, all of these occur in non-normative text, so that change can be done in a 1.1 pull request.

[2021-07-30 05:34] jpmckinney commented on #1217
I'm not clear on the distinction made by "general guidance", so I'll mention some specific guidance here.

From https://github.com/open-contracting/standard/issues/866#issuecomment-754939713:

* While adopting "planning processes" is optional, we can describe what sorts of changes a publisher would have to make. There is, of course, the separation/re-mapping of a 1.1 process into a 1.2 contracting

[2021-07-30 05:35] jpmckinney commented on #866
To be clear, we don't need to do anything more for "when/how to create planning processes vs. contracting processes"? Sounds good. For the second one, I added a comment here: https://github.com/open-contracting/standard/issues/1217#issuecomment-889640929

[2021-07-30 06:29] jpmckinney commented on #1159
Agreed. Okay to close after #1216.

[2021-07-30 06:29] jpmckinney commented on #903
Agreed. Okay to close after #1216.

[2021-07-30 10:43] JachymHercher commented on #866
I think it could, I understood your comment at the end of https://github.com/open-contracting/standard/issues/866#issuecomment-726406019 ("I prefer option 1") as going for separate fields. If that is not the case, this implies some minor drafting changes, along the lines of https://github.com/open-contracting/standard/issues/866#issuecomment-723496092. Maybe we just misunderstood each other.

(The

[2021-07-30 15:39] JachymHercher commented on #866
@yolile https://github.com/open-contracting/standard/pull/1216/commits/1d743268711577225dfc7abdd62baf1ec5d1e5af looks good!

[2021-07-30 15:46] yolile commented on #866
@JachymHercher great, and for the planning identifier, remember that we will add that in #1335 (where I will use the "planning process" term)

[2021-07-30 16:07] jpmckinney commented on #866
Aha, option 1 refers to the first of these two options for the OCID description:

I think I was less sensitive to the "Furthermore" construction, but I see its utility now. I might restore it in the PR.

If we were starting fresh, we would have separate schema for contracting processes and planning processes, and we would not need the longer, mixed descriptions for ocid.

I'm not sure whether it's

[2021-07-30 16:09] jpmckinney commented on #866
All that said, I think the "minor drafting changes" you refer to are just the differences between options 1 and 2 for the ocid field? If so, then I'm happy to just restore option 1 in the PR.

[2021-07-30 17:58] jpmckinney opened #1362 "Update guidance related to the planning stage/process for OCDS 1.2"
Changes that can be made in 1.1 (to avoid conflicts):

* [x] Update the unsuccessful processes worked example to have one ocid for the planning stage, another for the unsuccessful tender, and a third for the successful tender.
   For the third ocid, we can either have two entries in the related process array, for the unsuccessful tender and the planning process, or we can just have one for the uns

[2021-07-30 19:27] #1159 closed, assigned to nobody

[2021-07-30 19:28] #903 closed, assigned to JachymHercher

[2021-07-30 19:51] yolile commented on #1301
We have the "Addition of a supplier to a framework agreement" section https://standard.open-contracting.org/latest/en/guidance/map/related_processes/#addition-of-a-supplier-to-a-framework-agreement that is equivalent to "Award of the framework agreement ", do you want to rename it?

That section is not just for open FAs, see the last bullet: "If no further suppliers will be added to the framework

[2021-07-30 20:04] yolile commented on #1301
If I remember correctly the recommendation is to use the original values, items and period only in the award section, and only if it is later updated populate the contract section with the new values, see https://standard.open-contracting.org/latest/en/guidance/map/related_processes/#updating-the-contract-value-period-or-items

[2021-07-30 21:11] #924 closed, assigned to yolile

[2021-07-31 05:27] jpmckinney commented on #1211
Packaging will be heavily de-emphasized in OCDS 1.2 #1084, so it is not worth the effort to add a worked example.

[2021-07-31 05:27] #1211 closed, assigned to nobody

[2021-07-31 05:31] jpmckinney commented on #1212
Abandoned in favor of simply updating the resource that we link to from the docs for mapping codelists: https://www.open-contracting.org/resources/ocds-1-1-codelist-mapping-template-guidance/ See CRM-7491

[2021-07-31 05:31] #1212 closed, assigned to nobody

[2021-07-31 05:34] jpmckinney commented on #754
Duplicate #1212

[2021-07-31 05:34] #754 closed, assigned to nobody

[2021-07-31 05:41] jpmckinney commented on #891
@ColinMaudry Is already working on eForms-OCDS. At any rate, we can't do 2.0 until we do 1.2; we'd need at least twice as many people to do both at once. We've tried to find experts to work on this, and they are very few.

[2021-07-31 05:51] jpmckinney commented on #1160
@JachymHercher I think at this point the issue covers:

* i) Change descriptions of all fields relating to contracting stages
* ii) Change descriptions of all release tag codes
* iii) Change all status codelists

Is there any way to deal one these separately, or must they be done all at once?

[2021-07-31 16:47] jpmckinney opened #1364 "Example: Minimal updates in change history"
#1302 rewrites the Getting Started section as a Primer, which included removing the "Repeating previous information" section from the previous version of the Releases and Records page, accessible here: https://github.com/open-contracting/standard/blob/106f4c4/docs/getting_started/releases_and_records.md#repeating-previous-information

This content should be re-introduced as a worked example.

[2021-07-31 17:35] #614 closed, assigned to nobody

[2021-07-31 17:35] #1239 closed, assigned to nobody

[2021-07-31 21:09] jpmckinney opened #1366 "Add link to data registry after launch"
For the Primer, we can add it to either:

1. In this paragraph on the Primer landing page as a part of the "other relevant resources."

2. in the last paragraph on the "What is OCDS and why use it?" page as a part of the list of who is using OCDS starting with the phrase, "More than 50 countries..."

[2021-07-31 22:45] jpmckinney opened #1367 "Re-implement translation notes"
ci.yml used to include:

[code]

However, I noticed a bug a few weeks ago. If a page was moved in the English version, there would be a broken link in a translated version – because the command downloads the last fully translated text, which still contains the old URL.

Instead, the insertion of notes should be performed during the Sphinx build. There is no way to use the last fully translated tex

[2021-08-02 16:24] JachymHercher commented on #1301
* [x] Ahhh, right. Honestly, I'm not sure, it might have been just my misunderstanding. Now that you've explained it, it does seem very obvious. What confused me is that I read "add", as ["add to something"](https://www.oxfordlearnersdictionaries.com/definition/english/add-to), not "add to nothing". What about "First-stage selection of suppliers for the framework agreement" or "First-stage selecti

[2021-08-02 16:50] JachymHercher commented on #1160
My impression is that ii) should be very much based on i) (if not identical) so I would deal with them together. iii), which was the original subject of this issue, requires i) and ii) to be clear, but can be dealt with separately.

I can create another issue, go through this thread and put i) and ii) there (I should have done that instead of writing https://github.com/open-contracting/standard/is

[2021-08-02 16:51] yolile commented on #1301
"First-stage selection and addition of suppliers for the framework agreement" sounds good!

Hmm, see the current guidance at https://standard.open-contracting.org/1.1/en/guidance/map/awards_contracts/#id1. Maybe we can start another PR/issue for this one so we can merge the other fixes already and discuss this one more.

And are you ok with deleting the image?

[2021-08-02 21:48] duncandewhurst opened #1370 "Primer feedback"
Great to see that the Primer is live. I noticed a few issues from a quick read-through. Some are readability/copy-editing issues, some are more substantive. Happy to do a more detailed review, if that would be helpful.

https://standard.open-contracting.org/latest/en/primer/

* [x] Paragraph 1 - the bullet points mix 'OCDS' and 'the OCDS'
* [x] Paragraph 2 & 3 - repetition of 'detailed documentati

[2021-08-02 23:20] duncandewhurst opened #1371 "Basic publication criteria (Asessing data quality) orphaned"
With the release of the primer, it seems like the [Assessing data quality page](https://standard.open-contracting.org/latest/en/guidance/publish/quality//#assessing-data-quality) has been orphaned.

I can still find the page via [a search](https://standard.open-contracting.org/latest/en/search/?q=quality&check_keywords=yes&area=default). However, it doesn't seem to be indexed/linked from anywhere

[2021-08-03 00:10] yolile commented on #1371
It is now under Guidance->Publish->Perform final checks->Assessing data quality:
https://standard.open-contracting.org/latest/en/guidance/publish/quality/#assessing-data-quality

(It seems that the link you shared has an extra /, maybe this is why it is not being rendered correctly)

[2021-08-03 00:17] duncandewhurst commented on #1371
Great, thanks,

The link I shared is the one returned by the search: https://standard.open-contracting.org/latest/en/search/?q=quality&check_keywords=yes&area=default (first result)

It's also the link you get redirected to if you follow the old link to the page: https://standard.open-contracting.org/latest/en/getting_started/quality/#basic-criteria

[2021-08-03 00:21] yolile commented on #1371
Hmm interesting, maybe there is a bug indeed but in the redirection from the old pages! I will take a look at it tomorrow, thanks for reporting!

[2021-08-03 02:49] duncandewhurst commented on #758
Closed by https://github.com/open-contracting/standard/pull/1344

[2021-08-03 02:49] #758 closed, assigned to duncandewhurst

[2021-08-03 08:29] mrshll1001 commented on #1370
I had a peek at this as well and have some readability feedback which shouldn't be too heavy in most parts:

https://standard.open-contracting.org/latest/en/primer/what/

The final point reads a bit off, as Data Standards in the abstract tends to be pluralised. In the subsequent bullet points, we also pluralise it. I would change the sentence to read *"There are three concepts behind the OCDS: Ope

[2021-08-03 15:11] jpmckinney commented on #1371
The redirection from the old URL is fixed. To fix a 404 reported in [this comment](https://docs.google.com/document/d/1fFe_WbIQnrMrvZiHt7_yHroR7ffkns5ypRJvUmcrgHk/edit?disco=AAAANf5eAWY) (caused by the WBG omitting a trailing slash in a PDF at http://www.eprocurementtoolkit.org), I had removed a slash from the pattern, but this then caused double slashes to appear, causing CSS to not load.

[2021-08-03 15:12] #1371 closed, assigned to nobody

[2021-08-03 15:22] jpmckinney opened #1373 "Update CI and deploy-docs.sh to index latest branch (or search.js to search correct index)"
To simplify deployment, the `latest` branch is a symlink to the most recent live branch (`1.1` for OCDS).

However, `deploy-docs.sh` only indexes the branch being deployed, and so the `latest` index is now stale.

The options are to either update the `latest` index during deployment, or change `search.js` to use the live branch's index.

[2021-08-03 20:25] yolile commented on #1128
That URL requires a user account, should we use it anyway?

[2021-08-03 20:46] JachymHercher commented on #1301
Sounds good! I'll have a look at the Award / Contract and open an issue, if necessary.

I don't have a strong opinion on the image. Since the page is quite heavy and technical, I think starting with a very clear image is not a bad idea, so a slight preference for keeping it, but up to you.

[2021-08-04 02:41] duncandewhurst opened #1379 "Guidance suggestions"
Whilst reviewing the publisher checklist in CRM-3919, I noticed a few areas in which we could improve or add to the implementation guidance:

1. [Split up the work](https://standard.open-contracting.org/latest/en/guidance/map/#split-up-the-work): Rename to **Complete your mapping** or **Document your mapping**. Otherwise, we have a step for completing the technical assessment ([Identify your data

[2021-08-04 14:26] yolile commented on #1199
Closed by #1378

[2021-08-04 14:26] #1199 closed, assigned to nobody

[2021-08-04 14:27] yolile commented on #1267
closed by #1375

[2021-08-04 14:27] #1267 closed, assigned to nobody

[2021-08-05 18:26] yolile commented on #1196
closed by #1377

[2021-08-05 18:26] #1196 closed, assigned to nobody

[2021-08-09 14:25] jpmckinney commented on #860
For debarments (though this issue is about performance ratings - we just don't have a dedicated issue for debarments that I can find - #901 is related re: the exclusion grounds), the WBG recently published a Global Suspension & Debarment Directory: https://www.worldbank.org/en/about/unit/sanctions-system/osd/brief/exclusion-survey

[2021-08-09 18:31] jpmckinney commented on #1038
Although this can be done in a 1.1.6, I think we will freeze 1.1, and only make changes in 1.2.0.

[2021-08-09 18:32] jpmckinney commented on #1052
Although this can be done in a 1.1.6, I think we will freeze 1.1, and only make changes in 1.2.0.

[2021-08-09 18:32] jpmckinney commented on #1064
Although this can be done in a 1.1.6, I think we will freeze 1.1, and only make changes in 1.2.0.

[2021-08-09 18:32] jpmckinney commented on #1117
Although this can be done in a 1.1.6, I think we will freeze 1.1, and only make changes in 1.2.0.

[2021-08-10 01:22] jpmckinney commented on #1128
Well, it was working without login before 😆 . The current link is for version 1.0.0, which is very old. They seem to only have versioned links. We can just link to http://qudt.org instead.

[2021-08-10 18:40] yolile commented on #419
closed by #1374

[2021-08-10 18:40] #419 closed, assigned to nobody

[2021-08-10 18:40] yolile commented on #1052
closed by #1336

[2021-08-10 18:40] #1052 closed, assigned to yolile

[2021-08-10 20:54] #325 closed, assigned to nobody

[2021-08-10 22:10] yolile commented on #1128
Closed by #1381

[2021-08-11 15:32] yolile opened #1383 "Example: Personal Identifiers: Update to use details.scale = 'selfEmployed'"
Should we update the [Personal Identifiers](https://standard.open-contracting.org/latest/es/guidance/map/organization_personal_identifiers/) worked example to also use the [partyScale](https://extensions.open-contracting.org/en/extensions/partyScale/master/) extension with the code 'selfEmployed'?

[2021-08-11 15:45] jpmckinney commented on #1383
Sounds good. It's a short example, so adding this other angle will not make it too long or complicated.

[2021-08-11 16:57] yolile commented on #1379
Additionally, we have a [Desgin->Build your team](https://standard.open-contracting.org/latest/en/guidance/design/#build-your-team) section, and then a [Map->Involve the right people](https://standard.open-contracting.org/latest/en/guidance/map/#involve-the-right-people) section, do we need both? If so, should the second reference the first?

[2021-08-11 17:20] yolile commented on #1379
In the [Establish your publication formats and access methods](https://standard.open-contracting.org/latest/en/guidance/build/#establish-your-publication-formats-and-access-methods) section or in the [Determine your system architecture](https://standard.open-contracting.org/latest/en/guidance/build/#determine-your-system-architecture) section, should we add a paragraph like "determine where to pub

[2021-08-11 18:27] jpmckinney commented on #1379
We need both. Every step involves a different combination of people. We can maybe align the names of the roles (data expert / technical expert, policy expert / procurement expert), but otherwise the sections are fine.

I don't know whether this has been a specific stumbling block - implementers seem to do this task without specific guidance. If there's a problem, we can address it in the documenta

[2021-08-11 19:03] jpmckinney commented on #1379
The first following sentence uses "complete the mapping" so I'll use that as the heading.

We intend to deprecate all package metadata in 1.2 #1084, so this will be fairly short-lived. My preference is to leave it out.

I'll add this bullet after the format/access method bullet, so that it's in context.

[2021-08-11 19:08] jpmckinney commented on #1160
I anticipate difficulties in agreeing and approving a large PR that affects all 3, so let's do i and ii in one PR, and then do iii. You don't need to create a new issue – unless you anticipate more discussion, in which case it would be better to isolate the conversations. Otherwise, both PRs can just refer to this issue.

[2021-08-11 19:44] jpmckinney opened #1385 "Update all stage object descriptions and release tags"
This issue is split from #1160. Copying @JachymHercher's comment (originally at https://github.com/open-contracting/standard/issues/1160#issuecomment-881950573):

----

The issue started with `awardStatus`, moved to [block]Status in general, then we realized that we needed to better define [blocks]. I've started from the back, so below are some observations and a proposal on new definitions for th

[2021-08-11 19:48] jpmckinney commented on #1385
Coping other action items from https://github.com/open-contracting/standard/issues/1160#issuecomment-792348486

5) [x] Explain all this in the documentation. Where stages start and finish should probably be part of Getting Started, un-successful procedures part of https://standard.open-contracting.org/latest/en/guidance/map/unsuccessful_tender/.
6) [x] In https://standard.open-contracting.org/late