[2019-11-13 23:02] jpmckinney commented on #936
I did a quick search for JSON Markdown blocks, and there are too few (5 total across all profiles and OC4IDS) to warrant an automated test.

[2019-11-13 23:02] #936 closed, assigned to nobody

[2019-11-14 13:50] yolile commented on #232
I think that the only problem with solution c it is that you have to know the id of the deleted item and that may not be the case if dont you produce your releases in real time or if you dont keep the changes history of the items or if you do it, it can be a little messy to compare the old items with the new ones and identify and add the id of the deleted one.

Another option could be to always pu

[2019-11-14 15:03] jpmckinney commented on #232
@yolile But then it becomes impossible to just update one entry in the array, no?

[2019-11-14 15:19] yolile commented on #232
No, because we could still use the items.id for the updates

El jue., 14 de nov. de 2019 12:03, James McKinney <notifications@github.com>
escribió:

[2019-11-14 15:34] jpmckinney commented on #232
@yolile Let's say there's a tender notice with multiple lots, and each lot is awarded in a separate award notice. The first award notice has:

[code]

Then the second award notice has:

[code]

If the entire array needs to be published every time, then (under your proposal) the data for the second award notice deletes the data for the first award notice.

In some systems, individual notices are no

[2019-11-14 16:01] yolile commented on #232
so it would be an additional (and unnecessary) difficulty to have to find
and add the data for the first award notice when preparing the data for the
second award notice.

But with the current approach or with option c, if you want to delete the
award 1 you have to find its Id anyway, right?

El jue., 14 de nov. de 2019 12:34, James McKinney <notifications@github.com>
escribió:

[2019-11-14 16:08] jpmckinney commented on #232
It's expected that adding a new award (or any other entry in an array that uses identifier-merge) is much more common than removing an award.

With option (c), you need to find the `id` of only the entry you want to remove – which might be difficult, but at least it's rare.

With your proposal, you need to find all the `id`'s of all entries you want to keep, every time you add a new entry – which

[2019-11-14 16:43] yolile commented on #232
I dont agree (or at least I've never seen this) with this but ok, lets say that it is better no force the publishers to publish the whole list just for the removal issue that, we agree, is not common.

But we have to keep in mind, as you also said, that no all the systems has the information about the previous items or the deleted ones, in which cases the current aproach will not work.

[2019-11-14 17:04] jpmckinney commented on #232
Yes, we don't yet have a proposal for removing entries in arrays that meets all these criteria:

1. The proposal is backwards-compatible with the existing merging rules (otherwise, we need to wait for OCDS 2.0)
1. The proposal respects the design of OCDS of allowing incremental updates, i.e. without having to publish every entry of a given array, every time
1. The proposal allows publishers to del

[2019-11-14 19:04] jpmckinney commented on #438
'financing' typically refers to the funding of the procurement/contracting process.

At one point this code was only in the schema (without a description), and it was later moved to the codelist, where it was defined without any documented discussion in [this commit](https://github.com/open-contracting/standard/commit/dacc31d6e30aa75c750059bba8bcfaa2b63ecded) related to #471.

The code was first a

[2019-11-14 19:11] jpmckinney opened #937 "milestoneType: Clarify 'financing' code description"
As described in https://github.com/open-contracting/standard/issues/438#issuecomment-554032553, the code is ambiguous, and can be interpreted as being appropriate for bill payments. The code description should be updated to reflect that it is for the financing of the procurement/contracting process, not for payment.

Since "financing" might not be correctly interpreted by non-native English speake

[2019-11-14 19:15] jpmckinney commented on #438
Adding to 1.1.5 milestone to add the 'payment' code (can go along with #937). This issue is ready to PR, as it just involves proposing a code title and description.

Once that is done, the milestone can be changed back to 1.2.0 to consider adding a `value` field to `Milestone`.

[2019-11-15 01:53] duncandewhurst opened #938 "Update the description of `unit/id` to clarify which codelist to check"
The description of `unit.id` is:

This has caused confusion with publishers thinking they need to check the classification itself (e.g. UN/CEFACT) for how to find and use identifiers, when in fact the unitClassificationScheme codelist in OCDS has this information.

I suggest we update this to:

[2019-11-15 10:15] LindseyAM opened #939 "Green or sustainable procurement"
Potential resources on this topic:

EU green public procurement criteria: https://ec.europa.eu/environment/gpp/eu_gpp_criteria_en.htm

EU library of use cases: https://ec.europa.eu/environment/gpp/case_group_en.htm

[2019-11-15 16:01] jpmckinney commented on #939
eForms also has some modelling done for this.

[2019-11-15 16:15] jpmckinney commented on #711
@romifz Yes, it's looking like there will be a mixed approach. For this issue, we still need to figure out what the common, comparable approach should be.

[2019-11-15 17:12] jpmckinney commented on #910
Another scenario is around joint procurement: In Paraguay, the procedure will be that each buyer does their own planning independently, and then might decide to do a joint contracting process to fulfill their common needs.

[2019-11-16 22:28] jpmckinney commented on #896
Noting that indefinite-delivery/indefinite quantity (or task order) contracts in the US were considered to be two-stage procurement techniques (similar to framework agreements) in a 2006 UNCITRAL survey (from Law and Economics of Framework Agreements, chapter 2).

[2019-11-16 22:40] jpmckinney commented on #909
Note: The Law and Economics of Framework Agreements suggests that supply arrangements and standing offers are “more appropriately considered as lists of suppliers than as framework agreements”.

[2019-11-16 23:35] jpmckinney commented on #396
According to The Law and Economics of Framework Agreements, framework agreements with direct call-offs can take the form of an electronic catalogue.

[2019-11-18 02:57] duncandewhurst commented on #904
Thanks @yolile and @PaulBoroday  - I reviewed your proposed extensions and models and it looks possible to find a model that works for both cases. It would be helpful to see some more examples first and I have a few questions I need to clarify:

* @yolile - Can you share an example of the auctions data that is currently published in PDF which shows an auction with more than one lot and with more t

[2019-11-18 10:35] yolile commented on #904
Thanks @duncandewhurst !

Yes, here it is: https://contrataciones.gov.py/documentos/download/acta/369241-adquisicion-montaje-estacion-terrena-equipos-informaticos-1
And all the other information about that process: https://contrataciones.gov.py/licitaciones/convocatoria/369241-adquisicion-montaje-estacion-terrena-equipos-informaticos-1.html

Yes it is, you can see it here https://contrataciones.go

[2019-11-18 20:56] jpmckinney commented on #695
As it turns out, the particular modalities under consideration required more structure than simple codes in an array, and they were also not semantically related to each other. The codes in `methodModality.csv` are now served by:

* accelerated: https://github.com/open-contracting-extensions/ocds_procedure_extension
* electronicAuction: https://github.com/open-contracting-extensions/ocds_technique

[2019-11-18 20:56] #695 closed, assigned to nobody

[2019-11-18 21:00] jpmckinney commented on #750
See comment in https://github.com/open-contracting/standard/issues/695#issuecomment-555205138 for newer guidance that replace the procurement method modalities proposal.

[2019-11-18 21:17] duncandewhurst commented on #904
Thanks @yolile. Please let me know your thoughts on the following model:

* Each competition is modelled as a separate entry in the `auctions` array
* Data on items is already provided in `tender.items` so does not need repeating in the `auctions` section
* Data on initial proposals should be provided in the top-level `bids` section, since it cannot differ from the supplier's bid submitted in the

[2019-11-19 01:14] duncandewhurst commented on #892
This information is also available in PhilGEPS

[2019-11-19 10:56] yolile commented on #904
No, at least in Paraguay.

Ok, but so we also need to add the items array inside the bid object. Because the proposal includes the specific characteristics and attributes of each bidded item.

[2019-11-19 19:35] jpmckinney opened #940 "Explore integrating GitHub issues into documentation"
We might tag issues with specific labels, that can then be rendered in the documentation. The simple implementation of this depends on being able to use the GitHub API on the client side. A more complex implementation would involve creating a middleware API that serves up issues by label, for the documentation to render.

For example, #322 #438 #872

Suggested by @yolile

[2019-11-19 19:41] jpmckinney opened #941 "transaction_milestones: Link from OCDS documentation"
This requires adding a new Category in https://github.com/open-contracting/extension_registry/blob/master/extensions.csv and https://github.com/open-contracting/extension_registry/blob/master/schema/extensions-schema.json and adding a corresponding directive in the OCDS documentation.

Reported by @yolile

[2019-11-21 15:24] LindseyAM opened #942 "Add guidance on OCDS publication in low tech environments"
perhaps based on learning @duncandewhurst and others did with LA and challenges facing Nocopo in Nigeria?

[2019-11-21 19:16] yolile commented on #887
Drafted extension: https://gitlab.com/dncp-opendata/ocds_planning_investmentproject_extension

[2019-11-25 03:08] duncandewhurst commented on #892
The PhilGEPS data also includes a published date for the award notice.

Other than understanding how timely publication of the award notice was (after the actual date of the award) I am not sure how important it is to have an explicit field for this information over the approaches discussed in #261, but for consistency with `tender.datePublished` we should consider whether to add `award.datePublis

[2019-11-25 16:13] jpmckinney opened #943 "Add link to mapping-sheet for release schema"
Follow-up to https://github.com/open-contracting/toucan/issues/12

[2019-11-27 02:49] duncandewhurst commented on #942
The learning from LA was more around how spreadsheets can be used to prototype an OCDS implementation, but some of it could be adapted to describe how spreadsheets could be used as a general publication method. I've a half written up blog which could be used as the basis for a worked example of this.

[2019-12-05 18:53] yolile commented on #942
Buenos Aires also published csv files and then use the flattening tool to publish json files.
INAI has a tool to capture and publish OCDS data: https://github.com/INAImexico/Contrataciones_abiertas_v2

[2019-12-05 20:02] jpmckinney commented on #942
@yolile For the Airtable, is the appropriate link https://github.com/INAImexico/Contrataciones_abiertas_v2 or https://github.com/INAImexico/Contrataciones_abiertas ?

[2019-12-06 12:26] yolile commented on #942
@jpmckinney sorry, they changed recently their repo to https://github.com/INAImexico/Contrataciones_abiertas_v2 that one is the correct one

[2019-12-06 19:01] jpmckinney commented on #942
Thanks, I've updated the Airtable.

[2019-12-16 14:59] pindec commented on #794
Noting from a call with Lagos:
- Most procurement plan lines ends up with only one tender, but may have multiple awards. The tender will become a package divided into lots.
- Some procurement plan lines become multiple tenders.
- The dividing up of plan line entries into tenders happens at the Evaluation Stage.
- The specific items in the procurement plan are generally the same as the ones that go

[2019-12-30 12:56] sdopoku commented on #942
Some ideas worth exploring around these in future upgrades to the documentation are:

- Referencing [Budeshi](https://www.budeshi.ng/): using the search bar in the documentation to search for *Budeshi* pulls up 0 results so worth integrate this in future updates.  This meets the low infrastructure and low expertise criteria.
- Referencing the [OpenContractr](https://github.com/patxiworks/opencontr

[2020-01-02 18:38] jpmckinney commented on #689
Option 2 is backwards compatible because it simply relaxes the `type` of `quantity` to be number or string, instead of just a number. For the option to be backwards-incompatible, it would need to add restrictions.

Option 2 has additional advantages. As noted in the proposal, options 1 and 3 introduce:

* Data integrity issues (1.c): The fields can be inconsistent, e.g. the `quantity` and/or `esti

[2020-01-03 00:19] duncandewhurst commented on #918
In AusTender, for contract notices, there is a distinction between:

* material changes, which cannot be made without issuing a contract amendment notice; and
* non-material changes, which can be made to existing contract notices

[2020-01-07 18:24] jpmckinney commented on #1245
@yolile Something I had never noticed before is that the bids extension allows the creation of mostly empty Bid objects with a `status` of "invited" and one or more suppliers in a `tenderers` array. (There would be one Bid object for each invitation; `tenderers` is an array in the case of consortia, joint ventures, etc.).

[2020-01-08 00:46] duncandewhurst commented on #911
In what type of procurement procedure would this be the case? In the `secondStage` model proposed in #440, the `awards` section would be used for the award of call-offs etc. (when the quantity is known) and suppliers being awarded a place on the framework/list etc. (when the quantity isn't known) would be modelled elsewhere.

Are there examples of electronic catalogs which are established through

[2020-01-08 17:30] jpmckinney commented on #911
In short: I don't have a clear, real example of when to use contract items.

## Use cases for contract items

I think you're right that once we clarify how to model two-stage procedures in a way that is consistent (where appropriate) with how we model single-stage procedures, then the use cases for contract items become very narrow.

There was a related discussion starting from this comment https:

[2020-01-08 17:33] jpmckinney commented on #911
For this issue, in terms of OCDS 1.1, we can chose to provide guidance that is consistent with the current model, though we know it is likely to change in OCDS 1.2 – or wait for OCDS 1.2.

We might want to check the use of `contracts.items` to decide whether guidance is needed in the shorter term (i.e. check @pindec's OCDS 1.2 research).

[2020-01-13 11:36] yolile commented on #1245
Hmm.. maybe.. but we need to extend the extension to add a codelist to the parties's roles, because in this case we cannot use the "tenderer" role.

[2020-01-14 03:26] jpmckinney commented on #846
All norms are in one section, so it is perhaps unnecessary to have this repetitive message.

[2020-01-14 03:26] #846 closed, assigned to nobody

[2020-01-14 10:46] pindec opened #954 "Link 'getting started' bulk downloads to 'implementation' bulk downloads advice"
[Bulk and individual files section](https://standard.open-contracting.org/latest/en/getting_started/publication_patterns/#bulk-and-individual-files) in **Getting Started** currently contains the line:

_"You will need to make decisions about how to segment the data in bulk files, so that files are easy for users to work with"_

This should link to the **Implementation guidance** [bulk downloads ad

[2020-01-15 17:22] jpmckinney commented on #711
Re-organizing some points from the discussion:

We will never be able to standardize every way of classifying organizations. We have a few options (which can be mixed):

1. Add specific fields (like [party scale](https://extensions.open-contracting.org/en/extensions/partyScale/master/)), where we have sufficient evidence to offer a standardized option
1. Recommend that publishers use additional fi

[2020-01-15 18:00] jpmckinney opened #956 "Mention alternative ways to browse the schema"
We can add a page to describe the ways to browse the schema:

* using an interactive schema browser, on the [release schema](https://standard.open-contracting.org/reorganization/en/schema/release/) page (and other schema pages)
* as tables on the [schema reference](https://standard.open-contracting.org/reorganization/en/schema/reference/) page (and other schema pages)
* as a spreadsheet, using the

[2020-01-16 15:41] jpmckinney opened #957 "Explore grammar-checking tools"
e.g. https://caderek.github.io/gramma/, LanguageTool-based tools.

We already have a method for [spellchecking](https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/spellcheck.html).

cc @duncandewhurst in case we want to do this for OC4IDS in short term.

[2020-01-17 21:25] #819 closed, assigned to LindseyAM

[2020-01-19 16:45] jpmckinney commented on #943
Duplicate #926

[2020-01-19 16:45] #943 closed, assigned to nobody

[2020-01-20 17:53] jpmckinney commented on #879
It no longer redirects. It now just 404s without redirection, which is fine. favicon is specified via meta tag. https://github.com/open-contracting/deploy/commit/1e69b643a9745edddf87af3ade8a65ebea855beb

[2020-01-20 17:53] #879 closed, assigned to nobody

[2020-01-20 20:33] jpmckinney commented on #685
Closed by #963, which eliminates a discussion of web discovery. This problem is not solved (for data in general), and it is premature to recommend an approach in our documentation. For now, the typical means of discovering data (web searches, browsing open data portals, etc.) work well enough, and OCP will be implementing an OCDS registry. See #963 for other reasons.

[2020-01-20 20:33] #685 closed, assigned to nobody

[2020-01-20 21:49] jpmckinney commented on #894
It seems to have been fixed: https://standard.open-contracting.org/latest/en/schema/release_package/

[2020-01-20 21:49] #894 closed, assigned to nobody

[2020-01-20 21:54] jpmckinney commented on #548
@duncandewhurst I'm assigning to you to make a proposal (no rush), given your experience on OCDS for PPPs and OC4IDS.

[2020-01-20 22:19] jpmckinney commented on #864
Tagging @LindseyAM as FYI regarding licensing considerations for OCDS datasets that contain non-open data, and advocacy opportunities for UNSPSC to be openly licensed.

[2020-01-20 22:20] jpmckinney commented on #941
Closed by #965 on 1.1.5-dev branch.

[2020-01-20 22:20] #941 closed, assigned to nobody

[2020-01-20 22:20] jpmckinney commented on #864
Closed by #967 on 1.1.5-dev branch.

[2020-01-20 22:20] #864 closed, assigned to nobody

[2020-01-20 22:40] jpmckinney commented on #841
`field` occurs much more frequently, so I looked for occurrences of:

    ` field

I also ran `cat schema/meta-schema.json | jq '.properties | keys[]'` to get all JSON Schema properties, and then searched:

    (\$ref|$schema|additionalItems|additionalProperties|allOf|anyOf|codelist|default|definitions|dependencies|deprecated|description|enum|exclusiveMaximum|exclusiveMinimum|format|id|items|maxIt

[2020-01-20 22:49] jpmckinney commented on #841
Closed by #968 in 1.1.5-dev branch.

[2020-01-20 22:49] #841 closed, assigned to nobody

[2020-01-21 00:01] jpmckinney commented on #938
Closed by #969 in 1.1.5-dev branch.

[2020-01-21 00:01] #938 closed, assigned to nobody

[2020-01-21 01:47] jpmckinney commented on #926
Closed by #970 on 1.1.5-dev branch.

[2020-01-21 01:47] #926 closed, assigned to nobody

[2020-01-21 01:47] jpmckinney commented on #956
Closed by #970 on 1.1.5-dev branch.

[2020-01-21 01:47] #956 closed, assigned to nobody

[2020-01-21 03:07] jpmckinney commented on #872
Keeping X- prefix for organization IDs, assuming it is on the recommendation of org-id.guide.

[2020-01-21 03:51] jpmckinney commented on #851
Closed by #973 in OCDS 1.1.5-dev branch.

[2020-01-21 03:51] #851 closed, assigned to nobody

[2020-01-21 22:46] duncandewhurst commented on #918
When working with a release dataset it make it possible to answer questions like "How many contract amendments did the department of transport make in Q4 2019?" without having to compile releases.

Whilst that may be true of the tenders and contracts themselves, other information may be provided during the life of a tender or contract in OCDS which could use the update tag, e.g. a 'tenderUpdate' r

[2020-01-23 16:29] jpmckinney commented on #918
CRM-5579 (not yet resolved) is potentially relevant.

[2020-01-23 20:04] #872 closed, assigned to nobody

[2020-01-23 20:13] jpmckinney commented on #872
Reverted and reapplied in #977 and #978 to merge to correct branch.

[2020-01-24 20:35] jpmckinney commented on #388
#980 replaces references to ☆ levels (solving @juanpane's issue above), but retains the levels page itself, until we have a suitable replacement.

[2020-01-24 21:07] jpmckinney commented on #75
Copying comment from a translator in Transifex:

[2020-01-24 21:23] jpmckinney commented on #775
Note, we created this extension to meet EU disclosure requirements: https://github.com/open-contracting-extensions/ocds_procedure_extension

[2020-01-25 18:43] jpmckinney commented on #755
Closing in favor of #856 for the specific message above. Can open new issues for other specific messages.

[2020-01-25 18:43] #755 closed, assigned to nobody

[2020-01-27 22:08] LindseyAM commented on #388
We drafted some text that revises 'publication levels' to give guidance on improving OCDS quality and completeness more in line with OCP's strategic targets for publication & improvement while still giving some 'advanced' criteria to the field  that emphasizes the usability of the data and documents: https://docs.google.com/document/d/1rzcLldNeWTtfW34n_WrIc3B-WY3D2D61wFBN7_fiCnU/edit#

[2020-01-30 21:23] jpmckinney opened #981 "itemClassificationScheme: New codes to consider"
* North American Industry Classification System (NAICS)
  * Canada, Mexico, United States
* Product and Service Codes (PSC)
  * at least United States
* Customs Cooperation Council Nomenclature (CCCN)
  * might no longer be extant, though some present classification systems might be based on it (e.g. Japan has a similar system for goods procured by central government)

[2020-01-31 19:30] romifz commented on #711
In the case of known classification schemes, I think a codelist should be provided. Otherwise, two publishers may choose different codes for the same scheme.

[2020-01-31 19:50] jpmckinney commented on #711
We haven't done this in the past because:

1. Some external schemes are licensed such that we would violate copyright by providing a codelist.
1. Even if we provide a codelist, the Data Review Tool doesn't have a mechanism for optionally applying a codelist to an `id` field based on the value of a `scheme` field.

We *could* provide a codelist in cases where we wouldn't violate intellectual proper

[2020-01-31 20:22] romifz commented on #711
Sorry, that's not what I meant, "codelist" may not be the right term.

What I think is a list of "names to use" in the `scheme` field for known classification schemes should be provided. As `COFOG`, `TED_CA_TYPE`, etc. I think this can take the form of an open codelist.

From what I've seen, publishers struggle to understand the goal of the `identifier` block for organization identifiers, especial

[2020-01-31 20:43] jpmckinney commented on #711
Ah, I understand.

The `Classification` block presently has an open [itemClassificationScheme.csv](https://standard.open-contracting.org/latest/en/schema/codelists/#item-classification-scheme) codelist for its `scheme` field. This, of course, only makes sense when the `Classification` block is used in the context of items. (The definition of the `scheme` field has "… For line item classifications,

[2020-01-31 20:45] jpmckinney opened #982 "itemClassificationScheme: Add support for non-item contexts"
The `Classification` block presently has an open [itemClassificationScheme.csv](https://standard.open-contracting.org/latest/en/schema/codelists/#item-classification-scheme) codelist for its `scheme` field. This, of course, only makes sense when the `Classification` block is used in the context of items. (The definition of the `scheme` field has "… For line item classifications, this uses the open

[2020-02-05 16:50] yolile commented on #927
For the case of framework agreements:

Both Paraguay and Chile use the term 'modalidad' in their definition of what a Framework Agreement is
For Colombia the framework agreement is a "tool" and "contract"

Chile definition: http://www.mercadopublico.cl/Home/Contenidos/QueEsCM
Paraguay definition: https://www.contrataciones.gov.py/dncp/ejogua.html
Colombia definition: https://www.colombiacompra.gov

[2020-02-05 18:12] jpmckinney opened #983 "releaseTag: Add a tag for updates that fall outside the procedure's lifecycle"
For example, if a publisher adds address details to all its parties, there is no appropriate tag.

In the meantime, 'tenderUpdate' can be used for updates to the buyer and procuring entity parties, 'awardUpdate' for suppliers, 'implementationUpdate' for payees and payers, etc. These can of course be used in combination if a release updates all the parties.

[2020-02-05 19:19] LindseyAM opened #984 "OCDS for Transactional Systems: Scoping Issue"
The Open Contracting Data Standard was designed for the disclosure of public contracting data. That said, in recent years, partners have been interested in extending and adapting the OCDS to serve as a data model for transactional electronic procurement systems.

The most notable example of this work so far is the MTender system developed by the EBRD and uStudio for Moldova. The system covers proc

[2020-02-05 19:24] LindseyAM commented on #984
@PaulBoroday please add issues for discussion (and tag colleagues and partners as relevant!)

[2020-02-05 22:59] jpmckinney commented on #794
Quick note to add details from CRM-5594.

[2020-02-06 01:49] duncandewhurst commented on #897
From @yolile: Paraguay has a [purchase orders extension](https://gitlab.com/dncp-opendata/ocds_contract_implementation_purchaseOrder_extension) ([example data](https://www.google.com/url?q=https://contrataciones.gov.py/licitaciones/adjudicacion/contrato/361936-ambrosio-coronel-1.html%23ordenes&sa=D&ust=1580957262452000&usg=AFQjCNFIgXzGEW_BtXyagVUnPgYkdKgShQ))

[2020-02-06 19:14] romifz commented on #232
After reading the whole thread, I have a few doubts.

I understand that setting all the fields in the array item to `null` is not a proposal to remove array items for the moment, but could it be? That way it could be included in the merge routine and it would allow to remove items from arrays.

If so, what happens with the fields that have an object as value? Should the publisher declare the field

[2020-02-07 03:12] jpmckinney commented on #232
An object can't be set to `null`, because it would change the behavior of the versioned release: instead of versioning each 'leaf' field individually, it would have to version the entire object as a whole (since its value can be changed to `null`). If, for example, `tender` were versioned as a whole, that would make the versioned release much less useful (and much more bloated).

@romifz I think y

[2020-02-07 14:12] romifz commented on #232
I now option (a) is more work, but it is also consistent with the advice given in [OCDS documentation](https://standard.open-contracting.org/latest/en/schema/merging/#identifier-merge) so far. But I do agree that there may be better options.

[2020-02-09 13:51] yolile commented on #904
Drafted extension [here](https://gitlab.com/dncp-opendata/ocds_auctions_extension/)

[2020-02-11 15:45] mrshll1001 commented on #370
Just adding some context from a recent interaction from the Helpdesk. In Italy a member of an association / consortium may bid on a procurement both as a member of the consortium and separately. Following the [proposal](https://github.com/open-contracting/standard/issues/370#issue-177186382) would it be reasonable to have both `consortiumMember` and `tenderer` as a role to distinguish between thes

[2020-02-14 15:14] jpmckinney commented on #784
For OCDS 1.1, we don't have a mechanism to disclose the details of the competition at the second stage, so we'd need to (mixing a few other concerns not directly relevant to this issue):

1. To distinguish the setup from its call-offs, we use `relatedProcesses` with a 'framework' code as [currently documented](https://standard.open-contracting.org/latest/en/implementation/related_processes/)
1. To

[2020-02-14 15:52] jpmckinney commented on #895
The discussion above is from the perspective of procurement procedures. Per #903, contracting processes can have a variety of results (e.g. in the case of design contests, or in the case of being added to a supplier list that can be reused in other procedures). In that case, there isn't a direct relationship between items, suppliers, and value.

[2020-02-14 15:58] jpmckinney commented on #909
In the case of Paraguay, we are considering one process to create a supplier list (which is not a multi-use list) and then subsequent processes that use the supplier list. The subsequent processes would need to use `relatedProcesses` to refer back to the process that created the list, in which case we might use a new code like 'supplierList'. Since the result of the first process is to get added t

[2020-02-18 18:27] LindseyAM commented on #711
Last week @pindec and I discussed a simple option like an open code list to allow publishers to identify special characteristics of bidders and contractors according to their own policy needs, with the option of a details field to give more details if needed.

also, just FYI according to this blog: https://www.opengovpartnership.org/stories/faces-of-open-government-jen-bretana/ South Cotabato publ

[2020-02-18 19:52] jpmckinney commented on #904
Noting that there is some background in CRM-5451 and a [private document](https://docs.google.com/document/d/1rwcLCd4uZ7RFS5scpWYk65mu_Y9WWq1d-v_BQfWaCWg/edit) about ProZorro.Sale, which we can integrate here if still relevant and not already integrated.

[2020-02-27 20:44] jpmckinney opened #987 "Organization identifier guidance: Look into ISO 6523"
Used by European Commission and presumably other governments. Identifier schemes can be added for a small fee. It's not as open as org-id.guide, but we should support and document its use, given that governments are using it.

[2020-02-27 21:42] jpmckinney commented on #370
Note that, for better or worse, in eForms (as described in the eForms Policy Implementation Handbook):

[2020-02-28 17:36] jpmckinney commented on #370
This guide from CCE might be helpful when exploring modelling options.

Spanish:
https://www.colombiacompra.gov.co/sites/cce_public/files/cce_documents/cce_guia_asuntos_corporativos.pdf

English:
https://www.colombiacompra.gov.co/sites/cce_public/files/cce_documents/guia_asuntos_corporativos_ing2.pdf

[2020-03-06 15:34] jpmckinney opened #988 "Add Value.date field"
The unit of an amount is not only the currency, but also the date on which it was set, due to inflation. To be able to correctly sum values over longer periods of time, especially in contexts with high inflation, it is important to store the date on which the amount was set.

For the definition, we can see https://en.wikipedia.org/wiki/Value_date

cc @duncandewhurst

[2020-03-09 16:54] jpmckinney commented on #711
Regarding adding the codes mentioned above to the codelists:

Sometime after we authored the EU profile, the EU created these controlled vocabularies:

- [buyer-legal-type](https://op.europa.eu/en/web/eu-vocabularies/at-concept-scheme/-/resource/authority/buyer-legal-type/?target=Browse&uri=http://publications.europa.eu/resource/authority/buyer-legal-type) for TED_CA_TYPE
- [main-activity](https:/

[2020-03-19 21:19] jpmckinney opened #991 "Add more images and diagrams to break up the text"
General suggestion from OCDS retreat. Some specific suggestions:

* Add OCDS and e-GP diagram to the new implementation journey and/or primer section

[2020-03-19 21:20] jpmckinney commented on #991
@duncandewhurst Do you know what diagram this refers to?

[2020-03-19 21:25] duncandewhurst commented on #991
I think it's [this one](https://docs.google.com/presentation/d/1W47Ulx14HZRJ6GJisNNcXRQDHTj7tJinS0mlnbsC0BU/edit#slide=id.g5a4210352c_0_14)

[2020-03-19 21:26] jpmckinney commented on #909
Related: https://github.com/open-contracting-extensions/government-procurement-agreement/issues/22

[2020-03-19 21:29] jpmckinney commented on #784
For (1), looking ahead to OCDS 2.0 (where the set-up contract and call-offs will be in the same procedure), we need to ensure that we can still model the lifecycle of the set-up contract.

[2020-03-23 14:02] yolile commented on #983
Same for some extensions as: bids (tenderUpdate), auctions (tenderUpdate), complaints (tenderUpdate), secondStage (tenderUpdate? tender?)

[2020-03-23 14:19] yolile commented on #575
Reopening this as DNCP from Paraguay showed interest.

Currently another use case that is hard to resolve is answer the question "how much is the difference between the original contract amount and  the amendment contract amount?"
And visualizations like this one:
![image](https://user-images.githubusercontent.com/6834122/77325134-29f28f80-6cee-11ea-9b19-0019f5eefc10.png)
https://www.mopc.gov.py/m

[2020-03-23 14:24] jpmckinney commented on #575
^ @ColinMaudry FYI

@yolile I think the better solution is #914, so that we have clear, distinct places for "original value" and "current value" – instead of relying on version history. In other words, moving towards an "append-only" format, rather than an "overwrite" format like we have now.

For the above visualization, can you make the award value the original value and the contract value the c

[2020-03-23 14:32] jpmckinney commented on #983
I think we should maybe start with a worked example about how to set tags in 1.1.5, and then through that process we'll identify other new tags we should add in OCDS 1.2.0.

[2020-03-23 14:37] yolile commented on #575
I think that is good to have a "finalValue" field but also the value and date of each amendment (as the mentioned extension)

Yes, I think that it is a good solution to keep de original value in award.value field and the updated one in the contract.value

[2020-03-23 14:41] jpmckinney commented on #575
Sounds good, re: tracking each amendment's information. @ColinMaudry is working on a similar extension for the EU, whose forms are even less structured.

[2020-03-23 14:54] ColinMaudry commented on #575
Yes, it will be here this week: https://github.com/open-contracting-extensions/ocds_unstructuredChanges_extension

[2020-03-23 14:59] yolile commented on #440
Second Stage extension drafted here https://gitlab.com/dncp-opendata/ocds_secondStage_extension

And some comments from discussions/retreats:

- We need a field to distinguish the FA and prequalification tender from the traditional ones: use the techniques extension https://github.com/open-contracting-extensions/ocds_techniques_extension
- We need a field to distinguish the mini competition tender

[2020-03-24 03:58] duncandewhurst commented on #794
Development Gateway authored a similar [planning items extension](https://github.com/devgateway/forms-makueni/tree/master/persistence-mongodb/src/main/resources/extensions/planning_items) for Makueni County. cc @mpostelnicu

[2020-03-25 17:27] yolile commented on #981
Accordingly to https://thebusinessprofessor.com/knowledge-base/customs-cooperation-council-nomenclature-definition/ CCCN changed its name to Brussels Tariff Nomenclature and then to Harmonized Commodity Description and Coding System. Should we include it as CCCN or as HCDCS? https://www.foreign-trade.com/reference/hscode.htm

[2020-03-25 17:46] jpmckinney commented on #981
Let's use Harmonized Commodity Description and Coding System, which seems to be most commonly abbreviated as HS. In the description, we can mention its history.

[2020-03-25 18:24] jpmckinney commented on #854
I might also suggest a slight rewording: "first recorded in, or published by, any system".

[2020-03-30 12:49] #854 closed, assigned to yolile

[2020-03-30 12:50] #981 closed, assigned to yolile

[2020-03-30 19:44] #937 closed, assigned to yolile

[2020-03-30 21:18] jpmckinney commented on #759
@LindseyAM Here's the OC4IDS page for 0.9.2: https://standard.open-contracting.org/infrastructure/0.9-dev/en/guidance/data_user_guide/

[2020-04-02 21:26] timgdavies commented on #388
I support the proposal to update the BIA model, although I find the current draft text fairly hard to parse, and assuming a very technical audience - when part of the challenge with use of BIA was that policy makers want to understand how well their publication is performing against a benchmark.

I would suggest leading with the **why** before the **how** in each of the bullets.

E.g.

* Completen

[2020-04-06 18:29] LindseyAM opened #1001 "add contract registers guidance to OCDS documentation?"
@jpmckinney should this document be referenced in our improved implementation guidance: https://docs.google.com/document/d/10uHezdNkrdHtbIl6Uh3JZo7BlGm5T1qlCntqYGSVFg4/edit

It probably fits more in the main documentation guidance than in the EU profile documentation?

[2020-04-14 15:07] jpmckinney commented on #1001
I've added it to the 1.1.5 milestone.

[2020-04-16 16:10] jpmckinney commented on #701
In the extension, `budget/amount` also had:

[2020-04-17 10:56] ColinMaudry commented on #764
@jpmckinney Shall we fork DNCP's extension (above) for the EU profile?

In the DNCP, the field definition is not quite fit for the EU context:

...whereas in the EU context, it's about giving details on how the award got to the current `status` (examples in the first comment).

If we make a new extension, we could make the field's semantics broad enough to cover both use cases. For instance, mimic

[2020-04-17 16:48] jpmckinney opened #1005 "Remove "default": "en" for language field"
This was in the schema since the initial draft (before `locale` was renamed to `language`). However, there is nothing in the standard that:

* describes English as the default language
* instructs users to take default values from the schema

I don't think the standard should use the "default" property (this is the only occurrence), as it leads to ambiguity when interpreting the data (did the publ

[2020-04-17 19:06] jpmckinney commented on #764
Can you make a PR on the DNCP's extension? For the description, to even more closely match the structure of `procurementMethodDetails`:

[2020-04-27 14:59] jpmckinney opened #1006 "Docson: Fix rendering of patternProperties"
![image](https://user-images.githubusercontent.com/26463/80386970-1353d100-8876-11ea-9677-483c9d66c4fc.png)

A user mistook the `patternProperties`' regular expression as the regular expression for the `url` field.

Alternately, it might help to add `title` and `description` metadata properties for all patternProperties.

[2020-04-28 13:18] ColinMaudry commented on #524
I'm working on an extension that adds `countryCode` to `Address`.

@jpmckinney Do we want it to rely on an explicit codelist (ISO3166-1 alpha-2 list) or just document that the field expect a ISO3166-1 alpha-2 code?

Edit: ah I see you added the "Codelist - Open" label. It's consequently going to be an explicit codelist, but with the possibility to specify other codes (such as alpha-3 codes).

[2020-04-28 13:18] ColinMaudry commented on #524
It's going to be here: https://github.com/open-contracting-extensions/ocds_countryCode_extension

[2020-04-28 16:43] jpmckinney commented on #524
I left it open so that the codelist only contains the "officially assigned" codes, but users can still use user-assigned codes like XK for Kosovo.

Alternately, we can made it a closed codelist that includes only officially assigned and user-assigned codes.

[2020-04-29 15:06] ColinMaudry commented on #764
MR opened on the DNCP extension: https://gitlab.com/dncp-opendata/ocds_statusdetails_extension/-/merge_requests/1

[2020-04-29 16:00] jpmckinney commented on #764
@ColinMaudry I think there's extra text in Tender.statusDetails (unless GitLab's diff is bad) and an extra space in Award.statusDetails.

@yolile Can you review the PR?

[2020-04-29 17:15] ColinMaudry commented on #764
Right! I'm trying to master Vim, and that creates this sort of problems. Fixing it.

[2020-04-30 09:43] ColinMaudry commented on #524
Should the country codes be in capital letters? I see that OCDS codelist of currencies is in capital letters. Are lower-case values accepted?

We could close the list to make the data entry stricter, and update the list if we hear of the need to extend it. In this case, are there other codes than XK that I should be aware of that are not in the standard list?

[2020-04-30 15:17] yolile commented on #764
Merged!

[2020-04-30 16:03] jpmckinney commented on #524
Yes, all-caps, like the ISO standard.

For the list, let's include all "officially assigned" and all "user-assigned" codes, as use of those is conformant with the ISO standard.

[2020-04-30 16:09] jpmckinney commented on #524
Actually, let's keep it to officially assigned plus XK, as I can't find evidence of other user-assigned codes being consistently used to identify countries: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#User-assigned_code_elements

[2020-04-30 16:24] jpmckinney commented on #764
I've now added the extension to the registry.

[2020-04-30 18:41] LindseyAM commented on #388
Thank you very much to Tim, Jiri, Martin & Dmitry for the helpful feedback and suggestions. The draft has been updated to talk more about why these checks are relevant, how we work with publishers to document improvements, and other requested clarifications.

[2020-05-08 14:59] jpmckinney commented on #690
Now in Explorer: https://extensions.open-contracting.org/en/extensions/recurrence/master/

[2020-05-08 14:59] #690 closed, assigned to nobody

[2020-05-08 15:00] jpmckinney commented on #696
Now in Explorer: https://extensions.open-contracting.org/en/extensions/coveredBy/master/

[2020-05-08 15:00] #696 closed, assigned to nobody

[2020-05-08 15:04] jpmckinney commented on #443
Now in Explorer: https://extensions.open-contracting.org/en/extensions/awardCriteria/master/

[2020-05-08 15:04] #443 closed, assigned to nobody

[2020-05-08 15:08] jpmckinney commented on #691
Now in Explorer: https://extensions.open-contracting.org/en/extensions/options/master/

As mentioned in an earlier comment, it remains premature to model structured information about options, without additional examples from more jurisdictions. As there has not been external participation in about a year, I'll close this issue. We can re-open the issue once additional examples become available, or

[2020-05-08 15:08] #691 closed, assigned to nobody

[2020-05-08 15:11] jpmckinney commented on #423
I believe this can be handled by https://github.com/open-contracting-extensions/ocds_budget_and_spend_extension

[2020-05-08 15:11] #423 closed, assigned to duncandewhurst

[2020-05-08 15:12] jpmckinney commented on #451
Closing in favor of #229.

[2020-05-08 15:12] #451 closed, assigned to nobody

[2020-05-08 15:15] jpmckinney commented on #705
Noting that Kyrgyz also has bank information (`accountName`, `accountNumber`) (CRM-5594).

[2020-05-08 15:15] jpmckinney commented on #781
Closing as no additional interest expressed in over a year. Can re-open if there is new interest.

[2020-05-08 15:15] #781 closed, assigned to nobody

[2020-05-08 15:24] jpmckinney commented on #749
For award address, this is modelled as part of the information about bid opening more broadly (which would include the date and other details). The extension is now in the Explorer: https://extensions.open-contracting.org/en/extensions/bidOpening/master/

For enquiries address, this is typically modelled as the address of the party that handles enquiries (usually the procuring entity). For the EU,

[2020-05-08 15:24] #749 closed, assigned to nobody

[2020-05-08 18:38] jpmckinney commented on #982
The change to the codelist was removed from #990, as this needs to be merged to 1.1.5-dev instead of directly to 1.1-dev, as it changes normative content. Attaching the patch.

[itemClassificationScheme.csv.patch.txt](https://github.com/open-contracting/standard/files/4600924/itemClassificationScheme.csv.patch.txt)

[2020-05-08 18:42] jpmckinney commented on #711
Now in Explorer: https://extensions.open-contracting.org/en/extensions/organizationClassification/master/

I need to review this issue to make sure everything is covered either by #990 or the new extension. Ideally, separate issues can be created for any follow-up, so that this wide-ranging issue can be closed.

[2020-05-08 19:40] jpmckinney opened #1008 "Identifiers: Remove worked example?"
This was proposed for removal in #948, but this change would need to be merged against 1.1.5-dev first:

    <div class="example hint" markdown=1>

    <p class="first admonition-title">Worked Example</p>

    The **organization register prefix** for UK Companies House is GB-COH. The organization **Development Initiatives** has been assigned the company number ‘06368740’ by Companies House. The gl

[2020-05-08 19:45] jpmckinney commented on #1008
@romifz @pindec Why was this change proposed in #948? I can't find the discussion in the PR. https://github.com/open-contracting/standard/pull/948/commits/ce92c4fcae818134bd1e2f4a002d614aef7912a1#diff-a3cbd55f5f3a5aa29b0144cdccec3b12

[2020-05-08 19:51] jpmckinney commented on #249
Some guidance has been merged as part of #974. Next step is still to break up this issue.

[2020-05-08 20:04] jpmckinney commented on #1008
I found this comment: https://github.com/open-contracting/standard/pull/948#pullrequestreview-339915414

However, the existing worked example is in the Reference section, not the Getting Started section. We can still remove it, but I wanted to clarify that first.

[2020-05-11 09:06] pindec commented on #1008
I suggested the change because I was concerned that we would end up with two slightly different sources of information about dealing with organization identifiers - the new worked example and (as you point out) [the example in the Reference section](https://standard.open-contracting.org/latest/en/schema/identifiers/#organization-ids).

However, the Reference example does make the explanatory text

[2020-05-11 16:17] jpmckinney commented on #1008
That sounds good to me. Can you create a branch from the 1.1.5-dev branch, and then select the 1.1.5-dev branch as the 'base' branch when creating the PR?

[2020-05-11 16:19] pindec commented on #1008
Thanks, will do.

[2020-05-14 14:15] myroslav commented on #705
I'd like to note that [Ukraine completed switch](https://bank.gov.ua/en/iban) to `IBAN` as primary `bankAccount` scheme on 2020-01-13. With this switch MFO "disappeared" as separate entity, and is embedded into IBAN now.

Additionally there is initiative to implement payment requests that are based upon QR codes. The format of the data encoded in the QR code is LF-separated info for Credit Transfe

[2020-05-18 03:21] duncandewhurst opened #1009 "Implementation guidance outstanding issues"
Outstanding issues from #986

**General:**

- [x] Add a 'publication plan' sub-heading to the design stage and link to that from the other stages, rather than linking to the template repeatedly.

**Design phase:**

- [ ] (Set your goals and priorities) Add link to [Guide to User Research](https://drive.google.com/file/d/10-4rTGmpXk4oRoyg7ccuv4Jga_6B_lpI/view) once document sharing settings updated

[2020-05-19 13:14] woodbine commented on #883
We're drafting a new extension for transactions and the inclusion of `people` in the `parties` array is potentially very useful, as we need to record who made a purchase and any approvers for each transaction. I've drafted up an example and think it would make a useful addition.

[code]

[2020-05-19 18:03] jpmckinney commented on #440
@PaulBoroday The extension above is the proposal for OCDS 1.2 (i.e. backwards-compatible with OCDS 1.1). In short, it adds a `secondStage` object, which has fields for the `candidates` who were qualified to advance to the second stage, and for the `invitations` (e.g. requests for tender) that occur at the second stage. The `Invitation` object is very similar to the `Tender` object with only a few

[2020-05-19 23:40] duncandewhurst opened #1011 "Change history documentation outstanding items"
Minor updates to improve the flow/clarity of the content added in #997:

https://github.com/open-contracting/standard/pull/997#discussion_r403837117

https://github.com/open-contracting/standard/pull/997#discussion_r411087700

[2020-05-20 05:03] jpmckinney commented on #1009
Other follow-up from #986:

* [x] Decide whether to delete licensing.md and publication_policy.md
* [x] I added hidden toctrees so that the docs build properly. We should add links to these pages.
* [x] design.md: The Publication Plan Template resources appears without introduction.
* [x] design.md: "scoping study" is not explained. Original text for comparison:

[2020-05-20 21:09] jpmckinney commented on #759
Fixed in #986.

[2020-05-20 21:09] #759 closed, assigned to jpmckinney

[2020-05-20 23:39] jpmckinney commented on #750
I had another look, and as far as standardization goes, I don't think their "subtypes" would be modelled as such internationally.

There is a "Compra por Excepción" type with 82 out of the 145 subtypes. Each of those is essentially an article describing a justification for the exception. The justification for an exception isn't a "sub-type" of a procedure; it's a rationale for the procedure. For t

[2020-05-21 00:07] jpmckinney commented on #940
I think the only robust way to do this is to manually add links to issues in the documentation (as we've started to do in several worked examples). Otherwise, we'll have to support a very large number of labels, in order to allow the issue links to appear everywhere relevant in the docs, which will be a very complicated system to use.

[2020-05-21 00:07] #940 closed, assigned to jpmckinney

[2020-05-21 13:49] #388 closed, assigned to LindseyAM

[2020-05-21 14:37] jpmckinney opened #1014 "Remove suggestion of using X prefixes for organization identifier schemes"
In #872 I had written:

That assumption was incorrect. (org-id.guide has no content about what scheme to use for unregistered or not-yet-registered lists.)

We should change the guidance to not use X-prefixes for the same reasons as in #872. We can add a note to check that the scheme doesn't collide with an existing scheme in org-id.guide.

[2020-05-21 14:42] jpmckinney opened #1015 "Clarify that org-id.guide registrations for OCDS publishers need to go through OCDS Helpdesk"
… rather than through org-id.guide directly, given that additions by that route are on hiatus.

From http://org-id.guide/about:

(OCP's understanding is that fully researched org-id entries are covered under helpdesk contracts.)

If changes need to be made to normative content (documentation or schema), then a separate PR starting from the 1.1.5-dev branch needs to be made.

[2020-05-21 15:57] jpmckinney commented on #452
We can expand the current worked example.

We should also give an example for this sentence in the schema for the `Organization.id` field:

Or, we should re-consider that sentence. See CRM-5095 for a publisher's questions.

[2020-05-21 19:40] jpmckinney commented on #459
Closed by #1016. I created a "Linked standards" section for OC4IDS and Open Fiscal Data Package.

[2020-05-21 20:26] jpmckinney commented on #548
@duncandewhurst Should this be made part of 1.1.5 or postponed (or closed if we can't find a clear description for the new code)?

[2020-05-21 20:27] jpmckinney commented on #826
This is a bigger project, so moving to 1.2.0 (though it might get released in advance of 1.2.0 as a small 1.1.6). Linked to #827.

[2020-05-21 20:29] jpmckinney commented on #850
This is a bigger project, so moving to 1.2.0 (linked to #826 and #827).

[2020-05-21 20:49] duncandewhurst commented on #459
Once OC4IDS 0.9.2 is deployed we should include a link to the [guidance on including project identifiers in OCDS](https://standard.open-contracting.org/infrastructure/0.9-dev/en/guidance/identifiers/#project-identifiers-in-ocds)

[2020-05-21 20:52] jpmckinney commented on #459
Please create a new issue as it is sufficiently distinct, then re-close this one.

[2020-05-21 20:53] #1008 closed, assigned to pindec

[2020-05-21 20:54] #954 closed, assigned to jpmckinney

[2020-05-21 21:05] jpmckinney opened #1018 "Add links to worked examples from relevant parts of normative content"
e.g. #949 from Milestone building block reference.

[2020-05-21 21:07] jpmckinney commented on #583
This is covered in the Map phase of the new Guidance section.

We no longer provide real sample data in the sample-data repository (only fictional data), as our strategy is to develop worked examples as a more useful way to explain how to model data in OCDS (rather than leave it up to the implementer to reverse-engineer from existing data, which is error-prone, considering much data has conformanc

[2020-05-21 21:15] #583 closed, assigned to nobody

[2020-05-21 21:25] duncandewhurst commented on #1015
Yes, that's correct.

For reference, we have been processing OCDS related requests which come directly into the org-id Github repo. We have also recently updated the org-id issue template to remind requestors to mention the data standard their request relates to, to make sure we can identify these, though on reviewing the documentation I see a few more places where that needs to be mentioned.

The

[2020-05-21 21:46] duncandewhurst opened #1020 "Link to guidance on including infrastructure project identifiers in OCDS data"
Once OC4IDS 0.9.2 is deployed we should include a link to the [guidance on including project identifiers in OCDS](https://standard.open-contracting.org/infrastructure/0.9-dev/en/guidance/identifiers/#project-identifiers-in-ocds).

We can add this to the reference to OC4IDS in [linked standards](https://standard.open-contracting.org/1.1-dev/en/guidance/map/extensions/#linked-standards)

[2020-05-21 21:46] duncandewhurst commented on #459
https://github.com/open-contracting/standard/issues/1020

[2020-05-21 21:46] #459 closed, assigned to jpmckinney

[2020-05-22 03:09] jpmckinney opened #1021 "Consider alternative to select input for multiple JSON examples"
See comments here: https://github.com/open-contracting/standard/pull/961/files/310b35f2ade751b07a12ad68d50241a2e696bad4#diff-66f1cde311f2d2dbc362185a195768fd

[2020-05-22 03:14] jpmckinney opened #1022 "Replace normative words on non-normative pages"
All new occurrences would have been since our comprehensive review, so we can just change them all to their non-normative form, mechanically.

`must|require(?!d":)|\bshall|should|recommend|\bmay\b|optional`

`need|necessary|ought|encourage|suggest|\bcan\b|might|allow|permit`

[2020-05-22 03:34] jpmckinney commented on #249
The new guidance covers many of the scenarios discussed here. https://standard.open-contracting.org/1.1-dev/en/guidance/map/awards_contracts_buyers_suppliers/

If there is demand, we can always add more examples for more scenarios. There is an open issue about suppliers/signatories on contracts: https://github.com/open-contracting/ocds-extensions/issues/86

[2020-05-22 03:34] #249 closed

[2020-05-22 03:59] jpmckinney commented on #711
The most relevant comment is https://github.com/open-contracting/standard/issues/711#issuecomment-574764526, which is now documented by #990.

The comments about changes to `itemClassificationScheme.csv` are continued in #982.

[2020-05-22 03:59] #711 closed, assigned to jpmckinney

[2020-05-22 03:59] jpmckinney commented on #982
Relevant comments from #711

https://github.com/open-contracting/standard/issues/711#issuecomment-580903747 (copied to issue description)
https://github.com/open-contracting/standard/issues/711#issuecomment-596649492

[2020-05-22 09:26] ColinMaudry commented on #784
Does (1)  definitely solve

?

[2020-05-22 14:38] jpmckinney commented on #784
@ColinMaudry: In the contracting process that sets up the FA, there's be no object in the `relatedProcesses` array that has a `relationship` of 'framework'.

[2020-05-22 21:12] jpmckinney commented on #1006
For now, I have hidden pattern properties in Docson, as the only pattern properties in OCDS are translation fields, which ought to be documented separately in a worked example.

[2020-05-22 21:15] jpmckinney commented on #1006
Example is already here: https://standard.open-contracting.org/latest/en/schema/reference/#language

[2020-05-22 21:15] jpmckinney commented on #882
I'm creating a new fork for OCP, because ODS' fork is way behind upstream.

[2020-05-22 22:59] jpmckinney commented on #573
The Docson representation is intended to be a user-friendly way to explore the schema. It is not intended as a reference for all validation properties; the correct reference for those is the schema itself. I've therefore edited Docson as follows:

1. Removed `[1...]` annotations. These only appear in the case of required fields, and are only present to guard against fields being set to empty strin

[2020-05-22 23:02] jpmckinney commented on #1005
Note: The Docson widget no longer displays the default value.

[2020-05-22 23:03] #882 closed, assigned to jpmckinney

[2020-05-22 23:03] #573 closed, assigned to jpmckinney

[2020-05-22 23:03] #1006 closed, assigned to nobody

[2020-05-26 16:35] antonioherrera commented on #637
I just reviewed this extension and removed `contactPointType` field and codelist, because they are defined in another [extension](https://github.com/INAImexico/ocds_contactPointType_extension). I changed the `juridicalPersonhood` term to `legalPersonality.` I think this is helpful to differentiate between organizations and individuals in the parties array.

Or maybe this could be a separate extens

[2020-05-26 16:42] jpmckinney opened #1026 "Testing protocol"
Copying from a Trello card:

When we update our deploy code, we don't currently test it on a 'fresh' server; we just check that it applies correctly to the live server(s) that it affects.

This has some issues:
- We don't know if the live server has had changes made by hand which might affect whether or not our modifications work
- We don't know if the code that our server provider supplies has ch

[2020-05-26 16:47] jpmckinney commented on #1026
Copying my initial feedback:

We shouldn't be making any changes by hand (or, at least, no changes that we don't later write into our scripts). So far we've been good about this.

(That said, it is prudent to test on a new server at a regular interval, especially if the last server has been in continuous operation for a long time.)

My understanding is that hosting providers have base images that

[2020-06-02 04:20] jpmckinney commented on #548
Postponing to 1.1.6 or 1.2.0.

[2020-06-02 06:26] romifz opened #1027 "Include government branch field for government bodies"
Action item from the latest OCDS retreat. Description is

The related extension is https://github.com/sdd1982/branch, which adds a `branch` field for the branch of the government the buyer/procuring entity belongs to. As far as I can tell, the only publisher using this is Colombia.

Related: #711

[2020-06-08 09:14] pindec opened #1028 "Update parties identifier/url fields to primary state register"
In the [Reference/Identifiers/Organization Identifiers](https://standard.open-contracting.org/1.1-dev/en/schema/identifiers/#organization-ids) section, the `identifier/url` might be better as the URL from [Companies House](https://beta.companieshouse.gov.uk/company/06368740), the primary state company register, since this is implied by the text in the worked example box. This also means updating t

[2020-06-08 14:37] jpmckinney commented on #1028
@pindec Good point. Can you prepare a PR?

[2020-06-08 22:57] jpmckinney opened #1029 "Publish phase: Add dataset to Google Dataset Search"
https://support.google.com/webmasters/thread/1960710

[2020-06-08 23:03] jpmckinney opened #1030 "Integrate and improve tools directory"
Right now there is just a link at: https://standard.open-contracting.org/1.1-dev/en/support/#ocds-tools

The Engine Room shared some suggestions for improvements: [OCP_Airtable.pdf](https://github.com/open-contracting/standard/files/4749007/OCP_Airtable.pdf)

[2020-06-09 00:04] jpmckinney opened #1031 "Example: Publishing historical data, when history can't be reconstructed"
The OCDS model works best when publishers create releases to update a contracting process over its lifetime.

However, when publishing historical data (e.g. information about contracting processes that were completed a decade ago), the publisher might only know the final state; they might not be able to reconstruct the timeline.

In this case, the publisher can publish a single release in the `rel

[2020-06-09 21:52] jpmckinney commented on #898
If codes are only added, then it is sufficient to simply indicate 'UNSPSC'. A data user would have to download the latest version of that codelist to be sure that they can interpret all codes.

I briefly searched UNSPSC's documentation, and couldn't find codes whose use is exclusive to a specific language. In any case, such restrictions on which codes are allowed from the full codelist are the res

[2020-06-09 21:52] #898 closed, assigned to nobody

[2020-06-09 21:53] jpmckinney commented on #982
Closed by #1033

[2020-06-09 21:53] #982 closed, assigned to nobody

[2020-06-09 21:53] jpmckinney commented on #1014
Closed by #1032

[2020-06-09 21:53] #1014 closed, assigned to nobody

[2020-06-09 22:01] jpmckinney opened #1034 "Rename itemClassificationScheme.csv to classificationScheme.csv"
Follow-up to #982

[2020-06-09 22:02] jpmckinney commented on #849
Postponing to 1.2.0, so that we can have a broader discussion about the rules around upgrades, of which this forms a part.

[2020-06-09 22:09] jpmckinney commented on #606
Postponing to 1.2.0 as the extension mechanism is now widely used, so this deserves broader discussion. At the same time, few extensions extend "basic" building blocks like Value or Period, so a resolution is not urgent.

[2020-06-09 22:12] jpmckinney commented on #1001
I'm not sure that it fits in the documentation – unless we create a "Resources" section that lists other similar resources that are currently posted on the OCP website.

I recommend working with Karolis and Georg to add it here first: https://www.open-contracting.org/resources/

In a future redesign of the docs, we will consider what additional information from the OCP website we should integrate.

[2020-06-09 22:12] #1001 closed, assigned to nobody

[2020-06-09 22:15] jpmckinney commented on #544
While more tests are always good, we haven't had failures related to these features in a long while – except for Docson not loading when I upgraded it, which is an obvious case to test manually. So, closing as the issue is unlikely to be worked on.

[2020-06-09 22:15] #544 closed, assigned to jpmckinney

[2020-06-09 22:37] jpmckinney commented on #856
09f4ccbb75a38e03ecf9d306efb3228859986ee7 moved release handling up the page.

[2020-06-10 18:36] jpmckinney commented on #1018
To avoid confusion as to whether the guidance is being blessed as normative by the link from the reference section, I'm postponing the addition of new links. Existing links can be retained, though.

In a future reflow of the documentation, we'll introduce basic concepts in a primer, which will link to worked examples in the guidance. Once this reflow is complete, it might no longer be relevant to

[2020-06-10 18:36] #1018 closed, assigned to nobody

[2020-06-10 19:06] jpmckinney commented on #856
#1035 was closed in favor of not adding explicit language as to the requirement level for field presence.

If there is renewed interest in adding an "advocacy norm" to the reference section, that issue should engage the broader community, as we do not expect all stakeholders to be in agreement from the start on the requirement level for each field. This would be appropriate for version 1.2.0.

For

[2020-06-10 19:06] #856 closed, assigned to nobody

[2020-06-10 22:06] #1022 closed, assigned to nobody

[2020-06-11 16:59] jpmckinney commented on #844
Closed in #996.

[2020-06-11 16:59] #844 closed, assigned to yolile

[2020-06-11 16:59] jpmckinney commented on #1015
Closed in #1036.

[2020-06-11 16:59] #1015 closed, assigned to nobody

[2020-06-12 18:46] jpmckinney commented on #637
@antonioherrera I am not sure that givenName, patronymicName and matronymicName belong in the `Identifier` object. That object is presently defined as an organization identifier. We can consider changing that, but it would be a change for OCDS 1.2.0, at least.

We might want to pursue that discussion in #801 (about identifiers for natural persons) and in #883 (about how to describe natural persons

[2020-06-17 10:15] ColinMaudry commented on #901
In a nutshell:

- selection criteria are about selecting the suppliers that have:
  - the skills (e.g. with staff resumes)
  - ~~the best proposal~~ (this is evaluation/award criteria)
  - the experience to complete the contract (past projects)
  - certifications
  - minimum size (capital, revenue, number of employees)
- eligibility criteria are about allowing or forbidding suppliers to tender bas

[2020-06-19 13:52] LindseyAM commented on #1030
Is this something the software product manager could lead?

[2020-06-22 01:36] jpmckinney commented on #1030
Sure, it all depends on priority, budget, etc. – might just be a small contract to a design firm.

[2020-06-22 02:35] duncandewhurst commented on #229
Jordan expressed a preference for translating entire releases, rather than in-file translations of individual fields.

[2020-06-29 13:33] mrshll1001 opened #1037 "Signing Officers"
In Prozorro they are modelling bank accounts and signing officers for those. Ukraine's taxation system is also based on type of organization rather than goods being sold, making this a necessary part of the model in that context. Account Identification was also necessary.

We suggested #705 to model the bank accounts, and *signatory* in this context is for the contract but is usually the same pers

[2020-06-29 23:45] jpmckinney opened #1038 "In-line policies that are stored in Google Docs"
To version control the normative/non-normative policy and the language policy.

* [x] Update links in standard-development-handbook from [Google Docs](https://docs.google.com/document/d/1xjlAneqgewZvHh6_hwuQ98hbjxRcA2IUqOTJiNGcOf8/edit) to new page

[2020-07-01 19:38] jpmckinney commented on #232
We might want to have a special tag e.g. 'correction', which (if present) applies different merge rules to allow deleting objects in arrays. We might go even further and only delete fields that are set to null if the special tag is present. In other words, publishers explicitly opt-in to deleting existing data; currently, most use of `null` is accidental.

[2020-07-01 22:00] romifz opened #1040 "Update links to CPV documentation"
In the [codelist reference](https://standard.open-contracting.org/1.1.5-dev/en/schema/codelists/#item-classification-scheme) in the OCDS documentation, the link to the CPV documentation contains the URL below that redirects to the SIMAP's landing page:

http://simap.europa.eu/codes-and-nomenclatures/codes-cpv/codes-cpv_en.htm

I think this means the URL does not exist anymore. Maybe we should use

[2020-07-02 16:25] jpmckinney commented on #1040
Good spot! I created a PR to fix this and any other issues that come up.

[2020-07-03 14:53] yolile commented on #1040
@jpmckinney in https://standard.open-contracting.org/1.1-dev/en/support/#ocds-community the "development" word is duplicated, should I create a new issue for that?

[2020-07-03 14:57] jpmckinney commented on #1040
I'll fix it directly on the same PR :)

[2020-07-03 15:23] yolile commented on #1040
in https://standard.open-contracting.org/1.1-dev/en/guidance/map/award_notices_decisions/#example-modelling-award-notices-with-multiple-decisions in the last paragraph it says:

But actually, besides the award notice id and supplier name, there is also a consecutive number (you can see it at the end of the award id) in case the same supplier is awarded more than once in the same process, so it cou

[2020-07-03 15:26] yolile commented on #1040
and the link to the Paraguay API should be updated to https://contrataciones.gov.py/datos/api/v3/doc/ocds/record/ocds-03ad3f-340885-1

[2020-07-03 16:55] jpmckinney commented on #1040
Fixed sentence and link in PR and pushed to Transifex.

[2020-07-06 17:30] yolile commented on #1040
https://standard.open-contracting.org/1.1-dev/en/guidance/build/system_architectures/#separate-ocds-datastore

should it be

?

[2020-07-06 22:23] jpmckinney commented on #1040
Yes, I'll fix the English.

[2020-07-07 19:49] jpmckinney commented on #1040
Sorry, I forgot to run `make extract` before the `tx push -s --no-interactive -r open-contracting-standard-1-1....` commands. The resources should now be updated in Transifex (and you should be able to reuse the translation from the translation memory).

[2020-07-09 21:13] romifz opened #1044 "Spanish release schema is missing a translation"
In the release schema here:

https://standard.open-contracting.org/latest/es/release-schema.json

The `description` property for the language field is not translated.

[2020-07-09 21:26] jpmckinney commented on #1044
It's translated here, so will be updated when we finish the upgrade: https://standard.open-contracting.org/1.1-dev/es/release-schema.json

[2020-07-09 21:26] #1044 closed, assigned to nobody

[2020-07-10 17:01] jpmckinney commented on #901
I think size tends to fall into selection criteria.

For financial health, it depends. If it's something like "declared bankruptcy", it's an exclusion ground / eligibility criterion. If it's something like "minimum $1M revenue" (as a proxy for long-term stability), it's a selection criterion.

[2020-07-17 18:56] jpmckinney commented on #928
We should also look into merging in https://github.com/open-contracting-extensions/ocds_pagination_extension.

[2020-07-17 19:12] jpmckinney commented on #921
Superseded by linked issues.

[2020-07-17 19:12] #921 closed, assigned to nobody

[2020-07-17 19:20] jpmckinney commented on #763
Looking back at this issue, we already have a [Bid extension](https://extensions.open-contracting.org/en/extensions/bids/master/schema/#bid), in which a particular tenderer's bid can be given a status of 'disqualified'.

Different jurisdictions will disclose disqualifications at different points in their process (whether in an award decision, after opening the first envelope only, etc.). However,

[2020-07-17 19:20] #763 closed, assigned to nobody

[2020-07-17 19:23] jpmckinney commented on #924
Hmm, in terms of confusion, we typically use `identifier` for `Identifier` objects, not simple strings. So, `id` might be better.

[2020-07-17 19:24] jpmckinney commented on #764
We can do a worked example based on contract suspension (#758). #430 has some more elaborate proposed structure for suspensions. In the worked example, we can at least mention those details.

[2020-07-17 19:25] jpmckinney commented on #758
Merging this issue into #764 as a worked example.

[2020-07-17 19:43] jpmckinney commented on #853
I agree with my earlier assessment. Happy to reconsider if there is new demand.

[2020-07-17 19:43] #853 closed, assigned to nobody

[2020-07-17 19:49] jpmckinney commented on #706
I agree with my earlier comment. In terms of priority, I don't think a worked example for content negotiation is high priority for the reasons previously mentioned. Closing absent new demand.

[2020-07-17 19:49] #706 closed, assigned to nobody

[2020-07-17 19:51] jpmckinney commented on #913
Making this a documentation issue because option 2 is really undesirable (and just multiplies the possible errors, e.g. the reference has a string but the party entry now has an integer).

[2020-07-17 19:57] jpmckinney commented on #777
Merging into #792 so we discuss all related issues together.

[2020-07-17 19:57] #777 closed, assigned to nobody

[2020-07-17 19:59] jpmckinney commented on #792
From #777

In Kyrgyz Republic, in procedures with pre-qualification, bid information is disclosed in two stages:

1. response to qualification requirements
1. response to technical requirements and price proposal

We might consider more granular tags with respect to such events/disclosures.

From #983

Add a tag for updates that fall outside the procedure's lifecycle. For example, if a publisher a

[2020-07-17 19:59] jpmckinney commented on #983
Merging into #792 so we discuss all related issues together.

[2020-07-17 19:59] #983 closed, assigned to nobody

[2020-07-17 20:06] jpmckinney commented on #581
We can also consider reducing the scope of the standard, so that it doesn't extend to saying what a validator or application ought to do – and to instead remain focused on the data itself (in which case the action is to delete the content).

[2020-07-17 20:18] jpmckinney commented on #587
From #581:

Even if so, we can include the documented rules somewhere non-normative. Besides jOCDS Validator, we haven't seen any interest in new apps for validating OCDS (not that surprising).

[2020-07-18 00:27] jpmckinney commented on #575
Now in registry: https://extensions.open-contracting.org/en/extensions/unstructuredChanges/master/

The other points raised can be continued in #914.

[2020-07-18 00:27] #575 closed, assigned to nobody

[2020-07-18 00:29] jpmckinney commented on #751
Closing as the extension is published.

[2020-07-18 00:29] #751 closed, assigned to nobody

[2020-07-18 00:33] jpmckinney commented on #897
Closing as the extension is published.

[2020-07-18 00:34] jpmckinney commented on #899
Closing as the extension is published.

[2020-07-18 00:34] #899 closed, assigned to nobody

[2020-07-18 00:36] jpmckinney commented on #622
Closing as the extension is published.

I would be happy to add it to the registry once these issues are fixed:

[2020-07-18 00:36] #622 closed, assigned to nobody

[2020-07-18 00:39] jpmckinney commented on #651
Closing as the extension is now in the registry. This still needs to be fixed on the extension itself:

[2020-07-18 00:39] #651 closed, assigned to nobody

[2020-07-18 00:42] jpmckinney commented on #801
Noting that we should allow name fragmentation as discussed in #637.

[2020-07-18 00:42] jpmckinney commented on #637
Continuing in #801 and #883.

[2020-07-18 00:42] #637 closed, assigned to nobody

[2020-07-18 01:03] jpmckinney commented on #384
There has not been further engagement on this issue for two years.

I am not confident in the model, in particular the use of `amount_ALT` fields (like `amount_USD`) to describe values in other currencies. The obvious alternative is to separate amount and currency into two fields (e.g. an array of Value objects). The consequence of encoding the currency in the field name is that a user who wants t

[2020-07-18 01:12] jpmckinney commented on #939
eForms has:
ID | Name | Description
-- | -- | --
BG-713 | Strategic Procurement | Information about strategic procurement. This information may differ per lot. In case of a prior information notice or a periodic indicative notice used only for information, this information may differ per part of the notice that may later become a lot or a self-standing procedure.
BT-06 | Strategic Procurement | Us

[2020-07-18 01:12] #939 closed

[2020-07-18 01:16] jpmckinney commented on #900
@yolile What did you end up doing in Paraguay?

[2020-07-18 01:32] jpmckinney commented on #672
@antonioherrera Makes sense – if we hear from other jurisdictions, we can open an issue to add codes to extendedProcurementCategory.csv. Noting the extension with the new codes here: https://github.com/contratacionesabiertas/ocds_extendedProcurementCategory_extension/blob/master/codelists/%2BextendedProcurementCategory.csv

For the first question from the issue description, I think we are trying t

[2020-07-18 01:32] #672 closed, assigned to nobody

[2020-07-18 01:35] jpmckinney commented on #788
This will be covered in our updates to the OCDS for EU profile for eForms, once the Publications Office publishes a mapping from TED to eForms. That work is tracked here: https://github.com/open-contracting-extensions/european-union/issues

[2020-07-18 01:35] #788 closed

[2020-07-18 01:39] jpmckinney commented on #860
Thanks, @yolile. I agree that these are separate datasets with different lifecycles – and companies can be added to a buyer's blacklist, etc. for activity unrelated to a contracting process with that buyer. For example, there was a case of [SNC Lavalin](https://en.wikipedia.org/wiki/SNC-Lavalin_affair) being barred from bidding on Canadian contracts for having bribed officials in Libya.

Since we

[2020-07-18 01:45] jpmckinney commented on #403
The milestones proposal seems to have satisfied the early use cases. There are outstanding questions, but no proposed solution. With no new participants since 2017, I am closing this issue.

[2020-07-18 01:54] jpmckinney commented on #430
This issue has worked up some requirements around suspensions:

* that there is a suspension
* the period of the suspension
* the reason/rationale for the suspension, as both a code and free-text
* that a document is about a suspension

However, consensus was not reached when the conversation ended in 2017. In #764, we propose adding a `statusDetails` field to `Tender`, `Award` and `Contract`, whi

[2020-07-18 01:54] #430 closed, assigned to nobody

[2020-07-18 01:58] jpmckinney commented on #370
As part of 1.1.5, there is a worked example for consortia: https://standard.open-contracting.org/1.1-dev/en/guidance/map/consortia/

For posterity, linking to this internal document from an OCDS retreat in Feb 2020: https://docs.google.com/document/d/1EJDKDHnVnEK6n807GWHlqhEdnvRJpSqZ5tMPWLKPRxs/edit#heading=h.mfveqxtjjllb

[2020-07-18 01:58] #370 closed, assigned to nobody

[2020-07-18 02:16] jpmckinney commented on #407
Thanks for publishing the extension, @ColinMaudry!

We have not heard from other jurisdictions with similar use cases, so I will close the issue here.

[2020-07-18 02:16] #407 closed, assigned to nobody

[2020-07-18 02:22] jpmckinney commented on #621
Closing as the extension is published.

[2020-07-18 02:22] #621 closed, assigned to nobody

[2020-07-18 02:39] jpmckinney commented on #598
There is good work here on proposing a model, but no subsequent validation or engagement by the broader community since 2017. Without that, the evidence for the proposal doesn't seem strong enough on its own to bring it forward.

Closing in favor of ~~#598~~ #205 where I'll mention this issue.

[2020-07-18 02:39] #598 closed, assigned to nobody

[2020-07-18 02:39] jpmckinney commented on #205
Noting that #598 has some modelling work that might be relevant.

[2020-07-18 02:49] jpmckinney commented on #383
Closing this issue in favor of #817, which discusses the main points of this issue.

[2020-07-18 02:49] #383 closed, assigned to nobody

[2020-07-20 13:08] yolile commented on #900
We used the requirements extension without setting the `relatesTo` field, example: https://www.contrataciones.gov.py/datos/api/v3/doc/ocds/releases/id/302758-servicio-flete-fluvial-clinker-yeso-caliza-otros-1-1592913681.273

[2020-07-20 13:08] #900 closed, assigned to nobody

[2020-07-21 21:18] duncandewhurst commented on #883
[Example of award committee member data from Taiwan](http://web.pcc.gov.tw/tps/pur/PurDetailPeople.do?&method=viewPurDetailPeople&pkPurAnnounce=338768), which includes the following fields for each member:

* Name
* Occupation
* Academic experience related to procurement

[2020-07-22 02:42] jpmckinney commented on #766
Given that this is an issue that can only be resolved in a version 2.0 (which is not presently scheduled), and given no engagement by others on the issue, I will close it for now. When we start on version 2.0, there will be a significant effort to solicit ideas from the community – like this one.

[2020-07-22 02:42] #766 closed, assigned to nobody

[2020-07-22 03:20] jpmckinney opened #1046 "Consider a "strict" schema to introduce JSON Schema validation keywords prior to 2.0"
Several issues deal with incorrect or missing JSON Schema validation keywords. See milestone: https://github.com/open-contracting/standard/milestone/25

Typically, we would need to wait for a major version (2.0) to make changes that invalidate data from earlier versions (i.e. backwards-incompatible changes).

However, we can offer a voluntary, "strict" schema that adds in these keywords, removes d

[2020-07-22 03:27] jpmckinney commented on #904
Adding some resources to review/consider:

* Books: [Auctions: Theory and Practice](https://press.princeton.edu/books/paperback/9780691119250/auctions), [Putting Auction Theory to Work](https://www.cambridge.org/core/books/putting-auction-theory-to-work/63FA2A2D332E9E3A3238B6D5B650F2A5)
* https://iclg.com/practice-areas/public-procurement-laws-and-regulations/brazil
* Paraguay DNCP https://docs.go

[2020-07-22 03:29] jpmckinney commented on #440
Adding resources to review/consider:

* [The Law and Economics of Framework Agreements: Designing Flexible Solutions for Public Procurement](https://www.amazon.com/Law-Economics-Framework-Agreements-Procurement/dp/1107077966)
* [Handbook of Procurement](https://www.amazon.ca/dp/110740231X/)
* [EU Public Contract Law: Public Procurement and Beyond](https://www.amazon.ca/Public-Contract-Law-administ

[2020-07-22 10:59] mrshll1001 commented on #833
Agreed, core extensions as a term doesn't make sense.

"Key" extensions might be suitable. Semantically the term implies important and unlocking features. Alternatively "Primary" might be ok but carries implications of community and local extensions being Secondary and Tertiary (which may be true, but Community and Local are more descriptive).

[2020-07-22 11:50] yolile commented on #833
I agree, too. And besides, I think that the "core" word is even more confusing translated into Spanish, and usually, we explain them as recommended extensions instead.

[2020-07-24 16:05] yolile commented on #911
There are cases where the quantity is a range, eg https://contrataciones.gov.py/licitaciones/adjudicacion/contrato/373301-asismed-san-roque-s-a.html#itemsLote

[2020-07-24 16:11] romifz commented on #911
The guidance in #974 seems to cover the use of `contracts/items` (Awards and contracts page). I'm not sure if there is anything to add there, but if not I think we can close this issue.

[2020-07-29 19:30] jpmckinney commented on #911
Yes, I think https://standard.open-contracting.org/1.1-dev/en/guidance/map/mapping_awards_contracts/ is enough for 1.1. Per https://github.com/open-contracting/standard/issues/911#issuecomment-572174246, we don't really have other great examples for when to use contract items, and the model might change in future versions to leave less ambiguity, so I think okay to close.

[2020-07-29 19:30] #911 closed, assigned to romifz

[2020-08-05 11:07] mrshll1001 commented on #1020
@duncandewhurst 0.9.2 is deployed yes? If so this seems straightforward to prepare and I can add the link.

[2020-08-05 12:29] jpmckinney commented on #1020
Indeed :) We can use this link: https://standard.open-contracting.org/infrastructure/0.9/en/guidance/identifiers/#project-identifiers-in-ocds

[2020-08-05 20:59] duncandewhurst opened #1049 "Add 'software developer' to list of roles in implementation guidance"
The [build your team](
https://standard.open-contracting.org/1.1-dev/en/guidance/design/#build-your-team) section of the design guidance includes 'data expert' and 'system architect' roles, but not 'software developer'.

I suggest adding:

* A **software developer**, or developers, who will write the code for publishing OCDS data. They can be an internal team member or an external consultant. If y

[2020-08-05 22:15] jpmckinney commented on #1049
Sounds good to me!

[2020-08-06 15:51] jpmckinney opened #1050 "Example: Supporting item-based analysis"
We have heard from several users that the information disclosed about items is insufficient for their analysis.

Right now, the standardized [details](https://standard.open-contracting.org/latest/en/schema/reference/#item) that can be provided are classification, quantity, and unit. However, for medicine, for example, the classification might indicate the drug (via a UNSPSC code), but the dosage (

[2020-08-07 14:57] yolile opened #1052 "documentType: Add ''unsuccessfulDetails" to the codelist"
Similiar to https://github.com/open-contracting/standard/issues/202. For the tender 'cancelled' status we have a 'cancellationDetails' document to detail the cancellation related information, the suggestion is to add a 'unsuccessfulDetails' code to fit with the tender 'unsuccessful' status

cc @antonioherrera @jpmckinney

[2020-08-07 22:37] #644 closed, assigned to nobody

[2020-08-12 08:38] mw10104587 commented on #860
An example from Taiwan's New Taipei City.
A vendor is marked in disallowed list for a year.
http://web.pcc.gov.tw/prkms/prms-viewTenderDetailClient.do?ds=20200522&fn=RML-1-50019888.xml

Sharing it here per Charlie's request.

[2020-08-18 20:41] jpmckinney opened #1053 "Rename "publication policy" to "data user guide" as much as possible"
Discussed in CRM-5167

Was started in #929, but then forgotten when rewriting the guidance section.

[2020-08-20 15:58] #1040 closed, assigned to nobody

[2020-08-21 04:15] jpmckinney opened #1058 "Integrate blog post into serialization guidance"
https://www.open-contracting.org/2016/08/08/open-contracting-data-structure-spreadsheets/

Let's have a dedicated tabular formats page, as the serialization page will otherwise be quite long. Once that's done, we'll have to decide what to do with the remaining JSON content. Right now it has some "getting started" content (what is JSON) and some data-use content (Open Refine, etc.), both of which m

[2020-08-24 06:37] duncandewhurst commented on #892
The [Himachal Pradesh Govt Tenders Information System](https://hptenders.gov.in/nicgep/app) includes a `publicationDate` field for tenders.

[2020-08-24 06:46] duncandewhurst opened #1059 "Document availability period"
The [Himachal Pradesh Govt Tenders Information System](https://hptenders.gov.in/nicgep/app) specifies the period during which the tender documents can be downloaded.

Examples

tender/documentDownloadPeriod/startDate | tender/documentDownloadPeriod/endDate
-- | --
2017-05-10T11:00:00Z | 2017-05-31T10:00:00Z
2020-05-21T17:00:00Z | 2020-05-28T10:00:00Z

[2020-08-24 06:53] duncandewhurst commented on #815
The [Himachal Pradesh Govt Tenders Information System](https://hptenders.gov.in/nicgep/app) includes two identifiers for each tender: a tender id and a tender reference.

So we should look at adding a similar field to `tender`.

[2020-08-26 21:53] duncandewhurst commented on #1058
The tabular formats page should include clearer guidance and examples on representing arrays (using the `/0/`, `/1/` etc. array syntax in column headers) and on constructing multi-table representations (including `ocid` and `id` in all sheets, including the `id` field of the parent object for properties of objects in arrays)

[2020-08-26 22:58] duncandewhurst opened #1060 "Clarify uniqueness of `parties/id` and document guidance on publishing data without organization ids"
Niether the schema nor the [identifiers reference](https://standard.open-contracting.org/latest/en/schema/identifiers/#identifiers) are clear on the unqiueness of `parties/id` and by extension `buyer/id`, `awards/suppliers/id` etc. My understanding is that these fields are local identifiers, unique within the scope of the `parties` array / contracting process.

When a data source only contains the

[2020-08-31 16:30] jpmckinney commented on #1059
I think "availability period" (`tender.documentAvailabilityPeriod`) is more appropriate. We can wait for evidence of other jurisdictions tracking this information. Tagging as an extension for now.

[2020-08-31 18:37] jpmckinney commented on #1060
I'm happy for all three to be pursued.

[2020-09-01 03:03] jpmckinney commented on #1059
If there is a use case in which different documents are available in different periods, this might be better as a field on the Document object.

[2020-09-02 08:49] pindec opened #1062 "Search errors on standard site (since 1.1.5 release?). Some 404s and missing results."
Looks like search currently isn't working properly (since the 1.1.5 restructure?).

404 example: [searching for 'prefix'](https://standard.open-contracting.org/latest/en/search/?q=prefix&check_keywords=yes&area=default) gives results with 404s for (at least) the top two.

Missing results example: searching for ['system architecture](https://standard.open-contracting.org/latest/en/search/?q=system+

[2020-09-02 21:05] jpmckinney commented on #1062
It seems the new version of Sphinx broke the search system. I've made a change to the deploy script, so that tests will fail if the search system can't index the website. The error returned by the search system is unhelpful, so I'm deploying a new version with a longer error message. I might remove the bare try-catch, as it also contributed to hiding this error.

[2020-09-02 22:52] jpmckinney commented on #1062
Fixed https://github.com/open-contracting/standard-search/commit/41f98ff6ef758d52fb6eea43c8f89d7f16cc755a

[2020-09-02 22:52] #1062 closed, assigned to nobody

[2020-09-09 06:31] romifz opened #1064 "Guidance: Publishing OCDS in your language"
Group existing content and add instructions on flattening commands and in-file translations (see also https://github.com/open-contracting/standard/issues/229).

----

How to include translations for schema files

I'm not sure if this is the correct repository for the question, please let me know if this does not belong here.

I'm wondering how would be the best way to produce and save translated s

[2020-09-09 16:01] ocdsgithubdemo opened #1063 "Example"
Lorem ipsum (delete me)

[2020-09-09 16:02] #1063 closed, assigned to nobody

[2020-09-09 19:45] jpmckinney commented on #1064
@romifz For registered extensions, there's an open issue to host the translated schema and codelist files in the Extension Explorer: https://github.com/open-contracting/extension-explorer/issues/62 That approach (like for the standard) uses OCDS Babel to extract strings to translate from those files (just the titles and descriptions), using the `pybabel extract` command. These are then pushed to T

[2020-09-10 18:31] romifz commented on #1064
@jpmckinney I think it sounds reasonable. I will prepare a recommendation based on this.

Thanks!

[2020-09-11 13:00] ColinMaudry commented on #917
Should the `description` of the `ocid` field in the schema be updated? It may be sufficient to only update the documentation, since neither the semantics, the structure nor the validation rules change.

[2020-09-11 13:50] ColinMaudry commented on #707
### Document description

I agree, current wording is better :heavy_check_mark:

### Document's `description` description

The current description of `description` says:

I think the current wording gives enough flexibility to publishers, especially if specific documentation (e.g. [PPP profile documentation](https://standard.open-contracting.org/profiles/ppp/latest/en/)) or OCP support advises to

[2020-09-11 14:25] ColinMaudry commented on #701
If I summarize well, here are the changes to be made to the core descriptions in 1.2:

:heavy_check_mark: `Budget`: This section contains basic information about the budget estimated for, or allocated to, this contracting process at the present time. Further documentation and data about how budgets have been allocated to a contracting process should be published outside of OCDS data, according to

[2020-09-11 14:28] ColinMaudry commented on #701
I think it repeats what the first sentence of the current description of `Budget.amount` says:

[2020-09-11 14:41] ColinMaudry commented on #571
All in all, for v1.2, this will be the new definition of procuringEntity:

[2020-09-11 14:44] ColinMaudry commented on #571
The definition must also be edited in the [party role codelist](https://standard.open-contracting.org/latest/en/schema/codelists/#party-role).

[2020-09-11 15:59] jpmckinney commented on #707
@ColinMaudry Can you also consider whether to integrate the content from https://github.com/open-contracting/standard/issues/707#issuecomment-514595290 into the docs, perhaps at https://standard.open-contracting.org/latest/en/schema/reference/#document ?

@duncandewhurst Okay to keep the description of the document `description` field as-is?

[2020-09-14 14:27] ColinMaudry commented on #789
I suggest to add the following to the impacted fields' description:

Option 1:

Option 2:

[2020-09-14 17:05] PaulBoroday commented on #440
Hi @jpmckinney ! How it is now considering that we have secondStage in the EU extension with a bit different logic?

[2020-09-14 17:06] PaulBoroday commented on #440
Hi @jpmckinney ! How it is now considering that we have secondStage in the EU extension with a bit different logic?

[2020-09-14 17:18] jpmckinney commented on #440
The EU extension is just about describing the second-stage from the perspective of the first stage (e.g. min/max candidates): https://extensions.open-contracting.org/en/extensions/secondStageDescription/master/ The EU legislation / process doesn't describe the second-stage itself (the specific invitations to bid); it only announces the awards from any mini-competitions.

The DNCP extension above i

[2020-09-14 19:49] jpmckinney commented on #789
We avoid words like "strongly". Otherwise, it's hard to disambiguate "strongly encouraged to" from "necessary to" or "strongly recommended to" from "required to".

In this case, we can use the normative word "recommended". So I suggest:

[2020-09-15 04:23] duncandewhurst commented on #707
Sounds good.

[2020-09-15 07:45] ColinMaudry commented on #849
:+1: for Option 1.

That's right: OCDS 2.x will not be retro-compatible with OCDS 1.x, and as such can be considered as a new format, faithful to the spirit of OCDS, but distinct. And we wouldn't advise against publishing procurement data in a different format. It actually is good practice (e.g. French government publishes their data in [national format + OCDS](https://www.data.gouv.fr/fr/datasets

[2020-09-15 07:49] ColinMaudry commented on #849
Indeed, and we must not forget that the OCDS release is distinct from what it describes. It's an opinionated abstraction of reality, built for specific and limited purposes, and other abstractions, serving other purposes, may live alongside.

[2020-09-15 19:51] yolile opened #1070 "Amounts: charges and discounts"
## Problem
In Chile, (and Paraguay too) for the purchases made from a framework agreement, they have extra charges and discounts that apply to the items unit prices or the total amount of the purchase order.

In Chile, the charges are related to the shipping of the item and the discounts can be related to the volume of the item or agreements between the supplier and the buyer.

In OCDS there is on

[2020-09-16 01:43] jpmckinney commented on #865
Has been integrated into OCDS 1.2.0 Working Group plan.

[2020-09-16 01:43] #865 closed, assigned to nobody

[2020-09-16 02:24] jpmckinney commented on #891
We need to also think through how to integrate extensions into the docs without overwhelming users.

[2020-09-16 16:54] ColinMaudry commented on #891
By the docs I assum you mean the core docs.

@jpmckinney What would overwhelm them? The quantity of the docs? Or the complexity (regarding this issue, I think it brings simplicity)?

[2020-09-16 17:16] ColinMaudry commented on #888
@jpmckinney From @yolile's comment I understand it's not required in Paraguay, but would it be possible to change the distribution of the items among lots between the tender and award stages? Does OCDS allow that?

The lot-to-lot comparison would be broken, but the item IDs being preserved, an item-to-item comparison between the tender and award stages would still be possible.

[2020-09-16 17:40] ColinMaudry commented on #825
That would be the buyer since it is a central role in OCDS, with its own field at the top of release and usually the only buying party.

[2020-09-16 17:50] ColinMaudry commented on #825
We have used the 'funder' role in the EU guidance in a single case: to support the following form field (it's common across the forms):

Its implementation requires no extension

[2020-09-16 18:13] ColinMaudry commented on #825
This is the current (OCDS 1.1) description of buyer:

If we remove the budgeting part, there isn't much remaining.

My feeling is that a buyer in OCDS is, by default, a combination of several roles, since it's the default role:

- it provides the funds for the procured stuff (funder)
- it manages the procurement process (procuring entity: "The entity managing the procurement. This can be different

[2020-09-16 18:21] ColinMaudry commented on #901
If I get it right, the purpose of this issue is to:

1. scan the docs and schema for misuses of "eligibility" and "selection"
2. assess the use of `eligibilityCriteria` for selection criteria

More generally, in 1.2 we must pave the way towards straight definitions and consistent structures (xxxCriteriaDetails + structured array of criteria) for all criteria in 2.0.

I'll start with 1. and we can

[2020-09-16 18:32] ColinMaudry commented on #901
In the schema, I believe the description of `awardCriteria` is problematic. It refers both to award criteria (assessment of the goods/services :heavy_check_mark: ) and selection criteria (assessment of the tendering party :x:):

@jpmckinney Is removing "or selection" a breaking change?

[2020-09-16 19:01] ColinMaudry commented on #901
I found no misuse of "eligibility" in the docs nor in the schema. It's actually mentioned only two times:

- in the description of the `tender.eligibilityCriteria` field
- in the description of the `eligibilityCriteria` document type

[2020-09-16 19:32] jpmckinney opened #1071 "Fix description of awardCriteriaDetails"
awardCriteriaDetails is described as:

However, as mentioned in #162, award criteria are not selection criteria. Previous to #162, the description was:

So, "award or" was added. The correct change would have been to remove "selection".

Originally identified in https://github.com/open-contracting/standard/issues/901#issuecomment-693584325

[2020-09-16 19:37] jpmckinney commented on #901
I created #1071 for `awardCriteriaDetails`.

For this issue, let's add detail to the definition, with some examples, e.g. "For example, a supplier might be ineligible if they have been temporarily suspended or debarred by the buyer."

The issue also proposes adding a `tender.selectionCriteria` field.

To assess the use of `eligibilityCriteria`, please ask the Helpdesk to query the database to asse

[2020-09-16 19:50] jpmckinney commented on #825
@ColinMaudry See also https://github.com/open-contracting/standard/issues/903#issuecomment-517703361. Can you also have a look at the glossaries, etc. mentioned in #827? Since we will be doing a lot of lookups into these other glossaries, we might want to put together a comparison table.

[2020-09-16 19:54] jpmckinney commented on #825
Regarding your proposals:

a) The concept of a 'buyer' is a commonly needed concept, even if the entity it references might have different other roles in different contexts. So, we shouldn't do this option.
b) I'm hoping that after reviewing my above comment, we might find a better definition that is less ambiguous.

While working on this issue, we should also update the description of the `buyer`

[2020-09-16 19:57] jpmckinney commented on #888
OCDS doesn't allow that. I'm not aware of any jurisdiction that allows changing the composition of lots between the tender and award stages (except to combine lots, which doesn't change their individual composition). Are you aware of any?

[2020-09-16 20:01] jpmckinney commented on #891
Yes.

Adding only lots might not be too complex, but I'm thinking if we add many more extensions into core, it'll get quite complex unless we do some things to address that complexity.

Adding more extensions to core would be good – extensions have issues as [described here](https://github.com/open-contracting/infrastructure/issues/163#issuecomment-623772135). A simple example is that there is no

[2020-09-16 20:05] jpmckinney commented on #571
@ColinMaudry Like #825, can you also have a look at the glossaries, etc. mentioned in #827? I would be more confident in the re-definition if we had a comparison table with other definitions.

[2020-09-16 20:14] #420 closed, assigned to nobody

[2020-09-16 21:45] jpmckinney commented on #1070
@yolile I prefer a breakdown; otherwise, users are very unlikely to correctly sum the numbers. We can consider a `valueBreakdown` that is parallel to the `value` object (not nested inside it).

[2020-09-16 22:02] jpmckinney commented on #701
@ColinMaudry Yes, I think we can go ahead with the changes to `Budget`, `budget/description` and also `budget/id`, and we can add the warning you quoted to `budget/amount`.

[2020-09-16 22:11] #801 closed, assigned to nobody

[2020-09-17 02:04] jpmckinney commented on #902
@ColinMaudry Can you check if there are any other occurrences of "contract" that should similarly be substituted?

Also, in the PR, use "the contract, framework agreement or dynamic purchasing system" without repeating "the" (it's currently "the contract, the framework agreement or the dynamic purchasing system".

[2020-09-17 13:18] yolile commented on #1070
so for this example, the proposal will look something like, if we use the same approach as the budget breakdown extension:

[code]
or if we use the item's attributes extension approach (which is more verbose):

[code]

[2020-09-17 13:33] jpmckinney commented on #1070
I thought budget breakdown also didn’t have user assigned field names? I think I prefer the verbose, as it’s conceivable we want to attach more details about each value.

[2020-09-17 13:40] yolile commented on #1070
Sorry I meant [Budget and Spend classification extension](https://extensions.open-contracting.org/en/extensions/budget_and_spend/master/), but ok I agree with you

[2020-09-18 07:04] ColinMaudry commented on #825
From the @eprocurementontology mailing list:

[2020-09-18 08:49] pindec commented on #901
I've shared Helpdesk's previous research on the topic with @ColinMaudry and will update with some more recent examples.

[2020-09-18 11:21] ColinMaudry commented on #888
I don't, just checkin'

[2020-09-18 12:43] yolile opened #1073 "Tender Classification: Update description to include call-offs from framework agreements"
The current extension's description [says](https://github.com/open-contracting-extensions/ocds_tenderClassification_extension#tender-classification):

But a classification may be needed for a call-off that came from a framework agreement so the description could be updated to:

[2020-09-18 15:12] jpmckinney opened #1074 "Add a field and code explorer"
From @ColinMaudry in https://github.com/open-contracting/infrastructure/issues/163

I think a field database bound to a multilingual glossary of terms would greatly help. Fields could be tagged and categorized according to various properties such as:

- OCDS version compatibility
- core or extension
- update date

Full text search would enable discovery via keywords... especially if synonyms are d

[2020-09-18 15:16] jpmckinney commented on #1074
We can maybe start with a simple widget using https://select2.org or similar that allows people to search fields/codes by name, title and description. Other ideas:

* Airtable-based tools

[2020-09-18 15:27] jpmckinney opened #1075 "Consider re-organizing Reference section"
* The Reference section doesn't offer a clear path for users. Its [landing page](https://standard.open-contracting.org/latest/en/schema/) doesn't sign-post to all sub-pages, so some readers might never read, e.g. the [Identifiers](https://standard.open-contracting.org/latest/en/schema/identifiers/) page.
* [Release Reference](https://standard.open-contracting.org/latest/en/schema/reference/) is ve

[2020-09-18 16:59] jpmckinney commented on #1075
Looking at the content, we have:

## Thematic content

* https://standard.open-contracting.org/latest/en/schema/identifiers/
* https://standard.open-contracting.org/latest/en/schema/reference/#release-handling
* https://standard.open-contracting.org/latest/en/schema/reference/#language
* https://standard.open-contracting.org/latest/en/schema/merging/
* https://standard.open-contracting.org/latest/

[2020-09-18 17:02] jpmckinney commented on #1075
In terms of re-architecture, we might consider:

* Lead with the thematic content, starting with one page per theme
* Provide the Schema/Codelist references, with one page per object/codelist, so that there is only one big table per page. Presently, I believe a lot of users haven't read the explanatory content above each table, because it's very easy to miss.
* Provide the schema browsers in one s

[2020-09-18 21:35] jpmckinney opened #1076 "Add link to Tool reuse primer"
Add https://www.open-contracting.org/resources/tool-re-use-in-open-contracting-a-primer/ on https://standard.open-contracting.org/latest/en/support/#ocds-tools.

Related: #1030

[2020-09-20 03:44] jpmckinney commented on #827
http://www.mapsinitiative.org/methodology/MAPS-glossary.pdf

[2020-09-20 16:56] jpmckinney commented on #1074
Going further, besides finding a term based on its machine name, title and description, we can support finding it based on synonyms, pulled from a glossary that crosswalks to GPA, UNCITRAL, etc. (related #827).

[2020-09-24 14:26] ColinMaudry commented on #827
We could work toward having a taxonomy, connecting concepts according to various properties (equivalent to, similar to, related, broader, narrower), using the [SKOS ontology](https://www.w3.org/TR/skos-reference/) (W3C recommendation) and publishing it using Skosmos([website](http://skosmos.org/), [Github](https://github.com/NatLibFi/Skosmos), [example of taxonomy](http://finto.fi/koko/en/page/p54

[2020-09-25 08:01] dwasyl commented on #1245
For what it's worth, we've used the `bid/status` of "invited" to show this sort of thing in the past (in Northwest Territories, Canada). Much like Paraguay, sometimes particular vendors are told about a tender, but it doesn't mean they will bid, and it doesn't exclude anyone else. There are other selective tenders where they only invite a few vendors to bid (and no one else is allowed to), but in

[2020-09-28 14:54] ColinMaudry commented on #901
Analysis of the usage of `eligibilityCriteria` by @pindec: https://docs.google.com/spreadsheets/d/1WgXKTfaHQKrIhMdUMQuK_TAPx19T8DXhaLKTykSoeL0/edit?ts=5f71ec09#gid=386792540

My understanding is that `eligibilityCriteria` is somewhat used, but not much.

- Honduras seems to use it as a `procurementMethodDetails`
- Czech republic seems to use it as selection criteria respectively
- Taïwan: not clea

[2020-09-28 15:29] odscrachel opened #1077 "Contact person details when registering prefix. Minor change."
When registering an OCID prefix we need to know who the contact person will be, and their email address. It doesn't state this on the standard website resulting in the helpdesk often having to email back to ask/clarify.
I suggest we add this [here](https://standard.open-contracting.org/latest/en/guidance/build/#register-an-ocid-prefix) as a minor change to speed up the process for publishers.

[2020-09-28 16:26] jpmckinney commented on #1077
@odscrachel Sounds good!

[2020-09-29 01:07] jpmckinney commented on #901
@ColinMaudry Sounds good! I suggest working on each of the two fields in separate PRs, to make them easier to merge.

[2020-09-29 13:48] ColinMaudry commented on #827
Working document: https://docs.google.com/document/d/1lXRWIOjHjhK5KvVrfuC1MBAMl1JvoV9zBCR7Lt5UcUM/edit

[2020-09-29 21:15] jpmckinney commented on #1075
On each sub-schema page, we can implement a new directive to list where that sub-schema is referenced from (with a link to the relevant page), e.g. the Document sub-schema page would like to the Tender, Award and Contract pages.

[2020-09-30 09:48] ColinMaudry opened #1078 "max and min vs. maximum and minimum"
In the core schema, we have `tender.minValue`.

In the techniques extension we have `frameworkAgreement.maximumParticipants` and `frameworkAgreement.minimumParticipants`.

I think we should decide whether we want to use a short or a long prefix for minimum and maximum values.

[2020-09-30 09:53] ColinMaudry opened #1079 "[subcontracting] Copy some or all the fields to Tender"

[2020-09-30 16:06] jpmckinney commented on #1078
We should avoid abbreviations going forward. I added to the style guide here: https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/schema_style_guide.html#field-and-code-names

[2020-09-30 16:06] #1078 closed, assigned to nobody

[2020-09-30 16:54] yolile commented on #1070
FYI Peru also has information about the breakdown of the values so they will use this extension too, eg https://apps1.perucompras.gob.pe//OrdenCompra/obtenerPdfOrdenPublico?ID_OrdenCompra=1064277&ImprimirCompleto=1

[2020-10-06 15:51] jpmckinney commented on #325
Here is an extension implementing the field: https://github.com/CompraNet/ocds_releasePublisher_extension

[2020-10-06 16:19] jpmckinney commented on #426
Copying comment from https://github.com/open-contracting/infrastructure/pull/89

[2020-10-06 17:02] jpmckinney opened #1084 "Deprecate remaining package metadata and add bulk data format"
There are issues with packages as discussed in open-contracting/infrastructure#89, #605, and CRM-4282 (all relevant comments reflected here), and the current packaging formats confer very few benefits.

## Benefits

The benefits of the current packaging format are:

1. A standardized way to publish multiple releases/records as a single file
1. Easy access to metadata:
    * `publisher`
    * `vers

[2020-10-08 12:58] ColinMaudry commented on #827
@jpmckinney Are the code lists available in tabular format?

[2020-10-08 14:57] jpmckinney commented on #827
@ColinMaudry I can prepare that. Do you want one sheet with all codelists, or one sheet per codelist?

[2020-10-08 16:20] ColinMaudry commented on #827
On sheet with all. Thanks!

[2020-10-08 16:21] ColinMaudry commented on #827
Four columns: codelist, code, code label, code description.

[2020-10-09 03:16] jpmckinney commented on #827
From the `schema/codelists` directory, in fish shell, I ran:

[code]

Uploading the CSV as TXT: [codelists.txt](https://github.com/open-contracting/standard/files/5352338/codelists.txt)

[2020-10-09 11:54] ColinMaudry commented on #827
You don't use [xsv](https://github.com/BurntSushi/xsv) yet ?! All the cool kids do :nerd_face:

[2020-10-14 12:10] yolile commented on #671
what about something like:

![image](https://user-images.githubusercontent.com/6834122/95986929-1b400700-0dfd-11eb-8154-df2906b5d0f1.png)

[2020-10-14 12:53] jpmckinney commented on #671
Yes! Looks good.

[2020-10-14 13:19] yolile commented on #912
In the new guidance this is mentioned in:
1) https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts_buyers_suppliers/#id1

2) And then in https://standard.open-contracting.org/latest/en/guidance/map/consortia/

are those enough to close this issue or should we add the consortia reference in 1) ?

[2020-10-14 15:58] yolile commented on #671
Noticing that the first one is indeed the icon for milestones in Github eg
![image](https://user-images.githubusercontent.com/6834122/96014521-ddeb7180-0e1c-11eb-8cd7-61e8b53a6728.png)

[2020-10-14 21:01] jpmckinney commented on #912
Let's link to the consortia example from the Reference section, at https://standard.open-contracting.org/latest/en/schema/reference/#award e.g.

The description of `suppliers` is:

We might add:

[2020-10-14 21:02] jpmckinney commented on #912
Ah, I forgot this was for 1.1. I think for 1.1 there is nothing more to do, so I'll change to 1.2.

[2020-10-14 21:03] jpmckinney commented on #912
Once we settle on the framework agreements worked example, we can mention them the same as consortia.

[2020-10-14 22:15] jpmckinney opened #1089 "OCDS 1.2 Announcements"
Today, we kick off the development of the next minor release of the Open Contracting Data Standard, OCDS 1.2.

In a blog post, we briefly describe:

- What went into versions 1.0 and 1.1
- What we expect to cover in version 1.2
- What the process looks like

English: https://www.open-contracting.org/2020/10/14/ocds-1-2-we-want-to-hear-your-proposals/

Español: https://www.open-contracting.org/es/2

[2020-10-16 15:35] jpmckinney opened #1090 "Add considerations of technical constraints for implementation process"
## Design

* If the OCDS publication is not treated as a core function of the eGP system, then it is very easy for the eGP system to continue to change and cause the OCDS publication to break.
  * If the eGP system has an existing data export function, it might be safest to build the OCDS publication on top of that function, since it is already supported and maintained.
  * If the current function

[2020-10-20 13:35] kindly commented on #1084
Very happy about deprecating packages however I want add a few other downsides to line delimited JSON (JSONL).

- The JSONL data in its raw form becomes unreadable as there can be no new lines within the data. So opening a JSONL file needs some preprocessing in order to just read over the raw data.  I consider this a usability concern for open data and for people approaching OCDS data.  It require

[2020-10-20 21:17] jpmckinney commented on #1084
Thanks, @kindly. JSONL is not without disadvantages, but your alternative proposals don't resolve the major issues from the issue description.

Presently, all options (including status quo) have disadvantages. We want, at minimum, a packaging format that is "least bad". It's therefore important to consider and weigh all advantages/disadvantages together.

I'll respond to your specific points.

##

[2020-10-20 22:34] jpmckinney commented on #1084
For publishers, another benefit of JSONL is that it is easier to create bulk downloads.

The least efficient implementation would load all the data into memory, dump it to a single string, then write it. For example:

[code]

An easy optimization is to dump it iteratively, e.g. substituting this line:

[code]

**Note**: Not all programming languages' standard libraries for JSON do iterative writin

[2020-10-21 02:08] jpmckinney opened #1092 "Make releases optional on Record definition"
## Background

For some publishers, it's only feasible/possible to prepare the compiled release – that is, a release that provides the full information about a contracting process at a given time. This might be the case if, for example, the IT system doesn't implement versioning, events, good identifiers and/or proper controls (e.g. it allows a user to just change a supplier's name instead of requ

[2020-10-21 02:09] jpmckinney commented on #1092
@yolile I think we might have recommended this to a publisher. Do you remember the CRM issue?

This proposal came up in discussion with @dwasyl.

[2020-10-21 02:15] jpmckinney commented on #1092
We might want to add caveats to the [easy releases](https://standard.open-contracting.org/latest/en/guidance/build/easy_releases/#easy-releases) page, to help publishers determine whether they can support that approach, or whether they should just publish compiled releases.

I can't find the relevant sentence after a quick look in the docs, but we should also avoid any confusion about whether "ful

[2020-10-21 02:18] yolile commented on #1092
I think this is related to #1031, as publishing historical data is another
case for using only compileReleases. And if I don't remember wrong the
discussion came up while implementing Paraguay's OCDS API with historical
data.

[2020-10-21 02:35] duncandewhurst commented on #1092
Should the issue title be 'Make releases optional on Record definition' per the proposal?

[2020-10-21 03:02] jpmckinney commented on #1092
Yes! That's what I was looking for. I guess this case is a little different, because it's for recent data, but where the constraints are similar as for historical data.

Indeed, typo!

[2020-10-21 03:51] jpmckinney commented on #1084
In terms of which media type to use, there is some discussion here: https://github.com/spring-projects/spring-framework/issues/21283

That thread mentions [RFC7464](https://tools.ietf.org/html/rfc7464), whose format is `RS JSON-text LF`, i.e. a record separator character, any JSON text (can be compact or not), and a line feed (newline). [RFC8142](https://tools.ietf.org/html/rfc8142) for GeoJSON Te

[2020-10-21 12:51] yolile commented on #784
As discussed in CRM-4122, if this data isn't available an explicit field to distinguish the direct call-off from a mini-competition would be better, an extension for that is drafted here https://github.com/open-contracting-extensions/ocds_competitive_extension

[2020-10-21 15:12] kindly commented on #1084
Agreed about YAML but I find it a shame there is not well supported safe subset.

I still think we should support both JSON (with top level array) and JSONL with a debate about which should be the canonical format.  The data model is the same either way and we should give guidance about when it would be best to use either (say over 1000 releases for JSONL).

Using JSON is still clearly in my eyes

[2020-10-21 17:22] jpmckinney commented on #1084
One option is to not deprecate the package schemas, but to do one or both of:

1. Relax the requirement to publish OCDS data following the package schemas
1. Offer a bulk download package format (JSONL)

If both are done, then a publisher can publish only JSONL, if they choose. If we omit (1), then a publisher must at least publish data following the package schemas, and can optionally publish the

[2020-10-21 20:05] kindly commented on #1084
@jpmckinney that suggestion sounds good to me and so does not breaking backwards compatibility with the current package schemas.

I would consider deprecating/removing the package level fields though, so the model will be more consistent in future.

Also would be good to remove any validation constraints (even types) on the package level fields especially `"uniqueItems" : true`. https://github.com

[2020-10-21 21:17] duncandewhurst opened #1096 "Link to extension explorer for OCDS extensions"
The [BudgetBreakdown reference](https://standard.open-contracting.org/infrastructure/latest/en/reference/schema/#budgetbreakdown) includes links to the Github pages for the Budget Breakdown and Budgets and Spend extensions.

We should instead link to the extension explorer pages for these extensions and any other extensions referenced in the documentation.

[2020-10-22 11:41] kindly commented on #426
I think the use of the $schema flag is a good idea and really good for validators themselves to not need to json-merge-patch the extensions.
However, I am also worried about the publishers ability to do this compilation and to host a version of a new schema.

So in order to do this well I think we will need to host some kind of service that creates the extended schema for the publishers.

So a too

[2020-10-22 13:12] kindly commented on #426
Having codelist compilation outside the DRT would be really beneficial too.

So we would also need something like.
`http://standard-schemas.open-contracting.org/1__2__0/codelists.zip?bids=v1.1.5&budget=master`

[2020-10-22 15:18] odscrachel commented on #1009
Actions still outstanding that involve resources becoming available:

- [ ] (Set your goals and priorities) Add link to [Guide to User Research](https://drive.google.com/file/d/10-4rTGmpXk4oRoyg7ccuv4Jga_6B_lpI/view) once document sharing settings updated.
- [ ] Add link to packaging worked example under 'establish your publication formats and access methods', once ready.
- [x] Add action/link to

[2020-10-22 15:30] odscrachel opened #1095 "Improving API guidance"
In ticket #1009 there was an action to 'Revisit the guidance on bulk downloads and API filters' that included

- Improve API guidance to describe API designs that would allow users to retrieve only new data, e.g. the user can pass a “since” parameter or a cursor.
- We should encourage bulk downloads in JSON format, to avoid having to scrape the API to get the full dataset.
- We should encourage en

[2020-10-22 17:08] jpmckinney commented on #426
Yes, the [ProfileBuilder](https://ocdsextensionregistry.readthedocs.io/en/latest/api/profile_builder.html) can do that work; it's what's used to patch schema and codelists for OCDS profiles ([example output](https://standard.open-contracting.org/profiles/ppp/schema/)).

Building such a service makes sense to me. I'm hesitant about adding more infrastructure to the standard, but we can make it easi

[2020-10-22 17:51] jpmckinney commented on #1095
At the 2020-02 OCDS Retreat, I think this was mostly discussed by @juanpane and @duncandewhurst.

[2020-10-23 15:17] pindec commented on #987
The list of ‘organization identification schemes’ held by this standard is around 200 items long. Each organisation identification scheme is issued an ICD (International Code Designator) value.

Actual registration bodies for organisations are a minor subset of ICDs, so not all items are suitable for use in OCDS to uniquely identify organizations involved in contracting processes. Many schemes pro

[2020-10-23 15:42] jpmckinney commented on #987
The [eForms Policy Implementation Handbook](https://docs.google.com/document/d/1PMxDgTLw2vF43X5PUUcy72pmNDDZGHQyYKo3SxqrMfE/edit) has an Organization Identifier section:

Since source data from EU Member States will follow that guidance, we should at least offer a straightforward way of mapping it to OCDS.

I don't know if ISO 6523 is used in current TED or if it's a new requirement for eForms. It

[2020-10-23 23:41] jpmckinney opened #1097 "Review of more recent versions of JSON Schema"
## Discussion

The Draft-04 we're using matches draft-zyp-json-schema-04 / draft-fge-json-schema-validation-00.

http://json-schema.org/draft-06/json-schema-release-notes.html matches draft-wright-json-schema-00, draft-wright-json-schema-01 / draft-wright-json-schema-validation-00, draft-wright-json-schema-validation-01

* Draft-06 is tidier and adds validation properties, but nothing is added tha

[2020-10-24 19:28] jpmckinney commented on #862
Sphinx has [versionadded](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded) and [versionchanged](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionchanged) directives.

[2020-10-26 14:01] mrshll1001 commented on #833
I think "Recommended extensions" is definitely the way to go here for now, although we may generate confusion later. The reason for this is that we have existing materials which claim that recommended extensions are supported / versioned by our team along with the standard. If a third party creates an extension that turns out to be "recommended" by us; we need to then be able to distinguish betwee

[2020-10-26 15:12] jpmckinney commented on #833
@mrshll1001 Indeed – we haven't found a word that everyone agrees communicates the idea clearly, but "recommended" seems least bad. We can maybe use the language of "promote" when we're recommending extensions in a social way via Helpdesk work.

[2020-10-26 16:07] kindly commented on #426
Perhaps we say that the publishers should host the schema and codelist files when publishing to production, but this service could be there to:
- Act as a way to test out extensions by giving a temporary `$schema` url that should work whilst iterating on the data. This is so that they do not have to compile and host a new version of the schema/codelists for every extension change in order for vali

[2020-10-26 22:36] jpmckinney commented on #426
@kindly Your last sentence seems to be cut off?

[2020-10-26 23:35] duncandewhurst opened #1098 "itemClassificationScheme: Add codes for SDG and SDGTarget"
The [Himachal Pradesh Health Procurement Performance Index](https://hp.openbudgetsindia.org/#/procurement/analysis) tags contracting process with the SDG targets they relate to.

To model this in OCDS they are using the [tender classification extension](https://extensions.open-contracting.org/en/extensions/tenderClassification/master/) with `.scheme` set to 'SDG' or 'SDGTarget', depending on wheth

[2020-10-27 09:34] kindly commented on #426
@jpmckinney oops.

I was going to say that we could have a way for the schema/codelists files to be uploaded to a service like s3 and stored permanently which could be owned by OCP.   This would mean that the service itself would not need very good uptime/redundancy but the results should have it.  The cost of this is likely very small,  but would mean a potentially unknown permanent cost and may

[2020-10-27 09:59] kd-ods commented on #987
This is something we've been considering with respect to [org-id](http://org-id.guide) and org-identifiers in general: the necessity of a cross-walk between identifier scheme registers.

It's interesting that the eForms guidance takes the iso list as a starting point but is candid about the lack of suitability of many of the schemes on it:

[2020-10-28 14:11] mrshll1001 commented on #833
@jpmckinney Agree with "promote" throughout social interactions via helpdesk. I'd also be keen to avoid use of the term "supported" as it may be easy for someone to conflate this with it being technically compatible ie "Google Meet supports Firefox, Chrome, etc". As long as an extension is developed correctly OCDS data would "support" it.

An alternative that I've admittedly not thought through is

[2020-10-28 15:10] jpmckinney commented on #1089
Two weeks ago, we kicked off development of the next minor release of the Open Contracting Data Standard, OCDS 1.2.

In a new blog post, we go into more detail on the priorities for OCDS 1.2.

English: https://www.open-contracting.org/2020/10/27/ocds-1-2-what-well-be-working-on/

Spanish: https://www.open-contracting.org/es/2020/10/28/ocds-1-2-en-lo-que-estaremos-trabajando/

This marks the second

[2020-10-28 16:01] tdavis9 opened #1099 "Extension for dealing with inflation"
We would recommend adding some of the extensions we have created to deal with values/amounts that may change in certain countries due to inflation.

https://github.com/devgateway/ocds_currentValue_extension
https://github.com/devgateway/ocds_openingValue_extension
https://github.com/open-contracting-extensions/ocds_exchangeRate_extension

The problem with those countries (note: for DNV Argentina w

[2020-10-28 16:01] tdavis9 opened #1100 "Items in the Planning Section"
We found that it is useful to have items in the planning section of the OCDS. We’ve created an extension for that

https://github.com/devgateway/forms-makueni/tree/master/persistence-mongodb/src/main/resources/extensions/planning_items

[2020-10-28 16:02] tdavis9 opened #1101 "milestoneStatus: Add "delayed" code"
The milestone codelist is closed so one cannot add more values. We would find useful a ‘delayed’ option. We’ve created an extension to cope with this, but again we would benefit from either an open codelist or a closed codelist with this option included, in which case we would not need this extension

https://github.com/devgateway/forms-makueni/tree/master/persistence-mongodb/src/main/resources/ex

[2020-10-28 16:02] tdavis9 opened #1102 "Add Target Group to Organization Metadata"
We found it useful to have the target groups of organizations included in the organization metadata. Also, tenders sometimes do have target groups included in their definition. Thus we have created the Target Groups extension to add this information to Organizations and Tender elements

https://github.com/devgateway/forms-makueni/tree/master/persistence-mongodb/src/main/resources/extensions/target

[2020-10-28 16:03] tdavis9 opened #1103 "Tender location directly tied to tender"
Makueni County, Kenya has tenders that are directly related to locations, regardless of the items within the tender. We are aware of the OCDS Location Extension but this assumes that items are linked to locations, which is not what we encountered. We have created an OCDS extension that depends and extends upon the OCDS Tender Location extension, but re-uses this entity directly at the tender level

[2020-10-28 16:05] tdavis9 opened #1104 "tender.title: Recommend a length limit"
We found when trying to use UK OCDS data that some of the titles were so long (mostly because they were listing information such as organizations in the title) that when we tried to use this for charts and exporting it, it essentially broke the system, and we had to create our own limits and cut them off at a certain point. Signifying how long a Tender Title (and other similar fields) could be wou

[2020-10-28 17:23] jpmckinney commented on #833
@mrshll1001 Yes, I'm happy with that approach, too.

[2020-10-28 17:38] jpmckinney commented on #1100
Thanks, @tdavis9. Can you contribute to the discussion in #794, where both this extension and an identical extension by Paraguay's DNCP are discussed?

[2020-10-28 17:38] #1100 closed, assigned to nobody

[2020-10-28 17:41] jpmckinney commented on #988
Noting that prior issues relevant to this include #384 continued from #277

[2020-10-28 17:45] jpmckinney commented on #1099
Thanks, @tdavis9. Can you contribute to the discussion in #988?

We generally aren't in favor of an approach like `currentValue`. To populate `currentValue` with the actual current value would require continuously re-publishing values as exchange rates or inflation changes. It seems much simpler to just state the date of the original value, and allow data consumers to perform the conversion using

[2020-10-28 17:45] #1099 closed, assigned to nobody

[2020-10-28 17:54] jpmckinney commented on #1099
As for `openingValue`, I am not clear on its semantics. In OCDS, the initial value of any `value` field is considered to be its "opening value". Could you clarify?

Also, for the inflation `coefficient`, any coefficient needs to be with respect to a specific date – the inflation coefficient from 1900 is different from 2000, etc. – so I am not clear how the user is expected to interpret that value.

[2020-10-28 18:05] jpmckinney commented on #1101
Thanks, @tdavis9, we're happy to consider new codes for this codelist. Could you clarify the semantics?

* Does it mean "re-scheduled", i.e. the entity that set the milestone deliberately changed the due date, in which case the `dueDate` should have been updated to a date after today's date?
* Does it mean "late", i.e. the entity responsible for meeting the milestone hasn't yet met it, in which ca

[2020-10-28 18:11] jpmckinney commented on #1104
Thanks, @tdavis9. What would you recommend as an appropriate maximum length?

For 1.2, we can't add a validation rule (which would be backwards-incompatible), but we can add a recommendation in the field's description for an appropriate length.

[2020-10-28 18:16] jpmckinney commented on #1103
Thanks, @tdavis9. Can you share some sample location descriptors? Does Makueni County have item-level information?

If there is item-level information, the location data can be repeated across all items. To avoid this repetition, there is issue #893 about moving some reused content to the top-level. In that case, each item would just refer to the same location.

[2020-10-28 18:17] jpmckinney commented on #1103
@yolile @duncandewhurst This use case sounds familiar – not sure if it's come up in other implementations.

[2020-10-28 18:22] jpmckinney commented on #1103
@yolile I found one case: in #888, all items in a given lot had the same location. That case might also be addressed by #893 (without adding a location field to the lot).

[2020-10-28 18:26] jpmckinney commented on #1102
@tdavis9 Can you clarify the semantics of "target group"? Is it the group that is expected/desired to bid on the opportunity (e.g. some UK tenders are advertised as interesting to SMEs, but not reserved to SMEs)? Or are the semantics that the opportunity is restricted to/reserved for those groups?

In #711, we created an [organization classification extension](https://extensions.open-contracting.o

[2020-10-28 18:31] yolile commented on #1103
@jpmckinney yes, that was the case in Paraguay. I recently have seen that in Peru the same happens with the contracts from a framework agreement, where the location is at contract level, example: https://apps1.perucompras.gob.pe//OrdenCompra/obtenerPdfOrdenPublico?ID_OrdenCompra=1109816&ImprimirCompleto=1

page 2

[2020-10-28 19:07] jpmckinney commented on #1102
If the semantics are "restricted to/reserved for these target groups", then from @ColinMaudry's work on the [OCDS for EU profile](https://standard.open-contracting.org/profiles/eu/master/en/), we have an [other requirements extension](https://extensions.open-contracting.org/en/extensions/otherRequirements/master/), which adds a `tender.otherRequirements.reservedParticipation` array, whose values a

[2020-10-28 19:12] jpmckinney commented on #1102
@LindseyAM @pindec In the cases we previously discussed for organization classification in #711 (Nepal, etc.), were classifications only used to describe organizations, or were they also used to describe which tenders were targeted to those groups?

[2020-10-28 21:05] jpmckinney commented on #426
Sounds good to me! Once a PR is made for this issue, I'll create a follow-up issue in https://github.com/open-contracting/extension_registry.py, and another issue somewhere for creating this new service (maybe it's just another functionality of Toucan). This is in addition to all the other issues that will be created for a change in packaging.

[2020-10-29 09:28] tdavis9 commented on #1101
What we've encountered is when it means "late," while this can be determined by reviewing the dueDate. Per #914, having it explicitly listed would reduce need to calculate this to determine that the project is delayed.

[2020-10-29 10:11] mpostelnicu commented on #1103
@jpmckinney yes we do have items but since in some cases there can be a lot of them, we wanted to avoid repetition to keep the OCDS json smaller. #893 sounds like a great idea.

[2020-10-29 12:17] JachymHercher commented on #866
I second the conclusions in https://github.com/open-contracting/standard/issues/866#issuecomment-519987447 on multi-stage, planning and unsuccessful. I am not sure whether I understand the implications of the unit of analysis discussion from https://github.com/open-contracting/standard/issues/866#issuecomment-523178253. Is it right to summarize it as "contracting process = OCDS unit of analysis +

[2020-10-29 12:28] JachymHercher commented on #790
In eForms, a lot can receive one or more bids and a contract can be linked to one or more winning bids, which I think is equivalent to the situation described above. This seems to be a common use case for example in the medical sector, where a procedure can contain hundreds of lots for particular pharmaceuticals / chemical substances and a few pharma companies submit their bids for all lots. Once

[2020-10-29 12:57] JachymHercher commented on #396
Electronic catalogues were discussed at length during the negotiations of the EU's 2014 directives and the conclusion was quite elegant (and put, somewhat unintuitively, only in Rec. 68 of Directive 2014/24/EU): "Electronic catalogues are a format for the presentation and organisation of information in a manner that is common to all the participating bidders and which lends itself to electronic tr

[2020-10-29 14:05] yolile commented on #1084
I would consider deprecating/removing the package level fields though, so the model will be more consistent in the future.

I totally agree with this. As even in the API responses, when the publisher uses a lot of extensions the extension list can be really long. Eg https://contrataciones.gov.py/datos/api/v3/doc/ocds/record/ocds-03ad3f-331547-2 https://apiocds.colombiacompra.gov.co:8443/apiCCE2.0/

[2020-10-29 14:24] yolile commented on #426
Having the patched schema with all the extensions hosted somewhere will be very useful when using the flatten tool with the --use-titles feature. And also If a publisher wants to document all the fields that they are using, including extensions it will be easier for them to use the `mapping-sheet` command from `ocdskit` or toucan to create a data dictionary of their publication.

[2020-10-29 14:26] yolile commented on #426
Although, isn't this kind of in conflict with #1084?

[2020-10-29 14:34] tdavis9 commented on #1104
@jpmckinney we would recommend a max of 150 to 200 characters. Understood that for this it would need to be a recommendations. Here is an example of one of the titles that was problematic:

[2020-10-29 14:46] yolile commented on #790
Could this be modeled as: create an award for each supplier, but without declaring `award/items`. Then, for each supplier, create a contract that relates to its award and disclose the items in `contract/items`?

[2020-10-29 15:13] yolile commented on #689
Aha, but I think it will break any existing tool that expects `quantity` to be a number and do calculations with it. Maybe another mixed solution could be to leave the quantity field as it is and add just one other field, `estimatedQuantity` that can be an interval or an approximated value?

[2020-10-29 15:18] tdavis9 commented on #1104
For fields that would likely be used in an index, 800 characters is the max that we've seen it function decently at.

[2020-10-29 15:35] mrshll1001 commented on #893
I've sometimes thought that the Document blocks could be moved into a top-level array similar to parties, and referenced appropriately. However the flip side of this is that documents are often tied quite closely to the stage of procurements; so might not make as much sense to do this as I originally think. Keen to explore it as an option.

[2020-10-29 17:51] jpmckinney commented on #893
@mrshll1001 Are documents frequently duplicated across the many arrays? If not, there is less of a motivation to make the change. (We can of course test for this in Kingfisher Process.)

[2020-10-29 17:53] jpmckinney commented on #1104
Indeed – putting all the buyers within a framework agreement in the tender title is not helpful :)

[2020-10-29 17:56] jpmckinney commented on #426
What is the conflict with #1084? The `$schema` field will appear on each release, not in the package.

[2020-10-29 18:02] jpmckinney commented on #689
True. Our target is backwards-compatibility, i.e. old versions of data are still valid input for new tools (as long as tools don't drop support for deprecated features). We don't have a target for forwards-compatibility, i.e. new versions of data are still valid input for old tools. For example, any tool that did analysis of parties beyond `id` and `name` was broken by 1.1. We can consider forward

[2020-10-29 18:20] yolile commented on #426
Great! No conflicts then, based on https://github.com/open-contracting/standard/issues/426#issue-207227238 I thought that the $schema field would be at the package level. Maybe we should update the issue to "Add $schema field to release schema and contracting data"

[2020-10-29 18:50] jpmckinney commented on #1101
Thanks for the clarification. #914 is about eliminating interdependency between different fields in terms of semantics, i.e. the value of one field changes the meaning of another field. That isn't the case here.

In the case of a milestone that is past due, the only dependency is on the current time (which is not part of the OCDS data). In general, we avoid adding fields or codes whose value needs

[2020-10-29 19:12] jpmckinney commented on #426
Ah, we do also want a `$schema` field on the schema files (see #566). The issue description gives an example where `$schema` is on the package, but in this issue we've discussed to just put it on the release.

That said, I've re-read the JSON Schema specifications ([04](https://tools.ietf.org/html/draft-zyp-json-schema-04), [latest](https://tools.ietf.org/html/draft-handrews-json-schema-02)), and

[2020-10-29 19:31] jpmckinney commented on #396
@JachymHercher Thanks for the clarifications!

I notice the PR #974 that created that guidance didn't link to this issue, but to #911 (which links to this issue).

Is the problem on that page mainly the first paragraph? Could you either prepare a PR, or copy the text into a Google Doc, update it with track changes, and then share it back?

Once that's fixed, I think we can close this issue (which

[2020-10-29 19:39] jpmckinney commented on #396
I don't think I had read that "whereas" clause (68) about electronic catalogues before, and it is indeed quite clear. (I sometimes skip matches in that initial section of the [directive](https://eur-lex.europa.eu/eli/dir/2014/24/oj), but now I know to spend more time there!)

[2020-10-29 20:34] jpmckinney commented on #790
To narrow the issue:

* a lot can receive one or more bids
  * Covered by [bids.details.relatedLots](https://extensions.open-contracting.org/en/extensions/lots/master/schema/#bid)
* a contract can be linked to one or more winning bids
  * Presently covered for a single bid by [awards.relatedBid](relatedBid) (to which a contract is related via `contracts.awardID`). There is an issue to [make awards

[2020-10-29 20:36] jpmckinney commented on #790
I don't think so, if the goal is to provide as much information as early as possible. In the scenario described, the items per supplier are known (in separate awards), it's just that they are eventually bundled into a single contract.

[2020-10-29 22:58] jpmckinney commented on #928
Rather than re-using RelatedProcess, we should use [JSON Hyper-Schema](https://json-schema.org/draft/2019-09/json-schema-hypermedia.html), e.g.:

[code]

[2020-10-29 22:59] jpmckinney commented on #426
Actually, building on #928, it might be best to do:

[code]

[2020-10-29 23:29] jpmckinney commented on #1064
Noting that translations of registered extensions can be accessed at URLs like https://extensions.open-contracting.org/es/extensions/bids/master/extension.json

[2020-10-30 00:28] jpmckinney commented on #866
Regarding the unit of analysis, I introduced the concept to help reason about what an OCDS record is representing – what separates one record from another. Since a record can have many contracts, the contract can't be the unit of analysis. That said, OCDS is designed to support all sorts of units of analysis; if you're only interested in contracts, you can re-shape the data to be a list of contrac

[2020-10-30 08:27] JachymHercher commented on #866
Hmmm, I'm not sure I'm convinced about the "unit of analysis" thing, or at least not fully.
1) I think "unit of analysis" is not the right term for OCDS, because OCDS doesn't "do" analysis. Unit of analysis as a term is very much rooted in social science and it is linked with data use (e.g. "[A unit of analysis is the entity that you wish to say something about at the end of your study](https://sc

[2020-10-30 10:45] JachymHercher commented on #896
### General observations
- Legally speaking, a [contract is a type of agreement](https://dictionary.law.com/Default.aspx?selected=337). Framework agreements, purchase orders, etc. are all contracts.
- Reality (/economics) speaking, all contracts are incomplete. What differs is the extent of their incompleteness (e.g. does the contract omit details for quantity / price / time of delivery and/or pla

[2020-10-30 11:29] JachymHercher commented on #888
Just noting that to my EU ears, when reading about simultaneous supply in Paraguay, if I wanted to do that in the EU, I would use a framework agreement with multiple suppliers in a cascade. When the capacity of the first supplier is surpassed, I would go to the second supplier. If I know the capacity of the suppliers and I see that my order goes above the capacity of, for example, the first suppli

[2020-10-30 14:48] jpmckinney commented on #866
Good points. The definition we need is for an "OCDS record" – to set a boundary around what it contains, and to describe the "thing" to which OCIDs are assigned. So, we can focus on that term instead, without using the term "unit" in its definition.

The OCDS record might coincide with a local definition of "contracting process", or it might not. I think your proposed italicized definitions (subst

[2020-10-30 15:15] jpmckinney commented on #896
Re-reading that example, the scenario isn't realistic, because a highway bypass is not the sort of thing for which multiple purchase orders are issued (that said, at least it shows the problem of double-counting).

A more believable scenario might be: A buyer needs to install black boxes on its 10 helicopters, which might be distributed at different airfields at different times – plus on 2 new hel

[2020-10-30 15:33] jpmckinney commented on #896
Did I cover that above, or can you clarify what case you mean?

Which codes are you referring to?

I think we should at least clarify that it also covers implementation. We might re-use language from #866.

----

Thank you for the general observations and research! I agree with the proposals. To keep track of what needs to be updated, building on the numbered list in the issue description:

Normat

[2020-10-30 15:51] jpmckinney opened #1105 "Example: Division into lots"
The discussion copied below from #888 relates to a specific jurisdiction, but these sorts of questions are common to other jurisdictions, and can form the basis of a worked example.

For #891, we will also need clearer guidance and consistent answers to these types of modelling questions.

@jpmckinney:

Can you explain what is meant by 'tender by items'? If the procedure is to award different item

[2020-10-30 15:51] jpmckinney commented on #888
This issue has become a bit wide-ranging, so I'm creating some follow-up issues:

* https://github.com/open-contracting/ocds-extensions/issues/152 lots: Add Lot.minValue field
* #1105 Worked example: Division into lots

Already created:

* #893, to avoid the repetition of location objects across multiple items

This issue will remain a discussion of simultaneous supply.

[2020-10-30 15:55] jpmckinney commented on #888
@yolile Does @JachymHercher's description of the process match how it works in Paraguay?

If so, we might look for a common model for expressing simultaneous supply and FAs with cascades.

[2020-10-30 19:04] yolile commented on #888
Kind of, the definition of simultaneous supply in Paraguay (
https://www.contrataciones.gov.py/documentos/download/marco-legal/12760
at the article 35 and 36 of the Decree Nº 21.909/2003 of the Public procurement law (page 21 and 22) ) says that:

"The highest possible quantity will be awarded to the tenderer who presents the lowest value, and the remaining quantities to the following bidders in e

[2020-10-31 10:32] JachymHercher commented on #896
Yes, you covered that above in https://github.com/open-contracting/standard/issues/896#issuecomment-719613191, thank you.

Keeping track: Depending on whether the example you gave would be called "purchase orders" somewhere, we should / should not include this scenario in https://standard.open-contracting.org/latest/en/guidance/map/purchase_orders/.

The codes for this field:

Keeping track: Addin

[2020-10-31 11:38] JachymHercher commented on #903
To add an extra twist: public administrations being public administrations, I have always assumed (never really verified) that awarding any prize money would require a signed contract between the buyer and the winner. In the EU, this contract would not be a "public contract" in the sense of public procurement law, but it would still be "contract" in the broad legal sense and being between a public

[2020-10-31 15:00] oahernandez commented on #860
I was in a panel at Oxford University a few weeks ago and the topic of vendor ratings & open contracting came up. Here are my notes relevant to this ticket:

Data:
- The  US federal qualification database is at www.sam.gov. You need to know to drill down by contractor and by representation (FAR 52.209-5) to find out about debarment from principals. It's hard to use the data unless you have years o

[2020-11-02 15:43] jpmckinney commented on #860
@oahernandez Is any of this information published in the context of a specific contracting process?

From what I've seen, this info is usually managed and updated outside that context, and therefore would have to be an independent dataset to OCDS.

[2020-11-02 15:48] LindseyAM commented on #860
It would be interesting if a contract record were updated if the vendor was sanctioned/debarred/or otherwise had a performance review related to the contract. in that situation it would make sense as part of OCDS (but as James said, it might be a totally separate dataset that references the performed contracts instead).

[2020-11-02 17:32] oahernandez commented on #860
I think this is similar to other information about the contract implementation stage. I think this would be analogous to information on payments, which usually lives in a separate system but could be modeled under OCDS (?).

The best example is the State of Colorado's contract management system: https://contractsweb.state.co.us/default.aspx The unit of analysis is still the individual procurement

[2020-11-02 19:41] JachymHercher commented on #895
### General
- I do not think the award definition in the UNCITRAL model law / glossary is usable for the OCDS award. I read the "stage [...] resulting in [...] a contract" as implying that the contract is established within the "award stage", while in OCDS the contract is established within the "contract creation phase". The UNCITRAL award stage probably corresponds to the OCDS award and contract

[2020-11-02 19:52] duncandewhurst opened #1107 "Move unit to definitions"
`unit` is currently defined as a property of `Item`.

The [metrics extension](https://extensions.open-contracting.org/en/extensions/metrics/master/) repeats the definition and [Moldova's eOCDS-eAuction](https://github.com/eOCDS-Extensions/eOCDS-eAuction) extension will do the same.

It would be better to have a definition for `unit` which can be referenced by extensions.

**Proposal**

1. Move the

[2020-11-02 20:01] jpmckinney commented on #1107
Agreed. This is a simple refactor of the schema.

[2020-11-03 20:07] jpmckinney commented on #892
Noting that this extension was published and registered a while ago (CRM-4909): https://extensions.open-contracting.org/en/extensions/tender_datePublished/master/

[2020-11-04 00:57] duncandewhurst commented on #883
I agree with the proposal.

The list of information for disclosure upon request from the [CoST IDS](http://infrastructuretransparency.org/wp-content/uploads/2018/06/36_List_of_CoST_Project_Information.pdf) includes "Project officials and roles" which CoST describes as "Name and position of the highest authority in the procuring entity where the budget for this project is allocated (project owner)"

[2020-11-04 11:33] pindec commented on #1102
@jpmckinney the previous discussion only covered cases where publishers wanted to describe organizations.

In Kenya, there is a "legal requirement for women, youth and persons with disabilities to access 30% of Government Procurement opportunities" (registration determined by legal ownership of a particular organization) via the [AGPO programme](https://agpo.go.ke), which means tenders are "set as

[2020-11-04 15:05] ColinMaudry commented on #764
Created an [MR](https://gitlab.com/dncp-opendata/ocds_statusdetails_extension/-/merge_requests/2) with a more elaborate worked example.

[2020-11-04 15:14] ColinMaudry commented on #407
It's currently not implemented in France, as the improvement of the OCDS export has stopped. You can track it here: https://github.com/139bercy/decp-rama/issues/10

[2020-11-04 16:23] yolile commented on #764
@ColinMaudry could you create a new example instead of updating the existing one? As the existing one is the real example from Paraguay

[2020-11-05 09:58] pindec commented on #1102
Also noting that [Kenya's PPIP](https://www.tenders.go.ke/website) homepage presents the number and total value of contracts reserved for AGPO by financial year.

Evidence of a procuring entity asking for relevant suppliers to register with them for AGPO opportunities in [this tender](https://tenders.go.ke/website/tender/TenderDocument/42542).

[2020-11-05 19:38] yolile opened #1110 "Items: Add more detailed fields"
from discussion with @micayael from DNCP Paraguay

In #751 a dynamic "attributes" array was added to the item object as a local extension. This allowed the DNCP to disclose specific information about their items, such as product packaging, brand, and for some kind of products, as computers their specific characteristics as RAM Memory, etc.

Although they are including all the possible attributes o

[2020-11-06 02:54] jpmckinney commented on #1084
Noting that the extension template should also be updated to only allow extending the release schema, and not packages.

Only the pagination extension extends the package schema. That extension might be merged into OCDS in #928.

[2020-11-06 02:58] duncandewhurst commented on #1084
From https://github.com/open-contracting/lib-cove-ocds/issues/68#issuecomment-552742649 the AusTender API extension also extends the package schema. Colombia is also mentioned in that issue, but I don't know if that's because they use the pagination extension.

[2020-11-06 03:06] jpmckinney commented on #1084
That extension is nearly identical to the pagination extension, so its use case should be satisfied via #928.

[2020-11-06 03:09] jpmckinney commented on #1110
Sounds good to me! Related to #1050. Could you share draft JSON Schema or example JSON data?

[2020-11-06 03:20] jpmckinney commented on #883
This issue is presently scheduled for 1.3/2.0, as it's a fairly fundamental question (though not in high demand) that I estimate is too large for the 1.2 release (which is already trying to close 80 less contentious / less complicated issues).

With respect to OC4IDS, Schema.org just puts `jobTitle` directly on the [Person](https://schema.org/Person) (which offers a good model in general). There a

[2020-11-06 03:35] jpmckinney commented on #860
Ah, yes, that is something different than what we've seen so far (which were debarments, blacklists, etc. – which can occur due to e.g. criminal charges outside any public contract).

I'll re-open the issue to focus on performance ratings, which are clearly in context of a public contract.

It seems Colorado just stores a single bit of information: whether the contractor performed above, below or

[2020-11-06 16:12] fmatzdorf commented on #1084
As a publisher trying to offer bulk downloads of over 4 million records, we definitely welcome the possibility of using JSONL as a format for these files. Most of our tooling for ETL uses JSONL already, since it is much easier to connect many stages of a data pipeline by streaming records from one place to another, one line at a time. For quick analyses it is also much easier to use command line t

[2020-11-06 16:17] fmatzdorf commented on #817
Our scenario as a publisher is mentioned in https://github.com/open-contracting/standard/issues/817#issuecomment-542353977. We have a dataset that is compiled from many different sources, all of them relating to contracts published by different agencies in the Mexican government. We know that some of the datasets have taxes included in the amount and some don't, but the exact percentage of tax has

[2020-11-06 16:20] fmatzdorf commented on #524
We support the inclusion of the countryCode field in 1.2.

[2020-11-06 16:25] martinszy commented on #825
Hello, we at PODER are mapping from a government source, so for buyer we are using the procuring entity (unidad compradora), with a memberOf field that expresses the bigger institution to which it belongs (such as a ministry). And while the money for all contracts in our dataset is from the federal government and some times the institutions are from state and city level governments, we don't fill

[2020-11-06 16:26] martinszy commented on #1092
We have found that for most of our use cases, only the compiledRelease is relevant, and the releases could be requested separately. It should be possible for an API to answer with only the compiledRelease instead of the full record. The releases could be obtained together or separately from the compiledRelease.

[2020-11-06 16:38] ColinMaudry commented on #1084
@jpmckinney I agree with this approach and the way to word it. The problem is "how to publish MANY records/releases", but for small number of objects the current format is good. As a matter of facts, we observe that small arrays come from API responses or data samples, and big arrays are bulk data files.

[2020-11-06 17:58] jpmckinney commented on #1084
Thank you, @fmatzdorf, for confirming those use cases!

[2020-11-06 18:03] jpmckinney commented on #1092
Thank you, @martinszy! In #1084, we discuss adding a bulk format, in which the response is JSON Lines of releases or records. We can similarly allow JSON Lines of compiled releases.

As part of this issue and #1084, we should review our requirements on API responses, in order to balance (1) having a small number of response formats (which is simpler for users) and (2) having simpler response forma

[2020-11-07 14:22] JachymHercher commented on #888
Looking at the definition,

corresponds perfectly to a "cascade framework agreement", which could probably also be called a "framework agreement with multiple participants without the reopening of competition". (I'm not aware of another way to deal with multiple participants in a framework besides a competition or cascade.) I think this can be expressed in OCDS already (or should be possible once

[2020-11-07 18:06] JachymHercher commented on #396
It depends. Yes, the minimalistic scenario is just the first paragraph.

Alternatively, I would argue that since catalogues do not have any implications for data structure (they are just a format for a tender), they thematically don't fall within the "awards_contracts_buyers_suppliers" chapter and they don't really need to be covered at all. This would imply:
- Removing https://standard.open-contr

[2020-11-07 21:13] JachymHercher commented on #866
Based on your comments above and our call, here is a new set of proposals. Looking at the initial topics in https://github.com/open-contracting/standard/issues/866#issuecomment-519987447, I think we are able to resolve them only partially in OCDS 1.2:
- Unsuccessful processes can be resolved fully by improving the definition.
- Planning stage information can be resolved partially with definitions,

[2020-11-09 12:13] ColinMaudry commented on #789
This is done right? @yolile

[2020-11-09 12:44] yolile commented on #789
yes!

[2020-11-09 12:44] #789 closed, assigned to yolile

[2020-11-11 00:08] #1060 closed, assigned to nobody

[2020-11-11 10:00] mrshll1001 commented on #833
@jpmckinney great! Broadening this slightly to clarify what the world looks like afterwards; would this change mean the presence of multiple "tags" on the Extensions Explorer? For example an extension that is currently "core" would then become "Recommended" and "OC Maintained" (or whatever we decide). That allows us the flexibility to apply "Recommended" to other, third party, extensions that are

[2020-11-11 10:55] mrshll1001 commented on #833
Potential terms for replacing "core":

* Maintained by Open Contracting or OC Maintained
* Maintained by the OCDS Team
* Developed by Open Contracting

Any other suggestions? I'm leaning towards supporting "Maintained by Open Contracting" which I feel is pretty clear-cut.

[2020-11-11 11:42] yolile commented on #833
Maintained by Open Contracting Partnership?

[2020-11-11 14:53] jpmckinney commented on #833
OCP maintains about 60 extensions, but only 7 are "core" i.e. follow the governance process.

The Extension Explorer already has a "maintained by" statement.

We basically need a short form of "follow the governance process".

[2020-11-11 15:51] ColinMaudry commented on #571
OK, I hold it so that we can improve it further with the glossary crosswalk.

[2020-11-12 03:46] jpmckinney commented on #827
From #902: We might find other places where we want to replace "contract" with "contract, framework agreement or dynamic purchasing system".

[2020-11-12 04:05] jpmckinney commented on #1089
Several new issues were created up to November 11. They were all assigned to an appropriate milestone.

[2020-11-12 19:41] jpmckinney opened #1116 "Guidance: Add link to training request form"
http://bit.ly/OCP-Training as used on this page: https://www.open-contracting.org/data-standard/documentation

[2020-11-12 22:34] jpmckinney commented on #896
I've added the two tasks you mention to my comment above.

Should we have the maximum value on the award object for the framework setup (in which all suppliers are listed)?

As I understand, after the award, individual contracts are concluded with each supplier under the framework, and indeed, each can have a maximum value equal to the value of the framework, and I agree we wouldn't want their sum

[2020-11-12 23:03] jpmckinney commented on #903
@JachymHercher Agree, that makes sense to me.

[2020-11-12 23:11] jpmckinney commented on #888
Regarding the semantics:

If the need for such a field is shared across jurisdictions, we can consider a narrow boolean field. Otherwise, we can have a free-text field in which such conditions can be expressed.

@JachymHercher Would this fall into the concept of [Contract Terms](https://extensions.open-contracting.org/en/extensions/contractTerms/master/), [Other Requirements](https://extensions.op

[2020-11-12 23:15] jpmckinney commented on #396
I agree with the proposed set of changes: specifically, the option where some guidance is kept/added to explain how catalogs don't need special treatment in the data. And catalogs should be defined somewhere clearly (and repeated or referenced from the submission terms extension).

[2020-11-12 23:34] jpmckinney commented on #866
In terms of where to describe these concepts, they will form an important part of the Getting Started section, though we should also describe them (or refer to Getting Started) on the pages you mention.

I agree with removing that bullet from the related processes page.

## Prequalification

The semantics of the prequalification extension aren't consistent with OCDS – it introduces a new `preQuali

[2020-11-12 23:46] jpmckinney commented on #895
To allow for a variety of decisions (procurement, framework agreement setup, design contest, concession, etc.) we might want a more generic first sentence, and then: "In the case of a procurement procedure, [most of the proposed content]." followed by "An award can also represent the decision to: establish a framework agreement with the selected suppliers; award a prize to a participant in a desig

[2020-11-12 23:53] jpmckinney commented on #817
Thank you, @fmatzdorf, for sharing evidence supporting that option!

[2020-11-13 19:50] jpmckinney commented on #991
@LindseyAM suggested re-using the dog mascot (see #OCDS-dog thread for artist contact information). Example:

![image 3](https://user-images.githubusercontent.com/26463/99115217-0e5f3080-25c0-11eb-90e2-189c76ee6534.png)

[2020-11-14 11:49] JachymHercher commented on #866
### Prequalification

Noted, but what does this imply for the proposed definitions for OCDS 1.2? We can remove "(Pre)qualification, however, can be treated as the same process by using the prequalification extension." but if the prequalification extension may be used for the time being, then shouldn't we explain it? (We could add a box saying that the Prequalification will be changed in a future v

[2020-11-14 12:27] JachymHercher commented on #896
Sounds good.

I'm not sure why both `Award` and `Contract` have a value. When can the two be different? (I understand that an award may not lead to a contract e.g. because of a complaint or one party refusing to sign a contract. However, I don't see how that could change the contract value, at least not without repeating the evaluation phase which should lead to a new award being published.)

Rega

[2020-11-14 12:42] JachymHercher commented on #896
Given https://github.com/open-contracting/standard/issues/903#issuecomment-719921978, I think we should add a sentence to the definition proposed in https://github.com/open-contracting/standard/issues/896#issuecomment-719480168 clarifying that

_"Contracts also cover prizes or other rewards (e.g. a follow-up contract) resulting from a design contest."_

[2020-11-14 12:52] JachymHercher commented on #895
Strictly speaking, I think the definition covers these options (see Note2 above). But if we want to make it more generic, does "Decision by the buyer or procuring entity on the supplier with whom it wishes to conclude a contract, including the items the supplier should supply and their price." work? Since we are defining contracts in https://github.com/open-contracting/standard/issues/896 as cover

[2020-11-14 13:21] JachymHercher commented on #888
The use in the EU is purely theoretical, I'm not aware of anyone actually doing it. Still, it seems fairly concrete, so I'd have a tendency to have it structured. (Why I mentioned the similarity between simultaneous supply and FA was just to point out that a concept which seemed different is actually close to a concept we already have.)

Out of the two, I'd put it in Contract Terms, but if these t

[2020-11-14 13:30] JachymHercher commented on #821
Since

and since plans to deal with multiple stage procedures do not seem to involve `initiationType`, I think treating it as legacy / deprecating it sounds like a good appraoch.

(For a moment I thought whether it couldn't be used for some very different use cases, e.g. if you want OCDS to cover government asset sales, but even if yes, a new field would still probably be less confusing for that p

[2020-11-15 20:16] duncandewhurst opened #1117 "itemClassificationScheme: Add code for Proclass"
According to https://proclass.org.uk/ this classification is used by 75% of local authorities in England.

We should add it so that local authority implementers know the classification is supported and use a consistent scheme code to identify it.

[2020-11-16 11:11] JachymHercher commented on #548
https://github.com/open-contracting/standard/issues/548#issuecomment-476377918 raises the question of whether a "contract administrator" should be at the project level or contract level.  https://github.com/open-contracting/standard/issues/548#issuecomment-476384315 argues for both, I would think so as well, so I propose we do add a code.

What I am not sure about is the exact scope for 'contractA

[2020-11-16 11:53] JachymHercher commented on #825
### General

We can group the "needs" / "use cases" into three levels:
- Basic: distinguishing the "buyer side", supplier, subcontractor, unsuccessful tenderers, review bodies, etc.
- Medium: within the "buyer side", distinguishing "buyers", "procuring entities", "central purchasing bodies", "contract implementors" (see https://github.com/open-contracting/standard/issues/548#issuecomment-727912060

[2020-11-16 13:42] JachymHercher commented on #827
Is this a question of precision and/or "apparent audience"/readability? If just the former, then we might not need to change anything, assuming that https://github.com/open-contracting/standard/issues/896 results in contracts covering also frameworks and dynamic purchasing systems. If also the latter, then essentially repeating parts of other definitions is something we should have a policy on (pr

[2020-11-16 14:54] JachymHercher commented on #901
Three comments:
1. Assuming from the discussion above that eligibility criteria would in the EU be the same as the exclusion grounds, then those are very common - every procedure must have them. However, since they were (accidentally) not part of the TED 2.0.9 forms, data about them often wasn't published (and is instead stored only in the [ESPD](https://espd.github.io/ESPD-EDM/v2.1.1/)).
2. Withi

[2020-11-16 15:25] JachymHercher commented on #848
Philosophically, I'd say that if you want, you have some discretion in this. Since the definition of `releaseDate` is "The date on which the information contained in the release was first recorded in, or published by, any system.", I think you could argue that the "first" implies there is only one, because things never happen in precisely the same moment.

More pragmatically, you could check a rea

[2020-11-16 16:38] JachymHercher commented on #903
Going back to https://github.com/open-contracting/standard/issues/903#issuecomment-517703361, two comments:

- I fully agree it is better to have synonyms in descriptions rather than new fields. The changes you mention in OCDS for PPPs seem like to me like going in the wrong direction.
- I went through the [terminology section of the eForms legal act](https://eur-lex.europa.eu/eli/reg_impl/2019/17

[2020-11-16 16:54] JachymHercher commented on #571
Don't we want "The entity managing the contracting process", not "The entity managing the procurement process"? I think my initial comment was stuck in the EU :-).

More importantly, in a simple procurement procedure, should publishers be declaring an organisation as a 'buyer' and also as a 'procuringEntity', or do we want to have a 'procuringEntity' only if it is different from the buyer? This ve

[2020-11-16 17:05] jpmckinney opened #1118 "Guidance: Add videos and slides relating to extensions"
[Creating OCDS extension webinar video](https://youtu.be/1uTik92PWfo)
[Webinar slide deck](https://docs.google.com/presentation/d/16poTfulCN1oYctfWnMJ9YDRrX1GJMi1MuOmFlOJMC5w/edit)

https://standard.open-contracting.org/latest/en/guidance/build/#build-your-extensions

[2020-11-16 18:41] jpmckinney commented on #571
Good catch – we should broaden the semantics to "contracting process" (the term `procuringEntity` is more narrow, but we can't change the term in 1.2).

For simple procedures, I would recommend populating `buyer` and not `tender/procuringEntity`, unless the local legislation or local authorities consider it appropriate and correct to populate both with the same organization.

[2020-11-16 18:49] jpmckinney commented on #901
Another option is, given the poor semantics and infrequent terminology of `eligibilityCriteria`, we simply deprecate it, and introduce `exclusionGrounds` and `selectionCriteria` with proper semantics (the latter is added in #1072).

As for conditions for participation, we similarly have an [Other Requirements extension](https://extensions.open-contracting.org/en/extensions/otherRequirements/master

[2020-11-16 18:50] jpmckinney commented on #827
Good point. I am happy with an approach that reduces repetition.

[2020-11-16 19:05] jpmckinney commented on #821
I am happy to deprecate `initiationType`, as it has not been used for its designed purpose. OCDS for PPPs changes the mandatory code to 'ppp', but this serves no real purpose.

[2020-11-17 16:21] JachymHercher commented on #571
Should the latter be reflected in a normative "should" or a non-normative text somewhere?

[2020-11-17 16:31] JachymHercher commented on #901
Sounds good. GPA does mention "may exclude [...] on grounds" as one of the general "conditions for participation". (UNCITRAL talks only about (qualification) "criteria".)

[2020-11-17 16:35] JachymHercher commented on #902
Based on https://github.com/open-contracting/standard/issues/827#issuecomment-728036400, we probably do not need to expand definitions. (By contrast, we might want to look for opportunities to ~contract them~ remove unnecessary repetitions of the definitions.)

[2020-11-17 18:22] jpmckinney opened #1119 "Add changelog entry for #1067"
#1067

[2020-11-17 18:27] jpmckinney commented on #901
https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm

bankruptcy;

[2020-11-17 18:30] jpmckinney opened #1120 "Add Tender.selectionCriteria field"
Split from #901

This issue is about adding selection criteria to the Tender object. There is already an extension: https://extensions.open-contracting.org/en/extensions/selectionCriteria/master/schema/

We can consider merging this extension into OCDS (it also extends the Lot object, so a note should be added to #891 if we do merge this extension). As part of that, we can consider modifying the e

[2020-11-17 18:31] jpmckinney commented on #1120
Some language for inspiration: https://www.procurementjourney.scot/route-3/develop-documents/exclusion-selection-and-award-criteria/selection-criteria

[2020-11-17 18:32] jpmckinney commented on #901
Some other language for inspiration: https://www.procurementjourney.scot/route-3/develop-documents/exclusion-selection-and-award-criteria/exclusion-criteria

[2020-11-17 18:46] jpmckinney commented on #901
I'm splitting this issue as I suggested in https://github.com/open-contracting/standard/issues/901#issuecomment-700363876 so that selection criteria are dealt with separately in #1120

This issue is about the fate of `eligibilityCriteria`: whether to change its description or deprecate it in favor of `exclusionGrounds`. The comments starting from https://github.com/open-contracting/standard/issues

[2020-11-17 18:46] jpmckinney commented on #1120
This issue is paused until we confirm whether we want separate fields for exclusion grounds and selection criteria, or just one field for all participation conditions: https://github.com/open-contracting/standard/issues/901#issuecomment-729127375

[2020-11-17 19:51] jpmckinney commented on #902
I don't think we have many occurrences of repetition, but this should be covered while doing #827. I'll close this issue in favor of your linked comment.

[2020-11-17 19:51] #902 closed, assigned to nobody

[2020-11-17 19:54] jpmckinney commented on #571
Yes, we can add a "should" statement to `tender/procuringEntity`.

[2020-11-18 16:54] yolile commented on #1110
For including the packaging and its unit (maybe the same can be applied to medicines form/dosage? from #1050):
(I'm not sure about the "packaging" name, but I couldn't find any existing schemas describing the package/form of products eg http://www.heppnetz.de/ontologies/goodrelations/v1#SomeItems , https://schema.org/TypeAndQuantityNode,  https://schema.org/Product, https://schema.org/Demand)

###

[2020-11-18 20:09] jpmckinney opened #1122 "Review changelog for clarity and correctness"
Prior to release, review the changelog. Keeping track of things to check here.

* [ ] All entries can be interpreted without following the link to the PR/issue
* [ ] All entries use normative words correctly
* [ ] #1113 The entry should use "encouragement" not "recommendation"

[2020-11-19 01:31] jpmckinney commented on #1110
@yolile It looks like the model might be better expressed as below (using UN/CEFACT Common Codes for Units of Measurement):

[code]

[code]

[code]

Applications can translate the unit of the weight – It's not OCDS' responsibility to store that.

There's a little information loss compared to your example but `"name": "Unidad"` isn't informative anyway.

[2020-11-19 12:39] yolile commented on #1110
Sure! Yes, you are right `weight` fits better, I wanted to reuse the `unit` object but I think it is ok to just include it as a name.

However, the items can appear at the tender, bid, and award levels. Talking with the DNCP team, they brought up that at the tender level, the buyer can specify more than one weight for the requested item, to not limit the competition (eg a supplier could have only

[2020-11-19 19:20] jpmckinney commented on #1110
Yes, the requirements extension (which doesn't fully implement the CCCEV model, but we can improve that) seems appropriate, since it can express both AND and OR criteria.

[2020-11-21 12:32] JachymHercher commented on #901
I understand the cautionary principle, but I think it would be good to find at least one example of a jurisdiction that mixes them, just to be sure we are not being unnecessarily flexible.

If we go into modeling individual criteria (or into anything more sophisticated than one or two text fields for entire families of criteria), I think we should be as close as possible to the European Single Pro

[2020-11-21 13:00] JachymHercher commented on #707
In the EU, eForms' Documents URL (BT-15) field contains several other points of information. Some, e.g. what exactly "direct" and "unrestricted" means, were clarified because they were not considered obvious by stakeholders. These might be useful for the non-normative text mentioned in https://github.com/open-contracting/standard/issues/707#issuecomment-691178955 or could become a normative should

[2020-11-21 14:00] JachymHercher commented on #817
I quite like the approach above, but I have two doubts:
- Do I understand it correctly that the two new fields are either including / excluding all taxes, not just VAT? If yes, good. Knowing the exact values/percentages for different types of taxes is unnecessary for most users, I think.
- In https://github.com/open-contracting/standard/issues/896#issuecomment-719480168, we mention distinguishing

[2020-11-23 09:14] mrshll1001 commented on #833
I don't think that needs too much changing? Maybe "Follows OCDS Governance Process" or "Subject to OCDS Governance Process"

[2020-11-23 11:12] ColinMaudry commented on #833
I thought "core" expressed it well, especially if that is not supposed to mean "Maintained by OCP".

I wonder: what are the situations when people need to filter the extensions that follow the same release cycle and governance process than the core schema? Isn't it enough to have it indicated *in extenso* in the README of these extensions?

[2020-11-23 11:17] ColinMaudry commented on #833
"Core extension" is an oxymoron, but having extensions that are tied to the core is unusual, even counter-intuitive. Using an oxymoron reflects well the situation.

We could also not call them "extension" but "optional module" or something else that shows they are special. But again, I wonder if that facet needs to be shown in the extension browser.

[2020-11-23 15:57] jpmckinney commented on #833
I like that solution: abandon any distinction in the main documentation about "core", and each extension can describe its governance process.

Originally, I think the distinction between core vs community was desirable to indicate some quality threshold. But since then we've implemented a review process for any extension in the registry, so every "registered" extension is good quality.

[2020-11-24 14:20] Bjwebb opened #1124 "letsencrypt moves away from cross signing, dropping support for old Androids"
https://letsencrypt.org/2020/11/06/own-two-feet.html

Versions of Android prior to 7.1.1 are affected. The user has a work around of installing Firefox Mobile.

This changes by default from January 11, 2021, and you can explicitly request a cross sign until September 2021.

Do we need to do anything for the OCDS websites? I'm sure you have a better idea of how important supporting these devices is

[2020-11-24 17:29] jpmckinney opened #1126 "Reference: Remove sentence from Contract section"
https://standard.open-contracting.org/latest/en/schema/reference/#contract

The sentence was introduced in https://github.com/open-contracting/standard/commit/293f001e715eaeef717e2a9694cbf07ee70f063a, where there was still a "Framework contracts" sub-section.

That sub-section was removed in https://github.com/open-contracting/standard/commit/6ccb24c73d58e8298bc7838edada4ab459f24e6e (with the comm

[2020-11-24 17:29] jpmckinney commented on #1126
cc @ColinMaudry for identifying the sentence.

[2020-11-24 19:55] jpmckinney commented on #1124
Thanks for sharing!

I had a look at Google Analytics, and under the Open Contracting property (includes OCDS documentation), in the last week, there were 2805 users, 333 on Android (12%), 40 on versions under 7.1.1 and 4 with unknown version (so 1.4 to 1.6%). These users mostly produced pageviews on www.open-contracting.org. Only 15 pageviews on standard.open-contracting.org, and none on the othe

[2020-11-24 19:56] #1124 closed, assigned to jpmckinney

[2020-11-26 01:21] duncandewhurst commented on #821
I'm also happy to deprecate it.

OCDS for PPPs changes the mandatory code to alert data users to the different fields used in the profile (`publicAuthority` instead of `buyer` etc.) although the `tender` block is still present. Once https://github.com/open-contracting-extensions/public-private-partnerships/issues/236 is done, that won't be an issue any more and data users can use the `extensions`

[2020-11-26 17:07] jpmckinney commented on #524
To avoid introducing a pattern of prefixing field names with object names (`countryCode`, `countryName`), we can either:

1. Add a `country` object with sub-fields like `code` and `name`
1. Add a `country` field whose value must be an ISO 3166-1 alpha-2 code, and deprecate `countryName`.

I prefer the second option, because OCDS isn't the place to annotate a country with additional information lik

[2020-11-26 17:27] jpmckinney opened #1127 "unitClassificationScheme: Consider codes"
QUDT cross-references many other schemes, though it's not clear if any of them are likely to be used in a procurement context (this concern includes QUDT): https://github.com/qudt/qudt-public-repo/issues/30

It references:

* IEC61360: https://en.wikipedia.org/wiki/IEC_61360
* UCUM: https://ucum.org/
* OM: http://www.ontology-of-units-of-measure.org
* ISO80000
* SWEET
* BODC P06
* Wikipedia
* DBpe

[2020-11-26 17:30] jpmckinney opened #1128 "unitClassificationScheme: Update QUDT URL"
QUDT has a better browser now, and a newer version: http://qudt.org/edg/tbl/qudt_units.editor

[2020-11-26 18:08] fmatzdorf commented on #524
We are working on displaying contract information in multiple languages, so option 2 would work best for us.

[2020-11-27 12:34] kd-ods commented on #987
I’ve now looked through the 204 ‘organization identification schemes’ held by the iso 6523 standard.

The outcome is that of those 204 identifier schemes, 13 are in org-id and there are roughly another 8 that should/could be added to org-id. The other 183 cannot really be considered good quality identifiers IMO - the schemes are for very specific purposes, either internal to an organisation or as

[2020-11-30 14:46] ColinMaudry commented on #827
@jpmckinney @JachymHercher [The glossary](https://docs.google.com/spreadsheets/d/1Nh_HjyYuNk8wuu_Tb0kcPDyV6j8pAMgXqJ3MgwpXZjQ/edit?skip_itp2_check=true#gid=0) now includes OCDS schema terms and OCDS codes.

I have hidden the OCP terms that were not relevant for the addition in a glossary of procurement, usually because they are specific to OCDS (release, ocid, awardID, etc.).

I have matched the f

[2020-11-30 14:56] ColinMaudry commented on #827
I start adding eForms

[2020-11-30 14:57] ColinMaudry commented on #827
@JachymHercher Do you know where I can find the latest definitions for eForms BTs? I'm not sure I have the latest spreadsheet.

[2020-11-30 23:10] jpmckinney commented on #987
Thanks, @kd-ods! Could you list the 13 schemes that are already in ORG-ID and the 8 schemes to add (as well as their correspondence in ISO)?

For the other 183, did you track why a given scheme wasn't good quality, or did you just take note of which were good? If the former, it'd be useful to share in case we get a request to add one of those at a later date.

[2020-12-01 11:18] mrshll1001 commented on #883
Just noting that the development of the TransactionDetails Extension (CRM: [#5917](https://crm.open-contracting.org/issues/5917#note-28)) potentially demonstrates a demand for this, as it wishes to model natural persons as an `executor` and `authorizor` of a transaction.

[2020-12-03 03:53] jpmckinney opened #1129 "Date: Change recommendation for unknown time component"
https://standard.open-contracting.org/latest/en/schema/reference/#date

In #67, 00:00:00 was proposed for this case:

23:59:59 only came up in the context of end dates. It seems this paragraph might have an error.

It doesn't make much sense for an unknown time to be the last second of the day, except in the case of an end date in a period object (where it makes sense for the reasons given in #67)

[2020-12-03 17:09] #1077 closed, assigned to odscrachel

[2020-12-04 09:59] kd-ods commented on #987
@jpmckinney - I'm not sure how well the table below will format, but here's where it's from: [my analysis sheet](https://docs.google.com/spreadsheets/d/1qPPAOx9w4NIfrll66a0Qd2SMizoxGNRUMU6YV2rLuEE/edit?usp=sharing). For the other 183 lists, it became apparent quickly that most of them were what we'd call ['local' lists in org-id parlance](http://docs.org-id.guide/en/latest/metadata/#list-type): 'M

[2020-12-07 16:07] jpmckinney commented on #827
Awesome! Thanks for the update, @ColinMaudry. For eForms, see the [annex](https://ec.europa.eu/docsroom/documents/43488) linked from this [page](https://ec.europa.eu/growth/single-market/public-procurement/digital/eforms_en). There is another spreadsheet for codelists, but I can't find it quickly.

For a call, I'll send an email.

[2020-12-08 16:43] odscrachel opened #1131 "Adding keywords to EU profile link"
I noticed when searching for the [link to the EU profile](https://standard.open-contracting.org/latest/en/guidance/map/extensions/#profiles) within standard guidance, that it was difficult to find. A publisher also recently contacted the helpdesk to ask for the details.

I suggest we add the keywords 'TED' and 'EU' to the text to allow users to find it in the search.

[2020-12-08 17:24] jpmckinney commented on #1131
Sounds good! Feel free to make a PR.

[2020-12-13 19:45] JachymHercher commented on #827
The codelists are at https://op.europa.eu/en/web/eu-vocabularies/e-procurement/tables (click codelist and then "browse content").

[2020-12-15 23:57] duncandewhurst opened #1139 "Guidance: Align language in build phase with language in map phase"
The [map guidance](https://standard.open-contracting.org/latest/en/guidance/map/) uses 'data source' to describe systems which capture and store contracting data, but the [system architecture](https://standard.open-contracting.org/latest/en/guidance/build/system_architectures/) guidance uses 'live system'.

We should use 'data source' throughout to be consistent.

[2020-12-16 18:09] #1131 closed, assigned to nobody

[2020-12-17 17:33] jpmckinney commented on #711
Related to legal form (but at a less granular level), [MAPS defines](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) "Civil society organisation (CSO)" as:

[2020-12-17 17:41] jpmckinney commented on #860
The [MAPS glossary](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) defines:

Term | Definition
-- | --
Performance | The ability of an entity to acquire resources economically and use those resources efficiently and effectively in achieving performance targets.
Performance Information | Performance information can be generated by both government and nongovernmental organisations, an

[2020-12-17 17:45] ColinMaudry commented on #827
I have added the terms from eForms annex and matched them to OCDS fields or codes when relevant.

[2020-12-17 17:46] jpmckinney commented on #939
The [Maps glossary](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) defines:

Term | Definition
-- | --
Sustainability | (a) Use of the biosphere by present generations while maintaining its potential yield (benefit) for future generations; and/or (b) non-declining trends of economic growth and development that might be impaired by natural resource depletion and environmental degrada

[2020-12-17 18:08] jpmckinney commented on #205
[MAPS glossary](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) defines:

Term | Definition
-- | --
Appeals body | Independent body in charge of reviewing decisions of a specified first review body. The appeals body may be an administrative or judicial review body. The appeals body needs to be independent from the procuring entity and should not be involved in any capacity in procure

[2020-12-17 21:58] jpmckinney commented on #1120
[MAPS glossary](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) defines:

Term | Definition
-- | --
Capability | The skills-based ability for an individual, group or organisation to meet obligations and objectives; also referred to as “know-how”.
Capacity | The ability to meet obligations and objectives based on existing administrative, financial, human and infrastructure resources.

[2020-12-17 22:02] jpmckinney commented on #866
[MAPS glossary](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) defines:

Term | Definition
-- | --
Public procurement | The process of identifying what is needed; determining who the best person or organisation is to supply this need; and ensuring that what is needed is delivered to the right place, at the right time and for the best price; and that all this is done in a fair and op

[2020-12-17 22:08] jpmckinney opened #1141 "Guidance on commercially sensitive information"
We can mention OCP's [mythbusting report](http://mythbusting.open-contracting.org).

[MAPS glossary](https://www.mapsinitiative.org/methodology/MAPS-glossary.pdf) defines:

Term | Definition
-- | --
Specific sensitive information | Refers to legitimate needs for protection of trade secrets and proprietary information and other privacy concerns, as well as the need to avoid disclosing information t

[2020-12-17 22:22] jpmckinney commented on #1102
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

ID | Term | Definition | References
-- | -- | -- | --
21 | Domestic procurement | Defined in article 2 of the Model Law as “procurement limited to domestic suppliers or contractors pursuant to article 8 of this Law”. For the explanation of the terms “procurement” and “supplier or co

[2020-12-17 22:36] jpmckinney commented on #904
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

ID | Term | Definition | Reference
-- | -- | -- | --
39 | Initial bids | Bids submitted for examination or evaluation before the electronic reverse auction as a stand-alone method of procurement is held. For the explanation of the terms “examination”, “evaluation” and “electronic re

[2020-12-17 22:37] jpmckinney commented on #793
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

ID | Term | Definition | Reference
-- | -- | -- | --
24 | Electronic reverse auction | Defined in the Model Law as: “an online real-time purchasing technique utilized by the procuring entity to select the successful submission, which involves the presentation by suppliers or contrac

[2020-12-17 22:39] jpmckinney commented on #793
Noting that this overlaps with the Techniques extension: https://extensions.open-contracting.org/en/extensions/techniques/master/#electronic-auction

[2020-12-17 22:44] jpmckinney commented on #574
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

Term | Definition | Reference
-- | -- | --
Margin of preference | A technique applied in the evaluation of submissions that permits the procuring entity to accord a more favourable treatment to some suppliers or contractors or goods (usually domestic suppliers or contractors or dome

[2020-12-17 22:57] jpmckinney commented on #906
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

ID | Term | Definition | Reference
-- | -- | -- | --
53 | Pre-qualification | Defined in the Model Law as: “Procedure set out in article 18 of this Law to identify, prior to solicitation, suppliers or contractors that are qualified.” For the explanation of the terms “solicitation” a

[2020-12-17 23:15] jpmckinney commented on #750
Re-opening the issue, as there might be some method "sub-types" that can be standardized, and that *don't* overlap or mix the concepts of [procurement method rationale](https://extensions.open-contracting.org/en/extensions/procurementMethodRationaleClassifications/master/), [techniques](https://extensions.open-contracting.org/en/extensions/techniques/master/), [options](https://extensions.open-con

[2020-12-17 23:17] jpmckinney commented on #651
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

ID | Term | Definition | Reference
-- | -- | -- | --
75 | Security for the performance of the procurement contract | Security against the breach of the procurement contract by the supplier or contractor concluding the procurement contract with the procuring entity, presented to the

[2020-12-17 23:22] jpmckinney opened #1142 "Add tender.standstillPeriod field"
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

Term | Definition | Reference
-- | -- | --
Standstill period | Defined in the Model Law as: “Period starting from the dispatch of a notice as required by paragraph 2 of article 22 of this Law, during which the procuring entity cannot accept the successful submission and during which

[2020-12-17 23:26] jpmckinney commented on #440
[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines:

ID | Term | Definition | Reference
-- | -- | -- | --
74 | Second-stage competition | A stage in closed framework agreements with more than one supplier or contractor and in open framework agreements through which certain terms and conditions of the procurement that cannot be establi

[2020-12-18 02:19] jpmckinney commented on #707
Those sound like reasonable recommendations (SHOULD) to make in this part of the reference section: https://standard.open-contracting.org/latest/en/schema/reference/#document

They are less about the semantics of the field, and more about *how* to disclose (e.g. free of charge), so I think it makes sense to put them on that page, rather than in the schema.

If we are uncomfortable adding a SHOULD

[2020-12-18 02:25] jpmckinney commented on #901
Good point. @duncandewhurst @yolile Have you come across any governments whose source systems mix selection criteria (professional, technical, financial, etc. qualifications) and exclusion grounds (e.g. being bankrupt or suspended) in the same data element/structure?

Indeed – I have a feeling we'll need to do an OCDS extension for ESPD. For this issue, we can focus on "whether to change `eligibil

[2020-12-18 02:40] jpmckinney commented on #903
Yes, we are reversing those changes (originally made in 2017: https://github.com/open-contracting-extensions/public-private-partnerships/commit/25c06b4e719f0fbc74dc51af6714fef07ae6f75c), in this new issue: https://github.com/open-contracting-extensions/public-private-partnerships/issues/236

I agree that the last four do not clarify much, so we don't need to add those synonyms to the schema. That

[2020-12-18 02:47] jpmckinney commented on #548
Sounds good to me! In terms of the code, 'contractImplementer' sounds a bit like a supplier on first reading. From a quick web search, 'implementationManager' or 'contractImplementationManager' seem to be terms used in at least the private sector to describe a similar role.

[2020-12-18 02:56] jpmckinney commented on #895
Good point - we can defer a lot to the definition of contract in #896. So, I abandon my preceding comment. Between:

And:

I prefer the first, since it allows that deferral to the definition of contract.

[2020-12-18 03:14] jpmckinney opened #1143 "Value object structural changes"
@JachymHercher wrote in #817:

Could you refresh my memory in what scenario both `value` and `maximumValue` are set? Also, is `estimatedValue` relevant anywhere except `Tender` (where both `value` and `minValue` are described as estimates already)?

[2020-12-18 03:15] jpmckinney commented on #817
Yes, `amountNet` should be defined to exclude all taxes.

For the rest, I think we need a separate issue, as it's about changing the structure of the `Value` object, rather than adding/updating its fields. I created https://github.com/open-contracting/standard/issues/1143

[2020-12-18 03:19] jpmckinney commented on #896
If the contract is modified, would that not create a scenario where the award value is different from the contract value?

[2020-12-18 03:22] jpmckinney commented on #1143
Sorry, I just re-read in #896:

So, `estimatedValue` is relevant in `Award` in the case of a framework agreement, though as I understand there would just be a `maximumValue` and not a `value` on the award(s) for the setup of a framework agreement.

**Update:** In https://github.com/open-contracting/standard/issues/896#issuecomment-726383041, it's suggested to use `awards/value` for that estimated

[2020-12-18 03:27] jpmckinney commented on #896
To be sure I'm clear, do you mean, for the setup of a framework agreement, that awards and contracts would set a new `maximumValue` field (and omit the `value` field)? Otherwise, we end up with the problem we are trying to avoid:

[2020-12-18 03:39] jpmckinney commented on #866
### Prequalification

The prequalification extension is going away and thankfully, to my knowledge, no one has used it: https://github.com/open-contracting-extensions/public-private-partnerships/issues/217

### Planning

Apologies, I might have lost the thread of the discussion in the past month. My understanding is, for OCDS 1.2:

Publishers can create OCDS releases/records for planning processes

[2020-12-21 02:29] duncandewhurst opened #1144 "Contracting process type"
(From https://github.com/open-contracting-extensions/public-private-partnerships/issues/237#issuecomment-744625885) SIF's [SOURCE platform](https://public.sif-source.org/) includes a boolean `isPPP/Concession` field, the semantics of which are:

At present, there is no field for this "type" information in OCDS.

[2020-12-21 03:38] jpmckinney commented on #1144
From #237