[2018-11-28 14:05] jpmckinney commented on #775
Most jurisdictions (and I assume Kosovo) have a minimum time period between the publication of a tender notice and the deadline for accepting bids. In OCDS, this time period is expressed as `tender.tenderPeriod` (using either `durationInDays` or a pair of `startDate` and `endDate`). If the period is the same or longer than the minimum, then the deadline is 'normal'; if it is shorter than the minim

[2018-11-28 14:09] jpmckinney commented on #776
In OCDS, this is modeled as follows, on the new contracting process:

[code]

If possible, you should provide the values of additional fields to link to the earlier process. [See the documentation for Related Process.](http://standard.open-contracting.org/latest/en/schema/reference/#relatedprocess)

[2018-11-28 14:09] #776 closed, assigned to nobody

[2018-11-28 14:11] jpmckinney commented on #776
Note: I made a correction to my earlier comment. I had incorrectly used the 'prior' code, when I meant to use the 'unsuccessfulProcess' code.

[2018-11-28 19:04] jpmckinney opened #777 "releaseTag: Tags relating to opening and evaluation of bids"
In Kyrgyz Republic, in procedures with pre-qualification, bid information is disclosed in two stages:

1. response to qualification requirements
1. response to technical requirements and price proposal

We might consider more granular tags with respect to such events/disclosures.

cc @MusicMaker1337

[2018-11-28 19:08] jpmckinney commented on #763
This might involve finding a way to make the following extension backwards-compatible with OCDS and available for wider use: https://github.com/open-contracting/ocds_qualification_extension

[2018-11-29 20:22] jpmckinney commented on #339
Closing as this hasn't come up as an issue except in one meeting in the last year. In terms of governance concerns, there are ways to assure that OCP will provide a prefix to anyone who asks. Creating a self-service option runs the risk of people accidentally creating multiple spurious prefixes, which then creates an issue of how to un-register a prefix.

[2018-11-29 20:22] #339 closed, assigned to nobody

[2018-11-29 20:25] jpmckinney commented on #400
@duncandewhurst As I am less familiar with the budgets and projects extension, can you answer whether it requires still more documentation, or if this issue can be closed, as it is already sufficiently documented?

[2018-11-29 20:50] jpmckinney commented on #566
~~Related #426~~ See https://github.com/open-contracting/standard/issues/426#issuecomment-718963839 for why these issues are distinct.

[2018-11-29 20:58] jpmckinney commented on #750
Isn't our typical guidance to use `procurementMethodDetails` for the sub-type? I know some implementations do that.

For reference: "Additional detail on the procurement method used. This field may be used to provide the local name of the particular procurement method used."

[2018-11-29 21:01] jpmckinney commented on #760
I assume that answers the question, @LindseyAM.

[2018-11-29 21:01] #760 closed, assigned to nobody

[2018-11-30 10:05] yolile commented on #750
No, it is not the same. They have their local procurementMethod type, using the procurementMethodDetails to publish it, but they also have another field, the subtype.

[2018-11-30 13:10] #773 closed, assigned to nobody

[2018-11-30 13:10] #775 closed, assigned to nobody

[2018-12-01 16:38] akuckartz commented on #739
Maybe the LOCN vocabulary can be used: https://www.w3.org/ns/locn

[2018-12-03 13:27] leobaz commented on #741
Is this going to be fixed, still not showing any party detail?

![image](https://user-images.githubusercontent.com/35137491/49376438-84399c80-f707-11e8-8ba4-d42c2a490ade.png)

[2018-12-03 13:43] jpmckinney commented on #741
Yes, it will be fixed in 1.1.4, which is scheduled for the first quarter of next year.

[2018-12-03 14:21] leobaz opened #778 "Tender: Main item classification"
Every service is represented by a number based on the FPP(Common procurement vocabulary).

For example  if the services provided are medical equipments then we use number 90.

[2018-12-03 14:46] jpmckinney commented on #778
If the object of procurement is split into items, you can set that number using `items.classification` (items appear under tender, award and contract).

Otherwise, there is a [proposal for an extension](https://github.com/open-contracting-extensions/european-union/issues/15) as part of EU work, which would add a `tender.classification` field, whose value is a [Classification](http://standard.open-

[2018-12-04 10:05] leobaz opened #779 "Procurement number"
The procurement number is unique for every contract. I'm currently using it to make the ocid, but I need it published separately from the ocid too.

The procurement number is made from:

- The identification of the contracting authority [3, 4 or 5 first numbers of the budget code]

- 2 last numbers of the year (18 of 2018)

- The serial number of the procuring activity (start with 1 every year)

-

[2018-12-04 16:44] jpmckinney commented on #779
Use `tender.id` to publish it.

[2018-12-05 01:19] jpmckinney commented on #392
@JachymHercher expressed in #703 the disclosure of, at minimum, the subcontractor (as a party) and what was subcontracted (perhaps as a free-text description of structured `items`).

[2018-12-05 01:23] jpmckinney commented on #703
I've made a note in #392 about subcontractors. I've renamed the contract register repository. The old link redirects without issue.

[2018-12-05 01:23] #703 closed, assigned to jpmckinney

[2018-12-05 09:51] #778 closed, assigned to nobody

[2018-12-05 09:52] #779 closed, assigned to nobody

[2018-12-05 10:11] leobaz opened #781 "The expected number of transactions"
Other than the transactions itself we need to publish the total number of the transactions to be paid based on the contract.

[2018-12-05 13:53] leobaz opened #782 "Deduction from the contract"
Here in Kosovo, we have the amount of deduction from the contract due to the causes of the prohibitions.

[2018-12-06 08:54] duncandewhurst commented on #741
@leobaz - in the meantime, Party Details - Scale is the only partyDetail extension, you can find the documentation [here](https://github.com/open-contracting-extensions/ocds_partyDetails_scale_extension/blob/master/README.md)

[2018-12-06 14:09] jpmckinney commented on #781
We don't have a field for the total number of transactions that are expected, at the time of a contract's signature, to be paid by the end of the contract. Is that a correct interpretation?

If so, we might consider an extension with a numeric `expectedNumberOfTransactions` field for `Contract`.

[2018-12-06 14:12] jpmckinney commented on #782
Can you give an example of the causes of the prohibitions?

We have a [contract completion](https://github.com/open-contracting-extensions/ocds_contract_completion_extension) extension, which can be used to provide the final value of the contract. A user could take the contract's initial value and subtract this final value to determine the difference. Would that be a way to calculate the deduction

[2018-12-06 14:14] leobaz commented on #781
Yes, that is the correct interpretation. Should we do a local extension for community extension?

[2018-12-06 14:27] leobaz commented on #782
There are a lot of factors that cause the prohibitions.

For example, if we are building a road from point A to point B and in the middle of that road, it's a building that prevents the road. Now in the contract, it is planned to destroy that building and if for any circumstance a new decision comes to not destroy the building but to go around it the amount from not destroying the building is the

[2018-12-06 14:28] jpmckinney commented on #781
You can add this field to your data without describing it in an extension. However, we recommend creating an extension to document the additional field. We can then check whether others need this field, in which case it can be added to the extension registry as a community extension.

[2018-12-06 14:30] jpmckinney commented on #782
I see, and in such cases, does the value of the contract always go down, or can it also go up?

Also, if there are multiple deductions, is each deduction disclosed separately, or is it only the total deduction that is disclosed?

[2018-12-06 14:33] leobaz commented on #782
The value of the contract can go down and can go up based on the prohibition.

Only the total deduction is disclosed.

[2018-12-06 14:35] jpmckinney commented on #782
Would the contract completion extension, as described above, suit your needs?

[2018-12-06 16:32] jpmckinney commented on #761
I tested again on 1.1-dev branch and it's indeed fixed. Closing, as I forgot that the process was to close issues as they are fixed – not wait until deploy.

[2018-12-06 16:32] #761 closed, assigned to nobody

[2018-12-06 16:45] duncandewhurst commented on #400
The current documentation is sufficient, we can wait and see if uptake of the extension surfaces questions or misunderstandings and then update the documentation further if required.

[2018-12-06 16:45] #400 closed, assigned to duncandewhurst

[2018-12-06 17:07] kindly commented on #770
@jpmckinney yes this is what I thought was expected behaviour.  Was not aware that was not in the docs.
We need to put something in `tag` at the `compiledRelease` level as it is a required field.

This relates to #330 (about making a `compiledRelease` schema) as we could validate this there.

[2018-12-06 17:20] kindly commented on #771
@jpmckinney

There was never a rule for these and has been undefined behaviour.  The docs say it should be removed but they can not be removed as `compiledRelease` used the same schema as `release`. #330 will help with this.

This looks like the behaviour we want but was not aware it was not documented

This is true of `omitWhenMerged`

Yes that should be documented

I do not think you have.

Yes

[2018-12-06 19:30] jpmckinney commented on #685
Need to consider how much detail to provide in this section, versus just linking out.

[2018-12-06 19:45] jpmckinney commented on #684
@duncandewhurst I can't seem to reproduce anymore. Can you test again, and provide steps to reproduce, and browser with version number?

[2018-12-06 20:29] jpmckinney commented on #684
Nevermind – I underestimated how small I had to resize the window.

[2018-12-06 20:36] jpmckinney commented on #684
Closed by https://github.com/open-contracting/standard_theme/commit/99f2e2f99a4c36d8c3056a5c849ec711e5dea3b2

[2018-12-06 20:36] #684 closed, assigned to nobody

[2018-12-06 20:40] jpmckinney commented on #330
Starting to document differences between release-schema.json and proposed compiled-release-schema.json:

* `id` and `date` should be omitted from the schema (backwards-compatible)
* `tag` should be `["compiled"]`, or it should be omitted from the schema, and 'compiled' should be removed from the `releaseTag.csv` codelist. I prefer the latter. Making both those changes at once would be backwards-co

[2018-12-07 08:29] leobaz commented on #782
I don't think this extension will suit my needs because it's for the final value and I need to publish the deduction amount, but I will use this extension for another field.

[2018-12-07 14:44] duncandewhurst opened #784 "Distinguishing between framework agreements and other types of contract"
The EU contract award notice (form F03 in TED) includes a field to indicate whether an award relates to a supplier joining a framework (when the value of the award should be interpreted as total potential spend on the framework) or not (when the value of the award should be interpreted as the actual amount of a purchase from the supplier).

There isn't currently a mapping for this field in the EU

[2018-12-07 16:27] #768 closed, assigned to nobody

[2018-12-07 22:04] #657 closed, assigned to nobody

[2018-12-07 22:04] #676 closed, assigned to nobody

[2018-12-10 11:41] duncandewhurst commented on #723
In the [Open Contracts Prishtina](https://kontratatehapura.prishtinaonline.com/en) platform there is a 'contract year' field, populated as follows:

Relaxing date validation to permit just `YYYY` would enable this to be disclosed in `contract/dateSigned`

[2018-12-10 17:06] jpmckinney commented on #325
Copying relevant parts of my comment at https://github.com/open-contracting/api-specification/issues/15#issuecomment-437423524

* `uri`: I don't think we should be putting the `uri` of the package in the release, as a release can be included in any number of packages, and releases are expected to be unique and immutable.
* `publishedDate`: Same reason as for `uri` – plus release has its own `date`

[2018-12-10 17:09] jpmckinney commented on #364
1. I recommend that the `publisher` be part of each release in #325, to make it clear who published the release. Releases should be treated as immutable. Re-publishers can add their own metadata in the package – though, what is a use case that relies on information about the re-publisher?
1. The relevant comment from #130 is https://github.com/open-contracting/standard/issues/130#issuecomment-5989

[2018-12-10 17:26] jpmckinney commented on #461
Merging into #364.

[2018-12-10 17:26] #461 closed, assigned to nobody

[2018-12-10 17:29] jpmckinney commented on #428
I am not clear on the use case for identifying the notifier as-such. In all legislation I've seen, the notifier is *defined* as the buyer / procuring entity who has the obligation to notify, so there's no difference. Closing as no use case / use case already served by existing fields.

[2018-12-10 17:29] #428 closed, assigned to nobody

[2018-12-10 17:31] jpmckinney commented on #420
This is a quick fix, but as it changes the description of a field, leaving for 1.2.

[2018-12-10 17:55] jpmckinney commented on #507
For now, I'm renaming the file to CLA.md in #785.

I haven't heard more demand from a CONTRIBUTING.md, and so far we haven't had a problem with the quality of the issues and PRs being submitted, so closing.

[2018-12-10 17:55] #507 closed, assigned to Bjwebb

[2018-12-10 18:02] jpmckinney commented on #731
This will be part of the Extension Explorer.

[2018-12-10 18:02] #731 closed, assigned to nobody

[2018-12-10 18:03] jpmckinney commented on #641
Related #330

[2018-12-12 09:04] leobaz opened #786 "The year of the contract"
At [Open Contracts Prishtina](https://kontratatehapura.prishtinaonline.com/en) we take all the contracts from an importer and we convert them from csv to json. All contracts are grouped based on the year they were signed for example 2017.csv holds all the contracts signed in 2017.
Sometimes some of the contracts don't have the signing date so we take the year based on the csv document they are.

W

[2018-12-12 15:25] leobaz commented on #205
At [Open Contracts Prishtina](https://kontratatehapura.prishtinaonline.com/en) we have the complaints to OSHP field. This field has 3 values:

- Negative
- Positive
- None

After the winner of the contract is chosen the bidders have the right to send a complaint to OSHP (Organ procurement review) against the winner. If the value is 'negative' the OSHP has decided in the favor of the bidder who sen

[2018-12-12 16:22] jpmckinney commented on #205
I assume 'None' means that no decision has yet been made?

[2018-12-12 16:24] jpmckinney commented on #786
Let's continue this discussion in #723, which proposes re-using `dateSigned`, but with more flexible validation.

[2018-12-12 16:24] #786 closed, assigned to nobody

[2018-12-13 13:09] leobaz commented on #205
Yes 'none' means that no decision has yet been made.

[2018-12-14 15:40] duncandewhurst commented on #205
Example of draft complaints data from Belarus, which uses the Open Procurement API model, except in this case the `complaints` array is at release level.

If complaints in Belarus relate to the whole contracting process, rather than the tender or award specifically, this approach might be preferable, with an additional field added to `complaint` to reference either `tender` or a specific `awardID`

[2018-12-14 16:27] duncandewhurst commented on #574
Draft data from Belarus includes a `preference` field on the `Bid` object, which indicates the discount applicable to the bid for the purposes of evaluation, for example a 15% discount is applied to domestic bids. Helpdesk feedback suggested renaming the field to `evaluationDiscount`

[2018-12-14 17:24] duncandewhurst commented on #249
Noting that Belarus also have this issue, re-opening and adding to 2.0 milestone.

[2018-12-14 17:26] duncandewhurst commented on #249
I think the issue with this approach may be that the source systems do not have data on the breakdown of the award value by supplier and duplicating the award value across multiple awards could lead to double counting.

[2018-12-14 17:52] duncandewhurst opened #788 "Item country of origin"
Belarus draft data includes an additional `productCountry` field in `contract/items` for the country where goods were created. Helpdesk feedback suggested renaming to `countryOfOrigin`.

[2018-12-14 18:02] jpmckinney commented on #249
My understanding from a call was that they can have suppliers on both awards and contracts (though they use `winners` in one case). The reasons are that:

1. They have two systems that don't speak to each other: one system gets up to the award decision; the other starts from the contract. They can't set an `awardID` to relate a contract to an award, which would otherwise provide a user with access

[2018-12-14 18:08] duncandewhurst commented on #249
The [contract signatories extension](https://github.com/open-contracting-extensions/ocds_contract_signatories_extension/blob/master/README.md) was created for this purpose (in context of the PPP profile)

[2018-12-14 18:14] jpmckinney commented on #249
Perfect.

Regarding @JachymHercher's feedback, I don't think we can pursue the second option, as there can be award decisions relating to specific suppliers that never reach the stage of signing a contract (for example, if the award was unsuccessful), for which we still want to disclose the suppliers. We wouldn't want to create a `Contract` object to disclose these suppliers, as the existence of a

[2018-12-14 18:17] duncandewhurst commented on #249
Repeating my earlier comment, in case it was missed:

I think the issue with this approach may be that the source systems do not have data on the breakdown of the award value by supplier and duplicating the award value across multiple awards could lead to double counting.

[2018-12-14 18:29] jpmckinney commented on #249
I'm not saying that, in every case, we should split awards by supplier. In that case, ~~and in the [Paraguay case](https://github.com/open-contracting-archive/implementation-and-extensions/issues/7) (good discussion from @juanpane there)~~, I think having one "big" award and then multiple contracts is fine, and the signatories extension can be used to disambiguate which supplier is involved in eac

[2018-12-14 20:36] jpmckinney opened #789 "Guidance: Preference for string over integer identifiers"
The schema allows both integers and strings for some `id` fields, and only strings for others. I believe this is because, during the supply-side research, it was found that some publishers used integers, and others used strings. However, this inconsistency can cause problems:

1. A publisher might have integers in their database, and therefore use integers for `id` fields, and then eventually enco

[2018-12-14 20:52] jpmckinney opened #790 "Discussion: One contract related to multiple awards"
A process in Kyrgyz Republic might make independent award decisions for each lot, then group the lots by supplier and sign a single contract for each group of lots.

Award decisions are made at a different time than contracts are signed, and we want award decisions to be disclosed as early as possible. At the time of the award decision, we don't know how the lots will be grouped into contracts. (I

[2018-12-14 21:18] jpmckinney opened #791 "Discussion: Better understanding of how OCDS data is integrated into BI tools"
A government might have a requirement that, if a tender notice is changed within five days of the submission deadline, then the submission deadline must be extended. If the government is using `tenderPeriod` to identify slow procedures (e.g. using a business intelligence tool), they might unnecessarily raise flags if they don't account for such extensions.

A natural response is to add a new field

[2018-12-14 22:06] jpmckinney opened #792 "Tag: Open the codelist or add new field to track other events?"
Several publishers use the `tag` field to indicate a particular event in a contracting process. The `tag` field itself is loosely related to such events. However, it only contains events covered by core OCDS – not from extensions, which might include: bids disclosed, enquiry received, enquiry answered. A publisher might have other events they want to indicate the release being related to, e.g. com

[2018-12-17 08:58] duncandewhurst commented on #758
Feedback from Afghanistan - there isn't a specific legal definition for a suspended contract in Afghanistan, however contracts are suspended in practice.

[2018-12-17 17:01] duncandewhurst commented on #792
Noting that the public private partnerships profile extends the releaseTag codelist with [new codes relating to qualification and shortlisting](https://github.com/open-contracting-extensions/public-private-partnerships/blob/1.0-dev/schema/profile/codelists/%2BreleaseTag.csv)

[2018-12-17 18:02] duncandewhurst commented on #695
Draft data from Belarus publishes a codelist in `procurementMethodDetails` with the following values:

* Request
* Auction
* Other
* Trade
* negotiations
* contractingTrades
* eTrade

Helpdesk feedback recommended to map this to the methodModality codelist and propose new codes where necessary.

[2018-12-18 09:17] duncandewhurst opened #793 "Auctions (information communicated prior to proceeding to the auction)"
Draft data from Belarus includes an additional `auctionPeriod` property in `tender/items/lots`, containing the start and end date of the auction for that lot.

Reviewing other approaches, the [openprocurement api documentation](http://api-docs.openprocurement.org/en/latest/standard/lot.html#lot) also includes an `auctionPeriod` property in `tender/items/lots`, however the OCDS data from Prozorro f

[2018-12-18 09:30] duncandewhurst commented on #793
Where `period` is the only information disclosed about an auction, an alternative approach using fields already added by the lots extension is to add milestones to `tender/milestones` and populate `.relatedLots` with the identifiers of the lots the milestone relates to.

[2018-12-18 13:49] jpmckinney commented on #793
Related #523 to add a period field to Milestone (or I suppose we can add a pair of milestones for the start/end datetimes).

[2018-12-18 15:13] jpmckinney commented on #711
This is proposed under `.details` for EU context in https://github.com/open-contracting-extensions/european-union/issues/10

[2018-12-18 15:50] jpmckinney commented on #440
Relevant comments in #371 start from: https://github.com/open-contracting/standard/issues/371#issuecomment-292117603

[2018-12-18 16:00] jpmckinney commented on #730
@duncandewhurst This issue seems very similar to #476. My understanding is that the codelist code suggested in each issue has the same semantics as the other. What's your opinion? If the same, we can close this issue.

[2018-12-18 16:26] jpmckinney opened #794 "Procurement plans"
## Motivation

1. Procurement plans should be disclosable as machine-readable data in a timely fashion.
1. It should be possible to link a contracting process to a procurement plan. In other words, a contracting process should not store a copy of the procurement plan.

## Discussion

The facts so far:
1. OCDS allows linking to a procurement plan using `planning/documents` with a `documentType` of

[2018-12-18 16:58] duncandewhurst commented on #794
Thanks @jpmckinney, I prefer proposal 1, some thoughts on the options below:

This could also be linked via `relatedProcess` using a `.scheme` other than 'ocid', however the semantics of process may still not fit exactly.

We have seen demand to provide structured data on procurement plans (at least from Belarus and NSW Australia and probably elsewhere if we were to review past engagements with ot

[2018-12-18 17:13] jpmckinney commented on #794
I've scheduled for 1.2, so that it is at least discussed as part of that release. Given that this would be a fairly significant change, we might end up having to re-schedule its ultimate deployment.

[2018-12-18 17:31] duncandewhurst commented on #730
Agreed, the semantics are the same.

[2018-12-18 22:47] #730 closed, assigned to nobody

[2018-12-18 22:47] jpmckinney commented on #476
Note to double-check that code description covers use case from #730.

[2018-12-20 23:02] jpmckinney opened #798 "Versioned release schema is inconsistent with merge rules"
## Issue

The [merge rules](http://standard.open-contracting.org/latest/en/schema/merging/#versioned-data) state that all fields are versioned "with the exception of the `id` property of objects within an array". The OrganizationReference definition appears in both the context of an object in an array (e.g. `suppliers`) and in the context of a plain object (e.g. `buyer`). According to the rules, i

[2018-12-21 00:25] jpmckinney commented on #455
*Moved to #834*

Since the compiled release reuses the release schema, `id` is required – though with #330 this requirement might be removed for the compiled release. In the meantime, I think it makes sense to set the `id` to the `<ocid>-<date>`, where the date is the last release's date, and to set the `date` similarly.

[2018-12-21 15:05] jpmckinney opened #799 "Should arrays that are wholeListMerge be nullable?"
The following are not nullable:

* Organization.additionalIdentifiers
* Item.additionalClassifications
* OrganizationReference.additionalIdentifiers (deprecated)

cc @duncandewhurst @kindly

[2018-12-21 15:42] jpmckinney commented on #799
Actually, it makes sense to just have `wholeListMerge` – a `null` type would be redundant.

[2018-12-21 15:42] #799 closed, assigned to nobody

[2018-12-21 16:13] jpmckinney commented on #249
In at least [Paraguay](https://www.contrataciones.gov.py/licitaciones/adjudicacion/340885-lp1367-18-adquisicion-seccionadores-descargadores-1/resumen-adjudicacion.html#proveedores) and Chile, the procurement systems have an identifier for an award notice disclosing many award decisions, but not an identifier for each award decision. However, the notice does provide detailed information about each

[2018-12-21 22:30] jpmckinney commented on #798
Once this is fixed, I can remove the `xfail` in the ocds-merge tests: https://github.com/open-contracting/ocds-merge/blob/master/tests/test_merge.py#L273 #811

[2019-01-09 14:37] duncandewhurst commented on #794
The UK government requires departments to publish commercial pipelines (which seem analogous to a procurement plans) and defines a set of fields that should be disclosed, in [this document](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/683067/Commercial_Pipeline_Guidance_Feb_2018.pdf).

Most of the fields in the commercial pipeline can be represent

[2019-01-10 17:08] jpmckinney commented on #205
Adding links:

http://api-docs.openprocurement.org/en/latest/standard/complaint.html
http://openprocurement.org/en/complaints.html

See also Chapter VIII Challenge Proceedings of [UNCITRAL Model Law on Public Procurement](http://www.uncitral.org/uncitral/en/uncitral_texts/procurement_infrastructure/2011Model.html).

[2019-01-10 17:34] GavinHayman commented on #205
And adding one additional comment from EBRD discussion, if you were looking at the common types of complaint (ie, incorrect procurement type etc, not their outcomes), a good place to start would be the US GSA (or possibly GAO) as they have lost history of ruling on these say UNCITRAL folks.

I'd recommend encouraging Myroslav to offer his approach as a community extension.

[2019-01-14 10:30] duncandewhurst commented on #205
Feedback from Belarus:

[2019-01-14 14:21] yolile opened #800 "Release data sources"
## Problem

There are some publishers, as Honduras and Colombia, who have multiple databases/systems with differents type of process or different type of data in each one, generating a different release with different fields in each case.
The differences in the data of each data base could be:

- Different covered times: in Colombia they have a new system called SECOP II that is alive from 2015 an

[2019-01-14 21:31] jpmckinney commented on #800
Is it not possible to determine the source system based on the package's `publisher`?

If there's a challenge with using package metadata, could we instead put the `publisher` inside the release, instead of creating this `originSystems` field?

[2019-01-14 21:49] yolile commented on #800
I don't think so, because in both cases the publisher is the same: Colombia Compra Eficiente for Colombia and ONCAE for Honduras. But in both cases each one manage multiples systems, like the ones that are listed in the "systems" sheet in the mapping template

[2019-01-14 21:59] jpmckinney commented on #800
Ok, so we'll need a new field. What's the use case for having a list of strings instead of one string? Do we have a real example where one release is published by multiple systems?

[2019-01-15 10:38] yolile commented on #800
Yes, we have it. In Honduras (ONCAE) there are some cases when they can link the data in the contracts database with the tenders and traditional processes database. In those cases they will have one release with information about the tender stage that comes from the traditional system and the contracts information that comes from the contracts system. Of course they can have two releases, one for

[2019-01-17 13:45] yolile opened #801 "Personal identifiers"
In some countries, as in Honduras and Colombia, some of their tenderers and suppliers have as identifier the ID number, passport or residence card number. Currently the standard documentation says that:

"Organization identifiers should be drawn from an existing organization identifier list. The scheme field is used to indicate the list or register from which the identifier is drawn. This value sh

[2019-01-17 15:15] jpmckinney commented on #801
I think they would set their own scheme instead of one from org-id.guide. @duncandewhurst Would you agree, and have any suggestion as to how they should identify the scheme (e.g. to not conflict with potential future org-id schemes)?

[2019-01-21 09:51] duncandewhurst commented on #801
I agree, personal identifiers are outside the scope of org-id.

BODS has an approach to personal identifiers documented [here](http://standard.openownership.org/en/schema-beta-2/schema/guidance/identifiers.html?#shared-identifiers) and the description of the `identifier/scheme` field includes the following guidance for personal identifiers:

In the interests of cross-standard compatibility I sugge

[2019-01-21 12:17] duncandewhurst commented on #800
Belarus proposed adding an additional `source` field at `release` level with the following description:

Helpdesk feedback was to publish this in `tender/submissionMethodDetails` (which isn't otherwise mapped to) to make the information available to tools/methodologies which are only aware of core OCDS fields, however if multiple publishers have this need then a common approach which doesn't rely

[2019-01-21 17:44] myroslav commented on #205
@GavinHayman @jpmckinney you can see extension at https://github.com/openprocurement/ocds_complaint_extension. It is local ProZorro (OpenProcurement) extension, but it would be good to incorporate other use cases and adapt it to become community extension.

Please review, and express your concerns and proposals about the extension, codelists in [extension issue tracker](https://github.com/openproc

[2019-01-21 18:22] myroslav commented on #205
@GavinHayman @jpmckinney you can see extension at https://github.com/openprocurement/ocds_complaint_extension. It is local ProZorro (OpenProcurement) extension, but it would be good to incorporate other use cases and adapt it to become community extension.

Please review, and express your concerns and proposals about the extension, codelists in [extension issue tracker](https://github.com/openproc

[2019-01-21 19:51] yolile opened #802 "Party Legal Representative"
## Problem
In Colombia they have the information about the legal representative of a supplier. That information is different from the contact point information.

## Proposals

1. Add an entry in the parties array with a new role "legalRepresentative" and use the memberOf extension to point the supplier
1. Add a field in the party/details extension
1. Add a new legalRepresentative block at the same

[2019-01-21 20:35] jpmckinney commented on #802
The second option is the safest to use for now. The field can be named `legalRepresentative` and the value can be a `ContactPoint` object.

The first option is not semantically correct, as parties are organizations, not people, and the legal representative is a person. The third option is possible, but we need more evidence from more countries to pursue it.

[2019-01-22 10:50] yolile commented on #802
The information that they have about the legal representative is their name, identifier and identifier scheme, so the ContactPoint object doesn't seem to be the most appropriate

[2019-01-22 10:54] duncandewhurst commented on #794
Adding some more detail on the examples noted above:

**Belarus** represents each procurement plan using a single contracting process in OCDS, adding an 'items' array to the planning section in OCDS to represent the items due to be procured under the plan. There doesn't appear to be a link between the procurement plan and the tenders which result from it.

**NSW Australia** represents each procure

[2019-01-22 14:10] jpmckinney commented on #802
@yolile We seem to be crossing wires because conversations are occurring here and in CRM-4092, where I explained that an `identifier` field can be added to the `ContactPoint` object (whether as a simple additional field or as an extension). As this request is from only a single publisher, let's resolve the issue in one place first (the CRM). We can open an issue here once there's any public intere

[2019-01-22 14:24] jpmckinney commented on #800
I think a field like this makes sense, though we still need to agree on the best term. So far, the proposals are `originSystems` and `source`. Dublin Core also has `source`, which it defines as "A related resource from which the described resource is derived", with the comment "The described resource may be derived from the related resource in whole or in part. Recommended best practice is to iden

[2019-01-22 14:29] jpmckinney commented on #800
Regarding compiled releases, the rule for merging lists of strings is to merge the list as a whole, so the value for `source` would be whatever was in the last release. In order to keep the full list of sources, we'd need an arrays of objects with `id` fields (or we'd need to invent a new rule, but that will be a greater burden on publishers when upgrading OCDS). That seems fine, as it allows to a

[2019-01-22 15:28] duncandewhurst commented on #800
@jpmckinney great point on compilation which neatly addresses the issue with urls.

In Belarus, the values are the url of the electronic platform, e.g.

source
--
http://www.icetrade.by
www.zakupki.butb.by
http://www.goszakupki.by/

[2019-01-22 17:35] yolile commented on #800
Honduras is about to publish their data should they create this extension already?

[2019-01-22 17:58] jpmckinney commented on #800
That's fine – it'd be ideal to have wider discussion on the proposal, but if they need this urgently, then I think my proposal would be fairly close to the consensus.

[2019-01-23 17:21] jpmckinney opened #803 "Link to Extension Explorer instead of building extension docs"
Update the documentation to refer to specific versions of extensions in the extensions explorer, instead of including extension documentation and extension lists.

Will involve changes to the scripts that pull in the extension docs.

[2019-01-24 10:52] yolile opened #804 "Public procurement regime"
## Problem

In Colombia, Paraguay and I guess that in each country, they have a law, norm or rule that indicate the procedures and norms that indicates how the public procurements process have to be managed. This norms and laws can vary between year and year, and can change the rules of the procurement process it self.

## Proposal

Add a field in tender to indicate the law, regime or norm from wh

[2019-01-24 11:50] duncandewhurst commented on #804
The [coveredBy extension](https://github.com/open-contracting-extensions/ocds_coveredBy_extension) was created for this purpose

[2019-01-24 12:21] #804 closed, assigned to nobody

[2019-01-25 15:59] duncandewhurst commented on #392
OCDS data from Prozorro includes a string `subcontractingDetails` field on the `bid` object which appears to indicate whether the bidder plans to use sub-contractors.

[2019-01-26 15:10] LindseyAM commented on #392
@myroslav does ukraine publish details of subcontracts? Will this be included in OCDS publication? Can you advise on this issue?

@duncandewhurst should we also ask andrew's team to share what they are publishing on subcontracts (or planning to publish).

In Los Angeles, information on subcontracts is currently published in paper schedules (so it is a longer term project to digitize) but as I unde

[2019-01-28 11:29] duncandewhurst opened #805 "Extension: Organization ownership details"
Draft data from Belarus proposes an additional field: `parties/details/organisationType`

This field is used to provide a free text description of the ownership of the organization, for example:

Since this field is free text it can't be modelled as a classification using either `parties/details` or `parties/classifications`.

Helpdesk feedback was to add a field to the `organization` object as a

[2019-01-28 14:10] LindseyAM commented on #392
@duncandewhurst does oc4infra have subcontractors?

[2019-01-28 14:41] jpmckinney commented on #805
Agreed, `organizationType` should be reserved for things like SA, PLC, LLC, etc. as in W3C [Registered Organization Vocabulary](https://www.w3.org/TR/vocab-regorg/#ref_rov_orgType).

[2019-01-28 14:48] jpmckinney commented on #805
As we don't intend to develop local extensions, I'll close, but good to log here in case future interest is expressed by others.

[2019-01-28 14:48] #805 closed, assigned to nobody

[2019-01-28 14:50] jpmckinney commented on #782
As we don't intend to develop local extensions, I'll close, but we can re-open the issue if others express interest, as it might then be appropriate for a community extension.

[2019-01-28 14:50] #782 closed, assigned to nobody

[2019-01-28 15:19] duncandewhurst commented on #392
The UK's current publication is noted above (the `supplyChain` flag), but we can check if they have any further plans to publish sub-contracting data, or to link contracts and sub-contracts.

OC4Infra doesn't have anything specific for sub-contractors (since the CoST IDS doesn't) but we can consider it for addition if we see demand and whatever approach we settle on for OCDS can likely be ported t

[2019-01-29 02:06] LindseyAM commented on #392
Thanks @duncandewhurst - came up in a conversation re manchester today with @herahussain (where potential goal is to publish prime and sub information on an infrastructure project)

OCDS documentation makes multiple references to the possibility of publishing subcontracting information but I didn't see when I searched OC4Infra documentation. Recommend adding some content to the implementation guid

[2019-01-29 16:22] LindseyAM opened #807 "Possible to navigate to PPP documentation from main documentation?"
I find it hard to find the PPP profile from the main docs.

I also tried googling and the old readthedocs came up.

So, the ppp profile is probably very hard for people to know about/stumble upon

[2019-01-29 16:28] jpmckinney commented on #807
Duplicate #459 to be fixed in 1.1.4

[2019-01-29 16:28] #807 closed, assigned to nobody

[2019-01-29 16:29] jpmckinney commented on #807
What Google terms did you use that brought up the readthedocs? (which just redirects to the correct docs)

[2019-01-29 16:55] LindseyAM commented on #807
I googled public-private partnerships ocds  (and the readthedocs didnt
redirect)

On Tue, Jan 29, 2019 at 9:29 AM James McKinney <notifications@github.com>
wrote:

[2019-01-29 17:21] jpmckinney commented on #807
Hmm, https://ocds-for-ppps.readthedocs.io/ (and others) redirect, but not https://ocds-for-ppps.readthedocs.io/en/stable/extensions/ppp/

I'll just stop it from being indexed by search engines.

[2019-01-29 17:25] jpmckinney commented on #807
Opened issue to do that: https://github.com/open-contracting-extensions/public-private-partnerships/issues/196

[2019-01-31 09:16] duncandewhurst commented on #392
UK confirmed they don't have any further plans to publish subcontracting data at present.

I checked with CoST Ukraine and their data model includes the following fields for sub-contracting, however these are based on what they would like to analyse, rather than what is actually being collected by procuring entities:

- Contract No. General Contract
- Contract No. Subcontract
- Date of contract of

[2019-02-01 17:42] jpmckinney commented on #798
As it happens, Identifier and Classification are always either not in an array, or in a whole-list-merge array, so `id` can be versioned on these objects. (Same for `Budget`).

[2019-02-01 19:14] jpmckinney commented on #798
I pursued a simpler solution in #810, which instead just makes the script that generates the versioned release schema smarter.

[2019-02-01 19:32] jpmckinney opened #811 "Release new version of OCDS Merge"
Follow-up to #798

Remove `xfail` and change tag in tests to `1__1__4`.

[2019-02-07 11:59] jpmckinney commented on #689
@myroslav I'd be interested in your feedback here, with respect to estimated quantity, as part of GPA extensions.

[2019-02-07 12:01] jpmckinney commented on #691
@myroslav: FYI, this issue and extension should answer your question about options in GPA.

[2019-02-07 16:42] jpmckinney opened #812 "Deprecate versionId"
After #810, none of our code will check `versionId`, as it is an incomplete means of getting the correct versioning behavior. In 2.0, we would then be able to remove references to `versionId` from:

* [x] standard: release-schema.json
* [x] standard: meta-schema.json
* [x] standard: meta-schema-patch.json
* [x] standard: make_versioned_release_schema.py

As part of the deprecation, we'd need to up

[2019-02-13 11:03] duncandewhurst opened #814 "planning, tender and contract sections allow duplicate milestones"
In `implementation.milestones` the `uniqueItems` property is set to `true`, however the `milestones` arrays in `planning`, `tender` and `contract` do not have this property set.

This means that data with duplicate milestones (or duplicate milestone ids) in these sections doesn't result in a validation error.

The definition of `milestone.id` states:

So `uniqueItems` should be set to `true` in al

[2019-02-13 13:10] jpmckinney commented on #814
I noticed this issue in extensions as well. https://github.com/open-contracting/ocdskit/issues/92 can help with this.

[2019-02-14 18:48] JachymHercher commented on #205
Possibly relevant: the European Commission has just published a study on complaint data in the EU. You can find it [here](https://ec.europa.eu/growth/single-market/public-procurement/rules-implementation/remedies-directives_en), under the headline "2018 study to explore data availability..." From the description:

[2019-02-19 13:59] yolile commented on #794
Chile is going to publish their procurement plan using items in the planning section as Belarus, too. They have the relation with the tender but after the tender is made not before.

[2019-02-19 15:04] pindec commented on #759
The new  [publication policy template is now published](https://docs.google.com/document/d/1IEZhotGcgdC7XBmLepdPQRVN5y4b5l9H0y0h32HAQyo/view) so we should add a link to it from [standards docs](http://standard.open-contracting.org/latest/en/implementation/publication_policy/) and/or otherwise update the standards docs page.

[2019-02-20 14:27] jpmckinney commented on #759
Added 1.1.5 milestone.

[2019-02-25 13:34] yolile commented on #651
Honduras is going to use this extension now, could it be added as community extension? @jpmckinney

[2019-02-26 22:52] jpmckinney commented on #711
Noting earlier discussions here: https://github.com/open-contracting/standard/issues/181#issuecomment-230097048

[2019-02-26 22:56] jpmckinney commented on #370
Note: Colombia adds a `parties.details.isGroup` boolean to indicate whether a party is a consortium or temporary union. @yolile

[2019-02-26 23:22] jpmckinney commented on #711
Colombia tracks:

* organization sector https://github.com/sdd1982/sector
* organization type https://github.com/sdd1982/legalEntityTypeDetail
* government branch (e.g. Executive) https://github.com/sdd1982/branch
* government level (e.g. Territorial) https://github.com/sdd1982/level
* government "order" (e.g. Territorial distrital municipal nivel 6) https://github.com/sdd1982/order

cc @yolile

[2019-02-27 10:12] yolile commented on #749
Colombia created the extensions for this:
https://github.com/sdd1982/expressionAddress
https://github.com/sdd1982/expressionEmail
https://github.com/sdd1982/enquiriesAddress
https://github.com/sdd1982/awardAddress

[2019-02-27 16:22] jpmckinney commented on #749
In the EU's Tenders Electronic Daily, the contact points for enquiries and review are modelled as organizations. So, in the EU profile, to provide the addresses/contact points for enquiries and expressions of interest, we use the `parties` array, and add to that party's `roles` codes like 'processContactPoint' or 'reviewContactPoint'.

https://github.com/open-contracting-extensions/european-union/

[2019-02-27 16:26] jpmckinney commented on #749
The EU profile also needs to model "place for opening of tenders", for which we might consider a common/similar solution as in Colombia.

[2019-02-27 22:21] jpmckinney commented on #651
Note: Ukraine also has a guarantees extensions: https://github.com/openprocurement/ocds_guarantee_extension

[2019-02-27 22:46] jpmckinney commented on #764
Note: Ukraine adds tender.pendingCancellation (boolean) and tender.lots.pendingCancellation (boolean) in https://github.com/openprocurement/ocds_pendingCancellation_extension

[2019-02-27 22:49] jpmckinney commented on #383
Note: Ukraine also has a VAT extension: https://github.com/openprocurement/ocds_valueAddedTax_extension

[2019-02-27 23:00] jpmckinney opened #815 "Add Tender.identifier(s) and Contract.identifier(s) fields"
https://github.com/gitMHOCDS/dncp-contract-code adds contracts.dncpContractCode (string)

https://github.com/openprocurement/ocds_contractNumber_extension adds contracts.contractNumber (string)

The earlier discussion in #289 provides additional examples.

Rather than the approach in #289 – which is for each publisher to create their own very similar but different extension – the proposal here is

[2019-02-27 23:13] jpmckinney opened #816 "Add Document.relatedItem field"
How frequently are documents related to a specific item?

https://github.com/openprocurement/ocds_linkedDocument_extension adds Document.relatedItem (string) and Document.documentScope (string). I am curious if other publishers need this, too.

Enquiry and Criterion from the enquiries and requirements extensions, respectively, already have a `relatedItem` field.

cc @yanakapatsila

[2019-02-27 23:13] jpmckinney commented on #815
cc @yanakapatsila

[2019-02-27 23:15] jpmckinney commented on #764
cc @yanakapatsila

[2019-02-27 23:18] jpmckinney commented on #793
There is now an extension to review: https://github.com/openprocurement/ocds_auction_extension

[2019-02-27 23:19] jpmckinney commented on #151
There is now an extension to implement @myroslav's codelist: https://github.com/openprocurement/ocds_currentStage_extension

[2019-02-28 18:51] jpmckinney commented on #792
https://github.com/openprocurement/ocds_currentStage_extension/blob/master/release-schema.json adds `tender.currentStage` to more narrowly track events/status.

[2019-03-01 04:05] jpmckinney commented on #383
https://github.com/openprocurement/ocds_valueAddedTax_extension adds Value.valueAddedTaxIncluded (boolean) (same as the [Schema.org property](https://schema.org/valueAddedTaxIncluded)).

https://github.com/INAImexico/ocds_taxes_extension adds Value.netAmount (string, integer).

Going through earlier discussion:

I tried to find relevant notes (searching for "vat", "tax" and "taxes") in the event's

[2019-03-01 04:18] jpmckinney opened #817 "Update Value.amount description to suggest/recommend tax-free amounts"
Following discussion from https://github.com/open-contracting/standard/issues/383#issuecomment-468534963 and following comments.

[2019-03-01 04:27] jpmckinney commented on #652
After more research, I can't find evidence for this use case from other jurisdictions, so I've marked it as a local extension for now. If there is new demand for this extension from other jurisdictions, we can review again for inclusion in the extension registry. Thanks for submitting the extension for others to contribute to over time.

[2019-03-01 04:27] #652 closed, assigned to nobody

[2019-03-01 04:58] jpmckinney commented on #621
After further research, it is easy to find other examples of clarification meetings in other jurisdictions, so the concept is suitable for a community extension. However, it is relatively rare for individuals (attendees and officials) to be disclosed; also, the `OrganizationReference` is not the preferred object to model a natural person (except in the exceptional case of a sole trader). The only

[2019-03-01 05:05] jpmckinney commented on #622
The Participation Fee core extension has a `methodOfPayment` field (on a different object), though it lacks a codelist. It would be preferable to align the terms i.e. to change `paymenMethod` to `methodOfPayment`. Also, I notice a typo in the code `wireTransfe`; I opened a pull request.

Otherwise, with those changes, this can be added to the registry.

[2019-03-01 05:18] jpmckinney commented on #599
While the request for quotes might occur as part of what is named the planning stage locally, in the context of OCDS, this type of behavior would generally occur during the initiation/tender stage (the planning stage in OCDS would correspond to a behavior like deciding what to request quotes for).

The EU and other jurisdictions also have defined processes for awarding contracts without competitio

[2019-03-01 17:21] jpmckinney commented on #815
OC4IDS has an `externalReference` field (for the contracting process), whose name we can also consider re-using.

[2019-03-01 18:10] #599 closed, assigned to nobody

[2019-03-01 20:05] jpmckinney commented on #625
We are considering a new `statusDetails` field in OCDS, which will satisfy this use case, as well as broader use cases, depending on the `status` value. #764 For example, `statusDetails` can explain why an award was made, but also why an award wasn't made (which is more commonly disclosed, from the bit of research I did to check this use case).

As such, I'll close this issue as a local extension.

[2019-03-01 20:05] #625 closed, assigned to nobody

[2019-03-01 20:17] jpmckinney commented on #651
In Ukraine's extension, the Guarantee is just a value. This extension is more complete.

@antonioherrera To include the extension as a community extension, I recommend removing the `guarantee` prefix from all `Guarantee` fields, and to remove the unused `patternProperties`. In OCDS, we avoid repeating the object's name on all its fields. Once that's done, I can add it to the registry.

@yolile In

[2019-03-01 20:30] jpmckinney commented on #637
`contactPointType` should be abbreviated to `type` (we don't repeat the object name in the field name), though I think the term `role` might better fit the concept here.

I'm not sure that `juridicalPersonhood` is the correct term, as a "juridical person" means an artificial person. I'm not sure this concept belongs in the `Identifier`.

To add this extension as a community extension, it might be

[2019-03-04 19:50] antonioherrera commented on #383
It is strange to have the tax-free (net) amount in the OCDS field, because it does not seem to fit well with the current descriptions of the values objects.

For example, the `tender/value` has the following description:

In the case of `award/value` we have:

For me, when referring the **total value** of an award or contract we are talking about **the gross, then the total value** of something.

[2019-03-04 22:41] jpmckinney commented on #383
I think we should discuss this as part of #817. The present definitions are vague, as the "total" can also mean "the total of all lots" or "the total of all items". In the EU, for example, there is an element named "Estimated total value", which excludes VAT.

What we know for sure is that some use cases require the net amount, others require the gross amount, and others require more detail on whi

[2019-03-05 10:05] MusicMaker1337 commented on #791
BI tools usually use _compiled_ releases. The workflow is as follows:
1. The BI tool downloads all compiled releases available at the moment of download and captures the latest modification date among all releases;
2. Some changes occur in the e-PPS, which, in turn, make changes to some of the compiled releases. Any change in a compiled release resets its modification date. It leads to a fact that

[2019-03-05 14:38] jpmckinney commented on #791
@MusicMaker1337 My understanding was that, in Belarus, custom `tag` values were used, because the BI tool needed to distinguish events. However, the compiled release, in most other publications, doesn't have a meaningful tag. Can you remind me how tags are being used, with an example?

[2019-03-06 13:40] duncandewhurst opened #818 "documentType codelist: Update the description of the environmentalImpact code"
OC4IDS introduces an improved definition for this code:

[2019-03-11 17:50] PaulBoroday commented on #574
For [MTender](https://www.mtender.gov.md) we are planning to use the following approach:

# Conversions

As soon as not only quantitative criteria has to be included into the Contract Notice but also - applicable options and weights, a separate extension has to be applied to allow CA to include all the conversions needed for future qualification and evaluation.

*Conversions* - is a tool that allo

[2019-03-12 14:44] jpmckinney commented on #764
Dhangadhi has some statuses with local meanings, that would be useful to preserve.

cc @duncandewhurst

[2019-03-13 02:25] jpmckinney commented on #624
The extension has now been added the registry!

[2019-03-13 02:25] #624 closed, assigned to nobody

[2019-03-13 16:11] jpmckinney commented on #751
I think for this level of detail, it makes sense to have a generic model as you suggest. The two options are either:

1. An array of objects with generic fields to describe an attribute (like in your example), and similar to the `Metric` and `Observation` classes in the [metrics](https://github.com/open-contracting-extensions/ocds_metrics_extension/blob/master/release-schema.json) extension
1. Key

[2019-03-13 16:23] jpmckinney commented on #750
Aha – so rather than put all the information about both the local method and submethod into one field (`procurementMethodDetails`), they prefer to maintain the structure.

This would be comparable to how Ukraine adds a field for sub-statuses: https://github.com/open-contracting/standard/issues/151#issuecomment-62179613

I think `procurementSubMethod` sounds fine. What would the codelist look like?

[2019-03-13 16:48] jpmckinney commented on #758
For now, I would recommend putting 'suspended' in a `statusDetails` field, as suggested by #764

1. A brief web search suggests that contract suspension is indeed a common concept. It appears more at the contract management level rather than at the primary legislation level.
2. The contract is still active, but work has been suspended. For example, a government changes zoning, such that a construc

[2019-03-13 17:57] jpmckinney commented on #574
@PaulBoroday Thank you for your thorough examples! We will have a look at the extension shortly.

[2019-03-13 18:18] LindseyAM opened #819 "Update Support & Governance section of documentation"
Just noticed this section is out of date:

http://standard.open-contracting.org/latest/en/support/governance/#overview

Proposed new text:

OCDS was initially developed through a year long iterative process, resulting in version 1.0 in November 2014.

In 2016, we undertook the first upgrade of the OCDS to version 1.1 following the OCDS governance process outlined below. The full upgrade report can

[2019-03-13 18:26] yolile commented on #751
No, they didnt start the extension yet, and finally they are not going to have time this year to include extensions in their data. But Paraguay can use this extension as well and their are going to start the update of their data in the following months so maybe they will develop this extension

[2019-03-13 18:28] yolile commented on #750
Their subtypes are defined here: https://www.comprasestatales.gub.uy/comprasenlinea/jboss/reporteSubTiposCompra.do (the id could be the code and the field "resumen" the description) but it is a long list

[2019-03-13 18:49] jpmckinney commented on #574
I made an initial review of the technical correctness of the extension. Once corrected, I'll do a closer review of the modelling. https://bitbucket.org/procuriosity/procuriosity_conversions/issues/1/typos-and-other-errors

[2019-03-13 18:59] jpmckinney commented on #750
Hmm, if all the codes will be local, and if the goal is to have a reusable community extension, then perhaps, at first, the code field won't have a codelist (or will have an empty codelist), until we can identify codes that are re-used across publishers. Each publisher might want to have an additional, local extension that constrains the code field using an `enum`.

I notice that some codes are re

[2019-03-13 23:24] PaulBoroday commented on #574
Thanks, @jpmckinney ! I believe everything is sorted so far. Repo moved to [Github](https://github.com/uStudioCompany/ocdsp_conversions)

Also thinking to move “options” our from this draft to another one. Maybe this extension could be improved: https://github.com/open-contracting-extensions/ocds_options_extension/blob/master/release-schema.json ?

UPD: https://github.com/open-contracting/standard

[2019-03-14 07:29] PaulBoroday commented on #574
Also thinking to move “options” our from this draft to another one. Maybe this extension could be improved: https://github.com/open-contracting-extensions/ocds_options_extension/blob/master/release-schema.json ?

[2019-03-14 08:04] duncandewhurst commented on #750
I noticed that a lot of the codes seem to reference specific laws or regulations.

Have we considered whether the [covered by extension](https://github.com/open-contracting-extensions/ocds_coveredBy_extension) could be used?

Also, we already have the [procurement method modalities](https://github.com/open-contracting-extensions/ocds_procurementMethodModalities_extension/) extension which can be u

[2019-03-14 11:22] duncandewhurst commented on #741
I think this is still broken in the latest version of the docs: http://standard.open-contracting.org/latest/en/extensions/party_details/

[2019-03-14 13:13] jpmckinney commented on #741
It's fixed on dev: http://standard.open-contracting.org/1.1-dev/en/extensions/party_details/

[2019-03-14 14:00] jpmckinney opened #820 "Consistently use sentence case for code titles"
Some codes are Title Case; others are Sentence case. Given where codes are likely to appear in forms, notices, etc. Sentence case is the appropriate case.

[2019-03-14 15:03] jpmckinney opened #821 "Deprecate initiationType"
The current definition ("An open competitive bidding or tendering to form contracts") is overly restrictive; this definition can only be respected if `tender/procurementMethod` is 'open'.

----

More broadly, the design reason for the `initiationType` field is best described here: https://github.com/open-contracting/standard/issues/111#issuecomment-61224721

In other words (and from memory), this

[2019-03-14 15:59] jpmckinney commented on #750
Good questions! Essentially, we need a better understanding of what the Uruguay codelist means and how it's intended to be used. Some are references to specific articles of specific laws, but others are simply "Común" ("Common"), and I don't know what that means in context.

* If the intention is to reference the law that gives the procedure authority to proceed / that the procedure must follow, t

[2019-03-14 16:24] jpmckinney commented on #750
Sorry, I meant to refer to a proposed legalBasis extension, not coveredBy.

coveredBy was originally authored to more specifically identify processes that are "covered" by a treaty (like the GPA). The GPA doesn't give that process its legal authority, and it doesn't describe the fundamental rules of how the procedure works. That is what the legal basis does. Instead, the GPA adds additional requir

[2019-03-14 16:40] duncandewhurst commented on #750
Ah, thanks for clarification I'm not sure I was aware of legalBasis.

Is there an index somewhere of all the extensions (regardless of status) that we can refer to when considering mappings, requests for new fields etc?

I looked in https://github.com/open-contracting-extensions and couldn't find legalBasis

[2019-03-14 16:48] jpmckinney commented on #750
legalBasis is just an issue. The only repositories with issues about proposed (non-existent) extensions are this repo and https://github.com/open-contracting-extensions/european-union/issues (to avoid adding many jurisdiction-specific issues to the standard repo).

Otherwise, all OCP-authored extensions are in https://github.com/open-contracting-extensions. CRM issue 4329 links to a spreadsheet of

[2019-03-14 17:21] jpmckinney commented on #800
Honduras has drafted an extension: https://bitbucket.org/izelayas/ocds_releasesource_extension/src/master/

[2019-03-14 17:40] jpmckinney commented on #800
On second thought, we don't recommend using OCID prefixes on any local identifiers to make them globally unique (except for the ocid itself), so I'll suggest changes to the extension's documentation.

[2019-03-14 17:50] PaulBoroday commented on #691
@jpmckinney , for options we considering a bit deeper approach:

## Why

Let's take a look at what we will have on a practical example:

*II.2.7: Duration of the contract, framework agreement or dynamic purchasing system* of Contract Notice have to be filled as follows: *duration of contract in months* or *duration of contract in days* or *start: (dd/mm/yyyy) / End: (dd/mm/yyyy)* for contract. How

[2019-03-14 18:11] jpmckinney commented on #800
I made a pull request: https://bitbucket.org/izelayas/ocds_releasesource_extension/pull-requests/2 Once merged and added to the registry, we can close this issue.

[2019-03-14 18:38] jpmckinney commented on #483
The extension has been added to the extension registry. Issues about the extension can be opened at https://github.com/open-contracting/ocds-extensions/issues

[2019-03-14 18:38] #483 closed, assigned to nobody

[2019-03-14 18:40] jpmckinney commented on #784
Related: #750

[2019-03-14 18:41] jpmckinney commented on #423
@duncandewhurst Is this now handled by one of the budget extensions?

[2019-03-14 18:42] jpmckinney commented on #758
@duncandewhurst Can you review #430 and, if appropriate, merge this issue into that issue?

[2019-03-14 20:41] PaulBoroday commented on #792
tender.statusDetails  looks more consistant, isn’t it?

https://github.com/open-contracting/standard/issues/764

[2019-03-14 21:26] jpmckinney commented on #792
@PaulBoroday Yes, for statuses we prefer the approach in #764. I only mention the other extension as additional information.

[2019-03-16 10:34] PaulBoroday commented on #816
1. Often document can be related not only on *item* or *tender* but also on *lot*.
2. Maybe its better to use here same to as it is already in mentioned *requirements*?

3. For mentioned *enquiry* I would suggest reconsidering an approach as well: *relatedItem* means the same there, but *relatedLot* is not consistent and no way to relate particular *enquiry* to all *tender*

[2019-03-17 17:25] jpmckinney commented on #440
Note: https://github.com/eForms/eForms/issues/251#issuecomment-473663395

[2019-03-19 01:28] PaulBoroday commented on #205
Just like an alternative view:

For [MTender](https://www.mtender.gov.md) in Moldova and generally we are approaching to the complaints in a bit different way:

1. Classification of available remedies into four high-level types:
- Interim measures
- Set aside of decisions
- Annulment of a Concluded Contract
- Damages

2. Classification of the subject of appeal

3. Publication of a list of precise

[2019-03-19 20:01] jpmckinney commented on #711
Regarding organization type, the EU uses the less ambiguous term "legal form": https://github.com/eForms/eForms/issues/216

[2019-03-19 21:19] PaulBoroday commented on #689
@jpmckinney I would suggest considering [metrics](https://github.com/open-contracting-extensions/ocds_metrics_extension) here.

But the only thing that is missed - something like 'relatedTarget' for 'item'

[2019-03-19 21:46] jpmckinney commented on #800
Done!

[2019-03-19 21:46] #800 closed, assigned to nobody

[2019-03-20 22:38] jpmckinney commented on #768
After doing more work on OCDS Merge and merging rules, I came to the conclusion that array and object fields should not be nullable (except in exceptional circumstances like GeoJSON fields), as this makes the merging logic even more complicated and non-obvious than it already is.

[2019-03-21 15:11] jpmckinney commented on #459
@duncandewhurst The OCP website now has https://www.open-contracting.org/data-standard/profiles-and-guidance/ to which we will presumably add Infrastructure.

We can either:

1. Link to that page from `extensions.md`
1. Repeat its content
1. Move that page to the standard docs

Option 1 would be the quickest to do for 1.1.4, but we might prefer another option for 1.1.5.

Which option do you prefer

[2019-03-21 15:13] jpmckinney commented on #742
@duncandewhurst From your recent work on OC4IDS, is there a recommended specific page (or pages) on which the canonical schema URLs should appear in the OCDS docs?

[2019-03-21 16:31] jpmckinney commented on #682
@duncandewhurst Can you suggest new wording, perhaps based on any improved wording in OC4IDS?

[2019-03-21 16:41] jpmckinney commented on #818
@duncandewhurst I assume we omit "or project" in OCDS, right?

[2019-03-21 16:46] jpmckinney commented on #638
As I am unclear on the general applicability of this code, and given that no other publisher has participated in this issue, I will close, though we can reconsider inclusion at a later date if the code is reused by others.

[2019-03-21 16:46] #638 closed, assigned to nobody

[2019-03-21 16:57] jpmckinney commented on #619
The guidance I mentioned above is here: http://standard.open-contracting.org/profiles/eu/master/en/F01/

[2019-03-21 17:08] jpmckinney commented on #405
@yolile At https://sites.google.com/site/cnetcucop/, I read:

Is this a sufficient description of the classification scheme?

**Update**: These [slides]() use:

Which clarifies that it is about the acquisition of goods, leases, services, etc. I've updated to:

[2019-03-21 17:14] jpmckinney commented on #557
@duncandewhurst Should this not refer to 'contracting process' rather than project? I propose:

Regarding whether they have submitted a bid or not: If an interested party becomes a tenderer, the old definition would mean that they can't be an interested party, which is contradictory, because a tenderer is clearly interested. I therefore simply remove that clause here.

[2019-03-21 17:26] jpmckinney commented on #722
My brief review of CPA suggests that it's for good, works and services – not for assets like cottages, etc. https://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_NOM_DTL&StrNom=CPA_2008&StrLanguageCode=EN&IntPcKey=&StrLayoutCode=HIERARCHIC

Same for eCl@ss http://www.eclasscontent.com/index.php

My brief review of PRODCOM suggests that it's for manufacturing of goods: https://e

[2019-03-21 17:26] #722 closed, assigned to nobody

[2019-03-21 17:29] jpmckinney commented on #673
Assigning to myself to use same approach as for PPPs.

[2019-03-21 19:23] #757 closed, assigned to nobody

[2019-03-21 19:42] jpmckinney commented on #548
@duncandewhurst Would you prefer copying the 'administrativeEntity' code from OC4IDS to satisfy this issue?

[2019-03-21 20:00] jpmckinney commented on #322
My proposal for a Procurement Method Modalities extension can be pursued in #695.

At this stage, it seems as though all codes should be deprecated:

* 'electronicAuction' is not a submission method
* 'electronicSubmission' is overly narrow ("through an electronic procurement platform"), and expanding it would cause overlap with 'written', which includes "generic e-mail systems"
* 'written' mixes

[2019-03-21 20:28] JachymHercher commented on #322
FYI: In some EU countries, an in person or snail mail submitted USB drive (CD, etc.) is legally treated as "paper submission". This means there is "paper submission", but "electronic opening of tenders". (This is 99% pointless trivia, 1% it could perhaps influence the formulation of a definition somewhere.)

[2019-03-21 20:38] jpmckinney commented on #476
It seems much more likely and natural for a resulting process to refer *back* to its prior process, rather than for the prior process to be updated whenever a new process results. #730 was opened to be able to have pairs of codes for each side of the relation. While I understand that it's useful to easily get a list of subsequent processes, there are many similar use cases we don't support, becaus

[2019-03-21 20:38] #476 closed, assigned to nobody

[2019-03-21 21:26] jpmckinney commented on #405
There's a broader question for this codelist whether it makes sense for OCDS to curate a global list of national schemes, or if it should be the responsibility of the jurisdiction to coordinate which code to commonly use to refer to the same classification scheme. Our current approach is to add national schemes when requested, but to otherwise not go out of our way to catalog all schemes.

I would

[2019-03-22 12:03] JachymHercher opened #825 "partyRole: Change definition of 'funder' and/or 'buyer'"
Considering the following [Party Role's](http://standard.open-contracting.org/latest/en/schema/codelists/#party-role) definitions,

buyer | Buyer | A buyer is an entity whose budget will be used to pay for goods, works or services related to a contract.
-- | -- | --
funder | Funder | The funder is an entity providing money or finance for this contracting process.

I'm struggling a bit to understan

[2019-03-22 12:25] myroslav commented on #761
When do you plan to release? Im asking because we repetedly are hitting the missing `Unit` reference in `latest` version of docs.

[2019-03-22 13:28] jpmckinney commented on #761
Hi @myroslav, I expect in the next month, but you can view the development version of the docs in the meantime: http://standard.open-contracting.org/1.1-dev/en/schema/reference/#unit

[2019-03-22 13:41] jpmckinney commented on #825
The 'funder' code was added in this commit https://github.com/open-contracting/standard/commit/6989523e2d07d466a8a74a70cfd650284882a170 following from the discussion in #368 as part of the development of OCDS 1.1. However, a 'funder' role wasn't discussed in that issue, and has no precedent in OCDS – whereas the other roles at the time had a related field pointing to an organization in that role (

[2019-03-22 14:41] JachymHercher commented on #825
Ok, thanks. For reference, I got into this subject when working on https://github.com/eForms/eForms/issues/85#issuecomment-475609662 (and https://github.com/eForms/eForms/issues/285#issuecomment-475553242).

(In eForms, we define "buyer" by referring to the legal terms such as "contracting authority". It is unavoidable, because notices have legal value and need to be 100% precise on this point, bu

[2019-03-22 14:47] LindseyAM commented on #825
Hi there, 'funder' may be relevant in cases where eg the World Bank is providing the funding for the contract (rather than government budget).

[2019-03-22 14:50] jpmckinney commented on #825
We have other means of modelling various funding/financing relationships, none of which use this party role (the [Financing](https://extensions.open-contracting.org/en/extensions/finance/master/) extension has a `financingParty` field and [Budget Breakdown](https://extensions.open-contracting.org/en/extensions/budget/master/) has `sourceParty`).

Anyhow, we can keep the 'funder' role, but it requi

[2019-03-22 15:14] jpmckinney commented on #322
The definition of 'written' might have been influenced by the GPA definition – though that definition isn't specific to submission methods and is used to solve different problems.

[2019-03-22 16:13] jpmckinney commented on #687
The alignment of codes in the following closed codelists can be explored as part of OCDS 1.1.2:

* procurementCategory
* method

As for the codes in open codelists, I'll also note any differences from the [OCDS](https://docs.google.com/spreadsheets/d/1WGH9_mHYuF4JbK2tdyeckqsmj8v4HrRqDOEbKQ7CI4A/edit#gid=0) or [EU e-Procurement Ontology](https://docs.google.com/spreadsheets/d/1zw9aR8GDIDUiTDtSznMxD

[2019-03-22 16:29] jpmckinney commented on #714
OCDS glossary:

Where 'tender stage' is defined as:

e-Procurement Ontology:

Where 'procedure' is defined as:

GPA:

OCDS code description (first clause only):

The ePO glossary is vague about the relevant steps that follow a tender notice, whereas the OCDS glossary is overly verbose about the relevant steps (if the additional definitions are integrated). The GPA definition gets to what matters w

[2019-03-22 16:47] jpmckinney opened #826 "Check open codelist code descriptions against OCDS, ePO, UNCITRAL glossaries"
For the [OCDS glossary](https://docs.google.com/spreadsheets/d/1WGH9_mHYuF4JbK2tdyeckqsmj8v4HrRqDOEbKQ7CI4A/edit#gid=0), its definition should either be changed to match OCDS code descriptions, or adopted by OCDS code descriptions.

* The EU [e-Procurement Ontology](https://eprocurementontology.github.io) working group has a [list](https://github.com/eprocurementontology/eprocurementontology/wiki/

[2019-03-22 16:48] jpmckinney opened #827 "Check schema field and codelist code descriptions against OCDS, ePO, UNCITRAL glossaries"
Same as #826 but for OCDS 1.2 due to versioning policy.

* The EU [e-Procurement Ontology](https://eprocurementontology.github.io) working group has a list of [glossary terms](https://github.com/eprocurementontology/eprocurementontology/wiki/eProcurement-Glossary) that link to [this spreadsheet](https://docs.google.com/spreadsheets/d/1zw9aR8GDIDUiTDtSznMxDlZQEAGb8uNzib9KBZLf5yE/edit#gid=0). I have

[2019-03-22 16:50] jpmckinney commented on #687
I'll open a new issue for closed codelist descriptions.

[2019-03-22 16:51] jpmckinney opened #828 "GPA alignment of closed codelist descriptions"
Follow-up to #687 due to versioning policy, to align the `method.csv` and `procurementCategory.csv` code descriptions with GPA text, compared in [this spreadsheet](https://docs.google.com/spreadsheets/d/1X4nULP8nhYR_iXra0HjTy5n2v5z2kyzFFT7KTv2GZo0/edit?pli=1#gid=0).

Should also compare to [OCDS](https://docs.google.com/spreadsheets/d/1WGH9_mHYuF4JbK2tdyeckqsmj8v4HrRqDOEbKQ7CI4A/edit#gid=0) or [EU

[2019-03-22 21:02] jpmckinney opened #830 "Use non-normative language in non-normative sections"
Following an internal review of documentation, schema, codelists and those of core extensions, we will be more consistent in our use of normative terms, based on our [normative and non-normative content policy](https://docs.google.com/document/d/1xjlAneqgewZvHh6_hwuQ98hbjxRcA2IUqOTJiNGcOf8/edit). Steps anticipated under the policy:

* Clearly mark documentation pages or sections as normative or no

[2019-03-22 21:21] jpmckinney opened #832 "Establish process for changes to governance process"
Action item from [normative and non-normative content policy](https://docs.google.com/document/d/1xjlAneqgewZvHh6_hwuQ98hbjxRcA2IUqOTJiNGcOf8/edit):

"Update the Governance page with detail on how the governance process itself can be updated, including changes to the license and copyright holder of the standard."

[2019-03-22 21:25] jpmckinney commented on #580
Action item from [normative and non-normative content policy](https://docs.google.com/document/d/1xjlAneqgewZvHh6_hwuQ98hbjxRcA2IUqOTJiNGcOf8/edit):

"Expand the conformance statement with a summary of OCDS norms."

The norms review (#830) identified all the norms spread throughout the documentation. While it is likely too verbose to repeat every norm, we might try to summarize or describe higher-

[2019-03-25 15:20] #699 closed, assigned to jpmckinney

[2019-03-25 16:03] jpmckinney opened #833 "Consider replacing language of "core" extensions universally"
"Core extensions" are somewhat an oxymoron. The Extension Explorer uses "recommended extensions" instead, following this discussion: https://github.com/open-contracting/extension-explorer/issues/19

The Extension Explorer's purpose is to help people to discover, use and create extensions; its use of "recommended" helps direct people to what we consider to be the most important extensions to use. P

[2019-03-25 16:51] duncandewhurst commented on #405
I agree that curating a global list of national schemes seems like too much - at least at the moment, where multiple OCDS implementations in a single jurisdiction aren't that common.

I'm happy with the current approach, it involves little effort from the helpdesk and gives a better chance of common codes than entirely leaving it up to individual jurisdictions to coordinate.

[2019-03-25 16:52] jpmckinney opened #834 "Add rules on how to identify and date compiled/versioned releases"
Split from #455. Copying relevant contributions:

From @mpostelnicu

From @jpmckinney

[2019-03-25 16:52] jpmckinney commented on #455
I've created a new issue for the dating and identification of compiled/versioned releases, to avoid overloading this issue: #834

[2019-03-25 17:07] duncandewhurst commented on #557
Happy with your proposal, the description is taken from the PPP profile, hence the use of 'project', but 'contracting process' should be applicable there too.

[2019-03-25 17:15] duncandewhurst commented on #818
Yes, that makes sense.

[2019-03-25 17:15] #818 closed, assigned to duncandewhurst

[2019-03-25 17:19] jpmckinney commented on #405
Let's carry on with the current approach for 1.1.4.

[2019-03-25 18:05] duncandewhurst commented on #742
As with OCDS, in OC4IDS the canonical URLs are only used in the `id` properties of the schemas.

In OCDS, the [release schema](http://standard.open-contracting.org/latest/en/schema/release/) and [release package schema](http://standard.open-contracting.org/latest/en/schema/release_package/) pages seem like the best place to provide the canonical URLs.

I suggest adding an admonition below the 'dow

[2019-03-25 18:13] duncandewhurst commented on #682
For tender, award and contract IDs:

For releases:

[2019-03-25 18:18] duncandewhurst commented on #548
I think the first clause of the PPP Knowledgelab definition provides a useful clarification on what contract administration actually means, though the latter clause is probably unnecessary and may be PPP specific.

How about combining the two:

I had forgotten this issue when drafting codes for OC4IDS, so once the description is decided here we can update the description there too.

[2019-03-25 18:26] duncandewhurst commented on #459
For 1.1.4, let's link to the page from `extensions.md`.

For 1.1.5, I prefer moving the page to the standard docs and making the page on the OCP website a stub with a link to the docs. If we repeat the content then we'd need to make updates in two places if, for example, we refined the profile descriptions or found that it was useful to provide other information on that page. If we link to the pag

[2019-03-25 18:35] jpmckinney commented on #459
`extensions.md` will be gone in the `extensionexplorer` branch, but we can link from where that content moved to (`extensions/index.md`)

Regarding OC4IDS, we named the page "Profiles and guidance" such that "guidance" can cover OC4IDS (to avoid introducing yet another term like "expansion").

[2019-03-25 18:46] dpinedam commented on #548
Sounds a great idea for me.

On Mon, Mar 25, 2019 at 12:18 PM Duncan Dewhurst <notifications@github.com>
wrote:

--
Daniel Pineda

[2019-03-25 19:05] #405 closed, assigned to yolile

[2019-03-25 19:05] #557 closed, assigned to duncandewhurst

[2019-03-25 19:05] #619 closed, assigned to jpmckinney

[2019-03-25 21:07] jpmckinney commented on #548
For context, the PPP Knowledge Lab defines "Management Contracting" as:

Within the discussion, we heard "Contract administration entity", "Contract Administration happens once a contract has been awarded and signed", and, in a question, "the case where a 3rd party is responsible for managing the contract, after signature, on behalf of the public party". It also seems that this code should only be

[2019-03-25 21:26] jpmckinney commented on #459
Keeping issue open to address:

[2019-03-25 21:27] dpinedam commented on #548
The thing is that in real life we have both cases.

One for biger PPP project where third party can administer or manage the
contract (in our case Banks through a trust fund).

Second, when another goverment insititution manage/administer the contract.

This cases should be managed in an unanbiguous way in a single field in the
stantard.

What dou you think about it?

On Mon, Mar 25, 2019 at 3:07

[2019-03-25 21:44] jpmckinney commented on #548
In the second case, is that government institution different from both the buyer and the procuring entity? Can you provide a concrete example?

[2019-03-25 22:07] jpmckinney opened #839 "Replace use of "data package" with "release package or record package""
"Data package" can be confused with https://frictionlessdata.io/specs/data-package/ (on which release packages and record packages are loosely inspired).

[2019-03-26 13:18] #839 closed, assigned to nobody

[2019-03-26 13:36] jpmckinney commented on #811
Needs to be done after deploying 1.1.4.

[2019-03-26 14:32] jpmckinney opened #841 "Use "property" and "field" distinctly and consistently"
"property" should be used only to refer to JSON Schema properties (title, description, codelist, deprecated, etc.). "field" should be used only to refer to OCDS fields (procurementMethod, items, etc.).

While the two terms are interchangeable in general, mixing usage can lead to confusion.

"property" and "properties" only occur on /schema/ pages and in the "description" fields of the release sche

[2019-03-26 15:26] jpmckinney commented on #246
@JachymHercher To answer your question, release ID should be paired with the process ID (`ocid`) to form a unique key. Release IDs are not intended to be globally unique across processes.

[2019-03-26 15:38] #742 closed, assigned to duncandewhurst

[2019-03-26 15:38] #820 closed, assigned to jpmckinney

[2019-03-26 17:00] #673 closed, assigned to jpmckinney

[2019-03-26 17:06] jpmckinney opened #843 "Remove "See issue #245" from schema descriptions"
This is not germane to the description of the field.

[2019-03-26 17:40] jpmckinney opened #844 "Improve documentation on linked release URLs"
record-package-schema.json:

records_reference.md:

After #838, which clarified the set of rules about the uniqueness of release `id` values, the method above can match multiple releases. For this issue, it should be clarified that, from the perspective of a record package, the `ocid` is used to disambiguate matching releases.

We might also want to consider alternative methods of linking to relea

[2019-03-26 18:22] #743 closed, assigned to jpmckinney

[2019-03-26 18:22] #803 closed, assigned to jpmckinney

[2019-03-26 18:25] jpmckinney commented on #714
Closed by #725

[2019-03-26 18:25] #714 closed, assigned to jpmckinney

[2019-03-26 18:26] jpmckinney commented on #687
Closed by #725

[2019-03-26 18:26] #687 closed, assigned to jpmckinney

[2019-03-26 21:05] LindseyAM commented on #395
Echoing @yolile there is some confusion that OCDS does not offer a way to note when a contract is 'completed' because people are not interpreting 'terminated' to mean 'completed'.  We could add 'completed' to the code list and redefine terminated to be more in line with the negative meaning.

[2019-03-27 01:56] jpmckinney commented on #395
'terminated' has to keep its present meaning as that it how it has been implemented, but we can add new codes with more specific meanings in OCDS 1.2.

[2019-03-27 08:27] duncandewhurst commented on #605
In the new documentation we should highlight that publishing release packages (rather than some other package format, e.g. a list of release) is important so that tools that work with records know what format to expect when fetching linked releases.

[2019-03-27 13:37] #843 closed, assigned to nobody

[2019-03-27 14:40] #455 closed, assigned to nobody

[2019-03-27 14:40] #682 closed, assigned to duncandewhurst

[2019-03-28 19:54] jpmckinney commented on #834
The versioned release has no `id` or `date` field, so if we identify use cases for those fields, they will need to be added by the `make_versioned_release_schema.py` script.

[2019-03-28 20:49] jpmckinney opened #846 "Clearly mark documentation pages or sections as normative or non-normative"
Follow-up to #830

This can be, for example, a banner or alert box under the page's top heading. Double-check how W3C indicates normative/non-normative sections of standards' pages.

[2019-03-29 00:29] jpmckinney opened #847 "Unclear rules on uniqueness of record"
At many locations, it's recommended that there be only one record per process. However:

* The records reference page at the same time says that publishers can consider publishing versioned and non-versioned copies of the record.
* If a record is updated each time a release is published, it's likely that old versions exist in e.g. ZIP files prepared on a daily, weekly or monthly basis.
* If a reco

[2019-03-29 08:38] duncandewhurst opened #848 "Release date must be unique within a contracting process"
The merging rules begin with:

But I don't think we state anywhere that two releases under the same `ocid` must not share the same `date` to make this ordering possible.

I suggest adding this uniqueness requirement to the description of `date` in the schema and implementing it as an additional check in the data review tool.

[2019-03-29 14:21] jpmckinney commented on #848
Would 'must' be backwards-compatible, or do we need to relax to 'should' for OCDS 1.2?

Copying that this came up where a publisher "was updating the release date for all releases relating to a contracting process whenever anything changed."

Regarding the latter, that behavior is already blocked by the rule that releases are immutable and must not be changed (without a change in release `id`).

[2019-03-29 14:22] #770 closed, assigned to jpmckinney

[2019-03-29 14:22] #771 closed, assigned to jpmckinney

[2019-03-29 14:22] #798 closed, assigned to jpmckinney

[2019-03-29 18:06] jpmckinney opened #849 "Upgrade docs: Interaction with release immutability and dates"
A publisher ought to be allowed to upgrade their data between OCDS versions. If they do so, we would presumably want the release `id` to remain the same; however, this would mean that there is an exception to a release's immutability.

Furthermore, per #848, they would need to either keep the release `date` values the same, or ensure that the releases have the same chronological order after an upg

[2019-03-29 18:54] jpmckinney opened #850 "Adopt consistent style in field and code descriptions"
The style and apparent audience (e.g. publisher or user) of descriptions in the schema is inconsistent. Compare the `Tender.submissionMethod` field to the 'unsuccessful' code in `awardStatus`.

* [ ] Update schema descriptions for common field types based on the [description templates](https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/schema_style_guide.html#field-and-code-d

[2019-03-29 19:07] jpmckinney opened #851 "Describe openCodelist and codelist schema properties on codelists page"
A question during the norms review was, "Should we include guidance on open and closed codelists in schema descriptions?" I think it's sufficient for the schema to have an `openCodelist` property, but the documentation should explicitly describe this property and the `codelist` property when defining open and closed codelists; right now, they're not even mentioned.

[2019-03-29 19:32] jpmckinney commented on #388
Noting that the stars are mentioned on many pages, but can be easily found by searching for `☆`.

[2019-03-29 21:03] jpmckinney commented on #830
* [x] Write PR to implement norms review in documentation #831
* [x] Write PR to implement norms review in codelists #852
* [x] Write PR to implement norms review in schema #855
* [x] Write PR to copy/move statements into normative sections if the norm only appears in a non-normative sections

[2019-04-01 13:29] jpmckinney opened #853 "Consider a list of all normative statements contained in the schema"
After 1.1.4, we will use the normative keywords consistently (may, should, must, optional, recommended, required), such that it will be much easier to find them all and copy them to one location.

My suspicion is that a single list of norms is too long and out of context to be helpful; we more than likely will need to break it up across sections – at which point we approach the status quo of simpl

[2019-04-01 15:20] jpmckinney opened #854 "Clarify release.date field description"
One publisher was updating the release date for all releases relating to a contracting process whenever anything changed. Other publishers have used it for the date when they generated the release, not when the process was made or first published in their local system. The current description is ambiguous, allowing for the above behaviors:

The field value should be the date on which the informati

[2019-04-02 07:49] duncandewhurst opened #856 "Describe the normative status of non-required fields in the schema"
Currently the [building blocks](http://standard.open-contracting.org/latest/en/getting_started/building_blocks/) page in the getting started section states:

To avoid overfill that statement will come with a caveat of "where applicable" in 1.1.4

In 1.1.5 we should consider how the statement can be featured more prominently (e.g. in the schema reference section) and explained more fully to help us

[2019-04-02 13:02] jpmckinney commented on #856
Agreed – "where applicable" can be unpacked, and in general the [release handling](http://standard.open-contracting.org/latest/en/schema/reference/#release-handling) part of the schema reference page should either come first, or have its own page, as otherwise it's easily forgotten at the bottom of that page.

[2019-04-02 16:31] jpmckinney opened #857 "Add IANA Media Types codelist"
`Document.format` refers to the codelist, but the schema doesn't specify it. We would need a script like the one for the currency codelist.

http://www.iana.org/assignments/media-types/

[2019-04-02 16:44] jpmckinney opened #858 "Add ISO639-1 language codelist"
The language fields allow BCP47 language tags, but we can at least have an open codelist containing the ISO639-1 language codes (which are the recommended values). We would need a script like the one for the currency codelist.

http://www.loc.gov/standards/iso639-2/php/code_list.php

[2019-04-02 17:56] jpmckinney commented on #851
Related to #855, we should furthermore ensure that the codelists documentation is clear on the rules around open and closed codelists (perhaps borrowing the improved language from OC4IDS).

[2019-04-04 00:33] jpmckinney opened #859 "All strings, arrays, objects should have minLength, minItems, minProperties"
If a field is optional, these validation properties are ignored, unless the field is present. OCDS presently has a rule that fields *should not* be empty. This issue is about changing the rule to *must not* be empty, which is backwards-incompatible.

[2019-04-08 22:01] LindseyAM opened #860 "Vendor performance ratings"
Oscar has documented some examples of governments that have put vender performance rating/tracking systems in place in this memo https://docs.google.com/document/d/17MHslJa4osUGss9q7M4ypS3gUS_0QE0GronR-zbmdDs/edit

@yolile @duncandewhurst is this a topic we are seeing demand for from publishers?

@oahernandez can you add some more info on the most important types of information to track/publish ab

[2019-04-09 13:27] jpmckinney commented on #860
@oahernandez More specifically, which pieces of information relevant to vendor performance are made public? I understand that governments often have private, internal feedback and reporting mechanisms, but OCDS is generally not concerned with data that is never made public.

[2019-04-09 15:24] yolile commented on #860
@LindseyAM  In Paraguay DNCP publishes the penalties applied to a provider: https://www.contrataciones.gov.py/buscador/sanciones.html
A penalty could derivate into a disqualification, making the supplier unable to participate in procurement processes.

[2019-04-09 15:27] yolile commented on #860
I'm not sure if this information should be an OCDS extension, I think that is a separate data set with which someone can cross the OCDS data

[2019-04-09 15:40] yolile commented on #860
In Chile, they have a rating for the suppliers: http://webportal.mercadopublico.cl/proveedor/85395500-0?_ga=2.226724637.1029645931.1554823751-500745908.1554823751
and also a flag that indicates if the supplier is enable or not to participate in procurement processes.

In Colombia they publish the list of penalties and fees applied to the suppliers: https://www.datos.gov.co/Gastos-Gubernamentales/M

[2019-04-10 19:04] yolile opened #861 "Tender: Invited Suppliers"
In Paraguay, some tendering process require the Procuring Entity to send invitations to bid to certain suppliers. These invited suppliers can or not make a bid then and become a tenderer. An example can be found here: https://www.contrataciones.gov.py/licitaciones/convocatoria/362337-construccion-polideportivo-9no-etapa-1.html#invitados

To publish this information it is proposed to add an array o

[2019-04-10 19:04] yolile opened #1245 "Bids: Add support for disclosing notified suppliers"
In Paraguay, some tendering process require the Procuring Entity to send invitations to bid to certain suppliers. These invited suppliers can or not make a bid then and become a tenderer. An example can be found here: https://www.contrataciones.gov.py/licitaciones/convocatoria/362337-construccion-polideportivo-9no-etapa-1.html#invitados

To publish this information it is proposed to add an array o

[2019-04-12 15:28] jpmckinney opened #862 "Make it easier for implementers to know what's changed"
The types of changes to indicate might include: "add", "remove", "deprecate", or otherwise "change". This might involve adding version numbers to +the documentation of+ codes and fields ~~, as new columns or properties~~.  We might, more broadly, consider other improvements to how we communicate changes.

[Python's documentation](https://docs.python.org/3.7/library/csv.html) has, for example, "New

[2019-04-12 15:34] jpmckinney opened #863 "Guidance: Choosing codelists and validation formats"
There are many fields for which codelists can be used, but which OCDS doesn't control, as the choice of codelist is a local decision (e.g. regions, localities).

There are also many fields for which validation formats can be checked by regular expressions or software libraries (e.g. phone numbers, postal codes).

Other suggestions can be around character limits for certain fields (e.g. numeric val

[2019-04-13 02:14] jpmckinney commented on #440
Related: http://openeu.api-docs.openprocurement.org/en/latest/standard/qualification.html

[2019-04-23 14:31] yolile commented on #764
In Paraguay DNCP too

[2019-04-23 15:37] jpmckinney opened #864 "Remove discouragement of UNSPSC"
i.e. remove "Machine-readable metadata for UNSPSC is not provided as open data; publishers are encouraged to consider alternative classification schemes that do provide open data lookup tables wherever possible."

There are other schemes/codelists/formats that we list that aren't open data either (e.g. anything ISO), yet they don't have this disclaimer.

[2019-04-23 15:57] timgdavies commented on #864
There may be a relevant difference from the use-case perspective here between classifications and other codelist.

Although most ISO codelists are not formally openly licensed:

* (a) in practice they are accessible / usable without paying for the codelist;
* (b) their inclusion in a dataset does not generally lead to that dataset being provided under a non-open license (not sure of the exact lega

[2019-04-23 16:46] jpmckinney commented on #864
We can certainly check (b), though I suspect that the answer is the same as for ISO and others, who don't aggressively pursue publishers about such publication. If so, then we can instead encourage publishers to include titles/descriptions of codes, rather than discourage UNSPSC entirely.

Regarding (a), there is a free PDF at http://www.unspsc.org/codeset-downloads A quick search for a snippet fr

[2019-04-24 00:03] jpmckinney commented on #689
@PaulBoroday I consider the approach used by the metrics extensions to be too generic and indirect for something as basic as an item's quantity. The second option above involves a very minimal change, and only in the case where the quantity is an estimate.

[2019-04-24 01:02] jpmckinney commented on #691
For other readers: CA = contracting authority (buyer), EO = economic operator (supplier), PE = procuring entity. FYI, re: requirements, here's a [real example](https://ted.europa.eu/udl?uri=TED:NOTICE:145340-2019:TEXT:EN:HTML&WT.mc_id=RSS-Feed&WT.rss_f=Mining+and+Ores&WT.rss_a=145340-2019&WT.rss_ev=a) of "option for 1 000 litres containers".

@PaulBoroday Can you provide a link to the regulation y

[2019-04-24 14:10] otravers commented on #864
Yes, I have seen several OCDS publishers release their version of UNSPSC on the public internet, for instance Colombia. I know that copyright is weakened if you don't pursue its enforcement, that said it would indeed be great if OCP could reach out to organisations such as UNDP so that the use of their standards by publishers doesn't become a sort of poison pill in OCDS datasets.

Otherwise using

[2019-04-24 14:32] jpmckinney commented on #864
Indeed. As a separate issue, OCP can consider guidance on what IP issues to consider when licensing OCDS data and related documents (e.g. IP in linked documents or non-open codelists). I consider that issue distinct from compliance with the standard.

[2019-04-30 17:24] jpmckinney commented on #862
See IATI's migration documentation: http://reference.iatistandard.org/203/upgrades/integer-upgrade-to-2-01/migrating/

[2019-04-30 17:26] jpmckinney commented on #832
As part of this, can compare against IATI upgrade process: http://reference.iatistandard.org/203/upgrades/

[2019-04-30 17:31] jpmckinney opened #865 "Public communications around minor/major upgrade"
Consider similar publicity as IATI 2.03 upgrade: http://reference.iatistandard.org/203/upgrades/decimal-upgrade-to-2-03/

* clear timetable
* [discussion topics per issue](http://reference.iatistandard.org/203/upgrades/decimal-upgrade-to-2-03/2-03-changes/), if Discourse is used

[2019-04-30 17:40] jpmckinney commented on #524
As part of this issue, we can add a codelist for ISO-3166-1 alpha-2.

[2019-05-01 14:55] jpmckinney opened #866 "Clarify definition of contracting process"
## Problem

A contracting process is described in terms of an 'initiation process' on http://standard.open-contracting.org/latest/en/getting_started/contracting_process/#defining-a-contracting-process:

However, we never define what an 'initiation process' is, which makes the definition ambiguous.

The only [example](http://standard.open-contracting.org/latest/en/implementation/related_processes/)

[2019-05-01 16:40] jpmckinney commented on #1245
So, globally, suppliers can be invited in a few ways:

* pre-qualification ('selective', where tenderers respond with a request to participate, are qualified, and then qualified tenderers are invited to bid, i.e. the ultimate test is pass/fail)
* pre-selection (also 'selective', but where qualified bidders are furthermore shortlisted, i.e. the ultimate test is a ranking with a cut-off)
* direct so

[2019-05-02 18:22] jpmckinney commented on #819
Noting that this will be removed in 1.1.4 to eliminate misleading content (i.e. suggesting 1.1 hasn't yet occurred), and can be considered for re-integration into the history page in 1.1.5:

----

## Overview

OCDS was initially developed through a year long iterative process, resulting in version 1.0 in November 2014. Over 2015/16 many organizations have been piloting use of the standard.

In 201

[2019-05-02 19:13] jpmckinney commented on #865
From OCDS 1.1 Upgrade:

Resources
* [Overview slides](https://docs.google.com/presentation/d/13x3dROHQ0QdEQsdZDkRoU0NVmN1447ES1lzeeNFcIlg/pub?start=false&loop=false&delayms=3000&slide=id.g158cec7915_4_34)
* [Peer review changes](https://docs.google.com/spreadsheets/d/1x1WG2-7E134OJ6ceWV3Sn5okhn4ARIeVYI8D0ALBLHA/edit#gid=92056586)
* [Upgrade summary](https://www.open-contracting.org/resources/ocds-

[2019-05-03 15:25] yolile commented on #1245
In Paraguay, the invitation doesnt implies that:
 - the invited supplier must make a bid
 - others suppliers cannot make a bid

So the process is an open procurement but, just to be sure that at least some publishers knows that there is a tender, the procuring entity sends an invitation to some suppliers, but any supplier can make a bid.

[2019-05-03 15:35] jpmckinney commented on #1245
Aha, I didn't realize that the invitation didn't imply that "other suppliers cannot make a bid". I was only familiar with cases where, if specific suppliers are being invited/solicited, it's because the procedure is selected or limited.

To avoid confusion, we can consider something like "notifiedSuppliers" which is more neutral, and captures the semantics of a procuring entity notifying potential

[2019-05-03 16:03] yolile commented on #1245
I agree with notifiedSuppliers !

[2019-05-03 20:12] jpmckinney commented on #1245
Great! In that case, the proposal sounds good to me.

[2019-05-07 23:28] jpmckinney opened #868 "Strengthen some normative statements in schema"
MAY -> SHOULD

SHOULD -> MUST

Change second clause to either SHOULD or MUST statement.

Follow-up to #855

[2019-05-08 13:16] jpmckinney opened #870 "documentType: Deprecate contractSchedule in favor of contractAnnexe"
'contractSchedule' was originally:

A description was added in #347 (1.1.0)

Then there was discussion in https://github.com/open-contracting/standard/issues/386#issuecomment-289475615 that "schedule" should mean "annexe" not "timetable".

So, the description was updated in #473 (1.1.1):

But now, we have two codes for the same thing. 'contractAnnexe' is:

[2019-05-08 21:42] jpmckinney commented on #325
Noting that, with respect to semantics, the release-level publisher should be the original publisher, and  should be immutable like the other fields in the release.

[2019-05-09 15:28] duncandewhurst opened #871 "Featuring bulk spreadsheet and JSON downloads more prominently in the standard documentation"
Many users ultimately wish to work with OCDS data in spreadsheet format and struggle with downloading JSON data from an API and combining it into a single release package which can be converted into spreadsheet format.

Providing bulk spreadsheet downloads at source can help to address this need, so we should consider how to better emphasise this in the OCDS documentation.

Separately, we can also

[2019-05-09 15:56] jpmckinney commented on #871
Some considerations are:

1. Many of the same users, in my experience, don't want / can't use spreadsheets with 20+ tabs
1. At the same time, the same users don't want / can't use spreadsheets with 100s of columns
1. Excel can have at most [a million rows](https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3)

Regarding Excel limitations, pu

[2019-05-09 16:29] jpmckinney commented on #871
An alternative is for the spreadsheets to not contain all the OCDS data, for example: only compiled releases, containing only prioritized fields (determined in some way). This won't satisfy all users, but I think it will satisfy more than spreadsheets with all the data.

[2019-05-11 02:45] jpmckinney opened #872 "Remove suggestion of using X prefixes"
On schema/codelists, like:

https://tools.ietf.org/html/rfc6648 explains how HTTP, FTP, email, SIP, etc. have moved away from this pattern for the reasons in https://tools.ietf.org/html/rfc6648#appendix-B

[2019-05-13 21:07] jpmckinney commented on #819
It's removed in 1.1.4. Moving to 1.1.5 milestone in terms of integrating into history section, if needed.

[2019-05-13 21:44] #830 closed, assigned to nobody

[2019-05-14 18:31] PaulBoroday commented on #691
@jpmckinney
It’s EU24, articles 32, 72

[2019-05-22 11:48] duncandewhurst commented on #784
The [French legislation](https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000037282994&dateTexte=&categorieLien=id) which defines the format in which open contracting data should be published includes the following field relevant to this issue:

| Field (FR) | Field (EN) | Codelist (FR) | Codelist (EN) |
| --- | --- | --- | --- |
| Nature du marché | Nature of contract | Marché, Marc

[2019-05-23 21:18] jpmckinney commented on #588
@Bjwebb Can you transfer https://github.com/Bjwebb/ocds-pdf to the open-contracting organization?

You might need to transfer it to opendataservices and then @robredpath can transfer it to OCP.

[2019-05-28 08:50] Bjwebb commented on #588
Looks like I can transfer it directly, which I've done.

[2019-05-29 23:46] jpmckinney opened #874 "Final steps to deploy 1.1.4"
* [x] [Push and pull updated translations](https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/deployment/#push-and-pull-updated-translations)
* [x] Add date of release to changelog when merging
* [x] Merge the development branch onto the live branch
* [x] Create a tagged release
* [x] [Build and deploy](https://ocds-standard-development-handbook.readthedocs.io/e

[2019-05-31 16:54] ColinMaudry commented on #407
I wonder if this field shouldn't take place in the `contract` rather than in the `award`.

To summarize my dilemna: the variability is decided at award stage, but it's about the value of the contract, not the value of the award.

I think the award value never change by definition, since it's a punctual decision, it doesn't "live" like the contract does.

Thoughts? @jpmckinney @chrisalexsmith

[2019-05-31 17:53] ColinMaudry commented on #407
Alpha 0.1.0 is out! https://github.com/ColinMaudry/value-variability-extension

Based on the award for now.

Edit: the data sample is buggy, but you release-schema.json and the CSV code list give a good idea of what it does.

[2019-05-31 18:00] jpmckinney commented on #407
I think the variability of the contract value is part of the award decision, so if an Award object is meant to be an award decision, then it makes sense to have it there.

[2019-06-06 14:53] ghost opened #876 "Can we put 1.1.4 schema on http://standard.open-contracting.org/schema/1__1__4/ now?"
We are trying to test software in advance of the official release of 1.1.4 so that we can find and fix any problems early.

We were using the schema at https://raw.githubusercontent.com/open-contracting/standard/1.1.4-dev/standard/schema/X.json to do that.

However we have hit a problem - those schema files have refs to http://standard.open-contracting.org/schema/1__1__4/release-schema.json which

[2019-06-06 14:55] jpmckinney commented on #876
Yes, please take the files from the `1.1.4-dev` branch. They will not change between now and being merged into the `1.1` branch.

[2019-06-06 14:55] #876 closed, assigned to jpmckinney

[2019-06-06 14:56] jpmckinney commented on #876
Related: https://github.com/OpenDataServices/cove/issues/1177

[2019-06-06 14:57] ghost commented on #876
Just seen earlier comment, sorry! Thanks

[2019-06-10 18:01] martinszy commented on #420
Hello, I'm coming from the 1.1.4 announcement from a month ago I just read. And scrolling trough the list of issues I see that publisher is going to get a refresh and I think this might be the right spot to raise this:
We are a CSO re-publisher, we convert older contracts to OCDS and publish them, along with newer ones, we are also in the process of merging several versions of the same contract fr

[2019-06-10 18:20] jpmckinney commented on #420
For now, we recommend using [this extension](https://extensions.open-contracting.org/en/extensions/releasePublisher/master/), which adds a `publisher` block on the release. Then:

1. For a release originally published by another publisher, add a `publisher` block to their release and copy the `publisher` block from their package. Make no other changes to their release.
1. For a release for which y

[2019-06-11 07:37] pindec opened #878 "HTTPS"
Noticed that [https://standard.open-contracting.org](https://standard.open-contracting.org) gives ERR_CONNECTION_REFUSED.

Should we consider providing the standard over https? Or at least provide a better error message?

[2019-06-11 13:25] jpmckinney commented on #878
@odscjames or @robredpath: It should be fairly quick to add a Let's Encrypt cert?

[2019-06-11 13:38] ghost commented on #878
Yes, we even have salt scripts that make this easy.

We even discussed this previously; our plan was to put on the cert in "serve both" mode at first, http and https. We would then put a warning out on the community list and leave it a month, to make sure there were no weird edge cases. We would then switch it so any http traffic was redirected to https. Does that sound good?

However I did actual

[2019-06-11 14:15] jpmckinney commented on #878
It was listed as a bullet in the planning section of the sprint document, so it'd be good to figure out over this summer.

[2019-06-11 16:16] ghost commented on #878
Ok. To start with, I have made the dev site serve both http and https. I don't think there is any harm in this; if people find the https version but find a problem, well, it is the dev site. And this is a test site where we can try some things.

[2019-06-11 16:45] jpmckinney commented on #878
Not sure if related but URLs like http://standard.open-contracting.org/1.1-dev/en/ (proxy from live) 404 now, though http://dev.standard.open-contracting.org/1.1-dev/en/ (dev) loads.

[2019-06-11 16:56] ghost commented on #878
It was because of SSL - just adding SSL messes up the host names proxing relies on. Turned SSL off for now.

[2019-06-11 17:06] ghost opened #879 "Favicon redirects"
While watching apache logs to check another problem, I just noticed

http://standard.open-contracting.org/favicon.ico

redirects to

http://standard.open-contracting.org/favicon.ico/en

[2019-06-12 13:01] yolile commented on #621
This extension can be reused in the case of the National Directorate of Public Procurement (DNCP) in Paraguay, but in this case only the date and place of the clarification meeting is available. Could the "address" field be added to the object "clarificationMeeting" as an optional data so that this extension can be used in Paraguay?

[2019-06-12 14:56] jpmckinney commented on #621
I would instead propose drafting a smaller extension with just the date and place, since some of the other fields in the extension had questions/issues above.

Regarding the place, is that available as a structured address in Paraguay, or only as free text? In most jurisdictions I came across earlier, it seemed like the place was free-text.

[2019-06-12 15:50] yolile commented on #621
It is a free text, normally fill in with the street address, so the new reduced extension could be modeled as

[code]

In Paraguay there is only one clarification meeting per process, but to support other publications it could be an array. And the same for the address, is just a free text but in case there is another publisher that has more structured address we can keep the address block

[2019-06-13 14:42] jpmckinney commented on #621
Good idea! So the extension readme can recommend using `streetAddress` if only free-text is available.

[2019-06-14 22:04] jpmckinney commented on #857
This would have to start as an open codelist in 1.2.0, then switch to a closed codelist in 2.0.0.

[2019-06-14 22:09] jpmckinney opened #881 "Add additional schema validation"
* `email`: `"format": "email"`
* `unit.value->amount`: `"minimum": 0` (requires a new definition instead of Value)
* `quantity`: `"minimum": 0`
* `durationInDays`: `"minimum": 0`
* `numberOfTenderers`: `"minimum": 0`

If different definitions are used for each documents array, then there can be separate codelists for each, instead of having additional logic around the Section column.

[2019-06-17 22:01] antonioherrera commented on #621
That's a very important issue that I think we should discuss apart. I really believe that `OraganizationReference` and the object `Organization ` doesn't match the current descripción of the Parties array.

I understand the `Parties` section as the place to capture all the data related to the whole participants (individuals or organizations) involved with the contracting process. Nevertheless, it

[2019-06-19 14:06] ghost commented on #878
Now we have testing sites, I can look into this.

In the Apache config for Live, we need to set ProxyPreserveHost to off. Loading a file in the review tool works, looking at something that proxies to the staging server works.

However, this causes a bug with language switching in the review tool. If you try and switch language, you are redirected to the home page. If you then select the review too

[2019-06-19 15:52] ghost commented on #878
That pull request is now live and the language switching bug seems fine, with ProxyPreserveHost off.

Next is to turn ProxyPreserveHost off and test again carefully on testing site.

If happy, change ProxyPreserveHost on live site.

[2019-06-20 13:38] jpmckinney opened #882 "Docson doesn't consistently display deprecation notices"
e.g. `identifier` and `additionalIdentifiers` in OrganizationReference on http://standard.open-contracting.org/latest/en/schema/release/

[2019-06-20 14:14] ghost commented on #878
Did some more testing with @pindec's help

* Search doesn't work - however looking at the code, and how the search server uses the base_url to find results I think this is expected and is nothing to do with ProxyPreserveHost.
* The Share link in the data review tool has the wrong hostname. I'll look into that.

[2019-06-20 15:32] ghost commented on #878
Turned on USE_X_FORWARDED_HOST in OCDS CoVE, Share link now works. I'll have a final check today, and first thing tomorrow I may turn off ProxyPreserveHost on the live site.

[2019-06-20 19:52] jpmckinney opened #883 "Add a class for natural persons"
## Problem

Presently, entries in the `parties` array are only `Organization` objects:

[code]

`Organization` has a `description` of "A party (organization)". In other words, all parties must be organizations, at present, according to the schema. Many of the extensions to this object add organization-specific fields that don't make sense for people.

**If any natural persons belong in the `partie

[2019-06-20 20:23] jpmckinney commented on #621
@antonioherrera I have created #883 to discuss that issue, and made a proposal.

[2019-06-21 07:20] ghost commented on #878
I have now turned off ProxyPreserveHost on the live site. Let us know if you see any problems.

[2019-06-21 10:59] JachymHercher commented on #205
In the European Commission, we are also considering ways to help publish information about complaints. (We refer to complaints as "review requests", which is closer to the terminology of the [Review Directive](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:01989L0665-20140417)). Please find below our first draft proposal. I would be happy for any feedback.

General observations about ou

[2019-06-21 19:43] yolile commented on #751
the extension is drafted here: https://gitlab.com/dncp-opendata/ocds_item_attributes_extension/tree/master

cc @duncandewhurst

[2019-06-24 15:36] ColinMaudry commented on #739
What's the status of this bright suggestion? Was an extension made?

Thanks!

[2019-06-24 16:31] ColinMaudry commented on #723
The French essential procurement data standard specifies the contract length in months. So far, to convert the data to OCDS, we multiply number of months by 30.5.

[2019-06-25 11:11] ghost commented on #878
Cove server is now on SSL, and all traffic from live server to Cove server goes over SSL

[2019-06-25 11:34] ghost commented on #878
Staging server is now on SSL, and all traffic from live server to staging server goes over SSL

[2019-06-25 12:01] ghost commented on #878
The real live site is now available on both HTTP and HTTPS!

Search is broken on HTTPS but not HTTP, looking at that.

[2019-06-25 12:35] ghost commented on #878
https://github.com/OpenDataServices/standard-search/pull/4

[2019-06-25 13:55] ghost commented on #878
That should be search fixed; I'll double check some other things now. SSL is available on staging and test sites too.

We would suggest that we post to the discussion list with something like the below. If no problems are reported in a month, then we'll turn on HTTP redirecting to HTTPS.

SUBJECT: Standard site now available with SSL! Please check for problems.

We want to add SSL to the standard

[2019-06-25 15:43] jpmckinney commented on #878
Sent: https://groups.google.com/a/open-contracting.org/d/topic/standard-discuss/3zOUfY1LcyQ/discussion

[2019-06-25 16:47] jpmckinney commented on #878
I've updated all URLs in all our tools to use the `https://standard…` URL (except CoVE and Flatten Tool – and the URLs in Kingfisher, which were only in tests or docs). I think the last thing to do is redirect from HTTP to HTTPS, for which I created https://github.com/OpenDataServices/opendataservices-deploy/issues/77

[2019-06-25 16:47] #878 closed, assigned to nobody

[2019-06-25 20:12] jpmckinney commented on #874
@robredpath I forget who we said would be available to deploy OCDS 1.1.4, so assigning to you in first instance. I've done all the checked tasks above. To do are the steps linked from 'Build and deploy'.

[2019-06-26 09:27] robredpath commented on #874
@kindly is going to do the 'Build and deploy' part of the list above
@odscjames will then release the update to CoVE that's required to work with 1.1.4, and carry out the 'Deploy redirects' step.

Do you need anything from us for the other steps?

[2019-06-26 10:52] ghost commented on #874
Build and Deploy and redirects done

[2019-06-26 12:46] jpmckinney opened #885 "Rename Validator to Data Review Tool"

[2019-06-26 12:51] #811 closed, assigned to nobody

[2019-06-26 12:55] jpmckinney commented on #874
Great, thanks! The remaining issues are in the CRM, so closing this issue.

[2019-06-26 12:55] #874 closed, assigned to robredpath

[2019-06-26 14:05] ghost commented on #874
Cove and Kingfisher Deployed with 1.1.4

[2019-06-28 18:50] jpmckinney commented on #819
While reviewing this page, we can also compare to 360Giving, which has much the same structure and content: http://standard.threesixtygiving.org/en/latest/governance/

[2019-06-28 19:39] jpmckinney commented on #739
There is no extension yet.

The proposal is to offer a more structured version of the [Address object](http://standard.open-contracting.org/latest/en/schema/reference/#address). The current object has string fields for each address component. The proposal would have object fields for each address component, such that a scheme, ID, title and URL can be provided for each.

Some unanswered questions/

[2019-06-28 21:31] yolile commented on #621
drafted extension: https://gitlab.com/dncp-opendata/ocds_clarification_meetings_extension

cc @duncandewhurst

[2019-06-28 21:39] yolile opened #887 "Example: Investment Project Identifier"
In Paraguay and in other countries, there are, as infraestructure project like CoST, another kind of projects, investment project, which can be linked to its corresponding contracts in the planning level of the contracting process.

To make this link, its proposed to add the name, id and uri of the project at the planning level as:

[code]

REF: http://mapainversionessnip.economia.gov.py

The exte

[2019-06-28 21:40] yolile commented on #794
Paraguay will also publish their data using planning/items. A drafted extension for that is available here: https://gitlab.com/dncp-opendata/ocds_planning_items_extension

cc @duncandewhurst

[2019-06-28 21:50] yolile opened #888 "Example: Simultaneous supply / Cascade framework agreement"
In Paraguay, the lots have their own information, like:
- If the lots allows simultaneous Supply of the items
- the delivery address of the lot
- the minimum value of the lot
- if the lot is part of an open contract and what type of open contract (open amounts or open quantites )

So, it is proposed to add a "details" field, as the one that exist for parties, to add all these details about the lot

[2019-07-01 15:11] PaulBoroday commented on #739
@jpmckinney

- The primary benefit and the case is machine-readable way to provide geographical sets. In real life this information is on the second place of the rating of sensitivity - right after CPV.  Even simple cross-border analytics - it would be match more easier to analyze "UA" from Prozorro and "UA" from MTender rather then "Україна" і "Ucraina" from same sources.
- Im not sure if it make

[2019-07-01 15:34] PaulBoroday commented on #883
Hey!
In MTender's contracts we are using the following approach:

[code]
As you can see we are indicating business function for each disclosed person. The structure description is following:

- type - is a code of the function taken from the codelist and used for the contract life-cycle implementation
- classification - basically classification of the role according to [ISCO-8](http://www.ilo.org/

[2019-07-01 19:53] yolile commented on #1245
Drafted extension here: https://gitlab.com/dncp-opendata/ocds_tender_notifiedsuppliers_extension

[2019-07-02 18:49] PaulBoroday commented on #887
@yolile why not [Budgets and Projects](https://extensions.open-contracting.org/en/extensions/budget_project/master/)? ;)

[2019-07-02 19:03] yolile commented on #887
@PaulBoroday Because planning.project is already being used tho map infrastructure projects in [OC4IDS](http://standard.open-contracting.org/infrastructure/latest/en/cost/#mapping-to-ids-and-from-ocds)

[2019-07-02 19:56] PaulBoroday commented on #887
@yolile  I see... You mean that you need to cover both: CoST project and investment project under the same release. And this 'investment' project is about the project through which this contracting process is funded, isn't it? For this needs, we are using the regular OCDS feature - [planning.budget.project](http://standard.open-contracting.org/latest/en/schema/reference/#budget) + projectID+uri. D

[2019-07-05 15:50] LindseyAM commented on #711
Which of the OCDS publishers specify women owned or small businesses?

Hera is leading some upcoming research about empowering women to participate in public procurement through open contracting. It would be great to understand which of our partners are reporting whether women owned or women led businesses are participating as bidders.

cc @yolile @pindec @herahussain

[2019-07-08 13:03] jpmckinney commented on #588
![](https://github.trello.services/images/mini-trello-icon.png) [OCDS as PDF](https://trello.com/c/8pz5h4LH/30-ocds-as-pdf)

[2019-07-08 13:27] jpmckinney commented on #588
@LindseyAM wrote:

We have a script to generate a PDF from the documentation. I anticipate that it will continue to work without changes. If we make significant changes to the UI, I think we just need to remember to make corresponding changes to the print stylesheet. In any case, the script should not be difficult to update.

[2019-07-08 14:12] robredpath commented on #588
@jpmckinney I recall that @Bjwebb had some concerns about the neatness and presentation of the PDF - that although it worked, it wasn't as nicely presented as if it had been designed as a paper document. Are we happy with the presentation that the script produces? If so, is the outstanding work just to automate it into the build process and link to it?

[2019-07-08 15:57] jpmckinney commented on #588
I think we need to assess the demand for the PDF. At present, it seems to be fairly infrequent, which makes it lower priority. For now, since the presentation has issues, we can share it in response to an inquiry. In terms of presentation, I think the items in this earlier comment are still outstanding: https://github.com/open-contracting/standard/issues/588#issuecomment-346585536 Once the present

[2019-07-08 17:31] jpmckinney commented on #819
While splitting the normative from the non-normative content of the governance page, we can also add the names of the members of the governance group to the non-normative content (CRM issue 4842).

[2019-07-08 18:51] jpmckinney commented on #711
This is being worked on in CRM issue 4882, and this issue will be updated with an answer when ready.

[2019-07-09 22:08] jpmckinney commented on #588
Closing in favor of https://github.com/open-contracting/ocds-pdf/issues/1

[2019-07-09 22:08] #588 closed, assigned to Bjwebb

[2019-07-10 20:49] jpmckinney commented on #883
Very useful, thank you! I will review that extension when I have a chance.

For now, I think `people` would be preferred to `persons`.

[2019-07-10 21:04] jpmckinney commented on #887
@yolile @duncandewhurst Let me know if I remember correctly:

- `planning.project` infrastructure project [as defined here](http://standard.open-contracting.org/infrastructure/latest/en/projects/#what-is-a-project) (e.g. construction of an overpass)
- `planning.budget.project` a larger programme of work, as it appears in a budget, which can have many infrastructure projects (e.g. the construction

[2019-07-10 21:05] jpmckinney commented on #887
Regarding this issue, what are the other jurisdictions in which there are investment projects (that are distinct from budget projects)?

[2019-07-11 07:34] duncandewhurst commented on #887
Here's the example from @juanpane on the different types of project in Paraguay:

[2019-07-11 12:27] jpmckinney commented on #887
In that example, it seems like the budget project and investment project are the same project (conceptually), but the project is given a different ID and a different name in the two systems (SNIP and budget).

Is that the case for all investment projects? @yolile Can you find an example where they are not the same?

[2019-07-11 15:56] jpmckinney commented on #784
In the EU, the [proposal](https://github.com/eForms/eForms/issues/251#issuecomment-475255962) is to have a boolean to indicate that "The contract is awarded within a framework agreement". This would be for call-offs, mini-competitions, etc. It can also be used in the cases of:

* purchase orders (to distinguish actual delivery of goods from a contract setting up the relationship)
* dynamic purchas

[2019-07-11 15:59] jpmckinney commented on #440
Related: https://github.com/open-contracting/standard/issues/784#issuecomment-510545905

[2019-07-11 16:02] jpmckinney commented on #396
Having learned more about how these processes work, I reverse my above position; purchase orders and catalog purchases are part of the same contracting process and should therefore be disclosed under the same OCID.

See https://github.com/open-contracting/standard/issues/784#issuecomment-510545905

[2019-07-11 16:08] jpmckinney commented on #711
Dhangadhi has `parties/details/femaleChaired`. Colombia intends to publish gender data for suppliers. Paraguay intends to publish SME status of suppliers.

[2019-07-11 16:45] jpmckinney commented on #888
I recommend putting the fields directly on the `Lot` object.

* What does "simultaneous supply of the items" mean?
* "the delivery address of the lot": Is it not possible to put this on the item using the location extension, and to then relate the item to the lot with `relatedLot`?
* "the minimum value of the lot": Instead, copy the `tender.minValue` field onto the `Lot` object, but replace "procu

[2019-07-11 16:50] jpmckinney opened #891 "Merge Lots extension"
## Discussion

In retrospect, it would have been better to have lots in OCDS (not in an extension), and to always have at least one lot in every process. For example, in the EU, for eForms and the e-Procurement Ontology, the proposal is that, even if the procedure is not divided into lots, there will still be a single, virtual lot.

The advantage is that it makes analysis identical whether the pro

[2019-07-11 19:24] PaulBoroday commented on #396
@jpmckinney just one practical question here (generally sounds great): let's assume we have eCatalogue where 50 positions are presented and covered by offers from 100 suppliers (quite a possible situation for laptops, for example). And during the catalogue's lifecycle, we will have like 2-3K of purchase orders or more - each as a separate 'contract' with own lifecycle of implementation (short one

[2019-07-11 20:31] jpmckinney commented on #396
Yes, I'm not sure of the right balance. Having one large JSON document might be harder to work with, whereas having many thousands of small JSON documents might be easier to work with (I'm not sure if this is true for all users). But if the large document better represents reality, then I think it's the right approach, and we should instead look into how to make the data easier to use.

If we proc

[2019-07-15 12:53] PaulBoroday commented on #396
Things here depends on what is considered as “contract setting up the relationship”. If for FAs it’s more or less clear, for DPSs and especially for eCatalogues, where usually number of categories (nodes) described for some general CPV-code, it is not...

For example we have an eCatalogue of “machines for processing with data” and 3 nodes included: notebooks, mainframes, desktops. For each node we

[2019-07-16 15:49] LindseyAM commented on #871
Thanks James.

Honduras is nice because they seem to offer both JSON and CSV bulk download options. UK is so confusing if you don't know how to use APIs.

It would be interesting to document how our current publishers are serving up their data and what features make it more or less beneficial. Not for all publishers necessarily but perhaps to highlight 'good practice'

Curious if @yolile & @romifz

[2019-07-16 19:58] LindseyAM commented on #711
Thanks James! Sounds like Colombia and Paraguay would be good places to include in our gender research project and possibly Nepal too if we want to include a more LDC context @herahussain

[2019-07-17 14:18] yolile commented on #887
@jpmckinney An Investment Project can have multiple budget projects because an investment project can last for years:

Year: 2013
Program code: 1
Program name: 001 - ADMINISTRACION DE OBRAS PÚBLICAS
Sub-program code: 1
Sub program nane: 1 - CONSERVACION Y MANT. DE OBRAS VIALES
Project code: 2
Project name: 002-MEJ.,GESTION Y MANT. DE LA RED VIAL DEL PY. (BIRF 7406 PA)

So for the next year, the ye

[2019-07-17 14:42] yolile commented on #888
Yes, but the information will be the same/duplicate for all the items in the lot.

Yes, sure

The definitions of the simultaneous supply and open contract can be found here: https://www.contrataciones.gov.py/documentos/download/marco-legal/12760
at the article 35 and 36 of the Decree Nº 21.909/2003 of the Public procurement law (page 21 and 22)

This system will be applicable when it is convenient

[2019-07-17 15:00] yolile commented on #871
@jpmckinney another solution could be that the publishers, as Honduras did, publish the complete excel files for year and then the users just remove the columns and filter the rows that they dont want to use.

@LindseyAM  I think that maybe we can indicate the different uses that the data can have and on that recommend the publication options, something like:
- Process and use the  data througth c

[2019-07-17 15:57] romifz commented on #871
I think James' ideas are really useful and we could include the compiled releases into Excel/CSV option as a recommendation for publishers (and it shouldn't be difficult to implement for most of them). I even think that removing historical data may be beneficial for users that may only want to do basic analysis/calculate basic statistics on data.

Also, Honduras Excel/CSV publication works because

[2019-07-17 16:05] yolile commented on #871
I think that it depends, again, on the use case. Some users could want to use the historical data to find the differences in the amount, date, etc on a process in time. And other just do the basic analysis. So we can have the recommendation again mention what it is useful for what.

[2019-07-17 18:54] jpmckinney commented on #887
Great, thanks! So updating my earlier comment:

- `planning.project` (from the Budget and Projects extension) "can be used to describe the relationship between this contracting process and a project or programme of work." If using OC4IDS, according to [its documentation](http://standard.open-contracting.org/infrastructure/latest/en/cost/#project-identification), it ought to identify an infrastruct

[2019-07-17 18:59] jpmckinney commented on #887
In terms of the choice of term for "investment project", most results that I find have to do with financial investment projects, i.e. where the primary goal is income generation ([example](http://www.businessdictionary.com/definition/investment-project.html)). For the term to be cross-jurisdictional, I think we need to explore other options/translations.

[2019-07-17 20:26] jpmckinney commented on #871
@LindseyAM wrote:

The problem isn't that we don't know what is good practice; we already have [our own guidance on bulk downloads](http://standard.open-contracting.org/latest/en/implementation/hosting/#bulk-downloads), and there is much more out there about open data bulk downloads in general that we can integrate or link to. The problem is that many publishers don't follow our guidance or the gu

[2019-07-17 21:18] LindseyAM commented on #871
Thanks! Just to clarify: when I was musing on highlighting which of OCDS publishers are doing good practice, it wasn't so that we would know what good practice is, it was so that we could call out good and bad practice in our publishers -- but acknowledge that the standard documentation isn't the place to do that so I was probably musing in the wrong place.

[2019-07-17 21:41] jpmckinney commented on #871
We can provide examples in the guidance part of the documentation. There's a risk that links break, etc. but if we arrive at our desired destination of being able to update guidance in quick iterations, then that risk shouldn't be an issue.

[2019-07-17 22:07] juanpane opened #892 "Add tender.datePublished field"
### The problem

Many countries have the information on when the tender was published. We are currently working specifically with Honduras and Paraguay, and both countries have this information available for publishing.

Having this information in a easy way to access it can have many benefits, for instance, to be able to compute some indicators that will say how many days a potential bidder has t

[2019-07-17 22:13] jpmckinney commented on #892
Thanks! I've scheduled it for inclusion in OCDS 1.2.0.

[2019-07-22 23:27] jpmckinney commented on #888
Hmm, in other jurisdictions it's possible for a lot to have multiple items, each of which are delivered to different places (or some to one location and others to a second location). I understand that this duplication is not efficient, but it avoids having to look in two places for the same information, or to have to implement logic like "if an item has a location, use it, otherwise use the lot's

[2019-07-23 20:21] jpmckinney opened #893 "Discussion: Move other blocks to top-level, similar to parties"
In https://github.com/open-contracting/standard/issues/888#issuecomment-513992335, we have a case where multiple items have the same delivery location. If this repetition is acceptable, there is no action here. Otherwise, we can consider moving locations to the top-level and using references, much like organization references to the top-level `parties` array.

There may be other objects that are f

[2019-07-23 20:22] jpmckinney commented on #888
Regarding the repetition, I created a broader issue: #893

[2019-07-24 11:34] duncandewhurst commented on #707
The readme for the documentation extension also includes some guidance on the use of fields in the core standard, which will be removed. Copying here for consideration for inclusion in OCDS core:

[2019-07-25 09:30] pindec opened #894 "Link to release schema from Release Package Schema.releases is broken"
In the [Release Package Schema browser](http://standard.open-contracting.org/latest/en/schema/release_package/), the releases field displays a text URL to 1_1_4 instead of a clickable button to the release schema.

[2019-07-25 13:24] jpmckinney commented on #894
Hmm, that's a bug. Something to add to the checklist before deploying!

[2019-07-25 20:53] jpmckinney commented on #443
Extension drafted https://github.com/open-contracting-extensions/ocds_awardCriteria_extension cc @ColinMaudry

[2019-07-25 21:10] jpmckinney opened #895 "Clarify award description"
# Background

`awards` in OCDS:

`Award` in OCDS:

[UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) defines "Award of a procurement contract or framework agreement":

and "Public notice of the award":

The eProcurement Ontology has a class for Award Decision:

and for Contract Award Notice:

This was also an "additional note" in #790

# Dis

[2019-07-25 21:28] ColinMaudry commented on #443
Yes, the extension focuses on compatibility with the [current (possibly moving) eForms structure](https://ec.europa.eu/transparency/regcomitology/index.cfm?do=search.documentdetail&Dos_ID=17796&DS_ID=62369&Version=1), while ensuring compatibility with TED forms ([screenshot above](https://github.com/open-contracting/standard/issues/443#issuecomment-332341368)).

[2019-07-25 21:32] jpmckinney commented on #866
With respect to framework agreements, the [UNCITRAL glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) clarifies:

Framework agreement procedure with second-stage competition:

Framework agreement procedure without second-stage competition:

Second-stage competition:

~~With respect to this issue, such 'second-stage competitions' are considered new con

[2019-07-25 22:10] jpmckinney opened #896 "Clarify Contract description"
# Background

`contracts`:

`Contract`:

The eProcurement Ontology (ePO) has a class for Contract:

The ePO has a class for Purchase Contract, which is [synonymous](https://github.com/eprocurementontology/eprocurementontology/issues/170) with: specific contract, call-off contract, draw-down contract (Ireland) and contract under a framework agreement. This concept also applies to "dynamic purchasin

[2019-07-25 22:20] jpmckinney opened #897 "Purchase orders"
Splitting from #396 and copying questions in issue description:

* Should purchase orders fall within the scope of OCDS?

Yes. They can provide important details on the fulfillment/implementation of the contract.

* How should purchase orders be modelled in OCDS, e.g. should these be modelled using `contract.implementation.transactions` or do they represent a contract in themselves?

Semantically,

[2019-07-26 02:20] jpmckinney commented on #396
I think I need to better understand how e-catalogues are set-up and operated from the procurement perspective. Purchase orders (at least traditional ones outside the context of an e-catalogue) seem easier to model, so I separated this issue into two. This one is now about e-catalogues (since most of the comments are about them). Purchase orders are now in #897

Regarding your question about separa

[2019-07-26 10:18] ColinMaudry commented on #691
@PaulBoroday In the comment above you say that using the current options extension and a place of execution "it is totally impossible to process this... ".

Could you develop? I don't see what the problem is.

[2019-07-26 10:40] PaulBoroday commented on #691
@ColinMaudry, my point is if you have all the options described as a free-text - you cannot do anything automated (process inside eProcurement system) or even read it, for example, for analytical needs

[2019-07-26 10:48] ColinMaudry commented on #691
@PaulBoroday Ah OK. You point then was that it's complicated to parse the `options` field when one property is subject to change, but it's impossible if it's more than one.

I'd say that free text is never safe to process unless strong conventions are enforced, even if only one property is mentioned in `options` :slightly_smiling_face:.

[2019-07-26 19:48] yolile opened #898 "Item Classification Scheme Versions"
One of the items classification scheme suggested (and used by many LATAM countries) by the standard is the UNSPSC scheme, but this scheme has [several different versions](https://www.unspsc.org/codeset-downloads). Maybe it is important to add the information about the version used too?

[2019-07-26 20:04] yolile opened #899 "Item: Sub Items"
In Paraguay, an item can have related sub items associated to it, here is an [example](https://contrataciones.gov.py/licitaciones/convocatoria/356694-lp1494-19-servicio-reparaciones-integrales-vehiculos-flota-ande-1/item-solicitado/ild4ZP92015g3mM07iELNw%253D%253D/sub-items.html)
The common use of this is for tenders releated to, for example, the maintenance of vehicles, where the item is the serv

[2019-07-26 20:12] jpmckinney commented on #898
What changes between versions?

If in one version a code means one thing and then in another version it means something else, then they are different schemes, and the version should form part of the scheme identifier.

If newer versions just add more classifications to older versions, then it might be better to treat them as the same scheme, and to put the version information in a separate field.

[2019-07-26 20:19] jpmckinney commented on #899
Two comments:

1. `relatedItem` doesn't clearly indicate the nature of the relationship (we might identify in future other ways in which items can be related, other than parent-child).
1. If we put sub-items at the same level of hierarchy as their parent items, then some use cases get more complicated. For example, I might want to compare the sum-product of item quantities and values to the tender

[2019-07-26 20:44] yolile commented on #899
You are right, so I will go with 'subItems' array of Item objects inside Item

[2019-07-27 15:48] yolile commented on #898
As far as I know the new versions only add more classifications. Another important thing is that some codes are availabe only for some languages, so maybe another thing to include in the schema identifier is the langague?

[2019-07-27 16:41] jpmckinney commented on #898
Can you give an example re: languages? I'm not too familiar with UNSPSC.

If codes are only added, wouldn't it be prudent for data users to always try to use the newest version of UNSPSC? If they use an older version, and there are some codes from the newer version, then that's a reminder to them to upgrade.

[2019-07-30 16:39] yolile commented on #899
I forgot to mention that, at the subitem level there are some (not all) subitems that are just the "header" or parent of another subitems, example:
1. Item
1.1 SubItem -> just a header (number + name only)
1.1.1 Subsubitem -> the actual info

You can see that in the example. Should I put a field "parentSubItem" at subItem level?

[2019-07-30 16:58] jpmckinney commented on #899
It might be simpler to just duplicate the header as an additional field on the sub-item. Otherwise, it is very strange to have 'empty' items. What do you think?

[2019-07-31 03:01] jpmckinney commented on #440
## Summary regarding framework agreements with mini-competitions

The [OCDS 1.1 guidance](https://standard.open-contracting.org/latest/en/implementation/related_processes/) models the establishment of the framework agreement as one procedure (one OCID) and each mini-competition as a new procedure (new OCID). However, mini-competitions are part of the same procedure as the establishment of the fram

[2019-07-31 12:15] yolile commented on #689
@jpmckinney We already have, at tender level, the field "value" and "minValue", so wouldn't it be more consistent with this to also have a minimumQuantity field?

[2019-07-31 12:15] yolile commented on #888
Ok, I will duplicate the values.

Not necessarily, because, even in Paraguay, if the award is by item or lots then you could have a supplier for each awarded item/lot

I commented on that issue about that. But, is ok to add the minValue as an extension to lot?

[2019-07-31 12:35] jpmckinney commented on #689
That's option 1, and we'd need four fields total: quantity, estimatedQuantity (e.g. middle of range), minimumQuantity, maximumQuantity. See the advantages/disadvantages of each option and then let me know if you disagree with the analysis.

[2019-07-31 12:40] jpmckinney commented on #689
@yolile I see you're talking about value from #888, not quality (this issue). I'll reply there.

[2019-07-31 12:43] jpmckinney commented on #888
If there is a supplier for each awarded item/lot, then in a non-Paraguay case, there would be a different award for each lot, with one supplier per award. Did I misunderstand your example?

Yes, that's fine as described in https://github.com/open-contracting/standard/issues/888#issuecomment-510564578 I was instead discussing open contract, and only linking to #689 in case it was relevant (e.g. in

[2019-07-31 12:50] yolile commented on #899
I talked with the technical people at DNCP and we agreed on having an extra field with the number and title of the subitem at the subitem itself for all the subitems. So if a subitem doesnt have a header, the header will be its self number and title to be consistent. So, for example if we have:
1. Item
1.1 Sub Item Header
1.1.1 Sub Item
2.2 Sub Item without header

The modeling approach will be:

[2019-07-31 12:57] jpmckinney commented on #899
Looks good to me, thanks for reporting back!

[2019-07-31 14:48] yolile commented on #888
No, you understood it well. But, there are some cases, for [example](https://contrataciones.gov.py/licitaciones/adjudicacion/362028-adquisicion-pasajes-aereos-set-mh-1/resumen-adjudicacion.html#proveedores), when the tender was a simultaneous supply but only one supplier was awarded, This can happen because the simultaneous supply type has some rules, for example, that the second awarded supplier

[2019-07-31 15:18] yolile commented on #689
I think that the option 2 is not backward compatible, can you explain why it is? and if we want to use it in Paraguay we should wait to the 1.2 version of the standard to use it, what is not possible. Also, I think that the process or rules that you have to do or write for Option 1 or 2 ar basically the same. The only real adventage of Option 2 is that you dont have to add more fields to the paren

[2019-07-31 15:36] jpmckinney commented on #888
Ah, okay, understood: so it is information about the procedure, rather than about the result. It makes sense to indicate it then. To better understand the procedure, in order to determine how best to indicate this:

* Procedurally, how is it determined which supplier will supply the items? Is it similar to a direct call-off in a framework agreement (e.g. where the set-up contract has some rules ab

[2019-07-31 15:38] jpmckinney commented on #888
Re: quantities, understood, I will discuss in that issue, then.

[2019-07-31 15:48] ColinMaudry commented on #891
The fields that would remain in `tender` would be those that systematically apply to all lots.

[2019-07-31 15:59] jpmckinney commented on #891
Yes, like the procuring entity, procurement method, etc.

[2019-07-31 16:53] yolile commented on #888
The supplier with the lowest price is the first awarded, and he has to provide a percentage of the number of item (this percentage is determined already in the tender specifications and conditions document), then the second should provide the rest and so on. This decision is made in the award and there is not a second stage, all is part of the award stage.  so I think that in this case is not nece

[2019-07-31 17:00] jpmckinney commented on #888
Thanks for clarifying! Okay, so it is used in single-stage procedures and is a 'modifier' to or an attribute of a procedure rather than a distinct procedure.

So, I think the proposed `Lot.simultaneousSupply` boolean is reasonable. I don't know similar examples from other jurisdictions to inform the choice of term.

[2019-07-31 17:08] yolile commented on #888
Yes, and just noticing that if the tender is by items the boolean simultaneousSupply should be at the item level. So the extension should add the field in lot and item

[2019-07-31 17:14] jpmckinney commented on #888
Can you explain what is meant by 'tender by items'? If the procedure is to award different items to different suppliers, then I believe, conceptually, that the items are in different lots. It might be the case that in the concrete system you are working on, a shortcut is taken to avoid the overhead of tracking/storing lots if each item is known to be awarded separately, but even in that case I thi

[2019-07-31 18:25] yolile commented on #888
So, in Paraguay, we have three different awards methods:
- By Lots: each supplier can win **one or more lots**. If you win a lot you have to supply all of the items of that lot, [example](https://contrataciones.gov.py/licitaciones/convocatoria/363540-llamado-mopc-n-24-2019-licitacion-publica-nacional-contratacion-empresas-constructor-1.html#itemSolicitados)
- By total: you can only win **all** of

[2019-07-31 18:45] jpmckinney commented on #888
I'm not sure that addresses the broader modelling issue.

First, I want to be clear in distinguishing what I mean by 'conceptual' and 'concrete'. 'Concrete' means what you can directly observe from a real system in the real world. 'Conceptual' means an abstraction or inference or implication from the concrete, which is necessary for there to be any standardization across concrete systems. OCDS ope

[2019-07-31 19:16] jpmckinney commented on #888
Here's another way of thinking about it. Let's pretend that instead of 'Lot', the definition is called 'ItemContainer', and it is described as "A group of one or more items, where each group is bid on, awarded, and supplied separately. If a contracting process has no groups, it is interpreted as having a single group for all items." I think we would agree that, in Paraguay, in the 'by items' case,

[2019-07-31 19:40] yolile commented on #888
Ok so,
Paraguay -> OCDS
by item -> an item container (lot) per item - here the information about the simultaneousSupply goes to the lot
by lot -> an item container (lot) per lot - here the information about the simultaneousSupply goes to the lot
by total -> no item container at all - here the information about the simultaneousSupply goes to the item?

[2019-07-31 20:07] jpmckinney commented on #888
For by total, I recommend having one (big) lot in `lots`, and putting simultaneousSupply on the lot.

(In #891 I propose that all OCDS contracting processes should specify an explicit lot, as otherwise there are two ways of modelling the same thing (either use `tender` as an implicit lot, or use `lots` with a single lot), which means that data users need to look in two places, and also need to rec

[2019-08-01 07:51] duncandewhurst commented on #896
Regarding modelling purchase orders in general, I think the key thing we want to avoid is having both a contract (with definite quantities and values) and the purchase orders resulting from it, in the `contracts` array, which could easily lead to double counting.

Putting all purchase orders under `contracts.implementation` avoids that situation.

That said, in a situation where a dataset contains

[2019-08-01 12:49] yolile commented on #888
Ok, after discussing this with the dncp team, we agreed on having lots for all the cases

[2019-08-01 13:59] jpmckinney commented on #896
Regarding the simultaneous supply case, @yolile clarified the procedure in https://github.com/open-contracting/standard/issues/888#issuecomment-516931858:

So, the quantities might not be known at the tender stage, but they are known at the award stage, so the contracts will be for definite quantities.

For the more general case of indefinite quantities, here's a [US description](https://www.gsa.g

[2019-08-01 14:02] jpmckinney commented on #888
Thanks for reporting back and working through the different options and questions :)

[2019-08-01 16:13] jpmckinney commented on #891
A couple relevant consecutive comments in this issue: https://github.com/open-contracting/standard/issues/888#issuecomment-516972841 In particular:

Expressed that way, it is easier to explain why OCDS would have a lot even if the original procedure doesn't explicitly refer to any lot.

[2019-08-01 16:35] yolile commented on #571
Another issue with the procuring entity definition is that it says:

But the buyer's definition only says:

So, the procuring entity definition suggest that the buyer can be the one who pays or the one who uses, but the buyer definition only says that the buyer is the one who pays, what is correct, so I think that we need to update the procuring entity definition to be consistent with the buyer on

[2019-08-01 18:20] yolile opened #900 "Tender: Guarantees from the Bidder in order to preserve the Offer"
In Paraguay, the procuring entity have to define some information about the guarantees that the tenderers should provide. This guarantee is required to ensure that the offers made by the tenderers during the tender stage are kept if they are awarded.

The available data is:
- the percent of the guarantee (a value, could be 5, 10, etc % of the amount)
- guarantee type (policy, sworn statement or ba

[2019-08-01 18:59] jpmckinney commented on #749
For the EU profile, we're proposing adding a `tender.bidOpening` object, with fields fo address, date, description.

[2019-08-01 18:59] jpmckinney commented on #749
cc @ColinMaudry

[2019-08-01 19:05] jpmckinney commented on #621
Noting that I've also used `streetAddress` in the case of unstructured place/address information on the EU's TED form field for the place of opening of tenders.

[2019-08-01 19:31] jpmckinney opened #901 "Deprecate eligibilityCriteria and add exclusionGrounds"
# Background

In OCDS, selection criteria (for example, the criteria used to qualify bidders in a selective procedure in the sense of the GPA) are often mapped to `eligibilityCriteria`.

However, selection criteria are not the same as eligibility criteria. For example, the [UNDP](https://www.undp.org/content/undp/en/home/procurement/business/qualifications.html) has qualified but ineligible bidder

[2019-08-01 19:41] jpmckinney opened #902 "Expand tender.contractPeriod description"
The EU standard procurement forms use the construction "Duration of the contract, framework agreement or dynamic purchasing system", to avoid ambiguity around which contract this period refers to (as there can be many contracts over different periods, especially in the latter cases).

[2019-08-01 19:44] jpmckinney opened #903 "Add more synonyms to various field descriptions"
## Background

In at least the EU, design contests use a different set of terms:

* contract -> prize
* bidder -> participant
* supplier -> winner
* tenders (bids) -> projects
* (award period) -> ’date of jury decision’

For other procedures:

* award -> result of procedure

## Proposal

The alternative terms can be added in field descriptions to make it clear that the fields are appropriate for d

[2019-08-01 20:03] PaulBoroday commented on #900
Always was wondering why not to use [requirements](https://github.com/open-contracting-extensions/ocds_requirements_extension) for this need?

[2019-08-01 20:18] PaulBoroday commented on #396
The point is that this is first option - common qualification for all nodes under common CPV. It makes no sense to qualify suppliers for notebooks and desktops separately - these are same companies (at least set of selection criteria looks same)

[2019-08-01 20:34] jpmckinney commented on #396
@PaulBoroday I'm having trouble reconciling your older comment:

With your newer comment:

Earlier, you were suggesting "separate specification for each node where each specific supplier is qualified and awarded to deliver according to the scope of his offer" but now you are saying "It makes no sense to qualify suppliers for notebooks and desktops separately."

Can you clarify?

[2019-08-02 10:09] PaulBoroday commented on #396
@jpmckinney sorry for being a bit unclear... let me try one more time

![IMG_8315](https://user-images.githubusercontent.com/10726709/62360531-a814e280-b521-11e9-9326-efc05bbbdce8.jpg)

My question was whether CA and supplier conclude some general (framework) contract setting up the relationship once a supplier is qualified (scene 6) for certain CPV (in our case - "machines for processing with dat

[2019-08-02 11:51] yolile commented on #900
I think you are rigth, we can use that extension, but I'm going to open an issue to add "bid" to the relatesTo codelist.

[2019-08-02 12:11] PaulBoroday commented on #900
I don't think you should do it. 'relatesTo:tenderer' fits in this case - guarantees (both bid and contract execution) are requirements against tenderer, prescribes him to provide additional service. Its the same as a warranty requirement. Isn't it?

[2019-08-02 12:20] yolile commented on #900
I'm not sure. The tenderer example at the extension is about "Number of years the bidder has been trading" but in this case, the requirement is about the bid that the tenderer is doing, not about the tenderer it self

[2019-08-02 12:32] PaulBoroday commented on #900
Fare enough ) But let's take a look on this from the [definition](https://definitions.uslegal.com/b/bid-guarantee/). It looks more like 'corporate commitment' rather than bids' attribute. On another hand, technically you will have _requirementResponse_ related to guarantee _requirement_ inside your _bid_. And, again, technically, all the _criteria_ in this way or another related to _bid_. I mean -

[2019-08-02 13:14] jpmckinney commented on #900
I think @PaulBoroday is right with respect to all the requirements being about the bid, even if implicitly and/or indirectly.

Regarding warranties, my understanding is that warranties are generally for items (e.g. ~~motor will not fail within 3 years~~ if motor fails within 3 years, it will be fixed or replaced at no cost).

Guarantees are different from warranties. For [example](https://publicpr

[2019-08-02 13:25] PaulBoroday commented on #900
'Warranties' is not the main topic of this discussion, but once we touch it, my understanding a bit different. The main idea why to request any warranty is not to receive a sort of promise that motor will not fail within 3 years. No one can guarantee you that - your motor can fail tomorrow. Main idea is to have a suppliers' commitment that if supplied motor will fail during a certain period of tim

[2019-08-02 13:36] jpmckinney commented on #903
## Background

More broadly, OCDS uses `buyer` and `suppliers`, but these terms are inappropriate for many contracting processes, like design contests (above), public private partnerships, government asset sales, concessions, etc.

In the OCDS for PPPs profile, to address this, `buyer` and `suppliers` are deleted from the schema in favor of `publicAuthority` and `preferredBidders` (though 'private

[2019-08-02 13:40] jpmckinney commented on #900
Yes, I abbreviated the warranty description as it's not the subject here – it's more accurate to write it as you described.

[2019-08-02 13:56] jpmckinney commented on #396
It's clearer to me now, thanks! (Do you have any more procurement comics?)

Having now read [Article 36 in 2014/24/EU](https://eur-lex.europa.eu/eli/dir/2014/24/oj#d1e4522-65-1) and based on how catalogues are expressed in eForms, my understanding is that catalogues are just a technique/instrument for electronic procurement (they are under "Chapter II: Techniques and instruments for electronic and

[2019-08-02 14:06] jpmckinney commented on #396
Bringing it back to the subject of the issue, I would consider purchases from an electronic catalogue to be different from purchase orders (#897). In the case of purchase orders, the quantity or value of items are generally known in advance by the time the contract is signed, and the purchase orders are just an implementation detail. In the case of a DPS with catalogues, the quantity and value is

[2019-08-02 15:51] jpmckinney opened #904 "Auctions (information about the phases of the auction)"
## Context

There is another issue about the information that is communicated to potential bidders prior to the auction (#793). This issue is about publishing information about the phases of the auction itself, in which tenderers make submissions, e.g. reducing prices in each phase in the case of a reverse auction.

## Discussion

In an auction, a tenderer can make multiple submissions (for the sa

[2019-08-02 17:20] PaulBoroday commented on #904
That's a good point to not keep everything in one single array (bids). We have been working on eAuction extension for a long time and we came to the same conclusions. Our approach so far based on the distinction between initial bids, auction progress (from the bids' substance change perspective) and eAuction results. Its everywhere bids, but these arrays are different and serve for different purpo

[2019-08-02 17:34] jpmckinney commented on #904
Thanks, I hadn't seen that extension before (the last time I looked for new extensions to review was in March, so I should do another round soon).

It looks like a fairly comprehensive approach, though I have some initial feedback, that I'll need to take more time to organize and write up.

In the meantime, @yolile, can you have a look at the linked extension and see if it informs Paraguay's model

[2019-08-02 17:35] jpmckinney commented on #904
Also related: https://github.com/open-contracting/standard/issues/440#issuecomment-516674352

[2019-08-02 20:35] yolile commented on #904
I hadn't seen that extension neither. I think that we can reuse some things but there are things that I dont understand well, as AuctionRoundsGroup, AuctionRound, ValueDifference, AuctionRoundProgress.

In Paraguay, an auction has a competition for the lowest price for each lot in the tender, and each auction can have four stages: submissions, bid, random and tie break periods.
To participate in t

[2019-08-06 20:56] jpmckinney commented on #866
After further consideration in https://github.com/open-contracting/standard/issues/440#issuecomment-516674352, second-stage competitions only make sense (and only respect the semantics of OCDS) in the context of their first stage, so I've crossed out my analysis in the previous comment ('contracting process' can't be defined as 'any new competition').

[2019-08-06 21:20] jpmckinney commented on #571
Related: #825

[2019-08-06 21:54] jpmckinney commented on #816
1. The lots extension already adds a [`relatedLots`](https://extensions.open-contracting.org/en/extensions/lots/master/schema/#document) field to Document.
2. `relatesTo` is needed because it's possible for a selection criterion to relate to the tenderer. However, in that case, the tenderer is anonymous, as this information is published before any bids are submitted, and there is no object to refe

[2019-08-06 22:13] jpmckinney commented on #739
Each of these are components of an address: street address, locality, region, country, postal code, etc. So, going back to my earlier proposal:

[code]

This re-uses existing structures from the location extension, and is more flexible: it's possible to specify additional address components and additional schemes without making a very deep and complex structure.

[2019-08-07 15:11] jpmckinney commented on #866
Rough outline: In the case of procurement, a contracting process can be defined as a procurement procedure. There is a one-to-one correspondence between the first stage of a procurement procedure and a contracting process. (Note: Need to be explain why the planning stage is not considered the first stage, see next comment.) If a procedure is cancelled or unsuccessful, and a new procedure is starte

[2019-08-07 17:27] yolile commented on #205
In Paraguay, a process of a complaint can be against the tender conditions or against an award and  have:
- A description
- Number
- Date
- State
- events[]
- interveners[]
- documents[]

Each complaint has several events (the events are dynamically created in the system, so they can change/be more), and each event has:

- A type (initial notification, complaint opening, etc)
- A description
- A d

[2019-08-07 23:38] jpmckinney opened #906 "Pre-qualification/pre-selection for single use"
## Context

The proposal in this issue is for pre-qualification/pre-selection leading to a single request for tender (i.e. the pre-qualification stage produces a single-use list of qualified suppliers).

There is another issue for pre-qualification/pre-selection leading to a [multi-use list](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) or similar: #909

## Background

This issue

[2019-08-07 23:39] jpmckinney commented on #906
@yolile How does the above proposal sound for pre-qualification in Paraguay? There are a few decisions to make, in the bullet list.

[2019-08-08 00:02] jpmckinney commented on #906
For the array field, it would have different objects depending on the procedure (eg competitive dialogue) and techniques (eg electronic auction) used. This is harder to use, implement and validate.

Instead, we can have different fields depending on the type of second stage. Similar to `initiationType` (which is presently not used except to distinguish PPPs in the first stage), we can add a  `seco

[2019-08-08 03:39] LindseyAM commented on #819
Proposed revision to the Support & Governance section is here: https://docs.google.com/document/d/1ZV-PcIx6P7puwz9Pu-eO13zKRwcOX23DJxXb9E4sF7U/edit#heading=h.fd1knlcyqxi2

[2019-08-08 03:41] LindseyAM opened #907 "Validator heading in documentation should be changed to Data Review Tool"

[2019-08-08 13:57] jpmckinney commented on #907
@LindseyAM  You mean in the navigation?

[2019-08-08 14:32] jpmckinney commented on #907
Duplicate #885

[2019-08-08 14:32] #907 closed, assigned to nobody

[2019-08-08 15:51] jpmckinney commented on #819
Thanks, @LindseyAM! I see you edited the full section, not just the page linked from the issue description: http://standard.open-contracting.org/latest/en/support/governance/

My plan for the full section is:
* [x] Move Governance under Schema Reference, so that all normative content is in the same section
* [x] Replace Tools with a link to the [Tools Directory](https://www.open-contracting.org/re

[2019-08-08 16:12] jpmckinney commented on #906
@yolile For Paraguay's current implementation, in the `tender` block, I'd recommend using the current fields (`tenderPeriod`, etc.), even if the proposal here is to deprecate them in favor of new fields – because it's not certain that the proposed field names will be approved.

If the proposal sounds good to you, then what's left to do is to author the proposal as an extension (minus the deprecati

[2019-08-08 16:15] jpmckinney commented on #819
I made the copy I proposed here: https://docs.google.com/document/d/1aJm1YTKC5Eh3NNKjJa9UGxUusS95cxvareRlUiJ6rto/edit

[2019-08-08 18:09] yolile commented on #906
Thanks for this @jpmckinney , your proposal looks good, but, the only problem that I see with Paraguay is that the prequalification and its tender are different processes so, they have differents ocids. The ocid for the second stage (tender) comes from the planning. And the ocid for the first stage (prequalification) comes from the prequalification itself. And the link between the tender and the p

[2019-08-08 18:31] yolile commented on #906
Should we use the relatedProcess to link both processes? If yes, should we add the "preQualification" code to the related process codelist? (what I was planning to do we the existing qualification extension)

[2019-08-08 19:03] jpmckinney commented on #906
Hmm, I need to understand how Paraguay's system works:

1. There is a process, whose result is to put suppliers on a list. This list will be used to invite suppliers to submit tenders. The list is single-purpose and single-use, i.e. it is never used for any other invitations to tender. It is already known at the time of this process what the list will be used for. This process never results in any

[2019-08-08 19:45] yolile commented on #906
Sometimes, it can be used for multiples tenders, for examples, when the tenders are too similars example:
https://contrataciones.gov.py/licitaciones/convocatoria/338225-servicios-consultoria-fiscalizacion-obras-construccion-puentes-hormigon-tramos-no-me-1/precalificacion.html#licitaciones_asociadas

Or after an unsuccessful tender the same prequalification can be used for the new one.

Yes, it's i

[2019-08-08 20:17] jpmckinney commented on #906
I see there are two requests for tender about 7 months apart ([first](https://contrataciones.gov.py/licitaciones/convocatoria/331578-servicios-consultoria-fiscalizacion-obras-construccion-puentes-hormigon-tramos-no-me-1.html), [second](https://contrataciones.gov.py/licitaciones/convocatoria/338225-servicios-consultoria-fiscalizacion-obras-construccion-puentes-hormigon-tramos-no-me-1.html)). The pr

[2019-08-08 20:21] jpmckinney opened #909 "Pre-qualification for multi-use list"
## Context

The proposal in this issue is for pre-qualification leading to a [multi-use list](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) or similar.

There is another issue for pre-qualification/pre-selection leading to a single request for tender (i.e. the pre-qualification stage produces a single-use list of qualified suppliers): #906

Compared to a single-use list, multi-us

[2019-08-08 21:11] jpmckinney commented on #909
@yolile In Paraguay, how long does the list of qualified suppliers last? Can new suppliers apply to join the list at any time, or only at specific times? How frequently is the list updated? Does the government ever cease to recognize a supplier as qualified, or remove a supplier from the list?

[2019-08-09 04:58] jpmckinney opened #910 "Planning for parts of a contracting process"
## Background

The planning section is structured to describe the planning for a contracting process as a whole, not for any component parts like:

* individual lots
* individual requests for tenders, in the case of a multi-use list #909
* individual mini-competitions, in the case of a framework agreement

As described in comments in https://github.com/open-contracting/standard/issues/906#issuecom

[2019-08-09 04:59] jpmckinney commented on #906
New issue is #909.

[2019-08-09 05:00] jpmckinney commented on #909
@yolile Based on the conversation in #906, I think the OCID for the planning and tender processes in Paraguay can be used as the `secondStage.invitations.id`. As for where to put the planning information, that's an unresolved issue: #910.

[2019-08-09 08:32] duncandewhurst commented on #906
Thanks for this proposal @jpmckinney

I'd like to clarify a few points.

Firstly, should:

actually read:

Secondly, is something missing from the following part of the proposal? I didn't understand it.

Thirdly, I want to check I understood the overall model you are proposing:

[code]

This threw up a couple of questions:

1. Which object should the `procurementMethod` field should appear on and

[2019-08-09 13:47] jpmckinney commented on #895
I updated the discussion to focus on semantics instead of terms, because focusing on the 'award decision' term was not compelling in cases where all awards are decided at once.

[2019-08-09 13:57] jpmckinney commented on #249
Note: #895 has a better approach to clarifying the 'award' – moving away from the 'award decision' term, and instead focusing on the desired semantics for the Award object.

[2019-08-09 13:58] jpmckinney commented on #249
Note: I should break up this issue into component parts, as "different scenarios" from issue title covers too much ground to be resolved in one issue.

[2019-08-09 14:05] jpmckinney opened #911 "Guidance: Explain when to use contract items"
The repetition of `items` on both `Award` and `Contract` leads to confusion.

The reason there is `items` on `Contract` is, according to earlier issues, because it was thought that it'd be possible for one supplier to be awarded multiple items, and that there might later be different contracts for each item (I don't know if this happens in reality): https://github.com/open-contracting/standard/iss

[2019-08-09 14:58] jpmckinney commented on #380
Noting that UNCITRAL does have a term matching the semantics of 'direct':

[2019-08-09 14:59] jpmckinney commented on #827
Copying comment from https://github.com/open-contracting/standard/issues/380#issuecomment-519951704:

UNCITRAL has a term matching the semantics of 'direct':

[2019-08-09 15:02] jpmckinney opened #912 "Guidance: Explain when to have multiple suppliers per award"
Initial ideas:

* Consortia, where multiple suppliers put together a single bid, and are awarded as a group. In some countries, these suppliers only create a legal entity after the award, to sign the contract; or, they decide on a prime contractor, with the others being subcontractors. #370 #142

Noting that the current model for framework agreements has multiple suppliers (it stores the 'multi-us

[2019-08-09 15:19] jpmckinney commented on #906
1. Thanks! There were a few typos in that paragraph, now corrected.
1. I think an 'either' was missing at the end of the first bullet. Does that clarify?
1. Answers:
    1. `procurementMethod` is disclosed in the first stage, i.e. `tender`. It is populated according to the GPA definitions (which match UNCITRAL definitions, though using different terms). In the EU context: 'open' applies only to th

[2019-08-09 15:50] jpmckinney opened #913 "Guidance: Use: How to lookup OrganizationReference's"
`id` on Organization has type string, but types string or integer on OrganizationReference.

We should either:

1. Document the need to coerce to string when looking up parties
1. ~~Allow type integer on Organization (though this goes against #789)~~

[2019-08-09 16:47] jpmckinney commented on #866
Building on this internal discussion https://crm.open-contracting.org/issues/4864#note-10

In OCDS, at a conceptual level, a contracting process is intended to match each concrete attempt to start a procedure that leads to one or more contracts. Attempts can include: an invitation to tender (in open procedure); an invitation to request to participate; a competition for a concession…

At a use-case

[2019-08-10 01:16] jpmckinney commented on #910
~~Update: I misunderstood the comment about Paraguay, and there aren't multiple plannings (one for each of qualification and tender stages) in that case.~~

[2019-08-10 01:49] jpmckinney opened #914 "Add explicit fields instead of relying on conditional semantics"
For example, if `tender.status` is 'planning', then `tender.value` means 'cost estimate', the pre-tender estimated value of the contracting process. If `tender.status` is 'active', it means the estimated value at the announcement of the contracting process. In the compiled release, the cost estimate is lost; the only way to access it is to use a versioned release (which only one publisher provides

[2019-08-19 13:16] jpmckinney commented on #358
Related: #866 #440

[2019-08-19 13:16] jpmckinney commented on #866
Useful definition of 'procurement' here: https://github.com/open-contracting/standard/issues/358#issuecomment-254118298

[2019-08-20 13:36] jpmckinney opened #917 "Add recommendation to put hyphen after OCID prefix"
This is the practice in most implementations (and all examples), but it is not explicit. We can't make it a MUST rule, because that will be backwards-incompatible with at least Zambia.

[2019-08-20 20:19] jpmckinney commented on #866
After internal discussions, it'd be useful to distinguish between the concepts of a 'contracting process' and a 'unit of analysis'. In short, in OCDS, the unit of analysis represented by the OCDS record is the invitation to tender (in open procedure); an invitation to request to participate; a competition for a concession. A 'contracting process' extends beyond that and includes the planning stage

[2019-08-21 16:48] jpmckinney commented on #499
See this draft extension: https://github.com/open-contracting-extensions/ocds_awardCriteria_extension

[2019-08-26 18:43] jpmckinney opened #918 "releaseTag: Investigate / Deprecate tenderAmendment and contractAmendment"
## Background

The differences between 'tenderAmendment' and 'tenderUpdate' are:

* 'tenderAmendment' mentions "The term amendment has legal meaning in many jurisdictions."
* 'tenderUpdate' mentions "An update may add new information or make corrections to prior published information. It should not be used for formal legal amendments"

The differences between 'contractAmendment' and 'contractUpdat

[2019-08-28 19:04] jpmckinney commented on #784
We now have a [Techniques extension](https://github.com/open-contracting-extensions/ocds_techniques_extension). It has a pattern of pairs of `hasConcept` and `concept` fields, as some procurements indicate the use of a technique without any detail on the technique.

In the current EU mapping, `tender.techniques.hasFrameworkAgreement` is set when the procurement involves the set up of a framework a

[2019-08-28 19:13] jpmckinney commented on #749
Here is the extension: https://github.com/open-contracting-extensions/ocds_bidOpening_extension (I will review and merge the PR shortly)

[2019-08-29 07:05] ColinMaudry commented on #784
I believe we would make the data analysis easier if we added both "The contract is awarded within a framework agreement" **and** its inverse "This establishes a framework agreement".

[2019-08-29 12:07] jpmckinney commented on #784
Yes, even better.

[2019-09-05 17:10] daniel-clair opened #919 "tender.status incomplete list of values (during the period where the tenderPeriod end date already passed and the tender is not yet awarded)"
During that period the tender status is no longer active. It's not complete because it's not awarded yet. It's not unsuccessful.

Could we add a status value for that period: "evaluating suppliers" or "expired" or "closed"?

[2019-09-08 15:35] jpmckinney commented on #882
cc @yolile

[2019-09-08 15:55] jpmckinney opened #920 "Deprecate packages on record packages"
## Background

Only Chile, Paraguay and Zambia use `packages` in record packages, using this query in Redash:

[code]

## Discussion

It's not clear what real (not imagined) use cases this field serves.

## Proposal

Deprecate `packages` on record packages.

[2019-09-09 22:47] jpmckinney commented on #919
@daniel-clair Good point. I'm not immediately sure of the best code for this status. @yolile @duncandewhurst do you have suggestions?

[2019-09-10 15:36] daniel-clair commented on #919
Good morning James,

The government of Canada uses "expired" when the tender pass the end date
"closing date". Based on those ideas, could  be "concluded", "closed" (I
don't like expired). These are terms when it passed the end date. If
someone think about this evaluation period I can use "assessment" or  maybe
"resolution".

Let me know what you think,

Regards,

Daniel

El lun., 9 sept. 2019 a l

[2019-09-10 15:54] yolile commented on #919
In Paraguay, we use "En Evaluación (Cerrada)" = In evaluation (Closed)
This period is the period indicated in the awardPeriod field, and the awardPeriod is:

So, I think that it could be "inEvaluation", "assessment" or "closed" (I prefer the ones that are more explicitly about the evaluation process)

[2019-09-11 20:37] daniel-clair opened #921 "Initiation Type: addition of planning to the closed code list (suggestion)"
Sometimes most of supply arrangements (contracts) and many standing offers are not the results of tenders; instead, the vendor might be invited off a (rotating) source list to submit a standing offer.

Currently initiationType has one possible value "tender". Please consider the possibility of adding planning to the code list.

[2019-09-11 20:40] daniel-clair commented on #919
Did you add an extension to the schema to include your new value in the closed code list? Is it valid to do that with closed code lists? I'm very new with the extensions and I want to know how far I can go.

[2019-09-12 20:51] jpmckinney commented on #921
@daniel-clair The future of the `initiationType` field is somewhat uncertain, and its semantics might be changed #821. For your implementation, I think it is fine to leave it as-is.

Regarding standing offers and supply arrangements, these are called 'framework agreements' in other parts of the world. A standing offer is like a framework agreement with 'direct call-offs'. My understanding of suppl

[2019-09-13 17:02] duncandewhurst commented on #919
The period between the tender closing date and the contract being awarded could be comprised of both an evaluation period and a cooling off period - see the definition of 'pending' in the award status codelist:

So, using 'evaluation', 'assessment' etc. might not be accurate.

The definition of `tender` in OCDS explicitly includes selecting a winner:

So, strictly following that definition the ten

[2019-09-13 18:27] #885 closed, assigned to nobody

[2019-09-16 20:26] daniel-clair commented on #919
Thank you

[2019-09-17 02:19] jpmckinney commented on #882
While fixing this, consider other changes by ODS to docson, like https://github.com/OpenDataServices/docson/commit/1995c4928c4dbaa980654c7f61b9d33f8fb7a5e3

[2019-09-17 02:23] jpmckinney opened #922 "Integrate glossary"
We have a [glossary](https://github.com/open-contracting/glossary) of terms that goes beyond those used as field names or codes.

We can consider integrating it by adding tooltips to the documentation.

It'd also be useful to improve the glossary by adding alternative terms (especially for field names and codes). That change would be useful to integrate into the mapping template.

[2019-09-23 16:48] duncandewhurst commented on #858
+1

I came here via some publisher data which used 'english' in the language tag and wasn't flagged by the validator

[2019-09-24 03:02] jpmckinney commented on #909
Noting that bids will need to be related to specific invitations.

[2019-09-24 03:04] jpmckinney opened #924 "Add Planning.id field"
Some countries, like Paraguay (and soon Honduras), have an identifier for the planning stage.

cc @yolile

[2019-09-24 03:15] jpmckinney commented on #909
Here are some questions/use-cases to help assess different models. Preferably, a user should only have to look in one place for information about a particular concept. However, all models require people to look in more than one place to fulfill some use cases; it's therefore a question of which use cases we want to prioritize.

* What opportunities are there? (e.g. as a supplier)
* What items are

[2019-09-24 03:56] jpmckinney opened #925 "Guidance: Publishing OCDS in your language"
Group existing content and add instructions on flattening commands and in-file translations (depends on #229).

[2019-09-25 12:02] yolile commented on #924
Maybe the field can be called "identifier" instead of "id" because planning is not an array. (Just to avoid the confussion as happened with the tender.id field and the merging rules)

[2019-09-25 14:34] jpmckinney commented on #924
Good point – I updated the issue title.

[2019-09-26 15:03] ColinMaudry commented on #883
In the context of design contests, we should be able to add jury members to the `parties` array.

[2019-09-26 20:49] jpmckinney opened #926 "Add a link to a flattened representation of the release schema"
Proposed by @duncandewhurst in https://github.com/open-contracting/toucan/issues/12

[2019-09-27 09:44] ColinMaudry commented on #903
Looking at eForms annex spreadsheet, I'm not sure contract -> prize.

BG-44 mentions ranks, and BT-41 says the winners of a contest aren't necessarily awarded all contracts, implying prizes and contracts are not bound.

[2019-09-27 13:37] jpmckinney commented on #903
In a design contest, my understanding was that participants were at most awarded a prize – but that, following the contest, they might be awarded a contract. Does it work differently?

[2019-09-27 15:32] ColinMaudry commented on #903
I agree that some participants are awarded a prize. I don't think all participants to a contest are awarded a prize.

But what is a prize? I don't think it's a contract, in the directive it's always used alongside 'payment'. It may be a monetary or in-kind reward, but it does not seem to bind the winner to the provision of a service/goods. Which makes it quite different from a contract.

Is that y

[2019-09-27 15:54] jpmckinney commented on #903
Not all bidders are awarded a contract either :)

A prize is certainly different from a contract. The question here is whether `contracts` in OCDS should simply mean "Result of the procedure", in which case it applies to both prizes and contracts (related #896), or whether it should just mean a narrow definition of contract.

I prefer the former, because having lots of different fields/classes to

[2019-09-27 15:57] jpmckinney commented on #903
Taking a step back, do design contests even need to use the `contracts` section? It might be simplest to just not have any contracts for design contests.

[2019-09-27 16:19] ColinMaudry commented on #903
It's the Open Contracting Data Standard, design contest prizes are an edge case, but I believe we'll mostly deal with contracts. If not, we may be stretching the scope of OCDS a bit too far :) Narrow definition of contract is good.

There is this case where the prize is automatically followed by a procedure. Do we represent this procedure as a distinct but related procedure (`relatedProcess`)? Tha

[2019-09-27 16:21] jpmckinney commented on #903
I agree that it would be a case for `relatedProcesses`; however, we might want a more specific code (e.g. `designContest`).

[2019-09-27 18:55] jpmckinney opened #927 "How to identify the type of result of procedure"
## Background

A design contest in the EU is very similar to other procurement procedures (it uses the same values for `procurementMethod` and `procurementMethodDetails` as other procedures, among other similarities, see https://standard.open-contracting.org/profiles/eu/master/en/F12/).

However, it differs in that the result of the procedure might be a prize or other type of reward, that is not a

[2019-09-27 18:56] jpmckinney commented on #927
Tagging as Documentation for now, since this might just result in documenting what assumptions are safe to make with respect to the result of the procedure.

[2019-09-28 11:28] akuckartz commented on #858
Linked Data can be used. See http://id.loc.gov/vocabulary/iso639-1.html

[2019-09-28 13:00] ColinMaudry commented on #927
Right, but in case it was an argument in favour of a new designContest class, I think most fields are optional in OCDS because we know all procedures don't need all fields.

We mostly need to work on the outcome part, that is on the award.

Maybe prizes could be modelled like items: present in the tender, and some are awarded, some may not be awarded.

[2019-09-30 15:23] yolile commented on #788
In Paraguay we also have the information about the country of origin for some items. This information is published using the [items attributes extension ](https://gitlab.com/dncp-opendata/ocds_item_attributes_extension)

[2019-10-01 20:44] jpmckinney opened #928 "Add links field"
## Issue

A government might only publish OCDS data for new events in a contracting process. However, they would still want to have a link back to any earlier events (in non-OCDS format).

This might occur in cases of jurisdictional changes, like municipal mergers or EU withdrawal, where the cost and complexity of converting old events might be too high.

## Proposal

Add a top-level field, simila

[2019-10-02 01:48] #919 closed, assigned to nobody

[2019-10-13 13:52] timgdavies commented on #911
I think we also envisaged the possibility that, in the negotiation between award and contract, there may be a variation in the items to be supplied.

Again - I'm not certain (a) how often this happens in practice; (b) if any existing systems capture the data in ways that could populate this.

[2019-10-15 18:37] jpmckinney commented on #817
In CRM-5172, we discussed the possibility of a publisher/aggregator having a tax-inclusive amount and not being able to determine the tax-free amount. The options would be:

1. Put the value after tax in  `amountGross`, and don't set  `amount`. This will produce a combined dataset in which either  `amount` or  `amountGross` is set depending on whether tax is included or not. Not every value will h

[2019-10-15 18:51] jpmckinney commented on #817
We should determine whether any publishers are in a scenario where they either (1) don't know which amounts are tax-free or (2) can't calculate the tax-free amount.

If so, we can clarify that `amount` is for the amount as stated on the tender notice / award notice / contract document. We would then recommend that, wherever possible, both `amountNet` and `amountGross` fields are filled in. That wa

[2019-10-15 21:30] duncandewhurst commented on #794
From @pindec's call with Ethiopia:

[2019-10-16 14:18] pindec opened #930 "Publishing a document available in multiple languages"
Afghanistan has two official languages, and may therefore want to publish a document that is available in both languages at the same URL e.g. contracts.

However, `document.language` is a string rather than an array of strings.

For options now, @duncandewhurst suggested these alternatives:
- If one language is the primary language in any sense, then put this in the `.language` field and explain i

[2019-10-17 15:41] jpmckinney commented on #910
From an 2019-10-07 Skype chat: In Paraguay, there might be multiple planning processes at the same time about (for example) buying trucks. Since they know they will buy trucks this year, they do a prequalification process to get a list of suppliers. These suppliers don't know much about the specific needs (how many trucks, what size, etc.). When the government is ready to tender, the prequalified

[2019-10-17 16:58] jpmckinney commented on #909
Copying relevant comment from #910:

----

From an 2019-10-07 Skype chat: In Paraguay, there might be multiple planning processes at the same time about (for example) buying trucks. Since they know they will buy trucks this year, they do a prequalification process to get a list of suppliers. These suppliers don't know much about the specific needs (how many trucks, what size, etc.). When the gover

[2019-10-17 17:53] jpmckinney commented on #895
Related: #903

[2019-10-17 18:58] jpmckinney commented on #909
I'm now looking for other examples of multi-use lists.

In Canada, there are [standing offers and supply arrangements](https://www.canada.ca/en/employment-social-development/programs/laws-regulations/labour/interpretations-policies/standing-offers.html) (SOSA) (more on [standing offers](https://buyandsell.gc.ca/for-businesses/selling-to-the-government-of-canada/the-procurement-process/standing-off

[2019-10-18 11:47] pindec commented on #930
Note that some publishers already treat document.language (string) as an array e.g. collection_id 197:
`"language": "deutsch, französisch, italienisch"`

[2019-10-20 18:02] LindseyAM commented on #930
I think Canada also publishes in 2 languages. French& English

[2019-10-21 14:12] jpmckinney commented on #930
Yes – this issue is about publishers who publish documents that contain multiple languages. In Canada, documents seem to be published in each language separately.

[2019-10-21 17:06] nenita05leyla opened #931 "Item Classification Scheme [x_ChileCompra_Clasificaciones_Productos ]"
Hi!
Please add ["x_ChileCompra_Clasificaciones_Productos"] to be considered and included in the code list of the item classification schemes.

Example:
[code]
Thanks in advance.
Greetings from Chile!

[2019-10-21 20:09] jpmckinney commented on #931
Hi @nenita05leyla, thank you for creating the issue! We will need a Code, Title, Description, and Source for the new scheme. For example, an existing code has:

* Code: CUCOP
* Title: Mexican Single Classifier of Public Procurement
* Description: "The Single Classifier of Public Procurement (Clasificador Único de las Contrataciones Públicas) is a national scheme in Mexico for the classification of

[2019-10-21 20:36] nenita05leyla commented on #931
Hi! @jpmckinney thanks for your answer.
Please let me recopilate that information and I will give my feedback soon as I can.
(please don't close this issue too soon :) )

Thanks in advance!

[2019-10-22 18:25] nenita05leyla commented on #931
Hi again @jpmckinney
We send you the information you requested, please check if this is enough,

- Code: [x_ChileCompra_Clasificaciones_Productos]
- Title: Chilean product classification code
- Description: The Chilean product classification code applies the level four UNSPSC (United Nations
  Standardized Products and Services Code) to classify the products.
- Source: https://www.ungm.org/Public/

[2019-10-24 15:03] jpmckinney commented on #931
Thanks, @nenita05leyla. Does ChileCompra make changes to UNSPSC (e.g. add codes, or change the meaning of codes)? If not, then I believe the code to use is simply 'UNSPSC' which is already in the codelist.

[2019-10-25 11:34] yolile commented on #899
Extension available here: https://gitlab.com/dncp-opendata/ocds_items_subItems_extension
Note that the SubItem object is not a Item object, because the flatten tool gives a recursion error when the Item has a Item field inside itself.

[2019-10-25 11:44] yolile commented on #764
Extension that add these fields available here: https://gitlab.com/dncp-opendata/ocds_statusdetails_extension

[2019-10-25 12:18] yolile commented on #924
Extension available here: https://gitlab.com/dncp-opendata/ocds_planning_identifier_extension

[2019-10-25 17:48] jpmckinney commented on #931
Closing in favor of using 'UNSPSC', per discussion via OCDS Helpdesk.

[2019-10-25 17:48] #931 closed, assigned to nobody

[2019-10-25 18:07] nenita05leyla commented on #931
Yes, we will use that, we talk about it with them.
Thanks for your help..
Greetings!
Leyla.

[2019-10-30 20:34] jpmckinney commented on #909
From my (limited) experience in the Ontario government, the planning processes for procedures using VORs are independent, and so it would make more sense to treat VORs as generic multi-use lists.

Regarding a question above about how to set `procurementMethod`, If a ministry contracts with a specific pre-qualified supplier, then it is 'direct'. If it invites only a subset of the pre-qualified supp

[2019-10-30 20:37] jpmckinney commented on #909
To avoid confusion with other types of pre-qualification (which is just a step that can occur in many different types of procedures), the `relationship` code in `relatedProcesses` might be 'multiUseList'.

[2019-10-31 02:38] duncandewhurst commented on #801
This has come up again Guatemala, see https://github.com/org-id/register/issues/379 and https://github.com/org-id/register/issues/378

[2019-10-31 19:47] jpmckinney commented on #909
With respect to re-using the `tender` block to advertise the opportunity to join a multi-use list:

Across different procurement procedures, suppliers can make many different types of submissions: they can submit a request to join a list of qualified suppliers, to participate in a framework agreement, to submit a tender, to participate in an auction, etc.

Would it be better to put this informatio

[2019-11-06 16:49] jpmckinney commented on #651
Noting that the changes were made: https://github.com/INAImexico/ocds_guarantees_extension/pull/2

I've now included the extension in the Extension Explorer: https://extensions.open-contracting.org/en/extensions/guarantees/master/

I notice a few rendering issues that we should fix. Mainly: GitHub-style Markdown tables are not supported by the Extension Explorer, but we can remove the table since

[2019-11-06 19:17] jpmckinney commented on #788
EU's eForms has BT-191 (Country Origin) "A country of origin of the product or the service." This applies to an entire bid, however. On current forms, this information is not intended for publication, so it doesn't appear in the OCDS for EU profile. The obligation to collection this information [seems to arise from the GPA](https://github.com/eForms/eForms/issues/35). The [GPA text](https://www.wt

[2019-11-07 22:14] romifz commented on #711
Dominican Republic will include SME and women-owned business classifications in their OCDS data. Both are expressed as flags in their source systems.

[2019-11-07 22:33] romifz commented on #711
Could we consider a mixed approach? Like having a `classifications` or `flags` array od strings for the classifications we expect to be compared across publishers (SME and women-owned so far) and instruct publishers to use `details` to define extensions for more specific classifications?

[2019-11-13 22:50] jpmckinney opened #936 "Test the structure of all JSON code blocks"
Code blocks in extensions documentation are tested with this code: https://github.com/open-contracting/standard-maintenance-scripts/commit/74561cf31e6bd8a64303745e4653edd3c2db65d1