[2017-09-01 17:19] duncandewhurst commented on #557
These are all valid uses of the code

`interestedParty` was added to the PPP profile to represent the different types of organization which had purchased bidding documents.

In the pilot PPP we worked with, it wasn't possible to know whether an organization which purchased bidding documents was interested in submitting a bid, or just interested in the process and wanted to submit questions, until

[2017-09-01 17:33] dwasyl commented on #557
I'd concur with @duncandewhurst. Interest parties in a tender process can be anyone, no one knows who will actually submit a bid until bidding is closed.

Some with the enquiries addon, anyone can ask question, since a proponent hasn't necessarily decided if they will bid or not.

Often the `interestedParty` list would be used to send updates/addendums for the tender.

[2017-09-02 03:19] mireille-raad commented on #557
ha! thanks for clarification :D makes much more sense now :)

[2017-09-05 19:44] timgdavies opened #563 "Fix reference to IATI OrganizationRegistrationAgency on identifiers page"
The [identifiers page](http://standard.open-contracting.org/latest/en/schema/identifiers/#organization-ids) in the documentation still refers to the IATI Organisation Registration Agency codelist, although this has now been replaced by org-id.guide.

The following text should be updated:

This could take place as part of a wider re-write of this page to make it more concise and clear.

[2017-09-07 05:08] mireille-raad opened #564 "Asset building block after implementation stage"
I was wondering how to model assets.

If at the end of the project, the contract results in a new "asset", is there a way to model this?

I looked at the building blocks again, the closest thing i could find is an item. An asset could be multiple items or things like a building, a website, a report which is the product of a consulting service. etc...

So is there any extension for assets? how do y

[2017-09-11 16:08] LindseyAM commented on #564
In places that practice 'supply chain management', in addition to planning, procurement & contract management, there may be stages relating to asset management (logistics) and/or disposal. So, if the procurement results in eg vaccines, that there would be a system to track that those medicines are shipped/store/inventory managed properly and that they are used up/disposed of/sold properly. Current

[2017-09-12 02:50] mireille-raad commented on #564
thank you @LindseyAM  for the other example you shared....it is a very interesting one.
As for what we want to do, after the system in the city of bandungs processes a contract, if there is an asset, 2 things need to happen:

- Information about the asset need to be sent to the national govt.
- There is an asset management system in bandung that takes over management of the data and further contra

[2017-09-12 19:16] LindseyAM commented on #564
Thanks @dc-coder !

[2017-09-16 02:39] jpmckinney opened #566 "$schema should point to meta-schema incorporating our changes to JSON Schema"
Originally reported via email by @devgateway, quoted below:

The `$schema` section should define the meta-schema of the current schema. This is used by validation tools that comply with the standard, to correctly identify entities that are part of the schema. Further read on the standard page:

http://json-schema.org/latest/json-schema-core.html#rfc.section.7

and another third party page linked f

[2017-09-21 10:05] jpmckinney commented on #541
@kindly Please move https://github.com/open-contracting/json-merge-patch to the OpenDataServices GitHub organization. Just go to https://github.com/open-contracting/json-merge-patch/settings It should take 1 minute.

@timgdavies You suggested in #529 the removal of https://github.com/OpenDataServices/OCDSExtensionCreator from GitHub?

[2017-09-21 10:53] Bjwebb commented on #481
This is now merged into the master branch - https://github.com/OpenDataServices/cove/blob/master/README.rst#command-line-interface

[2017-09-21 12:44] duncandewhurst commented on #205
tagging @jachymhercher following discussions in Georgia.

Modelling complaints information was also of interest to Albania

[2017-09-21 12:56] Bjwebb commented on #552
I've tried reverting the most recent update to our Sphinx/recommonmark dependencies - https://github.com/open-contracting/standard/commit/aaf2b2a676aa60c153243f311871b99ab335269d - but the list of broken links is the same.

[2017-09-23 14:42] timgdavies commented on #541
I've moved json-merge-patch and removed OCDSExtensionCreator.

[2017-09-23 15:16] timgdavies commented on #552
I've assigned @duncandewhurst  in case Duncan has an opportunity to look at this before travels - as would be good if we can fix those links soon.

[2017-09-24 10:41] JachymHercher opened #571 "Edit tender.procuringEntity description"
Since the definition of procuringEntity is "The entity managing the procurement", I would expect that every procurement process should have at least one such entity. I think there is currently no such requirement for an OCDS contracting process. Shouldn't there be?

I'm also wondering whether saying "procurement process" instead of "procurement" in the description ("The entity managing the procure

[2017-09-24 10:56] JachymHercher opened #572 "Codelists with multiple selected values"
I have a general question about the OCDS modeling approach (and one that I'm asking myself also for the future EU standard).

Lists can be modeled in two ways: series of binary fields (a=1, b=0, c=1) or a codelist (x={a,c}). I think that in general, codelists are better because they make the standard shorter.  However, when a codelist can have multiple values, I think it's better to model it as a

[2017-09-24 12:10] jpmckinney commented on #541
Hmm, I still see json-merge-patch at https://github.com/open-contracting/json-merge-patch but not at https://github.com/OpenDataServices/json-merge-patch ?

[2017-09-25 12:26] duncandewhurst commented on #552
@Bjwebb does that mean this is now a manual task or are you still looking at Sphinx/recommonmark fixes?

[2017-09-25 17:49] Bjwebb commented on #552
I'm a bit stumped on Sphinx/recommonmark fixes. I think this is maybe something we'll revisit, but for now I think making the manual change makes sense.

It's probably easier for someone who has the tests setup locally to go through and fix these. I can do so on Wednesday if you want.

[2017-09-26 01:08] jpmckinney commented on #571
@JachymHercher Introducing a new required field would have to wait for version 2.0, as we aren't introducing backwards-incompatible changes before then. While there may always be a procuring entity, it may not always be known, e.g. if the dataset is being constructed by a civil society organization based on information that does not declare the procuring entity.

We can consider adding 'process' t

[2017-09-26 01:17] jpmckinney commented on #572
Let's take the `role` field as an example, and pretend the codelist is closed.

It's easier to add codes to a codelist than to add a field to an object in software implementations.

If `role` is a single field that is an array of codes, then software can simply read and report the values of the `role` field. If the software loaded the data in `partyRole.csv`, then it can also report the code's tit

[2017-09-26 01:36] jpmckinney commented on #572
In terms of the difficulty or hassle of, e.g. testing whether a party is a buyer, the more likely test is set inclusion (e.g. is 'buyer' in the set of `role` values?), rather than substring searching or explicit comparisons. It's possibly more of a hassle to have to know, in advance, which boolean fields represent the `role` values and to iterate through them, just to get the list of roles.

[2017-09-26 07:12] duncandewhurst commented on #552
That would be great, thanks @Bjwebb - let me know if you don't get round to it and I'll pick up later in the week.

[2017-09-26 13:45] JachymHercher commented on #571
2.0 change - sure.

"Not being known" - this argument could probably be applied to any field, no? For example, just as well, the procuringEntity might be known (e.g. a central purchasing body), but the buyer is not. However, buyer is a required field, right? Why treat these differently? I'd argue both are basic information about the process.

[2017-09-26 13:49] jpmckinney commented on #571
I don't believe `buyer` is required.

[2017-09-26 14:00] JachymHercher commented on #571
Ah, ok, then I'm wrong, nevermind :).

[2017-09-26 14:27] JachymHercher commented on #572
Fair points. This is a relevant difference between the EU standard and the OCDS. On the other hand, the EU standard wants to become more flexible while, I'm guessing, OCDS wants to become more stable, so perhaps they'll eventually meet mid-way - and thus could have the same approach.

Concerning software & titles & descriptions, I'm not sure I understand. In the schema, there are titles and descri

[2017-09-26 14:35] jpmckinney commented on #572
If we have a subsection like:

[code]

It's not clear to me that this is unambiguously better than:

[code]

For people using tabular data formats (Excel, SQL, etc.), there will need to be a transformation from the JSON to the tabular format; Excel, SQL, etc. cannot use JSON directly. So, I'm not clear on the advantage of structuring the JSON in a way that looks more 'tabular' (e.g. having lots of

[2017-09-26 15:53] JachymHercher commented on #572
You're right - this is better addressed with the right transformation to tabular data rather than trying to deal with it in the JSON (for the OCDS) or XML (for the EU standard).

(There's still a bit of truth in the fact that if people independently develop parsers for conversion into CSV, relational databases, etc., - which is our case in the EU - then the structure of the schema will influence t

[2017-09-26 16:33] JachymHercher opened #573 "Docson: Documentation's clarity on [1..] and null"
I've been looking at the top of the [Release schema](http://standard.open-contracting.org/latest/en/schema/release/) documentation and some things don't seem 100% clear. @jpmckinney explained them, but I'm opening this issue so that they can perhaps be  explained more clearly. I'm not a developer, so I might be missing things which are obvious.

1. What does `string [1..]` mean? Is it "Array of on

[2017-09-26 21:16] jpmckinney commented on #443
Removing from 'Post 1.1 tasks' milestone, as that milestone is more for 'cleanup'-type tasks.

[2017-09-26 21:27] jpmckinney commented on #443
From #385, @JachymHercher's [comment](https://github.com/open-contracting/standard/issues/385#issuecomment-249439581) provides a [link](http://simap.ted.europa.eu/documents/10184/99173/EN_F03.pdf) to an EU form, to provide some real-world context for how award criteria are collected and represented.

![screen shot 2017-09-26 at 5 26 59 pm](https://user-images.githubusercontent.com/26463/30885064-e

[2017-09-26 22:07] jpmckinney opened #574 "Tender: Margin of preference (price coefficients)"
Related to #443.

For example, the Kyrgyz e-GP system includes a web form with a “benefits domestic bidders” boolean field that is associated with a number field for the percentage-wise preference for domestic prices as well as a free-text note field.

We compared this example to giving a price preference to a bid that has a guarantee/warranty on the item. After working through different scenarios

[2017-09-26 22:10] jpmckinney opened #575 "Structured amendment information"
#357 removed the limited structure from `amendments` in OCDS.

However, amendments exist as structured data in Kyrgyz's e-GP system, and this structured data is useful and valuable. In OCDS, if we were to use only what’s available in the core standard, we would need to transform Kyrgyz’s structured data into text and put it in the `description` field. Their structured data may be possible to rebui

[2017-09-27 10:21] Bjwebb commented on #552
To fix some of these I need to make a change to https://github.com/open-contracting/ocds_sphinx_directives. I don't seem to have push access to this any more, @jpmckinney could you grant me access?

[2017-09-27 13:48] jpmckinney commented on #552
Access issue is related to https://github.com/open-contracting/standard-development-handbook/issues/12 (Previously, almost all of ODS was an 'owner' of the org.) I added that repo to the Developers team, but we should really just schedule 30 mins to configure teams properly.

[2017-09-27 13:53] jpmckinney commented on #552
By the way, @robredpath and @timgdavies are still owners. We can swap these around, but I prefer just two owners per organization: https://github.com/open-contracting/standard-development-handbook/issues/18#issuecomment-331143065

[2017-09-27 13:56] Bjwebb commented on #552
Thanks. @robredpath and @timgdavies probably make sense as owners, they just both happen to be away this week!

[2017-09-27 21:02] jpmckinney opened #577 "relatedProcess: Deprecate 'framework' code"
Per the decision in #371 which I suppose was accidentally not implemented.

[2017-09-27 21:02] jpmckinney commented on #577
cc @JachymHercher

[2017-09-27 21:11] jpmckinney opened #578 "partyRole: Change description of 'buyer' code"
Originally reported by @timgdavies https://github.com/open-contracting/ocds_parties_extension/issues/5 and https://github.com/open-contracting/ocds-extensions/issues/12

The current definition of 'Buyer' is "The buyer is the entity whose budget will be used to purchase the goods."

This appears wrong on a number of levels.

(1) We now recognise (via an extension) multi-source budgets;

(2) OCDS do

[2017-09-28 08:57] timgdavies commented on #575
Can you give an example of the Kyrgyz structure data?

The [updated approach to amendments](http://standard.open-contracting.org/latest/en/implementation/amendments/) narrows our model to just using publication of 'before' and 'after' values using multiple releases in a single package.

For organisations who have only the delta stored, then they would need to reconstruct the before release. But I

[2017-09-28 09:00] timgdavies commented on #574
Could this not be modelled using [requirements/features](https://github.com/open-contracting/ocds_requirements_extension) (which still need separation into two rather than one extensions I believe), with an indication of when the feature has an influence on price vs. quality scoring?

With either that option, or the above, we will need to think about how to make this maximally comprehensible to th

[2017-09-28 14:50] jpmckinney commented on #575
The system is at https://trade.okmot.kg/ but it requires a long, formal registration process.

There are at least two uses cases here, and each creates a burden on the user of the data.

If a user wants to answer, "What did the tender notice look like at time X?", then the current approach is the least work.

If a user wants to answer, "What is the history of amendments to the contracting process?

[2017-09-28 14:57] jpmckinney commented on #575
Anyhow, I would have to double-check whether Kyrgyz tracks additional data elements outside what is available in `amendments` or expressible as literal value changes over time. The extension would be to satisfy those additional requirements (if any), and would otherwise be a simultaneous and alternative way of expressing amendments.

Noting that the release process (and its interaction with amendm

[2017-09-28 15:00] jpmckinney opened #580 "Review Publication conformance"
As briefly discussed in https://github.com/open-contracting/standard/issues/575#issuecomment-332863377, the Publication conformance statement should likely describe conformant use of releases, as correct use of OCDS goes beyond schema and semantics and interacts with process (publishing releases over time) and packaging (record and release packages).

[2017-09-28 15:02] jpmckinney opened #581 "Review Validator and application conformance"
http://standard.open-contracting.org/latest/en/schema/conformance_and_extensions/#validator-and-application-conformance

The present statement doesn't, for example, require validators to validate data against the schema, nor which schema to support.

We may want to use this section to distinguish between the concepts of validity, conformity and quality (or instead/also on http://standard.open-cont

[2017-09-28 15:27] jpmckinney commented on #574
Price coefficients are distinct from requirements or criteria (there's no question of 'satisfying' a price coefficient), but yes, there is overlap in the modelling. 'Criterion' in CCCEV is defined as "something used as the basis for making a judgement or decision, e.g. a requirement set in a public tender or a condition that has to be fulfilled for a public service to be executed."

Whether the bi

[2017-09-28 16:57] jpmckinney opened #582 "Review Extensions conformance section"
Possible new requirements for extensions:

* All definitions and properties must set a `title`, `description` and `type`, unless they are originally defined in the core schema or in another extension. https://github.com/open-contracting/standard/issues/603
* If `openCodelist` is `true`, `enum` must not be set.
* If `openCodelist` is `false`, `enum` must be set. https://github.com/open-contracting/

[2017-09-29 00:55] jpmckinney opened #583 "All TODOs from documentation"
These are in HTML comments on the following pages:

* **getting_started/building_blocks.md**: Add section on mapping - including links to mapping tools
* **getting_started/index.md**: You can find [samples of OCDS data](ToDo), and [information on using OCDS](ToDo) in the implementation handbook.
* **schema/index.md**: Consider adding diagram here
* **schema/reference.md**: Add example (milestones)

[2017-09-29 02:20] jpmckinney opened #584 "Document (and universally implement) the modification of codelists by extensions"
Moving https://github.com/open-contracting/standard_extension_template/issues/2 here.

[2017-09-29 02:26] jpmckinney commented on #584
It seems the only present documentation is the code itself? https://github.com/open-contracting/public-private-partnerships/blob/master/schema/apply-extensions.py#L119

[2017-09-29 14:31] jpmckinney opened #585 "Approval of renegotiations / amendments"
Moved from https://github.com/open-contracting/public-private-partnerships/issues/93

[2017-09-29 14:45] jpmckinney opened #586 "Guidance: Data quality for documents"
Originally reported by @timgdavies at https://github.com/open-contracting/public-private-partnerships/issues/7

(Reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects))

At lot of use-cases rely upon information that is found inside documents. At the moment our validati

[2017-09-29 16:04] jpmckinney commented on #572
This has been a good discussion. I'm not clear that any action is required, so closing, but I'm happy to re-open if there is more to follow-up on.

[2017-09-29 16:04] #572 closed, assigned to nobody

[2017-09-29 17:07] jpmckinney opened #587 "Documentation of validation rules / Certification of validators"
* [x] We should author the additional validations performed by CoVE as prose acceptance tests, so that other validators know what to target.
* [ ] We should provide test files for each acceptance test (e.g. having a mismatch between `contracts/awardID` and `awards/id`). These should presumably already be in CoVE's test suite.
* [ ] (This requires more thought:) We should write instructions for aut

[2017-09-29 17:08] jpmckinney commented on #587
cc @timgdavies @mpostelnicu

[2017-09-29 18:49] jpmckinney opened #588 "PDF version of documentation"
@dc-coder produced a PDF version, attached and described in this discussion group message: https://groups.google.com/a/open-contracting.org/d/msg/standard-discuss/49fVlsEq0Gk/zbVdaxtxAwAJ

Of course, the PDF doesn't have an interactive schema viewer, a live-updating list of extensions, etc. but we can consider how some PDF version of the documentation (that will not be identical to what is availab

[2017-10-02 12:42] Bjwebb commented on #588
That attached PDF looks pretty good, but some of the tables are cropped (tables in PDF are usually a pain!):
![image](https://user-images.githubusercontent.com/634/31076279-4860e5e2-a771-11e7-9610-fcd0db445216.png)

I've added my suggestion to that thread, but it suffers from the same problem.

A different way of generating a PDF of sphinx docs is via the latex output. I have tried this for the OC

[2017-10-02 17:11] jpmckinney commented on #552
@Bjwebb Is this issue fixed by #579 and can be closed, or is there a reason to keep it open?

[2017-10-03 08:12] Bjwebb commented on #552
This is fixed now.

[2017-10-03 08:12] #552 closed, assigned to Bjwebb

[2017-10-04 21:42] jpmckinney commented on #549
PRs opened #590, #591

[2017-10-05 09:47] ColinMaudry commented on #407
Is there any progress on this topic? That's the last missing bit for the [French format](https://github.com/etalab/format-commande-publique) to have all its fields [neatly matching OCDS](https://framacalc.org/france-vs-ocds).

[2017-10-05 16:55] jpmckinney commented on #407
@chriscrownagents describes the case of the purchaser varying the quantities at time of award, within percentage limits predefined at the tender stage.

@ColinMaudry describes a three-value codelist describing whether the award value can change. This can't be represented as a boolean, because a boolean is two-value. The [JSON schema](https://github.com/etalab/format-commande-publique/blob/370ed2f9

[2017-10-05 16:58] jpmckinney commented on #407
My thinking around an array of strings is that it would allow the field to be promoted to a community or core extension, by leaving open the possibility of additional award value modalities. However, keeping it as a simple single-string field would ensure that data doesn't use multiple disjoint codes like `["fixed", "revisable"]`. That validation advantage may be sufficient reason to instead have

[2017-10-05 17:18] ColinMaudry commented on #407
@jpmckinney I'm glad you could find the bit that is at stake here in the French format :)

I'm all for a solution that can serve as many countries as possible. I liked the boolean option because it works for everybody: either the value can change after the award, or it can't.

I don't like the array of strings, as it can get complex to analyze certain combinations of values.

**My favorite option

[2017-10-05 17:32] jpmckinney commented on #407
Sounds good. We know we need at least the string codelist field to model the French data. If at a later date we realize that it is critical to know for certain whether a price is fixed or not, we can consider adding a boolean in addition to the codelist.

I had a quick look around, and I might prefer `awardValueVariability` instead of `…Modifiability`. It seems that word might be more common, but

[2017-10-05 19:08] jpmckinney commented on #481
Merged and therefore closed.

[2017-10-05 19:08] #481 closed, assigned to nobody

[2017-10-05 19:18] jpmckinney commented on #388
The specific page this issue is about is http://standard.open-contracting.org/latest/en/implementation/levels/

[2017-10-05 19:18] jpmckinney commented on #527
Fixing the link to mapper is continued in https://github.com/open-contracting/standard/issues/409

Updating this page's text is continued in https://github.com/open-contracting/standard/issues/388

[2017-10-05 19:18] #527 closed, assigned to nobody

[2017-10-05 19:19] jpmckinney commented on #383
Noting that this comes up at every training I've co-facilitated so far (Kiev, Tbilisi).

[2017-10-05 19:21] jpmckinney commented on #339
This has come up as a governance issue, regarding concerns that OCP can act as an authority, deciding who gets a prefix or not.

[2017-10-09 15:45] dc-coder commented on #451
I am looking at some procurement data in the world bank and a lot of pieces of information have to be provided in en, fr, es, ru and ar. This might be true for other international organizations.

I am not sure if this goes under a new issues or if this add to this issue and to broadening the scope of internationalization... just thought to flag it.

[2017-10-09 15:48] mireille-raad commented on #229
I was  just wondering about this as I was looking at the bank's procurement data. If i have any thoughts or contributions on this, i'll share.

[2017-10-10 17:56] #549 closed, assigned to nobody

[2017-10-10 21:00] mireille-raad opened #593 "Multiple sectors with percentages"
I know that the PPP extension offers some modeling for how to do sectors

![screen shot 2017-10-10 at 4 53 21 pm](https://user-images.githubusercontent.com/521705/31409953-9a4db02c-addb-11e7-987e-2b78da9edc98.png)

Is there a way to model multiple sectors in the core ocds for a project? along with a percentage for each sector?

Here is an example:

[code]

Another example

[code]
Any suggestion fo

[2017-10-10 22:43] mireille-raad opened #595 "Region (global) vs Region (local)"
Region can be global and mean something like "East Asia and Pacific" or "Latin America"
but also it can mean something that is one level below country.
For example

[code]

Does OCDS treat these 2 regions differently? is there any way to support the "higher-level" region?

[2017-10-11 20:34] jpmckinney commented on #595
Region here has the meaning as in [vCard](https://tools.ietf.org/html/rfc6350#section-6.3.1), [Schema.org](http://schema.org/addressRegion), etc. which is to say something like a state or province, which (in most cases) is the administrative level below the national level.

There is no support for the higher-level region, but this is derivable from the country.

[2017-10-11 21:15] jpmckinney commented on #593
@dc-coder What is the real-world information that this is meant to represent? I'm not familiar with the source information/data, so an example/sample would be helpful.

[2017-10-12 13:52] timgdavies opened #596 "Bug: missing awards/contracts in release reference"
Reported by @juanpane, in the table at http://standard.open-contracting.org/latest/en/schema/reference/#release 'awards' and 'contracts' are not displaying.

This appears to be because of a typo in the directive:

[code]

instead of the plural

[code]

I'll work on a PR for this.

[2017-10-12 14:10] #596 closed, assigned to timgdavies

[2017-10-12 16:23] mireille-raad commented on #593
well, this is real data from a world bank procurement project. Bigger data set can be found on:
https://data.worldbank.org/data-catalog/projects-portfolio
http://search.worldbank.org/api/v2/projects

Basically a project could have 2 or more sectors sectors (i've seen up to 5), for example they are doing an electric grid (sector is energy transmission and distribution) but they are also laying ICT

[2017-10-12 16:29] mireille-raad commented on #595
Thanks for the help. Before I close the issue, is there any interest in supporting a higher level structure for region? or out of scope/interest of OCDS?

[2017-10-12 17:21] alexter42 opened #598 "Appeal information | Información sobre las inconformidades"
This issue is under consideration for an extension to OCDS 1.1
(Texto en español abajo)
### Issue
In Mexico, appeals are a legal contesting instrument that bidders can present against certain acts related to both the tender and the award processes.
Appeals can be presented in the following cases:

1. To the *call for tenders* and clarification meetings.
2. When a selective procurement method is ch

[2017-10-12 17:32] jpmckinney commented on #595
If there is a sufficiently strong or common use case, then it can be considered for inclusion. However, there are multiple inconsistent classification systems for higher-level regions. As the higher-level region is easily derivable from the country, I think it's suitable to leave this as a user operation to enrich a dataset, if they want to perform analysis that compares higher-level regions.

[2017-10-12 18:13] jpmckinney commented on #593
In PPP, `Project` has a field `additionalClassifications` defined as "Additional sector classifications", which can be used to model multiple sectors. `sector` is used for the "main sector".

However, there is no mechanism to express sector percentages.

As we already have a mechanism for expressing sectors, which reuses the `Classification` building block, we would likely model sector percentages

[2017-10-12 19:06] alexter42 commented on #598
Appeal: {
"id":"",
"title":"",
"appellant:"",
"object":"",
"receptionDate":"",
"rationale":"",
"description":"",

}

[2017-10-12 21:57] antonioherrera opened #599 "Cotizaciones | Request for quotes [ES] [EN]"
_Text in english below_

# Versión en español

## Asunto
En México, antes de iniciar un procedimiento de contratación es obligatorio realizar cotizaciones (entre al menos tres posibles proveedores) cuando se trata de adjudicaciones directas. Sin embargo, también es posible realizar estas cotizaciones en procedimientos de licitación pública e invitaciones a cuando menos tres personas. Las cotizacio

[2017-10-17 13:19] robredpath commented on #339
Concerns that we talked about:
- Some people don't want OCIDs to be public, especially if they're very early in their implementation
- We've always found this a complex problem to solve
- We do want to capture OCIDs and details as people register
- MVP may be an autogenerated OCID and an email to us to contact them and see if they're ready to be registered

[2017-10-17 20:41] LindseyAM commented on #395
This issue came up again today.  "Terminated" could be changed to "Ended" or something not as loaded with meaning.

Looking forward to insight from @ekoner and @lmanasco about how this field is being used.

[2017-10-17 21:28] jpmckinney commented on #339
By 'OCID' I assume you mean 'OCID prefix'.

Can we expand a bit on what we've found complex? e.g. if we would want publishers to come back when they are ready for their prefix to become public, they would need a way to authenticate themselves. (That doesn't necessarily imply logins; if they use a government domain as their email address, we can use that in a sort of email-based transaction, in whi

[2017-10-18 17:08] timgdavies commented on #409
Final reference will be removed by https://github.com/open-contracting/standard/pull/600

[2017-10-18 17:08] #409 closed, assigned to nobody

[2017-10-18 17:10] timgdavies commented on #541
Sorry - my mistake. Missed confirming if when I looked this before.

[2017-10-18 17:10] #541 closed, assigned to kindly, timgdavies

[2017-10-19 16:11] BobHarper1 opened #601 "A link title is out of date on implementation/hosting.md"
The link 'Data on the Web Best Practice #15' (to https://www.w3.org/TR/dwbp/#dataFormats on multiple file formats) is out of date - this is now number 14 on that list (it might have changed position in a recent version of the guidance). Might be best to just remove the number in case it changes again?

https://github.com/open-contracting/standard/blob/1.1-dev/standard/docs/en/implementation/hostin

[2017-10-20 15:17] edugomez opened #602 ""patternProperties" accepts almost anything as a property name"
This is related to this issue in Cove https://github.com/OpenDataServices/cove/issues/679

As long as you add an underscore, almost anything goes as a property name. e.g. ```whatever_name``` is not detected as an additional field in Cove OCDS (whilst ```whatevername``` is correctly identified as extra). I haven't inspected the regex in depth, but it clearly needs to be more restrictive.

I'd like

[2017-10-20 18:21] jpmckinney commented on #602
To reproduce at http://standard.open-contracting.org/validator/:

[code]

[2017-10-20 18:43] jpmckinney commented on #602
I think this may be more a CoVE issue than a schema issue. The schema allows people to create new properties, regardless of `patternProperties`. If we wanted to enforce conformance to either explicit fields in `properties` or fields matching the patterns in `patterProperties`, we'd have to set `additionalProperties` to `false`.

[2017-10-20 20:03] jpmckinney commented on #602
All `patternProperties` in the core schema allow adding BCP 47 language tags to properties like `title` (e.g. `title_en-GB`). So, there's a limit to what fields can be added that match the pattern.

I think that sufficiently clarifies the issue – and I don't think the intention is to prevent additional properties, which would be a major backwards-compatibility issue.

Will continue in OpenDataServ

[2017-10-20 20:03] #602 closed, assigned to nobody

[2017-10-20 20:46] jpmckinney commented on #601
We can remove the number, and change the link to either `https://www.w3.org/TR/dwbp/#MultipleFormats` or `https://www.w3.org/TR/dwbp/`.

[2017-10-21 11:13] BobHarper1 commented on #601
Thanks, probably https://www.w3.org/TR/dwbp/#MultipleFormats will be best, even if the anchor changes we go to the right page

[2017-10-23 11:51] timgdavies opened #603 "Description for Value and Milestone objects"
release-schema.json currently lacks a `description` field for `#definitions/Value`. (See [release-schema.json#L1761](https://github.com/open-contracting/standard/blob/1.1-dev/standard/schema/release-schema.json#L1761)

Wherever `value` is used, a description exists, so this should not be a major issue for implementations, but it may have some consequences for mapping templates and other tooling.

[2017-10-23 15:32] edugomez commented on #498
What do we expect to see here:

1 - _MaxExtentDate date-time, null_

or

2 - _MaxExtentDate string, null (format: date-time)_

or something else?

The (expected) behaviour of ```docson.js``` is to replace ```type```(s) with ```format```

I think that 1 could be enough, as _date-time_ (or _uri_) is a subset of string (in this context, i.e. a type in a specific format). However, I'm not sure how cle

[2017-10-23 15:36] timgdavies commented on #601
A pull request with the fix is in #604 and translations ready in Transifex.

[2017-10-23 15:48] #601 closed, assigned to timgdavies

[2017-10-23 16:00] timgdavies commented on #599
Thanks you for such a clear extension description and proposal. I've worked through a number of steps to review the proposal, noted below:

**(1) Checking for any existing extensions or approaches to meet the need described**

As a general principle, we always look in OCDS to see where existing structures can be re-used, so I have evaluated against your initial description whether [the model of th

[2017-10-23 16:29] timgdavies commented on #598
There is some similarity here to the discussion of complaint information in #205

@alexter42 @juanpane In your view, are complaint, protesta and appeals all the same concept?

If so - this is a very good issue for us to move something that could be a core OCDS extension in future.

The next steps for that would be to compare the work in #205 with the modelling suggested above, to see whether they

[2017-10-23 16:36] timgdavies commented on #595
I'd support the view that higher level regional classification of **address** is out of scope for OCDS.

However, the [location extension](http://standard.open-contracting.org/1.1/en/extensions/location/) can be used to declare any sort of [location gazetteer](http://standard.open-contracting.org/latest/en/extensions/location/#example), so in theory you could re-use that to classify other objects

[2017-10-23 16:36] #595 closed, assigned to nobody

[2017-10-23 16:42] timgdavies commented on #593
This kind of information feels too high-level for OCDS: as it's more about the 'project' than the contracting process.

Project-level standards like the International Aid Transparency Initiative have good approaches to [allocating projects to sectors](http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/sector/#attributes), but I'm not sure it fits well into OCDS.

That said

[2017-10-23 16:43] jpmckinney opened #605 "Improve packaging documentation"
We introduce the concept of [releases and records](http://standard.open-contracting.org/latest/en/getting_started/releases_and_records/) on one page, and we briefly talk about how to package them [halfway down another page](http://standard.open-contracting.org/latest/en/getting_started/publication_patterns/#packaging-releases-and-records). There's also some discussion of [APIs](http://standard.ope

[2017-10-23 16:49] jpmckinney commented on #498
I think for clarity that we should pursue something like 2 which separates the type information from the  format information.

[2017-10-23 16:57] jpmckinney commented on #593
Hmm, but the `Classification` building block is shared by many parts of the standard, and in most other contexts `percentageAllocation` is meaningless.

This raises the issue I've considered since the August workshop in Kiev, which is that when extensions extend a building block to make a new field available in one part of the schema, those extensions (unintentionally) make it available wherever t

[2017-10-23 17:02] jpmckinney opened #606 "Guidance around extending subschema (building blocks)"
If an extension extends the `Period` building block with a new field, because the publisher wants to add a detail or nuance to `awardPeriod`, that extension will also effectively make that new field available to all other Period objects (`tenderPeriod`, `enquiryPeriod`, `contractPeriod`, `award/contractPeriod`, `contract/period`). However, that new field may be meaningless or incoherent in those o

[2017-10-23 21:10] jpmckinney commented on #603
It has also been reported that `#definitions/Milestone` lacks a description.

[2017-10-24 09:07] timgdavies commented on #605
Agreed. I think more worked examples, and some really good documentation design can help us here to better communicate the key points.

[2017-10-24 09:16] timgdavies commented on #606
I've been thinking about this a bit too, both in terms of how we maintain the schema itself, and how we manage extensions.

I can see two options that might allow us (in a 2.0 most likely, though perhaps in backwards compatible ways) to increase the flexibility of extensions. (Not suggesting these strongly at all right now - just exploring).

**1. Factoring out each building block to it's own file

[2017-10-24 12:00] Bjwebb commented on #554
First attempt at a script in https://github.com/open-contracting/standard/commit/f5488f36dce1507806faecd1b357d47bf6202530

This withdrawn codes (that might be needed for historic data), and a new column for the withdrawn date.

There's a problem with duplicate codes, because the upstream lists currencies per country, and some currencies were withdrawn in different countries on different dates.

[2017-10-24 12:34] Bjwebb commented on #554
I've now fixed the duplicates, see https://github.com/open-contracting/standard/pull/607/files

[2017-10-24 15:23] jpmckinney commented on #606
I agree with this direction (offering the choice of extending the building block itself, or extending its specific instance in one part of the schema). I haven't thought through which implementation is preferred.

I think we can continue to use references to definitions for objects like Tender, Award, etc., as these are only referenced once; I find the schema easier to read by having those organiz

[2017-10-24 19:08] jpmckinney commented on #605
Documenting a couple possible patterns to include in the documentation:

1. If a publisher intends to provide a single bulk download of all *releases*, they should publish a single release package containing all the releases.
1. If a publisher intends to provide a single bulk download of all releases *organized by contracting process*, they should publish a single record package containing one rec

[2017-10-24 19:09] jpmckinney commented on #605
cc @juanpane

[2017-10-26 13:12] jpmckinney commented on #498
closed by #608

[2017-10-26 13:12] #498 closed, assigned to edugomez

[2017-10-30 15:08] juanpane commented on #603
the release object itself is also missing the description

[2017-11-02 13:49] jpmckinney commented on #566
It may be possible to simply re-use this (reformatting that info as JSON): https://github.com/open-contracting/standard-maintenance-scripts/blob/master/tests/test_json.py#L42-L57

[2017-11-02 19:31] #554 closed, assigned to Bjwebb

[2017-11-03 11:07] kindly commented on #566
@jpmckinney thanks for the link that was helpful.

In pull request #611 in the schema directory there is an adaptation of the draft-04 schema which is more strict (uses additionalProperties: false) and covers our use.  It is also configured to run in the tests so travis will pick up issues.  There is still some work todo on adding title and description tags to the fields we have added which @timgd

[2017-11-03 14:55] jpmckinney commented on #566
Hmm, but isn't the JSON document we are extending (http://json-schema.org/draft-04/schema#) the 'official draft schema to validate against'? Our meta-schema, itself, would have a `$schema` of `http://json-schema.org/draft-04/schema#`, but its `id` would be different.

Are libraries just looking at the string 'http://json-schema.org/draft-04/schema#' and deciding on a bunch of rules to apply, indep

[2017-11-03 16:38] kindly commented on #566
From my understanding there are non-schema rules across drafts that do change and that we can not be assured of them not in future.
For example the usage of required changed from being a boolean in properties to a list between draft 3 and 4 and the python library we use ended up special casing how properties worked in them:
https://github.com/Julian/jsonschema/blob/master/jsonschema/_validators.py

[2017-11-03 16:53] robredpath commented on #339
My understanding is that the story broadly goes like this:
- We want people to be able to generate their own OCID prefixes, as this is a largely mechanical task carried out by helpdesk, and some people are using their own prefixes
- We maintain a public register of known prefixes, but we always ask people's permission before adding them to this list because we don't want to accidentally reveal an

[2017-11-03 20:40] jpmckinney commented on #339
Good summary of the issues.

In terms of benefit, a concern was raised around governance and control: that one entity, however altruistic at present, could decide at a later date to withhold issuing a prefix or not recognize a self-generated prefix (creating a 6-character alphanumeric string is easy, but that's different from having it recognized by an issuer). A self-service tool would somewhat r

[2017-11-03 20:44] jpmckinney commented on #339
Also, separately, where do we document the operation of the current Google Form? I think we can do my proposal by having a public Google Form, which populates a spreadsheet, in which we can set a cell in a "Disclose requester's details?" column to "Yes", and then have a separate sheet that publishes all the prefixes, and then only publishes requester's details if that column is "Yes".

Who the own

[2017-11-03 20:51] jpmckinney commented on #566
I mainly just want to kick the tires on this, so that we don't do things one way, and then decide at a later date that we should have done it the way the JSON Schema draft recommends all along.

Could you describe the specific work that would have to be done in a minor bump, while it's still fresh?

[2017-11-04 12:46] kindly commented on #566
In a minor version bump we should do the following:

**Governance**
- As this is a change to our JSON schema and it arguably a semantic change I think  we should go through a advisory discussion like all the changes that happened in 1.1
- We have to decide if we are adding this only to the new versions of the schema or we also do this to a new patch releases of 1.0 or to all existing schemas.
- Ha

[2017-11-04 16:27] jpmckinney commented on #566
Thanks!

I think JSON Schema recommends `allOf` not `anyOf` for extending itself. You mentioned error messages being more opaque when using `allOf`. But in terms of benefit, would `allOf` mean that our extended schema could be shorter, instead of repeating all of draft-04?

[2017-11-07 13:53] timgdavies commented on #563
I've opened a pull request (#612) to address this in the short term by removing the paragraph, and am adding a wider note to planning docs about refactoring documentation more completely.

This should be able to go into live copy as part of 1.1.2 deploy on Friday.

[2017-11-07 14:12] #563 closed, assigned to timgdavies

[2017-11-07 14:33] jpmckinney commented on #325
Noting a need for this was expressed in the context of a government having multiple authors of releases, and needing to trace back which entity authored a release within a package.

[2017-11-08 09:45] kindly commented on #566
I think using allOf would mean that we still need to copy the whole schema. This is also due to to having additionalProperties: False as our meta-schema would have to have all the properties too (or at least the ones we use) for it to pass.  So we get bad error messages (these consist of basically saying that all of the schemas did not pass without saying why) without any gains in brevity.

My sug

[2017-11-08 11:16] Bjwebb commented on #588
I've created some PDFs of my own:
[OCDS_en.pdf](https://github.com/open-contracting/standard/files/1453567/OCDS_en.pdf)
[OCDS_es.pdf](https://github.com/open-contracting/standard/files/1453568/OCDS_es.pdf)
[OCDS_fr.pdf](https://github.com/open-contracting/standard/files/1453569/OCDS_fr.pdf)

Unfortunately, a couple of tables are still cropped (but only codelists, schema tables look okay).
On the p

[2017-11-08 13:38] jpmckinney commented on #566
Ah, true. All sounds good.

[2017-11-09 16:21] julijahansen commented on #339
Just noting down some potential issues we could encounter by making the ocid prefix registration open to all publishers:
- How do we handle multiple prefixes being registered for the same publisher (this could happen if e.g. several different people from the same organization use the tool to generate a prefix)
- For cases with multiple prefixes registered for one publisher, how do we select one to

[2017-11-09 16:59] kindly commented on #566
Pull request #611 now separates draft-04 from the patch we apply to it. It has tests too make sure the patch is applied if it modified.

[2017-11-10 20:29] jpmckinney opened #614 "Reword use cases page"
The 'use cases' on this page are more like 'goals'. http://standard.open-contracting.org/latest/en/getting_started/use_cases/ My understanding of nomenclature is:

* goal: 'Value for money'
* outcome: Related to the goal of value for money, my desired outcome is 'More bidders per process', as my hypothesis is that more competition leads to lower cost to government.
* indicator: I design a methodol

[2017-11-13 15:00] timgdavies opened #616 "Extensions: representing the workflow of budget approvals"
This issue explores a potential approach to representing budget-related workflow data.

### Requirement

A case has come into the helpdesk where a business process similar to the following occurs:

* (1) A contract is planned, and the budget requirements identified;
* (2) The tender is conducted;
* (3) An award is made;
* (4) Before the contract is signed, the availability of budget must be verifi

[2017-11-13 15:16] julijahansen commented on #598
We have been reviewing this issue alongside the complaint information issue #205 and we propose the following extension model to capture both appeal and complaint information:

**Proposed model:**
- ```objections``` array will sit inside the ```tender``` object and will be used to capture information relating to complaints, appeals and claims
- We will add 2 new roles to the ```parties.roles``` op

[2017-11-13 15:19] timgdavies commented on #614
We had a good discussion with a user researcher a few weeks ago, whose basic take was: the terminology is used very differently by different communities of practice - so the important thing is finding your terminology and being consistent about it.

I don't think we want to go down the line of the [very atomistic use case language](https://en.wikipedia.org/wiki/Use_case) from software and systems

[2017-11-13 17:04] jpmckinney commented on #614
A challenge is that we are moving towards describing more granular use cases (not as atomistic as software though), e.g. "As a researcher at a corruption monitoring organization (NGO), I use contracting data to find single-bidder or low-bidder processes as an indicator of corruption risk." (I think we can settle on an approach that just looks at the meaning of the words we use; in this example, th

[2017-11-13 18:26] timgdavies commented on #598
This looks good. I wonder if we can include `documents` just at the level of the individual objection, rather than also in `resolution`. If we did include it in `resolution` we would need to have `resolution.id`, as in order to allow flattening of data to work, the parent of any array of objects needs to have an `id` property.

I did want to just run a thought-experiment test of a quick alternativ

[2017-11-14 01:22] antonioherrera commented on #599
Thank you Tim for taking your time in this extension.

I was considering all your questions and I tried to solve them:

- As you noted, the justification to have a "text" field rather than a `title` and `description` was because it refers the exact text that is included in the request for quotes. However, I don't think there is strictly necessary to name it `quoteRequestText`, and I agree in addin

[2017-11-14 03:28] jpmckinney commented on #603
I wrote code to find them all (11):

[code]

[2017-11-14 03:59] jpmckinney commented on #603
Once these are added, I can remove some code in test_json.py that repairs the schema.

[2017-11-14 09:26] julijahansen commented on #598
Thanks for your comments @timgdavies! I have removed ```documents``` from the ```resolution``` object, as you suggested, so now it only exists at the  ```objections``` level. Thank you for also proposing an alternative model using the ```updates``` array. I do agree that it allows for more flexibility, however as you mentioned it might not encourage as much disclosure of complaint/appeal informati

[2017-11-14 14:22] jpmckinney commented on #588
Last steps to close issue (based on call):

- [x] Push print CSS styles
- [x] Generate the PDFs from the live site so that the links work
- [ ] Decide how and where to publish the PDFs
- [ ] @timgdavies had ideas about branding? (e.g. tool can insert cover page, header, footer)

[2017-11-14 16:56] julijahansen opened #619 "documentType: Add 'priorInformationNotice' code"
We got a request to add 'priorInformationNotice' to the open ```documentType``` codelist, as prior information notice is one of the most common forms in procurement process.

[2017-11-14 17:15] timgdavies commented on #619
Sounds good - can you check around for a possible definition we could use against the codelist entry?

This would need to be part of a 1.2 upgrade I think.

[2017-11-14 18:46] jpmckinney commented on #619
[GPA](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) has "**notice of intended procurement** means a notice published by a procuring entity inviting interested suppliers to submit a request for participation, a tender, or both;"

[2017-11-14 18:52] jpmckinney commented on #619
[EU](http://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32014L0024&from=EN) has no explicit definition as such, "Contracting authorities may make known their intentions of planned procurements through the publication of a prior information notice."

[2017-11-14 18:53] jpmckinney commented on #619
So, I suppose we can decide between 'priorInformationNotice' and 'IntendedProcurementNotice'.

[2017-11-14 21:36] jpmckinney opened #620 "get-readmes.py should not reference local user's home directory"

[2017-11-14 23:47] antonioherrera opened #621 "Juntas de aclaraciones | Clarification meetings [ES] [EN]"
_English version below_

# Versión en español

## Asunto
En México, es obligatorio realizar al menos una junta de aclaraciones con asistencia voluntaria por parte de los licitantes con el objetivo de responder dudas relacionadas con la convocatoria o  con las modificaciones que se le hayan realizado. Estas juntas se realizan en los procedimientos competitivos (licitación pública e invitación a cua

[2017-11-15 00:03] antonioherrera opened #622 "Método de pago | Payment method [ES] [EN]"
_English version below_

# Versión en español

## Asunto
El método de pago es un dato que puede ser útil para entender el medio por el cual se reciben los pagos asociados a un contrato. En México, desde el INAI tenemos este dato en nuestro sistema y es obligatoria su publicación de acuerdo con nuestra Ley General de Transparencia y Acceso a la Información Pública.

## Propuesta
Agregar el atributo

[2017-11-15 00:31] antonioherrera opened #623 "milestoneType: Avisos a la población | Public notices [ES] [EN]"
# Versión en español

## Asunto

En México se solicita la publicación de información relacionada con las obras públicas que detalle el cierre de calles, cambio de circulación, etcétera.

## Propuesta
Agregar una opción a la lista de códigos “Tipo de hito”

- Avisos a la población

## Definición de textos

Título | Descripción
-- | --
Avisos a la población | Para hitos en los que se especifiquen as

[2017-11-15 01:21] antonioherrera opened #624 "Estatus de la ejecución | Implementation status [ES] [EN]"
# Versión en español

## Asunto

En México, cuando se trata de obras públicas o servicios relacionados con ellas es necesario publicar un conjunto de variables específicas sobre su ejecución. Una de ellas es la etapa de la obra pública o servicio relacionado con la misma. Se trata de una lista de códigos cuyos valores son:

- en planeación
- en ejecución
- en finiquito

# Propuesta
Agregar el atri

[2017-11-15 01:25] antonioherrera opened #625 "Justificación de la adjudicación | Award rationale [ES] [EN]"
# Versión en español

## Issue

La justificación de la adjudicación es un breve texto que se refiere a las razones por las cuales se adjudicó a un proveedor o contratista en particular. Es un dato que puede ser útil para entender de manera sencilla la conclusión de la evaluación de propuestas. En México, es obligatoria su publicación de acuerdo con la Ley General de Transparencia y Acceso a la Inf

[2017-11-15 19:29] JArielMG commented on #625
The following example shows the location where a new field called "award rationale" is added

Worked example:
[code]
I would welcome views on this suggested modelling.

[2017-11-16 00:45] JArielMG commented on #623
The following example shows the location where a new option is added to the "MilestoneType" code list, called "publicNotices".

Worked example:

[code]

I would welcome views on this suggested modelling.

[2017-11-16 01:03] JArielMG commented on #624
The following example shows the location where a new field named "ImplementationStatus" is added to the "Implementation" object.

Worked example:

[code]
I would welcome views on this suggested modelling.

[2017-11-16 01:12] JArielMG commented on #622
The following example shows the location where add a new field named “paymentMethod” to the transaction array.

Transactions {object}
paymentMethod (string) (codelist)

The code list will be open and must be defined by:
Cash
Check
Wire transfer

Worked example:

[code]
I would welcome views on this suggested modelling.

[2017-11-16 19:23] JArielMG commented on #599
Worked example:

[code]
I would welcome views on this suggested modelling.

[2017-11-16 20:12] JArielMG commented on #621
Worked example:

Add an array within the tender object. This array must contain th following values:

[code]
I would welcome views on this suggested modelling.

[2017-11-18 03:37] jpmckinney opened #629 "Restore tests against sample files"
Commented out in https://github.com/open-contracting/standard/commit/19b27248b41cb54147f6020d36ade5fb877bca84

Can use ocds-faker to generate at least one file to test against, as was done to generate https://github.com/open-contracting-archive/extension_tester/blob/master/ocds_extension_tests/fixtures/fullfakedata.json

[2017-11-18 18:41] jpmckinney opened #630 "Should optional fields be nullable, and required fields be non-nullable?"
release-schema.json has required but nullable:

* /definitions/OrganizationReference/properties/name #639

And optional but non-nullable:

* /definitions/Amendment/properties/changes/items/properties/property (deprecated)
* /definitions/Item/properties/unit
* /definitions/Organization/properties/id
* /definitions/OrganizationReference/properties/id
* /definitions/RelatedProcess/properties/id

We s

[2017-11-18 21:18] jpmckinney opened #631 "Move some scripts (utils and tests) to other repositories"
https://github.com/open-contracting/ocdskit is a more general tool that aggregates small scripts in one place.

https://github.com/open-contracting/standard-maintenance-scripts already has more thorough testing than some of the tests in this repo.

Moving code out of the standard repo may be a good idea because (1) the scripts are relevant elsewhere (e.g. syncing `enum` fields with the CSV files o

[2017-11-21 12:02] julijahansen commented on #598
@juanpane and @ColinMaudry, wanted to get your thoughts on this proposal

[2017-11-21 12:07] ColinMaudry commented on #598
Sure... But I need to check with my contact a Ministry of Finances, I don't know well how appeal work in France. I'll come back to report here.

[2017-11-22 09:09] timgdavies commented on #630
I believe this is related to merging and the removal of values - but it could certainly do with a review and re-thinking through, and then us writing down the rules and testing for them.

The two places in documentation that we need to draw on are at:

* [Merging](http://standard.open-contracting.org/latest/en/schema/merging/) and
* [Emptying fields](http://standard.open-contracting.org/latest/en/

[2017-11-22 09:21] timgdavies commented on #621
Thanks @JArielMG for such a clear description of the issue and proposed modeling. I've tagged this as a potential community extension - based on the generalizable nature, and possibility that other publishers might have similar data that would fit into this model.

I think your model makes very good sense: and agree this sits well within Tender.

The only question or suggestion I have is around th

[2017-11-22 09:24] timgdavies commented on #622
This looks well suited to be a community extension.

Only one minor suggested change to the above would be to use camelCase for the enum list, so 'wire transfer' would be 'wireTransfer'.

[2017-11-22 09:27] timgdavies commented on #623
I've tagged this as a local extension - as it simply extends an open codelist in a way to meet a particular national or local requirement. This means I would suggest we don't create a formal extension in the extensions registry for it - but anyone who needs this is free to publish and use their own extension here.

For open codelists, you are free to use a new code without an extension: the only c

[2017-11-22 09:29] timgdavies commented on #624
This makes good sense to me, it is consistent with the standard conventions, and the descriptions are clear.

I'm tagging this as a potential community extension - as I think it could have value to others.

[2017-11-22 09:40] timgdavies commented on #625
@JArielMG Thanks again for a clearly written issue.

To check: do you currently have *other* values in `award.description` - as that field is intentionally broadly defined (as 'award description') so that it could be used to contain information such as the reason for the award.

If you don't have anything else going into `award.description` - or you could concatenate a short existing description w

[2017-11-22 13:08] Bjwebb commented on #588
Here are some PDFs generated from the live site (so links should work correctly):
[OCDS_en.pdf](https://github.com/open-contracting/standard/files/1496005/OCDS_en.pdf)
[OCDS_es.pdf](https://github.com/open-contracting/standard/files/1496006/OCDS_es.pdf)
[OCDS_fr.pdf](https://github.com/open-contracting/standard/files/1496007/OCDS_fr.pdf)

I used this script:
[code]
I'm currently waiting for a stee

[2017-11-22 15:13] jpmckinney commented on #588
I think @timgdavies had ideas for branding – otherwise, if I were to ask a non-technical person at OCP, what are the constraints in terms of the branding that can be integrated? Tim had suggested a cover page, header, and footer, so I can ask about a steer on those.

[2017-11-22 16:06] jpmckinney commented on #630
Indeed – the issue just shows there's some inconsistency in what is nullable (based on the rules we've written so far), which additional rules and tests will help to avoid in extensions and future versions.

[2017-11-22 18:14] chrisalexsmith commented on #598
I have recently been doing some research on the complaints system in Albania and have observed the following:
1.	A fee is charged payable by the supplier for submitting a complaint - this also happens in other countries and in the case of Albania it apparently raises revenue of Euro 1mn per year. I guess it would be refundable if the complaint is upheld.

[Public Procurement Commission Report  201

[2017-11-22 19:57] chrisalexsmith commented on #622
In the UK small value payments can be made using corporate credit cards and in fact this is a payment mode that is sometimes abused and would benefit from more transparency - see recent news story on misuse: www.bbc.co.uk/news/uk-politics-41900835

For high value contracts, another payment method that is often used is Letter of Credit.

[2017-11-22 21:27] jpmckinney commented on #573
We can take a similar approach to #498 to improve the clarity of the schema viewer.

[2017-11-22 21:28] jpmckinney commented on #546
Duplicate #606

[2017-11-22 21:28] #546 closed, assigned to nobody

[2017-11-22 21:37] jpmckinney commented on #630
Relevant issue re: emptying fields: https://github.com/open-contracting/standard/issues/232

[2017-11-23 10:48] timgdavies commented on #588
Thanks @Bjwebb - this is looking really good.

## Markup

In this [Documentation Mock-up](https://github.com/open-contracting/standard/files/1498707/Documentation.Mock-up.pdf) document I've put together some branding suggestions, which would:

(1) Have a cover page, with the logo, title, copyright statement and a few links - and then the version and generated datetime in YYYY-MM-DD HH:MM (e.g. 201

[2017-11-23 15:53] timgdavies commented on #630
Thanks. I've been reviewing this, and have drafted guidance below.

I think this grounds all the observed cases above *except* `/definitions/Item/properties/unit` where the field should be an object or null.

If you agree with that, I'll open a bug ticket to fix `unit`.

I accept that this relies in #232 being resolved fully, which it is not yet, and I did consider that it would be legitimate to c

[2017-11-23 23:07] yolile opened #633 "Planning/Documents missing in documentation"
In the docs page, the planning release reference section does'nt show documents array as part of the Planning object:
![image](https://user-images.githubusercontent.com/6834122/33190209-eefc4cee-d088-11e7-9585-dc03fca0df49.png)
But the documents array is actually in the planning object in the json:
![image](https://user-images.githubusercontent.com/6834122/33190280-cc638a34-d089-11e7-80ee-7c29ffc1

[2017-11-23 23:53] jpmckinney commented on #633
@Bjwebb @timgdavies Same bug as in https://github.com/open-contracting/standard/issues/596 Can we add the test I requested in https://github.com/OpenDataServices/sphinxcontrib-jsonschema/issues/1 ?

[2017-11-24 22:18] jpmckinney opened #634 "Improve descriptions of core, community, local extensions"
Proposed text in bold:

* Core extensions are **maintained as part of the standard governance process,** documented as part of the standard and reviewed by the OCDS technical team with each version upgrade of OCDS. They are likely to be relevant to a large number of publishers and users.
* Community **and local** extension**s** are maintained by third-parties, or are maintained outside of the stan

[2017-11-24 23:06] jpmckinney commented on #630
Makes sense to me. I updated the issue description with only the fields that still don't meet our stated rules.

[2017-11-25 16:09] juanpane opened #635 "Paraguay extensions for financial implementation data"
# Paraguay procurement process

## Background

Paraguay manages the information from its procurement processes in two institutions:

- **Dirección Nacional de Contrataciones Públicas (DNCP) [Public procurement agency]**: Manages, through its [e-procurement system](https://contrataciones.gov.py/), the information from the planning, tender, award and contract phases, up to the signature of the contr

[2017-11-25 20:29] juanpane commented on #452
I'll try to explain the case of Paraguay.
We have entities, and these entities have administrative divisions. Both of them have their codes coming from the National Budget Law.
Some examples:

- 12-001 Presidencia
    - 12-001-52 National ICT Secretary
    - 12-001-38 National Science Secretary
- 12-006 Ministerio de Hacienda
    - 12-006-03 Sub secretaria de estado de tributación
    - 12-006-04

[2017-11-26 08:01] jpmckinney commented on #452
Isn't one solution to run an analysis based on the identifier, not the name?

We don't want every contracting process to include a partial hierarchy of a government. Governmental hierarchies exist outside of and are independent of contracting processes. Ideally, a second dataset would use the same identifiers and describe the hierarchy (maybe using the W3C Organization Ontology). If you absolutely

[2017-11-26 17:18] timgdavies commented on #624
@kaitlinccsi has highlighted the relationship to the outstanding issue #395 about the use of the term 'terminated' to cover completion of a contract.

There is an outstanding suggestion there to use 'ended' rather than 'terminated' for cases where the contract has completed - without any implication that things ended early. Views on #395 would be welcome to help us guide whether this extension sho

[2017-11-26 20:39] akuckartz commented on #452
Please use the [Organization Ontology](https://www.w3.org/TR/vocab-org/) (as suggested by @jpmckinney) and also have a look at the [Registered Organization Vocabulary](https://www.w3.org/TR/vocab-regorg/) published by the W3C.

[2017-11-27 11:11] timgdavies commented on #452
I think we have two issues in play here:

(1) Identifiers for sub-divisions - and how to represent them;

(2) Understanding the organisational hierarchy using OCDS data;

I think the [proposal above](https://github.com/open-contracting/standard/issues/452#issuecomment-298322846) does cover (1) - with the important note that the `identifier` block is to identify the **legal entity** not the departm

[2017-11-27 16:10] timgdavies commented on #452
We discussed this earlier today with @emartinborregon who described the following user story for maintaining structured information on hierarchy:

We discussed how this could be addressed by a reasonably intelligent API that:

* Maintains a separate record of organisational hierarchy;
* Rewrites API queries so that in a single request, users can supply the top of a hierarchical tree, and the query

[2017-11-27 17:58] emartinborregon commented on #452
I like the membership solution and it's wider enought to be used in other cases like the parent company of a supplier.  Let's implement it!

[2017-11-29 19:54] antonioherrera commented on #621
Thanks @timgdavies for taking your time reviewing this extension.

I will try to solve your questions below.

1. The current process of publishing details of attendees capture only the information of their names and positions (in the case of officials), but in the short term it is expected to capture the identifiers data. As you mention, we previusly though to include a simpler model that captures

[2017-11-29 20:11] antonioherrera commented on #622
@chrisalexsmith I think there is a good use case for this extension. We could add those new values to the codelist but we would appreciate if you could give us a brief description about these new methods, so we could include them in the extension.

Do you think that `corporateCreditCard` and `letterOfCredit` are good names for them?

[2017-11-30 20:17] chrisalexsmith commented on #622
@antonioherrera
Yep - the names look good to me.
Brief descriptions:
Letter of Credit - a guarantee from a bank that a seller will receive a payment due from a buyer. The bank guarantees that the seller will receive a specified amount of money within a specified time providing strict terms are met e.g. receiving documents specified in the Letter of Credit such as shipping documents.

Corporate Cre

[2017-12-01 19:39] antonioherrera commented on #384
Hello everyone!

We'll be using this extension and I'm wondering if you have already developed it. We are looking forward to see the complete extension (with the final descriptions and codelists).

[2017-12-01 23:10] pepegarcia commented on #452
Hi! In Mexico, our Access to Information National Law requires that every "Sujeto obligado", which is the procuringEntity, publishes their contracts specifying at least three different units that are memberOf the procuringEntity, and that are directly involved in the procurement process:

1) "Unidad administrativa solicitante". The unit that requires the good or service and initiates the procureme

[2017-12-05 01:02] antonioherrera commented on #452
Hello everyone!

As Pepe wrote last week, we need to define how to capture these three units that are involved in a particular contracting process. In the meeting that we held with Secretaría de la Función Pública (SFP) today, we agreed **this data is crucial in Mexico**. And we noticed that `buyer` and `procuringEntity` would be regularly the same institution (when talking about entities) at the

[2017-12-05 04:45] antonioherrera opened #637 "Name fragmentation"
## Issue

In Mexico it is usual to capture the first name (with middle name when applicable) and the surname (with the father’s surname and the mother’s surname) in a separate way. In the case of transparency obligations, it is mandatory to publish these data in separate fields. Likewise, we need to maintain the name of an organization in another separate field, in order to diference them with ind

[2017-12-05 05:06] antonioherrera opened #638 "extendedProcurementCategories: Add 'worksRelatedServices' code"
From the email that I sent to the helpdesk:

And, form the Tim's answer:

This is fundamental in order to categorize this kind of services.

[2017-12-05 15:51] timgdavies commented on #637
The place we anticipate individuals' information appearing is within `parties.contactPoint`

This is currently defined as:

and has a `name` field.

In terms of where to locate the data, is this sufficient for your needs? Or do you need different semantics in terms of the nature of the people identified?

In terms of the break-down of name parts, there is an approach in the [draft Beneficial Owner

[2017-12-05 15:52] timgdavies commented on #637
I'm not sure yet if this should be considered for a community extension. I'd welcome views from other data creators or users who capture names as to whether they would be able to map names to this pattern, or whether they collect names according to a different pattern.

[2017-12-05 16:02] timgdavies commented on #638
As the `tender.additionalProcurementCategories` codelist ([extendedProcurementCategory](http://standard.open-contracting.org/latest/en/schema/codelists/#extended-procurement-category) [[es](http://standard.open-contracting.org/latest/es/schema/codelists/#extended-procurement-category)]) is an open codelist, you are free to add to this without needing a change to the standard.

If you would like to

[2017-12-06 04:20] jpmckinney commented on #637
I agree with `givenName`, `familyName`, `patronymicName` which are used by Schema.org, W3C, EU ISA, etc. but I'm not sure that having both a `name` and a `fullName` is very clear. Why not just a `name`?

[2017-12-06 05:43] jpmckinney commented on #452
I generally agree with all the questions. However:
* The objects inside `memberOf` should have fairly limited fields to begin with; `id` and `name` seem sufficient to cover the use cases discussed.
* We should strongly recommend **against** populating `memberOf` unless a use case supports it, because we don't want to promote the communication of organizational hierarchy data through OCDS.
* A `mem

[2017-12-06 07:04] antonioherrera commented on #637
@timgdavies I would like to revisit the issue about which individuals would be captured in the cases mentioned above. I think I didn't explain that we are considering this extension for the individuals that will be `tenderers` `suppliers` or `payees` by themselves, not as a part of the contact point of an organization.

In this case, do you think that this fragmentation/breakdown should be incuded

[2017-12-06 13:16] timgdavies commented on #637
Thanks @antonioherrera. If the use of this breakdown is as part of identifying the individual, then I can see a strong case for including it was part of the `parties.identifier` block.

I'm reviewing the definitions from the [Person Vocabulary](https://www.w3.org/ns/person) and the notes at https://www.w3.org/International/questions/qa-personal-names to see if there is wider consensus on how `fami

[2017-12-06 13:50] timgdavies commented on #384
This is not yet worked up into formal extension - but we can prioritise over the next two weeks.

[2017-12-06 19:25] timgdavies opened #639 "Buyer name required in OrganizationReference"
In OCDS 1.1 the OrganizationReference block has two non-deprecated properties:

* `id`
* `name`

It currently specifies that `name` is a required property, which causes data without a `name` to fail validation.

This appears to be a bug as:

* (a) We generally require `id` values, but not strings;
* (b) There are legitimate cases where no `name` can be provided;

Following investigation to confirm

[2017-12-06 19:26] timgdavies commented on #639
Tagging @kindly who worked on required properties for OCDS 1.1, and @bjwebb who might have a quicker way than I do to work out how to 'git blame' and work out when we (I?) introduced this.

[2017-12-06 19:59] jpmckinney commented on #639
It was done in #368.

On the other hand, it's not clear to me that requiring `id` was backwards-incompatible, as `id` was introduced to `Organization` in 1.1 and doesn't exist in 1.0 (whereas `name` already existed in 1.0). The evidence in #484 for the backwards-incompatibility of requiring `id` seems to be spurious?

[2017-12-06 20:14] jpmckinney commented on #639
Wait – I had the logic backwards. Since `id` didn't exist in 1.0, it can't be required in 1.1! So that's fine.

[2017-12-06 20:51] pepegarcia commented on #452
Dear @jpmckinney, to answer your comment: "For the more recent examples by @pepegarcia and @antonioherrera  of sub-organizations with clear roles, I think those are better solved by appropriate use of `buyer` and `procuringEntity`", we were precisely using those two in an incorrect way to fill the gap. To use properly those variables, we definitely will need to propose, create and use an extension

[2017-12-07 16:07] jpmckinney commented on #452
@pepegarcia Yes, that seems consistent with the rest of my sentence, "and by adding remaining organizations as parties with an appropriate role (and optionally by adding an OrganizationReference field in an appropriate location to refer to those same parties)."

[2017-12-07 17:00] jpmckinney commented on #637
If it is mandatory to split the parts into different fields, we can simply add a `matronymicName` field to the above proposal, which would match the pattern of `patronymicName`. I agree that `familyName` is intended to include both parts and not just one.

I think W3C and EU didn't add additional properties, because if a `familyName` has at most two parts, then whatever is not the `patronymicName`

[2017-12-07 17:12] antonioherrera commented on #452
I think we didn't explain ourselves properly. In order to make an example how we are thinking about it, I'm using the data of our system and the proposal that @pepegarcia told me.

[code]

As you can see, INAI is both the buyer and the procuringEntity. The only information that we have to differenciate this parties `(buyer` and `procuringEntity)` is through its units. We take advantage of this exa

[2017-12-07 17:21] jpmckinney commented on #452
What was the reason a unit could not be a party in OCDS? (I'm assuming it's true, in the real world, to say that the unit is a party to the contracting process.)

[2017-12-07 18:18] antonioherrera commented on #452
So, if we can capture thise units as parties, we can relate them with the organizations that they belong with `memberOf` right? In the case this units are part of different organizations.

[2017-12-07 18:45] jpmckinney commented on #452
Yes, that would help to avoid ambiguity.

[2017-12-13 13:24] timgdavies commented on #635
Thanks @juanpane - this is a really clear issue. I've tried to work through point-by-point below with some responses.

## Field 1:

- Will the record package created by DNCP also include the release(s) published by MH?

- With MH be publishing their own record packages?

- If only DNCP is publishing a record package, and it will contain MH's releases, then having a more generic 'recordPackageURL'

[2017-12-13 15:19] ScatteredInk commented on #637
Based on https://en.wikipedia.org/wiki/Naming_customs_of_Hispanic_America, it looks like the ordering of paternal-maternal can't be guaranteed in all jurisdictions (although, at this stage, we may only be talking about children). The legal obligation to name children this way may change in the future in other jurisdictions.

Given that, the separate `matronymicName` and `patronymicName` fields see

[2017-12-13 15:51] jpmckinney commented on #637
To my knowledge, the existing `name` field is sufficient for the use cases for `fullName` – please correct me if otherwise!

[2017-12-18 23:44] antonioherrera commented on #383
Hello guys!

I'm confused about the value that is captured in the `amountNet` field. Is it the amount without taxes? Because I can see in the example the `amountNet` value is lower than the `amount` field. However, at least in Mexico, we use to define it as the total value of one item (with taxes included).

[2017-12-22 13:01] robredpath commented on #587
There are three places I'm looking for this:
- unit tests
- functional tests
- templates

[2017-12-23 11:09] timgdavies commented on #637
Just a quick note that from January through April 2018 the EU are inviting change requests to the Core Vocabularies, including the Core Person Vocabulary

From a recent e-mail, they say:

An issue tracker for the Core Person Vocabulary is here https://github.com/SEMICeu/Core-Person-Vocabulary/issues

This might give us an opportunity to discuss the issues arising here with others who have experien

[2017-12-26 04:53] jpmckinney commented on #603
Oh, and `/definitions/Period/description` is four spaces, so that should be added as well.

[2017-12-27 21:05] jpmckinney commented on #605
Related: #389

[2017-12-27 21:06] jpmckinney commented on #614
Related: #388

[2017-12-27 21:18] jpmckinney commented on #319
Tracked in CoVE instead.

[2017-12-27 21:18] #319 closed, assigned to nobody

[2017-12-27 21:19] jpmckinney commented on #338
Tracked in CoVE planning documents instead.

[2017-12-27 21:19] #338 closed, assigned to nobody

[2017-12-27 21:33] jpmckinney commented on #478
A clear issue hasn't been expressed here, which means it can stay open forever. It seems some work has been pursued elsewhere (e.g. in links above). I expect there will be follow-up from those proposals. We can re-open this issue (or open new issues) if there is a clear issue to resolve.

[2017-12-27 21:33] #478 closed, assigned to nobody

[2017-12-27 21:35] jpmckinney commented on #282
If RC were to pursue OCDS, it could make the above additions through extensions. Closing as there has been no other demand received for these fields.

[2017-12-27 21:35] #282 closed, assigned to nobody

[2017-12-27 21:41] jpmckinney commented on #242
Closing as no strong or recent interest expressed.

[2017-12-27 21:41] #242 closed

[2017-12-27 21:44] jpmckinney commented on #354
This issue has since been pursued in many places in many ways, so closing here. That other work will eventually get reflected in documentation.

[2017-12-27 21:44] #354 closed, assigned to nobody

[2017-12-28 01:48] jpmckinney commented on #40
Merging with #190 as this issue is not sufficiently distinct.

[2017-12-28 01:48] #40 closed

[2017-12-28 01:48] jpmckinney commented on #190
I can't tell that there's been any specific follow-up from the call or the other proposals in this thread, so I am closing it as inactive. It seems the most progress has been made on https://github.com/ColinMaudry/open-contracting-ld which is where further work can be pursued.

[2017-12-28 01:48] #190 closed

[2017-12-28 09:14] akuckartz commented on #190
👎 on closing this issue.

[2017-12-28 13:10] ColinMaudry commented on #190
For the record, @jindrichmynarz made a phD thesis entitled [Matchmaking of bidders and public contracts using linked open data](http://mynarz.net/dissertation/), which I think partly connects the dots between open contracting and linked data. It's on my reading list.

[2017-12-28 20:53] jpmckinney commented on #582
Possible new requirements (related to https://github.com/open-contracting/standard-maintenance-scripts/issues/48):

* Conformant extensions should not delete fields from the standard's schema.
* Conformant extensions should not change the properties of fields from the standard's schema. Note: api_extension changes `required` to `[]` and ocds_milestone_documents_extension changes `deprecated` to `n

[2017-12-28 21:02] jpmckinney commented on #582
Possible new requirements (related https://github.com/open-contracting/standard-maintenance-scripts/issues/45):

* Definition names should be UpperCamelCase.
* Field names should be lowerCamelCase.
* Both names should contain only ASCII alphabetical letters.
* If an acronym is used within a name, the acronym should be all uppercase, unless it is at the beginning of the name, in which case it shoul

[2017-12-29 03:09] jpmckinney opened #641 "Fix letter case of schema definitions"
Change the case of the `record` definition in `record-package-schema.json` to `Record`.

(Noting that, among properties, `former_value` doesn't follow the lowerCamelCase pattern, but it's deprecated anyhow.)

[2017-12-29 19:41] jpmckinney commented on #442
Instead of waiting for manual reports, we should just `.lower().strip()` all gettext messages to find duplicates that only differ in capitalization.

[2017-12-30 07:41] jpmckinney commented on #631
All Python scripts (not all of which would be moved) are:

* [ ] ./standard/docs/en/examples/merging/merge.py
  * https://github.com/open-contracting/standard-development-handbook/issues/145
* ./standard/schema/utils/make_metaschema.py
* ./standard/schema/utils/make_validation_schema.py
* [x] ./standard/schema/utils/update_closed_codelist_enums.py [ocdskit]
* ./standard/schema/utils/fetch_core_ext

[2017-12-30 07:43] jpmckinney commented on #229
An experimental script was written to convert the schema to use of language maps instead of pattern properties: https://github.com/open-contracting/standard/blob/f2c4d0884250e2d045bf3e7b3b4b5b26649345b1/standard/schema/utils/upgrade_to_multilingual_string.py

[2017-12-31 23:41] jpmckinney opened #643 "documentType: Consider sync with PPP profile"
http://standard.open-contracting.org/profiles/ppp/latest/en/reference/codelists/#documenttype

See also https://github.com/open-contracting/public-private-partnerships/issues/94

[2018-01-01 00:20] jpmckinney commented on #630
@timgdavies Shall I open a PR to add `"null"` as a valid `type` for:

* /definitions/Item/properties/unit
* /definitions/Organization/properties/id
* /definitions/OrganizationReference/properties/id
* /definitions/RelatedProcess/properties/id

[2018-01-02 18:17] juanpane commented on #635
Thanks @timgdavies for you reply:

no, the only ones updating their publication is the Minitry of Finance, there is no inmediate plan to update DNCP data

there is no plan for this

as mentioned before, there is no plan to update DNCP´s publication, but the point is valid, perhaps naming the field 'recordPackageURL' is more appropriate in order to allow DNCP to include others record packages

the

[2018-01-03 17:40] timgdavies commented on #630
Will look at this as part of bugfix release

[2018-01-03 19:34] jpmckinney commented on #630
I've added this to the '1.1.x Cleanup' milestone – perhaps not all of which will be completed for the bugfix release.

[2018-01-04 17:17] jpmckinney commented on #566
These could be added to meta-schema-patch.json, but JSON Schema Draft 4 itself doesn't have titles or descriptions, so it seems acceptable to document the new fields in our documentation.

Noting that, before we replace `$schema` in packages with our own `meta-schema.json`, we need to address comments in: https://github.com/open-contracting/standard/issues/566#issuecomment-341894237

[2018-01-05 11:05] timgdavies commented on #643
Are you suggesting we should consider importing all the values from the PPP Document Type codelist into the main OCDS document type codelist?

[2018-01-05 13:30] timgdavies commented on #384
The first draft of this extension is now staged at https://github.com/open-contracting/ocds_exchangeRate_extension

There is some more work to do testing and finalising this - but feedback on the docs and schema is welcome.

[2018-01-05 19:00] jpmckinney commented on #643
We should consider, though there may be obvious reasons to not import them all – I haven't thought deeply about it.

[2018-01-08 12:16] timgdavies opened #644 "Guidance: Improving milestone documentation and usage"
The milestone block is poorly documented, and publication of milestone information remains limited.

This issue describes the current situation and a number of issues arising - and invites input for future standard development.

## The current situation

The `Milestones` object can currently be used in the following places (listed with their schema definitions):

* `planning` - 'A list of mileston

[2018-01-08 12:22] timgdavies commented on #644
I've [reviewed past issues on milestones](https://github.com/open-contracting/standard/issues?utf8=%E2%9C%93&q=is%3Aissue+milestones) and have found limited discussion of the intended semantics of milestones in different blocks.

However, I believe that:

* Milestones set out at the point a tender is issued should go into `tender.milestones`
* Delivery milestones agreed in the contract should go i

[2018-01-09 17:47] timgdavies commented on #395
One other option naming wise may be extend the code name, to remove the 'loaded' nature, so that we would have codes such as:

* terminatedAtCompletion
* terminatedEarly

[2018-01-09 22:39] jpmckinney commented on #644
As I remember from some helpdesk requests, milestones have been recommended to fairly flexibly express a variety of date-based facts. We can perhaps collect some use cases that way.

[2018-01-10 13:45] timgdavies commented on #603
* [x] release-schema.json has a short value for /definitions/Period/description
* [x] release-schema.json is missing /description
* [x] release-schema.json is missing /definitions/Planning/properties/budget/title
* [x] release-schema.json is missing /definitions/Planning/properties/budget/description
* [x] release-schema.json is missing /definitions/Milestone/description
* [x] release-schema.json

[2018-01-10 13:53] timgdavies commented on #603
I'm using the following definition for release, building on the text at http://standard.open-contracting.org/latest/en/getting_started/releases_and_records/ and drawing on previous training workshops where we have tried to clarify the nature of release. This change also recognises that this definition could appear in the context of a record package.

[2018-01-10 14:28] sofiiashnyr commented on #317
In Ukraine (ProZorro), there is an idea to allow Buyer indicate, on the tender level, information regarding prospective payment terms for the contract so that Suppliers can filter out through it to choose which tender fits them best.
As it was discussed with @timgdavies, we could have a _paymentTerms_ object, with 3 properties inside: _prepaymentPercentage_ (to indicate whether а prepayment is for

[2018-01-10 14:35] timgdavies commented on #603
The following definition is proposed for the `Period` object:

[2018-01-10 14:47] timgdavies commented on #603
`planning/budget` description is proposed as:

[2018-01-10 16:05] timgdavies commented on #603
For milestones, I've staged the following description:

This is taken from existing text at http://standard.open-contracting.org/latest/en/schema/codelists/#milestone-type

I considered adding:

to respond to the issues in #644, but suggest that would go beyond a bug-fix as it could lead to implications for existing data if #644 surfaces relevant existing use of `Milestones`.

[2018-01-10 16:06] timgdavies commented on #644
In #603 a definition for the `Milestone` object is introduced to the schema as:

The following additional text was not added there but could form the basis of guidance to be added to the schema or documentation in future.

[2018-01-10 16:22] timgdavies commented on #644
A definition for Value has been added [based on the current text in the reference documentation](http://standard.open-contracting.org/latest/en/schema/reference/#value).

[2018-01-10 16:23] timgdavies commented on #603
A definition has been added to Value based on the [current reference documentation text](http://standard.open-contracting.org/latest/en/schema/reference/#value):

[2018-01-10 16:24] timgdavies commented on #603
A definition has been added to `Identifier`:

[2018-01-10 16:52] timgdavies opened #645 "Schema definition of address"
Working on #603 and https://github.com/open-contracting/ocds-extensions/issues/40 has surfaced that we have definitions the wrong way around for the `Address` object and `Organization.address` property (previously missing).

The `Address` object is currently defined as "An address. This may be the legally registered address of the organization, or may be a correspondence address for this particula

[2018-01-10 17:23] jpmckinney commented on #645
That seems reasonable to me.

[2018-01-10 17:24] jpmckinney commented on #645
Should the milestone be 1.1.x Cleanup (1.1.3, mostly bug fixes) or 1.1.x Clarifications (likely the release after that).

[2018-01-10 18:03] timgdavies commented on #645
Cleanup - have updated.

[2018-01-10 18:18] timgdavies commented on #630
I've just been reviewing this, and I *think* the `id` fields for

* `Organization`
* `OrganizationReference`
* `RelatedProcess`

should in fact be required, rather than nullable to accommodate our current preferred option in #232.

[2018-01-10 20:41] jpmckinney commented on #630
Wouldn't that be backwards-incompatible?

[2018-01-10 22:57] jpmckinney commented on #603
All definitions look good to me.

[2018-01-11 22:36] jpmckinney commented on #339
I recovered the old Google Form and made some edits, just to see how it will look: https://docs.google.com/forms/d/e/1FAIpQLSctgQIglxuaqhL0XyzUAbb6sospnWqnLR-WPTdejcXuAloMkQ/viewform

I haven't edited the logic of the Prefixes spreadsheet to conform to my earlier proposal, as I want to check if we think the Google Form makes sense, now that we have something to look at.

[2018-01-12 16:42] jpmckinney commented on #339
Hmm, I'm not sure the auto-generation of prefixes worked in the [old Google Form](https://docs.google.com/forms/d/e/1FAIpQLSes_YppziIST72LSaTcCswr7ojBqE3ohFlwtx64280DRwdnCA/viewform). I upgraded to the new Google Forms, but the following didn't work. I think it's only possible to pre-populate fields through the URL, not through App Scripts, but we don't want people sharing the same URL with the sa

[2018-01-15 14:42] timgdavies commented on #630
If these fields were made required under 1.1.3 it is possible that data that was valid under 1.1.x and which omitted one of the above fields (x<=2) would become invalid under 1.1.3

I'm not sure if our behaviour with respect to backwards compatibility would be different if we consider the omission of `id` requirement to be a bug. However, I've run through reasoning below to check if this thinking

[2018-01-15 14:51] jpmckinney commented on #630
That seems reasonable to me!

[2018-01-15 14:55] timgdavies opened #650 "Make id fields required for all objects in arrays"
As discussed in #630, and in relation to #232, any time where OCDS support an **array of objects**, the objects in the array should each have an `id` property, and this property should be **required**.

At present, this is not true of

* `Organization`
* `OrganizationReference`
* `RelatedProcess`
* `Amendment`

Making these fields required is backwards incompatible (data valid under X.x could be m

[2018-01-15 16:48] antonioherrera opened #651 "Guarantees extension"
## Issue

Some procurement processes consider the specification of guarantees in order to ensure compliance with the terms of a contract.

There are many types of guarantees, so we consider the creation of a new extension based on the formats that are required for the Federal Treasury (Mexico).

**Guarantee type:**
- Bail
- Deposit slip
- Letter of credit
- Surety bond
- Check

**Guaranteed obliga

[2018-01-15 16:56] antonioherrera opened #652 "Surveillance mechanisms extension"
## Issue:

In Mexico there are different surveillance mechanisms that testify the transparency and legality through all the contracting process.

## Proposal:

Add a new array field

_Codelist:_
- Social witness
- Citizen comptroller
- Internal control unit
- External auditor

_Schema:_
- Contract {object}
  - surveillanceMechanisms [array]

### Defining texts:

**Title** | **Description**
-- | --

[2018-01-15 17:49] timgdavies commented on #578
I would propose the following updated definition:

[2018-01-15 17:49] timgdavies commented on #578
I believe this should be a backwards compatible addition to an open codelist.

[2018-01-15 17:52] jpmckinney commented on #578
Looks good to me.

[2018-01-16 00:33] antonioherrera commented on #624
@timgdavies we agree with @KaitlinCCSI and we rename the las code with a `concluded` code as follows:

**Title** | **Description**
-- | --
`status` Implementation status | The current status of the contract implementation based on the implementationStatus codelist (url).
`planning` Planning | The contract has been signed, but the provision or construction of the goods, services or works has not st

[2018-01-16 00:36] antonioherrera commented on #625
We redifine the texts as follows:

**Name** | **Description**
-- | --
`rationale` Award rationale | A short summary of the reasons for making this specific award, and/or selecting the particular supplier, provided in free text. More detail can be provided in attached documents.

[2018-01-16 18:03] timgdavies commented on #634
I believe this guidance can be updated under 1.1.3, and constitutes a fix to de-duplicate the documentation - ahead of our wider outreach on extensions coming up through community call.

I've staged the text above, with the exception of changing the line from "The standard governance working group approves" to "The standard technical team" which more accurately reflects current practice.

[2018-01-16 18:52] jpmckinney commented on #634
👍

[2018-01-17 18:03] timgdavies commented on #317
## Background research

As requirements here are getting more complex, I've taken a look at any other precedents we should be drawing on. I see that [Universal Business Language has a PaymentTerms object](http://www.datypic.com/sc/ubl20/e-cac_PaymentTerms.html), but this looks more appropriate to use within invoices and billing, rather than announcing the anticipated payment terms for a contract.

[2018-01-17 18:17] timgdavies commented on #317
@juanpane I'd welcome any thoughts you have on the above - and whether it may have any relationship to work on tracking payment delays by government.

[2018-01-18 22:36] myroslav commented on #317
On reflection we propose to have the following three properties within the `paymentTerms` object: `prePaymentPercentage`; `invoiceTerms` (as discussed with @timgdavies); `invoiceTermsDetails` (especially important in the case of `“other”` invoiceTerms).

Since we are following “from simple to complex” design pattern, we are reevaluating idea of milestones introduction, that would render the system

[2018-01-22 15:38] juanpane commented on #452
I agree with the memberOf attribute.

As from @timgdavies questions:

* _Do you support the development of this as a community extension?_
   * Yes, how do you suggest to proceed? @pepegarcia @antonioherrera Have you done any work on the memberOf extension?
* _Does the re-use of the definition of memberOf from the Organization ontology fit OCDS usage?_
   * yes, this would make things interoperabl

[2018-01-23 03:10] jpmckinney opened #657 "Replace "TBC" email address in governance.md"
http://standard.open-contracting.org/latest/en/support/governance/

[2018-01-23 05:07] jpmckinney commented on #442
I ran the following:

[code]

And got:

[code]

[2018-01-23 05:09] jpmckinney commented on #442
However, none of these are duplicated due to differences in capitalization. The only strings that are duplicated across files due to differences in capitalization are short (<= 30 characters), like "Milestone Documents" versus "Milestone documents". So, seems issue was resolved.

[2018-01-23 05:09] #442 closed, assigned to nobody

[2018-01-23 15:21] timgdavies commented on #383
Here, `amountNet` was proposed as amount without taxes - as it is common in UK to talk of an amount net of taxes. But [reviewing definitions](http://www.investorwords.com/article/gross-vs-net.html) I see net is often used differently.

Will think about terminology here and come back with updated proposals.

[2018-01-29 17:05] jpmckinney commented on #650
Noting that in core extensions, this is not true of: https://github.com/open-contracting/ocds-extensions/issues/53

* ParticipationFee
* Lot
* LotGroup
* Enquiry

[2018-01-29 19:03] timgdavies opened #660 "Bug in versioned-release-validation-schema.json"
.@kindly has identified a bug in [versioned-release-validation-schema.json](https://github.com/open-contracting/standard/blob/1.1-dev/standard/schema/versioned-release-validation-schema.json#L10) which is omitting the object type from each versioned property.

As JSON Schema validators only check for properties of objects, this means the fields of each versioned object have not been correctly chec

[2018-01-29 19:33] jpmckinney commented on #660
We've had some schema bugs that are non-obvious to implementers (e.g. not requiring `id` fields on objects in arrays), and which we therefore postponed to 2.0.

But this bug should be obvious, and we've diligently checked with affected publishers (which is none to our knowledge), so I consider it correctable in a patch release.

[2018-01-29 19:34] jpmckinney commented on #660
I'd like to have a look at the fix in a PR before it's merged, though.

[2018-01-29 21:13] viktor992 commented on #452
Hi! Following the Paraguay example, which roles would have "Government of Paraguay" and "Presidencia del Paraguay" in the parties array? And, in general, all the organizations that are only in the memberOf field?

[2018-01-30 20:49] jpmckinney commented on #650
In core, I think `Amendment` is another candidate.

[2018-01-31 15:05] kindly commented on #660
The fix is here:
https://github.com/open-contracting/standard/pull/663

However, travis is failing and I am not able to work out why.  It is not due to anything in this branch but a general failure with chrome webdriver which I have failed to fix.

[2018-01-31 16:39] jpmckinney commented on #660
Really? This fails validation, yet there is no `"type": "object"`:

[code]

[2018-01-31 17:28] jpmckinney commented on #660
I can't find anything in the [spec](https://tools.ietf.org/html/draft-fge-json-schema-validation-00) that suggests that `"properties"` can be ignored if `"type"` doesn't contain `"object"`, so I'd consider a validator that does so to be non-conformant to JSON Schema. (The Python jsonschema package appears to be conformant in that respect.)

[2018-01-31 19:35] kindly commented on #660
Phew, Yes you are right.  That is great news. This was due my misreading of the python jsonschema code here
https://github.com/Julian/jsonschema/blob/master/jsonschema/_validators.py#L295
it just checks the data not the schema for being type `object`.

Anyway it is good that we do not allow any type as a version block now.

[2018-02-01 06:45] jpmckinney commented on #631
There are a couple more things we can do, but I think we've gone far enough.

[2018-02-01 06:45] #631 closed, assigned to nobody

[2018-02-01 06:51] #629 closed, assigned to nobody

[2018-02-01 09:18] timgdavies commented on #660
Good to know it was only a false alarm. Are we good to just close this issue then and leave as-is. Or do you think we should still update the schema to be explicit with the object property?

[2018-02-01 11:19] kindly commented on #660
I think @jpmckinney already merged it. I think it should be added as it means that you have to put an object in at these points At the moment you can put in any type and it will still be valid.

I think this ticket can be closed.

[2018-02-01 15:26] #660 closed, assigned to jpmckinney, kindly, timgdavies

[2018-02-08 14:57] jpmckinney commented on #232
@timgdavies With https://github.com/OpenDataServices/cove/issues/947 moving forward, should we discuss this as well?

[2018-02-08 17:20] ColinMaudry commented on #407
What's the plan to integrate this field?

Added to the core schema or via an extension?

Thanks.

[2018-02-09 11:20] yolile opened #669 "Record object allows duplicate releases"
Currently the record definition:
![image](https://user-images.githubusercontent.com/6834122/36025311-5cc5e36e-0d71-11e8-81d1-6b625ce4de3a.png)

doesnt include the property `"uniqueItems": true` in the releases array like the release-package definition of releases does:
![image](https://user-images.githubusercontent.com/6834122/36025230-1969eafc-0d71-11e8-9a42-9f11e4f1add9.png)
So in record-package

[2018-02-09 17:08] jpmckinney commented on #669
Added to 2.0 milestone, as it may invalidate existing data.

[2018-02-10 20:32] jpmckinney opened #670 "Switch to yanick/docson as upstream for OpenDataServices/docson"
https://github.com/yanick/docson is the new maintainer and is closing issues on lbovet (but not committing there).

https://github.com/OpenDataServices/docson

[2018-02-12 16:45] timgdavies opened #671 "Change the milestone icon"
Our current milestone icon

![](https://raw.githubusercontent.com/open-contracting/standard/1.1-dev/docs/_static/svg/green_milestone.svg)

doesn't really represent milestones that well.

A suggestion has been made we should update this using a flowchart symbol.

This might form part of a wider update of our image and icon set.

[2018-02-13 13:31] myroslav commented on #671
We can try to have something that is used in Gantt charts:

![039ee6ea-b034-43ce-8d2f-3403a5a0e514](https://user-images.githubusercontent.com/883905/36152218-27bc95a6-10c2-11e8-824b-3ec3cb6b5cef.jpeg)

[2018-02-13 15:36] timgdavies commented on #383
From discussion at EBRD workshop today, there is a clear view that `valueAddedTaxIncluded` can be included **without** substantially altering the meaning of `value`.

The validator could/should raise a warning when the `valueAddedTaxIncuded` field is not present to highlight that **without** this field data has some ambiguity and will be difficult for some use-cases.

[2018-02-13 17:15] antonioherrera commented on #383
@timgdavies I understand that this field, according to [schema.org](http://schema.org/valueAddedTaxIncluded), is Boolean, but at least in the implementations that we are trying to do in Mexico, we need a way to capture the values with and without taxes. Can we do it with the amountNet field without the ambiguity that it suppose?

[2018-02-20 17:08] yolile commented on #452
@jpmckinney @timgdavies created repo: https://github.com/open-contracting/ocds_memberOf_extension

[2018-02-26 17:10] timgdavies opened #672 "How should government leases be represented in OCDS?"
At least one OCDS user is exploring how to model cases of government leasing property to the private sector.

This is raising a number of issues:

**(1) How to indicate that an contracting process relates to leasing of government property?**

In #638 which discusses `mainProcurementCategory` and `additionalProcurementCategories` there is some mention of leases. It would be possible to use `mainPro

[2018-03-05 15:54] jpmckinney opened #673 "Publish codelists with the standard"
We presently publish schemas at standard.open-contracting.org, but not codelists. Codelists are presently only accessible at GitHub URLs.

~~Core extensions’ codelists should be included among the published codelists.~~

[2018-03-06 16:33] timgdavies commented on #673
Agreed that we should switch to deploying the codelists alongside the versioned schemas.

I think we have also talked about potentially providing them in a zip file / a zip of schema + codelists for applications that want easy access this way.

[2018-03-07 18:25] #578 closed, assigned to nobody

[2018-03-07 18:25] #630 closed, assigned to nobody

[2018-03-07 18:25] #633 closed, assigned to Bjwebb

[2018-03-07 18:25] #634 closed, assigned to nobody

[2018-03-07 18:25] #639 closed, assigned to Bjwebb, kindly

[2018-03-07 18:25] #645 closed, assigned to nobody

[2018-03-07 18:25] #620 closed, assigned to Bjwebb

[2018-03-07 18:27] jpmckinney commented on #603
Closed by #667

[2018-03-07 18:27] #603 closed, assigned to timgdavies

[2018-03-21 03:20] jpmckinney opened #676 "Move blocks that are specific to the standard from standard_theme"
OCDS profiles have some repetition in `layout.html`, because `standard_theme` contains content that should only appear on the main standard documentation and needs to be overridden, e.g.:

[code]

The content of those three blocks should be moved to this repository, and set to a reasonable default for profiles to use.

Once that's done, we can update the profiles' reference to `standard_theme` and

[2018-03-21 22:00] joelgombin commented on #603
I'm not 100% sure what "a known state date" means exactly?

[2018-03-21 23:50] jpmckinney commented on #603
It should be "a known start date" - I'll correct after translation is done. Thanks!

[2018-03-22 05:41] joelgombin commented on #603
Ha, thanks !

Le jeu. 22 mars 2018 à 00:50, James McKinney <notifications@github.com> a
écrit :

[2018-03-22 19:42] jpmckinney opened #677 "Minor issues in package schemas"
Missing title/description:

* [x] release-package-schema.json is missing /properties/releases/description
* [x] record-package-schema.json is missing /properties/publisher/title
* [x] record-package-schema.json is missing /definitions/record/description
* [x] record-package-schema.json is missing /definitions/record/properties/releases/oneOf/0/items/properties/url/title

Need to check whether it m

[2018-03-23 21:47] jpmckinney opened #678 "Unnecessary blocks in templates?"
If a block only calls `super()`, is it necessary?

In layout.html:

[code]

In footer.html:

[code]

@Bjwebb I assume you know?

[2018-03-26 12:05] Bjwebb commented on #678
Yes, these are not necessary.

[2018-03-26 13:50] jpmckinney commented on #678
Removed in branches of standard and ppp profile, and remove from profile template.

[2018-03-26 13:50] #678 closed, assigned to nobody

[2018-03-28 01:01] juanpane commented on #388
Currently there are two places in the documentation saying how to implement the 5 star approach

- http://standard.open-contracting.org/latest/en/implementation/levels/#how-to-publish-5-approach, and
- http://standard.open-contracting.org/latest/en/getting_started/publication_patterns/ .

If a publisher implements OCDS and publishes an API with an URI for their data, according to the first documen

[2018-03-28 03:19] jpmckinney commented on #388
Indeed. A quick solution may be to simply remove the publication patterns page (or at minimum its star levels content): the star levels repeat what's on the levels page; packaging should likely go on the releases and records page; and bulk files should likely go on the [data files](http://standard.open-contracting.org/latest/en/implementation/hosting/) page, as raised in #605.

[2018-04-05 16:24] kindly opened #679 "Parties should have id and name field required"
As part of the Organization change in 1.1 a new `parties` list of definition "Organization" was created.

The party list is the only use of the `Organization` currently.  All other fields were migrated to using `OrganizationReference`.
It was definitely decided for `OrganizationReference` the id should NOT be required for backwards compatibility.

However, for the parties list itself the id should

[2018-04-05 16:29] kindly commented on #679
Pull request #680

[2018-04-10 19:41] joelgombin commented on #407
Hello all, I'd be interested in knowing more in the plans to tackle this issue too.
FWIW, I think designing a local extension sounds like a better idea than modifying the core schema, but that's only my 2 cents.

[2018-04-11 01:06] jpmckinney opened #682 "Correct the explanation of 'unique' with respect to release IDs and tender, award and contract IDs"
http://standard.open-contracting.org/latest/en/schema/identifiers/

The second paragraph is confusing, because two (different) IDs can of course refer to two different sections.

The second paragraph either needs to be rephrased or removed.

Originally reported by @colinmaudry via Transifex.

[2018-04-11 02:36] duncandewhurst opened #683 "Search in the docs doesn't support using quotes to find an exact match"
For example [this search](http://standard.open-contracting.org/latest/en/search/?q=%22compile+releases%22&check_keywords=yes&area=default) for

returns the same results as searching without the quotes for

rather than returning the [release reference](http://standard.open-contracting.org/latest/en/schema/reference/) page, which includes the exact text "compile releases", first.

[2018-04-11 23:58] duncandewhurst opened #684 "Images display incorrectly when viewing the docs in a window"
For example, on the [identifiers](http://standard.open-contracting.org/latest/en/schema/identifiers/) page, when viewed in full screen the icon is small and right aligned

![image](https://user-images.githubusercontent.com/19265814/38649048-95b8e592-3e48-11e8-8658-29d7c96be981.png)

But when viewed in a window 960px wide:

![image](https://user-images.githubusercontent.com/19265814/38649082-c10572

[2018-04-12 00:07] jpmckinney commented on #684
For me it occurs when narrower than 768px. We likely need to fix a media query for images.

[2018-04-12 03:30] duncandewhurst commented on #682
I noticed the same issue with the explanation of uniqueness for the Release ID:

I've updated the issue title to reflect that.

[2018-04-12 03:37] duncandewhurst opened #685 "Update link to the Project Open Data Metadata Schema"
The link from the [Dataset and feed discovery](http://standard.open-contracting.org/latest/en/implementation/hosting/#dataset-and-feed-discovery) section of the implementation guidance points to a [deprecated version of the Project Open Data Metadata Schema](https://project-open-data.cio.gov/schema/).

We should check if it is appropriate to update the link to the [current version of the schema](h

[2018-04-13 20:54] jpmckinney opened #687 "GPA alignment of open codelist definitions"
I put together this spreadsheet mapping [GPA](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) terms and definitions to OCDS definitions. We may want to pursue closer alignment where possible.

https://docs.google.com/spreadsheets/d/1X4nULP8nhYR_iXra0HjTy5n2v5z2kyzFFT7KTv2GZo0/edit?pli=1#gid=0

[2018-04-15 17:02] jpmckinney commented on #407
I recommend creating an extension using the [template](https://github.com/open-contracting/standard_extension_template), based on the discussion here. It's unlikely to become part of the core schema, but in any case, you will have to create an extension first, as the core schema is not expected to add new fields in the short term.

[2018-04-19 01:57] jpmckinney opened #689 "Discussion: Unit: Estimated quantity"
## Motivation

The [Revised GPA](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) has: "the nature and the quantity of the goods or services to be procured **or, where the quantity is not known, the estimated quantity**" (emphasis added)

Presently, `quantity` is "The number of units required" and is a number. There is, to my knowledge, no way to indicate that a number is an estimat

[2018-04-19 02:38] jpmckinney opened #690 "Tender: Recurrence extension"
## Motivation

The [Revised Agreement on Government Procurement](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) (GPA) includes: "each notice of intended procurement shall include … c. for recurring contracts, an estimate, if possible, of the timing of subsequent notices of intended procurement".

The European Union is a [party](https://www.wto.org/english/tratop_e/gproc_e/memobs_e

[2018-04-19 03:40] jpmckinney commented on #690
Draft extension: https://github.com/open-contracting-extensions/ocds_recurrence_extension

[2018-04-19 04:13] jpmckinney opened #691 "Tender: Options extension"
## Motivation

The [Revised Agreement on Government Procurement](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) (GPA) includes: "each notice of intended procurement shall include … d. a description of any options".

The European Union is a [party](https://www.wto.org/english/tratop_e/gproc_e/memobs_e.htm) to the GPA, and as such its [Directive 2014/24/EU](https://eur-lex.europa.eu

[2018-04-19 04:18] jpmckinney commented on #691
Draft extension: https://github.com/open-contracting-extensions/ocds_options_extension

[2018-04-19 04:41] jpmckinney commented on #523
(Expanding on my earlier comment.)

## Motivation

The [Revised Agreement on Government Procurement](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) (GPA) includes: "each notice of intended procurement shall include … e. the time-frame for delivery of goods or services or the duration of the contract".

The European Union is a [party](https://www.wto.org/english/tratop_e/gproc_e/me

[2018-04-20 04:31] jpmckinney opened #695 "Tender: Procurement Method Modalities extension"
## Motivation

The [Revised Agreement on Government Procurement](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) (GPA) includes: "each notice of intended procurement shall include … f. the procurement method that will be used and whether it will involve negotiation or electronic auction".

The new EU eForms and [Directive 2014/24/EU](https://eur-lex.europa.eu/legal-content/EN/TXT/?

[2018-04-20 04:32] jpmckinney commented on #695
Draft extension: https://github.com/open-contracting-extensions/ocds_procurementMethodModalities_extension

[2018-04-20 05:14] jpmckinney opened #696 "Tender: Covered By extension"
## Motivation

The [Revised Agreement on Government Procurement](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm) (GPA) includes: "each notice of intended procurement shall include … l. an indication that the procurement is covered by this Agreement."

The European Union is a [party](https://www.wto.org/english/tratop_e/gproc_e/memobs_e.htm) to the GPA, and as such its [Directive 20

[2018-04-20 05:15] jpmckinney commented on #696
Draft extension: https://github.com/open-contracting-extensions/ocds_coveredBy_extension

[2018-04-20 10:30] Tim0th1 commented on #384
Looking at the issue, I think there are four questions that are relevant but not easy to combine to form for the extension:

1. What determines the transaction time? (we need to know if it is an event trigger or an agreed time-stamp)
2. What is the transaction time? (time-stamp)
3. Is the exchange rate predetermined?(contractually agreed, or contingent on the transaction time, above)
4. What is th

[2018-04-20 15:18] Bjwebb opened #697 "Currency codelist changes on the 4th June"
https://www.currency-iso.org/en/shared/amendments/iso-4217-amendment.html

[2018-04-20 22:52] jpmckinney commented on #683
Sphinx compiles a `searchindex.js` file to perform search on client-side – which is clever, but severely limited. There is an upcoming documentation sprint to consider alternatives (perhaps an ElasticSearch backend).

[2018-04-23 04:02] duncandewhurst opened #699 "Removing confusing uses of OCDS terminology"
The [identifier section](http://standard.open-contracting.org/latest/en/schema/identifiers/#local-identifiers) of the schema reference includes the following statement, for local identifiers:

To avoid confusion over the use of the term **records** I propose we change this to:

The [codelists section](http://standard.open-contracting.org/latest/en/schema/codelists/#item-classification-scheme) of t

[2018-04-25 22:40] duncandewhurst opened #701 "Expand Budget descriptions"
The budget and projects extension previously included updates to descriptions of fields in the budget section of the core OCDS standard (see https://github.com/open-contracting/ocds-extensions/issues/46).

The updated descriptions are copied below so they can be considered for inclusion in future updates to OCDS core:

Field/Object | Updated description
---|---
`budget` | This section contains bas

[2018-04-25 23:07] duncandewhurst opened #702 "Links to core extension point to /1.1 not /latest"
In the [list of core extensions](http://standard.open-contracting.org/latest/en/extensions/#core-extensions) in the docs, the links to the extension documentation pages point to /1.1 not /latest, e.g.

http://standard.open-contracting.org/1.1/en/extensions/bids/ rather than http://standard.open-contracting.org/latest/en/extensions/bids/

This isn't a problem now since latest = 1.1 but will be a pr

[2018-04-25 23:08] duncandewhurst commented on #702
Assigning to @Bjwebb as seems similar to https://github.com/open-contracting/standard/issues/501

[2018-04-27 14:08] timgdavies opened #703 "Implementation: Extension proposal for Contract Registers"
This issue outlines a proposal for an extension. We are looking to introduce this as a community extension during early May, so welcome views and feedback.

## Motivation

The contract registers encouraged by the European Commission must include, among other requirements:

- Total value of all payments for the completed contract.
- The date when the contract was completed.
- A justification for th

[2018-04-27 14:14] timgdavies commented on #703
Some additional information we may want to include in the extension in terms of definitions:

[2018-04-27 15:14] Bjwebb commented on #702
This ultimately comes from https://github.com/open-contracting/extension_registry/blob/v1.1.3/bids/extension.json#L3 (which is then [compiled](http://standard.open-contracting.org/extension_registry/v1.1.3/extensions.json)).

I assumed the plan was to replace these with 1.2 when we come to pinning extensions.

@timgdavies How would you feel about replacing actual urls with templated ones, as we do

[2018-04-27 15:23] JachymHercher commented on #703
Thanks for the proposal!

Concerning your two questions above:

- For each contract.
- The way we saw it, it means the same thing. However, it is indeed important to be able to distinguish between a contract which was "successful" and one that "failed". I think we assumed this could either be done via `milestoneStatus` (or, originally, `contractStatus`). However, I've read quickly through #395, an

[2018-04-27 16:15] timgdavies commented on #703
Thanks @JachymHercher . I think you are right in the reading that we don't have a conclusive and single simple way to distinguish 'success' from 'failure' at the moment, although it would certainly be possible in some cases to use `milestone/status` to indicate whether all the deliverables for a contract have been met or not.

Looking back at #395 and working through the data we need to handle, I

[2018-04-30 08:34] JachymHercher commented on #703
Thanks for the analysis. Concerning what happens during the implementation phase, I think it's useful to keep separate the "what", "when", "who". So, for example, I'd say your points (2) and (3) are "what"; you're point (1) is about "who", right? (With, arguably, 1(c) being relevant only to smart contracts, because otherwise it's always an action of a contractual party to interpret a particular pr

[2018-05-01 02:24] duncandewhurst commented on #643
Importing the whole list wouldn't be appropriate since there are some codes which are PPP specific, e.g. `pppModeRationale`, `projectAdditionality`, `equityTransferCaps` etc.

Until we've seen more use of the PPP extension, I suggest we consider individual codes for inclusion in the core `documentType` codelist as and when publishers are asking for something similar to be added.

[2018-05-01 02:37] duncandewhurst commented on #619
In the UK, CCS call the EU prior information notice a 'future opportunity notice'.

Though `intendedProcurementNotice` seems the clearer code for the procurement context, being less generic it might not be appropriate for the use of OCDS to represent other types of contracting process.

Therefore I would favour adding `priorInformationNotice` and including the other possible names in either the co

[2018-05-01 03:07] duncandewhurst commented on #548
@dc-coder did I understand correctly that you are looking for a code to represent the case where a 3rd party is responsible for managing the contract, after signature, on behalf of the public party?

If so, I propose adding a `contractAdministrator` code with the following description:

(Based on the definition of Management Contracting in the [PPP Knowledgelab Glossary](https://pppknowledgelab.or

[2018-05-01 04:19] jpmckinney commented on #701
Do we consider all the above to be improvements over what's in core?

[2018-05-01 05:37] jpmckinney commented on #702
I think we can wait for the extension registry re-design, which may change the potential solution.

[2018-05-01 05:38] jpmckinney commented on #643
I judge this issue considered. We can open specific issues for specific codes. Closing.

[2018-05-01 05:38] #643 closed, assigned to nobody

[2018-05-01 05:40] jpmckinney commented on #619
Sounds good to me.

[2018-05-01 10:01] timgdavies opened #704 "Notes on translation of OCDS Validator, Schema and Extensions"
This ticket is to log a number of issues that may subsequently be split into separate tickets for our work on improved extensions registry and documentation updates.

## The current situation

* The OCDS Validator displays error messages based on the contents of the schema
* The OCDS Schema is used to generate documentation and mapping templates

The documentation generates a translated version of

[2018-05-01 11:40] Bjwebb commented on #704
Note that validation error messages generally aren't translated (https://github.com/OpenDataServices/cove/issues/986), so using the translated schema is just one part of fixing this.

To get something rough and ready for this is a few hours work. I can look into that this week if that's useful.

Additionally if people link to a branch on GitHub, then data validation may break due to changes to the

[2018-05-01 11:47] timgdavies opened #705 "Bank Account Codes"
For one implementation of ProZorro Sale, there is a proposal to collect data on the account details of the state entity selling an asset, to facilitate payments at the end of the process.

This raises a question of whether OCDS should have an extension or approach to representing bank account details. Whilst at present I don't see a strong use-case for bank account details being included in the OC

[2018-05-01 12:58] timgdavies commented on #704
This would be useful I believe to @duncandewhurst for work on updated mapping templates - yes please.

[2018-05-01 13:12] timgdavies commented on #704
Good questions indeed. I would think the behaviour we would *like* would be something like:

* User A switches to Spanish interface, and loads a file to validate
* User A sees the results in Spanish
* User A shares the link with User B who visits the site in English
* User B can see results in English, whilst User A is still seeing Spanish

This might mean that some of the information needs cachin

[2018-05-01 13:55] jpmckinney commented on #704
Maintaining dozens of extension repositories is already a pain I've only solved through lots of automation. Let's instead work on https://github.com/open-contracting/extension_registry/issues/86 which is to build a separate documentation website for all extensions (perhaps extensions.open-contracting.org). That website can have a single Transifex project for all versions of all extensions. It can

[2018-05-02 03:05] duncandewhurst opened #706 "Should the standard recommend content negotiation for all uris?"
Descriptions of `uri` fields in the schema aren't consistent about whether uris should point to machine readable and/or human readable resource.

Should `uri` field descriptions consistently state that uris should point to a machine and human readable resource?

**Example**

The description of the the `planning/budget/uri` field states:

Whilst the description of the `contract/implementation/trans

[2018-05-02 03:06] duncandewhurst commented on #701
Per my notes in https://github.com/open-contracting/ocds_budget_projects_extension/pull/12#issuecomment-385827996 I think for `budget` and `budget/description` these are improvements over the current definitions.

For `budget/amount` I think the current definition is better since it describes the use of negative values, though we could add the point on using `budgetBreakdown` for multi-year budget

[2018-05-02 03:22] duncandewhurst opened #707 "Expand Document descriptions"
The documentation extension previously introduced updated descriptions for the document building block and some of its fields (see https://github.com/open-contracting/ocds-extensions/issues/45):

The updated descriptions are copied below for consideration for inclusion in OCDS core:

- `document`: Documentation can be supporting information, formal notices, downloadable forms, or any other kind of

[2018-05-02 03:48] duncandewhurst commented on #619
Since there isn't an explicit definition for `priorInformationNotice` and it since it would be good to keep the definition general for use outside of the procurement domain I have staged the code using the GPA definition amended as follows:

For the time being I've omitted the 'category' field, do we have a view on whether providing a PIN would be considered basic, intermediate or advanced?

[2018-05-02 03:49] duncandewhurst commented on #619
Since there isn't an explicit definition for `priorInformationNotice` and it since it would be good to keep the definition general for use outside of the procurement domain I have staged the code using the GPA definition amended as follows:

For the time being I've omitted the 'category' field, do we have a view on whether providing a PIN would be considered basic, intermediate or advanced?

[2018-05-02 10:26] timgdavies commented on #704
I can see a couple of potential issues here that we might want to consider:

**Versioning of translations**

Transifex doesn't work that well for versioned content. We've had to create a new project for each version of the standard - and to have a process for copying past translations across to this.

By contrast, if we were picking up translations committed into the repo with each tagged release

[2018-05-02 15:50] jpmckinney commented on #704
To clarify the vision of the proposed new documentation website: There will be a page for v1.1 of the bids extension, for v1.1.1 and for v1.1.3. In other words, all releases of all extensions are all built in a single build.

One implementation option would be to create a 'profile' that pulls in the documentation for *each* release of *all* extensions. We currently do this in existing profiles for

[2018-05-02 22:59] duncandewhurst commented on #701
Noting also that the updated description for `budget/id` replaces the reference to "provided data source" with "formal budget documents", in line with the deprecation of `budget/source` in OCDS 1.1

[2018-05-03 03:19] jpmckinney commented on #619
Do we have examples of PINs in non-procurement contexts to inform the definition? "a request for participation, a tender, or both" is still fairly procurement oriented.

The typical neutral term is, I think, 'contracting authority' rather than 'contracting entity'. I think we use 'bid' instead of 'tender' to avoid ambiguity between 'call or tender' and 'submitted tender'.

I'm not clear on the use

[2018-05-03 04:12] duncandewhurst commented on #619
In terms of a non-procurement use for the code, I had in mind the Red Compartida PPP where a [request for expressions of interest](http://www.sct.gob.mx/uploads/media/COMUNICADO-117-2015.pdf) was issued to begin the process. Other jurisdictions seem to follow this practice too (e.g. [aus](https://www.pppkb.com/Pages/S5P0100.aspx), [nz](https://www.interest.co.nz/sites/default/files/NZ%20PPP%20guid

[2018-05-03 04:33] duncandewhurst commented on #619
Reading more on prior information notices in the EU (e.g. this [guidance](http://www.gov.scot/Topics/Government/Procurement/Selling/SupplierJourney/identify-business-opps/tender/PINs) from the Scottish Government and this [example PIN](http://ted.europa.eu/TED/notice/udl?uri=TED:NOTICE:170832-2017:TEXT:EN:HTML&tabId=1)), I'm not sure the GPA definition as it stands is appropriate, since a PIN in t

[2018-05-03 09:51] robredpath commented on #704
Warning: this may be a terrible idea.

Is there scope for grouping extensions in some way that reduces the number of individual projects but still allows us to treat certain groups of extensions differently?

[2018-05-03 19:44] jpmckinney commented on #704
@robredpath What would be the reason to group some extensions but not all extensions (as in my proposal)?

[2018-05-03 19:54] jpmckinney commented on #619
Aha, I believe GPA's "notice of intended procurement" is what we call a "tender notice" and its "notice of planned procurement" is what matches the PIN.

[2018-05-07 03:14] duncandewhurst commented on #619
Okay, that makes more sense, but unfortunately GPA has no explicit definition of "notice of planned procurement".

Given that in the EU the PIN can be used either to provide information on a planned procurement or as a call for competition we have two options:

### 1. Use a broad definition for intendedProcurementNotice which covers both scenarios

This would make it easier for EU publishers to ma

[2018-05-07 15:44] jpmckinney commented on #619
For some codelists, like procurement method, it's okay to lose information and distinctions, as there are use cases for that information loss, and alternatives to restore the distinctions (e.g. the guidance to put local codes in `procurementMethodDetails`). With the document type codelist, I think we should prefer no loss of distinction. Given that both GPA and EU have a clear distinction (GPA has

[2018-05-11 01:01] jpmckinney opened #711 "Parties: Organization classifications (e.g. women-owned businesses, legal entity type)"
## Motivation

Some procurement policies create obligations to track and/or promote the participation of women-owned businesses in contracting processes.

Many other classifications exist; women-owned businesses is just used as a common example.

## Discussion

Small or Medium Enterprise (SME) is another classification that is frequently the subject of procurement policies. There is a community ex

[2018-05-18 12:57] mpostelnicu commented on #566
Hi guys

we have just implemented https://github.com/devgateway/jocds/issues/14
Many thanks again for adding the metaschema files.

Wanted to see if there is a plan to include the new metaschema in the `$schema` attribute of the ocds schema from now on. For the moment we have to do this manually in order for validation to correctly work.

Thanks much !

[2018-05-18 13:36] jpmckinney commented on #566
@mpostelnicu Great to hear! This should be part of 1.2, but we don't yet have a release schedule for it.

[2018-05-21 00:27] duncandewhurst commented on #677
Whilst working on this I noted a typo in the record reference documentation which I fixed in https://github.com/open-contracting/standard/pull/713

[2018-05-21 00:29] duncandewhurst commented on #677
I don't think that fields in the release and record packages should be nullable, since merging only applies to the fields in the release itself, not the package metadata. Maybe @kindly can confirm?

[2018-05-22 23:45] duncandewhurst opened #714 "documentType: Align tenderNotice definition with WTO GPA"
The WTO [GPA](https://www.wto.org/english/docs_e/legal_e/rev-gpr-94_01_e.htm#articleI) has the following definition for notice of intended procurement.

The OCDS `documentType` codelist has the following definition for 'tenderNotice':

Should the OCDS definition be more closely aligned with the GPA definition to make it clear the notice is the invitation to suppliers to participate in the process?

[2018-05-23 00:01] duncandewhurst commented on #619
Since the EU prior information notice and the GPA notice of planned procurement are equivalent, i.e. both are primarily a planning notice, but can also be used as a call for competition in certain cases, I propose we add a single code based on the GPA terminology, since it has the broader scope.

Code | Title | Description |
-------|-------|----------------|
plannedProcurementNotice | Planned Proc

[2018-05-23 00:20] jpmckinney commented on #677
@duncandewhurst Ah, yes, package schema follow different rules. I do notice that most of the fields are nullable or non-nullable based on whether they are required or not, with only the above exceptions.

While on the topic, It's not clear to me that `null` should be a valid value for any of these, though it's not a significant issue (and we can't go back and change that now anyway).

I'll remove

[2018-05-23 14:07] timgdavies commented on #711
Based on discussions around #369 and the creation of the `parties/details` container in OCDS 1.1 we have been on the path of introducing specific extensions for particular collections of classifications, rather than a generic classifications object.

I believe that the Party Details extension approach makes it easier for us to surface, document, display and validate the different classification sc

[2018-05-23 14:25] jpmckinney commented on #711
I anticipate that a `classifications` field will still be desirable, as we (and the broader community) can't or won't anticipate every possible classification and/or have the desire or capacity to design an extension for each – and I suspect that the additional difficulty when working with naively flattened data (instead of bespoke flattened data which can compensate for the issues described) will

[2018-05-23 15:08] timgdavies commented on #703
A draft version of this extension is staged at https://github.com/open-contracting-extensions/ocds_contractRegister_extension

In the documentation I've included some signposting to how existing fields can be used as part of a contracts register, although this content may want to move into a separate guidance document in future.

Still to do are:

* [x] Constructing an extended example that shows

[2018-05-23 20:53] timgdavies commented on #711
The challenges I can see with a generic `classifications` field are that, without an extension being created to describe each code and support validation we may end up in a situation where:

* We have a lot of unvalidated classifications array entries.
* We have a lot of undocumented classification array entries: leaving users without any documentation on how to interpret these classifications.

A

[2018-05-24 02:04] jpmckinney commented on #711
Both structures require documentation and validation support…

CoVE doesn't presently have logic for validating classification objects, but that's a problem we can solve. CoVE presently reports "Additional Codelist Values" and "Additional Fields". It's conceivable to report additional classification `id` values. A simplistic example: We have a codelist CSV file for classification schemes, which in

[2018-05-24 05:05] duncandewhurst opened #716 "Split out the record and record package schemas"
Currently the standard has the following schema files:

* release-schema.json
* release-package-schema.json
* record-package-schema.json

The record schema is embedded within the record package schema.

Since the structure of a record is an important concept and to make the distinction clearer between releases and records and their packages, I think it would be preferable if the record schema was

[2018-05-24 05:14] duncandewhurst commented on #605
I added a related issue on how the package schemas are structured: #716

I agree with this but it's worth noting that not all publishers can have records.

When OCDS data is created on the fly (i.e. when a user requests it) and isn't stored independently of the non-OCDS data which it is generated from, then it's not possible to publish a record, because a record must contain an array of all the ex

[2018-05-24 07:11] kindly commented on #677
@duncandewhurst @jpmckinney
Yes I agree the release/record package fields should probably not be nullable as the merging does not happen to them.

[2018-05-24 17:50] jpmckinney opened #718 "Package schema need not allow null values"
In releases, null has a particular meaning in terms of merging. In packages, null has no special meaning and, in general, OCDS prefers to omit fields rather than include fields with null values.

This would be a backwards-incompatible change, so would be a consideration for OCDS 2.0. As the presence of null values is not a serious issue, we may chose to continue to allow them, in order to lower th

[2018-05-24 20:36] jpmckinney commented on #716
An issue that should perhaps be resolved at the same time: #330

[2018-05-24 20:38] jpmckinney commented on #677
Resolved in #712.

[2018-05-24 20:38] #677 closed, assigned to duncandewhurst

[2018-05-30 10:22] timgdavies opened #720 "Guidance: 'Data protection by design' notes to ContactPoint and suppliers"
With the [EU General Data Protection Regulations](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation) now in force we may want to consider updates to guidance on `ContactPoint` and other places where personal data could be included in a release, to highlight that publishers should carefully consider whether or not to include information here. The grounds to consider this would be:

*

[2018-05-30 15:01] LindseyAM commented on #720
@JachymHercher under GDPR do TED or EU governments have any obligation to withhold any 'personal' data from procurement publications (or otherwise take special steps with regard to that data)?

[2018-05-30 15:06] timgdavies commented on #720
The explanations from Aija Bilzena and Marcin Baryn (from the EU Publications Office) in session earlier today noted:

- The European Union institutions do not yet have to comply with GDPR as they are governed by separate regulations. However, there are reforms in progress that are likely to 'copy/paste' the GDPR principles, if not exact operation;
- There may be an obligation on authorities to re

[2018-06-08 13:32] timgdavies opened #722 "itemClassificationScheme: Add code for sale of assets"
The [ProZorro Sale](https://prozorro.sale/) team are exploring classification schemes to use as part of asset sales.

The [Common Procurement Vocabulary (CPV)](https://simap.ted.europa.eu/cpv) doesn't provide the required codes, which need to cover things such as:

- Real Estate
- Residential Real Estate
- Apartment in a low-rise residential building
- Apartment
- Ealing
- Penthouse
- Multi-level

[2018-06-08 14:23] timgdavies opened #723 "Should we allow fuzzy dates and use of ISO8601 notation for durationInDays"
This issue is for discussion of possible changes that could be made in future versions of OCDS to the handling of dates. We want to identify if there are use cases that would benefit from this, and how it would impact users and applications.

## The current situation and future considerations

### Dates and times

Whenever OCDS includes a date, we ask for a full ISO `date-time` consisting of:

I.e

[2018-06-08 16:18] timgdavies commented on #723
There is a blog post at https://www.open-contracting.org/2018/06/08/territory-map-storing-sharing-open-contracting-data/ which explores some aspects of modelling dates in OCDS and design principles that have been applied to date.

[2018-06-08 20:38] mpostelnicu commented on #723
I've just read your post. Was wondering if you've considered optionally using the format attribute, using `ISO-8601` format notation, and just let to the user input the date in what ever format she chooses fit, while specifying that format. Example would be  `date="2018-02-03",  format="yyyy-MM-dd"`.  Or you can always use some more comprehensive format when needed, like `format="yyyy-MM-dd'T'HH:m

[2018-06-09 12:53] PaulBoroday commented on #705
If we look a little broader, State Entity selling something - it’s just a participant of a process who launch this process (very similar to CA who launching contracting process to buy something, isn’t it?). From another hand on some step the second party appears in the process - buyer (in a sales case). This party defenetly have own requisites which they use for mutual settlements within the contr

[2018-06-11 07:53] timgdavies commented on #705
Thanks @PaulBoroday - this is really useful. I'm reading these are general reflections, rather than a specific demand for extensions right now?

As I understand from this:

* We might want to make `bankAccount` details a property of an `Organization`
* There may be cases where `bankAcount` information is useful for tracking budgets (though in general we might address this through our planned budge

[2018-06-11 08:22] timgdavies commented on #723
Thanks @mpostelnicu: useful reflections. Whilst I can see specifying a format working quite nicely in XML idiom (value and attributes), it feels less familiar/easy to model in JSON. It also does place more burden on the user to process data more heavily before use for the common use case of comparing dates etc.

On duration though, I like the idea of a backwards compatible `duration` field as an o

[2018-06-13 09:45] JachymHercher commented on #722
Just a few pointers that could perhaps be useful - no idea whether they can acatually match ProZorro Sale's needs.

Public (EU's, UN's, etc.) classifications:
- [Statistical classification of products by activity (CPA)](http://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Statistical_classification_of_products_by_activity_(CPA))
- The sub-classification of CPA, [PRODCOM](http://ec.

[2018-06-14 08:17] Bjwebb commented on #697
This didn't happen https://www.currency-iso.org/dam/downloads/dl_currency_iso_amendment_167.pdf

Bolívar has been postponed for an indefinite period and thus will not be effective from 4 June
2018 as communicated in AMENDMENT NUMBER 166.

[2018-06-14 08:17] #697 closed, assigned to nobody

[2018-06-29 22:09] jpmckinney commented on #702
Extensions are responsible for their `documentationUrl`. The use of `1.1` is correct for the deployed documentation, which is in the `1.1` minor series. When releasing core extensions for e.g. `1.2`, we will have to update the `documentationUrl` of core extensions accordingly (though it is likely to point to the separate extensions explorer website).

[2018-06-29 22:09] #702 closed, assigned to Bjwebb

[2018-06-29 22:11] jpmckinney commented on #623
Closing as resolved.

[2018-06-29 22:11] #623 closed, assigned to nobody

[2018-06-29 22:13] jpmckinney commented on #584
The modification of codelists by extensions is documented at https://github.com/open-contracting/standard_extension_template#codelists

[2018-06-29 22:13] #584 closed, assigned to nobody

[2018-06-29 22:26] jpmckinney commented on #679
1.1 was published a year ago. Although requiring `Organization.id` would not have been backwards-incompatible at the time, introducing this requirement now could invalidate published 1.1.X data that doesn't have an `id` set on every `Organization`. Therefore, I suspect this change would have to be 2.0, in which case we should close the PR.

cc @timgdavies

[2018-07-02 15:25] JachymHercher opened #728 "Unique Open Contracting ID per contracting process?"
Just wondering: is there any mechanism in OCDS to ensure that a contracting process has only a single ocid? For example, I would expect that a contracting process would receive an ocid in Contracts Finder and another, totally different, ocid in Digiwhist.

I'm assuming there isn't (because OCDS does not try to control who's publishing what) and it's rather a matter for the publishers to solve. Tha

[2018-07-03 10:15] Bjwebb commented on #670
Looks like lbovet has merged yanick's changes now, and our copy is up to date with that.

[2018-07-03 10:15] #670 closed, assigned to Bjwebb

[2018-07-03 14:48] jpmckinney commented on #728
OCDS has strategies to avoid the same OCID being used to refer to multiple contracting processes (e.g. using [OCID prefixes](http://standard.open-contracting.org/latest/en/schema/identifiers/#globally-unique-identifiers) to scope each publisher's identifiers), but doesn't have strategies to avoid the same contracting process having multiple OCIDs (e.g. if two publishers disclose information about

[2018-07-04 07:44] timgdavies opened #730 "relatedProcess: Add 'planned' code"
The [relatedProcess](http://standard.open-contracting.org/latest/en/schema/codelists/#related-process) codelist has an entry for 'planning' to point *upwards* from a tender to the contracting process in which it was planned. But it does not have an entry for pointing from a planning process to the tenders that resulted from it.

This would be important for cases where a publisher wants to show the

[2018-07-04 07:45] timgdavies commented on #730
I propose 'planned' as the code to use in these cases, described as:

[2018-07-04 19:48] timgdavies commented on #679
From governance perspective, I think this would have to wait until 2.0.

We could however look at implementing a warning in CoVE in the meantime.

[2018-07-05 17:01] jpmckinney opened #731 "Improve extensions creation documentation"
In terms of existing materials, a draft blog post and slide deck exist in the internal CRM issue 2373.

[2018-07-09 10:04] #728 closed, assigned to nobody

[2018-07-12 03:16] duncandewhurst opened #735 "Update the description of uri in the package metadata"
The current description for the `uri` field is

Many implementations do not use the full releases and records implementation model and instead maintain a single release per contracting process, updating it whenever anything changes.

As such providing a URI which is a unique identifier and which is also a link to a persistent copy of the package containing a given release is not possible, since th

[2018-07-12 04:13] jpmckinney commented on #735
My understanding was that packages can change, e.g. a paginated API (`http://example.com/packages?page=1`) or a bulk download (`http://example.com/packages.json`) can respond with a package – with both of these changing as more releases are published.

So, I'm not clear on the need to change the definition. "The URI of this package that identifies it uniquely in the world" remains true; such packa

[2018-07-12 04:41] duncandewhurst commented on #735
I had understood the uniqueness of the identifier to imply the immutability of the package identified by it, prompted by the NSW Australia implementation, where the field was left blank with that rationale.

I've advised the publisher to provide the url from which the package was retrieved in that field, so thought that might be a useful clarification to make in the description.

[2018-07-12 05:32] jpmckinney commented on #735
Releases should be immutable, but I'm not aware of an intention for packages to be immutable (at least, I don't know where this is expressed).

In general, a unique identifier need not imply immutability, e.g. a social insurance number uniquely identifies an individual, though that individual nonetheless changes over time.

I'm unclear on "The URI from which this package was retrieved". If a packa

[2018-07-13 04:30] duncandewhurst commented on #735
Yes "can be retrieved" makes more sense, but since the intended clarification causes more problems than it solves I'll close the issue.

[2018-07-13 04:30] #735 closed, assigned to nobody

[2018-07-14 17:47] PaulBoroday commented on #524
Could something like this be considered as a solution to the problem of codifying and detailing string data in the address?

[code]

[2018-07-18 03:59] jpmckinney commented on #524
The [location](https://github.com/open-contracting/ocds_location_extension) extension has the concept of a gazetteer, which might be relevant here.

We don't want to over-complicate the specification of addresses, but we could add a separate way to specify geographic codes and schemes.

Changing existing fields would be backwards-incompatible, and few systems presently use schemes to control possi

[2018-07-27 19:42] yolile opened #736 "[extension] Marks/Classifications/Characteristics of a contracting process"
### Motivation

Some countries, Colombia and Paraguay for example, publishs some marks, classifications or characteristics of a process to identify them. In the Colombia case they have the mark 'Acuerdo de Paz', for mark those process that are part of the peace agreement.
In Paraguay they publishs an array of "tags", that can have differents values as: "Producción Nacional", "Seguridad Nacional",

[2018-07-27 21:37] jpmckinney commented on #736
Could you provide more information about the nature of these tags?

There is a draft [coveredBy extension](https://github.com/open-contracting-extensions/ocds_coveredBy_extension) that may cover some. That extension was created because the Revised Agreement on Government Procurement (GPA) includes: "each notice of intended procurement shall include … l. an indication that the procurement is covere

[2018-07-30 07:00] PaulBoroday commented on #524
Yes It might works, but ASAICS this extension relates only for item and it’s place of delivery. And I’m mostly talking about parties addresses

[2018-07-30 07:41] timgdavies commented on #524
Given ISO-Alpha2 is generally sufficient for most needs, I don't think we would need the option for multiple schemes, and so the simplest approach would be to include `countryCode` alongside `country` in the address.

I note that schema.org [address country](https://schema.org/addressCountry) is agnostic as to whether their `addressCountry` field should be a code or string, but as we have use-case

[2018-07-30 09:53] kindly opened #737 "make_validation_schema.py creating different data for 1.1.2 vs 1.1.3"
Due to ```unit``` now having type ```["object", "null"]``` not just ```object``` the make_validation_schma.py is producing different schemas in 1.1.2 vs 1.1.3.
This is making the 1.1.3 version of versioned-release-validation-schema.json backwards incompatible with the 1.1.2 one.

[2018-07-30 16:03] jpmckinney commented on #524
All sounds good.

@PaulBoroday If you want to pursue the idea of an extension for geographic identifiers, could you create a new issue? That way, we'll keep this issue narrowly scoped to just being about the country code.

[2018-07-31 16:48] PaulBoroday opened #739 "addressDetails - the way to disclose more"
In a lot of cases we are facing with a lack of structured information regarding the address of party, place of performance, jurisdiction and so on. To achieve more detailed and (most important) structured description of such information, could something like this be considered as a possible extension of 'Address' object?

`{
  "address": {
    "addressDetails": {
      "addressCountry": {

[2018-07-31 16:51] PaulBoroday commented on #524
@jpmckinney done: [addressDetails - the way to disclose more](https://github.com/open-contracting/standard/issues/739) ;)

[2018-07-31 19:53] jpmckinney commented on #739
Instead of having fields whose values are each an object, would it serve your needs to have one field whose value is a list of objects? To take @timgdavies' example in #524:

----

In terms of the region and locality break-downs given in the example:

(1) From the perspective of what OCDS might recommend that publishers provide in future, I can't imagine us recommending this information is include

[2018-08-01 04:51] jpmckinney commented on #737
Closed by #738

[2018-08-01 09:31] duncandewhurst opened #741 "Extensions list is broken on the party details page"
From https://github.com/open-contracting/standard/commit/c601cb36da251e7cc76946d46aeb4acdd75c4389#commitcomment-29182892

The extensionlist directive for community extensions on the [party details page](http://standard.open-contracting.org/1.1-dev/en/extensions/party_details/) is broken, it should display the party scale extension.

[2018-08-01 14:49] jpmckinney opened #742 "Add links to canonical schema URLs from documentation pages"
e.g. http://standard.open-contracting.org/schema/1__1__3/release-schema.json

A quick search suggests there aren't any such links from documentation pages (except in the `id` properties of any rendered schema). At the very least, this issue is to make these URLs more prominent, to increase the likelihood that they are used instead of convenience schema URLs like http://standard.open-contracting.or

[2018-08-01 15:15] jpmckinney commented on #741
You already fixed it :) https://github.com/open-contracting/standard/commit/ec39047e514d79756f50f5705b42a50622415b63#diff-417406ffc884d8a1b00a68ea075c537f

[2018-08-01 15:21] jpmckinney commented on #741
The list is empty because the directive only lists core extensions (or, if used in a profile, only lists the profile's extensions).

Here's the [original code](https://github.com/open-contracting/sphinxcontrib-opencontracting/blame/b1e8fb31a219d08782ec2c2b35a8edbbc1cf9a61/sphinxcontrib/opencontracting.py#L52-L54) before my more recent changes, just to demonstrate that it was only listing core exte

[2018-08-01 17:19] duncandewhurst commented on #741
I may have misunderstood @Bjwebb's comment that this was due to the javascript for listing the community extensions wasn't working on that page of the docs, but I thought the directive could also list community extensions, e.g.

![image](https://user-images.githubusercontent.com/19265814/43537500-62bce7bc-95b7-11e8-8416-6b6476cb857f.png)

[2018-08-01 17:31] jpmckinney commented on #741
Ah, oops. The directive does only list core extensions, but there is JS for listing community extensions that targets the HTML created by the directive. I think the bug is that the extensionlist JS code only runs if `isSchemaReferencePage` is true, i.e. it's not being run on `extensions/party_details/`.

[2018-08-02 15:10] jpmckinney commented on #739
On one hand, for most schemes, it's possible to determine which location component an item is about: e.g. ISO 3166-1 alpha-2 is only for countries, ISO 3166-2 is only for principal subdivisions (typically the same as 'regions'), UN/LOCODE seems to be only about localities, NUTS applies to different components but you can tell which component a code is about based on its length/format, etc.

On the

[2018-08-02 16:42] PaulBoroday commented on #739
From consumer’s (NEPP, BI, etc) point of view it too hard to try to understand sense of data based on assumptions. Espessially keeping in mind that in different countries different specific schemes could be in use and you newer know what, for example, some “IDENTIFICATIONSCHEMAOFSOMETHING” describes: country, region, city or disctrict or maybe something else.

[2018-08-03 06:05] PaulBoroday commented on #736
@yolile, please clarify, these characteristics (Producción Nacional", "Agricultura Familiar“) should describe (classify, mark,etc) required subject of procurement or some, let’s say, state program in the framework of which this procurement is carried out? Or something else?

[2018-08-03 20:21] yolile commented on #736
these are all the marks that Paraguay publish: https://www.contrataciones.gov.py/datos/api/v2/doc/parametros?dominio=MARCA_CONTRATO
on that list, some of the marks can be covered by the coveredBy extension, because the marks has a legal normative that acompaigns the mark, but others are just a higligth characteristic that the publisher wants to remark and maybe it is not necesary to publish it in

[2018-08-06 17:35] jpmckinney opened #743 "Declare the versions of core extensions in use"
On a call with @duncandewhurst and @timgdavies, we discussed the desire, in future releases of OCDS, to declare the version numbers of core extensions in use within each release of OCDS.

A new release of a core extension isn't necessarily made with each new release of OCDS (e.g. if OCDS changes, but the extension doesn't). Looking ahead, we might also want to make releases of core extensions at a

[2018-08-12 18:21] timgdavies commented on #703
I've added examples and tested the extension. Final step now is to

* [x] Add to the extensions registry

[2018-08-14 15:32] duncandewhurst opened #745 "Clarify how release/id in a compiled record should be populated"
The schema for a compiled release includes the `release/id` property, but it's not clear whether this field should be provided and how it should be populated since `"omitWhenMerged": true` and the merging rules state

[2018-08-24 15:22] jpmckinney commented on #619
I'll have guidance in https://github.com/open-contracting-extensions/european-union regarding the appropriate release tags to use, but if a 'notice of planned procurement' is used as a 'notice of intended procurement', I think its tags should be both 'planning' and 'tender'.

[2018-08-24 15:48] jpmckinney commented on #262
My proposal in https://github.com/open-contracting-extensions/european-union is to add `details.classifications` to `Organization`, and to have a 'TED' scheme for TED's "Type of the contracting authority", and a 'COFOG' scheme for TED's "Main activity".

[2018-08-24 15:49] jpmckinney commented on #269
See https://github.com/open-contracting/standard/issues/262#issuecomment-415800266

[2018-08-24 15:57] jpmckinney commented on #399
This issue seems to be mainly about inferring the 'sector' of the contracting process from the identity of the contracting authority, and doesn't suggest cases where the 'sector' of the process would be different from that of the authority. That means it's a duplicate of #269, so closing.

FYI, https://github.com/open-contracting-extensions/ocds_ppp_extension adds `planning.project.sector` for cas

[2018-08-24 15:57] #399 closed, assigned to nobody

[2018-08-24 17:20] jpmckinney commented on #161
In EU, a tender has a 'main CPV code', and the object of procurement (whether represented as lots or not) can have multiple CPV codes, each of which can have multiple CPVS codes. However, a CPVS code is only interpretable in the context of a CPV code:

— from [CPV 2008 Explanatory Notes](https://simap.ted.europa.eu/documents/10184/36234/cpv_2008_explanatory_notes_en.pdf)

— from [CPV 2008 Suppleme

[2018-08-29 22:11] jpmckinney commented on #38
My references to EU and UNCITRAL don't go as far as 'connect records of challenges to a contract'.

There has been no participation in this issue outside standard editors. Closing, but can be re-opened for discussion if interest is expressed.

[2018-08-29 22:11] #38 closed

[2018-08-29 22:16] jpmckinney commented on #205
Removing 'Use case - Trade' tag, as the information about review procedures in EU forms, UNCITRAL, WTO GPA don't go as far as disclosing actual complaints.

[2018-08-29 22:19] jpmckinney commented on #430
Removing 'Use case - Trade' tag, as the EU forms, UNCITRAL, WTO GPA don't go as far as this.

[2018-09-04 13:55] yolile opened #748 "Extension - Parties detail - Legal entity type"
There are many types of business entities defined in the legal systems of various countries. These include corporations, cooperatives, partnerships, sole traders, limited liability companies and other specifically permitted and labelled types of entities. The specific rules vary by country and by state or province. [1]

Colombia needs to publish the type of legal entity of each supplier, so the fo

[2018-09-04 14:07] yolile commented on #736
Closing since the coveredBy extension can be used

[2018-09-04 14:07] #736 closed, assigned to jpmckinney

[2018-09-04 18:20] yolile opened #749 "Location for enquiries and awards"
Colombia has to publish the location for make enquiries and also the location where the awards it is going to be.
Example:

[LUGAR_ACLARACION] : AREA DE CONTRATACION Av 5 Calles 13 y 14 Secretaria General Segundo Piso
[LUGAR_ADJUDICACION]:  SALA DE JUNTAS  Av 5 Calles 13 y 14

The proposal is to add the fields
- tender/enquiriesAddress and
- award/awardAddress

 of type **Address**

[2018-09-04 19:10] yolile opened #750 "Tender: Procurement method sub-type"
In Uruguay, apart form the procurementMethod, each of them has a sub type of procurement, that have their own codes defined here: https://www.comprasestatales.gub.uy/comprasenlinea/jboss/reporteSubTiposCompra.do

The proposal is to add a **tender/procurementSubMethod** field to add this information as an open codelist

----

Main types are defined at https://www.comprasestatales.gub.uy/comprasenli

[2018-09-04 19:38] yolile commented on #383
INAI published a repository for this extension: https://github.com/INAImexico/ocds_taxes_extension

cc @antonioherrera

[2018-09-04 20:16] yolile opened #751 "Item: Additional attributes"
Uruguay has additional information about the items to be procured  and the items awarded as:

	id_color		(color identifier)
	desc_color	(color description)
	id_variante	(variant identifier)
	variante		(variant description)
	unidad_medida_variante	 (variant measure unit)
	medida_variante		(variant measure description)
	presentacion			(presentation)
	medida_presentacion	(presentation measure)
	unida

[2018-09-05 07:55] duncandewhurst commented on #749
@yolile it might be better to use `tender/enquiriesAddress` and `tender/awardAddress`, in keeping with the terminology used in the location extension and the organization block.

[2018-09-12 14:51] timgdavies commented on #587
We have been working on a set of MUST, SHOULD, MAY statements to guide the development and certification of validation tools. Comments are welcome on the proposed list below:

* Tools MAY accept input in any recognized OCDS serialization format. If non-JSON input is accepted, it SHOULD be converted to OCDS JSON for validation against the canonical JSON schema.

* Tools MUST check that the document

[2018-09-12 21:30] jpmckinney commented on #587
Extensions modify the schema, and the result is (at least loosely) still OCDS. What modifications are intended in this statement? Modifications by the tool itself (i.e. not by the input data)?

If the statement is intended to mean any modification (including by extensions), we might want more specific language than 'OCDS' (perhaps 'released versions of OCDS schema'), and/or provide sample language

[2018-09-13 02:35] jpmckinney commented on #262
Closing here, as for now this will be in an extension, not core. In the next minor/major release, we can consider whether any extensions should become core.

[2018-09-13 02:35] #262 closed

[2018-09-13 02:40] jpmckinney commented on #748
For the EU context, I [propose](https://github.com/open-contracting-extensions/european-union/issues/10) adding `Organization.details.classifications` (an array of Classification objects). In the EU, it'd be used to describe the type (ministry, local authority, etc.) and main activity (health, education, etc.) of the organization, using the schemes 'TED_CA_TYPE' and 'COFOG' respectively. I think t

[2018-09-13 02:40] #748 closed, assigned to jpmckinney, timgdavies, duncandewhurst

[2018-09-13 02:43] jpmckinney commented on #269
Closing here, as for now this will be in an extension (linked from above comment), not core. In the next minor/major release, we can consider whether any extensions should become core.

[2018-09-13 02:43] #269 closed

[2018-09-14 17:06] timgdavies commented on #483
It might have been a while since this issue was updated: but we've been working on this at length - with discussions at OC Global 2017, a [discussion paper](https://docs.google.com/document/d/1b43JeG5YQ62tGTTbP7jTE4XqUxYzG-r-emgRILZPRn4/edit) prepared earlier this year, conversations with the Open Knowledge Fiscal Data Package team, and discussions at OGP Tbilisi.

The result is a [draft ocds budg

[2018-09-14 17:11] timgdavies commented on #616
The proposed [budget and spend](https://github.com/open-contracting/standard/issues/483#issuecomment-421423087) extension offers a possible approach to model this by:

* Creating a ```financialProgress/measures``` object, or ```financialProgress/breakdown/measures``` object;
* Having measures that show the amount `requested` and `confirmed`;
* Documenting that applications should check these value

[2018-09-14 17:15] timgdavies commented on #616
Given this issue has not had engagement from community since it was opened (and it was only responding to a single request), and as it now contains two (complementary) proposals for dealing with the situation, I'm closing.

Can re-open if there is a view that this needs more standard development work / has implications for future standard upgrades.

[2018-09-14 17:15] #616 closed, assigned to nobody

[2018-09-14 17:17] timgdavies commented on #635
@juanpane My understanding is that this is all complementary/compatible with the [ocds_budget_and_spend proposals](https://github.com/open-contracting/standard/issues/483#issuecomment-421423087), and as local extensions will just be something for us to be aware of in next upgrade process / if in future someone want to do the same as Paraguay (in which case it could move to be community extension).

[2018-09-14 17:17] #635 closed, assigned to nobody

[2018-09-14 17:19] timgdavies commented on #432
This requirement has only come up once, and any future similar cases should explore whether needs can be met by the [ocds_budget_and_spend extension](https://github.com/open-contracting/standard/issues/483#issuecomment-421423087).

[2018-09-14 17:19] #432 closed, assigned to nobody

[2018-09-17 14:58] robredpath commented on #587
It's been a while since I last saw this, but I think that was the intention. How about "as being unmodified OCDS"?

[2018-09-17 17:36] jpmckinney commented on #587
Any issue with 'released versions of OCDS schema'? 'unmodified OCDS' is still ambiguous about what counts as 'OCDS'.

[2018-09-18 19:33] jpmckinney commented on #400
@timgdavies Can you update this issue based on your recent work on budgets?

[2018-09-18 19:39] jpmckinney commented on #393
Apologies for the lack of response.

Such thresholds exist outside the scope of a given contracting process; therefore, they are not a good candidate for inclusion in an OCDS release, especially given that the thresholds are stable over long periods of time. My recommendation, for the computation of red flags, would be to configure the software measuring the red flag indicators with the thresholds

[2018-09-18 19:39] #393 closed, assigned to nobody

[2018-09-18 19:49] jpmckinney commented on #318
There is an open issue at https://github.com/open-contracting/ocds-extensions/issues/10

Otherwise, this issue contains no proposal or question, so closing.

[2018-09-18 19:49] #318 closed, assigned to nobody

[2018-09-18 20:01] jpmckinney commented on #179
As mentioned in https://github.com/open-contracting/standard/issues/179#issuecomment-264183974, structured data about such reviews is very rare. The EU, for example, has only a checkbox and free-text field. GPA has nothing.

I'll close this issue as having insufficient participation and evidence for standardization. Originally raised by @AlCollier in #171, mentioned in #200 and #184, and survived

[2018-09-18 20:01] #179 closed

[2018-09-18 20:31] jpmckinney commented on #365
There are two conversations here: one about standard guidance on what order to present documents in, and another conversation about how to encode order (with a `position` field).

I don't think there is a single answer to the first question, as it depends on the consuming application's use cases. Some would prefer reverse chronological order. Some would prefer grouping by type. In general, however

[2018-09-18 20:31] #365 closed, assigned to nobody

[2018-09-18 20:41] jpmckinney commented on #414
I don't believe it is yet possible in JSON Schema to express such relationships. Rather than extend the meta-schema (as done for codelists, which was justified as they are a central concept), I figure it best to perform these sorts of 'coherence' checks through a data quality tool. Closing as that wouldn't be a standardization issue.

[2018-09-18 20:41] #414 closed, assigned to nobody

[2018-09-18 20:46] jpmckinney commented on #423
@duncandewhurst The link isn't working for me, but is there any issue with simply having both the budget line title and budget programme in the same field? In many implementations, the `*Details` fields are a concatenation of fields in source systems; we would need a strong use case for separating the two (and in that case, we'd probably want a new field for each, leaving `budget.description` as a

[2018-09-18 20:52] jpmckinney commented on #499
In an effort to focus on extensions that have significant interest and support, I am closing this issue, due to lack of participation and lack of evidence outside ProZorro. We, of course, welcome extensions contributed by others for inclusion in the [registry](https://github.com/open-contracting/extension_registry). FYI, @myroslav

[2018-09-18 20:52] #499 closed, assigned to nobody

[2018-09-18 20:53] jpmckinney commented on #545
Closing in favor of data quality tools.

[2018-09-18 20:53] #545 closed, assigned to nobody

[2018-09-18 20:57] jpmckinney commented on #564
As @LindseyAM wrote, management of assets (e.g. snowplows) and supplies (e.g. computers) are somewhat orthogonal to contract management. In future, there can perhaps be links from contracting systems to asset/supply systems, but to my knowledge such links are rare, and assets/supply systems are much less frequently open. Closing until such links become a real possibility.

[2018-09-18 20:57] #564 closed, assigned to nobody

[2018-09-18 21:02] jpmckinney commented on #575
No interest has been expressed in this issue, so closing in favor of having a single means of expressing amendments.

[2018-09-18 21:04] jpmckinney commented on #585
Closing in favor of #403 which has more participation.

[2018-09-18 21:04] #585 closed, assigned to nobody

[2018-09-18 21:06] jpmckinney commented on #593
Closing as this would go too deep on modelling projects, given the focus of OCDS is the contracting process. The work on Open Contracting and Infrastructure, later this year, may provide options for expressing more information about projects.

[2018-09-18 21:06] #593 closed, assigned to nobody

[2018-09-18 21:09] jpmckinney commented on #434
Rather than keep many issues open about renaming fields in 2.0, I recommend reviewing all names as part of a 2.0 process – so closing.

[2018-09-18 21:09] #434 closed, assigned to nobody

[2018-09-18 21:13] jpmckinney commented on #456
Closing - see reason in #434.

[2018-09-18 21:13] #456 closed, assigned to nobody

[2018-09-18 21:14] jpmckinney commented on #641
Actually, we can do this in 1.x, as changing the case won't invalidate 1.x data.

[2018-09-18 21:20] jpmckinney commented on #455
I'm not sure why the description includes "A release identifier must be … unique within any release package it appears in". `ocid` should always be used together with `id` to form a unique key.

I think the simpler solution is to relax the description and remove ", and unique within any release package it appears in" (unless I'm missing a clear rationale). This would be backwards-compatible.

[2018-09-18 21:22] jpmckinney commented on #245
Closing - see reason in #434.

[2018-09-18 21:27] jpmckinney commented on #358
I believe this overlaps with planned work to apply the OCDS Glossary to the documentation and schema, and adjust language where appropriate. Closing as there is no specific change to resolve here.

[2018-09-18 21:27] #358 closed, assigned to nobody

[2018-09-18 21:29] jpmckinney commented on #528
Closing in favor of reconsidering more broadly, as part of 2.0, whether to move more toward a 'hard compliance' approach, and depending on how far we choose to go, to then decide which fields (like this one) ought to have additional validations.

[2018-09-18 21:29] #528 closed, assigned to nobody

[2018-09-18 21:33] jpmckinney commented on #706
I don't think we can *require* content negotiation (even in 2.0), as I don't think implementers will have that capacity for a while. We can, however, describe content negotiation as a best practice in the 1.x series.

As I understand, there are few cases where we specifically require either machine- or human-readable resources, and I think for the time being we should stick with that, given that i

[2018-09-18 21:43] jpmckinney commented on #229
Moving to 1.2, given that abandoning in-file translations (i.e. designing a mechanism to translate an entire release, instead of individual fields) is mentioned in https://github.com/open-contracting/standard/issues/229#issuecomment-260129185 as an option.

Note that the EU translates entire forms, not fields on forms. It marks one as the 'original' and the others as 'translation'. In cases like C

[2018-09-18 21:46] jpmckinney commented on #683
Fixed via referenced sprint.

[2018-09-18 21:46] #683 closed, assigned to nobody

[2018-09-18 22:10] jpmckinney commented on #413
Having read the mentioned issue, there are a few scenarios we've seen, in which the original source is not in OCDS format:

1. A CSO publishes data in OCDS format, using available data from a government source that includes process identifiers.
1. A CSO publishes data in OCDS format, authoring new data based on a government source that has no structured data or process identifiers.
1. An aggregato

[2018-09-18 22:10] #413 closed, assigned to nobody

[2018-09-18 22:12] mpostelnicu commented on #455
*Moved to #834*

yes, in addition to what @jpmckinney mentioned,  i think we need to remember about `records` and `compiledReleases`, too.

When the standard was initially developed, i remember the release was designed as an atomic modification message of a larger entity, similar to a `git diff` over a larger file. Many of us publish releases directly , with package information.

But probably what

[2018-09-18 22:19] jpmckinney commented on #389
Closing as additional work on a standard API specification isn't anticipated in the near future, though links to best practices can be considered.

Most of the issues with existing OCDS APIs are at the implementation level, not at the design level, and even at the design level, better APIs can be implemented by following common patterns and practices.

If I try to imagine OCDS-specific API details

[2018-09-18 22:19] #389 closed, assigned to nobody

[2018-09-18 22:23] jpmckinney commented on #745
My understanding is that it shouldn't be populated in `compiledRelease`.

[2018-09-18 22:37] jpmckinney commented on #161
Proposal is at http://standard.open-contracting.org/profiles/eu/master/en/F01/#/OBJECT_CONTRACT/CPV_MAIN/CPV_SUPPLEMENTARY_CODE

Contribute to issue at https://github.com/open-contracting-extensions/european-union/issues/16

[2018-09-18 22:37] #161 closed

[2018-09-18 22:40] jpmckinney commented on #704
This has largely been taken forward through tech work (https://github.com/open-contracting/extensions-data-collector, https://github.com/open-contracting/extension-explorer). Issues will be opened as appropriate when ready to make changes to the standard's documentation.

[2018-09-18 22:40] #704 closed, assigned to Bjwebb, robredpath

[2018-09-18 22:49] jpmckinney commented on #363
Closing as we've seen no demand for 1.0 to 1.1 support. We will work on upgrade support for 1.1 to X.X.

[2018-09-18 22:49] #363 closed, assigned to nobody

[2018-09-18 22:50] jpmckinney commented on #745
Marking duplicate of #330.

[2018-09-18 22:50] #745 closed, assigned to nobody

[2018-09-18 23:14] jpmckinney commented on #375
This issue is primarily a continuation of #200, which exclusively discusses renewals in an EU context (except where the conversation took tangents that became separate issues). In the EU, however, there is no concept of 'maxExtent' within the published data or standard forms. The forms have only:

* II.2.7 Duration of the contract, framework agreement or dynamic purchasing system
  * This contract

[2018-09-18 23:14] #375 closed, assigned to nobody

[2018-09-19 07:28] robredpath commented on #587
Nope, that's fine!

[2018-09-20 17:25] jpmckinney commented on #375
I forgot that `maxExtentDate` was in the `Period` object (added as part of #374) 🙇‍♂️

[2018-09-26 18:20] jpmckinney commented on #392
Raised at Standards Day by @kaerumy

For example, in a large infrastructure project in Malaysia, a company might win the construction of the project, then publish opportunities and awards on its own website. In this case, at minimum, the company should re-use and publish the identifier of the project it won, in order to link the disclosures.

[2018-09-26 18:45] jpmckinney opened #754 "Guidance: Worked examples of mapping codelists"
A common issue during implementation is mapping a local code to an OCDS code, especially in the case of closed codelists where more decisions have to be made and where nuance might be lost. We can provide worked examples, ideally based on real cases, to illustrate the process and considerations.

Raised at Standards Day by @cengkuru

Some existing related documentation and guidance:

* http://stan

[2018-09-26 18:48] jpmckinney opened #755 "Guidance: Consider repeating key messages"
For example, potential implementers frequently assume that all fields in OCDS must be disclosed. We can repeat the message that full disclosure isn't required to comply, e.g. on schema reference and other frequently visited pages, to ensure the message is communicated.

Raised at Standards Day by @cengkuru

[2018-10-06 01:26] jpmckinney opened #757 "Add script to test for use of novel JSON Schema features"
The merging rules, the reference implementation of the merge routine, and the script to generate the versioned release schema only have defined behavior for expected JSON Schema features. For example, in the release schema, if we were to use `anyOf`, `oneOf`, `allOf`, or `not` [validation keywords](https://tools.ietf.org/html/draft-fge-json-schema-validation-00), or if we were to omit `items` from

[2018-10-09 10:57] duncandewhurst opened #758 "Worked example (1.2): Contract suspension"
In the [ageops](https://ageops.net) system in Afghanistan contracts can have status = suspended ([example](https://ageops.net/en/procurement-procedure/contract/progress/RRD%252FMOF%252FNRAP%252FKBL%252FLGR%252F055%252FC2%252F001))

This indicates that the contract is temporarily suspended, for example due to security reasons, and will either be resumed at a later date or cancelled. The system does

[2018-10-09 14:33] timgdavies commented on #758
See also long standing issue re status='terminated' #395 which suggests this codelist would benefit from wider revisions.

[2018-10-09 16:15] duncandewhurst commented on #644
We should clarify this guidance further, to explain whether `planning/milestones` or `tender/milestones` should be used in the scenario where a planning system includes information on planned milestones during the tender process (e.g. the date on which responses to enquiries will be published).

I've been working on the assumption that this type of information should be provided in `tender/milesto

[2018-10-11 21:39] jpmckinney commented on #652
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_surveillanceMechanisms_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:40] jpmckinney commented on #651
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_guarantees_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:43] jpmckinney commented on #703
It was added to the registry on September 4. https://github.com/open-contracting/extension_registry/blob/master/extension_versions.csv#L13

[2018-10-11 21:49] jpmckinney commented on #599
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_requestForQuotes_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:49] jpmckinney commented on #621
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_clarificationMeetings_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:50] jpmckinney commented on #622
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_paymentMethod_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:50] jpmckinney commented on #624
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_implementationStatus_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:51] jpmckinney commented on #625
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_awardRationale_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:52] jpmckinney commented on #637
@antonioherrera I did an initial review of the [extension](https://github.com/INAImexico/ocds_nameBreakdown_extension), and @JArielMG merged the changes. Would you like this extension to be added to the [extension registry](https://github.com/open-contracting/extension_registry) as a community extension?

[2018-10-11 21:57] jpmckinney commented on #638
[This local extension](https://github.com/INAImexico/ocds_extendedProcurementCategory_extension/blob/master/codelists/%2BextendedProcurementCategory.csv) adds codes to the codelist.

[2018-10-12 00:03] antonioherrera commented on #652
Sure, go ahead.

[2018-10-12 00:04] antonioherrera commented on #651
Sure, go ahead.

[2018-10-12 00:05] antonioherrera commented on #599
Sure, go ahead.

[2018-10-12 00:06] antonioherrera commented on #621
Sure, go ahead.

[2018-10-12 00:08] antonioherrera commented on #622
Sure, go ahead.

[2018-10-12 00:08] antonioherrera commented on #624
Sure, go ahead.

[2018-10-12 00:09] antonioherrera commented on #625
Sure, go ahead.

[2018-10-12 00:10] antonioherrera commented on #637
Sure, go ahead.

[2018-10-12 00:15] antonioherrera commented on #672
Actually, we are implementing this codes:

- goodsAcquisition
- goodsLease
- services
- worksRelatedServices
- works

In our legal framework, we have a classification like this.

[2018-10-12 03:31] jpmckinney opened #759 "Improve publication policy guidance"
The present guidance is: http://standard.open-contracting.org/latest/en/implementation/publication_policy/

There's an opportunity to improve this based on the recent [community call](https://drive.google.com/drive/folders/1x-aboyQ7ppvWHHKyYCRrbwc9hAJkHuGy) and guidance given privately to publishers (e.g. CRM issue 3554 update 22).

cc @LindseyAM

[2018-10-13 16:48] LindseyAM opened #760 "Planning notice for sole source contract"
Sharing this Sidewalk labs example from Illinois. While there isnt much by way of structured data, you can see from the attached documents how there could be. Also good practice to publish planning information about direct contracts (interested to know how prevalent this is as a good practice)

cc @jpmckinney https://webapps.dot.illinois.gov/WCTB/ConstructionSupportNotice/BulletinItem/0ff7ba88-81f

[2018-10-15 13:55] jpmckinney commented on #760
@LindseyAM Do you mean the Sole Source Justification Form? I think the rationale would be summarized in `tender.procurementMethodRationale` and then linked in `tender.documents`. We can show that as an example. If there were other things to consider, can you describe in more detail?

[2018-10-16 16:12] JachymHercher commented on #703
1) I've only now noticed that the name of the extension is "contract register". While this extension indeed is for the purposes of contract registers, it makes only a small part of what a contract register should have. Could we perhaps use a "smaller" name, e.g. "contract completion"?

2) The extension is not yet listed at http://standard.open-contracting.org/latest/en/extensions/#community-extens

[2018-10-16 18:28] jpmckinney commented on #703
Good

[2018-10-16 18:33] jpmckinney commented on #703
1. Good idea regarding the name of the extension – I've reopened the issue to correct that.
2. Yes, though not in the near future. We are working on a new sub-site dedicated to extensions.
3. It depends on what information is to be disclosed about the subcontracts. The eForms consultation document, for example, seems to include only metadata about subcontracts (e.g. estimated value to be subcontra

[2018-10-16 19:51] JachymHercher commented on #703
1. Thanks
2. If "near future" means more than two weeks, is there any chance you could add it to the current site still? This extension is part of the application process for Connecting Europe Facility grants, so it would be good to have it official, visible, easily findable.
3. More than eForms (since there is no contract completion notice, we stay quite minimalist). I would say who is the subcon

[2018-10-16 19:56] jpmckinney commented on #703
2: The community extensions on that page all link to GitHub, so I would recommend directly linking to https://github.com/open-contracting-extensions/ocds_contractRegister_extension

[2018-10-17 17:09] jpmckinney commented on #598
Related: [MAPS](
http://www.mapsinitiative.org/methodology/MAPS-methodology-for-assessing-procurement-systems.pdf) includes these quantitative indicators which can potentially be calculated from OCDS data, if appeals information were included:

* number of appeals (in % of contracts awarded)
* number (and percentage) of enforced decisions
* outcome of appeals (dismissed; decision in favour of proc

[2018-10-19 17:18] jpmckinney commented on #396
Given that the number of purchases from a single catalog can be very high, I suggest that details of catalog purchases should be disclosed separately from the details of the contracting process that establishes the catalog.

We have some [guidance](http://standard.open-contracting.org/latest/en/implementation/related_processes/) on framework agreements, which is applicable to catalogs.

In the cas

[2018-10-23 19:03] pindec opened #761 "Unit release reference documentation seems to be missing some data"
I think there's some info missing for [unit in the release reference docs](http://standard.open-contracting.org/latest/en/schema/reference/?highlight=unit#unit).

The tbody tag appears to be empty.

Should it list scheme, id, name, value, and uri fields?

[2018-10-25 02:47] jpmckinney commented on #761
When I build the documentation locally with the latest version of sphinxcontrib-jsonschema, the rows are displayed, so it's possible that the bug was fixed by https://github.com/OpenDataServices/sphinxcontrib-jsonschema/pull/14

I'll close the issue when 1.1.4 eventually gets deployed.

[2018-11-01 16:21] jpmckinney opened #763 "How to to represent disqualified tenderers"
The Kyrgyz Republic combines qualification and award into one action. Disqualified bidders have an 'award decision' document. To disambiguate unsuccessful awards (which means unsuccessful for any reason besides cancellation) from disqualified bidders, it was proposed to add a 'disqualified' status, or to put 'disqualified' under a new `statusDetails` field. This issue also arose in Ukraine. In bot

[2018-11-05 19:34] jpmckinney opened #764 "Add statusDetails field to Tender, Award, Contract"
Mentioned in #758, #430, #395, and the closed #616, #248, #197.

Additionally, when "The contract/lot is not awarded", the EU standard forms have a choice between:

◯ No tenders or requests to participate were received or all were rejected
◯ Other reasons (discontinuation of procedure)

These can be represented in an `Award.statusDetails` field, which was also suggested by [Data Unlocked](https://

[2018-11-08 17:12] yolile commented on #395
This is also relevant for measure the [MAPS indicators](http://www.mapsinitiative.org/methodology/MAPS-methodology-for-assessing-procurement-systems.pdf) (for example: - details related to contract implementation (milestones, completion and payment))

[2018-11-09 20:04] jpmckinney commented on #455
*Moved to #834*

Thanks, @mpostelnicu – we should add more guidance about the identification of compiled releases.

For context, `release-schema.json` has `"omitWhenMerged": true` for `id` and `date`, which means that the compiled release will not retain these fields from the releases on which it is based.

The compiled release is essentially the "present state of the contracting process". However

[2018-11-12 10:27] MusicMaker1337 commented on #763
It may be better to separate the status of the award decision from the decision itself because these are totally different concepts.

Imagine a situation, where the procuring entity decided to disqualify a bidder, but then changed its mind and canceled the decision. Tn this case the decision 'disqualified' itself did not change at all, but the status of that decision changed: "I cancel my disquali

[2018-11-13 08:21] duncandewhurst commented on #461
Noting that a variation on this question has come up in France, where:

* a single national portal publishes contracting data from procuring entities nationwide
* individual procuring entities may also publish data directly

In this case the question was whether the national portal and individual procuring entities should use the same ocid prefix

@ColinMaudry here's an issue on improving document

[2018-11-13 09:58] ColinMaudry commented on #461
I agree with @timgdavies: it's about a consistent series of identifiers, not about who publishes.

PS: I love this identifier sh*t :nerd_face:

[2018-11-13 18:14] akuckartz commented on #461
Can URLs be used as identifiers please?

[2018-11-13 18:23] akuckartz opened #765 "Describe correspondence with e-Procurement Ontology (ePO)"
See https://eprocurementontology.github.io/

[2018-11-13 19:00] jpmckinney commented on #461
@akuckartz Please open a separate issue.

[2018-11-13 19:02] jpmckinney commented on #765
The ePO is still under active development. That said, we will research the degree to which OCDS aligns with it, and identify opportunities for increased alignment.

[2018-11-13 19:51] akuckartz opened #766 "Use URLs as identifiers"
Context: new issue was suggested in https://github.com/open-contracting/standard/issues/461#issuecomment-438394935

[2018-11-13 19:57] jpmckinney commented on #766
It would be impractical for publishers to mint URLs for every identifier in OCDS. Which identifiers do you mean?

[2018-11-13 20:05] akuckartz commented on #766
Individual URLs generally do not need to be minted manually but can be minted by using software. The required effort for publishers therefore should be rather limited.

[2018-11-13 21:36] jpmckinney commented on #766
I think you underestimate the contexts in which many publishers are operating :) Please specify which identifiers within the OCDS schema you mean.

[2018-11-13 21:43] akuckartz commented on #766
Maybe start with the "Open Contracting ID" (ocid).

[2018-11-13 22:33] jpmckinney commented on #766
The [OCID](http://standard.open-contracting.org/latest/en/schema/identifiers/#contracting-process-identifier-ocid) isn't presently constructed as a URI. This could involve changing the OCID Prefix to start with `ocds:` instead of `ocds-`, and encoding characters as necessary.

However, if you mean for the `ocid` to be dereferenceable, then that would be a more significant change, which has a wider

[2018-11-21 10:31] duncandewhurst commented on #577
Noting that this would also require updating the documentation in http://standard.open-contracting.org/latest/en/implementation/related_processes/#frameworks-and-related-processes which recommends using `relatedProcess` to model frameworks.

Based on the discussion in https://github.com/open-contracting/standard/issues/440 it seems there isn't an alternative approach that is compatible with OCDS 1

[2018-11-21 13:56] jpmckinney commented on #577
Ah, when I was reviewing all issues a year ago, the discussion in #371 didn't justify why the 'framework' code was kept (#440 explains why), so it seemed like an oversight.

We definitely need a better understanding of multi-stage procedures; I'm preparing a TOR for a researcher to do that. I'll close this issue in the meantime to preserve current functionality.

[2018-11-21 13:56] #577 closed, assigned to nobody

[2018-11-22 00:16] jpmckinney opened #768 "Follow-up to versioned release schema updates"
Follow-up to #738

In `make_versioned_release_schema.py`:

* [x] Account for `minLength` when replacing sections with e.g. `StringNullVersioned`
* [x] Ensure that `title`, `description`, merging properties, etc. are removed in a single, final pass.
* ~~Add more patterns like `StringNullVersioned`, e.g. `StringIntegerMinLength1`.~~
  * I update `ocdskit schema-report` to check, and there are no goo

[2018-11-23 22:54] #737 closed, assigned to nobody

[2018-11-27 18:51] jpmckinney opened #770 "tag should be omitWhenMerged"
The behavior of OCDS Merge is to set the tag to `compiled` for compiledRelease, and to move the tag onto the versioned object for versionedRelease. In other words, the original tag field is omitted.

Assigning to @kindly to confirm. The docs don't describe the first behavior, which we can fix as part of this issue.

[2018-11-27 19:01] jpmckinney opened #771 "Add missing documentation on merging"
I don't see where in the documentation the following OCDS Merge behaviors are prescribed:

* [x] The `id` of the compiledRelease is the `id` of the latest release (#810 #834 set `{ocid}-{date}`)
* [x] The `date` of the compiledRelease is the `date` of the latest release #810 #834
* [x] The `tag` of the compiledRelease is `["compiled"]` #770 #810
* [x] The `ocid` of the versionedRelease is not vers

[2018-11-27 23:46] jpmckinney commented on #679
As part of 2.0, we likely want to require `name` as well, which had been required on `OrganizationReference`, until we realized this was backwards-incompatible #639.

[2018-11-28 09:27] leobaz opened #773 "Tender: Estimated size of the total value of the procurement"
Here in the Republic of Kosovo, we have the procurementValue field. This field's a codelist for the expected value of the contract. The values are:

1. Vlerë e madhe (Big value)
2. Vlerë e mesme (Medium value)
3. Vlerë e vogël (Small value)
4.  Vlerë minimale (Minimal value)

This should be a closed codelist and it's good for showing the expected value of the coming contract from a codelist.

[2018-11-28 09:34] leobaz opened #774 "Whether a contracting process originated from a procurement plan"
At the start of the year, the municipalities here in Kosovo make a procurement plan and they list all the projects that are planned to be implemented that year here (the example is for the contracts in 2018):

[http://prishtinaonline.com/uploads/planifikimi_i_prokurimi_2018.pdf](http://prishtinaonline.com/uploads/planifikimi_i_prokurimi_2018.pdf)

If the contract is in this list we choose po (yes)

[2018-11-28 09:50] leobaz opened #775 "Tender: Whether the procedure is accelerated"
The applicationDeadlineType is for the deadline for accepting bids. This is a codelist but there are only 2 values:

- The deadline is normal (Afati
			kohor normal)

- The deadline is shortened (Afati
			kohor i shkurtuar)

This should be a closed codelist, but if you have any other values in mind we can add it.

[2018-11-28 09:57] leobaz opened #776 "Whether a contracting process originates from an earlier unsuccessful process"
Here in Kosovo we use retender when a tender process ends without signing the contract.

For example nobody applies for the tender so a new procedure is opened with the term 'retender'.
If the retender is used we choose from the closed codelist yes(po), if not we choose no(jo).

[2018-11-28 13:48] jpmckinney commented on #773
@leobaz We typically model the expected value as a number (or a pair of numbers for the minimum and maximum) rather than a codelist, and I haven't seen any other jurisdiction taking this approach. I therefore recommend creating a [local extension](http://standard.open-contracting.org/latest/en/extensions/developing/) for this concept. I also recommend using a term like `estimatedSizeOfValue`, to r

[2018-11-28 13:57] jpmckinney commented on #774
Instead, this should be modelled as:

[code]

Or at minimum:

[code]

The logic is that, if there is a document in the `planning` section with a `documentType` of 'procurementPlan', then this procurement is from the plan.

[2018-11-28 13:57] #774 closed, assigned to nobody