[2021-08-11 19:49] jpmckinney commented on #1160
I've moved i and ii to #1385, and copied the relevant comments (though I might have missed some).

[2021-08-11 20:08] jpmckinney commented on #1385
I agree with the first 4 points. For point 3, for awards and contracts, the array and object can have different titles/descriptions to match the stage and individual real-world object (award, contract). For planning and tender, the relationship is 1-1 between stage and "object" (if there is such an object - as mentioned, it is somewhat artificial), so it makes sense to simply use the same title/de

[2021-08-11 21:09] jpmckinney commented on #1385
@JachymHercher I've made my edits. You can see them using the "edited" dropdown in the previous comment.

A challenge is that OCDS *can* cover non-procurement contracts, but it is specialized for procurement. I've tried to use non-procurement-specific terms where it didn't introduce awkwardness.

[2021-08-11 21:15] #1379 closed, assigned to nobody

[2021-08-11 21:25] jpmckinney commented on #1373
This should be fixed by https://github.com/open-contracting/deploy/commit/3e96ac79a1fa3bdd1e5cf2dea8c85c07ae1fd7bc on the next deployment.

[2021-08-11 21:25] #1373 closed, assigned to jpmckinney

[2021-08-12 16:30] jpmckinney commented on #1370
Thanks for the comments!

For Duncan's points:

* The first sentence of the objective box gives a bit of context to understand the objectives. In the case of the "what" page, that content is not repeated elsewhere, so I have moved it out of the box. For the others, that content is repeated, so it is not strictly needed outside the box. It is fine to leave it in the box where it is nearest the cont

[2021-08-16 14:03] #1370 closed, assigned to nobody

[2021-08-17 14:59] odscrachel commented on #1142
Just a note that this came up in modelling conversations with the UK Cabinet Office.

[2021-08-17 18:43] yolile opened #1388 "Items beneficiaries: distribution among schools"
In Paraguay, some municipalities and other entities that tender items using a specific fund called FONACIDE, need to specify in their tender items how much of each item will be for each (and which) school in their localities.

## Example
For example, in this [tender](https://contrataciones.gov.py/licitaciones/convocatoria/394462-construccion-refaccion-instituciones-educativas-dentro-distrito-capit

[2021-08-18 00:23] jpmckinney commented on #1388
This is similar to https://github.com/open-contracting-extensions/public-private-partnerships/issues/235 (and https://github.com/open-contracting/infrastructure/issues/335)

I think a generic `benefits` or `beneficiaries` array might be best, in which the beneficiary objects specify the type of beneficiary (a school), its identifier (the code), the value they benefit by (amount and currency), and

[2021-08-18 12:52] ColinMaudry commented on #723
In EU eForms, periods of time are expressed in straight days, months or years. Examples:

[code]

Mapping this data to OCDS requires multiplying the months by 30 and the years by 365. Over long periods of time (e.g concessions of 50 years), a period converted this way can be off by a week.

[2021-08-18 13:43] yolile commented on #1388
Makes sense. From the user point of view a single array of `beneficiaries` could be easier to use, as `items` is already an array and with `benefits` we will have 2 more nested arrays, so it could be something like:

[code]
I'm omitting the "type" for "identifier/scheme"

[2021-08-18 14:00] jpmckinney commented on #1388
Sounds good. If a single primary classification is expected, then using a singular `classification` object would also make the model simpler.

[2021-08-18 14:41] yolile commented on #1388
Sadly an array of classifications is expected. I edited the example to also include the URI of the school, as they also have that. We agreed on this model with the DNCP and the extension will be drafted.

[2021-08-19 01:29] jpmckinney commented on #1097
To upgrade between draft versions, see https://github.com/ajv-validator/json-schema-migrate

Edit: BODS experience of upgrading: https://github.com/openownership/data-standard/issues/469 https://github.com/openownership/data-standard/pull/485

[2021-08-20 15:40] yolile commented on #1388
After testing it with the users and with the flattened version, a singular `classification` object is indeed simpler, so we would use a single object, but we will concatenate the different areas in the `classification.description`, and won't use a `classification.id`

[2021-08-21 16:19] JachymHercher commented on #1385
Thank you for the new issue. I've gone through your edits, my comments:
i. My original description of `planning` as well as the last sentence of `tender` drew heavily on the description of the planning process, cf. https://github.com/open-contracting/standard/pull/1216/files#diff-ad7a21639d13433e0d0f06126a4ce0f979ab8e86ed7f6a28a439df33458419c9 . Having them aligned might be useful, as they both sp

[2021-08-23 00:16] duncandewhurst commented on #1327
@jpmckinney - I'm assuming we want to treat the following content from the extension's readme as non-normative guidance and move it to https://standard.open-contracting.org/staging/1.2-dev/en/guidance/build/hosting/. Is there anything else to discuss before preparing a PR?

[2021-08-23 04:01] duncandewhurst commented on #1142
According to the World Bank's [Benchmarking Infrastructure Development 2020](https://bpp.worldbank.org) database, the following countries' procurement legislation includes a standstill period. The data covers 40 countries and is based on applying the case study assumptions described in the [methodology](https://bpp.worldbank.org/methodology), essentially a competitive tender for a 'traditionally p

[2021-08-23 21:25] #821 closed, assigned to yolile

[2021-08-23 21:31] jpmckinney commented on #1142
A standstill period is fairly predictable, as it is usually the same rule for all procurements, with maybe occasional exceptions.

That said, since it can sometimes differ (e.g. infrastructure-specific provisions), it's still relevant to disclose in the data.

We know that many countries have this information, and since it's a fairly significant deadline, it's useful to disclose, even if we cannot

[2021-08-23 21:35] jpmckinney commented on #1327
Since the fields are new and optional, we can make normative statements about them.

However, if we are reducing the role of packages (#920), it might not make sense to merge an extension that adds fields to packages. There are many ways to paginate without next/prev links in the data (e.g. GitHub uses HTTP headers, to separate API metadata from data/content): https://docs.github.com/en/rest/guide

[2021-08-23 22:00] yolile commented on #1142
In Paraguay, according to the Public Procurement Law ([page 77](https://www.contrataciones.gov.py/documentos/download/marco-legal/40162), Art. 79 and Art. 66), the bidders can present a complaint against any award up to ten workdays after the award decision was made.

[2021-08-23 22:41] duncandewhurst commented on #1142
Here's a couple of examples of notices of intention to award from the UK, one uses a starting date plus a duration and one uses and single-date deadline:

[Letter to unsuccessful tenderers, Charnwood Borough Council](https://www.charnwood.gov.uk/files/documents/alcatel_successful_notification_letter/Alcatel%20award%20%28successful%29.doc)

[Intention to Award Letter, procurementtemplates.co.uk](ht

[2021-08-23 22:57] duncandewhurst commented on #1327
Hmm. I thought that in #1084 we settled on keeping packages as the 'API format', for which pagination is relevant. That said, I think it's fine to keep pagination as an extension.

Regarding different approaches to pagination, it's easier for aggregators or other users that want to work with OCDS data from multiple publishers if OCDS APIs use a consistent approach. In that respect, it's useful to

[2021-08-24 20:22] jpmckinney commented on #1327
Links are certainly the easiest to implement and use, since some users don't even know about HTTP headers.

Since we need to keep packages for 1.x anyway, we might as well add pagination as implemented in the extension.

Rather than a guidance page, add a page for APIs under the Reference section (maybe "API responses").

As part of #1084, we can move the release/record package schema pages under

[2021-08-24 20:24] jpmckinney commented on #1142
Sounds good to use periods, since we need to support both durations and specific dates.

[2021-08-25 21:25] jpmckinney commented on #1301
Although we removed the section about procurement method, we left in instructions like:

* setting `tender.procurementMethod` to the same value as in the first stage
* Since the framework agreement will be concluded with a single supplier and since any supplier is able to submit a response to the invitation to participate, `tender.procurementMethod` is set to 'open'.
* Since the framework agreemen

[2021-08-26 20:20] JachymHercher commented on #1301
On second thought, I'm not sure whether we really want to remove the text mentioned in https://github.com/open-contracting/standard/issues/1301#issuecomment-862012507 (1) ("The `tender.procurementMethod` field uses the method codelist to describe the competitive conditions of the framework agreement procedure as a whole, not only the first stage."). Instead, I would suggest changing it to somethin

[2021-08-26 20:21] JachymHercher opened #1395 "`procurementMethod`: improve description and documentation"
We should improve the information around `procurementMethod`:
1) The current description is

    Which doesn't say much. I would suggest something like: or "The procurement method sets out the organizations that are allowed to submit a bid."

2) In the text in https://standard.open-contracting.org/1.1/en/schema/codelists/#method, I would remove at least the first sentence "A contracting process ai

[2021-08-26 20:23] JachymHercher opened #1396 "Removal policy for notes on older OCDS versions"
1) Do we have/want a policy on when to remove notes concerning previous versions of OCDS? Or are those ad-hoc decisions? If a policy, where should it be documented?

1) What is the policy? For example, with OCDS 1.2, will it be time to remove the notes in https://standard.open-contracting.org/1.1/en/schema/codelists/#method , https://standard.open-contracting.org/latest/en/schema/reference/#partie

[2021-08-26 21:50] jpmckinney commented on #1144
A much older issue: #20

[2021-08-27 13:57] jpmckinney commented on #1396
We should have a policy, yes. It would be documented in the handbook: https://ocds-standard-development-handbook.readthedocs.io/en/latest/index.html

Firstly, I started using Sphinx's `deprecated`, `versionadded`, and `versionchanged` directives in #1392 in OCDS 1.2 to indicate such changes. They aren't styled yet, but the intention is to use a consistently styled box.

Initial thoughts:

1. Depre

[2021-08-27 14:05] jpmckinney commented on #1301
Okay, let's agree on the semantics in #1395 first :)

[2021-08-27 14:12] jpmckinney commented on #1395
How about:

For the second stage, I don't know anymore. We will need specific guidance whether the field's value mirrors the first stage or is about the second stage. My original objection is here: https://github.com/open-contracting/standard/issues/1301#issuecomment-862012507 However, my understanding now is that the issue isn't about conditional semantics, but about being clear as to which of tw

[2021-08-27 14:18] jpmckinney commented on #1395
In the OCDS for EU profile, a contract award notice describes the procurement method. Since the EU properly models call-offs as part of the same contracting process, its fields do refer to the first stage: https://standard.open-contracting.org/profiles/eu/latest/en/forms/F03/#section-iv To my knowledge, the old forms have no way to indicate who can submit in the second stage.

So, for consistency,

[2021-08-27 15:44] jpmckinney commented on #1385
i. I hadn't considered that alignment. In #1216 the content is:

For planning, it was:

then:

Unless I misunderstand "forecasting", this is not covered by OCDS, so I removed it/changed it to "budget planning". To avoid reference to procurement, I changed to "needs identification".

For tender, it was:

then:

I changed it so that it was not specifically about a purchase (e.g. the market can bid o

[2021-08-27 17:18] JachymHercher commented on #1395
Summary: Shouldn't the semantics for `procurementMethod` be specific to a single stage because it will be easier to compile and analyze? (That being said, I'm not a big fan of `competitive`, because it is semantically the same thing as `procurementMethod`, just in a different stage, and this link is not there. Can't we have 2-3 fields called procurementMethod#?)

____

Thinking out loud (useful fo

[2021-08-27 18:07] yolile opened #1397 "tender.submissionMethodDetails: review description"
Per https://github.com/open-contracting/standard/pull/1200 we don't have a `submissionMethod` field anymore in OCDS 1.2.
But we still have a `submissionMethodDetails` field which description is

Maybe, we shouldn't use the term "submission method" there anymore. And, we also have now extensions like [submission terms](https://extensions.open-contracting.org/en/extensions/submissionTerms/master/) w

[2021-08-27 18:19] jpmckinney commented on #1397
At minimum we should remove "detailed or further", and describe what is meant by submission method. The description of `submissionMethod` was:

We didn't add a free-text field in the submission terms extension, because `submissionMethodDetails` already satisfies that need. While it would be cleaner to nest a free-text field under `submissionTerms`, it is an unnecessary change in terms of backwards

[2021-08-27 18:38] yolile commented on #1395
In terms of data use, we came across something similar to this while using the Chile data in the BI Tool. The main question to answer was: for the openness indicators, should the purchase orders from a framework agreement be counted as open procedures or not? As the process for selecting the suppliers was open, we considered that the purchase orders should be treated as open as well. Therefore, im

[2021-08-27 18:44] jpmckinney commented on #1395
For the purpose of thinking this through, I think the definitions are better read as:

* selective: All interested suppliers can qualify to submit a bid.
* limited: Only invited suppliers can submit a bid.

Otherwise, when thinking about the second stage, selective ("Only qualified suppliers are invited to submit a bid") sounds more correct than limited ("The procuring entity contacts a number of

[2021-08-27 20:24] JachymHercher commented on #1395
I guess this leads to the question "what is a stage?" The first thing worth noting is that we have stages in the sense of "planning", "tender" etc. (discussed e.g. in https://github.com/open-contracting/standard/issues/1385); and we have "stages" in the sense of "first stage competition" and "second stage competition" (in https://standard.open-contracting.org/1.1/en/guidance/map/related_processes/

[2021-08-27 20:33] JachymHercher commented on #1395
Going back to the point of reuse - thinking of OCDS 1.X, do we have an idea of how users will be working with FAs split into independent processes? Would this be easier with one or the other approach to the definition of `procurementMethod`?

My impression is that since they will be separate, then probably not - both are workable. In which case we are back to the "talking about over-arching stuff

[2021-08-28 08:33] JachymHercher commented on #1385
i. planning - your changes sound good.
i. tender - The example's original proposal was concretely about description and value, with the goal of illustrating the use of `tender` in a planning stage. The new proposal does not do this, it is simply about the planning stage.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      a) can't we speak about items? E.g. "give the market a general description of the items or a

[2021-08-28 08:59] JachymHercher commented on #866
Based on the outcome of https://github.com/open-contracting/standard/issues/1385, we will likely need to slightly udpate the definition of planning process from

to (done in https://github.com/open-contracting/standard/pull/1415/commits/0bbf85e0e25ff4a27267c52917f34877cf179759)

[2021-08-28 10:08] JachymHercher opened #1398 "Inconsistent use of 'supplier' in guidance and codelist"
'Supplier' is defined as an organization that has already been awarded a contract, both in OCDS 1.1 ("An entity awarded or contracted to provide goods, works or services.", https://standard.open-contracting.org/1.1/en/schema/codelists/#party-role) and in OCDS 1.2 ("An entity with which a buyer or a procuring entity decided to conclude a contract.
", https://github.com/open-contracting/standard/pul

[2021-08-28 10:11] JachymHercher opened #1399 "`method` codelist: consistency and semantics"
The current descriptions of codes in https://standard.open-contracting.org/1.1/en/schema/codelists/#method are:

Selective | Only qualified suppliers are invited to submit a tender.
Limited | The procuring entity contacts a number of suppliers of its choice.
Direct | The contract is awarded to a single supplier without competition.

The use of suppliers is incorrect, see https://github.com/open-co

[2021-08-28 10:11] JachymHercher commented on #1395
I've opened a placehoder in https://github.com/open-contracting/standard/issues/1399.

[2021-08-28 11:38] JachymHercher opened #1400 "Guidance on awards and contracts: when to fill in one and/or the other"
The section https://standard.open-contracting.org/latest/en/guidance/map/awards_contracts/#id1 starts with a general introduction and then, in the last three paragraphs, covers three different scenarios:

Questions:
1) In the middle paragraph, if they have data just about the signed contract, why should the users populate `awards` and not `contracts`? My reflex would be that if it's about a contra

[2021-08-28 11:39] JachymHercher commented on #1301
I've started an issue in https://github.com/open-contracting/standard/issues/1400#issue-981813951.

[2021-08-28 14:31] JachymHercher commented on #1215
Point 1 and 2 are indeed covered by the new primer, specifically:

It doesn't explicitly use the word "normative", but that makes sense, as it's jargon.

____

Concerning point 3, my assumption is that everything we want people to do according to the Guidance (esp. hard cases) must be based on some text (typically a description of a field or code) in Reference. The purpose of Guidance is just to d

[2021-08-28 15:06] JachymHercher opened #1402 "schema/merging and reference/build/merging: repeated example, joining"
The worked example in https://standard.open-contracting.org/latest/en/schema/merging/ is also in https://standard.open-contracting.org/latest/en/guidance/build/merging/#example-1-updates. My reflex is that we do not want to have the same information in multiple places of the standard, as it makes things unnecessary long and might feel confusing.

Shouldn't we remove this example from one of the we

[2021-08-28 16:29] JachymHercher commented on #1206
(1) Changed and updated in `documentType`, `amendments.description` and the schema.

(2) Not changed, because then the 'award notice' would have the same name as the EU's "contract award notice"; but the EU's contract award notice corresponds to "contract signature notice". While this is probably mainly a problem of the EU, I think changing it could cause unnecessary confusion.

____

(3) I update

[2021-08-28 17:59] JachymHercher commented on #571
In the worked example in https://standard.open-contracting.org/latest/en/guidance/map/organizational_units/#using-the-organization-building-block, the organization in the example has `roles` equal to 'buyer' and 'procuringEntity'. However, as exaplained in https://github.com/open-contracting/standard/issues/571#issuecomment-778510316, it should only have 'buyer'. https://github.com/open-contractin

[2021-08-28 19:02] JachymHercher commented on #1347
Great news, at least for me! "Blocks" is one of the concepts that I am still confused by. That being said, out of curiosity, what are/were "blocks"? The best guesses I came up with are:
1) Everything exactly one layer under `definitions` in the schema. If it is about nothing but location in the schema, then why is it important?
2) Everything referred to from multiple places in the schema. However,

[2021-08-28 19:21] JachymHercher commented on #1222
"Contract notice" would be another example of inconsistent semantics. In Australia it's a notice about awarded contracts, in the EU about business opportunities.

___

What are the examples when "expressions of interest", or rather "requests for expressions of interest",  would also be an "invitation to participate"? The examples above are consistent with the EU directives, which (somewhat unclear

[2021-08-28 19:29] JachymHercher commented on #1142
Probably no news here, but all EU countries have the standstill period. We considered it for eForms, but a) since there is no notice published after an award, i.e. the time when the standstill period starts; b) it is always the same length, there was no reason to add it.

[2021-08-28 19:31] JachymHercher commented on #1141
... as well as https://www.cgdev.org/publication/principles-commercial-transparency-public-contracts (Gavin and I were part of the working group that drafted it).

[2021-08-28 19:54] JachymHercher commented on #1144
Also linked / identical to #927.

[2021-08-29 08:28] JachymHercher commented on #1144
Some general thoughts:
- In the OCDS 1.2 schema's description we currently say "OCDS is used for contracts in public procurement (including design contests), concessions, public-private partnerships, government asset sales and other contexts."
- eForms' list of notices is in Table 1 of the [Regulation](https://eur-lex.europa.eu/eli/reg_impl/2019/1780/oj). I'm afraid it's logic can't be described b

[2021-08-29 09:02] JachymHercher commented on #866
*Moved to https://github.com/open-contracting/standard/issues/1409*

[2021-08-29 09:29] JachymHercher commented on #850
1) https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/schema_style_guide.html#codelists prescribes the following structure for the description of fields with codelists:

     `<semantics>, using the <name> codelist. See also the <xDetails> field.`

    I've corrected the "using the 'name'" throughout the text in https://github.com/open-contracting/standard/pull/1303/commits/f

[2021-08-29 09:53] JachymHercher commented on #1347
Ah, https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/schema_style_guide.html#definitions explains it. I understand it as essentially option 2. (just "could be referred to", not "is referred to"); with 3. always being a process (see e.g. https://github.com/open-contracting/standard/issues/893). In any case, "sub-schema" is way better.

[2021-08-29 11:31] JachymHercher opened #1405 "Change order of codelists in Reference"
When going through OCDS, I often go directly to one of the codelists in https://standard.open-contracting.org/latest/en/schema/codelists/, but then I am unsure whether it is open or closed, so I scroll up or down to find which section it is in. This seems a bit clumsy.
1) Wouldn't it be better if each codelist has an [open] or [closed] attribute below/after it's title?
2) If we added such an attri

[2021-08-29 11:53] JachymHercher opened #1406 "Style Guide: Add rules on the use of articles in descriptions"
If I'm not mistaken, https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/index.html does not give rules on the use of definite/indefinite/no articles in field and code descriptions. The standard seems to use them sometimes inconsistently, so it would be useful to have them.

[2021-08-30 23:11] duncandewhurst commented on #928
Reopening because we forgot to add the Link object to the building block reference

[2021-08-31 20:13] yolile opened #1407 "Review occurrences of publication plan in docs"
From CRM-6496:

cc @jpmckinney

[2021-08-31 22:11] yolile commented on #1407
The publication plan template has the following sections:
1.  Goals (design)
2.  Priority data  (map)
3.  Priority documents
4.  Technical architecture (build)
5.  Publication policy (publish)
6.  Roadmap (iterate)

For 1 we can put that section as part of the Technical Assessment template update work in CRM-5284, for 2 and 3, we can integrate that into the Field Level Mapping template itself. 4 a

[2021-08-31 22:24] rparrapy commented on #1388
Extension drafted here: https://gitlab.com/dncp-opendata/ocds_beneficiaries_extension

[2021-09-01 20:47] yolile commented on #1203
From "Article 25. Documentary record of procurement proceedings", I think we could add:

|#| Description in the Law

[2021-09-01 23:31] jpmckinney commented on #1203
Seems reasonable! Tagging @JachymHercher for an opinion.

[2021-09-01 23:43] jpmckinney commented on #1092
@yolile Can you create a follow-up issue to update relevant guidance? For example, I assume it would be relevant to make the approach of only publishing compiled releases known on some of the change history or easy releases pages.

[2021-09-01 23:56] jpmckinney commented on #1144
Having seen this in a few datasets, I agree that governments tend to refer to process types by mixing dimensions in idiosyncratic ways, and they tend to have very long lists, which they are rather unlikely to want to map to some taxonomy.

I also think preparing that taxonomy of perspectives is a long task, that will be difficult to build consensus around (per above, the consensus might be that it

[2021-09-02 00:03] jpmckinney commented on #927
It was an argument against :) because its absence can signal that the procedure might require a different analysis.

Until we have a better understanding of the data use implications, I don't think we can make progress on this issue. It's possible that no new field is needed, and that design contests (and whatever else publishers include, like grants), can be excluded from an analysis based on oth

[2021-09-02 00:03] #927 closed, assigned to nobody

[2021-09-02 00:12] jpmckinney commented on #1347
Yes, "building block" is typically used to refer to your (2), but probably not consistently.

I agree that metaphors can help; "building block" is just not a good metaphor.

[2021-09-02 00:18] jpmckinney commented on #1405
To avoid merge conflicts, and since the reference section for 1.1 is frozen, I've moved this to 1.2.

In #1075 I suggest one page per codelist, because some codelists are extremely long (like currency).

In that case, we will definitely need a way to indicate open/closed in an easily recognizable way.

To make it easier to find a known codelist, we can sort the codelists alphabetically in the navi

[2021-09-02 00:26] jpmckinney commented on #1222
I think an EoI is sometimes used as the first stage of a two stage procedure, but I can no longer remember an example.

Internal reference: CRM-6947

[2021-09-02 02:14] jpmckinney commented on #571
Re-closing as the PR is a separate issue (related to this one).

[2021-09-02 02:14] #571 closed, assigned to ColinMaudry

[2021-09-02 02:46] jpmckinney commented on #1206
I had thought that EU notices were published before signature. How do suppliers know to complain during the standstill period if the contract is already signed?

I don't know - but this will be removed in the PR.

No. Prospective statements tend to be forgotten in the documentation (and there's no clear way to decide which ideas go in and which don't). They belong on GitHub instead.

[2021-09-02 02:53] jpmckinney commented on #1406
I guess there are two issues: coming up with the rule, and then applying it. What rule do you suggest?

[2021-09-02 02:54] jpmckinney commented on #1406
Moving to 1.2 since we can't change field and code description without a new release, and no new release is scheduled for 1.1

[2021-09-02 03:13] jpmckinney commented on #850
This comment is quite longer than the original notification I received :)

Some parts of the style guide were written some time ago, and they can be either not ideal or incorrect.

1. Which do you find more appropriate - "using" or "from"? I don't have a strong opinion.
2. I think it is a useful reminder, since you know that, if it is closed, then you *must* read the codelist. If it is open, you m

[2021-09-02 03:19] duncandewhurst opened #1408 "Decide what to do about orphaned/unreferenced examples"
Whilst working on https://github.com/open-contracting/standard/pull/1380 I came across the following JSON files in `docs/examples` which aren't referenced from anywhere in the documentation:

- `extended.json`: added in https://github.com/open-contracting/standard/commit/ff9a3a7d7e7544dd0328a80def0772ff29e6da48 but never referenced. I think we can just remove this file.
- `minimal_updates/award.js

[2021-09-02 03:26] jpmckinney commented on #1215
Yes, that is the purpose of the Guidance section.

1. We haven't yet, because our guidance for related processes is basically a "hotfix" to OCDS 1.x, and was only recently completed in full. That said, now that we've done it, we can add some normative content to the identifiers page.
2. "Overfill" is a common problem in standard implementations. The normative statement that is intended to prevent

[2021-09-02 03:32] jpmckinney commented on #1402
We need to keep schema/merging as it is normative and belongs in the Reference section.

We should instead replace the worked example in schema/merging with:

[code]

[2021-09-02 03:34] jpmckinney commented on #1398
I see you put issues in the 1.1 project, but nothing at all in the Reference section can change in 1.1 without creating a new release, which we are not planning to do. So, in general, prefer the 1.2 project when in doubt :)

[2021-09-02 03:38] jpmckinney commented on #1408
I think we can remove `minimal_updates` as the point is made in the examples in the Build section, if I remember correctly.

For examples of building blocks, see #1348.

[2021-09-02 03:56] jpmckinney commented on #1400
1. There needs to be at minimum the `suppliers` in Award, as they can go nowhere else, and the award needs an `id` so that it can be referenced from the contract. I agree that the initial concluded contract's values should also appear in the Contract; we can replace the 3rd bullet with a statement to that effect. Then, we can move the condition "If no changes are permitted between the award and si

[2021-09-02 03:58] jpmckinney commented on #1398
I agree on "potential supplier". It is inelegant, but clear and simple.

[2021-09-02 04:15] jpmckinney commented on #866
*Moved to https://github.com/open-contracting/standard/issues/1409#issuecomment-911146221*

[2021-09-02 04:17] jpmckinney opened #1409 "Review usage of "contracting process" to account for planning process"
@JachymHercher in #866:

From https://github.com/open-contracting/standard/issues/866#issuecomment-778792793:

&nbsp;&nbsp;&nbsp;&nbsp; a) are we sure we want to replace them? I would, as just defining somewhere that "a contracting process can be a contracting or planning process" would be cyclical and ignored anyway.
&nbsp;&nbsp;&nbsp;&nbsp; b) what should we replace them with? I'd go for "contra

[2021-09-02 04:17] jpmckinney commented on #1409
If I omit translations, the dereferenced schema, and the changelog, there are about 330 results, which is still a lot.

That said, there are not too many open PRs that will conflict, so we don't need to wait. #1303 is already heaving conflicted, but the solution there, I think, is to move the work to a document or spreadsheet, and then only make the PR once the new definitions are agreed. The only

[2021-09-02 04:22] jpmckinney commented on #1399
We had started with the exact GPA wording, but we substituted 'bid' and now 'potential supplier' so I think it is fine to make whatever changes are appropriate for clarity.

This can be confusing, because some jurisdictions maintain qualified supplier lists, that exist outside a procurement procedure. (That said, in many such cases, the buyer does a limited invitation from the list.)

In any case,

[2021-09-02 04:30] jpmckinney commented on #1395
I am at a point of not liking any of the solutions, in which case my preference is to leave this as-is with respect to the `procurementMethod` value being the same across all stages, call-offs, etc.

If that's alright, we can proceed with the items in the issue description.

[2021-09-02 04:33] jpmckinney commented on #1301
If we agree to leave `procurementMethod` as being the same across the setup and call-offs in #1395, then we can restore the content as suggested in https://github.com/open-contracting/standard/issues/1301#issuecomment-906715985 and ensure that all other mentions of `procurementMethod` on this page are needed and consistent.

[2021-09-02 05:45] jpmckinney commented on #895
(1) (2) (3) OK. (5) Note looks good.

(4) I am also inclined to leave it, because it is true, and because both can be (and are) modelled in OCDS.

[2021-09-02 19:23] aguilerapy opened #1411 "Comment how items can be cross-referenced in the Item ID section"
The section https://standard.open-contracting.org/1.1/en/schema/identifiers/#item-document-and-milestone-ids says that there is no relationship between the item to be procured and the item awarded with the same id in the example:

So maybe we can add in the last paragraph a comment that if we want to cross-reference items information of differents stages we can use `items/0/classification/id` or `

[2021-09-02 22:06] jpmckinney commented on #1407
1. I think the instructions in the Guidance are already better than in the template. We can just remove the prompt to use the publication plan.
2. Priorities need to be higher-level than individual fields. The field-level mapping is also already too long and complex. That said, the [technical assessment](https://docs.google.com/document/d/1DcKHvYKCpZVpLb74sKdcu39qVG_yf2luwr5OG24GobM/edit?pli=1#hea

[2021-09-03 20:00] jpmckinney commented on #1173
For partyDetail, I changed it to organization details in the PR.

And, yes, it only refers to those two, which add fields under the `details` object.

[2021-09-03 20:17] jpmckinney commented on #1385
i. I think b) is the best option.

c) We don't use the word "business" much (not for any principled reason, however), and I think "bid opportunity" is clearer, because it references an action we do write regularly about. I think the reason for "potential" is that a PIN doesn't guarantee that the opportunity will become real (e.g. the buyer decides not to procure anything after all).

ii. OK to re-

[2021-09-03 20:27] jpmckinney commented on #1160
@JachymHercher I think the next step here is for me to review this comment? https://github.com/open-contracting/standard/issues/1160#issuecomment-887489821

[2021-09-07 21:35] yolile opened #1412 "Update the guidance on releases being optional on Record"
In OCDS 1.2 the releases are now optional on Record in favor of allowing the publishers to publish only compile releases. We need to update the relevant guidance on this.

From https://github.com/open-contracting/standard/issues/1092#issuecomment-910907474:

[2021-09-07 21:36] yolile commented on #1092
Done in https://github.com/open-contracting/standard/issues/1412

[2021-09-07 21:36] #1092 closed, assigned to yolile

[2021-09-08 17:21] yolile commented on #1050
The item attributes extension is already part of the registry https://extensions.open-contracting.org/en/extensions/itemAttributes/master/

As well as the medicine extension https://extensions.open-contracting.org/en/extensions/medicine/master/

In Paraguay (DNCP) they are carrying out some initiatives to create and publish some standardized templates for specific items that can be reused and to m

[2021-09-10 14:24] JachymHercher commented on #901
@ColinMaudry I don't see this being resolved as part of the PR closing this issue, has this been done somewhere else? Just to make sure it doesn't fall through the cracks.

[2021-09-10 14:35] ColinMaudry commented on #901
@JachymHercher Right, I forgot to take care of the document types! Thanks!

[2021-09-10 15:08] JachymHercher commented on #1203
1. Looking at Art. 8, I understand Art. 8(1) as for example "because of national security, the supplier must be from my country", and 8(2) as, maybe, "only sheltered workshops can bid". It is closely related to Art. 9, which is about exclusion grounds and selection criteria, which we already have covered by 'eligibilityCriteria' (which should be replaced by 'exclusionGrounds' on the basis of https

[2021-09-10 15:15] JachymHercher commented on #1144
For me, these dimensions/perspectives are something else than procedures. The different classifications mentioned in https://github.com/open-contracting/standard/issues/1144#issuecomment-907752037 are orthogonal to `procurementMethod`, e.g. you could run an 'open' or 'selective' procedure in any combination of them. So I'd use a different field for this.

[2021-09-10 15:29] JachymHercher commented on #1222
Just to clarify my previous post: a buyer requests an EOI from the companies; later on, he requests "requests to participate" or "bids" from the companies. Depending on what your definition of stage is (see https://github.com/open-contracting/standard/issues/1395#issuecomment-907456874), this would make requesting/submitting an EOI either a "step" (if we define a stage as "eliminates tenderers") o

[2021-09-10 15:46] JachymHercher commented on #1206
That's the Commission's "official" interpretation of the relevant provision ("Not later than 30 days after the conclusion of a contract or of a framework agreement, following the decision to award or conclude it, contracting authorities shall send a contract award notice on the results of the procurement procedure.") and the eForms work with that. I'm aware though that with the current forms, at l

[2021-09-10 18:39] yolile commented on #1203
@JachymHercher 1. But what about

For me, this is about the reason why using eg 'direct' instead of 'open'. For example, in some countries during the pandemic, the entities needed to disclose an official document that allows them to use direct process instead of open, for being in an emergency, eg an official decree or similar. This sounds like a procurementMethodRationale for me

2 and 3 sounds g

[2021-09-10 21:06] yolile commented on #1362
As part of #1414, I've updated the unsuccessful tenders example, including its text and JSONs. I've also updated the text and JSONs of the organizational_units worked example.
However, for the milestones example, I'm not sure what to do in the  ["Planning and tender milestones"](https://standard.open-contracting.org/latest/en/guidance/map/milestones/#planning-and-tender-milestones) example. Here t

[2021-09-11 13:29] JachymHercher commented on #1203
Ah, sorry, you're right - what I wrote concerns just d), I skipped e). My bad. I think we should deal with them separately.

 For e), 'procurementMethodRationale' (or maybe rather 'procurementMethodJustification'?) sounds good.

(In the EU, you need a justification just for 'direct', but in earlier legislation you also needed it for 'limited'. I hope the name 'procuremenMethodRationale' doesn't so

[2021-09-13 02:01] jpmckinney commented on #1206
2.0 will have a comprehensive review of terms (e.g. "buyer" and "supplier" don't make much sense for sales of state assets), so I prefer to not create new issues at this time, since we would likely want one new issue per group of terms (buyer/supplier, document types, etc.), which will just leave a lot of open issues.

[2021-09-13 20:53] yolile commented on #1203
We already have a `procurementMethodRationale` field, which description is "Rationale for the chosen procurement method. This is especially important to provide a justification in the case of limited tenders or direct awards."

So for the new `procurementMethodRationale` code the description could be "Documentation of the rationale for the chosen procurement method in case it is other than 'open'"

[2021-09-13 21:16] #1206 closed, assigned to JachymHercher

[2021-09-15 01:50] jpmckinney commented on #1144
Yes, `procurementMethod` is already separate from `procurementMethodDetails`, whose semantics are very broad such that it *could* describe these dimensions/perspectives. Right now it's often used for the name of the procedure, which in many jurisdictions conflates dimensions, perspectives and a "strict" concept of procedure. My question is whether there is something other than the name that we wan

[2021-09-15 01:59] jpmckinney commented on #1362
In the [Communication](https://extensions.open-contracting.org/en/extensions/communication/master/) extension, we have a `futureNoticeDate` field, because the future notice date is important for bidders' use cases. In general, universal or very common events should have fields, whereas milestones should be for less common or procedure-specific events.

In practice, I don't know any system that tra

[2021-09-15 02:22] jpmckinney commented on #1203
Regarding other requirements from TED/eForms, we have this extension https://extensions.open-contracting.org/en/extensions/otherRequirements/master/

(d) I agree on 'otherRequirements' (matches the field) or 'otherParticipationRequirements' (is clearer on its own; the `otherRequirements` field occurs in the context of `tender`, where it's clearer that it's about participation).
(e) I think 'procur

[2021-09-15 15:06] yolile commented on #205
The extension used in Paraguay is drafted here https://gitlab.com/dncp-opendata/ocds_complaints_extension

[2021-09-17 15:25] JachymHercher commented on #1144
I think I understand, but I find it quite surprising. My impression of the two fields was that they are both very narrow: `procurementMethod` is defined by its closed codelist and `procurementMethodDetails` are details on the closed codelist, which is essentially just the name of the procedure (e.g. in the EU, I choose 'direct' and write "Negotiated procedure without prior publication of a call fo

[2021-09-17 15:53] jpmckinney commented on #1144
In the EU, the names of procedures are separated from the dimensions/perspectives like "utilities", "social regime", etc. but in some jurisdictions we've reviewed, the names of procedures integrate these. I guess that is surprising, but it is common.

[2021-09-17 15:58] JachymHercher commented on #1406
In eForms, articles depend on the data. Specifically:
- Business groups that only contain other fields have no article (and typically start "Information about...")
- Fields that can have multiple values start with "A"
- Fields that can only have a single value start with "The", except those that are booleans which start with "Whether".

We could do it along the same lines for OCDS?

[2021-09-17 16:06] JachymHercher commented on #850
1. Me neither. I used "using the" because it was in the guide, happy to stick with it.
2. Ok, so let's just change the guide.
3. Gladly agree.

[2021-09-17 16:25] jpmckinney commented on #850
2. Done in https://github.com/open-contracting/standard-development-handbook/commit/567a786
3. Done in https://github.com/open-contracting/standard-development-handbook/commit/a95e98bdfec7d734e0b3588825f7afb8cf35d97c

[2021-09-17 16:45] #1207 closed, assigned to JachymHercher

[2021-09-17 16:58] jpmckinney commented on #1406
For fields with multiple values, I think we currently often use "The" but with a plural noun phrase. However, if the value is an array of objects, then the *object*'s description typically uses "A"/"An". A special case is `tag`, which has weak semantics, so it's "One or more values from the closed releaseTag codelist".

I've made this and other changes in this commit: https://github.com/open-contr

[2021-09-17 19:59] yolile commented on #1362
In Paraguay, during the planning stage, they include the estimated tender date, but that is disclosed in a separated field, similar to `futureNoticeDate` (but in planning not in tender)

[2021-09-18 19:49] JachymHercher commented on #1402
That would be better than the current state.

Still, wouldn't it be best to merge guidance/build/merging into schema/merging? (I accidentally switched the order in my previous post, sorry). Currently, guidance/merging starts by referencing schema/merging (and has essentially just one paragraph of non-example text) and then schema/merging would refer back to guidance/merging for the examples, which

[2021-09-18 22:48] #895 closed, assigned to JachymHercher

[2021-09-19 16:46] JachymHercher commented on #1385
The PR is ready.

I have also reflected the discussions leading to https://github.com/open-contracting/standard/issues/1385#issuecomment-912787349 into the overview in https://github.com/open-contracting/standard/issues/1385#issuecomment-897117254.

Note below that `contracts` now uses "period" in two meanings. I think it is ok.

___

Concerning the two tasks in https://github.com/open-contracting

[2021-09-20 15:32] #1173 closed, assigned to JachymHercher

[2021-09-20 22:31] duncandewhurst commented on #1395
I think @yolile's comment in https://github.com/open-contracting/standard/issues/1395#issuecomment-907397774 is the only example we have of using data about FAs. I suspect that how users want to treat FAs might come down to the type of analysis they are doing, so I think the main thing is to have a clear way of distinguishing FAs from other types of procedure, which is addressed in the FA guidance

[2021-09-21 12:43] odscrachel commented on #205
Just a note that the Kyrgyz Republic currently have additional fields covering complaints, using the following fields in releases/complaints.

- description
- dateSubmitted
- id
- author
- status
- documents
- complaintNumber
- reviewDate
- resolution
- responseDate
- type
- title

They are also using an additional party role code for complainants.

[2021-09-21 12:53] odscrachel commented on #815
The Kyrgyz Republic currently have an additional field within contracts titled `contractNumber` which looks like they may be using it to capture an internal reference number. They also have `tenderNumber` with the tender section.

[2021-09-21 13:25] JachymHercher commented on #850
4. We should replace "procuring entity" with "buyer or procuring entity". We often use "procuring entity" as buyer (or as an umbrella term) because in UNCITRAL that's what it means, but that's not in line with OCDS descriptions. (We could have done this "clean-up" as a follow-up to https://github.com/open-contracting/standard/issues/571.)

[2021-09-21 13:39] JachymHercher commented on #1398
The PR is ready. Few notes:
1) Above, we did not consider "potential tenderers". Theoretically, the expression is better than "potential suppliers", because a "potential supplier" is also a tenderer, which is not the intended meaning. At first, I was inclined to stick to "potential supplier" anyway, because I thought "supplier" seemed like less jargon than "tenderer", but on second thought, I thin

[2021-09-21 14:02] JachymHercher commented on #1400
I agree - the rules about FA contracts are the same as for non-FAs. However, since (1) ("initial concluded contract's values should also appear in the Contract") and (4), this means that there _should_ be a mention of contract, no? It is as relevant as mentioning awards. In particular, since we want to give fairly complete instructions of what people should do, it should say what https://github.co

[2021-09-21 14:48] JachymHercher commented on #1395
I have prepared the PR based on "leaving as-is". I am very unsure whether it's the best "long term" solution, but I don't have a clear idea on a better one and if it's not, it'll come back to haunt us later on, so we can deal with it then.

[2021-09-21 15:48] JachymHercher commented on #1215
1. & 3. - ok.
2. I'm not 100% sure I get this, maybe lets come back to it after https://github.com/open-contracting/standard/issues/1400.

'

4. Ok, done in https://github.com/open-contracting/standard/pull/1415/commits/ed37c4eee46229e733f3deceff588d424c372eaf.

[2021-09-21 16:19] jpmckinney commented on #1400
Yes, if we want a fuller example (fine with me), we can include contracts as you suggest.

[2021-09-21 16:21] jpmckinney commented on #850
Yes, we should clean up the use of procuring entity as proposed in (4).

[2021-09-21 19:27] #1395 closed, assigned to nobody

[2021-09-21 19:57] jpmckinney commented on #1398
1. I think "potential tenderer" is typically used in the context of a "likely" tenderer ([example definition](https://www.lawinsider.com/dictionary/potential-tenderer)), e.g. where they have joined the process (like purchasing access to bidding documents) but not yet submitted a bid. In other words, "tenderer" implies that there is some reason to believe they might submit a bid. On the other hand,

[2021-09-21 21:19] yolile commented on #1203
Closed by #1419

[2021-09-21 21:19] #1203 closed, assigned to yolile

[2021-09-22 12:14] yolile commented on #1388
Closing this issue as there is an extension drafted

[2021-09-22 12:14] #1388 closed, assigned to nobody

[2021-09-22 13:21] yolile commented on #1412
Should we add a caveat in the 'Easy releases' page as per https://github.com/open-contracting/standard/issues/1092#issuecomment-713248126 and add a new page to explain how and when to use a `compiledRelease`? (eg "Latest version only" (other names welcome)) That is because I think the 'Easy releases' page is already long and focuses on still publishing (but not storing) multiple releases per contr

[2021-09-22 14:59] jpmckinney commented on #1412
I never liked the name "easy releases", and we don't want even more terms. There are two main decisions to make:

1. Whether to have a change history (if not, link to new page about publishing compiled releases only)
1. Whether to have incremental updates (current "change history" page) or full updates (current "easy releases" page)

There should be a new "change history" section that discusses th

[2021-09-22 19:23] yolile commented on #1412
Agree, but I guess we still need a title for the new/replaced sections, rigth?  Something like:

The new section with the approaches discussion -> "Change history"
The current "Change history" -> "Incremental updates"
"Easy releases" -> "Full updates"
The new section with the compiled release only example -> ?

Or what do you think?

[2021-09-22 19:44] #1398 closed, assigned to JachymHercher

[2021-09-22 19:51] jpmckinney commented on #1412
Yes, and the new page can be "No change history" ?

[2021-09-23 20:18] jpmckinney commented on #930
Actually, re-opening since we probably want a bit in the docs to describe the use case.

[2021-09-24 04:36] jpmckinney commented on #1402
On my screen, each of those pages is 7 screens long (excluding the example within the reference page), and a 14-screen long page is just very long. I'd rather have two well-scoped 7 screen pages.

The two pages have different use cases. The guidance is about how to take advantage of the merging routine to make updates and deletions to data.

The reference page – honestly – no one needs to read, un

[2021-09-24 05:00] jpmckinney commented on #1385
Great, and for your action item:

Is there anything to do?

[2021-09-24 10:56] ColinMaudry opened #1424 "OCDS date vs. xsd:date"
eForms uses `xsd:date` datatype to express dates that don't require a time. According to the XML Schema recommendation, an `xsd:date` is the date portion of an `xsd:dateTime` object, with the possibility to add an indication of the timezone.

Valid examples of `xsd:date`:

- 2021-10-09
- 2021-10-09+02:00

Question: is this datatype fully compatible with OCDS date, or does a time portion must be ad

[2021-09-24 11:16] ColinMaudry commented on #1424
In SF common guidance it's indicated a time component must be added, but it doesn't mention the reformatting of the date component: https://standard.open-contracting.org/profiles/eu/latest/en/operations/#set-time-components

[2021-09-24 13:08] #1407 closed, assigned to yolile

[2021-09-28 20:34] duncandewhurst opened #1425 "Document type codelist: Add a code for early engagement notices"
The UK Cabinet Office's Contract Finder system includes an early engagement notice, which is described as being:

In the EU this type of activity is known as a preliminary market consultation (Article 40, Directive 2014/24/EU). Other terms for the same type of activity include market engagement and information gathering (https://github.com/open-contracting/standard-development-handbook/issues/278)

[2021-09-30 13:15] ColinMaudry commented on #883
Very practically, eForms BT-633 (mentioned by @JachymHercher) is indeed a boolean field that tags an organization that is part of a procedure as a person instead of an organization. A common use case is, I believe, when a tenderer is a self-employed individual (like me!).

Until OCDS distinguishes people-parties from organizations-parties, I recommend implementers to discard this boolean when mapp

[2021-10-01 21:54] jpmckinney commented on #1425
Assigning @JachymHercher as he has recently reviewed codes for notices for 1.2.

[2021-10-05 19:22] jpmckinney commented on #1424
I'm confused. `xsd:date` is 2019-11-27, not 20191127, no? The only reformatting is to remove the timezone, which I was not aware of.

[2021-10-06 09:34] ColinMaudry commented on #1424
Standard forms use YYYYMMDD, eForms uses `xsd:date`.

In our guidance, we mention that a time component must be added, but say nothing about the date component that should be reformatted (YYYYMMDD => YYYY-MM-DD).

I take note that for eForms, the reformatting will consist in removing the optional timezone and add the time component.

[2021-10-10 19:26] JachymHercher commented on #1385
No. (The reasons were already given in https://github.com/open-contracting/standard/issues/1385#issuecomment-922502930 but I didn't distinguish sufficiently which comment concerned which task - I've updated it to make it clearer.)

[2021-10-11 09:46] pindec commented on #1028
Noting [fictional sample OCDS data](https://github.com/open-contracting/sample-data/blob/main/fictional-example/1.1/ocds-213czf-000-00001-01-planning.json) uses `http://data.companieshouse.gov.uk/doc/company/[id]` as the `uri`, not `https://find-and-update.company-information.service.gov.uk/company/[id]`, so we should be consistent.

[2021-10-12 14:45] #866 closed, assigned to JachymHercher

[2021-10-12 14:50] #1385 closed, assigned to JachymHercher

[2021-10-12 21:02] duncandewhurst opened #1430 "Add guidance on linking releases from different publications"
We should provide guidance since this issue has come up a couple of times recently

* In the UK, where Contracts Finder, Find a Tender Service and Public Contracts Scotland all publish releases about the same contracting processes (see CRM-7250, CRM-7262, CRM-7304 and CRM-7512)
* In Colombia, where Colombia Compra and ANI publish releases about the same contracting processes (see CRM-7263)

Unless

[2021-10-12 21:05] jpmckinney commented on #1430
Yes, the discussion in the CRM could serve as a worked example.

[2021-10-13 02:22] yolile commented on #1430
Thanks, Duncan for opening this issue.

With the "prev" link type, I assume?

[2021-10-13 02:28] duncandewhurst commented on #1430
Yes, if linking to an individual release I think that would be most appropriate.

[2021-10-14 22:58] duncandewhurst commented on #438
The original enquiry about planned payment schedules related to Moldova. Looking at the [MTender](https://mtender.gov.md/tenders) front end and [OCDS data](https://ocds-downloads.opendata.coop/source/moldova), I don't see any evidence that data on planned payment schedules is actually collected or disclosed. Based on that, we might want to leave this issue until we see more demand.

@myroslav @Pau

[2021-10-14 23:29] duncandewhurst commented on #816
Can a document be related to more than one item, but less than a whole lot or tender?

If so, the field would need to be an array, e.g. `Document.relatedItems`.

[2021-10-14 23:37] yolile commented on #438
I'm not sure about the semantics but, in Argentina Vialidad they use a planning/milestones/value object, eg:
[code]

From https://datosabiertos.vialidad.gob.ar/api/ocds/package/ocid/ocds-4jg6r3-0009120-2017

[2021-10-14 23:43] duncandewhurst commented on #523
Would the semantics of the new field be the period in which the milestone is due?

We have seen publishers use milestones to represent periods, for example, when a tender has more than one enquiry period, they disclose one period in `tender.enquiryPeriod` and use separate milestones to represent the start and end dates for the other period. Would we recommend they use the new field instead?

I thi

[2021-10-14 23:46] duncandewhurst commented on #438
Thanks, @yolile. Good idea to check other publishers. For completeness, I checked all the fields in OCDS Downloads and Argentina Vialidad was the only one with a `milestones/value` field.

Can we ask the publisher about the semantics of their data? It's not clear to me either.

[2021-10-14 23:50] yolile commented on #438
Ah, I remember it now, the `value` object in `Milestone` is also used in Chile (see internal discussions in the CRM-5334#note-2)

Their use case is indeed planned payment schedules.

(and they are using `contracts/implementation/milestones/associatedValue` (we had recommended them to use `value` but :woman_shrugging: ) that is why you didn't find them in OCDS Downloads)

[example](https://apis.mer

[2021-10-14 23:55] duncandewhurst commented on #438
Great. That seems like enough demand to proceed. However, it would still be good to understand Argentina Vialidad's use of the field, so that we can define appropriate semantics.

[2021-10-15 00:24] yolile commented on #438
Agree. I'm doing a little bit of research on the documents we have from them, and it seems that in Argentina Vialidad they have a pre awarding committee that must approve the "pre awarding" values before the actual award, and it seems they are mapping that amount as a planning milestone amount, for some reason (eg "title": "Preadjudicación" = pre award). It sounds like something not that well mapp

[2021-10-15 00:59] duncandewhurst commented on #438
Understood - thanks for the research! I'll go ahead with adding the field.

[2021-10-15 13:51] jpmckinney commented on #816
Since relatedLots is plural, I think it's reasonable for relatedItems to be plural.

[2021-10-15 18:45] jpmckinney commented on #523
I think the semantics are when the milestone is due, specifically for the case of "time-frame for delivery of goods or services".

For example, let's say you want weekly deliveries of milk, but are flexible whether they arrive Sunday or Monday, so you set a two-day window. You wouldn't want to set only a due date, as the supplier could deliver your annual shipment all at once.

Having said that, i

[2021-10-15 18:54] jpmckinney commented on #438
I suppose it makes sense to have milestones (rather than just adding a `Transaction.status` field) in case the payments are known at, e.g., the tender stage, before a contract is signed. That said, such schedules are usually expressed as, e.g., "50% on signature, and 50% on delivery." So, I don't know that this use case is fully supported.

Another advantage is that, if we were to add `Transaction

[2021-10-15 19:38] jpmckinney opened #1435 "Clean up examples directory to follow consistent structure"
All related files should be in a directory, with no unrelated files.

Once organized, the approach should be documented in the handbook.

Currently, some files like `unsuccessful-tender*.json` use a filename prefix instead of being organized into a directory.

Similarly, the `tender.json`, `award.json`, etc. files are related, but have neither a prefix nor a specific directory.

Related: #1408

[2021-10-15 20:07] jpmckinney opened #1436 "Update `version` field in all examples"
This can be done immediately before release of 1.2, to avoid conflicts with 1.1-dev.

[2021-10-16 01:31] #1028 closed, assigned to pindec

[2021-10-17 21:50] duncandewhurst commented on #897
Edit: Wrong issue

[2021-10-17 22:10] #897 closed, assigned to nobody

[2021-10-31 21:55] Ravf95 commented on #1104
With this update, the 90% percentile is 148.1. We have 33 publishers with information about tender titles and 86 publishers where the value is empty value or don't have.

I think we can choose the limit between 160 and 200 characters.

<details>
<summary>Details about others collections</summary>

90% percentile | schema
-- | --
12.0 | view_data_collection_2058_2059
27.0 | view_data_collection_213

[2021-11-01 14:09] Ravf95 commented on #1104
Another recommendation we can add and is very helpful for publishers is to recommend that the information about the organizations should be in parties and not list all in tender.title

[2021-11-02 12:14] aguilerapy commented on #1268
In process in [CRM-3888](https://crm.open-contracting.org/issues/3888).

[2021-11-10 22:31] duncandewhurst commented on #523
That makes sense to me, so for the example from https://github.com/open-contracting/standard/issues/793#issuecomment-448226849 of disclosing the period of an auction, the guidance would be to use two milestones: one for the start of the auction and one for the end.

That would remove the need for the technical note and I think it would reduce the potential for confusion about using milestones to r

[2021-11-10 22:36] duncandewhurst commented on #815
It seems possible to me that, particularly in the case of contracts, different systems might assign different identifiers. For example, a contract might appear in a procurement system, a financial system, a contract management system etc. Ideally, those systems would share a common identifier, but in practice they might not.

Do we need to solicit more input on this issue before preparing a PR?

[2021-11-10 23:37] duncandewhurst commented on #914
An alternative would be to add an explicit field to preserve the initial period in the signed contract. Otherwise, no option is perfect with respect to identifying changes to the contract period:

- Relying on individual releases - most publishers don't provide individual releases, most tools and methodologies are based on compiled releases.
- Comparing awards and contracts - if there is a differe

[2021-11-11 15:35] yolile commented on #1144
In Colombia, the `procurementMethodDetails` field already distinguishes if the process is a PPP. Example https://apiocds.colombiacompra.gov.co/apiCCE2.0/rest/release/ocid/ocds-k50g02-16-20-1498
And the endpoint and value to use to filter them all https://apiocds.colombiacompra.gov.co/apiCCE2.0/rest/releases/filters/tender.procurementMethodDetails%2CIniciativa%20Privada

[2021-11-11 20:34] yolile commented on #1154
We somehow already do this by having a 'planning' `tender.status` code with this definition:

 

Maybe in the new definition we can refer to this code, and indicate that if the tender has that status, all its content refers to the planning process. I think that should apply for both, core fields but also for existing extensions to the tender block.

For context and reference, this came up during t

[2021-11-11 20:41] duncandewhurst commented on #891
Does this issue require further discussion or can a PR be prepared based on the proposal in the issue description?

[2021-11-11 20:45] #848 closed, assigned to nobody

[2021-11-11 20:48] jpmckinney commented on #891
Moving toward a more-or-less mandatory lot is a significant change that will affect a lot of the documentation – not just the schema. For this issue, I think we need to do some community consultation before preparing the (large) PR.

[2021-11-11 21:03] duncandewhurst commented on #1027
I think that adding a field named `branch` could lead to confusion between [branches of government](https://en.wikipedia.org/wiki/Separation_of_powers) and [branch offices](https://en.wikipedia.org/wiki/Branch_office). Alternatively, the field could be named `branchOfGovernment`.

In Colombia's extension, the field is free-text. Alternatively, the field could use an open codelist with the 3 most c

[2021-11-11 22:05] duncandewhurst commented on #1102
In the [Public Procurement and Asset Disposal Act 2015](http://ppra.go.ke/download/ppda2015/):

The act also mandates the 30% budget allocation mentioned in https://github.com/open-contracting/standard/issues/1102#issuecomment-721679891, but leaves the actual preferences applicable to micro and small enterprises owned by youth, women and persons with disabilities to be prescribed elsewhere:

The [

[2021-11-12 02:16] duncandewhurst commented on #1179
Since the implementation research is more than a year old now, I used the [OCDS Downloads stats](https://fra1.digitaloceanspaces.com/ocdsdata/metadata/stats.json) to generate a [report of extension usage](https://docs.google.com/spreadsheets/d/1KRqE8w3S0vFz0KZ2nJkSiZmnd0xfVX8h24vcD0dl_RA/edit#gid=0) by publisher.

I used the `Domain` metadata from the Kingfisher Collect spiders to identify the pub

[2021-11-12 13:38] jpmckinney commented on #1027
This is also more a national/state-level concern than one that affects all governments/parties. I think it’s fine to leave unstandardized, but we can re-open if there is new engagement.

[2021-11-12 13:38] #1027 closed, assigned to nobody

[2021-11-12 13:49] yolile commented on #1027
Something similar is also used in Paraguay, with new fields in `parties.details ` declared in a [local extension](https://gitlab.com/dncp-opendata/ocds_partyDetails_publicEntitiesDetails_extension), eg:

[code]

But I agree that this differs from country to country and having local extensions seems to be enough.

[2021-11-14 18:54] JachymHercher commented on #1154
https://github.com/open-contracting/standard/issues/1160#issuecomment-887489821 proposes to remove the code, arguing that it duplicates `releaseTag` code 'planning'. Maybe let's discuss it there, if appropriate?

[2021-11-14 19:10] JachymHercher commented on #914
I would have the same reflex as you do, i.e. an award value will always be the same as the contract signed in the initial contract (and then the contract value gets modified, while the award value does not.) I would argue this stems from the fact that a value is a crucial part of the bid and awards are based on bids, so unless you modify the bids, you can't change the content of an award.

(Now, t

[2021-11-15 18:02] yolile commented on #1160
Mmm, but we lose the `releaseTag` in compiled releases, and normally the users based their analysis on compiled releases

[2021-11-15 19:04] jpmckinney commented on #1160
Right - I think we need to keep it since we don't have another way to distinguish planning processes from contracting processes.

[2021-11-15 21:21] JachymHercher commented on #330
Basic question: why do compiled releases [currently have](https://standard.open-contracting.org/staging/1.2-dev/en/schema/merging/#discarded-fields) `releaseTag` set only to 'compiled', instead of containing the tags of all the individual releases and, additionally, 'compiled'? Since the field is already there anyway, wouldn't the "adding" approach remove an anomaly and also have the added value o

[2021-11-15 21:25] JachymHercher commented on #1160
Ah, interesting! Honestly, I haven't really been thinking about merging and compiling, so I just have a very basic question in https://github.com/open-contracting/standard/issues/330#issuecomment-969332493 and two requests for confirmation:
1) In OCDS 1.2., any process that contains a `Planning` subschema should be a planning process, consequently we don't have a problem there  with distinguishing

[2021-11-16 13:09] yolile opened #1445 "`Tender`: add `mainProcurementCategoryDetails` field"
We have a `*details` field for almost all of our codelists to allow the publisher to disclose their local name of a particular codelist value in the standard. However, we don't have one for the `mainProcurementCategory`. Paraguay developed an extension for including that field in https://gitlab.com/dncp-opendata/ocds_mainProcurementCategoryDetails_extension however, we should consider adding it to

[2021-11-16 19:24] jpmckinney commented on #1445
Hmm, isn't this what `additionalProcurementCategories` can be used for? For example, the extendedProcurementCategory codelist already contains 'consultingServices', which is a subset of 'services'. I suspect any local category would be a subset of the big ones ('goods', 'works', 'services').

[2021-11-16 19:31] jpmckinney commented on #1160
(1) Since OCDS 1.2 is backwards-compatible with OCDS 1.1, we might have "old style" contracting processes that use the `planning` object to provide information about the planning process (instead of carving it out into a new OCID). That's why I think it's best for the `tender.status` to serve as an indicator of a planning process. That said, we'll still have an issue where upgraded OCDS 1.1 data m

[2021-11-16 20:31] jpmckinney commented on #330
Tags are not cumulative. The semantics of `tag` are "what is *this* release doing?" like "this release is amending the contract". If a prior release amended the tender, it would be incorrect to tag a later release about a contract update as `["tenderAmendment", "contractUpdate"]`.

That said, `tag` cannot have those same semantics in a compiled release (the compiled release is about many releases,

[2021-11-16 20:38] jpmckinney commented on #914
I guess it's a question of balance and priority. We don't want three fields for every concept (initial, current, final). The dates and values of the main objects (tender, award, contract) are more important, so we might allow more time-based fields for them. However, this isn't really about "conditional semantics", since a contract can have the same status, etc. and its period can be amended. This

[2021-11-16 21:15] JachymHercher commented on #1160
Self correction: this is not true, because point 7 of https://github.com/open-contracting/standard/issues/866#issuecomment-881910761 says that if you publish a planning process which only contains `Tender`, you should mark it with `releaseTag` 'planning', which will make it clear that it is a planning process.

____

If in https://github.com/open-contracting/standard/issues/330#issuecomment-970654

[2021-11-16 21:31] JachymHercher opened #1446 "Rename and clarify Guidance/Map/Amendments"
Looking at https://standard.open-contracting.org/1.1/en/guidance/map/amendments/, I have two suggestions:

1) Shouldn't it be renamed to Updates and amendments, since it deals with both and these are the terms used in `releaseTag`?
2) When publishing updates, different eProcurement systems have different approaches to what should be published when amending information: (i) just the amendment (i.e.

[2021-11-17 12:52] yolile commented on #1445
Aha, but that is a codelist, not a free text field. For example, in Paraguay the existing values are:

- Food products,
- Agricultural and forestry goods and inputs,
- Machinery, Equipment and Major Tools
- Computer, office, educational, printing, communication and signaling equipment, accessories and programs
- Military and Security Equipment. Security Service
- Consultancies, Advisors and Invest

[2021-11-17 13:31] yolile opened #1447 "Feedback to Draft Bidding Documents"
The Digital Agency for Public Innovation (ADIP) of Mexico City is developing a module for obtaining feedback on procurement processes (the “Draft Bidding Documents Module”) (Pre Bases in Spanish) prior to the formal start of a contracting procedure.

Through this tool, interested parties will be able to propose modifications or clarifications to the draft bidding documents and have the opportunity

[2021-11-17 16:12] jpmckinney commented on #1445
I think a list of 25+ items is no longer a "main category". I agree that tender classification is more appropriate (where codes like CPV can be used to match these same types of items). If a publisher uses their own codelist, they can use a scheme prefixed with the country code like `PY-`.

[2021-11-17 16:12] #1445 closed, assigned to nobody

[2021-11-22 03:13] duncandewhurst commented on #1102
Similar to the idea of targeting (rather than reserving) a tender at a particular group or type of organization, the UK's Contracts Finder system records whether tenders are suitable for SMEs and Voluntary, Community and Social Enterprises.

[2021-11-22 13:28] ErinClark commented on #330
Hi @jpmckinney ,
I am also just trying to work out a solution for this for users who just want to get the compiled release, but also retain information on the history of which phases it is combining. I was going to add a top level field to the compiled release named 'compiled_tags' which would be an array of all previous tags. Does this sound reasonable?

[2021-11-22 20:20] jpmckinney opened #1449 "Avoid examples that are incoherent, or that are too abstract"
Users prefer specific examples. We now have many specific examples on deeper pages (e.g. for the Map step).

However, much of the older content still has generic/abstract examples – or no examples.

We should review the documentation to check for examples that need to be added or improved. We can then list the pages as a to-do list in this issue, and close the issue once a sufficient number of pag

[2021-11-22 20:21] jpmckinney commented on #1449
cc @sabahfromlondon to identify/prioritize the pages on which to add/improve examples.

[2021-11-24 01:30] duncandewhurst commented on #384
This issue came up again in relation to modelling a bidder's turnover, which can be provided in multiple currencies (see CRM-7727 for details):

![image](https://user-images.githubusercontent.com/19265814/143154274-6ac8ea96-dbea-41dc-ab55-ef65c38fe4d1.png)

Do you envisage a sibling to existing `.value` fields, e.g. `contracts.altValues`, or a property of the `Value` object, e.g. `contracts.value.

[2021-11-24 02:47] jpmckinney commented on #384
In general, this seems to be a rare need, and not one that is clearly the responsibility of OCDS.

In CRM-7727, exchange rates come up in the context of selection criteria (yearly turnover). Presumably, local suppliers would evaluate themselves against the local currency. The buyer, I suppose, includes USD conversions because it is the world's reserve currency, so that foreign suppliers can more e

[2021-11-26 16:11] JachymHercher commented on #1402
Ok. I've made a mini-PR with the replacement you mention in https://github.com/open-contracting/standard/issues/1402#issuecomment-911109993. (Failing a test though :-(, not sure why.)

[2021-11-28 19:04] JachymHercher commented on #1425
I agree we should add such a document, there is currently nothing equivalent in the [`documentType` codelist](https://standard.open-contracting.org/staging/1.2-dev/en/schema/codelists/).

______

I wouldn't call it Planning Notice, as I think the term is overloaded/ambiguous/unnecessarily broad. For example:
- 'plannedProcurementNotice' has "planning notice" listed as one the synonyms:

- eForms u

[2021-11-28 21:22] duncandewhurst commented on #1425
Thanks, @JachymHercher.

Good spot! I'm happy with your proposed alternatives (I don't have a preference between them).

For the description, I took the wording from the EU directive, including the part about procurement plans and requirements, but your updates and reasoning sound good to me.

[2021-11-29 16:00] JachymHercher commented on #1400
I've prepared PR https://github.com/open-contracting/standard/pull/1451 which should close this issue. When working on it, I concluded the section can be made much simpler, but quite possibly I misunderstood something. @yolile and @duncandewhurst you might also want to have a look?

List of main changes below, but looking at the PR might in this case be more straightforward.

___

1) @jpmckinney s

[2021-11-29 22:23] duncandewhurst commented on #1400
Thanks, @JachymHercher. The changes look good to me.

Implementers frequently populate both the awards and contracts sections with the same data even though their data source only contains data about awards. This guidance was originally included in our data feedback template to address a possible reason when that would be OK. For the sake of simplicity, I think it's fine to remove.

[2021-11-29 22:30] duncandewhurst commented on #1179
@jpmckinney @yolile based on the above, are you happy for me to start on preparing PRs to merge the following extensions?

* Location
* Budget Breakdown
* Bid statistics and details
* Additional Contact Points

[2021-11-29 22:32] duncandewhurst commented on #523
@jpmckinney do you have a preference between adding `dueAfterDate` or deprecating `dueDate` and adding a `Period` object in its place, e.g. `due` or `duePeriod`?

[2021-11-29 22:39] yolile commented on #1179
From the >=3 list, Paraguay will add 1 to Lots, Budget Breakdown and Bid statistics and details (and an additional extension over that one to include items, see https://github.com/open-contracting/ocds-extensions/issues/126)

From the = 2 list, Paraguay will add 1 to Item attributes, Enquiries, Budget and spending classification and Parties scale. We could consider adding these too if the criteria

[2021-11-29 22:41] duncandewhurst commented on #914
Sounds good. In terms of conditional semantics, we agreed that we don't need to add any fields. Shall we close this issue and open a new issue about adding time-based fields to preserve values of important fields?

[2021-11-29 23:11] duncandewhurst commented on #1103
I found several examples of systems with location at the tender level.

* In NSW Australia's eTendering system, a tender's location can be a list of NSW regions and/or Australian states and territories ([example](https://www.tenders.nsw.gov.au/dcs/?event=public.rft.show&RFTUUID=1EAEDEBA-A628-753D-0BD40E335A5129B8)).
* In Australia's AusTender system, a tender's location can be a list of Australian

[2021-11-29 23:17] duncandewhurst commented on #1228
It seems clear to me that the original question is about supporting documents (e.g. Quotes, Contracts, Purchase Orders etc.) rather than an alternative representation of the contracting process.

Is any further discussion or input required before preparing a PR to add a top-level `documents` array?

[2021-11-30 00:34] duncandewhurst commented on #1127
I can't find any evidence of these other schemes being used in a procurement context. Shall we just add UCUM for now and add the others as we see demand or evidence?

[2021-11-30 01:24] duncandewhurst commented on #1084
It seems like we have agreement on this issue. Is any further discussion or consultation required before preparing a PR?

[2021-11-30 01:37] duncandewhurst commented on #426
I agree that it sounds sensible to use `links`. Is any further discussion or consultation required before preparing a PR?

[2021-11-30 16:20] jpmckinney commented on #1084
Since this issue affects tools, we will need to review whether we have the capacity to modify tools to accept a bulk data format. We will be doing a review of open issues in the new year to decide which to include in 1.2.0 and which to postpone. This might be one of them.

[2021-11-30 16:23] jpmckinney commented on #426
#928 would add the `links` field. For this issue, we'd have to also author tools to help publishers generate a patched schema (`describedby` is very unlikely to be used, otherwise). We'd also need to update tools to use this value instead of patching the release schema with `extensions`. We don't yet know whether we have the capacity to do that, so this issue might be postponed to a future version

[2021-11-30 16:27] jpmckinney commented on #1127
Yes, let's just add UCUM.

[2021-11-30 16:28] jpmckinney commented on #1127
Actually, it's not even clear that UCUM is used. For the medicine extension, we use UNCEFACT. So, closing until there's demand.

[2021-11-30 16:28] #1127 closed, assigned to nobody

[2021-11-30 16:34] jpmckinney commented on #1228
The main risk with a top-level `documents` array is that publishers start using it for documents anytime they can't figure out which section to put a document in. I think it is fairly rare for a document to cover multiple stages (from tender to contract). In those rare cases, we might advise on the use of an extension to add that top-level `documents` array – so that its use is more deliberate. So

[2021-11-30 16:36] jpmckinney commented on #1103
What is the meaning of those locations? Delivery locations like in the location extension?

On that understanding, I'll move this issue to ocds-extensions, as it relates to the Location extension.

[2021-11-30 16:49] jpmckinney commented on #914
Yes, please create the new issue and then close this one.

[2021-11-30 17:09] jpmckinney commented on #1179
https://github.com/open-contracting/ocds-extensions/issues/86#issuecomment-510542416

4+

* Location has [some open issues](https://github.com/open-contracting/ocds-extensions/issues?q=is%3Aissue+is%3Aopen+location) to review. It has geographically-diverse adoption. It seems like a good candidate.
* Budget Breakdown and [Budget and spending classification](https://extensions.open-contracting.org/e

[2021-11-30 17:17] jpmckinney commented on #523
I prefer `dueAfterDate` as having loads of deprecated fields is not great for standardization. We can have guidance that if there is a timeframe for delivery, the `dueAfterDate` and `dueDate` can be used as start/end – after which it is past due.

`dueDate` already has the semantics of "due before date" or "due on date", so `dueAfterDate` sounds like a good term.

[2021-11-30 20:52] jpmckinney commented on #330
@ErinClark Until this issue is resolved, it makes sense to add an additional field as you suggest.

[2021-11-30 21:08] #930 closed, assigned to duncandewhurst

[2021-11-30 21:10] #1117 closed, assigned to nobody

[2021-11-30 21:19] jpmckinney commented on #815
These objects already have `id`, which should be enough for the primary identifier. As such, and unlike organizations (which have `id`, `identifier` and `additionalIdentifiers`, because `id` might just be for internal references, and `identifier` might not be globally unique), it's enough to have `id` and `identifiers` for tender and contracts.

Now, the `Identifier` definition is currently specif

[2021-11-30 22:14] jpmckinney commented on #1425
Description looks good to me! For code/title, I prefer "marketEngagementNotice" to "marketConsultationNotice".

I don't like "consultationNotice" as one can consult stakeholders, etc, but the description doesn't match that scenario.

[2021-11-30 22:14] #1402 closed, assigned to JachymHercher

[2021-11-30 22:17] jpmckinney commented on #1446
1. Sound good!
2. Yes, this can be stated explicitly for clarity.

[2021-11-30 22:49] #816 closed, assigned to duncandewhurst

[2021-11-30 23:05] jpmckinney commented on #827
The glossary has been very useful in clarifying the main concepts. For the remaining, less "core" concepts, there is relatively low overlap across the different sources, and in some cases the source has a much narrower definition.

I think keeping the OCDS definitions up-to-date will be too tedious, but it is something we can do if/when necessary. After all, the main value of the crosswalk is to f

[2021-11-30 23:05] #827 closed, assigned to ColinMaudry

[2021-12-01 19:48] #1400 closed, assigned to JachymHercher

[2021-12-02 18:49] JachymHercher commented on #1425
Great. PR ready. Further changes:
- This type of activity is also called market ~engagement~ _consultation_. (To reflect the change of name.)
- To consult ~with~ the market with the aim... (To avoid repeated "with"`; gramatically _probably_ ok according to a [random article](https://blog.harwardcommunications.com/2012/02/07/how-to-use-the-word-consult/), which I would interpret as our case being a

[2021-12-03 16:25] #1425 closed, assigned to JachymHercher

[2021-12-03 16:28] #1446 closed, assigned to JachymHercher

[2021-12-03 22:31] Ravf95 commented on #1104
@jpmckinney @yolile What do you think of the suggestions?

[2021-12-03 22:36] jpmckinney commented on #1104
Let's go with 150.

[2021-12-05 23:23] duncandewhurst commented on #330
This would be useful for implementations that use the EU profile because it would be possible to check, using only the compiled release, if both a tender and award release had been published. For the UK, which has issues with linking tenders and awards, currently, you need to check individual releases.

[2021-12-06 15:56] Ben-Hickling commented on #892
I'm re-opening this thread as requested by the OCDS Helpdesk to note that in the UK we plan to use both `tender.datePublished` and `awards.datePublished`, to respectively capture the dates that the tender and award were published. We will create a new extension for the latter if necessary. This will allow this information to be included in tenderUpdate and awardUpdate releases where they wouldn't

[2021-12-06 16:47] jpmckinney commented on #892
Hi @Ben-Hickling, can you create a new issue? This issue was about adding `tender.datePublished`, although Duncan did add a comment about an award datePublished. At any rate, they are separate fields, and deserve separate issues.

[2021-12-07 02:20] duncandewhurst commented on #815
Your proposal sounds good to me.

[2021-12-07 02:26] duncandewhurst commented on #1102
The UK wishes to use 3-value logic for tender suitability, e.g. a tender can either be suitable for SMEs, not suitable for SMEs or of unknown suitability for SMEs.

As such, we settled on adding `.vcse` and `.sme` boolean fields, grouped under `tender.suitability`.

[2021-12-07 10:54] Ben-Hickling opened #1456 "Add awards.datePublished field"
Branching off from the discussion on adding a `tender.datePublished` field (#892), the UK also has a need to add an `awards.datePublished` field.

This will capture the date that the award was published. We will create a new extension if necessary. This will allow this information to be included in awardUpdate releases where it wouldn't be otherwise. We need to cater for analysis tools that only h

[2021-12-07 10:55] Ben-Hickling commented on #892
@jpmckinney I've now created #1456 to discuss `awards.datePublished`.

[2021-12-07 18:45] #438 closed, assigned to duncandewhurst

[2021-12-07 19:34] duncandewhurst commented on #1297
At the same time we can make the changes suggested in https://github.com/open-contracting/standard/pull/1434#discussion_r759687627:

[2021-12-07 19:55] #523 closed, assigned to duncandewhurst

[2021-12-07 23:05] duncandewhurst commented on #1179
I reviewed the open extensions. https://github.com/open-contracting/ocds-extensions/issues/173 and https://github.com/open-contracting/ocds-extensions/issues/115 seem ready to address at the same time as merging the extension. https://github.com/open-contracting/ocds-extensions/issues/142 is more about the `Address` object and it looks like consensus wasn't yet achieved, but I don't think it block

[2021-12-07 23:17] duncandewhurst commented on #1179
Of the publications that declare the extension, only Mexico SHCP actually publishes `parties.additionalContactPoints`. The additional contact points are just a list of individual names, so I can't tell the 'type' from the data. In any case, since only one publisher actually uses the extension's fields, I suggest we don't need to merge the extension into the standard.

[2021-12-08 16:10] jpmckinney opened #1457 "Interactive widget to select use cases and see which fields are required (with definitions)"
Perhaps on the design page. This can also be integrated somewhere on the OCP website for non-OCDS publishers.

[2021-12-08 16:44] jpmckinney commented on #1179
Let's make a PR against the Location extension first. That way, we can release a 1.1.6 of that extension to be in sync with the version that is merged to OCDS 1.2.0.

[2021-12-08 16:54] #1142 closed, assigned to duncandewhurst

[2021-12-08 16:55] jpmckinney commented on #1456
Rephrasing Duncan's comment: https://github.com/open-contracting/standard/issues/892#issuecomment-557968381

The PhilGEPS data also includes a published date for the award notice.

One use case is understanding how timely publication of the award notice was (after the actual date of the award).

[2021-12-08 17:01] jpmckinney commented on #1456
#261 discusses two options:

(1) isn't great for users that only use the compiled release (most users). (2) would work, but a document with only metadata (`documentType` and `publishedDate`) and no document is kind of weird and confusing.

So, I think it makes sense to add this field.

[2021-12-20 18:59] #1104 closed, assigned to Ravf95

[2021-12-21 15:38] #1399 closed, assigned to JachymHercher

[2021-12-21 16:06] JachymHercher commented on #1301
I have prepared the [PR](https://github.com/open-contracting/standard/pull/1461). Changes:
1) In https://github.com/open-contracting/standard/issues/1400 (specifically in https://github.com/open-contracting/standard/pull/1451/files#diff-65d39560dacb69da8ff1520802262bb4966bf07cf7bb43d9c408479467efb326) we've agreed that if we have data about awards and contracts, then we should populate both `award

[2021-12-21 20:47] jpmckinney commented on #1301
1.

My comment was about removing references to the `contracts` array, and to focus only on `awards`. I don't think we say anything in the worked example of significance to contracts; contracts are handled in the exact same within and without framework agreements. So, we can remove this (other) section along with the bullets about contracts: https://standard.open-contracting.org/latest/en/guidance

[2021-12-22 10:43] JachymHercher commented on #1301
1. I'm afraid I'm a bit lost here, apologies. Most generally: what is the goal for the framework guidance? I understood it as summarizing the main modelling steps in one place, with the reason that since FAs are complicated so is the modelling and thus an overview is helpful. From what you say, it sounds like rather explaining diffs compared to modelling non-FA contracts? However, if that was the

[2021-12-22 16:39] JachymHercher opened #1462 "Reorder fields so that they follow a consistent logic"
_(This issue is similar to https://github.com/open-contracting/standard/issues/1349, but while #1349 deals with consistency across stages, this one deals rather with the general ordering logic and it's relationship with procurement practice.)_

Logically ordering fields should make working with a standard easier (both because it should be more intuitive and because it should be more aligned with o

[2021-12-22 16:45] JachymHercher opened #1463 "`documentType`: clarify 'evaluationCriteria' and 'evaluationReports', add new codes"
In `Tender`, we have fields for `exclusionGrounds`, `selectionCriteria` and `awardCriteria`.

In `documentType`, we have codes for 'exclusionGrounds', 'selectionCriteria' and 'evaluationCriteria' as well as 'evaluationReports' with the last two being described as:

The semantics of "evaluation criteria/reports" is ambiguous: is it just another term for award criteria or is it an umbrella term? Do

[2021-12-22 16:55] jpmckinney commented on #1462
@JachymHercher Yes, it'd be great to have a documented convention for field ordering. We can discuss that here, and then add it to the handbook. This will likely be one of the "final" PRs – to avoid conflicts – but we can decide on the convention already.

[2021-12-22 17:00] JachymHercher commented on #901
The [PR](https://github.com/open-contracting/standard/pull/1464) is ready.

1) The following seems straightforward:

    In both cases I have reused the wording used in `exclusionGrounds` and `selectionCriteria`.

    (Note: `selectionCriteria` speaks about "tenderers", but should probably be about "potential tenderers"?)

2) The description of `selectionCriteria` is

    while we also have codes

[2021-12-22 17:09] jpmckinney commented on #1463
'evaluationCriteria' is "here is how we **will** evaluate you". (ex-ante) It is the same as award criteria. It would have been better to be consistent, but at this stage it is preferable to not deprecate a code just because its name is badly chosen.

'evaluationReport' is "here is how we **did** evaluate you". (ex-post)

I do not see much evidence for sub-types of evaluation reports. The examples

[2021-12-22 17:29] JachymHercher commented on #1463
The difference between 'evaluationCriteria' and 'evaluationReport' is clear - I list both of them here just because changes concerning the scope of "evaluation" concern both.

Concerning deprecation, I guess that's not strictly necessary - clarification and addition may be enough.

 Indeed, the examples are only about "evaluation reports about award criteria" and "evaluation reports about all crit

[2021-12-23 12:46] JachymHercher commented on #1463
So I did a bit more research and realized I overlooked an important part of the story: Art. 84 of Directive 2014/24/EU ("Individual reports on procedures for the award of contracts") actually prescribes what a summary report for a procurement procedure should contain. In particular, it mentions "results of the qualitative selection" and "reasons why its tender was selected" which should correspond

[2021-12-23 19:45] jpmckinney commented on #1463
I'm happy to go with (1). For (2), isn't 'awardCriteria' going to be the same as the existing 'evaluationCriteria'?

[2021-12-23 19:55] jpmckinney commented on #901
You might be right. This is based on the EU standard forms having checkboxes for "Selection criteria as stated in the procurement documents" and "Selection criteria as stated in the procurement documents". https://standard.open-contracting.org/profiles/eu/latest/en/forms/F02/#section-iii

I imagine most buyers just have one big PDF, but I guess in principle that PDF can be broken up into separate

[2021-12-23 21:17] JachymHercher commented on #1463
Well, there are several options, see below. (I have a slight preference for 3, but I don't have a feel for how much it would disturb existing OCDS practice).

| # |                                                                                                                                                                                                                                  Approach |

[2021-12-23 21:47] JachymHercher commented on #901
If these checkboxes are the only reason to include them, then I would drop them. They were added to the forms at a later stage than the other fields and sections around them and their point was just to allow the buyer to declare "I have fulfilled my legal responsibility". I don't think it was motivated by actual procurement documents being split this way. (We can wait for peer review to reject the

[2021-12-23 22:26] jpmckinney commented on #901
Okay, we can remove them in the same PR and create an issue on https://github.com/open-contracting-extensions/european-union/issues to update the guidance there.

[2021-12-23 22:40] jpmckinney commented on #1301
1. The complicated part about FAs ends at the award. Everything post-award is exactly the same as non-FAs, so a reader can carry over their knowledge of that part. Otherwise, if we were to make the FAs guidance comprehensive, then we actually need to import a lot more information about contracts, since contracts have all sorts of sub-topics like modifications, etc.

For everything up to and includ

[2021-12-24 02:22] jpmckinney commented on #1463
Thanks for explaining! Let's go with 3 and explain in the deprecation note the inconsistency in the word "evaluation".

[2021-12-27 10:09] JachymHercher commented on #901
Done in https://github.com/open-contracting/standard/commit/41fb2cdf59fffa136f3d5e48e8b948933defa607 and https://github.com/open-contracting-extensions/european-union/issues/95.

I'm not 100% sure I've marked this correctly in the change-log.
- Since the codes were never part of live OCDS, I removed them, not deprecated them.
- We could also just remove their mention from the changelog altogether

[2021-12-27 10:38] JachymHercher commented on #1301
Thank you for the explanations!

5. Ah, right. Just to be sure: and `awards.id` isn't correct, because there are multiple `awards.id`, each for one award, i.e. for each block of data (each conformant to `Award`) in `awards`, right?

6. Is it really? Even if we don't mention `contracts` in the guidance, the worked example should still be correct, i.e. in line with https://standard.open-contracting.

[2022-01-17 01:47] duncandewhurst commented on #1179
I've reviewed and commented on the open issues. Some require further discussion.

[2022-01-17 02:04] duncandewhurst commented on #928
~~Reopening again because we forgot to add `LinkRelationType.csv` to the codelist reference.~~

Ignore me, I was looking at the wrong version of the docs.

[2022-01-17 02:12] duncandewhurst commented on #1198
I've suggested appropriate orderings below. I'm assuming that in all codelists, deprecated codes will first be moved to the end of the list and then ordered in the same way as the other codes.

* awardCriteria.csv - alphabetical
* awardStatus.csv - chronological
* classificationScheme.csv - alphabetical
* contractStatus.csv - chronological
* country.csv - alphabetical
* currency.csv - alphabetical

[2022-01-17 02:30] duncandewhurst commented on #1245
This issue was originally about non-exclusive invitations to participate. The research in https://github.com/open-contracting/standard/issues/1245#issuecomment-795229360 concludes that:

As such, I don't think we should use 'invitedParticipant' to describe non-exclusive invitations. I don't think 'notifiedParticipant' is too broad - implicitly, the notification is about the contracting process.

T

[2022-01-17 16:19] jpmckinney commented on #1198
@duncandewhurst Looks good!

[2022-01-17 17:01] jpmckinney commented on #1245
I'm not 100% sure on the term. "invited/notified participant" seems like it contains a contradiction, as an entity can't be participating if they have only just been notified. In the time since this issue was last discussed, the style guide was updated to prefer "potential supplier" for such entities. We could do "notifiedPotentialSupplier", which is long, but correct...

https://ocds-standard-dev

[2022-01-17 22:24] duncandewhurst commented on #1245
Good point. The other alternative is 'notifiedOrganization', which would cover cases where other interested parties that are not potential suppliers are notified about a contracting process; for example, in the Red Compartida PPP, the planning stage included a feedback process for the draft tender documentation, in which organizations that were not potential suppliers submitted comments.

[2022-01-17 23:41] jpmckinney commented on #1245
If there's only a use case for the broad semantics, then we can use it (similar to Colin's comment here https://github.com/open-contracting/standard/issues/1245#issuecomment-793978368).

However, if there's a use case to pick out the organizations that were invited to participate as potential suppliers, then the narrower code is needed.

[2022-01-19 23:11] jpmckinney commented on #1297
@yolile Can you create a new issue for this above?

[2022-01-20 12:32] yolile opened #1467 "Docs: Refactor/review linked guidance usage, and move jsonschema directive to end of sections"
At the same time we can make the changes suggested in https://github.com/open-contracting/standard/pull/1434#discussion_r759687627:

_Originally posted by @duncandewhurst in https://github.com/open-contracting/standard/issues/1297#issuecomment-988210027_

We can search for "For more information". In many cases (not all), `seealso` would be better. There are also some `{note}` that start with `For`

[2022-01-20 20:04] yolile commented on #1297
Closed by #1466 and created follow up issue #1467

[2022-01-20 20:04] #1297 closed, assigned to yolile

[2022-01-25 01:12] duncandewhurst commented on #1245
I checked back to Red Compartida and it looks like they only published a [list of organizations and individuals that submitted an expression of interest](http://www.sct.gob.mx/red-compartida/inversionistas-4a-eng.html) and a [list of organizations that submitted comments on the draft tender documentation](http://www.sct.gob.mx/red-compartida/inversionistas-4b-eng.html), which are both covered by t

[2022-01-25 15:41] jpmckinney commented on #1245
In this issue, I think we only have evidence for Paraguay as a potential user of this new code. That said, I know in Canada (at all levels of government) it's common to put together supplier lists and to notify the vendors on those lists, so it's a common enough procurement concept that I figure it can be added without further evidence/demand.

[2022-01-26 11:37] odscjen opened #1469 "mapping of notice type information"
In the [pilot OCDS publication for Canada](https://open.canada.ca/data/en/dataset/60f22648-c173-446f-aa8a-4929d75d63e3) an additional field has been used, `tender/noticeType`. The values used within this field are:
* ["invitation to Tender (ITT)"],
* [“Advance contract Award Notice (ACAN)”],
* [“Notice of Proposed Procurement (NPP)”],
* [“Request for Proposal (RFP)”],
* [“Request for Quotation (RF

[2022-01-26 12:15] odscjen commented on #909
adding to this to note that the [OCDS pilot data from Canada](https://open.canada.ca/data/en/dataset/60f22648-c173-446f-aa8a-4929d75d63e3) includes 3 types of standing offers. They're modeling them as an additional field `awards/agreementType`

[2022-01-26 15:54] odscjen opened #1470 "Add field for award type"
The [OCDS pilot data published recently by Canada](https://open.canada.ca/data/en/dataset/60f22648-c173-446f-aa8a-4929d75d63e3) contains an additional field `awards/agreementType`. The values in this field are the [different types of standing offer issued by PWGSC](https://buyandsell.gc.ca/for-businesses/selling-to-the-government-of-canada/the-procurement-process/standing-offers#50).

The question

[2022-01-26 16:26] jpmckinney commented on #1470
Re: standing offers, see https://github.com/open-contracting/standard/issues/909#issuecomment-554681062

Since they are putting this field on awards, I see this more as about distinguishing the types of award.

In the [EU](https://standard.open-contracting.org/profiles/eu/latest/en/forms/F12/), for example, there are [design contests](https://extensions.open-contracting.org/en/extensions/designCon

[2022-01-26 16:57] jpmckinney commented on #1469
Related: #750 #1144

Canada's terms are defined here: https://buyandsell.gc.ca/for-government/buying-for-the-government-of-canada/solicit-bids/types-of-bid-solicitations

These are all different types of procedures (each procedure uses a different initial notice), so `procurementMethodDetails` would be appropriate.

Right now Canada is using the pair `procurementMethod` and `procurementMethodDetai

[2022-01-26 17:01] jpmckinney commented on #1469
I've opened an issue for the last bullet: https://github.com/open-contracting/ocds-extensions/issues/178

[2022-01-26 17:01] #1469 closed, assigned to nobody

[2022-01-29 22:23] JachymHercher commented on #909
Possibly yes, but your description of "supplier list" seems as broad as that of a "multi-use list", i.e. the super-category itself? (E.g. a simple framework agreement with one tenderer would also be a "supplier list"?)

What are they? Are they different to the SOSA and VOR of https://github.com/open-contracting/standard/issues/909#issuecomment-543315075? I'm still naively hoping this call all be s

[2022-01-31 10:08] odscjen commented on #909
They are "Regional Master Standing Offer (RMSO)", “National Master Standing Offer (NMSA)”, “Regional Individual Standing Offer (RISO)”. [They actually have 5 different types](https://buyandsell.gc.ca/for-businesses/selling-to-the-government-of-canada/the-procurement-process/standing-offers#50), it's just that only 3 are in the pilot data published. The other 2 are "National Individual Standing Off

[2022-01-31 15:32] jpmckinney commented on #909
@JachymHercher Yes, the standing offers fall within the SOSA classification. Re: whether SOSA and VOR are framework agreements, see: https://github.com/open-contracting/standard/issues/909#issuecomment-554681062 In Ontario, a buyer can do a limited procedure, inviting only a fixed number of suppliers from a VOR list – I don't know whether a framework agreement can work like that.

What I'm struggl

[2022-02-01 17:30] yolile commented on #1397
closed by #1442

[2022-02-01 17:30] #1397 closed, assigned to yolile

[2022-02-01 18:05] yolile commented on #1343
From [The NASA QUDT Units Ontology](https://www.qudt.org/qudt/owl/1.0.0/unit/): The QUDT Units Ontology provides a vocabulary for describing **units of measure**.

UN/CEFACT Recommendation 20 list is for 'Codes for **Units of Measure** Used in International Trade' and https://tfig.unece.org/contents/recommendation-20.htm says:  "this Recommendation establishes a single list of code elements to rep

[2022-02-01 18:14] yolile commented on #1107
Closing in favor of https://github.com/open-contracting/ocds-extensions/issues/179 as the part related to the schema was done in #1240

[2022-02-01 18:14] #1107 closed, assigned to yolile

[2022-02-01 18:18] jpmckinney commented on #1343
I think we will have to check how the field is being used – if many publishers are using it for unit of presentation, then it is harder to change the semantics now.

I agree that those schemes are about units of measure, but a publisher could use the field with a scheme for units of presentation (or no scheme).

[2022-02-02 17:55] yolile commented on #1343
[unit_name_use.txt](https://github.com/open-contracting/standard/files/7988523/unit_name_use.txt)
I checked some of the publishers who use the `Unit.name` field (at least 36, see the list attached), and then checked the unique names used with this [colab](https://colab.research.google.com/drive/1z2hjpCOkBfm7c4XmzdiDwPwYdxiSWmjJ#scrollTo=EIjay57y0PAU) (and manually) and at least the following use s

[2022-02-02 18:34] jpmckinney commented on #1343
How many publishers use it as a unit of measure?

[2022-02-02 19:54] yolile commented on #1362
Was made in https://github.com/open-contracting/standard/commit/b31a5c0aa9fd7d55dd197708a942a13b76ea5e7c#diff-d6958c79ed9293ec0b969c4db1ebbeeeeb6542bc6d2124e25b01769896e5b7fc

The `records_reference.md` mentions a planning stage, but the JSON file doesn't have one 🤷🏻 So I will change "This shows that the amount changed between the tender stage and the planning stage while the currency did not." to

[2022-02-02 20:00] jpmckinney commented on #1362
Sounds good!

[2022-02-02 20:31] yolile commented on #1343
The ones who disclose the field and use it **only** as a unit of measure:

1. argentina_buenos_aires
2. argentina_vialidad
3. kenya_makueni
4. nepal_dhangadhi (I'm struggling with the translations from Hindi to English but they seem to be units of measures)
5. paraguay_dncp

Note that the others also use the field as a unit of measure most of the time and as a unit of presentation fewer times.

So

[2022-02-02 22:23] jpmckinney commented on #1343
Thanks. So if we were to narrow the semantics (via "discourage" to avoid backwards-incompatibility), then what is the alternative for disclosing the unit of presentation?

[2022-02-02 22:34] yolile commented on #1343
I was thinking about incorporating the `container` object from the [medicine extension](https://extensions.open-contracting.org/en/extensions/medicine/master/schema/) but from https://github.com/open-contracting/standard/issues/1110#issuecomment-730064497 I see that we added the `weight`field to be used along with the unit name, where the unit name can be used as the unit of presentation 🤔

[2022-02-02 22:40] jpmckinney commented on #1343
What's the problem? Seems okay to me.

[2022-02-02 22:48] yolile commented on #1343
Well, the problem is that we will be using the unit as the unit of presentation and I was trying to avoid that :) and we will introduce some conditional semantics, I guess, e.g. if `weight` is present then the unit is a unit of presentation, otherwise it *probably* is a unit of measure

[2022-02-03 13:22] yolile commented on #1435
I think we can follow the same pattern that we have now for [images](https://ocds-standard-development-handbook.readthedocs.io/en/latest/meta/style_guide.html#images), that's it:

- Use a descriptive, lower-case filename, with underscores between words.

- Store the exported version in the _docs/examples_ directory in the standard’s repository. Create a sub-directory to group related _examples_, a

[2022-02-03 15:50] jpmckinney commented on #1343
I'm not following. Can you share a full JSON example with each of the unit of measure and unit of presentation?

[2022-02-03 15:53] jpmckinney commented on #1343
If you're worried about https://github.com/open-contracting/standard/pull/1125 – I never actually approved the changes, so we can just revert it. (All I did was get tests to pass.)

[2022-02-03 16:34] yolile opened #1473 "`Tender.awardPeriod`: consider renaming it to `evaluationPeriod`"
This issue was raised during a conversation with a future publisher:

The definition of `awardPeriod` refers to the start and end of the evaluation period:

However, the name suggests that the field is more about the period when the award will be made, which could confuse some users. We could consider if we should rename this to something more explicit, for example, `evaluationPeriod`

[2022-02-03 19:36] jpmckinney commented on #1473
We typically only deprecate and rename fields when they present a severe semantic issue. That's because the more renames we have, the less standardized the data is across versions.

I don't think this is severe enough. The only recent example is `eligibilityCriteria`, whose semantics were horribly unclear. For `awardCriteria`, the semantics are clear – it's just the name that's sub-optimal (same f

[2022-02-03 19:36] #1473 closed, assigned to nobody

[2022-02-03 19:37] jpmckinney commented on #1435
Sounds good!

[2022-02-03 19:44] yolile commented on #1362
Closed by #1472

[2022-02-03 19:44] #1362 closed, assigned to yolile

[2022-02-04 17:30] yolile commented on #1435
I'm not sure about what to do with some examples used in multiple places. For example, `merging/versioned.json `is used in `schema/merging.md`, `records_reference.md` and `build/merging.md`. Should we place them in the root example folder instead of in the folder of a particular section?

[2022-02-04 17:40] yolile commented on #1435
Or maybe duplicate them so each corresponds to their own example/reference?

[2022-02-04 17:57] yolile commented on #1435
The current `examples/merging` directory contains examples used by `build/merging` and `schema/merging.` The title of `build/merging` is actually "Updates and deletions" so I will change `build/merging.md` to `build/updates_deletions.md` as part of the PR and create a separated `examples/updates_deletions` directory and separate its examples here.

[2022-02-04 17:59] #1245 closed, assigned to duncandewhurst

[2022-02-04 18:10] jpmckinney commented on #1435
We shouldn't rename Markdown files as it causes links to break. We can set up redirects in Apache, but it's an unnecessary extra step.

I think it's good for pages to share the same example files. That way, when we need to change the example, we don't need to duplicate edits. We can just name the directory according to the theme, rather than matching the page name.

[2022-02-04 20:07] yolile commented on #1435
Then, the examples from https://standard.open-contracting.org/latest/en/guidance/map/amendments/ are in the `_static/json/amendments` folder. However, only one of them is downloadable (`amendments-tender-example.json`). Should we move the non-downloadable ones into the `docs/examples` directory? We could also remove the Hint about downloading the file and move all the files into the regular direct

[2022-02-04 20:19] yolile commented on #1435
Edit: the three of them can be downloaded. However, as this is the only place where this feature is available I'm still wondering if we should keep the examples as downloadables or not.

[2022-02-04 22:27] jpmckinney commented on #1435
We should move all example files to the `examples` hierarchy. To allow downloads, we just use the download role, e.g.:

[code]

Or we can do it in Markdown:

[code]

See https://myst-parser.readthedocs.io/en/latest/syntax/syntax.html#markdown-links-and-referencing

[2022-02-08 00:39] yolile commented on #1408
`extended.json` and `record.json` were deleted as part of #1475. For the `minimal_updates` examples, I see that we mention the option to repeat everything or just publish the changes at https://standard.open-contracting.org/latest/en/schema/reference/#release-handling, and then in the [Change History](https://standard.open-contracting.org/latest/en/guidance/build/change_history/) worked example, t

[2022-02-08 13:15] yolile commented on #1343
E.g. to represent "50 liters of Juice in bottles of 10 liters each", with `weight` that will be:

[code]
Here, `unit.name` is a unit of presentation (Bottle), but if we want to represent "50 liters of Juice" no matter the package, then the JSON would be:

[code]
Where the `unit.name` and `unit.id` are units of measures. So, if we follow that approach, when `unit.weight` is present, the unit corres

[2022-02-08 18:40] jpmckinney commented on #1408
https://standard.open-contracting.org/latest/en/guidance/build/change_history/ doesn't repeat everything (e.g. the contract release doesn't have a tender section), but it does repeat more than the minimum (which is more realistic, anyway). So, I think it's fine to delete the minimal updates examples.

[2022-02-08 18:46] jpmckinney commented on #1343
Hmm, well "litre" is not a unit of weight (a litre of mercury weighs more than of water). But anyway, we can change the example to be 10 packs of gum, where each pack weighs 50g.

I suggest that we revert #1125 and consider merging `container` from the medicine extension. And then we update the guidance to encourage using `unit` for unit of measure, and to use `container` for unit of presentation.

[2022-02-08 18:53] #1435 closed, assigned to yolile

[2022-02-08 22:43] #1408 closed, assigned to nobody

[2022-02-10 02:53] duncandewhurst commented on #723
Should this issue be in the 1.2.0 strict milestone given that it's about relaxing validation requirements and/or adding new fields?

[2022-02-10 03:00] duncandewhurst commented on #1046
It might be preferable to keep deprecated fields, codes, and types. If we remove them, then the DRT will report them as additional in which case it's less clear what to do about them than if they are flagged as deprecated in which case the deprecation notes usually explain what to do instead.

[2022-02-10 15:29] jpmckinney commented on #723
I probably meant to add it to 1.2 and misclicked.

[2022-02-10 15:30] jpmckinney commented on #1046
Yes, we can keep the deprecated fields and codes.

The DRT (and schema) has nothing about deprecated types (e.g. "number" for ID fields), so it is better to remove them and cause a structural error.

[2022-02-10 20:10] duncandewhurst commented on #1046
Sounds good!

[2022-02-11 01:44] duncandewhurst commented on #1046
Are there any other types that we should remove, apart from "number" for ID fields and "null" for required fields?

[2022-02-11 02:00] duncandewhurst commented on #718
I think it makes sense to remove them. Otherwise, the meaning of null values would be inconsistent between packages and releases. By providing a strict schema in OCDS 1.2, fewer publishers are likely to need to do this as part of an upgrade to 2.0.

[2022-02-11 15:19] jpmckinney commented on #1046
Not that I'm aware. I think most fields are single-type, but we can run some code to find any other multi-type.

[2022-02-16 16:07] yolile commented on #1343
I opened PRs for the medicine extension and for reverting `weight`.

There are some items for which a unit of measure doesn't make sense. For example, pencils or the medicine described in the second example of the medicines extension. I think the `Item.unit` field should be omitted for these cases, as there is actually no info about the unit of measure. In that case, `quantity` will refer to the i

[2022-02-16 18:07] jpmckinney commented on #1289
Added in #1125 and reverted in #1481. See #1343

[2022-02-16 18:15] jpmckinney commented on #1343
Sounds good! This can also be used for: I want 100 bananas in boxes of 10 (bananas) each.

We can consider a `container.value` field, but we need some evidence of the demand.

@duncandewhurst, could you share your opinion on the modelling/semantics as well?

[2022-02-16 20:02] yolile commented on #1289
Closing in favor of the discussion in #1343 (we can re-open if we decide to use this approach after all)

[2022-02-16 20:02] #1289 closed, assigned to nobody

[2022-02-17 03:51] duncandewhurst commented on #1343
This seems like a good solution that should make the data more usable for unit price comparisons.

'container' doesn't exactly fit for some cases, e.g. a reel of cable, but I see that is addressed by the description in the medicine extensions schema, although that will need updating so that it is not medicine-specific.

`container.name` uses a medicine-specific codelist, but for the general case U

[2022-02-17 17:39] jpmckinney commented on #1343
Since the medicine extension is new and not yet implemented, we can rename the field. Would `package` or `packaging` work?

[2022-02-17 19:46] duncandewhurst commented on #1343
If we want to align with UNCEFACT Rec 21, the correct term would be `packageType`, since `package` refers to the container *and* its contained goods but we only want to describe the container.

Should we also consider an `id` and `scheme` for the package type?

After further reading, I'm not sure that unit of presentation and unit of packaging are actually the same thing, e.g. I want 1,000 paracet

[2022-02-22 20:21] yolile commented on #1343
For medicines, the term "container" is used to identify the **immediate** container for the medicine, that is, the package that is in direct contact with the medicine.

I guess we will need to investigate if this could be a real example, for example, if the last part is actually normally relevant (the "boxes of 50 blister packs" part). I think that need didn't come up during the medicine extension

[2022-02-28 01:35] duncandewhurst commented on #1046
I checked using a Python script and the only other multi-type fields are:

* `Budget.projectID` - I've updated the script in the PR to remove the integer type from this field
* `Amendment.changes.former_value` - this is part of a deprecated object and is in any case intentional so no need to change it

[2022-02-28 02:16] duncandewhurst commented on #1343
Ah I see, the use cases for UNCEFACT Rec 21 are more about the outer packaging, which is of interest to freight companies and customs agencies etc.

[2022-03-01 02:31] Ravf95 commented on #1268
@duncandewhurst @jpmckinney We can close this issue, we already included this recommendation in [the publication policy template](https://docs.google.com/document/d/1IEZhotGcgdC7XBmLepdPQRVN5y4b5l9H0y0h32HAQyo/edit#heading=h.vzz4xq91lrrm).

[2022-03-01 02:43] duncandewhurst commented on #1268
Great!

[2022-03-01 10:06] odscjen commented on #815
Suggesting this as a definition of `SimpleIdentifier`

[code]

[2022-03-01 12:45] yolile commented on #1268
I think this issue was also opened here to include the changes in https://standard.open-contracting.org/latest/en/guidance/publish/#finalize-your-publication-policy too. @jpmckinney @duncandewhurst, is the template enough, or should we update the documentation as well?

[2022-03-01 15:48] jpmckinney commented on #1268
The issue description states:

I think we just need to add a bullet to the docs.

[2022-03-01 16:02] jpmckinney commented on #815
I suggest:

Capitalization change. We aren't consistent, but in general we prefer sentence case.

This is taken from Dublin Core: https://www.dublincore.org/specifications/dublin-core/dcmi-terms/terms/identifier/

Otherwise, we're describing each field within the definition's description.

There may not be a true "list" for some identifier schemes.

"code" is not needed and could be confusing here

[2022-03-01 16:21] odscjen commented on #815
great, that all makes sense. Incorporating your comments:

"SimpleIdentifier": {
 "title": "Simple identifier",
 "description": "An unambiguous reference to a resource within a given context. A simple identifier consists of: a scheme from which the identifier is taken, and the identifier itself.”,
 "type": "object",
 "properties": {
   "scheme": {
     "title": "Scheme",
     "description": "The l

[2022-03-01 16:50] jpmckinney commented on #815
Great! We can delete "A simple identifier consists of: a scheme from which the identifier is taken, and the identifier itself." since we should avoid describing the fields in the definition's description. (I know it's done in a few cases; they should be corrected separately.)

[2022-03-02 11:54] odscjen commented on #815
Grand, that makes sense, so it'll be:
[code]

If everyone's happy with this I can create the PR?

[2022-03-02 19:03] jpmckinney commented on #815
Looks good to me, just noticed a typo:

should be:

[2022-03-04 01:35] duncandewhurst opened #1483 "Release schema: Set omitWhenMerged = true on publisher field"
https://github.com/open-contracting/standard/pull/1376 adds a release-level `publisher` field. However, `omitWhenMerged` is not set so in a compiled release the publisher of the most recent release will always appear as the publisher.

[2022-03-04 01:38] duncandewhurst commented on #1483
Ah, I see there is a different approach in a [PR](https://github.com/CompraNet/ocds_releasePublisher_extension/pull/1) on Compranet's releasePublisher extension: instead of `publisher` make `publishers` an array, so that the compiled release will have a list of all the publishers.

One challenge to that approach is that if a one publisher sets `publishers` and another doesn't, then in the compiled

[2022-03-04 15:14] jpmckinney commented on #1483
Yes, I think `publisher` is only useful at release-level, but perhaps @yolile remembers some discussion about making it an array?

[2022-03-04 16:54] yolile commented on #1483
The specific need was to determine who published a release from the compiled release without checking the original releases. But as Duncan mentioned, following the array approach could lead to incomplete information in the compiled release anyway (when one publisher doesn't use the field) (unless we make the field required, but we can't do that). So yes, we should set `omitWhenMerged` to `True` an

[2022-03-04 19:09] jpmckinney commented on #1483
I'm not sure that many publishers are using linked releases – and when they do, they are typically linking to their own releases, rather than third-party releases.

[2022-03-08 16:20] yolile commented on #1348
Closed by #1482

[2022-03-08 16:20] #1348 closed, assigned to yolile

[2022-03-08 21:34] duncandewhurst commented on #1483
Thanks, both. I've opened an issue on CompraNet's extension. @yolile do you want to close your PR?

[2022-03-08 21:52] duncandewhurst opened #1484 "Merge the Project and Location extension to encourage implementers to publish infrastructure project identifiers"
Currently, the field for disclosing an infrastructure project identifier is part of the [Project](https://extensions.open-contracting.org/en/extensions/project/master/) extension, which is referenced from the OCDS docs on the page about [linking to other standards](https://standard.open-contracting.org/latest/en/guidance/map/linked_standards/?highlight=infrastructure#open-contracting-for-infrastru

[2022-03-09 12:30] yolile commented on #1483
Thank you, and done!

[2022-03-09 16:26] yolile opened #1485 "Update `planning/budget/project` description"
The current description for the `planning/budget/project` field is:

However, the `planning/budget/source` field was deprecated in 1.1.

[2022-03-09 17:05] jpmckinney commented on #1485
Let's delete that text :)

[2022-03-10 18:59] yolile commented on #1485
Closed by #1487

[2022-03-10 18:59] #1485 closed, assigned to nobody

[2022-03-11 14:25] yolile commented on #1412
I've drafted [here](https://docs.google.com/document/d/1h60L7iheIiz6nXKco6NQ85UzfCZJnWzxFYRztEzd0BQ/edit) the content for the new two pages (The new section with the approaches discussion -> "Change history" and The new section with the compiled release only example -> "No change history"). @duncandewhurst maybe you can take a look at it first?

[2022-03-11 19:22] jpmckinney commented on #1343
[Directive 92/27/EEC](https://eur-lex.europa.eu/legal-content/en/ALL/?uri=CELEX%3A31992L0027) has:

- immediate packaging means the container or other form of packaging immediately in contact with the medicinal product
- outer packaging means the packaging into which is placed the immediate packaging

ISO 11239 (2012) has:

- container: item of packaging that is part of a medicinal product and is

[2022-03-14 18:18] #901 closed, assigned to JachymHercher

[2022-03-14 18:32] jpmckinney commented on #1301
5. Indeed, we usually write "the award's `.id`".
6. I think we can update the worked example so that there are no `contracts`.

[2022-03-14 19:41] duncandewhurst commented on #1343
That seems like a useful clarification.

Perhaps we should wait until we have a real example before adding something to the schema. In the meantime, we can have a worked example page on containers and packaging, which can include some of the content from this discussion and can refer implementers to the helpdesk if they aren't sure what sort of packaging their data describes.

[2022-03-14 21:31] jpmckinney commented on #1343
This issue covers a few things, but I think we can do one or more of:

1. Distinguish the unit of measurement from the unit of presentation, either or both in guidance and schema.
1. Update guidance/schema so that the existing `unit` is for the unit of measurement, and discourage its use for the unit of presentation. https://github.com/open-contracting/standard/issues/1343#issuecomment-1028414476

[2022-03-14 22:31] duncandewhurst commented on #1412
@yolile I've added some comments and suggestions - happy to discuss!

[2022-03-14 23:44] duncandewhurst commented on #1343
Sounds good!

[2022-03-17 19:15] jpmckinney commented on #330
Based on https://github.com/open-contracting/standard/issues/1160#issuecomment-970684975, +1 to accumulating tags in compiled releases.

[2022-03-17 19:16] jpmckinney commented on #1160
@JachymHercher I believe we can go ahead with cumulative tags, which should resolve some of the difficulties raised.

[2022-03-22 19:39] yolile opened #1491 "Semi-structured tenders' terms and conditions publication"
In Paraguay DNCP, they are now including in their eGP system information about the tenders'  terms and conditions as semi-structured information. For example https://www.contrataciones.gov.py/licitaciones/convocatoria/403580-implementacion-sistema-envio-correos-electronicos-masivos-1.html#pliego (This information was previously published as a PDF document and now at least the text and sections are

[2022-03-28 20:14] jpmckinney commented on #1491
From what I understand, there are many relevant existing fields and extensions:

- amendments: `tender/amendments` with accompanying changes to `tender` fields
- tender information: `tender` fields
- qualifications and selection criteria: https://extensions.open-contracting.org/en/extensions/selectionCriteria/master/
- items technical specifications: https://extensions.open-contracting.org/en/exte

[2022-03-28 21:11] yolile commented on #1491
Yes, and they are already using many of these when they have structured information.

This new section is basically the info that was formerly in PDF terms of reference documents now collected and published as key/value or section/free text fields. Some sections and free texts are already covered by existing structured fields, however, others are not. And for example, again for "Suministros requer

[2022-03-29 02:56] #1483 closed, assigned to odscjen

[2022-03-29 16:30] jpmckinney commented on #1491
OCDS is a plain-text format – I don't anticipate developing any sort of layout options for values (whether HTML or otherwise). As such, if content includes tables and formatted text, it is better to link to it, rather than publish it in OCDS files. So, I think `tender/documents` is the way to go for this content.

[2022-03-30 13:24] Ravf95 opened #1493 "Example: Joint purchases"
In Mexico, different entities can tender the same goods and services, so they can be tender in a single contracting process. This is called a consolidated purchase.

### Proposal
I talked about this with @yolile and she suggests we can add a new field to [techniques extension](https://extensions.open-contracting.org/en/extensions/techniques/master/) to represent this method of purchase.

cc @yolil

[2022-03-30 13:49] Ravf95 commented on #1493
[code]

[2022-03-30 17:37] #1456 closed, assigned to odscjen

[2022-03-30 17:39] jpmckinney commented on #1493
This seems fine for a local extension. However, I'm not clear on what a consolidated purchase is. Isn't this implied whenever there are multiple parties with a 'buyer' role?

[2022-03-30 18:32] yolile commented on #1493
This is the definition in Mexico: https://www.gob.mx/insabi/prensa/que-es-una-compra-consolidada
In Chile: https://www.chilecompra.cl/comprascoordinadas/
Perú: https://www.gob.pe/10566-participar-en-las-compras-corporativas
Paraguay will introduce this technique soon with their new public procurement law (from https://www.contrataciones.gov.py/noticias/319.html, page 4 of the document https://www.

[2022-03-30 19:24] Ravf95 commented on #1493
We have the same case with another publisher, México QuiénEsQuién, they are using the [CompraNet extension](https://github.com/ProjectPODER/ocds_compranet_extension), and it has [consolidatedProcessMxCnet](https://github.com/ProjectPODER/ocds_compranet_extension/blob/6fbb38b10540682def57975fa77eadefd92cf467/release-schema.json#L5) field for consolidated purchased

[2022-03-30 20:05] jpmckinney commented on #1493
In the EU and some English-speaking jurisdictions like the US, this sort of procedure is referred to as a "joint procurement". In the [EU profile](https://standard.open-contracting.org/profiles/eu/latest/en/forms/F03/#I.2), this is simply indicated by having multiple buyers (and the absence of a framework agreement – at any rate, a data analyst must always account for framework agreements, since t

[2022-03-30 20:51] yolile commented on #1493
Yes, this role can also be used in the Latam context and maybe the data users could check for this role to know if the process is a consolidated purchase or not. (However, why 'procuringEntity' is not used in this case? (as it is used in framework agreements))

What should it be then?

Well, the differences are:
- Multiple buyers
- One central purchasing body
- Multiple budgets
- Multiple entities

[2022-03-30 21:25] jpmckinney commented on #1493
I wouldn't do that because not all joint procurements use a central purchasing body, as described on Chile's page.

There is some discussion about what code to use for the concept of a central purchasing body. It started at https://github.com/open-contracting/standard/pull/1225/files/c9468df62cb8c934b4c53b99e8aba0bf33a1d2a9#diff-0eefb1dd5b82e2659b640cfd9901f9964640b7e17489d8da1afeb334f034e43a, whi

[2022-03-30 21:57] duncandewhurst commented on #650
Following on from @jpmckinney's https://github.com/open-contracting/ocds-extensions/issues/83#issuecomment-458721737 about making `id` required:

- [x] Participation Fee - Used by 5 publishers, only `india_civic_data_lab` has missing `id` (research: [OCDS Downloads](https://colab.research.google.com/drive/1w6x_EX9Tsdrf2h2Jcfo0kQWMgbXIIwKX#scrollTo=26LgtPeLxQvy), [Paraguay](https://colab.research.g

[2022-03-30 22:00] jpmckinney commented on #650
Sounds good!

[2022-03-30 22:06] yolile commented on #1493
And that `tender.techniques.hasFrameworkAgreement` is not present or is `false`. And of course, checking this is harder than checking a boolean field (for both data users and maybe data publishers who may want to have a filter in their APIs, etc), but ok.

The slight change in the workflow could be that after the award, each contract refers to a different buyer (e.g., this will add a line between

[2022-03-30 22:41] jpmckinney commented on #1493
Indeed. A data standard needs to balance consistency and ease of use. Consistency means having a single way to model a fact, (1) so that it can be answered the same way for all publishers *and* (2) so that you don't get different answers by asking the question in different ways (e.g. checking a boolean vs checking buyer roles). If a use case is sufficiently popular, we might favor ease of use.

Ri

[2022-03-30 23:21] yolile commented on #1493
With something like `tender.aggregatingDemandTechnique`? 😄 Anyway, I think we need to clarify what a technique means for OCDS in the extension, as right now that is not clear there. I will open an issue. And we could change this issue to be about documenting the modeling of joint purchases in OCDS as a worked example. Sounds good?

[2022-03-31 00:57] jpmckinney commented on #1493
I think this discussion is more something for the handbook, since the technique extension doesn’t require exposition of what a technique is - users of the extension are not expected to change the extension itself.

[2022-03-31 16:28] jpmckinney commented on #1493
Noting that [Directive 2014/24/EU](https://eur-lex.europa.eu/legal-content/en/TXT/?uri=CELEX:32014L0024) uses "technique" and "instrument" in its preamble for several different concepts including:

Technique
- Framework agreement
- Dynamic purchasing system
- Electronic catalogue
- Centralised purchasing

Instrument
- Framework agreement
- Dynamic purchasing system
- Design contest
- Non-jargon us

[2022-04-03 22:34] duncandewhurst opened #1494 "Add guidance on preparing test data"
A common challenge for the helpdesk is that implementers share fictional test data that is incoherent. This leads to false positives and missed issues. This problem is more common when implementers are developing new systems to collect and publish data. The helpdesk often advises that the implementer should work with stakeholders to collect enough real data to populate all the fields for one contr

[2022-04-04 14:34] jpmckinney commented on #1494
👍

[2022-04-05 15:27] jpmckinney commented on #1110
NB: #1125 was reverted in #1481. #1343 proposes a different approach to this issue, where there is an `immediatePackaging` object to describe the packaging (instead of a `unit` with a name of `Paquete`). This object itself has a `capacity` object, which has `unit` and `value` fields, to be able to say the packaging has a capacity of 400g, etc.

[2022-04-12 21:33] duncandewhurst opened #1498 "Update pip-tools version in 1.1-dev"
`pip-sync` fails on 1.1-dev if using a version of `pip` greater than 21.3 due to https://github.com/jazzband/pip-tools/issues/1503

Updating pip-tools to version 6.4.0 or greater should fix it.

[2022-04-13 15:25] jpmckinney commented on #1498
Sounds good. 1.2-dev already uses 6.6.0.

[2022-04-13 21:43] #1494 closed, assigned to odscjen

[2022-04-14 23:12] #1498 closed, assigned to nobody

[2022-04-19 01:13] duncandewhurst commented on #987
I've completed the actions in the previous comment. There are [two lists remaining to add](https://github.com/org-id/register/issues?q=is%3Aissue+is%3Aopen+label%3AISO6523).

Edit: I also checked the PEPPOL codelist, there are no further new lists since https://github.com/open-contracting/standard/issues/987#issuecomment-880593771

Farance never replied so I've sent another email to the info@ addr

[2022-04-22 15:43] jpmckinney commented on #1030
Will instead do #1076 only. (Slack thread: "Tools/Inspiration galleries")

[2022-04-22 15:43] #1030 closed, assigned to nobody

[2022-04-22 15:52] jpmckinney commented on #1076
Linked from https://standard.open-contracting.org/latest/en/guidance/build/ instead.

[2022-04-22 15:52] #1076 closed, assigned to nobody

[2022-04-22 19:02] yolile opened #1506 "Guidance: include a reference to best practices for open contracting portals guide"
https://www.open-contracting.org/resources/best-practices-open-contracting-portals/

We can add it as a resource as part of https://standard.open-contracting.org/latest/en/guidance/build/#establish-your-publication-formats-and-access-methods
Or, we can add a new section about "Determine where to publish" with a sentence about thinking about where the data will be published, a new portal, an existi

[2022-04-22 20:04] jpmckinney commented on #1506
I think this is more https://standard.open-contracting.org/latest/en/guidance/publish/#publish-and-share-your-data no?

[2022-04-22 20:17] yolile commented on #1179
Should we consider adding the [organization classification](https://extensions.open-contracting.org/en/extensions/organizationClassification) extension as well? As there have been requests from different partners on how to disclose gender info in OCDS.

[2022-04-22 21:29] jpmckinney commented on #1179
Sure!

[2022-04-22 21:29] #1506 closed, assigned to nobody

[2022-05-11 07:56] JachymHercher commented on #987
@duncandewhurst Out of curiosity, has Farance replied? Also, how did you add the two lists if he did not reply?

[2022-05-11 09:29] JachymHercher commented on #909
If the supplier list is used only once, then indeed I would just deal with it as a standard restricted procedure. The tricky part about all of this seems to be the multi-use.
___

Worth reminding ourselves - there doesn't tend to be a sharp line, similarly as there isn't between FA and normal contracts. So I think we're looking rather for lines that are "good enough" in delimiting sets that are im

[2022-05-11 10:13] JachymHercher commented on #1463
I've prepared a [PR](https://github.com/open-contracting/standard/pull/1508). (Note: I don't think we need to deprecate any codes).

1. Clarified codes:

|                    | Old                                                                                                                                    | New

[2022-05-13 09:44] JachymHercher commented on #1160
I have prepared the [PR](https://github.com/open-contracting/standard/pull/1509). Since this issue has been open for some time, here is a recap:
1) In line with the issue name, we are only dealing with changes to the status codelist (point iii) of https://github.com/open-contracting/standard/issues/1160#issuecomment-890296217, including point 4) of https://github.com/open-contracting/standard/issu

[2022-05-14 07:07] duncandewhurst commented on #987
No reply from Farance, as yet. We used the [PEPPOL codelist](https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/) to identify the new lists, which still need to be added to org-id.

[2022-05-16 15:11] JachymHercher commented on #1301
As far as I can see, this PR was 99% finished and then, regrettably, I didn't do the last 1% for half a year. Sorry for that.

The only remaining point was removing the mentions of `contracts` and `Contract` from both the guidance and the worked examples. Specifically:

1. @jpmckinney, above, you say "My comment was about removing references to the contracts array, and to focus only on awards." Do

[2022-05-17 08:36] JachymHercher commented on #1215
On second thought, I don't think we need to. The desecription of the schema contains "In multiple stage procedures (e.g. framework agreements with reopening of competition), each round of competition is treated as a separate contracting process." and the description of an `ocid` includes "Alternatively, this identifier can refer to a planning process or a single stage of a multiple stage procedure

[2022-05-17 08:39] JachymHercher opened #1511 "Change "multiple stage procedures" to "multi-stage procedures""
In line with 4) of https://github.com/open-contracting/standard/issues/1301#issuecomment-999083865, we should not speak about "multiple stage procedures", but "multiple-stage procedures".

Also, rather than using "multiple-stage" (which I unwittingly introduced myself), we should stick to "multi-stage". The latter is used more often in OCDS as well as having more results on google.

[2022-05-17 08:50] JachymHercher commented on #1511
Since the changes are miniscule, I have not logged them in the change log.

[2022-05-17 13:10] odscjen commented on #814
Is this todo ready for a PR to be created?

[2022-05-17 13:29] odscjen commented on #1166
The current 1.2 description for `contract.items` includes the sentence "If the items contracted are identical to the items awarded, this field should be omitted." which appears to address this issue, can it be closed or is a further change required?

[2022-05-17 13:38] odscjen commented on #817
Checking if this issue can move to PR and if so clarifying that what's required is 2 new fields `value.amountNet` and `value.amountGross` and an update to the description of `value.amount` to make clear it's the amount as stated in the tender/award/contract documentation?

[2022-05-17 16:57] jpmckinney commented on #817
Yes, there seems to be consensus around https://github.com/open-contracting/standard/issues/817#issuecomment-542353977

[2022-05-17 17:01] jpmckinney commented on #1166
I think @yolile means something like:

[2022-05-17 17:04] jpmckinney commented on #814
This is in the 1.2.0 Strict milestone, where the idea is to add a "strict" version of the schema alongside the main version, so that publishers can opt-in to stricter rules (otherwise, we have to create a 2.0 release to apply the strict rules).

However, we haven't started on the documentation, etc. needed for a strict version. So this depends on #1046

[2022-05-17 17:10] #1511 closed, assigned to nobody

[2022-05-17 17:31] jpmckinney commented on #1215
The idea was that a publisher might have some way to identify the organization that is not otherwise published elsewhere. For example, the e-GP system might assign database IDs to suppliers, and these IDs don't reconcile with any other system.

That said, we never suggest that these fields are only for reconcilable IDs, so the sentence is unnecessary.

[2022-05-17 17:37] #1215 closed, assigned to JachymHercher

[2022-05-17 17:52] #1463 closed, assigned to JachymHercher

[2022-05-17 19:49] jpmckinney commented on #909
Thanks! We're getting clearer on where this fits. I like the suggestion to put "multi-use list" at the top of the conceptual hierarchy, inspired by the GPA being the highest-level legal instrument (as far as international agreements go).

That said, I don't think national legislation is an "implementation of" the GPA, but rather that national legislation is made to conform to it, in order to acced

[2022-05-17 20:51] jpmckinney commented on #1301
I'm not entirely sure either. There is always a balance between providing enough information to be understood, but not too much information that it becomes hard to see which information is relevant.

For example, when baking, there are a lot of specific instructions, but cookbooks typically omit anything about sourcing ingredients, washing produce, knife techniques, etc. Having that all as part of

[2022-05-18 07:51] JachymHercher opened #1514 "Change "tender process" to "tender stage""
In a few places, such as `Tender.id`, `Tender.hasInquiries` and https://standard.open-contracting.org/staging/1.2-dev/en/schema/reference/#tender we speak about a "tender process". For consistency's and clarity's sake, I think we should only have two types of processes: planning and contracting. For activities linked to data published in `plannning`, `tender`, `award` and `contract`, I would stick

[2022-05-18 08:14] JachymHercher opened #1515 "Clarify `id` (Release ID) use in releases and compiled releases"
The description of Release ID is

If I understand correctly, the field must be filled in according to two different sets of rules, depending on whether it is in a release or a compiled release. If that is the case, I would suggest a small rephrasing to improve its readability:

____

This matches our use of "for a" in, for example, `tender`

____

I searched "for a" in the schema and didn't find a

[2022-05-18 08:31] JachymHercher opened #1516 "Replace "contracting process" with "contract" in fields linked to budget and value"
1) Fields in `budgets` and `Budget` use formulations such as "budget [....] which provides funds for this contracting process".

    This is possibly splitting hairs - I'm not sure - but anyway:
     - The budget doesn't "fund" the contracting process (e.g. in the sense of people working on the process), it is rather/perhaps "reserved" for the process.
    - More specifically, the main story isn't

[2022-05-18 08:41] JachymHercher commented on #1409
Here is a [draft PR](https://github.com/open-contracting/standard/pull/1513). Before marking the PR ready for review, I'd like to get feedback on the highlights below.

There are quite a few changes, so reviewing will likely be a mouthful, sorry for that. (If I had commits per issues below, the review would have been easier, but regrettably the issue classification emerged from doing the changes,

[2022-05-18 08:47] JachymHercher opened #1517 "Align wording of `budget.project` and `budget.projectID`"
The description of `budget.project`

The description of `budget.projectID`

Shouldn't the descriptions, especially the first sentence, be more similar? I would expect them to be practically identical, just the former with a textual name and the latter with an identifier (for example, the first sentence of the project could be changed to "The identfier of the project through which the eventual cont

[2022-05-18 08:51] JachymHercher opened #1518 "Require consistent and unique IDs not just in a process, but across related processes"
As far as I'm aware, we only require that organization ID's (and possibly other ID's, e.g. lot IDs) are unique and consistent within a given contracting or planning process. See e.g. https://standard.open-contracting.org/staging/1.2-dev/en/guidance/map/organization_identifiers/#local-ids:

However, don't we rather want this uniqueness and consistency to hold for a given process _and all related pr

[2022-05-18 12:35] JachymHercher opened #1520 "Simplify, align and clarify related processes"
I have a few suggestions linked to related processes, please see numbered items below. Let me know if they make sense in principle and I would then prepare a concrete draft.

The description of `relatedProcesses` is

The description of `RelatedProcess`

The text from https://standard.open-contracting.org/staging/1.2-dev/en/schema/codelists/#related-process

___

(1) From the descriptions above, it

[2022-05-18 12:58] JachymHercher commented on #1301
I guess we should. Done in https://github.com/open-contracting/standard/pull/1461/commits/a16c7e3e5da850b1cde081980abca4331839ba98

____

13) Just to confirm: when declaring `relatedProcesses`, we want users to always link to the first stage, correct? So, for example, when the user runs a 10th call off within a FA, he should still be linking to the first stage (not to the chronologically previous

[2022-05-18 15:30] jpmckinney commented on #1518
For organizations, we rely on `identifier` as the primary ID using a known scheme. This frees up `id` to just be any ID that works for lookups within the individual contracting process. This allows for "progressive enhancement" whereby a publisher without the facility to connect with a business registry (in order to ensure consistent, unique IDs) can still set the `id` field.

For frameworks, the

[2022-05-18 15:39] jpmckinney commented on #1517
Agreed!

[2022-05-18 15:46] jpmckinney commented on #1515
To make the line even brighter, we can use "individual release" instead of "release".

#1315 added the last clause to close #834, which is missing a verb. https://github.com/open-contracting/standard/commit/4919a8f42ba25df1bb6ff26b22f3b07aadcdef36#diff-8ede12936d49b6f0107d60beaef0abe845f548e91d78acc0c430cf6c1516d183

I think the wording ought to be "the release ID should be the `ocid` ...". I thin

[2022-05-18 15:46] jpmckinney commented on #1514
Agreed!

[2022-05-18 15:53] jpmckinney commented on #1301
Yes, let's add a sentence to clarify that it's relating to the contracting process for the first stage.

[2022-05-18 16:25] jpmckinney commented on #1409
1. Agreed. I would use the singular in your example, to make the wording easier

2. We might have never explicitly agreed to it, but it's not a meaningful term, so I agree with the changes. #1216 changed "open contracting ID" to "open contracting process identifier".
3. Yes, agreed to keep things simpler in the primer, where there is already an expectation that specific scenarios require further r

[2022-05-18 16:29] jpmckinney commented on #1516
1. Yes, the language around budgets is old and the understanding at that time was unsophisticated. You might find inspiration (or perhaps further errors!) in https://extensions.open-contracting.org/en/extensions/budget/master/ and https://extensions.open-contracting.org/en/extensions/budget_and_spend/master/
2. Yes, that would be more precise. We can make that change.

[2022-05-18 19:27] JachymHercher commented on #1409
Cool. I've implemented your comment 1) in https://github.com/open-contracting/standard/pull/1513/commits/f19a74192f506245a663c9c71d3bd3108206da02 (together with adding the word "tender" in "In some cases, a complex contracting activity cannot be represented as a single contracting process, because there are multiple _tender_ stages.") and marked the PR as ready for review.

Do we want to deal with

[2022-05-18 19:33] jpmckinney commented on #1409
Thanks! Let's do 9 in another PR since we already have a PR ready for review.

[2022-05-18 20:22] jpmckinney commented on #1520
1. Agreed. We should follow the "child refers to parent" approach, since new data comes in the form of a child. Updating an old parent process is just extra effort.
2. Agreed. Honestly, I think most of the codes have not been used (much). They were added for #371 1727ae40d1e62317fc69ce995412403de906fec5. Some discussion also in #375.
3. Yes, that is the meaning of the sentence, but it's worded amb

[2022-05-19 14:23] JachymHercher commented on #1301
Done in https://github.com/open-contracting/standard/pull/1461/commits/a636cd4242dae380c40ede9d15e4b74630786b7e. Careful: I've put the same warning in two places - I'm not sure where it fits better. Please choose :).

(I think that we currently have all the PRs needed to close this issue.)

[2022-05-20 09:38] JachymHercher opened #1521 "Use consistently "works, goods or services""
We don't have a consistent expression for "stuff to be bought". We should.

___

`item` is defined as:

and the `procurementCategory` contains the codes 'works', 'services', and 'goods and supplies'.

___

Currently, OCDS uses the following (a few of which might be specific for a reason, but most are probably not):
- good and services (11 matches)
- goods, works or services (8 matches)
- supplies,

[2022-05-20 13:19] JachymHercher opened #1522 "`partyRole` codelist: clarify description of interestedParty"
Spin-off from https://github.com/open-contracting/standard/pull/1513#discussion_r878136484.

'enquirer' in `partyRole` is defined as

There are several grey areas:
1) Organizations also ask questions at other stages and currently we don't have any codes for that:
    - planning ("could you clarify vague paragraph XYZ in the PIN", "are you aware of solution X that would solve your need but might en

[2022-05-20 14:21] JachymHercher commented on #1517
Done within https://github.com/open-contracting/standard/pull/1513 (mainly https://github.com/open-contracting/standard/pull/1513/commits/756b5202b2cea363b576b7618d186e281d01b554).

[2022-05-20 14:52] JachymHercher opened #1523 "Mention `additionalIdentifier` in the identifier reference text"
(Linked to https://github.com/open-contracting/standard/issues/452 (but more specific) and to https://github.com/open-contracting/standard/issues/1215 (but concerning different fields).)

https://standard.open-contracting.org/staging/1.2-dev/en/schema/reference/#identifier currently states that

1) I'm not sure we need this section?

    (More generally, I'm not sure whether we need (the entire) h

[2022-05-20 14:56] JachymHercher opened #1524 "Clarify reference on identifiers and registered prefixes"
From https://github.com/open-contracting/standard/issues/1409

@JachymHercher:

@jpmckinney

Let's reformulate. (We might want to wait for clarifications on purpose of the the whole page in https://github.com/open-contracting/standard/issues/1523 though.)

[2022-05-20 17:04] jpmckinney commented on #1523
Instead of adding more field names, we can maybe replace with:

---

There are a lot of normative statements on this page that do not occur elsewhere (I think "Publishers must not edit a release after publication" is one example). For some objects, there are paragraphs preceding the list of fields that adds a bit more explanatory content that is not specific to any given example, e.g. https://stan

[2022-05-20 17:55] jpmckinney commented on #1522
The role was added during the resolution of #259.

Besides the enquiry-related fields `hasEnquiry` and `enquiryPeriod` in OCDS, there is also an [extension](https://extensions.open-contracting.org/en/extensions/enquiries/master/) that adds `tender/enquiries` which has an `author` field (an organization reference). In OCDS, there is a role code that corresponds to each organization reference.

The

[2022-05-20 18:10] jpmckinney commented on #1521
1. 👍
2. 👍
3. That may be true, but putting it in the middle is much more common (in Google results at least)
4. 👍 that it appears somewhere before "services"

I know that works/infrastructure include the highest value procurements, but I can't actually find data on which category is responsible for the largest cumulative spend. It seems to me that goods *could* be more than works. We might also co

[2022-05-20 20:49] jpmckinney commented on #1160
In terms of your recap, I'm not sure if it is only a summary/FYI, or if you are looking for feedback or some other action to be taken?

[2022-05-23 08:38] JachymHercher commented on #1521
tldr: I guess numbers won't help us resolve this - what do you like / find the most standard? :)

____

The EU's latest (2018) [public procurement indicators](https://ec.europa.eu/docsroom/documents/48156
) say the following (tables 10 - 15):

| EU 2018  | Value  | Number of contract award notices |
|----------|--------|----------------------------------|
| Works    | 147.89 | 23 979

[2022-05-23 09:20] JachymHercher opened #1525 "`procurementCategory` and `extendedProcurementCategory`: align and improve codes"
The `procurementCategory` codes are

works,Works,"The primary object of this contracting (or planning) process is the construction, repair, rehabilitation, demolition, restoration or maintenance of some asset or infrastructure."
services,Services,"The primary object of this contracting (or planning) process are professional services of some form, generally contracted for on the basis of measurable

[2022-05-23 19:24] JachymHercher commented on #1160
Point 1 pure summary, point 2 approval in the sense of "I'm aware of it and ok with it".

[2022-05-24 19:22] jpmckinney commented on #1160
Okay great, I'm happy with the repetition (less cross-referencing) and I reviewed the tenses in the PR.

[2022-05-24 19:35] jpmckinney commented on #1525
Noting that the `extendedProcurementCategories` field that uses the `extendedProcurementCategory` codelist was added in #376.

I think the common codes should be 100% the same, except substituting "additional objects ... are" for "primary object ... is".

I guess we need to retain the caveat about 'services' in the extended list (viz its use in datasets that contain 'consultingServices'), though I

[2022-05-24 19:43] jpmckinney commented on #1521
I'd say the options are:

1. goods, works [conjunction] services
1. works, goods [conjunction] services
1. goods, services [conjunction] works

The other permutations occur very infrequently (per Google Search): "services" in the initial position and "works, services and goods".

2 and 3 meet the "works are a different animal" criterion.

I'm happy with any option. @yolile for another opinion?

[2022-05-24 20:50] jpmckinney commented on #1160
Writing here so that it is not lost in resolved comments in #1509.

@JachymHercher wrote at https://github.com/open-contracting/standard/pull/1509#discussion_r879668545:

`tender.standstillPeriod` was added in #1142, but I expect that it will rarely be published for each contracting process, since it is generally always the same.

For a data user of multiple publishers, it would be useful to know

[2022-05-25 09:19] JachymHercher commented on #1525
By "caveat" you mean the "on the basis of measurable outputs or deliverables"? If yes, why?

[2022-05-25 18:46] jpmckinney commented on #1525
I mean:

[2022-05-26 18:45] yolile commented on #1412
Should we change https://standard.open-contracting.org/latest/en/schema/merging/#merge-routine as well? At least the first sentence that says "To create a compiled or versioned release, you **must**:"

[2022-05-26 18:55] jpmckinney commented on #1412
I think we'll need to word a bit carefully, because if individual releases are optional, then compiled releases can be created directly. (Versioned releases, on the other hand, don't make any sense without individual releases.)

[2022-05-27 08:33] JachymHercher commented on #1160
Indeed. Shouldn't this bring us back to the question we touched at the beginning of this issue (e.g. https://github.com/open-contracting/standard/issues/1160#issuecomment-757937590) - and then got somewhat sidetracked - of whether we are sure we want to keep `*Status` fields? What about deprecating them?

Concerning their advantages, my guess is that we want them because they should be more easily

[2022-05-27 09:46] JachymHercher commented on #1522
1. Hmmmm, ok.
2. My first thought was, that overlaps are bad on principle. For example, if there is an equirer in the process, then the publisher should publish _both_ 'interestedParty' and 'enquirer', which sounds like a hassle. However, looking at https://standard.open-contracting.org/latest/en/schema/conformance_and_extensions/#publication-conformance (1), do I understand it correctly that a pu

[2022-05-27 16:02] jpmckinney commented on #1522
1. To clarify further, the example questions you shared are unlikely to be published as answers to questions as part of contracting disclosures – they are more likely to use existing fields (`tender/datePublished`, `tender/awardPeriod`, `contracts/documents`).  (For planning questions, see 3). The more likely questions at award stage are along the lines of challenges, and at contract stage along t

[2022-05-27 16:50] jpmckinney commented on #1160
As a refresher, OCDS 1.1 only has [4 status codes](https://standard.open-contracting.org/latest/en/schema/codelists/#award-status) for award and contract. This PR adds 'complete' and 'withdrawn' to award, and this PR & #395 (#1201) add 'terminatedEarly', 'terminatedSuccessfully', 'unsuccessful' an 'withdrawn' to contract.

A concern I have about the PR is that it changes the semantics of award 'ac

[2022-05-28 14:18] JachymHercher commented on #1160
Sounds good. I've started working on the PR (for a while I thought of doing a new one from scratch, but I think updating the current one will be easier).

1) Done in https://github.com/open-contracting/standard/pull/1509/commits/469e540a26b26e6e8a2e30e59485ca67cf0cab48.
2) Done in https://github.com/open-contracting/standard/pull/1509/commits/aa5c706065ec20e94f16b0c9b9a28ef4b086318b (the wording m

[2022-05-30 16:15] jpmckinney commented on #1160
(3. i.) Yes, we need it for Tender, Award, and Contract, like `status` was.

(3. ii.) I'm not sure that we need "no more publication". I'm not aware that anyone has used the 'withdrawn' code for `tender/status`. At any rate, this is moreso information for the publication policy (e.g. "We only publish up to the initial contract values. We don't publish any modifications."). We have not yet witnesse

[2022-05-30 19:46] JachymHercher commented on #1160
"Details elsewhere" was just referring to the `endState` code (details on why the stage failed).

[2022-05-30 23:32] jpmckinney commented on #1160
If we're adding a `finalStatus` field with codes for each end state, then there is no elsewhere, – it's "right here", no?

[2022-06-10 19:09] #1409 closed, assigned to JachymHercher

[2022-06-10 19:09] #1517 closed, assigned to JachymHercher

[2022-06-10 20:05] #1301 closed, assigned to nobody

[2022-06-10 20:06] jpmckinney commented on #1301
This was not automatically closed because #1461 is against 1.1-dev.

[2022-06-10 20:16] jpmckinney commented on #1160
@yolile I'd like your thoughts on the proposal in https://github.com/open-contracting/standard/issues/1160#issuecomment-1139793598

This is a very long issue, but I think you can start reading from https://github.com/open-contracting/standard/issues/1160#issuecomment-1136418290 (just a few messages before the above message).

We can then update #1509 and get it merged.

[2022-06-14 15:59] yolile commented on #1160
So, to sum up, the proposal is to deprecate all status fields and create a new one called `finalStatus` or similar, right?. What about `statusDetails`? Do we want to add a `finalStatusDetails` too? And then, some questions:

1. To identify if a process is a planning process, a user will need to check that the planning object exists? (as we won't have a planning status anymore)
2. To identify if a

[2022-06-14 20:44] jpmckinney commented on #1160
Yes, that's the proposal. We can have a `finalStatusDetails`. I hadn't thought of what to do with `statusDetails`. Do you know how that field is currently being used?

1. An individual release should have 'planning' or 'planningUpdate' in `tag` to indicate it as being about a planning process. For a compiled release I suppose it is the presence of `planning` when the version is set to "1.2".
2. Ye

[2022-06-14 21:25] yolile commented on #1160
Nothing that I can think of. And a contract without a finalStatus will be one that hasn't been signed yet? Are we planning to write these assumptions as part of the standard documentation?

[2022-06-14 21:30] jpmckinney commented on #1160
A contract without a `dateSigned` is a contract that either (a) hasn't been signed or (b) is unknown to have been signed (but was probably signed, because it's extremely rare to publish about an unsigned contract).

A contract without a `finalStatus` either (a) hasn't finished or (b) is unknown to have finished, because the publisher doesn't track performance (but, if the current date is after the

[2022-06-15 11:46] odscjen commented on #1516
In checking for other fields that might suffer the same phrasing issue around contracts vs contracting process or negative values:
1. `transaction` "A spending transaction related to the contracting process." Should this be "A spending transaction related to the contract." as it is used with respect to a specific contract (appearing in `contracts.implementation.transactions`)?
2. `awards.value` "A

[2022-06-15 14:22] odscjen commented on #1521
Note for once the final wording is agreed, the following fields will need changed/checked in release-schema.json (using 1.2-dev branch):
* `Tender.items`
* `Award.items`
* `buyer`
* `Item.unit`
* `Unit`
* `Contract.items`
* `Item.description`
* `Transaction.providerOrganization` (deprecated)
* `receiverOrganization` (deprecated)
* `Item`
Also `mainProcurementCategory` codelist order in schema.

Th

[2022-06-15 15:36] jpmckinney commented on #1521
Thanks for cataloguing! I'll put a vote for goods, services and works as it groups "goods and services" separately from "works", and it's in alphabetical order, which can be a useful mnemonic for remembering the (somewhat arbitrary) order.

[2022-06-15 15:39] jpmckinney commented on #1516
1. Yes to "contract" for transactions.
2. Yes. I think we can omit "future" in this instance, as "contract(s) resulting from this award" already entails that they are in the future with respect to the award.

[2022-06-17 15:08] #1515 closed, assigned to odscjen

[2022-06-20 11:04] odscjen commented on #1521
I'd agree with that choice, alphabetical order is generally easier to remember. If @yolllie agrees I can get started on these changes?

[2022-06-20 14:09] odscjen commented on #1525
1) So `procurementCategory` will remain unchanged and `extendedProcurementCategory` will become:

works,Works,"The additional objects of this contracting (or planning) process are the construction, repair, rehabilitation, demolition, restoration or maintenance of some asset or infrastructure."
services,Services,"The additional objects of this contracting (or planning) process are professional serv

[2022-06-20 14:22] jpmckinney commented on #1521
You can get started already - I just wanted another opinion and we've arrived at a reasonable choice.

[2022-06-20 14:34] jpmckinney commented on #1525
1. The description of 'services' should be changed (in both CSVs) to tidy the problems described in (2) of the issue description.
2. The [`test_csv.py`](https://github.com/open-contracting/standard-maintenance-scripts/blob/main/tests/test_csv.py) script that checks the format of CSV files uses the default CSV "dialect" which uses minimal quoting (i.e. only if the cell value contains commas or quot

[2022-06-20 15:14] odscjen commented on #1525
Looking for other definitions I found a relevant [EU definition for Contract nature](https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://publications.europa.eu/resource/authority/contract-nature) where services are defined as "Provision of services other than works and supplies." which if used as a basis could give us

"The additional objects of this contracting (or pl

[2022-06-21 13:00] yolile commented on #1521
Agree that "goods, services and works" sound good. In Spanish, it is most common to use "goods and services" (together and with "and") but "goods, services and works" sound good too.

[2022-06-21 13:27] yolile commented on #1160
Sounds good. I'm just double-checking how some use cases will work. Of course, we will need to update some worked examples, red flags and indicators calculation, etc., but we will need to do that for other improvements anyway.

[2022-06-21 20:05] jpmckinney commented on #1525
Hmm, the EU definition is not very inspiring as it's just saying "anything that's not the other two". Can we research some other options?

Edit: We can also follow the pattern in `documentType.csv` of adding "This category is also called supplies." to include some synonyms that might be more familiar depending on the jurisdiction.

[2022-06-21 21:11] jpmckinney commented on #1525
Noting that the codelist was authored in #376 (continued from #204). "goods" was edited in #828. Other changes to the codelist are not especially notable.

The descriptions are currently:

The UNCITRAL model law's [glossary](https://uncitral.un.org/sites/uncitral.un.org/files/media-documents/uncitral/en/glossary-e.pdf) has:

The World Bank's [Procurement Regulations for Investment Project Financin

[2022-06-21 21:26] #1516 closed, assigned to odscjen

[2022-06-22 18:44] #1514 closed, assigned to odscjen

[2022-06-23 09:22] odscjen commented on #1525
Those definitions look good to me. I'll hold off making the PR until #1530 has been merged

[2022-06-27 16:59] Ravf95 commented on #1116
@jpmckinney I think we can close this because the page already has a training request button
![image](https://user-images.githubusercontent.com/16477965/175995677-b089f1fb-10f8-41dc-bf6c-e9194e23fc89.png)

[2022-06-27 17:08] yolile commented on #1116
The idea is to add the link to the standard documentation page https://standard.open-contracting.org/latest/en/guidance/, probably after _"Do you have questions or need assistance? Contact the [OCDS Helpesk](https://standard.open-contracting.org/latest/en/support/)."_

[2022-06-27 17:38] Ravf95 commented on #1116
I misunderstood, thanks for the suggestion, we can put it there

[2022-06-27 20:48] Ravf95 commented on #1309
I understand that is for prevent because if we remove `'^http://(?:identifier|release).id$'` from ignore list nothing happens (at least in the web reference of the schema), the same case for `identifier` word. Should the ignore list work with [changelog.md](https://github.com/open-contracting/standard/blob/1.2-dev/docs/history/changelog.md)? (e.g https://standard.open-contracting.org/latest/en/his

[2022-06-27 21:10] jpmckinney commented on #1309
I don't understand the question, but we should still add the backticks.

[2022-06-28 02:39] Ravf95 commented on #1168
We can close this issue (see https://github.com/open-contracting/standard/pull/1448 and https://github.com/open-contracting/standard/pull/1299)

[2022-06-28 13:20] yolile commented on #1168
True! closed by #1448 #1299

[2022-06-28 13:20] #1168 closed, assigned to nobody

[2022-06-28 14:57] dulceareco commented on #1366
Hi @jpmckinney @yolile

Two questions about this issue just to make sure:

1. _In this paragraph on the Primer landing page as a part of the "other relevant resources."_
Would it be adding [this link](https://data.open-contracting.org/) in [this section](https://standard.open-contracting.org/latest/en/primer/), as a new point under the Data Review Tool item?

2. _in the last paragraph on the "What

[2022-06-28 18:57] yolile commented on #1366
Yes, but as the data registry hasn't been launched yet, this issue is not ready to be done.

[2022-07-07 12:23] dulceareco commented on #1118
Hi @jpmckinney @yolile

Following up on this issue, we could add the link to the [video](https://www.youtube.com/watch?v=1uTik92PWfo) where it says "develop your own extensions" ([Build your extensions paragraph](https://standard.open-contracting.org/latest/en/guidance/build/#build-your-extensions)) and add a short text like "We also have a slides version of the video that you can check" or "Creat

[2022-07-07 16:19] jpmckinney commented on #1118
We can just follow the `**Resource:**` format as used in other sections instead of adding a short text.

[2022-07-08 22:21] yolile opened #1532 "Include OCDS Data Quality Checklist link to the Build guidance"
https://www.open-contracting.org/resources/ocds-data-quality-checklist/
https://www.open-contracting.org/resources/ocds-data-quality-checklist-es/

Probably in https://standard.open-contracting.org/latest/en/guidance/build/#check-your-data as an Action or Resource

[2022-07-08 22:31] jpmckinney commented on #1532
Sounds good!

[2022-07-11 21:34] duncandewhurst commented on #1358
@jpmckinney now that https://github.com/open-contracting/standard/issues/1301 is closed, can a PR be prepared for this issue?

[2022-07-11 21:36] duncandewhurst commented on #1038
@jpmckinney can a PR be prepared for this issue (following the steps in the [process note](https://docs.google.com/document/d/1vBn4HFaczjcCur19kSwEMwk2uciFCdNgm9S9Ue_LnjY/edit#) for converting Google Docs to markdown)?

[2022-07-11 21:45] duncandewhurst commented on #1484
@jpmckinney can a PR be prepared for this issue?

[2022-07-11 21:58] duncandewhurst commented on #1228
Closing per the previous comment.

[2022-07-11 21:58] #1228 closed, assigned to nobody

[2022-07-11 22:02] duncandewhurst commented on #1198
I've updated the ordering for extendedProcurementCategory and procurementCategory per https://github.com/open-contracting/standard/issues/1521

[2022-07-11 22:20] jpmckinney commented on #1038
Yes, and I figure they would be new pages under the Governance section.

[2022-07-11 22:22] jpmckinney commented on #1484
The project extension depends on the location extension, and I think we had some change to make to it before merging the location extension: https://github.com/open-contracting/standard/issues/1179#issuecomment-988983174

[2022-07-11 22:23] jpmckinney commented on #1358
Yes!

[2022-07-11 22:56] yolile commented on #1412
Related: https://github.com/open-contracting/standard/issues/1364

[2022-07-11 23:18] duncandewhurst commented on #1484
Ah, yes. We already made some changes in https://github.com/open-contracting-extensions/ocds_location_extension/pull/34 and I've commented on the remaining open issues for the location extension.

[2022-07-11 23:21] yolile commented on #928
#1326 says

And

If a publisher is publishing releases only and wants to publish an alternate link to the contracting process, how should they publish this? Still with links, with `rel: "alternate"` in a release? Even though the link content will change over time?

Context: Dominican Republic wants to publish this type of link https://comunidad.comprasdominicana.gob.do//Public/Tendering/Opportunit

[2022-07-11 23:32] jpmckinney commented on #928
I think that link can be modelled in `documents`?

The use case for `links` is fairly narrow (see issue description).

[2022-07-11 23:37] yolile commented on #928
Do you mean `documents` at the top level?

As per https://github.com/open-contracting/standard/issues/1228#issuecomment-844326173

But in this case, this link represents indeed an alternative representation (HTML) of the entire procedure.

[2022-07-12 00:34] duncandewhurst opened #1534 "Consider adding time-based fields to preserve the values of important fields in a compiled release"
From the discussion in https://github.com/open-contracting/standard/issues/914, we should consider whether to add time-based fields to preserve the values of important fields such as the dates and values of the main objects (tender, award, contract).

For example, we could add an explicit field to preserve the initial period in the signed contract. Otherwise, no option is perfect with respect to i

[2022-07-12 00:34] #914 closed, assigned to nobody

[2022-07-12 14:27] jpmckinney commented on #928
I would just link it in `tender/documents`.

The use case is more than just for alternative representations, but for alternative representations in cases where there is no OCDS data to link to (e.g. when the UK was transitioning from TED to OCDS).

`documents` is already used for alternative representations (e.g. the PDF or HTML version of an award, contract, etc.). #1228 already has a good reason

[2022-07-12 14:30] #928 closed, assigned to duncandewhurst

[2022-07-12 19:56] yolile commented on #364
Observatorio Fiscal (a CSO) from Chile is adding more information to the existing Chile Compra OCDS publication with data from the Ministry of Works. For processes that already exist in Chile Compra, they are adding new releases (planning and contract implementation in this case), using the same ocid as Chile Compra, and using the `release/publisher` object to identify each release's publisher. Fo

[2022-07-13 21:53] duncandewhurst commented on #1095
Closed by https://github.com/open-contracting/standard/pull/1526

[2022-07-14 20:24] Ravf95 opened #1535 "Keep the definition of monetary unit"
In 2015, Peru's [law 30381](https://www.bcrp.gob.pe/transparencia/datos-generales/marco-legal/ley-que-cambia-el-nombre-de-la-unidad-monetaria-de-nuevo-sol-a-sol.html) changed its currency name ("Nuevo Sol" to "Sol") and its currency symbol ("S/." to "S/"), however, ISO 4217 maintains the code "PEN" for its currency.

The team that implements the OCDS for Peru OSCE wants to keep both currency descr

[2022-07-14 21:34] yolile commented on #1535
You can see the older codes in the historical list of currencies:
https://www.six-group.com/en/products-services/financial-information/data-standards.html#scrollTo=maintenance-agency
![image](https://user-images.githubusercontent.com/6834122/179089787-df518c81-f702-441f-9ac6-379a0b1044f9.png)
And these codes are part of the standard code list https://standard.open-contracting.org/latest/en/schema/

[2022-07-15 16:59] yolile commented on #1535
Reopening as indeed the code "PEN" appears in the historical list but also as "Sol" in the current list of codes

The inclusion of "Sol" with PEN was made [here](https://www.six-group.com/dam/download/financial-information/data-center/iso-currrency/amendments/dl_currency_iso_amendment_162.pdf).

I guess they could have a local extension that adds a "`currencyName`" field in the `Value` object and

[2022-07-15 18:08] jpmckinney commented on #1535
I'm confused. What's the problem? OCDS is not responsible for the display of currency names (which change across languages and across time, like in this case). The entire point of having codes is to avoid worrying about such issues.

If Peru wants to display PEN as "Nuevo Sol" before 2015 and "Sol" after 2015, that is an application-level issue, and is not something to be addressed by the standard

[2022-07-15 18:08] #1535 closed, assigned to nobody

[2022-07-15 18:11] jpmckinney commented on #1535
We can continue discussion in CRM-8257 and only re-open here if there is a clear role for the standard.

[2022-07-15 18:19] yolile commented on #1535
Agree, as the only use case that this issue affects is if they want to display the currency in an application, there are no issues for users that want to do data analysis, for example. So yes, the options are a local extension or doing anything.

[2022-07-18 09:50] odscjen opened #1536 "update mediaType.csv with latest IANA codelist"
In version 1.1 we're pointing publishers to the template column in the IANA list for `document.format` codes, but in 1.2 we're using the `mediaType.csv` codelist where the codes appear to be taken from this template column. The [IANA media type codes](https://www.iana.org/assignments/media-types/media-types.xhtml) have been updated (latest update 2022-07-14) and the OCDS 1.2 codelist `mediaType.cs

[2022-07-18 11:34] odscjen commented on #850
Re. (4), the following files require clean up:
* docs/guidance/map/milestones.md
* docs/guidance/map/organizational_units.md
* docs/guidance/map/pre-qualification.md
* docs/guidance/build/change_history.md

Is it worth adding these changes to the branch created for #1303 which is now very far behind the latest version or would it be easier to create a new branch and PR?

[2022-07-18 17:58] jpmckinney commented on #1536
Before any release, we run these steps, which update all external codelists, including IANA Media Types. https://ocds-standard-development-handbook.readthedocs.io/en/latest/standard/technical/deployment.html#perform-periodic-updates

[2022-07-18 17:58] #1536 closed, assigned to nobody

[2022-07-19 18:58] jpmckinney commented on #850
Create a new PR.

As described in the last comment in #1303, that PR will need to be abandoned as it is too much effort to fix conflicts. (Instead, the changes should be described in a spreadsheet, as any PR containing such widespread changes will result in massive conflicts before all review/comments/etc are addressed.)

[2022-07-20 18:55] #1521 closed, assigned to odscjen

[2022-07-20 18:58] #1118 closed, assigned to nobody

[2022-07-29 02:49] jpmckinney commented on #1327
Noting that since pagination content was added to the guidance for #1095, we might as well just link to it there, were it appears in context without other content that is more purely guidance.

[2022-07-29 02:52] jpmckinney commented on #1084
In https://github.com/open-contracting/standard/issues/1327#issuecomment-904948356 I suggested: "we can move the release/record package schema pages under [a page for APIs], to keep the Reference section somewhat organized."

#1327 didn't end up adding a new page for APIs (instead updating a guidance page), but noting here in case there's some other way to reduce the length of the Reference menu.

[2022-08-01 14:20] #1309 closed, assigned to Ravf95

[2022-08-01 14:43] #1327 closed, assigned to duncandewhurst

[2022-08-01 14:44] #1532 closed, assigned to Ravf95

[2022-08-01 15:00] #1166 closed, assigned to Ravf95

[2022-08-01 15:00] #1313 closed, assigned to Ravf95

[2022-08-01 17:49] #1116 closed, assigned to Ravf95

[2022-08-02 19:08] #1226 closed, assigned to Ravf95

[2022-08-04 15:34] yolile opened #1543 "Classify tenders and lots as Sustainable Public Procurement (SPP)"
Recently has been more interest in measuring and identifying tenders, lots, and contracts that incorporate sustainable aspects. To facilited the identification of this type of process, we can consider adding a new field to classify the process as SPP-related.

From a discussion call with @jpmckinney:

We can consider adding a field to tender and lot (field name TBD), that is an array of strings, u

[2022-08-05 16:14] jpmckinney commented on #1543
I think the EU uses the term "strategic procurement" because innovation is not necessarily about sustainability. Ideally, we'd avoid the term "procurement" to allow this field to have broader semantics. We can research what term other jurisdictions use for combining these aspects/benefits/goals.

[2022-08-16 21:04] yolile commented on #1543
If this field goes beyond SPP, what will its definition be? (just asking so I can search for the correct term in other jurisdictions)
#736 may be related

[2022-08-16 22:19] jpmckinney commented on #1543
The EU defines strategic procurement as "Use of a technical specification, selection criterion, award criterion, or contract performance condition aims to reduce the environmental impacts of the procurement, fulfil social objectives and/or buy an innovative work, supply or service."

[2022-08-17 13:02] yolile commented on #1543
In Paraguay we use the term "Sustainable Public Procurement" and also include innovation as part of it: https://www.contrataciones.gov.py/dncp/compras-publicas-sostenibles.html

_Paraguay has a Sustainable Public Procurement Policy, updated in 2020 through Resolution No. 922/2020, which expressly declares the commitment of the National Directorate of Public Procurement, as the regulatory instituti

[2022-08-17 13:30] yolile commented on #1543
For the term "strategic procurement/purchase" the definition in Paraguay is "the goods, works, and consultancy services to guarantee the continuity of the production of goods or services provided by Public enterprises or Public Limited companies with Majority Participation of the State because of the special characteristics of the goods, services or work." This applies for example, to buy fuel fro

[2022-08-17 13:39] yolile commented on #1543
In Colombia, they also use "COMPRAS PÚBLICAS SOSTENIBLES"  and mention that Sustainable Public Procurement incentives innovation https://www.colombiacompra.gov.co/colombia-compra/compras-publicas-sostenibles-cps

_A purchase is sustainable when it satisfies the need and contributes to the protection of the environment, the reduction in the consumption of resources, or inclusion and social justice

[2022-08-17 14:09] yolile commented on #1543
So, in Latam, innovation is included as a economic benefit of SPPs. See this report from RIGC https://www.iisd.org/system/files/publications/iisd-handbook-ingp-en.pdf (page 9):

_Economic benefits: SPP can create demand for sustainable goods and services, supporting new, efficient industries and sectors and fostering innovation._

I guess the question is, if you want to buy innovative but not for

[2022-08-17 21:55] jpmckinney commented on #1543
Aha, Colombia also covers the "fulfil social objectives" part of the EU definition:

So it seems common to combine sustainability, social objectives, and innovation.

Innovation is separate from SPP. Making innovative purchases is a market method of funding R&D (innovative products/services typically cost more than commodity products/services). Funding R&D is typically about economic growth. That

[2022-08-18 13:02] yolile commented on #1543
FYI in the [SPP toolkit](https://openspp.super.site/what-is-spp-and-open-spp), Market innovation is indeed inside the "Economic" pillar
![image](https://user-images.githubusercontent.com/6834122/185398725-a6738e17-9403-4371-8d6e-669705773d07.png)

And from the SPP definition used in the toolkit as well:

_The most common definition of Sustainable Public Procurement comes from [UNEP:](https://wedoc

[2022-08-18 14:43] jpmckinney commented on #1543
Thanks for your research on this – I agree it's looking like "sustainable" is the most common word for this concept.

[2022-08-18 18:34] yolile commented on #1543
The United Nations Environment Programme (UNEP) has an Excel [questionnaire](https://wedocs.unep.org/handle/20.500.11822/36673) to assess "B: The public procurement regulatory framework is conducive to SPP" and "D: SPP purchasing criteria / buying standards / requirements" for scoring SPP progress in countries, which include the sections/aspects mentioned by the EU definition (technical specificat

[2022-08-18 19:36] yolile commented on #1543
The UK [Procuring the Future: Sustainable Procurement National Action Plan: Recommendations from the Sustainable Procurement Task Force](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/69417/pb11710-procuring-the-future-060607.pdf) in page 13 also includes a section about "Helping UK business competitiveness and innovation". The terms "sustainability

[2022-08-18 20:33] yolile commented on #1543
So, from a Google search from an incognito window, I got:

| keyword                   | number of results |
|---------------------------|-------------------|
| sustainability goals      | 1,610,000,000     |
| sustainable impacts       | 1,450,000,000     |
| sustainability strategies | 1,230,000,000     |
| sustainability impacts    | 1,380,000,000     |
| sustainable benefits      | 1,390,000,0

[2022-08-19 19:03] yolile commented on #1543
Thinking about indicators and use cases, maybe another useful field to add is how the goal is implemented in this procurement process. Using the EU definition again and the [toolkit](https://openspp.super.site/implement/set-sustainable-criteria), these strategies can be: technical specification, selection criterion, award criterion, or contract performance condition

So maybe we can have a `sustai

[2022-08-22 15:08] odscjen commented on #205
Albania are planning on publishing complaints data in OCDS (they already publish some not in OCDS). The complaint specific fields they'll include in OCDS are:
* electronic ID
* date and time of complaint submission
* applicable law
* PPC protocol number
* complaint fee
* economic operator (complainant) - name, address, VAT number
* complaint type
* complaint threshold
* complaint publication date

[2022-08-22 18:07] yolile opened #1544 "Add reference to What data should I collect? A guide to prioritizing data fields in an e-GP implementation resource"
https://www.open-contracting.org/es/resources/what-data-should-i-collect-a-guide-to-prioritizing-data-fields-in-an-e-gp-implementation/
Probably in the Design section

[2022-08-22 20:52] jpmckinney commented on #1543
Hmm, until we have evidence that publishers can supply the `strategies`, we might stick to `sustainability.goals`.

[2022-08-23 01:44] yolile commented on #815
For the scheme name, should we suggest following a pattern such as {2-digits ISO country code}-{jurisdiction}-{system/register} name? Similar to the guidance for the [legalBasis extension](https://extensions.open-contracting.org/en/extensions/legalBasis/1.1/)

[2022-08-23 15:42] jpmckinney commented on #815
Sure, let's create a new issue though. I'd probably just go {ISO 3166-1 alpha-2}-{system} or {ISO 3166-2}-system.

[2022-08-23 18:43] yolile commented on #1543
I think that we have some evidence, for instance, the Buenos Aires case listed in the issue description and, for example, Chile includes SPP-related award criteria, e.g. https://www.mercadopublico.cl/Procurement/Modules/RFB/DetailsAcquisition.aspx?qs=yudEhSt2Mx443fcqmguqTg==  (see section "6. Criterios de evaluación") and the [regulation](https://www.chilecompra.cl/wp-content/uploads/2016/11/direc

[2022-08-23 19:23] jpmckinney commented on #1543
I'm looking at https://www.mercadopublico.cl/Procurement/Modules/RFB/DetailsAcquisition.aspx?qs=yudEhSt2Mx443fcqmguqTg== but it's not clear to me that this information can be used to automatically determine that one of the `strategies` is awardCriteria.

For Buenos Aires, yes, the questions under "Sustentabilidad" are enough to automatically determine whether the strategies include technicalSpecif

[2022-08-23 19:38] yolile commented on #1543
So in section "6. Criterios de evaluación" all the items are award criteria. If the `Ítems` names are selectable and not free text, then if you chose, for example, "Contratación Inclusiva" that will automatically mean something like:

[code]

[2022-08-23 20:05] jpmckinney commented on #1543
Aha, yes, assuming the Ítem is from a codelist that would work.

[2022-08-23 20:06] jpmckinney commented on #1543
Going back to your comment in https://github.com/open-contracting/standard/issues/1543#issuecomment-1221010145, do we know (e.g. from the SPP guide) that there is a use case for the `strategies` field (for users, not publishers)?

[2022-08-23 20:33] yolile commented on #1543
For calculating indicators such as:
"Share of tenders which reference SPP criteria within specifications"
"Value share of tenders which reference SPP criteria within specifications"
"Share of tenders that reference SPP criteria within scoring"

And others. Of course, if the publisher discloses detailed information in requirements, award criteria breakdown, etc., documents related to SPP in their p

[2022-08-23 21:27] jpmckinney commented on #1543
Perhaps the model then is:

[code]

[2022-08-24 13:13] yolile commented on #1543
Yes, that model makes more sense. I think that with this model, we will also be somehow resolving this issue:

At least, there will be a standardized way to indicate that award criteria or technical specifications related to SPP exist.

[2022-08-26 01:29] yolile commented on #1543
Another example from Lithuania, from the [toolkit](https://openspp.super.site/2a761699c5bd4a6696bf2b6ed43b2057)

And with that they built this dashboard https://vpt.lrv.lt/lt/svieslente

So the goal/strategies model will work for them as well.

[2022-08-26 01:32] yolile commented on #1543
And in Lithuania innovation is also under SPP https://vpt.lrv.lt/lt/darnieji-pirkimai

[2022-08-29 02:58] duncandewhurst commented on #524
Reopening as I noticed that the description of `country` erroneously links to the language codelist.

[2022-08-30 15:53] neelima-j commented on #883
A use case for natural persons in the parties array (besides sole traders):

For some Indian public sector companies' procurement processes, Independent External Monitors (IEM) are appointed for transparency and dispute resolution.
IEMs are retired govt. employees of a certain rank, appointed by the Central Vigilance Commission (a governmental body that addresses governmental corruption).

IEMs wi

[2022-09-06 17:14] jpmckinney opened #1545 "Replace Helpdesk language with Data Support Team"
Also move references to ODS/CDS to Appreciation: https://standard.open-contracting.org/latest/en/history/history_and_development/#appreciation :

* https://standard.open-contracting.org/latest/en/primer/next/?highlight=%22open%20data%20services%22#how-can-i-implement-the-ocds
* https://standard.open-contracting.org/latest/en/support/?highlight=%22open%20data%20services%22#ocds-helpdesk

For Januar

[2022-09-07 15:36] yolile commented on #574
Is this kind of covered/overlaped by the [award criteria breakdown](https://extensions.open-contracting.org/en/extensions/awardCriteria/master/) extension?

[2022-09-07 16:40] jpmckinney commented on #574
Sometimes, there's a two step process. First, award criteria are used to assign each bid a score. Then, if multiple scores are within a "margin of preference" (UNCITRAL term) of the lowest bid, then price coefficients are applied to determine the winner. The simplest implementation is to assign a coefficient of 0 (or 0.0̅1), i.e. if local bidders are within the margin of preference of the lowest b

[2022-09-07 17:23] yolile commented on #1543
Note: @jpmckinney also suggested adding a `tender/hasSustainability` boolean field in case the publisher doesn't know the goals or strategies and only that the process is SPP related. This enables the calculation of basic indicators such as "Share of contracts that are classified as SPP".

[2022-09-07 19:32] odscrachel commented on #987
A note that we had a query today (via the OCDS helpdesk) from a private company trying to find GS1 in org-id https://www.gs1us.org/tools/gs1-company-database-gepir

[2022-09-07 22:14] jpmckinney commented on #987
In https://docs.google.com/spreadsheets/d/1qPPAOx9w4NIfrll66a0Qd2SMizoxGNRUMU6YV2rLuEE/edit#gid=1900375069 the only entry for GS1 refers to [GTIN](https://en.wikipedia.org/wiki/Global_Trade_Item_Number). I'm not sure that GEPIR is listed in ISO 6523?

[2022-09-08 19:36] yolile commented on #574
Makes sense. https://github.com/open-contracting/ocds-extensions/issues/132 suggest adding a "weight" field to requirements, but as per your comment https://github.com/open-contracting/standard/issues/574#issuecomment-332872736 we don't want to model this under requirements (e.g., by setting the weight to 0 as part of the Criterion object).

[2022-09-08 19:39] yolile commented on #1491
I will close this issue as Paraguay will publish this information as an additional tender/document linked to a JSON document.

[2022-09-08 19:39] #1491 closed, assigned to nobody

[2022-09-08 19:56] yolile opened #1546 "Bid evaluation publication"
Currently, with [Bid statistics and details extension](https://extensions.open-contracting.org/en/extensions/bids/master/), the publisher can publish if a bid was accepted or disqualified (among other [statuses](https://extensions.open-contracting.org/en/extensions/bids/master/codelists/#bidStatus.csv)). However, there is no way to disclose the information about each bid evaluation.

In Argentina,

[2022-09-08 20:32] jpmckinney commented on #1491
Out of curiosity, could you provide a sample JSON document?

[2022-09-09 19:25] yolile commented on #1102
The UK local extension is here https://github.com/Crown-Commercial-Service/ocds_tender_suitability_extension

[2022-09-12 19:37] yolile commented on #1493
Note that this will also be modeled as a local extension for the Mexico Ministry of Hacienda. They use a "Consolidation strategy" field with three possible values: Framework agreement, Joint purchases, and "Sectorizated purchase." (I'm not sure what the last means). In any case, FAs are in the same box as Joint purchases but under the "consolidation strategy" concept.

[2022-09-12 20:03] yolile opened #1547 "Organization (suppliers) registration and creation dates"
Mexico wants to disclose two dates related to suppliers:

- Registration Date: the date when the supplier registered into the Suppliers Register (the Registro Único de Proveedores de CompraNet)
-  Creation date: the date when the company was formally created

This information could be published as a local extension or in a separate supplier dataset. However, I'm opening the issue here in case othe

[2022-09-13 01:39] jpmckinney commented on #1547
Creation date: Use [foundingDate](https://schema.org/foundingDate) on the Organization.

Registration date: So this is a fact about the registration/identifier, rather than the organization directly. They can do `parties.identifier.issued` or `parties.additionalIdentifiers.issued` depending where they are putting the supplier registry identifier. (To conform to OCDS style, `issued` from Dublin Cor

[2022-09-13 01:41] jpmckinney commented on #1547
I think this is a good case where OCDS is not really responsible for these concepts, but there are other standards relating to organizations that provide appropriate fields.

[2022-09-15 00:18] yolile commented on #1543
Extension drafted https://github.com/open-contracting-extensions/ocds_sustainability_extension

[2022-09-15 12:36] yolile commented on #403
I'm reopening the issue as per CRM-8367. In Nigeria, they also have the document of no objection itself. I think no `documentType` describes this document, so for at least for _B. When a procuring entity requests to award a contract above a certain price threshold;_ I think we could add an "awardApproval" or "awardApprovalCertificate" document type.

[2022-09-15 18:13] jpmckinney commented on #403
I think no objection is different from approval, legally. It could be that the issuer does not have the power to approve, but does have the power to object. For example, your neighbor can't approve a renovation to your house, but they can object to it if it affects their own property, etc. I figure there are similar scenarios in procurement.

So, we can just call it 'noObjectionCertificate'

[2022-09-16 14:00] yolile commented on #403
And if it is in the tender level will mean that it is a non-objection to the tender and if it is at the award level no objection to the award, right?

[2022-09-16 14:03] yolile commented on #1493
Confirming that Mexico will create a local extension for this in a field called "Procurement Strategy". They have a clear use case for it, as the government has a commitment that all the national purchases will be joint procurements, and they need an easy way to measure that commitment.

[2022-09-16 14:33] jpmckinney commented on #403
Yes

[2022-09-16 16:30] yolile commented on #1543
Note that we ended up adding two more strategies: `marginOfPreference` (that is different from award criteria) and `reservedParticipation` (different from selection criteria).  Some related issues are https://github.com/open-contracting/standard/issues/574 and https://github.com/open-contracting/standard/issues/1102

[2022-09-16 23:55] yolile commented on #1543
Closing as the extension was created.

[2022-09-16 23:55] #1543 closed, assigned to yolile

[2022-09-26 10:49] odscjen commented on #850
@jpmckinney Looking specifically at docs/guidance/build/change_history.md most of the examples refer to "the procuring entity", e.g. line 139 "Because of them the procuring entity and the supplier agree to a contract extension." Based on the summary in https://github.com/open-contracting/standard/issues/571#issuecomment-778510316 which states that 'buyer' is to be preferred over 'procuringEntity'

[2022-09-26 15:39] jpmckinney commented on #850
Yes, it would be better for that example to just use a buyer without a procuring entity. However, such changes should wait on #1531, which makes significant changes to that section of the guidance.

[2022-09-26 15:49] odscjen commented on #850
ok, I'll wait for that PR to be merged before creating a PR for this issue to save multiple PR's being required

[2022-09-27 04:05] duncandewhurst commented on #987
Do you mean code 0160?

The description of code 0209 seems to be written to cover all the different types of identifiers issued by GS1:

Code | Identifier scheme name | Issuer | Notes
-- | -- | -- | --
0209 | GS1 identification keys | GS1, a global organization. | GS1 identification keys and key qualifiers may be used by an information system to refer unambiguously to an entity such as a trade ite