[2016-01-18 12:41] markbrough commented on #272
I think it would be a very welcome thing if industry forks started using something very close to Open Contracting as a data exchange language. If they had some slight deviations from OCDS (to cover some pieces of information that may or may not be of wider interest), it would be a good thing for them to publish the new schema or codelists rather than be legally required not to publicly disclose th

[2016-01-18 12:52] timgdavies commented on #272
Thanks all for the discussion here: really really useful (albeit I think we all recognise we're mostly dealing with hypothetical edge cases, given the limited bite that license terms are actually having on behaviours in practice...).

So - dropping the Creative Commons ND seems to have been strongly argued for. This leaves two options:
1. Simply use MIT / CC-BY
2. Create a custom license based on

[2016-01-18 15:38] ekoner opened #289 "Dealing with multiple identifiers"
How do we deal with the situation a tender or contract has multiple identifiers?
For example:
- Procuring entity tender / contract identifier
- Procurement system tender / contract identifier
- Other identifers for example Contract Finder

[2016-01-18 15:49] jpmckinney commented on #272
The advantages of MIT and CC-BY are that they are well-known, popular, clear licenses. With W3C (and any derivative we adopt), people need to carefully read and interpret the license. CC-BY 4.0 is a carefully researched international license; I don't know if we'll meet that. Another pro for MIT or CC-BY is that they are open licenses, which may be important in terms of public perception.

Of cours

[2016-01-18 17:02] markbrough commented on #272
Still don't see these kinds of legal barriers as being ultimately advantageous. In the [industry example I gave above](https://github.com/open-contracting/standard/issues/272#issuecomment-172518101), I'm not sure why you would want to prohibit them from publishing the schema they've used for data exchange. Arguably my IATI codelists translation example would also fall foul of such a clause. I thin

[2016-01-18 17:12] jpmckinney commented on #272
@markbrough +1

[2016-01-18 17:17] timgdavies commented on #272
I see the restriction as a protection in the edge-case against adversarial actors, and if modelled on W3C clauses which are widely used, unlikely to cause any extra legal barriers in the day-to-day.

Procurement data is a different landscape from the aid data landscape, or indeed the 311 civic issue reporting landscape - and one in which there isn't always as collaborative a community of stakehold

[2016-01-18 17:23] jpmckinney commented on #272
@timgdavies :+1: considering some vendors have a lot of government clients.

[2016-01-18 17:34] markbrough commented on #272
I don't see how the clause would provide any significant protection against adversarial actors. If a vendor wanted to do something like Open Contracting but different (why?), they could make up their own entirely different standard in order to avoid it being seen as derivative. (Incidentally, in the aid data world there are also large vendors with significant market power; I don't see the two case

[2016-01-18 17:43] bill-anderson commented on #272
On a more philosophical note, IATI tackled this as a pragmatic political problem - this played both to IATI's  strength (getting political buy-in for a multi-stakeholder initiative) and its weakness (technically sloppy). OCDS, I believe, should find a better balance, but it is a balance nevertheless. Technical purity  is not what will build traction and usage.

[2016-01-18 17:56] timgdavies commented on #272
So - talking only about the narrow W3C style ND clause here ("publication of derivative works of this document for use as a technical specification is expressly prohibited"), without this, I understand that the following is possible:
- Governments ask vendors to provide OCDS compliant output from their systems;
- Vendors want to push a particular data structure they use, over one that has been agr

[2016-01-18 18:26] markbrough commented on #272
I think the example @timgdavies provides is helpful.

In the case where a vendor falsely / fraudulently claims that what they are doing is "OCDS compliant", I think there are a couple of options:
1. the individuals monitoring vendors' implementation of these standards could be given tools to validate the data themselves, if they want to check the quality of the data produced by the vendor.
2. sepa

[2016-01-18 19:13] markbrough commented on #272
Actually, reflecting on this again, the ND clause probably wouldn't provide much protection against bogus implementations of the standard as it would only kick in if a vendor provided technical documentation, not just the data. That seems to be unlikely if a vendor is really providing a bogus implementation (they can just refuse to distribute the documentation). Also, presumably even without trade

[2016-01-18 23:24] mk270 commented on #272
The ND clause seems to prohibit the creation of an F# type provider based on automatic reflection of codes and structures programmatically extracted from standard but subject to some kind of trivial but necessary transformation. I don't see why you'd want to put this kind of use-case in legal doubt.

[2016-01-19 17:01] timgdavies opened #290 "Should OCDS propose an API standard?"
A number of APIs are currently being developed to serve up OCDS data - each adopting their own approach.

The current documentation includes recommendations on data discovery, but stops short of proposals on how to construct an API.

This thread is for discussion of existing APIs and whether or not OCDS should propose common approaches for APIs.

[2016-01-20 10:33] timgdavies commented on #245
The `scheme` field for `publisher` in the release and record package also includes a `"format":"uri"` property, which incorrectly causes format validation to reject string scheme values.

This should be fixed in 1.0.1 bug fix release.

[2016-01-22 03:55] myroslav opened #291 "Multiple ContactPoints"
We have need to specify contact points for different languages. According to https://schema.org/ContactPoint there is `availableLanguage` just for the purpose. That extension to OCDS is not a problem.

However we need Organization to have multiple ContactPoints. According to https://schema.org/Organization there is `contactPoint` that "Supersedes contactPoints.". In the Google.Org example (see fir

[2016-01-22 10:34] kindly commented on #291
I always thought that contactPoint should be singular i.e express the "main contact".
I also do not like the mixture or arrays or single elements in the same field.  Also if an extension changed this it would be very confusing for the data consumer.
My opinion would be (even though its different to schema.org) would be to add an extra field "additionalContactPoints" which is an array.  This is muc

[2016-01-26 17:25] timgdavies commented on #291
We discussed this today, and I would agree that `additionalContactPoints` as an array is the OCDS way to capture these, with the OCDS standard `contactPoint` element used either for a primary contact point, or to state that users should consult the full list of contact points, providing a URL to where these can be found.

[2016-02-03 08:30] timgdavies opened #292 "Multi-source budgets"
In both PPP and infrastructure projects, we are seeing cases where users want to express multiple budget sources. For example, finance from government, private sector, and international development banks.

Our current approach to budget does not adequately capture this.

[2016-02-04 19:47] gabelula commented on #200
We are having the same discussion in the case of Mexico City data. The issue is that is not an extension of the contract but there are some contracts that are multianual(multi-year). The same contract is used for different years (with a maximum of 4 years). We know if the contract is multianual in the budget part. We need some fields to know if this contract is multianual and how many years. We al

[2016-02-04 20:52] woodbine commented on #200
The critical distinction here is being able to identify whether there is a)
a right to extend in advance of that option being chosen, b) whether or not
that extension option was exercised and c) when any extension option might
expire.

As Gabriella points out, there's also a question about whether there are
multiple extension options.

There's also an historical perspective where we might want to

[2016-02-05 09:00] timgdavies opened #293 "Modelling multi-year contracts (budget, award, contract)"
From @gabelula in at https://github.com/open-contracting/standard/issues/200#issuecomment-180020438

Can you point to an example of existing data on a contract like this?

My first thought is to ask whether this could be modelled using multiple awards and contracts.

For example, could it be represented such that:
- The buyer awards the right to receive the contract every year for up to four years

[2016-02-05 09:01] timgdavies commented on #200
I've broken this out into a separate issue at #293.

[2016-02-05 12:30] AlCollier commented on #200
Ian I largely agree but think we need to be careful about regarding extensions as distinct, binary options. There is often such a binary option ("at the end of the  initial term the contract may be extended by two years") but equally there may be a right to extend the contract by up to x years, in as many tranches as the parties agree.

-----Original Message-----
From: "woodbine" notifications@git

[2016-02-05 13:03] woodbine commented on #200
Agreed. Didn't mean to be over-simplistic, just feel we should make sure we
successfully separate what are essentially plans, from actual actions.

Ian

On 5 February 2016 at 12:30, Al Collier notifications@github.com wrote:

[2016-02-08 10:44] ekoner opened #295 "Null values in enum for contract status and award status"
The schema does not current accept null values for contract or award status. What is the best way forward, taking into acount the use of null in the merge strategy?

[2016-02-09 17:20] ekoner opened #296 "Milestone Status is missing a description"
All codelists featured in http://standard.open-contracting.org/latest/en/schema/codelists/ except Milestone Status have a description. Is this an oversight?

[2016-02-09 17:31] ekoner opened #297 "Currency codelist has incorrect external link"
The [Currency codelist](http://standard.open-contracting.org/latest/en/schema/codelists/) is described as:

"OCDS uses the ISO 3-letter currency codes maintained in ISO 4217"

The link points to wikipedia, shouldn't it point to http://www.iso.org/iso/home/standards/currency_codes.htm?

Could we also make the description more contextual, a la:

"Release Tag

A contracting process may result in a nu

[2016-02-09 17:36] ekoner opened #298 "Method codelist description is inconsistent"
The [Method codelist](http://standard.open-contracting.org/latest/en/schema/codelists/#method) is described as:

"The method codelist is based upon the GPA Definitions provided here."

Other codelists provide some context, for example:

"Release Tag

A contracting process may result in a number of releases of information over time. These should be tagged to indicate the stage of the contracting pr

[2016-02-12 09:13] timgdavies commented on #296
I think this was because they were felt to be self-explanatory. But for consistency, descriptions would not harm.

[2016-02-15 14:27] timgdavies commented on #295
The enum lists in the schema should be updated to allow null values.

[2016-02-15 14:32] timgdavies commented on #248
Ok - renaming this to statusDetails and pushing to 1.1 discussions.

[2016-02-15 14:34] timgdavies commented on #247
The mis-use in question is found in the schema itself, so should be corrected there.

I can look at tidying this up as part of the bug fixed schema.

[2016-02-15 14:36] timgdavies opened #300 "Publisher schema in package requires URI"
See #245.

https://github.com/open-contracting/standard/blob/1.0/standard/schema/release-package-schema.json#L36 and https://github.com/open-contracting/standard/blob/1.0/standard/schema/record-package-schema.json#L24 should allow the schema to be a string, and should not require a URI.

[2016-02-15 16:54] Bjwebb opened #301 "Specifying versions and extensions in package meta-data"
Update: **See [full proposal below](https://github.com/open-contracting/standard/issues/301#issuecomment-247793820)**

---

This maybe shouldn't be a problem for 1.x, as changes should be backwards compatible, but at some point it's likely that data users will want to know what version of the standard a file has been published to.

This could be a `version` key, or using the `$schema` key with the

[2016-02-15 18:20] timgdavies commented on #272
Thank you to everyone for the contributions to this thread.

A draft of the updated governance document, based on feedback is available at http://standard.open-contracting.org/1.0-adding-governance/en/support/governance/ and is going for final review from the OCP.

This does not yet address in full the license issue, although we have an updated proposal on that based on all the comments here which

[2016-02-15 18:30] timgdavies commented on #272
We recognise the need to update the license for the OCDS schema from Creative Commons 4.0 BY-ND - as the no-derivatives clause here goes beyond the intended purpose of protecting the integrity of the schema.

We have looked at a variety of license options, threats to the standard, and ways of dealing with this (including community pressure, and rights over the Open Contracting name, alongside lice

[2016-02-15 18:44] jpmckinney commented on #272
Assuming the Apache 2.0 License applies effectively to documentation (I only know of its use for software), then it seems reasonable to me.

[2016-02-16 02:08] gabelula commented on #293
The issue is that there is no new contract created every year. We have one contract that works for all the years (maximum four).

CDMX is proposing:

[code]

[2016-02-16 10:54] markbrough commented on #272
@timgdavies using the Apache License seems like a very sensible proposal to me.

Thanks for taking into account suggestions in this thread, looking into different licenses and for proposing this alternative!

[2016-02-16 14:49] myroslav opened #302 "Semantics and field values for ContactPoint.avalableLanguage extension"
This ticket is about extension to OCDS in multilingual environments, and ability to specify language of communication for Organization Contact.

schema.org [ContactPoint](https://schema.org/ContactPoint) has [availableLanguage](https://schema.org/availableLanguage) field that contains [Language](https://schema.org/Language) explained as:

I.e. the field contents is verbose name of language.

Since

[2016-02-16 15:12] ekoner commented on #302
My inclination would be towards consistency and to continue using the 2 character values. Other thoughts are around an array of availableLanguage rather than a single availableLanguage to model both mono and multi-lingual contacts. However, this needs a more in-depth think through, so I will raise it for review.

[2016-02-16 16:24] mk270 commented on #272
@timgdavies the use of Apache licensing overcomes my objections with invigorating brutality, thank you!

Echoing @jpmckinney 's point, licences designed for code, for data, or for prose text tend not to work well outside their anticipated domain of applicability, so I'd certainly be interested in knowing how well the Apache licence works as applied to text - is there any existing literature on thi

[2016-02-18 17:06] timgdavies commented on #302
Good question. I notice that schema.org also has the [inLanguage](https://schema.org/inLanguage) property, which points to either [Text](https://schema.org/Text) or [Language](https://schema.org/Language) objects, but which has the description _"Please use one of the language codes from the IETF BCP 47 standard. Supersedes language."_

(ISO 639-1 is a sub-set of BCP 47)

That leads me to think tha

[2016-02-18 17:40] timgdavies commented on #293
I think these proposals can be accommodated. In terms of how to model this, some suggestions below.

## Contract

So the `contract.period` should have startDate and endDate for the whole period

An optional `"multiYear":true` field could be added to the `period` block (see below).

This should be in the `contract.value` block.

If there is then a desire to show the break-down of amounts for each y

[2016-02-18 20:58] gabelula commented on #293
Great! The only other thing that CDMX wants to add is the value for all the years (in the budget and also for all the contracts)

`

[code]

`

[2016-02-22 11:16] timgdavies commented on #301
Agreed this would be useful. What are the pros and cons or using version or `$schema`.

I believe @kindly had noted some issues with how validators use the `$schema` property.

[2016-02-22 11:25] timgdavies commented on #293
If there is only one contract entry being produced, then I would suggest this should be handled the other way around:
- The largest value (valueAllYears) should go into `value`, and then a separate property created for the specific year value (same pattern with the budget)

This ensures that tools which are not aware of the extended property can understand the full commitment that has been made to

[2016-02-22 11:26] timgdavies commented on #293
(Aside: some of this is reminding me of the '[planned disbursements](http://iatistandard.org/201/activity-standard/iati-activities/iati-activity/planned-disbursement/)' model in IATI, where planned future transactions can be mapped out... I wonder if an adaptation of [transactions](http://standard.open-contracting.org/latest/en/schema/reference/#transaction) might also be useful here?)

[2016-02-23 16:27] Bjwebb commented on #295
Many of the enum lists already allow null. Contract and award status don't so I've changed that in https://github.com/open-contracting/standard/commit/6427e3157646089bde9219b1976332562a4ae5bc

`tag` and `initiationType` also don't allow null, but they're required so don't have the same merging usecase. I suggest we leave those as they are.

[2016-02-23 16:37] Bjwebb opened #303 "The versioned release schema should be consistently sorted"
This would allow more easily understood diffs of that schema.

[2016-02-24 11:44] Bjwebb commented on #303
Looks like https://github.com/open-contracting/standard/issues/285#issuecomment-171366799 may also solve this.

[2016-02-26 14:05] myroslav opened #308 "New property of contract: supplier"
Is there sense to add supplier to `Contact`? Very much like `Award.suppliers`, for Contract to be self-contained, even if there is no `awardID`?

[2016-02-26 18:33] timgdavies opened #310 "Worked example of Framework Contracts for documentation"
Requested by a user.

[2016-02-29 14:39] timgdavies opened #311 "OCDS Schema Bug Fixes: comment period"
Ahead of the [start of the 1.1 upgrade cycle, for OCDS](https://groups.google.com/a/open-contracting.org/forum/#!topic/standard-discuss/I20-s5_UCko), we are looking to address a couple of outstanding bugs in the schema which have come to light through documentation updates and recent use of the standard.

These are covered in the list below, and in [Pull Request 305](https://github.com/open-contra

[2016-03-01 13:53] Bjwebb commented on #311
I've also added a small codelist description change (originally from https://github.com/open-contracting/standard/pull/307) to [Pull Request 305](https://github.com/open-contracting/standard/pull/305), and mentioned this in "(3) Minor documentation fixes" above.

[2016-03-01 14:41] KrzysztofMadejski commented on #290
Of course! API standarization is just the next step of opening data.

Together with K-Monitor and other partners we're going to enhance http://www.redflags.eu/ portal, providing OCDS compliant data through API, so it would be good to join forces before starting development.

@timgdavies Could you provide a list of existing APIs / projects being developed?

I guess API should be built on top of mor

[2016-03-01 14:50] KrzysztofMadejski opened #312 "Documentation error: broken link on merging"
http://standard.open-contracting.org/latest/en/getting_started/releases_and_records/getting_started/schema/merging.md

is 404-ing on http://standard.open-contracting.org/latest/en/getting_started/releases_and_records/

[2016-03-01 15:14] caprenter opened #313 "Documentation Error: Ordered list"
In this section:
http://standard.open-contracting.org/latest/en/schema/merging/?highlight=merge#merging-rules

I think we should have bullet points 1 - 4 instead of 1,2, 1,1

[2016-03-01 15:42] Bjwebb commented on #312
Looks like this should link to http://standard.open-contracting.org/latest/en/schema/merging/

I'll fix this next week, to go live with some other planned documentation fixes.

[2016-03-02 10:00] timgdavies commented on #313
Assigning Ben to capture in other quick documentation fixes next week.

[2016-03-02 10:03] timgdavies commented on #308
See issue #249 and the related proposal there for reasoning around this.

If you want to add a +1 to the idea of including contract.suppliers in 1.1 that would be welcome.

Closing this issue as a duplicate.

[2016-03-02 10:03] #308 closed, assigned to nobody

[2016-03-04 15:35] timgdavies commented on #204
Josh Powell at Development Gateway has flagged this as an important issue also.

[2016-03-04 18:42] timgdavies commented on #290
Exiting news on RedFlags.eu - would love to collaborate around this. What's your timeline looking like? We're thinking of having some co-working time around TransparencyCamp.eu at the start of June - so perhaps a good time to connect up?

In terms of existing APIs:

[Open Procurement](http://api-docs.openprocurement.org/en/latest/) is a fully transactional API using OCDS building blocks, but not f

[2016-03-06 16:47] akuckartz commented on #290
No, please do not create yet another API. See this text by @RubenVerborgh :

The lie of the API
http://ruben.verborgh.org/blog/2013/11/29/the-lie-of-the-api/

[2016-03-07 11:23] KrzysztofMadejski commented on #290
@akuckartz @RubenVerborgh

`"If I really want to have unlimited json access, a developer can just write a script to convert the templated html into json. It’s not hard:"` - wrong, writing and mainting scrapers is at least very time-consuming. And if the dataset is interesting people are doing it over and over again = waste of energy

For me standardised API means scalability. We want to expand Red

[2016-03-07 11:31] RubenVerborgh commented on #290
@KrzysztofMadejski That quote is taken out of context. You present it as an argument against a machine API, which it is not. Instead, It is an argument against having representation-specific _API keys_. The point was about information accessibility, not developer usability/maintainability. Given that we're not talking about API keys here, the other arguments in my post are much more relevant to th

[2016-03-07 11:40] KrzysztofMadejski commented on #290
That's what we're planning to do (create a list of features + check existing APIs for those).

I do not want to make a new standard, but I strongly support `OCDS should propose common approaches for API` as the answer to question posed by @timgdavies in this thread.

Sorry @RubenVerborgh for scraping comment, I've missed the context (API keys to `shield off json access` are inneffective, because y

[2016-03-07 11:41] RubenVerborgh commented on #290
@KrzysztofMadejski Fully follow you there. Perhaps the title of this discussion is misleading then (I just got summoned here).

[2016-03-07 12:11] ekoner opened #314 "numberOfTenderers - No description of field name in standard"
The description of numberOfTenderers is blank here: http://standard.open-contracting.org/latest/en/schema/reference/?highlight=numberoftenderers

Other fields in this table are documented.

[2016-03-07 12:22] Bjwebb commented on #314
Looks like this is because in the schema we have `definition` instead of `description` https://github.com/open-contracting/standard/blob/1.0/standard/schema/release-schema.json#L214

[2016-03-07 14:01] KrzysztofMadejski commented on #290
@juzraai has just published RedFlags source code -> https://github.com/petabyte-research/redflags

[2016-03-07 18:56] akuckartz commented on #290
@RubenVerborgh Sorry for summoning you here. But there are not _that_ many attempts at creating an "API standard" which begin with an open debate. We will see what will happen here.

[2016-03-08 16:53] gabelula commented on #293
[code]

[2016-03-08 16:54] gabelula commented on #293
Great! The only field that I'm not so sure about is the valuePerYear in the contract section. It needs to be there for the first release but it is redundant for when we start having the implementation released.

[2016-03-08 18:00] Bjwebb commented on #313
This is now fixed on the dev site http://standard.open-contracting.org/1.0-dev/en/schema/merging/#merging-rules

[2016-03-08 18:04] Bjwebb commented on #312
This is now fixed on the dev copy of the standard site, which will be going live later this week. http://standard.open-contracting.org/1.0-dev/en/getting_started/releases_and_records/

[2016-03-11 08:50] timgdavies commented on #293
From what you are saying, and the example above, it seems to me that there is a suggestion that new `contract` blocks are going to be added each year, when the new year contracts are in place? My previous suggestion was only **if** you were not producing multiple contract blocks, updating it each year with a new entry in the contracts array.

If that is the case, then the `contract.value` in any i

[2016-03-11 17:21] ekoner commented on #141
Re-opening this issue as Mexico airport have a need to report number of disqualified tenderers as well as numberOfTenderers. This looks similar to the issue raised by Myroslav.

Have invited team to elaborate their use case.

[2016-03-15 09:41] #311 closed, assigned to nobody

[2016-03-15 09:42] #285 closed, assigned to nobody

[2016-03-15 09:42] #300 closed, assigned to nobody

[2016-03-15 09:42] #247 closed

[2016-03-15 09:42] #295 closed, assigned to nobody

[2016-03-15 09:42] #283 closed, assigned to nobody

[2016-03-15 09:43] Bjwebb commented on #313
Now fixed on live http://standard.open-contracting.org/latest/en/schema/merging/#merging-rules

[2016-03-15 09:43] #313 closed, assigned to Bjwebb

[2016-03-15 09:44] Bjwebb commented on #312
This is now fixed on the live site http://standard.open-contracting.org/latest/en/schema/merging/

[2016-03-15 09:44] #312 closed, assigned to Bjwebb

[2016-03-15 09:44] Bjwebb commented on #267
This is now fixed: http://standard.open-contracting.org/latest/en/schema/codelists/#document-type

[2016-03-15 09:44] #267 closed

[2016-03-16 20:48] joshuacpowell commented on #204
Based on the Vietnam data, I would add "Mixed" to the codelist, as a single procurement may include both goods/services. This seems reasonably applicable across countries/contexts.

[2016-03-16 20:53] joshuacpowell commented on #72
Bit of a mixed bag in the Philippines - as some items represent reasonably predictable tenders, while others represent more "shopping lists": http://www.gppb.gov.ph/monitoring/app.php

[2016-03-16 21:00] joshuacpowell opened #317 "Tender: Payment terms"
Update from @timgdavies: We are looking to include an extension for these fields in OCDS 1.1, and are currently consulting on appropriate codelists.
## Original post

(Apologies if missed elsewhere) Have been searching for an appropriate field to include details on payment terms and contract types (this may be best split into two tickets):

Payment Terms:
By milestone
By date
Lump sum
etc.

Contra

[2016-03-16 21:32] AlCollier commented on #204
Practice in the EU is that the contract is classified as either supplies, works or services - whichever element is the highest value. The term 'supplies' is used rather than 'goods' to encompass the supply of electricity, etc.

-----Original Message-----
From: "joshuacpowell" notifications@github.com
Sent: ‎16/‎03/‎2016 20:48
To: "open-contracting/standard" standard@noreply.github.com
Cc: "Al Coll

[2016-03-17 01:20] joshuacpowell commented on #33
Running into this in Vietnam, as well. I would suggest it may be frequent enough to revisit the idea of incorporating into the standard.

[2016-03-24 15:51] ekoner opened #318 "Geo-referencing concession contracts"
Related to #250

AidData and the Concessions Working Group (a TrustAfrica-facilitated network of civil society organizations in Liberia that are engaged in efforts to monitor the activities of natural resource concessionaires) have worked together over the last twelve months to systematically identify and code the attributes of all known concession contracts (approved between 2006 and 2015) in Lib

[2016-03-24 16:50] ekoner opened #319 "Validation API that connect to other platforms for validation"
Based on a publisher request, I'm creating this issue to track demand and use cases. Please add yours to this thread for consideration.

[2016-04-01 11:34] Bjwebb commented on #319
We've discussed building an API for [Cove](https://github.com/OpenDataServices/cove), the software that powers the [OCDS Validator](http://standard.open-contracting.org/validator/). There's potentially two parts to this. One is a JSON REST api to get the data the validator currently returns on the HTML page https://github.com/OpenDataServices/cove/issues/320. The other would be to make Cove access

[2016-04-04 18:12] tlacoyodefrijol opened #320 "Can't build"
When I rund the build_docs.sh script I get the following error.

`Traceback` (most recent call last):
  File "/Users/oscar/Documents/standard/.ve/bin/sphinx-build", line 9, in <module>
    load_entry_point('Sphinx==1.3.5.dev-20160404', 'console_scripts', 'sphinx-build')()
  File "/Users/oscar/Documents/standard/.ve/src/sphinx/sphinx/**init**.py", line 51, in main
    sys.exit(build_main(argv))
  F

[2016-04-05 10:39] Bjwebb commented on #320
Looks like this is an issue with certain locales on a mac - http://bugs.python.org/issue18378 - (I'm guessing this is on a mac due to the paths).

Here's a suggestion for fixing this - http://conda.pydata.org/docs/troubleshooting.html#issue-valueerror-unknown-locale-utf-8-on-os-x - @tlacoyodefrijol could you give that a go?

[2016-04-12 09:14] timgdavies commented on #77
There is now a translation framework in place for the documentation using Transifex: https://www.transifex.com/OpenDataServices/open-contracting-standard-1-0/

Spanish language is implemented at http://standard.open-contracting.org/latest/es/

Versioning issues have been addressed in the workflow.

There is work-in-progress on the CoVE tool which should offer the ability to use translated column t

[2016-04-12 09:14] #77 closed

[2016-04-13 11:22] timgdavies commented on #317
Sorry for the slow reply on this. I don't think we do have a good field for this now, so definitely something to discuss for 1.1 / extensions.

[2016-04-13 11:24] timgdavies opened #322 "submissionMethod: Deprecate codes"
Updates to the submission method codelist are proposed for version 1.1 of OCDS.
## The issue

Submission method is an open codelist which currently includes:
- electronicAuction
- electronicSubmission
- written
- inPerson

This appears to mix up the mode of submission (online, post, in person), with the way the process is run (auction or otherwise)
## Proposal

This codelist should be updated base

[2016-04-18 10:42] ekoner commented on #290
As part of our ongoing commitment to improving the OCDS, we are hosting an online community discussion around api specification.

**When**:
    Tuesday, 26 April 2016 from 14:00 to 15:30 (BST)

Please sign up via Eventbrite: https://www.eventbrite.co.uk/e/ocds-api-specification-community-discussion-tickets-24734366155

[2016-04-18 18:16] AlCollier commented on #317
The NEC3 contract has the following options:

NEC3
https://www.neccontract.com/Products/Contracts/Engineering-Construction-Contract/NEC3-Engineering-and-Construction-Contract-ECC/NEC3-Engineering-and-Construction-Contract-Option:
Engineering and Construction Contract Option A priced contract with
activity schedule
https://www.neccontract.com/Products/Contracts/Engineering-Construction-Contract/NEC

[2016-04-19 06:15] ekoner commented on #317
Thanks Al for the clarification. I've added this to the agenda for extensions / version upgrade discussions.

All the best,

Edafe Onerhime
OCDS Helpdesk

[2016-04-27 13:32] ColinMaudry commented on #190
@juanpane May I be in the loop of the work you plan to undertake to create this JSON-LD context? I was planning to do it myself, but I could give a hand to an existing initiative. I do it in the frame of a pre-study to open public contracting data in France.

From a 5-minute study I did of the existing JSON Schema, I really think using OWL is overkill and that RDFS would do the job just fine, with

[2016-05-03 23:57] gabelula commented on #293
We are trying to model the case when there is only going to be one contract for all the years (when the contract is multi-year).

Yes. We are agreeing on not modifying the definition of the fields that are already present in the OCDS.

In the case of multiyear there is only one award .

There are case when there are many contracts for a multi-year but is not the one we are having trouble modeling.

[2016-05-05 08:57] kindly commented on #286
Fixed in new documentation

[2016-05-05 08:57] #286 closed, assigned to nobody

[2016-05-05 09:18] kindly commented on #280
This is fixed in new documentation.

[2016-05-05 09:18] #280 closed

[2016-05-05 09:29] kindly commented on #291
Closing this issue as its a duplicate of #266.

[2016-05-05 09:29] #291 closed, assigned to nobody

[2016-05-05 09:29] kindly commented on #266
Please look at the closed ticket #291 for more discussion, but that has been closed at its the same issue as this one.

[2016-05-05 09:44] kindly commented on #244
Link to relevant description:
https://github.com/open-contracting/standard/blob/1.0/standard/schema/release-schema.json#L789

[2016-05-05 14:52] timgdavies opened #323 "Standard should specify use of UTF-8 for encoding JSON"
See https://github.com/OpenDataServices/cove/issues/344

[2016-05-05 15:14] akuckartz commented on #323
Maybe you can require I-JSON conformance. See https://tools.ietf.org/html/rfc7493

[2016-05-05 15:59] timgdavies commented on #323
+1 to using I-JSON.

[2016-05-11 13:38] kindly opened #325 "Add publisher field (release schema)"
Optionally a record/release should be able to have embedded within it the following properties.
- packageURI
- publishedDate
- publisher
- license
- publicationPolicy

This is important for API usage where all the releases/records do not belong to the same package or even belong to the same publisher. This is important as the API user should have easy access to this information (especially things

[2016-05-11 14:26] kindly opened #326 "schemaExtensions property to release/record"
At the moment there is no way you can tell if a particular extension is being used on a release/record.  This would be useful know for the data consumer and for any API interface to the data.

To solve this, we can add an extra property on a release/record, that specifies what extensions have been used.

A new schemaExtension definition could contain:
- jsonPatchUrl (This is useful as any consumer

[2016-05-11 14:47] kindly opened #327 "OCDS Extension JSON Schema"
It may be useful to define a new schema to define an OCDS extension.   This would be outside the release/record structure.

This could simplify #326 as it would mean in that you would only have to supply a list of OCDS extension URLS in a release/record.

It could look like

[code]

[2016-05-11 14:54] kindly commented on #326
Another option to this could be to consider having extensions have their own JSON schema #327

This would mean we could simplify the definition in a release record to:

[code]

[2016-05-12 08:47] timgdavies commented on #223
On the issue of assessment processes, just spotted http://compranetfacil.com/plataforma-nacional-de-transparencia-segunda-etapa which presents structured information on the bid process. May be relevant to this thread, or to related extensions.

[2016-05-12 13:53] duncandewhurst opened #328 "Update documentation with guidance on inclusion of check digit in CPV id"
The current documentation for Item Classification Schemes ([here](http://standard.open-contracting.org/latest/en/schema/codelists/#item-classification-scheme)) does not specify whether the check digit should be included when using CPV ids.

In the current sample data some examples include the check digit and some exclude the check digit (e.g. lines 53 and 60 [here](https://github.com/open-contract

[2016-05-16 10:43] kindly commented on #208
This is essentially complete. Any issues from new documentation should be raised in separate ticket.

[2016-05-16 10:43] #208 closed

[2016-05-16 10:51] kindly commented on #168
more detail can be found #284

[2016-05-16 10:51] #168 closed

[2016-05-16 11:02] kindly commented on #167
This should be an issue inside particular merge tools.

[2016-05-16 11:02] #167 closed

[2016-05-16 18:23] timgdavies commented on #297
I believe when we did this the ISO link provided no access to a machine-readable version of the codes.

I see that they now provide this at http://www.currency-iso.org/dam/downloads/lists/list_one.xml which is linked from http://www.iso.org/iso/home/standards/currency_codes.htm

I propose that we update the text to:

"The currency for each amount should always be specified using the uppercase 3-le

[2016-05-16 18:28] timgdavies commented on #19
We are thinking for 1.1 about wider updates to amendment which this may form part of.

In Canada's current data, they include semi-structured information in the rationale field for amendments, providing a single release with a history of past changes, as in the example below from a `contract` block:

[code]

[2016-05-16 18:32] timgdavies commented on #33
It would be useful to get examples of any existing supply-side data including tender pricing information.

@joshuacpowell Is there an example from Vietnam of the structure of data that is held?

We need to track down the example from Nepal Lindsey mentions and include it in this thread.

[2016-05-16 19:04] timgdavies commented on #35
Version 1.0 of the standard has an `eligibilityCriteria` field which is a free text field for describing the eligibility of bidders. This meets the original use-case from the standard for checking the length of eligibility criteria descriptions.

I've been looking through issues, and thinking over cases we've encountered, to find any other requirements for **structured** eligibility criteria date.

[2016-05-16 19:06] timgdavies commented on #328
I would suggest we follow the official guidance and include the check-digit. Proposal is to update the documentation accordingly.

[2016-05-17 04:44] joshuacpowell commented on #33
Based on Vietnam, I would suggest perhaps 3 fields
1) Fee required Y/N?
2) Fee type (participation or bid doc acquisition)
NOTE: This is because in some cases/countries you can acquire the bid docs for free, but must pay a fee in order to submit a bid, while in other countries you must pay just to acquire the bid docs
3) Amount of fee (currency, amount)

You could also consider adding payment meth

[2016-05-17 08:06] duncandewhurst commented on #33
I believe [this](http://eproc.dor.gov.np/tender_details.php?tid=51282) is the example from Nepal.

The bid documents are available to download free of charge at the bottom of the page but the fee must be paid for submission (either electronic or hard copy).

[2016-05-17 08:14] timgdavies commented on #40
Related to #190 and #217

[2016-05-17 08:52] timgdavies commented on #217
As I understand, this depends upon the development of an ontology to work, so is blocked by #190. Closing for now, as any work on this would emerge from the onotology work.

[2016-05-17 08:52] #217 closed

[2016-05-17 08:58] timgdavies commented on #36
This may be possible to handle with the proposed 'Features' extension from #223

[2016-05-17 09:03] timgdavies commented on #70
@kindly Can you review this conversation - and consider if there is anything we can do with data from CoVE (OCDS Validator) or any other tools to analyse current usage of properties across the standard, and to identify properties currently heavily or lightly used.

This may also be something @ekoner could explore through a sprint of research on our existing data.

[2016-05-17 09:06] timgdavies commented on #72
We have work to do to better understand, and document, how the planning section should be used.

This may also involve some extensions to the planning section.

[2016-05-17 09:10] timgdavies commented on #84
We have `awardCriteriaDetails` to allow more detailed local specifications of `awardCriteria`. However, our codelist currently lacks definitions for each term, giving only titles:
- lowestCost - Lowest Cost
- bestProposal - Best Proposal
- bestValueToGovernment - Best Value to Government
- singleBidOnly- Single Bid Only

@LindseyAM Can you point us to a source for definitions against this code lis

[2016-05-17 09:19] #219 closed

[2016-05-17 09:20] timgdavies commented on #112
Moving in comment from @myroslav in #219:

[2016-05-17 09:20] timgdavies commented on #112
The next task here is to carry out more in-depth research into how taxes are modelled in any existing data.

[2016-05-17 09:22] timgdavies commented on #116
@kindly Could you have a look at what tests we have in already, and if there is more we should do on this?

[2016-05-17 09:28] timgdavies commented on #147
This should be worked up as a proposal for new fields in the 1.1 upgrade process.

[2016-05-17 09:32] timgdavies commented on #166
@kindly Could you check what we currently say about encoding for both CSV and JSON, and perhaps work up a proposal for what we should state in future?

I recall we recently had some issues with JSON encoding that this issue may relate to also.

[2016-05-17 09:38] timgdavies commented on #179
A bit of research is needed to take this forward to understand examples of contracts with review dates, and:
- whether a contract only ever has one review date, or might have multiple review dates;
- how review dates might be used in analysis of contracts;

This _might_ be related to discussions on #200 about extensions to contracts.

[2016-05-17 09:40] timgdavies commented on #183
This may relate to the API discussions. Closing, but tagging @kindly who might want to take note of this for API issue tracker.

[2016-05-17 09:40] #183 closed

[2016-05-17 09:41] myroslav opened #329 "Float for Item.quanity"
Sometimes there's need to purchase exact `4567.76 kg` of some substance, and these 760 grams are essential.

There is possibility to specify volume as `4567760 grams`, but gram is less common way to specify Unit in that class of Items.

Should we let `float` be specified in `Item.quantity`, or stay with `integer` and insist on conversion of units on producer and consumer sides?

[2016-05-17 09:42] timgdavies commented on #184
Potentially related to #179 and #200  - and also to work on related contracts in #130

[2016-05-17 09:44] timgdavies commented on #189
We're currently working on updated write-up of extensions process. Assigning to @kindly to consider in initial draft - and will then share things here for further discussion.

[2016-05-17 09:44] timgdavies commented on #192
This was addressed in the updated documentation and examples are being developed on an ongoing basis.

[2016-05-17 09:45] #192 closed

[2016-05-17 10:02] timgdavies commented on #194
I've been [looking at the codelist again](http://standard.open-contracting.org/latest/en/schema/codelists/#method), which includes:
- Selective - Selective tendering means a procurement method whereby only qualified suppliers are invited by the procuring entity to submit a tender
- Limited - Limited tendering means a procurement method whereby the procuring entity contacts a supplier or suppliers

[2016-05-17 10:06] timgdavies commented on #206
Closing as no activity in the last year.

May be related to #190 for any future ontology work.

[2016-05-17 10:31] joshuacpowell commented on #194
Reviewing Vietnam data, there is a specific category for "appointed contractor" which would match to sole source/single supplier. This is distinct from pre-qualified or other selective/limited bidding. Would tend to favor the second proposal (I believe USG, World Bank, and others also track instances of sole sourcing, distinct from other types of limited/selective bidding).

[2016-05-17 13:37] LindseyAM commented on #33
There is a difference between bid submission fee and price of bid docs. In either case, this seems like an extension

[2016-05-17 13:39] LindseyAM commented on #36
I think there was a related comment from myroslav in a different thread #254

[2016-05-17 13:56] LindseyAM commented on #254
[Procurement Monitoring Guide - Final - Interactive PDF.pdf](https://github.com/open-contracting/standard/files/268334/Procurement.Monitoring.Guide.-.Final.-.Interactive.PDF.pdf)

See annex 1 page 94

[2016-05-18 10:53] timgdavies commented on #184
Renewal is also an issue in relation to licenses (see #207)

[2016-05-18 10:53] kindly commented on #166
I think we should say

**JSON**: Only support UTF-8
**CSV**:  Support UTF-8 and windows-1252

The reason for windows-1252 is that it is hard to export CSV files in any other encoding from excel.  Other spreadsheets software make UTF-8 easy or standard.

This will need to be added to docs somewhere as far as I can tell there is no guidance on this.

[2016-05-18 10:54] timgdavies commented on #211
As we look at 1.1 upgrade process, feedback on this issue would be appreciated.

[2016-05-18 10:55] #212 closed

[2016-05-18 10:55] timgdavies commented on #212
This was fixed in the documentation updates earlier this year, so publication levels now cover all stages.

[2016-05-18 10:57] timgdavies commented on #214
## Proposal

The [current guidance text here](http://standard.open-contracting.org/latest/en/implementation/levels/#how-to-publish-5-approach) which reads:

And add the line:

"As much information as possible should be accessible without requiring users to to register or log-in."

[2016-05-18 10:58] timgdavies commented on #216
Closing as no activity for 10 months. Can be re-opened if there are worked up user stories or examples that show what implications this would have for the standard.

[2016-05-18 10:58] #216 closed

[2016-05-18 11:23] kindly commented on #116
We should probably test the [examples](https://github.com/open-contracting/standard/tree/1.0/standard/example) in the docs, to see if they validate.  I think it will too hard to write a parser for markdown to grab the other example jsons out of the docs directly.

[2016-05-18 12:38] kindly opened #330 "Update release schema to be coherent with merging specification"
As mentioned in #284 a compiledRelease in an OCDS record has the same schema as a standard OCDS release.
However, some of the fields, most notably the release ID and date, make no sense once compiled and they are also mandatory.  This means it is not possible to make a compiled release that makes sense and validates.

The best approach would be to make a new sightly modified version of the OCDS re

[2016-05-18 13:16] timgdavies commented on #328
We notice that TED data through the web interface does not display the check-digit.

Need to check if underlying data contains the check-digit or not.

[2016-05-18 13:35] timgdavies commented on #220
Proposal is to add this to the documentType codelist in 1.1

[2016-05-18 15:12] timgdavies commented on #230
For the time being we're not looking to take forward codelists in SKOS or via PoolParty, so closing this issue - but it might be something we can come back to in future.

[2016-05-18 15:12] #230 closed

[2016-05-19 06:49] timgdavies commented on #218
There is work done against Flatten Tool at https://github.com/OpenDataServices/flatten-tool/issues/101 which can generate small templates.

We have also been working on an [updated mapping spreadsheet template here](https://docs.google.com/spreadsheets/d/18D9S1VANvtDf51UAplrqEdjpNk2ecToQiUJPtu_F3xU/edit#gid=1236945927) (work in progress) which takes a more editorial approach to the mapping spreads

[2016-05-19 08:10] timgdavies commented on #218
Views are welcome on the updated mapping spreadsheet. In particular:
- Does it help to break-down the mapping process into stages for planning, tender, award, contract and implementation;
- Does it work to include documents directly as part of the mapping spreadsheet;
- What columns are needed for the mapping itself (right now we have a field lookup, and notes)

[2016-05-19 08:14] timgdavies commented on #222
This is also an issue in #293 around multi-year budgets, where the publishers want to provide a more detailed breakdown to budget over years.

In the case of EU data, we also see interest in knowing whether a project has been funded by EU funds.

In version 1.0 of the standard, we anticipated that budget information would be handled primarily by separate standards, such as the [fiscal data package

[2016-05-20 10:31] timgdavies commented on #272
Thank you to everyone for your input on license, and apologies for the long delay in sharing an update. The Open Contracting Partnership has also sought wider input into the licensing issue, with advice from licensing experts in industry.

A record of the issues [considered are in this discussion note](https://docs.google.com/document/d/19hOemLBymPLl7WnNYJ_N3zCCnaJvBBlHm55nCfONH_k/edit#heading=h.u

[2016-05-20 10:31] #272 closed

[2016-05-20 12:47] timgdavies commented on #227
Picking up on this issue, and reflecting more, I wonder if another option is to update milestones as of 1.1 of the standard to add a new property named '`milestoneType`` with a definition along the lines of "Used to distinguish milestones related to contract planning and formation, delivery and reporting".

And we then have a codelist with the following values:
- planning - For events during the p

[2016-05-20 12:48] timgdavies commented on #228
@bjwebb @kindly Could you have a glance at whether we can easily modify the scripts that generate these tables to address this issue?

[2016-05-20 12:49] timgdavies commented on #229
We can't currently see a way of changing language which does not involve a backwards-incompatible change, so this would have to go on the stack for a 2.0 update right now.

[2016-05-20 12:50] timgdavies commented on #232
@kindly Can you have a look at this issue and discuss with @bjwebb to identify if some action is required?

[2016-05-20 12:52] #234 closed

[2016-05-20 12:52] timgdavies commented on #234
Closing as linked to #223 and will be handled there.

[2016-05-20 12:53] timgdavies commented on #237
Views welcome on the implications of making awardID an array.

[2016-05-20 12:54] #239 closed

[2016-05-20 12:54] timgdavies commented on #239
We have now strengthened the documentation and in #218 are working on updates to the mapping spreadsheets to help clarify releases and records.

We will continue to work on this, but closing this issue for now as no specific action arising from it.

[2016-05-20 12:56] timgdavies commented on #238
We recently participated in CEN-BII event and wrote up the learning here: http://www.open-contracting.org/2016/03/11/standards-eservices-and-open-contracting-in-the-eu/

Keeping an eye on CEN-BII developments, but no concrete action from this issue right now - so closing.

[2016-05-20 12:56] #238 closed

[2016-05-20 12:57] timgdavies commented on #240
There is work underway on this mapping. Work to date is documented at https://timgdavies.github.io/ocds-ted/ and we'll be updating soon with more updates, and hopefully a full extension.

@duncandewhurst is taking the next pass of mapping.

[2016-05-20 12:58] timgdavies commented on #242
Has anyone been working on this? Any interest in future work on this?

[2016-05-20 13:00] timgdavies commented on #243
Views on the importance of this for version 1.1 would be welcome

[2016-05-20 13:13] kindly opened #335 "OCDS Extension proposal (using JSON Merge Patch)"
Extending the standard is a very common request from publishers.  At the moment the approach is to allow extra fields in the JSON and to document these changes.  We also encourage people to generate and [propose extensions](http://standard.open-contracting.org/latest/en/schema/conformance_and_extensions/#extensions) and produce a JSON Patch of the changes.  However we have not fully formalised how

[2016-05-20 13:17] timgdavies commented on #244
I suggest we stage this for fixing as soon as we start on edits to 1.0-dev schema

[2016-05-20 13:36] Bjwebb commented on #245
I don't think this has been fixed. The change in 1.0.1 doesn't address the underlying issue.

[2016-05-20 13:38] timgdavies commented on #245
Ah - sorry. Yep. Is there a non backwards-incompatible update we can make here in 1.1?

[2016-05-20 13:45] Bjwebb commented on #245
I'm not sure there is for 1.1, as renaming is backwards incompatible. There's the option of adding the new "correct" fields and deprecating the older ones, but that's probably more confusing than the current situation.

[2016-05-20 13:46] timgdavies commented on #329
The proposal to change to a float makes sense to me. Moving this into discussion for 1.1 upgrade.

Again a quick questions for @bjwebb on whether this would be a backwards compatible change to make?

[2016-05-20 13:55] Bjwebb commented on #329
JSON schema's equivalent of a float is `number`. From http://json-schema.org/latest/json-schema-core.html#anchor8 this is "Any JSON number. Number includes integer.", so the change would be backwards compatible.

[2016-05-20 14:01] timgdavies commented on #246
There seems to be an uncontroversial change here of updating the description to:

"A releaseID must be unique within the scope of it's related contracting process (ocid), and unique within any release package it appears in."

in 1.1. This is in-line with the guidance we have been giving publishers, and I'm not aware of any data which does not respect this principle.

[2016-05-20 14:05] timgdavies commented on #248
The phrase "The reason that the award did not suceed will be given in the statusDescription field." has been removed from the codelist in 1.0.1 bugfix release.

Views for, or against, inclusion of `statusDetails` in 1.1 are welcome.

We would need to see interest in this field, and examples of data that would fill it, to take forward.

[2016-05-20 14:08] timgdavies commented on #251
@bjwebb Could you have a quick check on whether this issue has been addressed, or needs to be taken forward into 1.1?

[2016-05-20 14:10] timgdavies commented on #252
This will go forward into the first round of 1.1 updates unless objections are raised.

We will document which case we are recommending, so that any comments can be raised at that point.

[2016-05-20 14:45] kindly opened #336 "Codelist properties in schema"
This is a proposal to add new properties in JSON Schema to point to relevant code list and specify if it is an open codelist.

Lets take [award criteria](http://standard.open-contracting.org/latest/en/schema/codelists/#award-criteria) as an example.  It is an open codelist.  The schema for it should then look like

[code]

So there should be two extra properties added to the JSON schema.
- codelis

[2016-05-20 14:51] timgdavies commented on #335
Having discussed this with @kindly I'm in favour of the shift to JSON Merge Patch and the new extension structure.

I will have a go at porting an existing extension to this new structure shortly.

[2016-05-20 14:58] timgdavies commented on #336
The rationale for this is that it would enable validators to more effectively validate data.

We considered including codes in the schema as enum lists, but this has issues around flexibility of the codelists, which may need to be updated outside the schema upgrade cycle, and challenges around validating open codelists from enum lists.

[2016-05-20 14:59] #255 closed

[2016-05-20 14:59] timgdavies commented on #255
We [updated the documentation on OCIDs in Feb](http://standard.open-contracting.org/latest/en/schema/identifiers/) and will be working on registration processes as part of wider updates to the workflow for support.

[2016-05-20 15:00] timgdavies commented on #249
Views on this proposal are welcome.

[2016-05-20 15:03] timgdavies commented on #259
There is also a need to better define what this field means and when it should be used.

Hopefully work on #70 will surface existing uses that could inform more decision making here.

[2016-05-20 15:08] timgdavies commented on #261
Revisiting this issue, my sense is that this could be handled in two ways:

(1) Publishing releases & records

(2) Including a document with a `documentType` of `tenderNotice` and with a `publishedDate`.

So I would consider there are already good ways to handle this. If we strengthen the encouragement to include documents in validation tooling, and tenderNotice is seen as an important document, t

[2016-05-20 15:08] #261 closed

[2016-05-20 15:49] mk270 commented on #272
@timgdavies your flexibility was much appreciated

[2016-05-21 08:29] kindly commented on #327
closed because of #335

[2016-05-21 08:29] #327 closed, assigned to nobody

[2016-05-21 08:30] kindly commented on #326
closed because of #335

[2016-05-21 10:42] timgdavies commented on #271
This should be updated to link to http://fiscal.dataprotocols.org/

However, there may be a wider discussion around how we handle budget in 1.1. - https://github.com/open-contracting/standard/issues/345

[2016-05-21 10:43] timgdavies commented on #303
@bjwebb Can you confirm if this is covered by #285, and if so, close this issue?

[2016-05-21 10:44] #320 closed, assigned to Bjwebb

[2016-05-21 10:44] timgdavies commented on #320
I believe this was successfully resolved. Closing issue.

[2016-05-23 09:34] myroslav commented on #249
In fact we'd included it in our contracting module already as [`suppliers` attribute of `Contract` object](http://contracting.api-docs.openprocurement.org/en/latest/standard/contract.html), as well as in [Tendering module](http://api-docs.openprocurement.org/en/latest/standard/contract.html).

[2016-05-23 11:51] timgdavies commented on #268
I think we want to say something about ensuring that text fields only contain plaintext, and not HTML formatting etc.

However, open to views on this. Is this something we should make explicit in 1.1?

[2016-05-23 11:52] timgdavies commented on #276
@gabelula Any update on what the CDMX data actually contains here? Do they now use multiple dates?

Others: any other use-cases for multiple dates?

[2016-05-23 11:58] timgdavies commented on #284
@kindly Is this relevant in our proposed replacement or mergeStrategies?

[2016-05-23 11:58] timgdavies commented on #287
Related to #284

[2016-05-23 11:59] timgdavies commented on #288
I would support this proposal.

[2016-05-23 12:21] timgdavies commented on #150
Related to #264

[2016-05-23 13:13] LindseyAM commented on #335
This is great. At what point would we update documentation to better guide users?

[2016-05-23 13:22] timgdavies commented on #335
We should highlight this early in the upgrade process. If there is consensus, we would adopt this model for 1.1-dev, and then it would be formally adopted in 1.1.

[2016-05-23 14:14] Bjwebb commented on #336
For comparison, here's how IATI describes the mappings between fields and codelists https://github.com/IATI/IATI-Codelists/blob/version-2.02/mapping.xml, which is similar except that it's separate to the schema (mostly I think because we weren't sure of the best way of including it).

Possibly of interest is how fields that can have codes with different vocabularies are described: https://github.c

[2016-05-23 20:16] gabelula commented on #276
They are not using multiple dates. Depending of the payment method they are doing this:

Transfer - date that the transfer is being applied
Check - date that the check is being checked out

[2016-05-24 08:33] duncandewhurst commented on #144
The National Council for Voluntary Organisations raised a question to the helpdesk regarding support for subcontracting (specifically payments to subcontractors) in OCDS and made the following comment:

"charities (and SMEs more widely) increasingly deliver public services as sub-contractors so the availability of payment data with unique identifiers etc is crucial. I’d like to better understand t

[2016-05-24 14:30] markbrough commented on #272
+1 on the useful discussion note and very happy with the outcome! Thanks @timgdavies

[2016-05-26 13:00] patxiworks commented on #190
Based on work we're doing on [Budeshi](http://www.budeshi.org) and similar projects, there are suggestions to deploy RDFS/OWL (JSON-LD is also a possibility) to link datasets more coherently. I've gone through the discussions here and it doesn't look that there's been a lot of traction so far. I'll be happy to join forces with anyone interested in this – or have someone join me on it.

I only just

[2016-05-26 15:12] chrisalexsmith commented on #194
I also prefer the 2nd option and would redefine Limited as follows - "Limited tendering means a procurement method whereby the procuring entity contacts a number of suppliers of its choice".
Sole sourcing is distinct from the other two in that there is no competition at all and the award is totally at the discretion of the procuring entity with no inbuilt checks from a competitive exercise. This r

[2016-05-29 07:39] akuckartz commented on #290
@ekoner What are the results of that discussion?

[2016-05-31 11:03] chrisalexsmith commented on #194
The UNCITRAL Model Law on Public Procurement distinguishes single source procurement from other methods of procurement which involve some form of competition.

This is also the case with the WB Guidelines as follows:
Direct Contracting
http://go.worldbank.org/F405XROF00
3.7 ... Direct contracting without competition (single source) may be an appropriate method under the following circumstances:
(a

[2016-05-31 15:58] ekoner commented on #290
@akuckartz following our community call, there's been interest in an api specification, so we've decided to go ahead with formalising this. A github repo will be set up specifically for discussions on api specification. In the meantime, please review or contribute to the specification document here: https://docs.google.com/document/d/14Zb5ZMYlLhhjf0c5JqhI7GxZ0umaa2qtdvTweGDmUik/edit?usp=sharing

[2016-05-31 19:02] AlCollier commented on #194
I agree. The distinction between a direct award with no competition, and a
limited competition, is an important one.

On Tuesday, 31 May 2016, chriscrownagents notifications@github.com wrote:

[2016-06-01 18:23] gabelula commented on #277
**@timgdavies**

This are all quite important questions. Right now we need to decide where to add the exchange rate in the CDMX's case.  The issue here is that when signing the contract they negotiate a FIX exchange rate that will work for the future when the transaction happens. We need to know what was the negotiated exchange rate and for which day.

"value": {
       "amount": 429000,
      "ex

[2016-06-03 13:17] timgdavies commented on #277
Thanks @gabelula - this is really helpful. I've looked again at [FPML](http://www.fpml.org/) and at both [UBL](http://docs.oasis-open.org/ubl/os-UBL-2.1/UBL-2.1.html) and [FIBO](http://www.edmcouncil.org/semanticsrepository/index.html) for inspiration for modelling exchange rates in the ways you describe above, but not found anything.

Below I try to recap current use cases, and the options we hav

[2016-06-03 14:13] gabelula commented on #277
Yes. I agree that the modelling option 1) seems the better one:

[code]

Why to use altAmount ? That is an amount that can be calculated using the exchangeRate and amount.

Is the altCurrency the sourceCurrency?  I would change to have the currency be 'USD' and other name like destCurrency or something more clear.

[code]

[2016-06-03 14:16] agm3dc opened #337 "Change definition of "tenderer" to enhance clarity"
OCDS defines "tenderer" as "All entities who submit a tender."

This could refer to the agency that submits a tender to which the public responds. It could also refer to the bidder that bids on the call for proposals or whatever the opportunity may be.

I'd propose clarifying the definition of "tenderer" so that it refers to "All entities who submit a bid on a tender." This seems to be the true in

[2016-06-03 14:25] timgdavies commented on #277
In the discussion above, the feeling was that specifying the exchange rate was not always required, so there might be situations in which:
- Only exchange rate is given
- Only altAmount is given
- Both exchange rate, and altAmount are given

I was trying to avoid adding semantics such as 'local currency', or 'destination currency' which may not be relevant in all cases where multiple currencies ar

[2016-06-03 14:49] timgdavies commented on #337
This is a good suggestion, and does, in my view, capture the correct intent of the category.

Flagging for the 1.1 upgrade.

Also logging in case useful for any discussion that the EU use the category "economic operator" as a super-set category that I believe includes buyer, bidders, and parties who have not bid, but may have expressed an interest in doing so. We might need to keep the abstraction

[2016-06-03 18:21] timgdavies commented on #250
AidData have been doing some work which may be relevant to consider in finalising proposals here.

[2016-06-07 12:41] kindly commented on #290
There has been a start made to an API standard:

https://github.com/open-contracting/api-specification/

It is its in very early stages, but provides a framework for work on progressing this.  It is based on feedback by looking at existing OCDS API implementations, other similar API standards and the community discussion.

All information is in the README.md of that repo and it is also the start o

[2016-06-10 13:50] timgdavies opened #338 "Adding extra explanation to the validator"
Some users have reported confusion over what the OCDS validator is doing.

We need to look at improving the explanation of the validator to explain that:
- It is checking whether **the fields that have been provided** are **technically valid** and formatted correctly;
- It is checking for a few mandatory fields, required for technical re-use of the data;
- It is **not checking completeness** of th

[2016-06-10 13:51] timgdavies commented on #338
Suggested language from Lindsey: "If you give us more complete data, you will get more complete feedback."

[2016-06-10 15:18] timgdavies commented on #190
Just spotted @ColinMaudry's repository at https://github.com/ColinMaudry/open-contracting-ld as an initial workspace on this.

@ColinMaudry How is progress? Still something you are actively working on? Perhaps we can help by hosting a community call in June/July around this?

[2016-06-10 18:02] ColinMaudry commented on #190
It is something I definitely want to do, but I ideally would like to develop a tool that creates a JSON-LD context from a JSON Schema. This way, that would work with any JSON SChema.

OCDS JSON Schema is quite big, and I consequently think it's smarter to spend time making a tool.

I also may get funded for it. I will know more on Monday.

[2016-06-10 19:19] duncandewhurst opened #339 "Develop a self-service OCID prefix generator"
A simple web based tool to generate OCID prefixes to replace the current OCID prefix request process via the helpdesk.

The tool should also capture name, organization and contact details for the publisher.

Some publishers have also requested the ability to link OCID prefixes for national and sub-national publishers from the same country.

[2016-06-11 01:04] timgdavies commented on #190
@ColinMaudry Thanks for the update. Generating this programatically from the schema sounds like a really good approach.

I believe (though we might need to check carefully) that where OCDS re-uses terms with the same name as e.g. schema.org or dcterms our semantics are similar, which might mean a tool could look for matches of term names against well known vocabularies and suggest re-use of these

[2016-06-11 09:51] ColinMaudry commented on #190
@timgdavies Also, I don't expect this tool to make a 100% JSON-LD context. As you say, one has to set his preferred ontologies, etc. However, that would save a lot of time.

I've set up a repo and added you as a collaborator, so that you can create issues and stuff (feel free to reject if irrelevant).

https://github.com/ColinMaudry/schema2context

[2016-06-11 10:05] ColinMaudry commented on #190
@patxiworks I just read your comment more carefully, and I think there is some confusion in the concepts, opposing JSON-LD and OWL/RDFS:
- RDF is the standard data model, with triples, properties, etc.
- OWL and RDFS are two possible schemas to base an RDF ontology, OWL being anchored on more powerful (and more complex) logic rules
- JSON-LD is just a possible serialization for any RDF data (be it

[2016-06-11 11:35] patxiworks commented on #190
@ColinMaudry thanks a lot for the clarification. I think I'm getting to understand the concepts better, thanks also in part to my playing around with different tools.

I'm trying to put together an OWL ontology that matches the OCDS schema (including field descriptions as comments). It's mostly manual work at the moment but that's probably what I need to get my hands dirty with this stuff.

Per yo

[2016-06-12 14:00] timgdavies opened #340 "Add download option to Google Docs data tables in documentation"
Via @dc-coder

![image](https://cloud.githubusercontent.com/assets/342624/15991574/703c1290-3084-11e6-808d-1a50d57ce2b4.png)

[2016-06-12 14:04] timgdavies commented on #340
Good suggestion. Links to #339 which should see a new tool for managing these IDs in the longer-run, but over the short-run we should be able to add links to CSV versions of these sheets.

Until the next round of docs updates, you can [fetch the sheet shown above at this URL](https://docs.google.com/spreadsheets/d/1Am3gq0B77xN034-8hDjhb45wOuq-8qW6kGOdp40rN4M/pub?gid=506986894&single=true&output=cs

[2016-06-12 14:05] timgdavies opened #341 "Suggestion: Add mapping and assessment templates to docs"
From @dc-coder at https://github.com/open-contracting/open-contracting.github.io/issues/8

[2016-06-12 14:07] timgdavies commented on #341
We are looking to add the resources to the Open Contracting website resource library, and provide links across from here.

[2016-06-13 00:37] timgdavies commented on #179
The open corporates license schema discussed in #207 uses the property 'renewal_date'

[2016-06-13 01:29] timgdavies commented on #154
This has not come up again. Closing but can re-open if still and issue for anyone.

[2016-06-13 01:29] #154 closed

[2016-06-13 01:44] timgdavies commented on #20
We've not found further demand for structured data to distinguish different process types.

The original proposal in this issue of using free text in the titles/descriptions appears to work.

Closing - but can re-open if future demand.

[2016-06-13 01:44] #20 closed

[2016-06-13 01:52] timgdavies commented on #204
In #65 @jpmckinney pointed to classification of contracts as "subsidy, a professional services contract, property-related etc. in Montreal"

[2016-06-13 01:56] timgdavies opened #342 "Overall contracting process description (discussion)"
This issue is being considered for updates to core in the 1.1 release of OCDS.
## The issue

In #65, @jpmckinney pointed to the case of Montreal Gazette in which it would be useful to have an overall `description` field at the individual release level (e.g. parallel to `planning`, `tender` etc.)

## The proposal

`release.description` and `release.title` fields should be added to allow for a free-

[2016-06-13 01:58] timgdavies commented on #65
Reviewing these issues for 1.1.

Opening an issue for this at #342

This is picked up in #150 and #264

This is picked up in #204.

This appears to me to be an edge case - and one that could be modelled with milestones.

Awards can have documents

Award now contains a `contractPeriod` property.

We have work planned on budget modelling.

[2016-06-13 01:58] #65 closed

[2016-06-13 02:02] timgdavies commented on #113
This is likely to be explored as part of PPP extension work

[2016-06-13 02:03] #76 closed

[2016-06-13 02:03] timgdavies commented on #76
We have not had further demand for XML over the last year. Closing. Can re-open if requested.

[2016-06-13 02:07] timgdavies commented on #116
Agreed. All examples should now come from the examples directory anyway.

[2016-06-13 02:09] timgdavies commented on #196
@lmarchessault could you suggest an improved definition for hasEnquiries?

[2016-06-13 02:18] jpmckinney commented on #342
The Gazette database isn't the only source that mixes multiple descriptions into one field. Without a top-level description, this information would have to be manually broken out into descriptions for each stage - and for no particular gain. I don't see how it not being populated is a concern - that can be said for any optional field in OCDS.

[2016-06-13 02:20] jpmckinney commented on #204
For the full quote:

[2016-06-13 13:57] mireille-raad commented on #77
Can we add Romanian to the available translations on transifex? (for the Moldova project we are doing)

[2016-06-14 09:16] ekoner commented on #77
@dc-coder that's done, I've emailed you.

[2016-06-14 11:27] kindly commented on #232
Another solution:

c)
If you want to remove an object just supply the id only in that object and no other fields.

Original release:

[code]

To remove item 2:

[code]

which results in this:

[code]

I would say this is neither inelegant or cluncky but could be considered counter intuitive and have a small chance of happening by accident.

[2016-06-16 04:55] gabelula commented on #293
Hi, here there is an example of a release that is using this new fields.

Validator's link: http://standard.open-contracting.org/validator/data/18c81e4d-a4af-4832-885b-ec828ff5ca88

Release: https://github.com/gabelula/mx-ocds/blob/master/data/20160618/OCDS-87SD3T-SEFIN-DRM-AD-011-2015.json

[2016-06-16 13:10] timgdavies commented on #293
Thanks @gabelula

Two quick things to check:

(1) Could you use amountYear / valueYear instead of amountyear and valueyear

This would be more consistent with the camelCase approach in OCDS files.

(2) Can you

In the example I see that `amountYear` is a much higher value than `amount` and `valueYear` much higher than `value`.

I understood that `valueYear` would be the value of the contract in th

[2016-06-16 14:08] timgdavies opened #343 "Transaction labels - providerOrganization receiverOrganization"
From a recent working with the World Bank Open Contracting Team:

[2016-06-17 07:58] ekoner opened #344 "OCDS Version Number in OCDS Releases"
As a data analyst, the version number in the OCDS release would confirm which version of the schema the release was compiled against. It would allow me to distinguish between a release at a lower version from errors in a release at a higher version.

[2016-06-17 08:05] Bjwebb commented on #344
Is this the same issue as https://github.com/open-contracting/standard/issues/301 ?

[2016-06-17 11:47] timgdavies opened #345 "Review links with Budget Data Package / Fiscal Data Package"
In the current version of OCDS we have a very simple budget block, and which talks of linking out to the 'Budget Data Package' for more in-depth information.

However, Budget Data Package has been superseded by the [Fiscal Data Package](https://github.com/openspending/fiscal-data-package) which [does not currently have the concept of a transaction identifier](https://github.com/openspending/fiscal

[2016-06-17 14:56] timgdavies opened #346 "OCDS 1.1 Upgrade - Proposal cut-off date - 6th July"
Version 1.0 of the Open Contracting Data Standard (OCDS) was launched in November 2014. Over the last 18 months countries, cities and civil society groups across the world have worked on adopting OCDS, and as a community we've been learning even more about the kinds of structured disclosures of information that can increase understanding and engagement around the whole contracting process.

OCDS i

[2016-06-20 12:33] timgdavies commented on #345
If we do stick with Budget Data Package, we need to update links in the schema, as https://github.com/openspending/fiscal-data-package/blob/master/specification.md no longer exists.

[2016-06-20 13:02] Bjwebb commented on #345
Previous issue about that link - https://github.com/open-contracting/standard/issues/271

[2016-06-21 09:04] timgdavies commented on #223
From [research into the kinds of information contractors find useful at debrief state](https://washingtontechnology.com/pages/insider-reports/debriefings-and-bid-protests.aspx):

[2016-06-22 09:39] ekoner commented on #290
Closing - please continue discussions in the new repo above.

[2016-06-22 09:39] #290 closed, assigned to nobody

[2016-06-23 09:58] timgdavies commented on #144
Updated EU forms may capture list of known subcontractors in an award release.

When their are lots, it is important to know which lot has been subcontracted to which subcontractor

[2016-06-23 16:43] Bjwebb commented on #326
I don't think this should be closed, because even with the new extension setup, we still need a way of linking to an extension from a release/record.

Since we can link to the extensions `extension.json`, the suggestion in https://github.com/open-contracting/standard/issues/326#issuecomment-218484653 should still work.

I've been moving the proposed location extension over to the new extension for

[2016-06-24 14:06] timgdavies commented on #344
Yep - duplicate of #301

[2016-06-24 14:06] #344 closed, assigned to nobody

[2016-06-28 01:45] yank07 commented on #206
Hello @timgdavies . We are Software Engeeniering students(with @camilobaezcamba ) of @juanpane. We are working in an ontology for OCDS based in the PPROC Ontology, and other experiences like PC, LOTED and LOTED2. We have already made a research of the state of art, and now we are working with the conceptualization of the domain of OC.

We will be glad if you can give  us a hand with the work. Our

[2016-06-28 01:49] yank07 commented on #190
Hello @timgdavies . We are Software Engeeniering students(with @camilobaezcamba ) of @juanpane. We are working in an ontology for OCDS based in the PPROC Ontology, and other experiences like PC, LOTED and LOTED2. We have already made a research of the state of art, and now we are working with the conceptualization of the domain of OC.

We will be glad if you can give us a hand with the work. Our p

[2016-06-28 08:50] timgdavies commented on #190
@yank07 @camilobaezcamba Great to hear about this. How can we best help? We're happy to take a look at any work in progress, or if you think useful, to convene a community conversation around this.

[2016-06-28 08:53] timgdavies opened #347 "documentType codelist descriptions and examples"
The documentType codelist is currently missing descriptions for a number of documents.

In 1.1 these descriptions should be provided.

We should also consider creating a supporting resource with examples of documents, or more information about the features that these documents might contain.

[2016-06-28 11:20] ColinMaudry commented on #190
@yank07 @timgdavies @camilobaezcamba Same here, I would be happy to give a hand.

[2016-06-29 09:48] ekoner commented on #206
Hello @yank07, I work with @timgdavies on the OCDS helpdesk and am happy to have a chat about your work. You can email us at data@open-contracting.org to arrange a call.

All the best,

Edafe

[2016-06-29 14:14] yank07 commented on #206
Ok! I will be in touch.

thanks!

[2016-06-30 08:41] timgdavies commented on #190
With the growing interest in developing a Linked Data representation of OCDS we thought it would be useful to have a community call when all of those working on linked-data related OCDS topics can get together to share their work, and discuss possible ways forward.

We propose to hold this in late July/early August. There is a poll to find at time for that here:

https://doodle.com/poll/t8xz6uvfcp

[2016-06-30 20:08] mireille-raad commented on #253
We had the same issue/story in Moldova. For example: http://etender.gov.md/contracte

![moldova-neg-values](https://cloud.githubusercontent.com/assets/521705/16502491/ac8b1b4a-3edc-11e6-8b2b-8b8db82a8548.PNG)

It will be good to get some guidance on how those negative numbers affect the charts showing "total values" of contracts for example.

I hope this can be finalized in 1.1 :)

[2016-06-30 20:13] mireille-raad commented on #260
This will be useful from an "Open contracting" perspective to identify subset of companies to drill into their contracts.

[2016-06-30 20:29] mireille-raad commented on #346
Will there be an "upgrade guide" ? or any upgrade tool?
An upgrade tool can work like the validator: you give it an OCDS formatted json and it checks if there are fields in your data that you need to change or add to.
The goal would be to make the upgrade process more smooth and remove the steps of having to read tedious documentation. This will be useful since not everybody publishes all the fiel

[2016-06-30 21:53] mireille-raad commented on #177
This question on units re-surfaced recently in one of the missions with Marcela. Let me know if you need help researching this topics with colleagues and see if there best practices.

[2016-07-02 11:20] CountCulture commented on #181
I think "Type" is a bit of a misleading label -- I might read type to mean legal form, or whether it's profit/non-profit. What's being discussed here appears to be more of a classification than a type, and more than that a classification that is jurisdiction-specific (or maybe even agency/domain-specific). For example, I have a feeling the UK SME classification is subtly different from the EU (alt

[2016-07-02 22:14] jpmckinney commented on #181
[W3C Registered Organization Vocabulary](https://www.w3.org/TR/vocab-regorg/) uses `orgType` to mean "SA, PLC, LLC, GmbH etc." (Aside: in terms of terminology, in OCDS we've avoided abbreviations – so it'd become `organization_type` – and we also avoid repeating the class name before the property name – so it'd then become `type`.)

I think to resolve the issue @CountCulture addresses, we can use

[2016-07-03 13:32] timgdavies opened #348 "Making documentType an array"
At present the [documentType](http://standard.open-contracting.org/latest/en/schema/reference/#document) property is a string, with an [open codelist](http://standard.open-contracting.org/latest/en/schema/codelists/#document-type).

This means a single documentType can be given for each referenced document.

In looking at PPP use-cases, we are finding one single document may contain the informatio

[2016-07-03 13:33] timgdavies commented on #346
@dc-coder This is definitely something we could consider developing.

[2016-07-03 15:28] timgdavies commented on #253
As we take this forward, I can envisage two cases:

**(1) Where negative amounts are as a result of adjustments**

**(2) Where negative amounts are as a result of payments due to government**

It strikes me we should try and make sure we are explicit about these different cases.

@dc-coder In the Moldova examples above, how should the negative amounts be interpreted?

[2016-07-03 15:29] timgdavies commented on #177
@dc-coder Support on looking into this would be great.

[2016-07-04 14:51] kindly commented on #326
@Bjwebb agreed yes this was exactly what was intended and forgot this was not recorded anywhere.

The only slight difference in my thinking was to link to the extension url path not the extension.json file
i.e

[code]

This gives people the option of not having an extension.json file.

[2016-07-05 18:11] timgdavies opened #349 "Tenders as array for PQQ processes?"
Based on reflections from reading [PPP Disclosure Framework](http://www.worldbank.org/en/topic/publicprivatepartnerships/brief/a-framework-for-disclosure-in-public-private-partnership-projects) and looking at EU forms:

A procurement process may involve a Pre-Qualification stage in which parties are invited to participate in a qualification process, submitting documents by a particular date, and b

[2016-07-05 20:32] AlCollier commented on #349
Hi Tim worth bearing in mind that there may be n stages, not just two. Open
procedure may involve the two stages you describe being compressed into one
exercise - with similar questions to those typically asked in a PQQ being
used to eliminate some candidates before the rest of the tender is
evaluated. Conversely a competitive dialogue in the EU involves a PQQ, then
may have multiple independent r

[2016-07-06 11:08] SimKennedy opened #350 "Including estimated contract dates/duration in tender block."
Apologies for the late submission.

I've noticed many tenders include contract start/end dates and/or duration which doesn't seem to have a place in the schema yet but is quite important information when available.

[Due North](https://procontract.due-north.com/Advert?advertId=d1f64f22-1537-e611-8114-000c29c9ba21&p=2241eb95-058a-e511-80f7-000c29c9ba21)

[Contracts Finder](https://www.contractsfind

[2016-07-08 13:16] timgdavies commented on #346
We are now starting on prioritisation of issues. Over the next two weeks we'll be working to synthesise a proposed priority list to take forward in the upgrade process. This will then be fed back for comment.

[2016-07-12 17:37] timgdavies commented on #277
Looking at data on the approval of the Red Compartida PPP in Mexico, which sets out projected private sector investment in the project, there is a note that

This may point to another use-case for exchange rate information, being able to know the year at which exchange was calculated, even if the rate itself is not given.

The question would be whether structured data version of this has value, or

[2016-07-13 15:06] timgdavies commented on #350
This is definitely needed in a number of cases, and I think would best belong in tender.

I would lean towards using simple `tender/contractPeriod` as the value, with either:
- An explanation that this should be interpreted as the estimated date, as it appears in the tender;

or
- Extending `period` to include some sort of `status` field with a codelist, such that you could have:

[code]

[2016-07-14 19:13] timgdavies opened #351 "Provide full list of fields in documentation to support mapping"
I currently have [a script here](https://github.com/timgdavies/OCDS-mapping-sheet) which I use to generate a simple CSV file with a row for each possible field in OCDS, and columns for:
- jsonpath
- title
- description
- type
- instances
- validation
- further documentation

This is useful when constructing mappings between OCDS and other data structures, and is something we should provide as part

[2016-07-18 23:25] jalbertbowden commented on #190
is it too late to sign up and lurk? poll is closed, so i don't see anywhere that i can add my name/edit the content...

[2016-07-19 08:38] duncandewhurst commented on #190
@jalbertbowden not at all, the call is scheduled for July 29th 10am EST / 3pm BST, please join the standard-discuss@open-contracting.org mailing list and we'll circulate the agenda and WebEx details nearer the time, you can also leave a comment on the doodle poll if you wish.

[2016-07-20 11:49] duncandewhurst opened #352 "Multiple buyers"
At present the **buyer** property of a release is a single object rather than an array of objects.

This means each contracting process has a single buyer associated with it.

Some publishers run single contracting processes with multiple buyers. This gives rise the following scenarios:

**Scenario 1**
The [budget](http://standard.open-contracting.org/latest/en/schema/reference/#budget) for the pr

[2016-07-20 12:30] gabelula commented on #352
I really like this approach! I will talk with CDMX about it. Thanks

[2016-07-21 14:22] agm3dc opened #353 "Create field for congressional or legislative district"
There appears to be no clear field that could pertain to congressional or legislative district. Such a field could be included in: award.suppliers.address; buyer.address; tender.tenderers.address; tender.procuringEntity.address

[2016-07-21 14:25] timgdavies commented on #353
Is the intention of this:
- The district of where the goods or services are to be supplied?
- The district where the suppliers are located?
- The district of the funding entity?

Can you give some examples of how this would be used, or cases where there is demand for it?

[2016-07-21 14:48] duncandewhurst commented on #352
@timgdavies are you happy with this approach?

[2016-07-21 14:54] agm3dc commented on #353
I've just been informed that there's a likely project location extension upcoming. I would move for the congressional district field to be included under that project location.

The most clear-cut use case would be determining geographic beneficiaries of government procurement. Imagine a map that shows wealthy congressional districts in the US receiving far higher procurement dollars than the poor

[2016-07-21 17:17] timgdavies commented on #353
Yes - the [location extension (new format) can be found here](https://github.com/Bjwebb/proposed_location_extension)

This includes a `deliveryLocation` at the `item` level which can have a gazetteer based classification of locations (e.g. treating list of congressional districts as a gazetteer) which would be appropriate for this.

The same location object could also be attached to suppliers - al

[2016-07-21 17:24] AlCollier commented on #352
Worth thinking about the different types of 'buyer'? If it's a framework, for example, there may be buyers who are entitled to use the framework but not committed to doing so.

-----Original Message-----
From: "Duncan Dewhurst" notifications@github.com
Sent: ‎21/‎07/‎2016 15:48
To: "open-contracting/standard" standard@noreply.github.com
Subject: Re: [open-contracting/standard] Multiple buyers (#35

[2016-07-21 18:20] timgdavies commented on #352
@duncandewhurst Could you mock up an example of this to look at - as that would help give it another check-over. It would be useful to think about how this would flatten out as well.

[2016-07-21 18:35] timgdavies commented on #218
The updated mapping sheets are [now in this folder (English and Spanish)](https://drive.google.com/open?id=0B5qzJROt-jZ0cVZBM2UzR0lXb3M).

[2016-07-21 18:35] #218 closed

[2016-07-21 18:36] timgdavies commented on #218
Related issue #351

[2016-07-21 18:37] timgdavies opened #354 "Translation workflow"
At the moment we have a Spanish translation of OCDS, and a draft French translation.

We do not have a formal sign-off process for translations.

Is such a process necessary? What would it look like if so?

[2016-07-22 02:48] gabelula commented on #352
This could be an example. This one specific is only one award and different contracts for the same award. One contract per buyer. I'm  not sure how we add the organizations if we add aditionalBudgets. It makes sense that the additionalbudgets elements have the same structure as budget.

[code]

[2016-07-22 16:23] duncandewhurst commented on #352
@gabelula in your example _planning/budget/amount_ and the amounts in each item in the _additionalBudgets_ array are the same. It would be preferable for _planning/budget/amount_ to equal the sum of the amounts in each item in the _additionalBudgets_ array

I drafted some example releases below to illustrate this approach and also to show to how to capture the additional buyers.

This approach ref

[2016-07-25 16:15] timgdavies commented on #70
@ekoner has worked on a manual analysis of properties currently in use across a sample of files. This is something we will look to develop automated tooling for in future, particularly building on the new [API specification](https://github.com/open-contracting/api-specification) to support harvesting of data.

The [analysis is available here](https://docs.google.com/spreadsheets/d/1EGW9cZjpV8BD0mM

[2016-07-25 16:19] timgdavies opened #355 "Depracating milestone documents"
This is under consideration for the 1.1 upgrade
## The issue

At the moment we allow `document` objects to be associated with individual `milestone` objects.

As the implementation of properties analysis (#70) has shown, we have not seen any use of this feature in the standard, and it means that consuming applications have to look in a number of places to find all the documents that might be avail

[2016-07-25 16:22] timgdavies commented on #140
Covered in #36. `selectionDetails` was an earlier property name for the concept picked up in `evaluationCriteria`. Through the features extension we may be able to find a good structured way to capture this information.

[2016-07-25 16:22] #140 closed

[2016-07-25 16:23] timgdavies commented on #150
Will be handled in #264 during the upgrade process.

[2016-07-25 16:23] #150 closed

[2016-07-25 16:25] timgdavies commented on #195
Closing as an implementation issue for the UK likely to be handled through helpdesk, and upcoming organisation identifier work-stream of Joined Up Data Standards group (info coming soon). Can re-open if required in future.

[2016-07-25 16:25] #195 closed

[2016-07-25 16:27] timgdavies commented on #202
Question for community: are there any suggestions for codelists that could be used for cancellation reasons?

[2016-07-25 16:28] timgdavies commented on #205
This is not currently not scheduled for the 1.1 upgrade process.

[2016-07-25 16:30] #278 closed

[2016-07-25 16:30] timgdavies commented on #278
Closing as a local implementation issue for now. If other use-cases for this we can re-open.

[2016-07-25 18:12] ColinMaudry commented on #190
Hi all,

I made a productive use of my free time and translated the OCDS JSON Schema into an RDF ontology.

It's all here:
https://github.com/ColinMaudry/open-contracting-ld

I have written down a bunch of thoughts and general comments at the top of the Turtle file, so that you get a feeling of the choices I had to make, what could be improved, what I didn't understand, etc..

If you have suggesti

[2016-07-25 19:56] LindseyAM commented on #70
@gabelula can you remind us - is there documents associated with milestones in the cdmx data?

[2016-07-26 15:28] agm3dc opened #356 "Add a field tender/Bidprice"
I didn't see a ticket related to the lack of a field for bid prices. In regards to collusion detection, it's important to compare winning and losing bid prices. Additionally, it's expected that award/value/amount is negotiated and does not reflect the price of the winning bid. Incorporating a tender/Bidprice field is a high priority.

[2016-07-26 15:40] timgdavies commented on #356
There is a proposal within #197 for having a value for each bid in the bid extension / new building block, but it is useful to have this ticket to make this an explicit issue and make sure it does not get missed.

You can see an example of what we had been thinking about a `tender/bids` [array here](https://github.com/open-contracting/standard/issues/197#issuecomment-163581629).

[2016-07-27 13:18] mireille-raad commented on #341
Hey!  - I noticed that his was not assigned to 1.1 - the level of effort needed is just providing a hyperlink to the spreadsheets. (they can be google doc or direct download)

Given how important it is to have public access to assessment and mapping guides - would you consider nudging that into 1.1?

[2016-07-27 13:21] mireille-raad commented on #340
Hey! - this is marked as "ready" - will pushing the change need to wait till 1.1 is over?

[2016-07-27 13:22] timgdavies commented on #340
Nope. I'm hoping we can cover this off in some documentation updates at end end of August outside of the 1.1 process. We'll be scheduling that in over the next week.

[2016-07-27 13:27] timgdavies commented on #341
I've created a new milestone for Documentation Updates ahead of the 1.1 so we can get this covered before.

[2016-07-27 13:31] mireille-raad commented on #341
Excellent! I was wondering if the upgrade will touch on all issues or only on the ones that affect the data structure of fields in OCDS. I then saw that the 1.1 had documentation stuff in it... this is why i was slightly confused and thought to ask.

[2016-07-27 13:36] timgdavies commented on #341
Well asked - do flag any other you spot not in milestones. I'll do another pass through all the issues next week for this too.

[2016-07-27 13:39] mireille-raad commented on #341
Well, the 1.1 release is solving 97 out of total 128 issues! i don't wanna add much to your workload :)
The good thing about open-source/open-standard is that others can pitch in, so let me know if i can help with anything, even if it is documentation/boring stuff :)

[2016-08-01 10:15] KrzysztofMadejski commented on #341
Is there any other spreadsheet than the Mapping Spreadsheet? It would be great to include the whole blog post from http://www.open-contracting.org/2016/07/26/localising-ocds-translations-terminology-extension into the documentation.

I think it would fit perfctly at [Building Blocks](http://standard.open-contracting.org/latest/en/getting_started/building_blocks/) as this page is mentioned in _Gett

[2016-08-01 11:07] timgdavies commented on #341
Thanks @KrzysztofMadejski

Will see what extra we can include in the docs. We've been trying to find the balance of what lives in the main documentation (and so gets versioned, translated etc.) - and whether we need some sort of knowledge base.

Any pointers to other standards that do this well would be really welcome.

[2016-08-01 21:22] timgdavies opened #357 "Amendment handling"
This issue is under consideration for the 1.1 milestone.
## The problem

Currently the [amendment block](http://standard.open-contracting.org/latest/en/schema/reference/#amendment) is structured to contain:
- A date
- A rationale
- An array of **changes**

The changes array consists of:
- A JSON Path
- The former value found at that path

The reasoning for this structure was to:
- Encourage explic

[2016-08-01 21:33] timgdavies opened #358 "Reviewing terminology of 'procurement', 'tender' and 'process' for future-proofing standard"
## Upgrade proposal

In version 1.1 of OCDS we should look at where the word 'process' can be used in place of 'procurement' without losing the meaning of fields.
## Original issue: Clarify the use of the term 'procurement'

The term 'procurement' is widely used in the documentation, most commonly as a synonym for tender.

We should review this:

(a) To ensure we are using terms consistently and c

[2016-08-01 21:40] timgdavies opened #359 "Transaction amount vs value"
In the [transaction block](http://standard.open-contracting.org/latest/en/schema/reference/#transaction) we have transaction.amount

Everywhere else in the standard we use `value` as the keyword for monetary amounts (pointing to the amount object which contains currency and amount).

This appears to be an error, because even [IATI transactions](http://iatistandard.org/202/activity-standard/iati-ac

[2016-08-01 21:41] timgdavies commented on #359
Flagging for consideration in 1.1 - not to guarantee it can be done as part of this process.

[2016-08-02 17:12] gabelula commented on #352
Great! I just meet with CDMX about this and they also like the approach on additionalBuyers. They are going to go with this solution.

[2016-08-03 10:30] Bjwebb opened #361 "OCDS organisations have a complex id nested a level down"
Instead of `id` they have `identifier/scheme` and `identifier/id`.

This causes problems for serialisations besides JSON, like spreadsheet. In particular organisation support is currently broken in flatten-tool https://github.com/OpenDataServices/flatten-tool/issues/103

[2016-08-03 13:17] Bjwebb commented on #314
We think that this issue should be included in 1.0.2, to be released in September, because it is a bug fix.

[2016-08-03 13:17] Bjwebb commented on #271
We think that this issue should be included in 1.0.2, to be released in September, because it is a bug fix.

[2016-08-03 13:17] Bjwebb commented on #244
We think that this issue should be included in 1.0.2, to be released in September, because it is a bug fix.

[2016-08-03 13:21] robredpath commented on #236
#317 is related - contract type/payment terms info will need to be added at the lot level

[2016-08-03 13:23] Bjwebb commented on #348
The most obvious way of making change, switching from string to array is not backwards compatible.

[2016-08-03 13:24] duncandewhurst commented on #222
There is also an issue in [#352](https://github.com/open-contracting/standard/issues/352) around multiple budgets funding a framework contracting process in which an additionalBudgets array is proposed. We should consider how these issues fit together for the 1.1 upgrade.

[2016-08-03 13:26] duncandewhurst commented on #233
See also [#352](https://github.com/open-contracting/standard/issues/352) for another type of framework contract. We should also consider the types of framework contracts used by the Crown Commercial Service in the UK.

[2016-08-03 13:29] duncandewhurst commented on #260
See also [#181](https://github.com/open-contracting/standard/issues/181) for a related discussion

[2016-08-03 13:34] timgdavies opened #362 "Missing titles from the schema"
The schema is missing titles for many elements.

All those elements missing titles are indicated with a \* in column C [of this sheet](https://docs.google.com/spreadsheets/d/18D9S1VANvtDf51UAplrqEdjpNk2ecToQiUJPtu_F3xU/edit#gid=408308456).

In the majority of cases these titles can be added by using the camelCase version of the property.

Adding these in the bug fix would improve the schema docume

[2016-08-03 13:36] ekoner commented on #145
Prozorro are using Recommendation N°. 20 - ready for evaluation.

[2016-08-03 13:36] duncandewhurst commented on #292
We should consider how this fits with our approach to representing budgets from multiple government sources discussed in [#222](https://github.com/open-contracting/standard/issues/222) and [#352](https://github.com/open-contracting/standard/issues/352)

[2016-08-03 13:39] timgdavies opened #363 "Provide upgrade guide & tooling"
Based on comment from @dc-coder in #346

We should make sure the 1.1 upgrade is accompanied by:
- An upgrade guide - listing any changes that publishers will need to make to their data to be compliant with the updated schema;
- Upgrade tooling - to convert 1.0 data to 1.1 where properties have been deprecated etc.

[2016-08-03 13:40] timgdavies commented on #346
I've broken out the upgrade guide issue in #363. Closing this issue as we'll have future progress updates in their own issues.

[2016-08-03 13:40] #346 closed, assigned to nobody

[2016-08-03 13:41] robredpath commented on #270
Should this be in a TED extension so that core stays simple for everyone else?

[2016-08-03 13:42] ekoner commented on #227
Added as a proposal - pending creating upgrade schema in fork of schema.

[2016-08-03 13:45] robredpath commented on #196
This is a duplicate of #259 , I think.

[2016-08-03 13:48] duncandewhurst commented on #343
The issue is the current naming convention could be interpreted as relating to the goods or services procured rather than the flow of funds. Possible alternatives could be::
1. payerOrganization and payeeOrganization
2. fundingOrganization and recipientOrganization

[2016-08-03 13:58] robredpath commented on #317
Next steps for me:
- Work out what this would look like. Is there an existing codelist that I could use?
- See if there is demand to decide if it's core vs extension

[2016-08-03 15:17] robredpath commented on #358
With the PPP work coming up, this becomes more important. I'll take a look at this as I think it'll do me good to dive into the docs a bit more.

[2016-08-03 15:20] robredpath commented on #335
@kindly would it make sense to make this part of 1.0.2?

[2016-08-03 15:32] robredpath commented on #228
@Bjwebb mind if I take this for 1.0.2? I've looked through the code and think I can do this!

[2016-08-03 16:03] timgdavies commented on #232
Following discussion, I think we are close to consensus on [solution c](http://standard.open-contracting.org/latest/en/schema/reference/#empty-fields) from @kindly.

The reasoning for this choice is that:
- Option (a) of requiring everything to be set to null requires too much knowledge about all the fields that did exist;
- Option (b) of an explicit field to indicate deletion of an object in the

[2016-08-03 16:19] timgdavies commented on #250
There is an [updated version of the Location Extension here](https://github.com/Bjwebb/proposed_location_extension) in the new extension format.

[2016-08-03 16:20] timgdavies commented on #353
@agm3dc Hoping the location extension covers what you need.

Closing this issue for now - but do re-open if you've not found you can do what you need with location extension.

[2016-08-03 16:20] #353 closed, assigned to nobody

[2016-08-03 18:28] AlCollier commented on #343
Hi Duncan I'd be wary of "funding organisation". Often the contracting
authority is the payer, but is being funded by some other authority
So "funding organisation" is ambiguous - are they paying the contractor or
the purchaser?

Regards

Al

[2016-08-03 20:46] timgdavies commented on #196
Agreed. We can close this ticket and pick up definition issues in #259.

[2016-08-03 20:46] #196 closed

[2016-08-04 17:12] timgdavies opened #364 "Rules and guidance for re-publishers of data"
Linked to the discussion in #130 and exploration of the technical requirements for an OCID registration tool, we have been exploring whether any special fields are required to indicate that a publisher is 're-publishing' open contracting data.

E.g. when a publisher is not the original source of information, what should they do to indicate this.

This might apply to platforms like OpenOpps.com whi

[2016-08-04 17:13] timgdavies commented on #364
See also #325 which handles related issues for cases of systems republishing OCDS from multiple sources.

[2016-08-05 06:40] timgdavies commented on #190
You can find a recording of Friday's call here: https://drive.google.com/file/d/0BwlGJL2-b9HBUjJSRmV2Ry1fV0k/view?usp=sharing

[2016-08-05 19:17] akuckartz commented on #145
I would prefer links to `skos:Concept`s instead of strings.

[2016-08-05 19:20] akuckartz commented on #145
... but the QUDT ontology might be even better.

[2016-08-09 08:57] Bjwebb commented on #265
From looking at the two lists of codes there doesn't appear to be any relationship between the two. A quick google search for `"central product classification" unspsc` gives me only third party sources - there's no mention in the documentation of either of the other than I can see.

The CPC list (Central Product Classification) does have a mapping to HS 2007 and ISIC 4 though.

CPC 2.1 also has a

[2016-08-09 09:32] LindseyAM commented on #206
This also relates to the ontology work being led by the TED publication office, the work in Paraguay, the work in France, and the recent OCDS community call that was held. Maybe a reframing of the issue with the recent updates?

[2016-08-09 09:32] LindseyAM commented on #205
Extension?

[2016-08-09 09:37] LindseyAM commented on #206
Just noticed this is picked up in #190. Maybe close?

[2016-08-09 09:56] timgdavies commented on #206
Agreed. Closing.

[2016-08-09 09:56] #206 closed

[2016-08-09 15:04] timgdavies commented on #266
Related #275

[2016-08-09 15:36] Bjwebb commented on #361
Note that for the spreadsheet serialization an ID is only needed for the parent object where an array is split out to a different sheet. This means the spreadsheet representation currently only has trouble with arrays within organization - ie. currently just the additionalIdentifiers array.

[2016-08-10 09:56] ekoner commented on #298
Proposed change to the definition:

[2016-08-10 10:16] ekoner commented on #296
Proposal to either leave it blank as it is intuitive or add a description to Milestone status as:

met:

notMet:

partiallyMet:

[2016-08-10 10:21] ekoner commented on #201
Asked for thoughts from the wider community in discussion groups and via twitter.

[2016-08-10 10:52] ekoner commented on #145
Links to:
1. QUDT ontology http://www.qudt.org/
2. SKOS primer https://www.w3.org/TR/skos-primer/

[2016-08-10 11:08] ekoner commented on #84
Tracking suggestions here: https://docs.google.com/spreadsheets/d/1lHAcfSBGZJevOjH33KOv-B13Z6AG8HfSdaU9sFc7uxU/edit?usp=sharing

[2016-08-10 11:16] timgdavies commented on #343
I've been looking at:
- The [Fiscal Data Package](http://fiscal.dataprotocols.org/spec/#suggested-dimensions-for-different-types-of-spending-data)
- The [Payments Ontology](https://data.gov.uk/resources/payments#example1)

for some inspiration around terminology.

From this, I think 'payer' and 'payee' do seem to be the most general.

I think we could drop the 'Organization' part of our term name

[2016-08-10 11:17] ekoner commented on #347
Tracking suggestions here: https://docs.google.com/spreadsheets/d/1oLGD25LpOJMg5KG8Lh_BnvMgTZx2eRU6jBjvUjvKitg/edit?usp=sharing

[2016-08-11 15:38] robredpath commented on #317
So, there's two parts to this - 'payment terms' and 'contract type'

For 'payment terms', there's http://www.unece.org/trade/untdid/d07a/tred/tred4279.htm and http://www.unece.org/fileadmin/DAM/cefact/recommendations/rec17/rec17_1982_ecetrd142.pdf, but I'm not sure that's quite what we're looking for. It may be that we want to allow multiple codes to be provided to describe various aspects of the

[2016-08-12 13:17] woodbine commented on #201
This is a tricky one, market engagement for research purposes does not necessarily mean that there will be a tender to follow. So you could argue that there's no need to have a follow-up to a planning document as there was no tender to cancel. Having said that, it would be good to know more about the outcomes of a planning project. So I think that a mixture of 2 & 3, 2 would cover the withdrawal o

[2016-08-15 17:24] timgdavies commented on #221
`procurementMethodDetail` already [exists in the 1.0 docs](http://standard.open-contracting.org/latest/en/getting_started/). It appears it was a schema error that it's not in the schema.

[2016-08-16 13:44] agm3dc commented on #221
@timgdavies do you mean procurementMethodRationale? We are not aware of procurementMethodDetail in the 1.0 docs, but we agree with the rationale and support its creation. We often run into cases where the procurementMethod's closed codelist lacks sufficient specificity for our government cases.

[2016-08-16 13:58] timgdavies commented on #221
Sorry - I used the wrong docs link. At the [bottom of this page](http://standard.open-contracting.org/latest/en/getting_started/building_blocks/) you find procurementMethodDetails mentioned, and disambiguated from procurementMethodRationale.

[2016-08-22 16:26] timgdavies commented on #223
Notes from modelling [an example from the GDS Digital Outcomes and Specialists Framework](https://www.digitalmarketplace.service.gov.uk/digital-outcomes-and-specialists/opportunities/792) using  a mock up of **Features**.
- Features might belong to the 'project' or 'process' overall
- There may be 'informational' features. I.e. where it is useful to describe features that a supplier or bid should

[2016-08-22 17:03] timgdavies commented on #302
Related to #291

[2016-08-22 17:14] timgdavies commented on #276
Given CDMX are selecting one of the dates to use, and we've not heard of use-cases that need to know all the possible dates, I'm closing this and removing the 1.1 milestone.

[2016-08-22 17:14] #276 closed

[2016-08-23 10:44] timgdavies commented on #250
The current extension uses a single deliveryAddress for an item. However, I recently encountered a a consultancy contract tender which listed multiple work locations.

Should deliveryAddress allow an array, or should this be modelled by providing separate items for each location.

[2016-08-23 13:16] joshuacpowell commented on #250
This matches with our experience. For one item classification (e.g. textbook delivery) you may have dozens (or more) delivery locations. I would favor an array of locations for a single item, rather than replicating items for the primary reason of data entry error risk: if you have 100 textbooks being delivered to 10 locations, users would need to allocate the textbooks to locations. In the worst

[2016-08-23 13:49] georgneu commented on #250
The option to include multiple delivery locations does definitely meet the use case of citizens trying to monitor or track service delivery (as has come up in developing the use case for Buenos Aires). While its seems that this information is currently rarely captured in procurement systems, it could provide an opportunity to improve data quality.

[2016-08-31 10:19] duncandewhurst commented on #250
@myroslav looping you in here following our conversation on use of _items.deliveryLocation_ and _items.deliveryAddress_ in the e-Auction scenario.

The semantics of **delivery** in the property name don't work for an e-Auction where the item is being sold rather than purchased.

Could we simply use _items.location_ and _items.address_ as the property names for all scenarios and add a _description_

[2016-08-31 11:33] duncandewhurst opened #365 "How should applications consuming OCDS data order documents?"
@myroslav - further to our conversation on document ordering:

Currently the standard does not provide any guidance on how applications consuming OCDS data should order documents.

There are 3 properties of _document_ which are likely candidates for ordering:
- _id_
- _datePublished_
- _dateModified_

These properties could also be combined, e.g. order by **day** (rather than full date-time) of _d

[2016-09-05 07:56] myroslav commented on #365
In ProZorro, `Document.id` is auto-generated UUID, thus ordering by UUID is not proper option. We are versioning Documents by reusing the same `id`, and sequencing by `dateModified`, latest version is newest and considered actual.

`datePublished` is the same in all versions of a document, and is the date Document was registered in a system (i.e. published). Thus there is no way to change `Documen

[2016-09-05 09:53] timgdavies commented on #365
Thanks @myroslav.

This sounds like a good candidate for a simple extension.

[Schema.org](https://schema.org/ItemList) uses `position` as the property name for ordering elements in a list.

I prefer this to `priority` and `index` (which could have multiple meanings), and I think it it more intuitive than `weight`.

I would suggest no index value should be treated as infinity, with the option of p

[2016-09-05 12:03] timgdavies commented on #250
[UK Government standards](https://www.gov.uk/government/publications/open-standards-for-government/exchange-of-location-point#challenge) require that location information specifies the Co-ordinate Reference system being used for locations.

The way we use GeoJSON in the current OCDS location extension does not provide for specification of a Co-ordinate Reference Scheme (crs).

GeoJSON is also curr

[2016-09-13 01:00] andrewlorien commented on #250
Just starting to look into this... and to add just a little bit more complexity, Australia has our own standard which takes continental drift into account and deviates by about half a metre from WSG84.  I don't know any departments who are using this in their contracts (we have very good, very standard national street addresses, even for coal mines).
http://www.geoproject.com.au/gda.faq.html#q09

[2016-09-13 17:32] timgdavies commented on #205
This could be developed as an extension with clear use cases. We've not had strong requests for this from current publishers logged yet - but if it was worked up before the 1.1 is frozen, I believe it could make it in as a standard extension (would need to check with governance group on process there...)

[2016-09-13 17:56] timgdavies opened #366 "Unit of Measure - additional fields and codelist"
This issue is under consideration for the 1.1 milestone.

This builds on prior discussions in #145 and #177
### The problem

In OCDS it is possible to specify item.quantity and item.unit, and to indicate the value/cost per unit.

However, unit of measure (unit.name) is currently a string. This means there is no consistent way to provide a unit of measure. This impacts comparing units across contra

[2016-09-13 17:57] timgdavies commented on #145
A full proposal is now given in #366

[2016-09-13 17:57] #145 closed

[2016-09-13 17:58] timgdavies commented on #177
A full proposal has now been developed and is in issue #366

[2016-09-13 17:58] #177 closed

[2016-09-13 18:03] timgdavies commented on #335
In preparation for OCDS 1.1 we are updating our extension handling approach to use a new template for extensions, and distinguish 'standard' and 'local' extensions.

### Updated extension template

As discussed above, version 1.1 of OCDS will use:
- a new file layout for what an extension should look like. The [template is provided here](https://github.com/open-contracting/standard_extension_templ

[2016-09-13 18:04] timgdavies opened #367 "Deprecation policy"
This issue is under consideration for the 1.1 milestone.

Building on discussions in #189
### The issue

Our deprecation policy currently states (emphasis added)

This means we can currently only deprecate fields in version 2.0, and remove them in 3.0.
### What we are proposing:

Updating the deprecation policy to replace the first mention of major release with minor release.

This will allow a mi

[2016-09-13 18:05] timgdavies commented on #189
A proposal on the deprecating policy can be found in #367

Our updated approach to handling extensions, which aims to build upon the points raised in this thread, can be found at #335

[2016-09-13 18:05] #189 closed

[2016-09-13 18:09] timgdavies commented on #323
This issue is under consideration for the 1.1 milestone.

## The problem

We do not currently specify character encoding for JSON

## Proposal

We should require [I-JSON conformance](https://tools.ietf.org/html/rfc7493)

## Engagement

Engagement

Please indicate support or opposition for this proposal using the +1 / -1 buttons or a comment. If opposing the proposal, please give clear justificatio

[2016-09-13 18:11] timgdavies commented on #166
This issue is under consideration for the 1.1 milestone.

## The problem

Currently the standard doesn’t specify how CSV data should be encoded.

## Proposal

Documentation and validation tools will be updated to require either UTF-8 or windows-1252 for CSV encoding.

## Engagement

Please indicate support or opposition for this proposal using the +1 / -1 buttons or a comment. If opposing the prop

[2016-09-13 18:11] timgdavies commented on #166
Related to #323 which addresses JSON encoding.

[2016-09-13 18:15] timgdavies commented on #19
A discussion of amendment handling is continued in #357.

Work on the full proposal will take into account this issue.

[2016-09-13 18:15] #19 closed

[2016-09-13 18:21] timgdavies commented on #329
This issue is under consideration for the 1.1 milestone.

## The problem

item.quantity currently must be an integer, which means it’s not possible to specify a fractional amount. Fractional quantity makes sense for divisible units, e.g. kilogrammes.

## The proposal

Change item.quantity from integer to number.

All integers are also numbers, so existing data won’t be affected.

## Engagement

Pl

[2016-09-13 19:01] akuckartz commented on #366
This does not seem to be immediately useable as Linked Data.

[2016-09-13 19:10] timgdavies commented on #366
The proposal includes a URI option. However, in the absence of URIs for entries from UNCEFACT, I wasn't able to include URIs in the example.

If a third-party provided URIs for the UNCEFACT list, would this meet criteria to be usable as linked data?

The other codelist considered in #177 was QUDT but this was ruled out as it lacks key units like 'Each'.

[2016-09-14 05:42] akuckartz commented on #366
Decentralisation is a feature of Linked Data !

I only have a few minutes time now, but there could be other problematic aspects but they might be solvable quite easily.

It should be possible to extend QUDT. I will attempt to have a look.

[2016-09-14 13:51] timgdavies commented on #250
Thanks Andrew. This is handy pointer.

Do you think it is acceptable for us to folow GeoJSON though and use WSG84
in the standard, leaving it to publishers and users to convert data if
required (for which I believe tools like ArcGIS have reusable libraries)?

We could add more documentation/guidance to make users aware.

@idlemoor might also have some GIS insights to add here...

[2016-09-14 13:57] mireille-raad commented on #367
Team is discussing how renaming and removing fields actually impact country work... what is the workflow and communication that has to go with this... so we might get back to you with some questions on depreciation policy.

In the meantime, my immediate question is:
Will the validator for OCDS 1.0 stay online and another validator added? or there will be only one validator?

[2016-09-14 14:00] mireille-raad commented on #358
Let me know if there are extracts of text from the documentation that you want the team here to review. Team has excellent writers and procurement background and I am sure they will be happy to chip-in.

[2016-09-15 14:02] timgdavies opened #368 "Updates to organisation handling in OCDS"
A substantial update to organisation handling is proposed for version 1.1 of OCDS.
## The current situation

We currently have an organisation building block which is used for `buyer`, `procuringEntity`, `tenderers` and `suppliers`.

The block consists of:
- A name
- An address block
- An identifier block
- A contact point block

We use the `identifier` block for identifying the `providerOrganizat

[2016-09-15 14:03] timgdavies opened #369 "Organisation details and classifications"
## Organisation details

This is under consideration for the 1.1 upgrade of OCDS. It builds on #368 on wider updates to organisation handling.
## The issue

Publishers want to categorise organizations according to a range of nationally and globally defined schemes, and to flag whether an organization meets certain policy criteria, such as:
- SME
- Voluntary Sector
- Foreign owned

The EU, for exam

[2016-09-15 14:05] timgdavies opened #370 "Award: Consortium suppliers"
## Corsortium suppliers

This is under consideration for the 1.1 upgrade of OCDS. It builds on changes to organisation handling proposed in #368
## The issue

Suppliers may be consortia.

In some countries, a consortium is a legally registered organization. In others, they are simply a collection of firms.

In some countries, the Special Purpose Vehicle (SPV) for a consortium is only created after

[2016-09-15 14:07] timgdavies commented on #156
The issues here can be taken forward in #368 which provides more flexibility in the labelling of the parties to a contract should 'buyer' not capture the key relationships to be monitored.

It does not, however, currently propose at this stage changing the definition of buyer, as we have not seen major issues in practice with use of the buyer field.

[2016-09-15 14:07] #156 closed

[2016-09-15 14:09] timgdavies commented on #266
The updated organisation handling proposal in #368 offers a way to model this by repeating an organisation block with alternative contact details - tagged for the different roles that contact point plays.

[2016-09-15 14:09] #266 closed

[2016-09-15 14:09] timgdavies commented on #264
The proposal in #368 allows a wider range of entities involved in a contracting process to be represented.

[2016-09-15 14:09] #264 closed

[2016-09-15 14:11] timgdavies commented on #263
The model proposed in #368 offers the ability to capture committee members involved in a contracting process overall. It does not currently allow linkage between committee members and specific awards, so if that is required, some additional modelling may be needed.

[2016-09-15 14:11] #263 closed

[2016-09-15 14:12] timgdavies commented on #260
This issue is taken forward in #369

[2016-09-15 14:12] #260 closed

[2016-09-15 14:13] timgdavies commented on #181
This issue is taken forward in #369

[2016-09-15 14:13] #181 closed

[2016-09-15 14:13] timgdavies commented on #269
This issue is taken forward in #369

[2016-09-15 14:13] timgdavies commented on #262
This issue is taken forward in #369

[2016-09-15 14:15] timgdavies commented on #369
The resolution to this issue should be reviewed againast #260 #181 #269 and #262 - and if relevant, draft extensions for each of these created.

[2016-09-15 14:16] timgdavies commented on #142
Continued in #370

[2016-09-15 14:16] #142 closed

[2016-09-15 14:34] duncandewhurst opened #371 "Linking related processes"
# Linking related processes

This issue is under consideration for the 1.1 milestone.

It builds on previous discussions in #72, #184 and #144
## The issue

An OCDS contracting process is defined as:

_“All the planning, tendering information, awards, contracts and contract implementation information related to a single initiation process.”_

This has been interpreted to mean we have a single _pla

[2016-09-15 14:35] duncandewhurst commented on #144
This is continued in #371

[2016-09-15 14:35] #144 closed

[2016-09-15 14:35] duncandewhurst commented on #184
This is continued in #371

[2016-09-15 14:37] duncandewhurst commented on #72
This is continued in #371

[2016-09-15 14:37] #72 closed

[2016-09-15 15:50] mireille-raad commented on #368
How is the new id for an entity generated?
Does it have to be unique for each entity through all the records?

[2016-09-15 15:53] timgdavies commented on #368
We suggest that the ID could be generated from {identifier.scheme}-{identifier.id}-{department-identifier} but the standard would be agnostic as long as the cross-reference was stable within the scope of a single release.

[2016-09-15 16:17] duncandewhurst opened #372 "Transactions terminology"
# Transactions terminology

This issue is under consideration for the 1.1 milestone.

It builds on previous discussions in #343 and #359
## The issue

The current naming convention of the parties to a transaction (**providerOrganization** and **receiverOrganization**) could be interpreted as relating to the goods or services procured rather than the flow of funds between the parties.

There is an

[2016-09-15 16:18] duncandewhurst commented on #343
Continued in #372

[2016-09-15 16:18] #343 closed, assigned to duncandewhurst

[2016-09-15 16:18] duncandewhurst commented on #359
Continued in #372

[2016-09-15 16:18] #359 closed, assigned to Bjwebb

[2016-09-15 16:24] mireille-raad commented on #368
thanks a lot for reply!

Will Open Data Service make a migration script available for this change?

I imagine that this task is relatively easy to automate and that a script would save clients lots of headache for the OCDS upgrade.  Updates to user interface and built-in reports/stats will probably stay a challenge.

[2016-09-15 16:30] mireille-raad commented on #372
For the Outstanding question:
Here is a case scenario I saw possible in PPP that can't be translated to payment:
Govt. gives "land-use" rights to a private sector company.

(not sure this is modeled as "transaction" - but thought to share)

[2016-09-15 16:30] timgdavies commented on #368
I believe we could make a script available for this - yes.

[2016-09-17 17:56] timgdavies commented on #301
## Extension and versions in release package

This issue is under consideration for the 1.1 milestone.

It builds on discussion in #301 and #326

## The issue

OCDS files do not currently specify which version of OCDS schema they are using, or whether any extensions are in use.

## The proposal

Release and record package meta-data should be updated to include:
- A `version` property which MUST co

[2016-09-17 17:56] timgdavies commented on #326
Continued in #326

[2016-09-17 17:58] timgdavies commented on #367
Thanks @dc-coder.

We will definitely need to have clear communication for any deprecations.

We will work to make the validator handle versioning. I've just updated #301 with the proposals around this.

[2016-09-18 14:02] timgdavies commented on #229
After further team discussions, we agreed that this would not likely be a desirable change, even for 2.0, so closing.

[2016-09-18 14:26] akuckartz commented on #229
Can the reasons be summarized ?

[2016-09-18 14:30] timgdavies commented on #229
I've unfortunately lost my full notes of the discussion, so @Bjwebb and others may be able to add, but from memory:
- The backwards incompatibility is a big concern to many of our publishers;
- We want to avoid fields that can have two types (string or object), so we would need to switch to a model in which there is no 'default language' (i.e. all strings are always a language map object) which ma

[2016-09-18 15:20] timgdavies opened #373 "Milestones"
This issue is under consideration for the 1.1 milestone.

This builds on prior discussions in #227
### The issue

The milestones block in OCDS was developed to provide a flexible space to capture date and process-related information that is not otherwise standardised.

However, to date it has not been widely used, and it is not currently possible to distinguish between the different kinds of miles

[2016-09-18 15:20] timgdavies commented on #227
Developed into full proposal in #373

[2016-09-18 15:20] #227 closed

[2016-09-18 15:39] timgdavies opened #374 "Contract and Award Periods in Tender"
This issue us under consideration for the 1.1 upgrade.

It builds on discussions in #350.
## The issue

Tender notices will often include details of the anticipated period over which a contract should be performed.

We currently lack anywhere in OCDS for this to be specified.

This appears to be an ommission, and partially related to confusion over the `tender.awardPeriod` fields which I have, in

[2016-09-18 15:40] timgdavies commented on #350
This is taken forward in #374

[2016-09-18 15:40] #350 closed, assigned to timgdavies

[2016-09-18 15:42] timgdavies opened #375 "Contract extension and renewal"
This issue is under consideration for the 1.1 milestone.

It builds on previous discussions in #200, #179, #184, #274
## The issue

In many systems, a contract can legitimately be extended.

In these cases, there is a need to capture information on:
- What extension options are envisaged at tender time;
- What extensions options are agreed at award or contract time;
- What extension options have b

[2016-09-18 15:43] timgdavies commented on #200
This is taken forward in #375

[2016-09-18 15:43] #200 closed

[2016-09-18 15:58] timgdavies opened #376 "Procurement Category (supplies, works and services)"
This issue is under consideration for core as part of the 1.1 upgrade process.

It builds on discussions in #204
## The issue

A number of forms of contract analysis rely on knowing whether a contract is for goods/supplies, works or services.

There is currently no field to indicate this in OCDS, although for some item classification codelists this information can be inferred.
## The proposal

We

[2016-09-18 15:58] timgdavies commented on #204
Continued in #376

[2016-09-18 15:58] #204 closed

[2016-09-18 16:01] timgdavies commented on #259
We are proposing:

Updating the definition of enquiryPeriod to

Updating the definition of hasEnquiries to

We will explore introducing a standard extension to provide space for each individual enquiry to be logged, along with answers and related documents from the procuring entity.

[2016-09-18 16:02] timgdavies commented on #259
Moved to 1.1, as this has been included in the 1.1 upgrade slides and earlier conversations there.

We should fix the true/false issue in 1.0.2, but the other updates can wait - as we might want to get wider input on enquiries processes during the upgrade conversations.

[2016-09-18 16:29] #184 closed

[2016-09-18 16:36] timgdavies commented on #310
@duncandewhurst has been working to identify the different kinds of framework, and how these can be modelled in OCDS. These are listed below for comment.

| Framework type | OCDS approach |
| --- | --- |
| Single supplier with direct call-offs | **A single contracting process** using award(s) to represent the framework agreement and contract(s) to represent the call-offs. |
| Multiple suppliers wi

[2016-09-18 16:40] timgdavies commented on #371
A few things we may need to consider here:

(1) Should `relatedProcess` be an array? A contract could both refer back to the framework it is from, and onwards to the process relating to it's renewal.

(2) Would it be better for us to use explicit properties for each type of relationship?

[2016-09-18 17:20] timgdavies opened #377 "Multi-year and multi-source budgets"
This issue is under consideration for the 1.1 milestone.

It proposes creating a budgetBreakdown **extension**.

It builds on previous discussions in #352, #292, #222 and #293
## The issue

Our current approach to budget provides a single `budget.amount` field to capture the total value of the budget for a contracting process.

Users want to express budgets from multiple sources, e.g. from differe

[2016-09-18 17:22] timgdavies opened #378 "Updates to core budget block"
This issue is under consideration for updates to the core OCDS standard in 1.1

It sits alongside proposals for a substantial extension to budgets which would allow multi-year and multi-source budgets to be captured. See #377

It builds upon past discussion in #345
## The issue

In the current version of OCDS we have [a very simple budget block](http://standard.open-contracting.org/latest/en/schem

[2016-09-18 17:23] timgdavies commented on #345
Developed into proposal in #378

[2016-09-18 17:23] #345 closed, assigned to Bjwebb

[2016-09-18 17:24] timgdavies commented on #292
Developed in #377

[2016-09-18 17:24] #292 closed, assigned to duncandewhurst

[2016-09-18 17:24] timgdavies commented on #222
Developed in #377

[2016-09-18 17:24] #222 closed

[2016-09-18 17:25] timgdavies commented on #293
Budget issue is picked up in #377. I think this is the main issue for the 1.1 upgrade - and the valueYear extension belongs right now in a Mexico specific extension.

[2016-09-18 17:25] #293 closed, assigned to duncandewhurst

[2016-09-18 17:45] timgdavies opened #379 "Bid extension"
This is under consideration for the 1.1 upgrade of the standard.

We are proposing to create an extension for 1.1, with a view to it potentially be included in core in a future upgrade.

This builds on discussions in #197 #356 and #141
## The issue

Detailed bidding information was not included in the 1.0 RC due to a range of different proposals.

Under tender we currently have:
- An array of orga

[2016-09-18 17:45] timgdavies commented on #197
Developed in #379

[2016-09-18 17:45] #197 closed

[2016-09-18 17:45] timgdavies commented on #356
Addressed in #379 for the upgrade.

[2016-09-18 17:45] #356 closed, assigned to Bjwebb

[2016-09-18 17:45] timgdavies commented on #141
This is being taken forward in #379

[2016-09-18 17:45] #141 closed

[2016-09-18 17:57] timgdavies opened #380 "Adding 'direct' to the procurement method codelist"
This issue is under consideration for a core update in version 1.1

It builds on discussions in #194
## The issue

The current procurement [method codelist](http://standard.open-contracting.org/latest/en/schema/codelists/#method) is a closed code list and contains:
- open - Open tendering means a procurement method whereby all interested suppliers may submit a tender.
- selective  - Selective tend

[2016-09-18 17:58] timgdavies commented on #194
Continued in #380 for the upgrade.

[2016-09-18 17:58] #194 closed

[2016-09-18 18:20] myroslav commented on #379
We'll develop `Bid` extension to OCDS 1.0 to cover information we collect in ProZorro. I.e. in addition to aspects above we are collecting `selfEligible` and `selfQualified` for bids in specific kinds of procedures requiring their presence. Additionally we're gathering `parameters` along with the `value` for MEAT tenders. And yet another data flavor is there for tenders that are split in lots

[2016-09-18 19:01] timgdavies opened #381 "Lots"
This issue is under consideration for the creation of an extension for version 1.1 of OCDS.
## The issue

A lot is a collection of one or more items which may be bid on / awarded within a tender. A tender may have multiple lots.

OCDS does not currently have any way of describing lots.
## The proposal
- Add a lots array to tender, providing details of each of the lots, their values, and other key

[2016-09-18 19:02] timgdavies commented on #236
Continued in #381.

[2016-09-18 19:02] #236 closed

[2016-09-18 19:09] timgdavies opened #382 "Multiple buyers and contract or item-level buyer information"
This is being considered for the 1.1 OCDS upgrade via core and extension updates.

This builds on discussions in #352
## The issue

At present the buyer property of a release is a single object rather than an array of objects.

This means each contracting process has a single buyer associated with it.

Some publishers run single contracting processes (particularly frameworks) with multiple buyers.

[2016-09-18 19:10] timgdavies commented on #352
Continued in #382

[2016-09-18 19:10] #352 closed, assigned to duncandewhurst

[2016-09-18 19:11] timgdavies commented on #233
Continued in #310

[2016-09-18 19:11] #233 closed

[2016-09-18 19:16] timgdavies opened #383 "Value: Taxes (VAT)"
This issue is under consideration for an extension in version 1.1 of OCDS.

This builds on issue #112
## The issue

Our current approach to amounts does not capture whether values are inclusive or exclusive of taxes such as VAT.

At the tender stage a procuring entity will know whether the goods or services being procured are subject to VAT, but not whether the supplier will charge VAT (or other t

[2016-09-18 19:16] timgdavies commented on #112
Continued in #383

[2016-09-18 19:16] #112 closed

[2016-09-18 19:21] myroslav commented on #383
Are there any jurisdictions where tax is not fraction of the value, but fixed amount? What about "staged" rates, when rate depend upon the amount?

[2016-09-18 19:27] timgdavies commented on #383
This is a very good question, and one we can consult on.

I did try to define `taxRate` quite carefully as ' the total **effective** tax rate', so assuming a relevant tax existed which was staggered depending on overall contract value, taxRate should include the **average** tax rate.

I thought this offered a compromise between modelling complexity, and giving users information they can use to eva

[2016-09-18 19:29] timgdavies opened #384 "Value: Exchange rate"
This issue is under consideration for an **extension** in OCDS 1.1

It builds on discussions in #277
## The issue

We have encountered a range of situations where publishers or data users may wish to provide/access multiple currency values. These include where:
- Two currencies are reported for a given contract. For example, a document might give values in both USD and a local currency.
- A contra

[2016-09-18 19:29] timgdavies commented on #277
Continued in #384

[2016-09-18 19:29] #277 closed

[2016-09-18 19:35] timgdavies commented on #36
This will be taken forward via features extension in #223

[2016-09-18 19:35] #36 closed

[2016-09-18 19:36] myroslav commented on #383
The proposed scenario will work for VAT in Ukraine, but won't work for some other taxes (thankfully they are not used in procurement). However even the fact that it's is "effective" rate can complicate the process, since we are capturing change of `Value` through tendering process (including Bid in interactive auction). It would be extra challenge to have complex "staging" rules for effective tax

[2016-09-18 19:46] timgdavies opened #385 "Codelist updates: awardCriteria"
Updates to the awardCriteria codelist are being considered for version 1.1 of OCDS.

This builds upon discussions in #254.
## The issue

The current open codelist for awardCriteria consists of:
- lowestCost
- bestProposal
- bestValueToGovernment
- singleBidOnly

This codelist lacks definitions.

The code bestValueToGovernment should not include ‘government’ within the code name, to support use of

[2016-09-18 19:46] timgdavies commented on #254
Continued in #385

[2016-09-18 19:46] #254 closed

[2016-09-18 19:50] myroslav commented on #385
I'd asked for MEAT, where procuring entity is listing features, and their options and value associated with each option. Bidder then provides parameters of their bid within options offered. After that bids are evaluated on the MEAT criteria, where bid value is only part of total bid value, other part consist of parameters of features requested for buyer.

[2016-09-18 19:51] timgdavies commented on #202
An additional code in documentType is proposed.

Based on limited feedback, no structured cancellation reasons codelist is currently proposed for the 1.1 upgrade process.

[2016-09-18 19:53] myroslav commented on #202
We have strict list of reasons to cancel tender in our public procurement law, but we hadn't moved them to dedicated field in ProZorro yet.

[2016-09-18 19:55] timgdavies opened #386 "Codelist updates: document type"
Updates to the document type codelist are under consideration for version 1.1 of OCDS.
## The issue

The [Document Type](http://standard.open-contracting.org/latest/en/schema/codelists/#document-type) codelist currently lacks definitions for a number of documents.

Additional codes have been requested, such as for
- Cancellation Reasons - #202
- Contract Summary - #220
## The proposal

The documen

[2016-09-18 19:55] timgdavies commented on #202
Captured in #386

[2016-09-18 19:55] #202 closed

[2016-09-18 19:55] timgdavies commented on #220
Captured in #386

[2016-09-18 19:55] #220 closed

[2016-09-18 20:03] timgdavies opened #387 "Codelist updates: Item Classification Scheme"
New codes for the Item Classification Scheme are proposed for OCDS 1.1.
## Proposed additions

As from #225 and #265

| Code | Title | Description | Source |
| --- | --- | --- | --- |
| OKDP | Russian National Classification of Products by Economic Activity (1994) | Part of the unified system of classification and coding of technical, economic and social information of the Russian Federation, in u

[2016-09-18 20:03] timgdavies commented on #225
Summarised for 1.1 in #387

[2016-09-18 20:03] #225 closed

[2016-09-18 20:03] timgdavies commented on #265
Summarised for 1.1 in #387

[2016-09-18 20:03] #265 closed

[2016-09-18 20:18] timgdavies opened #388 "Updating OCDS Maturity Model"
## The issue

OCDS comes with [detailed implementation guidance](http://standard.open-contracting.org/latest/en/implementation/) and a 'Basic', 'Intermediate' and 'Advanced' framework.

Publishers want to know which Basic, Intermediate or Advanced (BIA) level they are at, and which star-level they are at. This cannot be easily assessed based on current documentation because:
- BIA mixes the issue

[2016-09-18 20:25] timgdavies opened #389 "API specification"
This issue is under consideration for the 1.1 version of OCDS.
## The issue

In #290 there were discussions of whether OCDS should develop an API standard. Building on the existing publication patterns guidance, an API specification has been developed and [is hosted in a separate repository here](https://github.com/open-contracting/api-specification).

This specification could be merged into the m

[2016-09-18 20:29] timgdavies commented on #284
This will be taken forward via #287.

[2016-09-18 20:29] #284 closed, assigned to kindly

[2016-09-18 20:35] timgdavies commented on #270
There are no plans to work on this in version 1.1

[2016-09-18 20:35] #270 closed

[2016-09-18 20:36] myroslav commented on #386
`illustration` - primarily used in reverse (selling) procedures to represent image of object to be sold, on allocation level document of this type to represent lot visually as thubmnail, or as photo gallery's hen number of Illustartion documents are present.

`virtualDataRoom` - URL to system providing access to confidential documents or documents with limited access.

`contractProforma` - templat

[2016-09-18 20:39] timgdavies commented on #33
I've updated the initial post here with a proposal based on @joshuacpowell's suggestion of a three-field object.

[2016-09-18 20:43] timgdavies commented on #386
Thanks @myroslav

Can you explain `license` a bit more. Would this be a licensing requirement for the supplier? I.e. 'You must have a banking license', or a copy of the license as submitted by the supplier?

[2016-09-18 20:45] myroslav commented on #33
I'm somewhat puzzled of how extension should work if there is both participation and document fee. Should we split this extension on two independent ones? One for documents and another one for participation. They have completely different cases. And while in ProZorro we have free and open tender documentation, participation is not free. This we'd be interested in one extension and completely ignor

[2016-09-18 20:46] timgdavies commented on #35
Frameworks handling is addressed in #310.

The proposed features extension in #223 will also allow criteria of bidders, such as 'national bidder only' to be captured in a structured form.

[2016-09-18 20:46] #35 closed

[2016-09-18 20:47] timgdavies commented on #38
This is not under consideration for 1.1

[2016-09-18 20:49] myroslav commented on #386
Yes, exactly the caseload financial institution able to participate, or insurance company able to participate. They have to provide their license as one of the documents.

Additional types of documents that I'd remembered are:

`guarantee` - document confirming guarantees required by buyer.

`paymentConfirmation` - some kind of document that confirms payment (we use this kind of document in Compla

[2016-09-18 20:49] timgdavies commented on #130
Between relatedProcess (#371) and the budget level ability to refer to an external project (#378) this issue should be addressed.

[2016-09-18 20:49] #130 closed

[2016-09-18 20:53] timgdavies commented on #33
This is a good point. We could make this an array of `participationFees` where each entry just consists of:
- feeType
- feeValue

So that if you have just participation fees you would have:

[code]

and if you had both document access and participation fees you might have:

[code]

With the logic being that unless fees are declared for category of interaction with the tender, they should be assume

[2016-09-18 20:55] timgdavies commented on #147
Upon reviewing this, I don't think any field updates are required.

The release and records model means that publishers should provide an updated release at the end of a process, updating the `contract.value` and `contract.period` for example.

We may want to improve worked examples and documentation on this in 1.1 or associated materials.

[2016-09-18 21:06] timgdavies commented on #201
By way of an updated proposal, I would suggest we introduce two new codes to `tenderStatus`:
- `withdrawn` - This contracting process has been withdrawn. This may be due to a decision not to proceed with a full contracting process after early engagement or planning, or, in the case of a tender or contract, may be due to some factors that mean information on this contracting process can no longer b

[2016-09-18 21:07] timgdavies commented on #348
We will not be pursuing this in the 1.1 upgrade.

[2016-09-18 21:07] #348 closed, assigned to Bjwebb

[2016-09-18 21:08] timgdavies commented on #349
We are not considering any changes here for 1.1

During work on a PPP extension we will look at modelling options for complex multi-stage procurement processes.

[2016-09-18 21:08] #349 closed, assigned to Bjwebb, timgdavies

[2016-09-18 21:09] timgdavies commented on #361
Addressed in the proposed updates to organisations - #368

[2016-09-18 21:09] #361 closed, assigned to timgdavies

[2016-09-18 21:13] timgdavies commented on #237
This would not be a backwards compatible change, and so will not be considered for 1.1.

The short term solution proposed by Ben appears to be a reasonable one.

[2016-09-18 21:13] #237 closed

[2016-09-18 21:26] timgdavies opened #390 "OCDS Upgrade - Issue Summary & Priority Review Update"
It's taken us a bit longer than planned to work through all the issues in the mix for the 1.1 Upgrade of OCDS, but I'm pleased to share the latest update on the upgrade
## Priority review

We've prepared a [slide deck](https://docs.google.com/presentation/d/13x3dROHQ0QdEQsdZDkRoU0NVmN1447ES1lzeeNFcIlg/pub?start=false&loop=false&delayms=3000) with an overview of focus areas and proposals for the up

[2016-09-19 09:41] TexasChainstoreManager opened #391 "Typo in Release Tag schema"
standard/standard/schema/release-schema.json contains 'for for' in the 'release' tag.

[2016-09-19 10:55] timgdavies commented on #391
We'll get this fixed in the next bug fix release.

Thanks for spotting.

[2016-09-19 12:58] davidmegginson commented on #384
(deleted previous comment — posting too early in the day)

I think this makes sense, and we can look into something similar for IATI if the need arises.

[2016-09-19 13:41] agm3dc commented on #205
Some complaint types could include: competition irregularities, changes to bids, winning bidder collusion, specifications tailored to bidder.

Complaints are valuable to corruption risk analyses, so inclusion would be valuable. I'm happy to do further research on the subject.

[2016-09-19 14:23] agm3dc commented on #390
@timgdavies  I don't believe 32 award criteria is related to #285. Can you confirm?

[2016-09-19 14:48] agm3dc commented on #380
The new wording of "limited" means that it would no longer pertain specifically to "sole-source" or "single-source" procurement. In many polities, sole-source contracting enables a PE to contract with a supplier directly and without competition, as long as the contract is under a certain threshold. A specific listing for sole-source is essential, as there are a number of red flags relating to this

[2016-09-19 15:13] agm3dc commented on #249
If suppliers are included in an array, will there be a way to denote hierarchy? In some data sets (USA Spending, for example), sub-contractors play a key role and receive a significant amount of funding. You could justify including suppliers in the implementation phase as well, to facilitate tracking of payments to each supplier (including sub-contractors). But distinguishing between prime and sub

[2016-09-19 15:53] akuckartz commented on #376
A lot depends on the encoding and the set of allowed values. It should be open.

[2016-09-19 15:53] agm3dc commented on #380
To be clear, we would propose a "sole-source" code be added to the list, along with a soleSource/Threshold field.

[2016-09-19 16:01] mireille-raad commented on #367
So here are some thoughts from the team.

**General questions:**
- Does data in existing countries need to be updated? (is it an optional best practice or required)
- When countries “want to be compliant with OCDS” – does that mean to latest version or can it be to different versions?
- If government has been using additional fields not included in OCDS, does that make the data non-compliant with

[2016-09-19 16:03] akuckartz commented on #349
Can you assign such issues to Github milestones instead of closing them ?

[2016-09-19 19:46] mireille-raad commented on #388
Here is some feedback on this issue from **Abdoulaye Fabregas** from the OC team at WB:

Some issues arising from the BIA model, for example the fact that most countries will have mixed features from B, I and A level. This makes it difficult to use the BIA model as a benchmark, and at the same time it can disincentivize countries from moving forward once they consider themselves “compliant” with t

[2016-09-19 21:57] timgdavies commented on #249
@agm3dc At the moment this proposal would not cover distinguishing prime and sub-contractors, although in the updates to organisation handling in #368 it would be possible to tag suppliers in the overall `entities` array as a subcontractor.

This however feels like it would be complicated for a naive application to process, as it would have to lookup the tags that applied to each of the organisati

[2016-09-19 22:10] timgdavies commented on #367
Thanks @dc-coder for setting out these scenarios clearly. I'll try to respond to each point below from the perspective of a technical data specification - although these might be issues to discuss more widely with OCP.

This is a policy decision for implementers. Ultimately, using the latest version of a technical standard is a good best-practice - but any required targets would come from policy a

[2016-09-19 22:16] timgdavies commented on #205
@agm3dc If you could help with further research into this that would be fantastic. We're particularly after examples of existing data sources to draw upon...

[2016-09-19 22:17] timgdavies commented on #390
@agm3dc Thanks for the spot - that should have been #385. I've updated accordingly.

[2016-09-19 22:21] timgdavies commented on #380
As far as I understand, **direct awards** (the proposed new code) and **sole-source** are synonyms.

However, some of what I read suggests this might not always be clear cut. Procurement expert input very welcome on this.

Do we need new codes for both:
- Direct; and
- Sole-Source

And how would the definitions vary if we do?

[2016-09-19 22:23] timgdavies commented on #376
The rationale for a closed codelist here is that:

(a) Most classifications of contractType should be able to map to this codelist;
(b) Analytical tools can be more easily developed against a closed codelist.

We could follow the pattern we have for other closed codelists, and pairing the field with a 'Details' free text field. E.g.

`contractType` with one of supplies, works or services

and

`co

[2016-09-19 22:25] timgdavies commented on #349
Unless any requirement for this comes up through our further work on PPP extension, I've been the only person suggesting changes here, so not sure what the justification for keeping this open would be.

[2016-09-20 13:07] idlemoor commented on #250
I can certainly sympathise with the point of view that explicitly naming a CRS is an unnecessary complication that OCDS could well do without. There are thousands of national coordinate systems in the EPSG database. In a national context, people will either use the relevant national or local CRS, or what they habitually call "WGS84". Many local datums differ from WGS84 by hundreds of meters, so it

[2016-09-20 14:39] ColinMaudry commented on #357
I'm really curious to see how OCDS will model amendments. Currently, in France, we plan to have, for a given tender, an array of "amendments", each containing a date of signature, a comment, and the new values (only a handful of properties of the tender can be amended).

The issue I see with our approach is that to compile the actual current latest tender data, one must compile the amendments arra

[2016-09-20 19:39] timgdavies opened #392 "Contract: Subcontractors"
In #249 we discuss adding `suppliers` to the `contract` object.

From this, @agm3dc has pointed to the use case of wanting to understand subcontractors involved in:
- A bid
- A contract award
- The contract

This is important for certain forms of red flag analysis, such as looking for cases where a loosing bidder appears as a subcontractor to the winning bid.

It is also information that exists in

[2016-09-20 20:01] agm3dc opened #393 "Competitive bidding thresholds"
In many polities, procuring entities are required to use competitive bidding methods when the tender cost is above a certain threshold. Conversely, direct or sole-source procurement may only be used when the tender cost is below this threshold. In Vietnam, for example, competitive bidding is required for the purchase of goods over US$100,000 or services over US$200,000. For construction, the thres

[2016-09-20 20:05] agm3dc commented on #380
Thanks. I think we also view direct awards and sole-source as synonyms.

[2016-09-21 09:44] duncandewhurst commented on #317
We should also consider whether these fields sit only under _contract_ or whether they could also be specified at the _tender_ stage and what the use case for disclosure of structured information on payment terms and contract types at _tender_ stage would be

[2016-09-21 09:51] joshuacpowell commented on #317
I think there is a use case for having @ tender stage, as it would enable M&E/analysis of how different payment terms/contract types attract competition, as well as if they impact the spread between estimated/reserve price and award value. I'd favor higher level codes for this, with the option to include more detailed custom codes e.g. through contractTypeDetails as with procurementMethod

[2016-09-21 14:38] Bjwebb commented on #378
I'm not sure I'm clear on the motivation for this. A lot of other IDs in OCDS can be string or integer.

We can't actually make the change to the schema and be backwards compatible, because any data that uses an integer would have been valid, but now invalid. We could possibly think about deprecating the use of integers here though.

[2016-09-21 14:44] Bjwebb commented on #326
@timgdavies  #326 is this issue, and I'm not sure what issue was meant to be linked to instead.

[2016-09-21 15:14] timgdavies commented on #326
Sorry - this should be continued in #301

[2016-09-21 15:14] #326 closed, assigned to timgdavies

[2016-09-21 19:29] AlCollier commented on #380
Agree that the terms are synonymous.
Understand the rationale for including the threshold, but don't think it will be straightforward. 
In my organisation, for example, there are multiple thresholds depending on level of authority. Any senior manager can sign up to one threshold; anything over that  threshold also needs sign off by me as head of procurement; anything over my authority level goes t

[2016-09-22 10:27] duncandewhurst commented on #378
The schema also makes reference to the budgtet data package in _contract.implementation.transactions.id_ and _contract.implementation.transactions.source_ we should also update the text for these fields

[2016-09-22 10:48] duncandewhurst commented on #317
Flagging a possible naming conflict with the **contractType** field poposed in #376

Given that the contract types suggested here are all related to pricing could we use **pricingType** instead?

[2016-09-22 11:58] timgdavies commented on #378
@Bjwebb I had understood that the mixing of strings and integers as possible field values was an issue for tools like flatten-tool. However, if not, happy to leave this / just deprecate use of integers to slowly move to string-only to avoid placing extra requirements on future tools to handle both.

[2016-09-23 14:14] timgdavies commented on #357
Our approach to this would come via the existing [releases and records mechanism](http://standard.open-contracting.org/latest/en/getting_started/releases_and_records/) where I think we pretty much have what you describe in the last sentence @ColinMaudry. We've just not documented it very well or got good worked examples.

In the [merging pages](http://standard.open-contracting.org/latest/en/schema

[2016-09-25 16:53] JachymHercher commented on #368
On slide 17 of the V1.1 slide deck you say that referencing to "organisation" block should be done via ID _and_ name. Why not just id? To prevent mistakes...?

[2016-09-25 17:11] timgdavies commented on #368
The main reason I think is that it makes simple uses of the data easier.

There are many use-cases (such as just displaying the declared name of the contractor) which don't need to the full organisation identification info.

For these cases, asking the publisher to provide the name in the data (which should be programatically accessible alongside the ID, so no heavy-lift) makes the users life a lo

[2016-09-25 19:00] JachymHercher commented on #385
I find the approach taken in http://simap.ted.europa.eu/documents/10184/99173/EN_F03.pdf (section II.2.5) to be quite good - submitting the individual criteria with a classification, not asking about the legal regimes (as they are not really relevant - the criteria are everything that matters and the difference between a MEAT with 99% on value and "lowest price" is confusing at best.)

Changes I w

[2016-09-25 19:23] JachymHercher commented on #376
Concerning [#204](https://github.com/open-contracting/standard/issues/204) question 2, works/supplies/services are just a high-level CPV code (supplies correspond to CPV where the first two digits fall in (0,44>, works to those starting with <45>, services with <48,98).

I think they are relevant mainly from a legal point of view, as they determine the applicable thresholds for following the proce

[2016-09-25 20:23] JachymHercher commented on #223
This thread seems to be bringing together quite a few things. Find some comments below, to see whether I've understood it correctly. By the way, wouldn't all of this be better as an "open codelist"? (One for uses 1 & 2 below, another one for use 3.)

1) Taking the first part of @myroslav's vacuum cleaner example:

Here we try to structure the description of the object of the contract. If I underst

[2016-09-25 20:43] JachymHercher commented on #166
Good point about excel and UTF-8 exports. Note though that Microsoft seems to be working on the issue, so at some point .csv could also be limited to UTF-8 only. (https://excel.uservoice.com/forums/304921-excel-for-windows-desktop-application/suggestions/10006149-support-saving-csv-in-utf-8-encoding)

[2016-09-26 12:14] Bjwebb commented on #378
I think this is possibly more of an issue for tabulate, and any other attempt to import OCDS into a database, than flatten-tool specifically.

I count 12 identifiers in OCDS that can be string or integer, and this issue only addresses 2 of them. As far as I can tell, they all have the same problem, so should any proposed change apply to all of them?

[2016-09-27 14:49] LindseyAM commented on #371
the strongest use case for identifying related processes that i have heard (today in Ukraine) is that there is a need to be able to show related procedures that have failed. So, for a tender that fails due to no bidders or is canceled before signature due to some irregulatory, there is a desire to be able to know when it has been relaunched in a new procedure. an alternative solution (in Ukraine)

[2016-09-29 16:32] LindseyAM commented on #366
Unit prices came up today. If we would like to consider examples from other countries, apparently some attempt at unit price is in the Georgian procurement system data and apparently well done in the Italian CONSIP system.

[2016-09-30 10:08] timgdavies commented on #366
@LindseyAM If you can share pointers to Georgian or CONSIP example data, or signpost to people who might be able to help there that would be great.

[2016-10-05 08:58] LindseyAM commented on #366
I sent contacts for Georgia over email.. and for Italy, maybe @ekoner can take a look at the CONSIP data?  Bibhusan and Anjesh are also working on this in Moldova .... but I dont know how to tag them in the issue...

[2016-10-10 08:33] timgdavies commented on #366
Further exploration:

## UBL Measures

Discussions relating to EU Procurement has pointed us towards the [UBL concept of a 'Measure'](http://www.datypic.com/sc/ubl21/e-cbc_Measure.html).

UBL has multiple kinds of measure, such as NetWeightMeasure, GrossTonnageMeasure, AltitudeMeasure etc.

Each measure should have a [unitCode](http://www.datypic.com/sc/ubl21/a-unitCode-3.html), the 'usage rules'

[2016-10-10 08:43] timgdavies commented on #366
A question has been raised as to whether we should include `symbol` as a field in the enhanced unit of measure section.

My thinking on this was that, as an optional field, this would help data users understand many quantities at a glance, without having to resort to a lookup in the UNECE Rec 20. list.

For example, looking through a spreadsheet, seeing `KMK` may not be that intuitive, but if it i

[2016-10-10 09:28] timgdavies opened #395 "contractStatus: Add termination codes"
@lindseyAM has raised the concern that some implementers are finding the codelist entry for [Contract Status](http://standard.open-contracting.org/latest/en/schema/codelists/#contract-status) of `terminated` contains too negative a connotation.

Lindsey states:

The current codelist is shown below:

| Code | Title | Description |
| --- | --- | --- |
| pending | Pending | This contract has been pro

[2016-10-10 09:28] timgdavies commented on #395
@ekoner Is there a quick way for us to check if particular organisations are using or not using 'terminated' as a code in their data?

[2016-10-10 20:13] timgdavies commented on #223
@JachymHercher Sorry for the slow reply - but I can confirm from your notes above that you have understood correctly what we're aiming to do with the features extension - covering a number of use cases with a flexible data model.

[2016-10-10 20:17] timgdavies commented on #223
To check my understanding in return:

ESPD is the 'European Single Procurement Document' and represents essentially a form that suppliers would have to fill in to describe themselves, and whether they meet the criteria that a government entity has set out for the economics operators who might want to bid on an opportunity.

We could consider in developing the features extension how ESPD data would

[2016-10-11 10:51] timgdavies commented on #390
A reminder that we have a call on Thursday 13th October - 9am EST / 2pm BST / 3pm CET to discuss the OCDS Upgrade. You can register for WebEx details here: https://goo.gl/forms/LBvhLNuRrqbiEapG3

[2016-10-12 15:23] duncandewhurst commented on #310
Feedback from the teams at Colombia Compra and Buenos Aires Compra:

Colombia Compra also suggested modelling the _single supplier with direct call-offs_ and _multiple suppliers with direct call-offs_ framework types using multiple contracting processes. This approach could also be used for direct awards in the _multiple suppliers with either direct call-offs or mini-competitions_ framework type.

[2016-10-13 12:22] JachymHercher commented on #383
In EU forms, historically, we used to have values, indications of whether VAT is included or not, and the VAT rate. Currently we collect only VAT-free values, because the previous approach seemed to be confusing to users.

Basic question - can I ask for some more use cases when it's useful to know both the VAT-free value and the VAT-included value? Comparability could be reached by only being inte

[2016-10-13 14:58] timgdavies commented on #388
Thanks @dc-coder for the feedback from Abdoulaye.

We also discussed this on today's community call.

Eliza Niewiadomska emphasised the importance of the publication levels for helping countries translate commitments to transparency into actual practice.

We discussed the extent to which requirements to public are determined by national law, and trade agreements - and the extent to which we might

[2016-10-13 14:58] timgdavies commented on #33
The proposal was discussed on today's OCDS community call. There was general support for this approach.

[2016-10-13 15:01] timgdavies commented on #355
This was discussed on today's OCDS community call.

Angelos Hatzikyriacos from European Dynamics explained that their contract management modules can capture documents related to milestones, hence rather that complete deprecation of `milestone/documents` this could move from core to an extension.

(I.e. deprecate, but introduce extension)

[2016-10-13 15:07] timgdavies commented on #381
This was discussed on today's OCDS community call.

@ColinMaudry described the choice in data modelling in France to take a lot-centric approach (treating lots of top-level objects).

We discussed how this is compatible with generating an OCDS structure **if**:
- There is an overall process identifier shared between lots
- The field specified at tender level in OCDS do not vary between lots in the

[2016-10-13 15:08] timgdavies commented on #367
The deprecation policy was discussed on our OCDS community call today.

No comments or objections relating to the proposed change were raised.

[2016-10-13 15:26] duncandewhurst commented on #310
Framework agreements were discussed on today's community call.

Eliza Niewiadomska from the European Bank for Reconstruction & Development directed us to the [UNCITRAL Model Law on Public Procurement (2011)](http://www.uncitral.org/uncitral/en/uncitral_texts/procurement_infrastructure/2011Model.html) which gives the following definition of framework agreements:

We discussed what determines whethe

[2016-10-13 16:12] duncandewhurst opened #396 "Discussion: Electronic catalogues"
*The original issue description below has been copied to #897 (Purchase orders). Purchase orders outside the context of electronic catalogues are somewhat easier to discuss. The two issues might be re-integrated at a later date, but for now the split allows a separation of concerns, from this comment onward: https://github.com/open-contracting/standard/issues/396#issuecomment-515282868*

This issu

[2016-10-13 21:49] chrisalexsmith commented on #395
I agree with the concern. Suggest 'terminated' is more appropriate to an active contract that has for some reason been cancelled after signature (either in part or in full) and that 'completed' better describes a  contract where all obligations have been fulfilled. In fact it might be helpful to differentiate between the two types.

[2016-10-14 06:22] chrisalexsmith commented on #33
There might be a third type of participation fee - a win fee payable by the successful tenderer.

[2016-10-15 09:26] chrisalexsmith commented on #396
I would expect catalogue buying to becoming more prevalent with the increasing adoption of e-procurement and the requirement to capture purchase order data will be enabled through the increase popularity of Amazon type transactions as it offers many benefits to the procuring government entities. Although the individual value of such catalogue buying transactions will be small the volumes of such t

[2016-10-15 12:55] chrisalexsmith commented on #322
Electronic auction is already covered by electronic submission and electronic auction is a method of procurement.

[2016-10-16 09:17] jskuhrovec commented on #383
I am afraid that ambition for covering even other taxes beyond VAT may lead to very tedious and complex solutions (which will possibly not be consistently grasped by different publishing authorities anyways). Also in my personal experience I see little value of use even of the data on VAT.

Thus I agree with Jachym - publishing prices without VAT seems good enough in terms of comparability and sim

[2016-10-17 05:53] chrisalexsmith commented on #358
The Charted Institute of Purchasing and Supply (CIPS) defines procurement as follows:

Procurement describes all those processes concerned with developing and implementing strategies to manage an organisation’s spend portfolio in such a way as to contribute to the organisation’s overall goals and to maximise the value released and/or minimise the total cost of ownership.  Procurement is a more com

[2016-10-17 18:59] JachymHercher commented on #223
@timgdavies Concerning the ESPD yes, that's it.

Concerning the "features" extension, you are not approaching it as a codelist, right? You want to just describe the features, not classify them?

[2016-10-18 06:36] timgdavies commented on #223
Correct. An implementation of the features extension could use codes from an external codelist to describe the kind of features covered, but we are not proposing any codelists at this point in time.

[2016-10-18 07:31] timgdavies commented on #223
I've just been looking at the [EU's Core Criterion and Core Evidence Vocabulary (CCCEV)](https://joinup.ec.europa.eu/node/153001) which has recently issued Draft 4 for consultation.

The CCCEV has a model based on specifying requirements (like our 'features' concept) using `Criterion` which are fulfilled by one or more `RequirementGroup` which contain `CriterionRequirement`s.

The use of `Requirem

[2016-10-18 14:49] chrisalexsmith commented on #357
Some contracts, particularly for commodities, may have an allowable quantity tolerance e.g. +/- 5% of tonnage supplied, meaning that the value of payments made may exceed or be below the contract value without the contract needing to be amended. This does not constitute an amendment but flagging up in case not covered elsewhere.

[2016-10-19 10:18] duncandewhurst commented on #310
We gathered some useful feedback on frameworks terminology at Open Contracting Day at IODC:
- Rose Gill Hearn from Bloomberg Associates highlighted that in the US **call-offs** are known as **drawdowns**
- @jachymhercher and @myroslav confirmed that in the EU (and Ukraine specifically) the framework is known as an **agreement** whilst call-offs are known as **contracts**

We also heard about the U

[2016-10-19 10:21] duncandewhurst commented on #392
Comment from Rose Gill Hearn at the Open Contracting day at IODC:
- In New York, the terms **supplier** and **vendor** have specific meaning in the context of sub-contracting - the party that contracts with the procuring entity is known as the **vendor** whilst any sub-contractors are known as **suppliers**

[2016-10-19 10:36] duncandewhurst commented on #377
@myroslav we had some feedback from the budget breakout session at the Open Contracting day at IODC that our proposed approach may be too simple to model budgets from Prozorro.

Looking at some [example procurement plans](https://prozorro.gov.ua/en/plan/search/?edrpou=00034022) the budget seems to be a single value and I can't see any more detailed information on budgets in the [open procurement d

[2016-10-19 10:46] duncandewhurst commented on #376
Feedback from the codelists breakout at IODC suggested the following additional codes:
- Concessions
- Utilities (e.g. electricity, gas, water etc.)

[2016-10-19 10:50] duncandewhurst commented on #380
The [UNCITRAL model law on public procurement glossary](http://www.uncitral.org/pdf/english/texts/procurem/ml-procurement-2011/Glossary-e.pdf) gives the following definition of a direct solicitation:

[2016-10-19 11:03] duncandewhurst commented on #317
The following definitions were proposed at the codelists breakout session at IODC:

| Code | Definition |
| --- | --- |
| fixedPrice | Price indicated in signed contract does not change regardless of time expended or resources used. Any change requires an amendment to the contract. |
| costReimbursement | Actual cost of completing contract with no additional fees |

[2016-10-19 11:04] duncandewhurst commented on #374
Feedback from breakout session at IODC:

There is a typo in the definition of _tender.awardPeriod_

[2016-10-19 11:15] duncandewhurst commented on #347
Feedback from the codelists breakout session at IODC:

| Document type | Definition | Comments |
| --- | --- | --- |
| Procurement Plan |  | Add "works" to "goods, works and services" |
| Environmental Impact | Analysis of the negative effects of the project on the environment |  |
| Needs Assessment | Analysis of the demand for the project or investment by the affected communities or users |  |
|

[2016-10-19 11:18] duncandewhurst commented on #385
Feedback from the codelists breakout session at IODC:
- **Least cost** was suggested by two attendees as an alternative to **Lowest cost** (_Least cost_ is the term used in Nigeria)
- The [UNCITRAL model law on procurement](http://www.uncitral.org/uncitral/en/uncitral_texts/procurement_infrastructure/2011Model.html) was recommended as a possible source for definitions
- **Best value** could be con

[2016-10-19 19:25] chrisalexsmith commented on #253
Contracts may include a negative amount for a price discount.

[2016-10-20 10:01] JachymHercher commented on #376
At least in the EU context, "concessions" and "utilities" are a different type of classification than supplies, works, and services. In the EU legal framework, "W/S/S" is about what is being bought, while "concessions" and "utilities" distinguish legal regimes. (Concessions and utilities have their own procurement directives, slightly different than the "general" procurement directive.)

For us, c

[2016-10-20 12:56] duncandewhurst commented on #223
I've expanded slightly on the vacuum cleaner example given above and used the CCCEV approach and language of `criteria`, `requirementGroups` and `requirements` to illustrate the AND/OR functionality of CCEV.

This gives the following structure for specifying requirements at the tender stage:

[code]

And for responses:

[code]

In this approach the _requirement.id_ would need to be unique within t

[2016-10-21 14:14] Bjwebb commented on #368
We had some feedback on this proposal at IODC.

One source of confusion is that "entity" is a much broader term than organisation, and is used in other context to include all physical objects e.g. pencils, which in OCDS are not entities, but items.

We also had some different feedback on how difficult the new structure would be to implement. Some publishers have a centralised system that already s

[2016-10-26 12:29] timgdavies commented on #358
Thanks @chriscrownagents for this: really useful.

I've reviewed all the references to 'Procurement' in the current schema and documentation, and have found that they:

(a) Appear consistent with the definitions above;

and

(b) Are mostly used intentionally in relation to fields like `procurementMethod`

or

(c) Are used as a synonym for 'process' (e.g. 'Specify the aware criteria for the procure

[2016-10-26 15:55] timgdavies opened #398 "1.0.2 Bug Fix release staged"
A bug-fix and documentation update release of OCDS is now staged for review at http://standard.open-contracting.org/1.0.2/en/

Unless objections to this update are raised in the next two weeks, this version will become the live latest version, accessible at http://standard.open-contracting.org/

The [changelog](https://github.com/open-contracting/standard/blob/1.0.2/changelog.md) can be found here

[2016-10-28 11:03] timgdavies commented on #368
The naming question is an interesting one.

One alternative I've been looking at is: 'parties' c.f. [parties in law](https://en.wikipedia.org/wiki/Party_%28law%29).

This would need some good documentation to explain we are talking about 'parties to the **contracting process**' not parties to a specific contract, unless they are named as parties at that point.

Other views on nomenclature would be

[2016-10-28 12:52] timgdavies commented on #368
I've started an [extension repository](https://github.com/open-contracting/ocds_extension_parties) to allow us to work up these changes to the schema in more detail. There are a number of open issues on that repository.

[2016-11-02 10:51] duncandewhurst commented on #373
Currently _milestones_ only appear in the _tender_ and _implementation_ sections of the schema.

The worked example given by Tim includes a _milestones_ field in the _award_ section and based on the inclusion of _planning_ in the _milestoneType_ codelist we should also add a _milestones_ field to the _planning_ section of the schema. This would be useful for the PPP case where there are various ap

[2016-11-03 10:11] duncandewhurst commented on #386
There is a typo in one of the existing codes in the [documentation](http://standard.open-contracting.org/latest/en/schema/codelists/#document-type):

physical**Process**Report should be physical**Progress**Report

[2016-11-03 10:45] duncandewhurst commented on #373
Draft schema update staged as extension [here](https://github.com/duncandewhurst/ocds-milestones-update)

[2016-11-04 16:54] timgdavies opened #399 "Contracting process' sector"
During the Open Contracting workshop at CONDATOS 2016 in Colombia, a user need for contract 'sector' was raised.

There was discussion over how this could be identified, from:

* Inferring from the line items (tricky to do: is a computer for health, education or security?);
* The objects of the contract (high level contracting descriptions) - this would need some extraction from text;
* The buyer

[2016-11-04 17:06] joshuacpowell commented on #399
Would be in favor of this, provided we use an open codelist. Each country/gov typically will have their own internal sector classifications, or may use pillars of national planning frameworks (developing country context), SDGs, etc. I think trying to manage/enforce codelists would be difficult, but agree that the field is useful.

[2016-11-05 14:43] timgdavies commented on #366
From conversations around use-cases for unit-pricing:

[2016-11-05 15:21] timgdavies commented on #249
@juanpane I believe the proposal here to include `contract.suppliers` as a core extension should help address the key modelling issue with Paraguay awards->contracts relationships we discussed yesterday.

[2016-11-05 15:25] timgdavies commented on #371
This was discussed at the upgrade session in Bogota yesterday, again with the example of identifying failed tenders.

One of the issues raised by @juanpane was that it might be necessary for cross-references to also point to the particular stage of a relatedProcess, not only to the ocid of the process itself.

We should do some more work on this issue to develop some worked examples for different

[2016-11-05 15:27] timgdavies commented on #368
We discussed terminology in the upgrade session in Bogota yesterday.

There was a view that 'parties' as a term does not translate easily into Spanish.

The alternatives suggested were 'actors' and 'stakeholders'.

**Actors** was put forward as the preferred term.

[2016-11-05 15:34] timgdavies opened #400 "Planning: Projects and budgets"
At the upgrade conversation in Bogota today, we discussed linking contracting processes to projects and budgets.

At present, OCDS has a fairly small [budget section](http://standard.open-contracting.org/latest/en/schema/reference/#budget) shown below:

| Field Name      | Description

[2016-11-08 10:57] duncandewhurst commented on #330
It's also worth noting that whilst the [merging rules guidance](http://standard.open-contracting.org/latest/en/schema/merging/#merging-rules) states that the `id` and `date` fields should be omitted from a compiled release, the example data on the same page of the docs shows a compiled release with both of these fields included.

We should fix this as when we update the docs as part of the upgrade

[2016-11-09 11:49] timgdavies commented on #368
Another possible term is **participants**

[2016-11-09 19:59] chrisalexsmith commented on #399
The following UN open code list may be of interest as it classifies the functions of government and could be used to map procuring entities. As governments tend to purchase a lot of common use items this would be easier than trying to derive it from the object of the contract particularly as there could be multiple items covered by the contract.

http://unstats.un.org/unsd/cr/registry/regcst.asp?C

[2016-11-09 21:36] kfrauscher commented on #386
I suggest changing the name of the field from DocumentType to DocumentContent or something similar to this. We are entering OCP's contracts in OCDS in our new tool and we thought that DocumentType would be pdf, word, etc. Then we realized that this is Format and what is meant here is "award', amendment, etc.

[2016-11-10 07:33] timgdavies commented on #386
@kfrauscher I think we would probably just want to cover this by improving documentation and interfaces. Any tools should be providing a list of options for Document Type, not just free text entry.

documentType is a widely used field, and there is already a `format` field for the document format.

[2016-11-10 13:36] kindly opened #401 "What should deprecation look like in the schema."
This is related to #367 but this more how to technically mark parts of the JSON schema as deprecated.

We need to consider how the validator reports these warnings.

A simple boolean field "deprecated" could be added to any JSON Schema field description, however this may not provide enough information to both the future schema maintainers and the user who has used a deprecated property.
I would re

[2016-11-10 15:02] kindly commented on #287
I suggest we replace all the merge strategies and just have the following two extra properties as booleans.

### wholeListMerge

This will be used for:
- Organization.additionalIdentifiers
- Item.additionalClassifications

### omitWhenMerged

This will be used for:
- release.date
- release.id

In version 1.1 as organizations have a top level id, they should use normal merge rules.

[2016-11-10 17:25] kindly commented on #229
Reopening this issue as nobody seems too happy with the current approach.

My suggestion would be.

On a core schema have a translation definition, keeping the properties field blank for now. It would look like this.

[code]

For any field that required different language versions of it you would add a ref to that object i.e

[code]

You would need this for every field that needed translating and

[2016-11-11 10:30] #391 closed, assigned to nobody

[2016-11-11 12:27] timgdavies commented on #399
Thanks @chriscrownagents - this is a really good suggestion (COFOG) - not least as I believe lots of other lists are mapped to it. In the work we're doing on PPP extension I'm suggesting we introduce

`planning/project/sector` as a `classification` block with COGOG as the recommended classification, and then also have an `additionalClassifications` array where other project categorisations can go.

[2016-11-11 17:02] agm3dc opened #403 "'No Objection' certificates (and/or approvals or milestones)"
In West Africa, and likely elsewhere, procurement authorities issue "no objection" certificates as part of the procurement process.

In Nigeria, these certificates are sought:
A. When a procuring entity requests if it wants to use a restricted procurement method (in practice, for anything that is not national competitive procurement).
B. When a procuring entity requests to award a contract above a

[2016-11-11 17:29] timgdavies commented on #403
Thanks @agm3dc. This is an interesting use case.

We've been thinking about a possible `approvals` block which would consist of:
- approvalType
- agent
- date
- outcome
- confirmation documents

This has come up from the PPP extension work, where it is useful to know that an organisation has been cleared through a competition check, or some other process.

The idea was that approvals could then be

[2016-11-11 17:46] chrisalexsmith commented on #403
For donor funded procurement e.g. World Bank, African Development Bank etc etc the 'no objection' process is also applicable and will normally be a date field in the procurement plan agreed with the recipient government.
On an unrelated point, is there any possibility that the above  (and other) development  institutions will also sign up to the OCDS?

[2016-11-11 20:35] agm3dc commented on #403
Thanks @timgdavies. The use case I have in mind is a simple 1,0 to signify whether no objection certificate has been provided. This way, an authority can detect easily, for example, if a restrictive procuring method has been used when a no objection certificate has not been sought.

The "approval type" category you have defined should work as far as i'm aware.

[2016-11-12 15:40] timgdavies commented on #229
I think downside 3 (multiple equal languages) will be a particular blocker to this issue.

This does make me wonder whether we should take an entirely different track - and say that OCDS does not support in-file translations, and that translations should be provided in a separate file for each language - served up via content negotiation or alternative URI structure....

[2016-11-13 13:59] mpostelnicu commented on #229
Hey,

Just an idea of handling this using `oneOf` draft 04 schema keyword http://json-schema.org/example2.html.

It is fully backwards compatible with our (old) non translated schema. I've made an example of the Item element below:

[code]

Using this schema change, you could validate both this:

[code]

and this (the old format)

[code]

I tested all the json snippets above and they are valid (ag

[2016-11-14 09:23] timgdavies commented on #229
Thanks @mpostelnicu

I can see this works well from a schema perspective - but my fear is that it is difficult for users to deal with - if they have to anticipate either a string or an object.

I guess this can be handled by:
- Providing technically skilled users with guidance on the need to wrap any requests for string values in some sort of helper function which will handle language maps;
- Prov

[2016-11-14 14:58] duncandewhurst commented on #379
The World Bank's [Public Procurement Indicators](http://www.eprocurementtoolkit.org/sites/default/files/2016-10/Public%20Procurement%20Indicators-Rapid_e-Procurement_Toolkit.pdf) for monitoring e-GP adoption and performance includes several indicators based on the submission method for the successful bid, so we should consider including **submissionMethod** as a property of individual bids.

[2016-11-14 15:00] duncandewhurst commented on #376
The World Bank's [Public Procurement Indicators](http://www.eprocurementtoolkit.org/sites/default/files/2016-10/Public%20Procurement%20Indicators-Rapid_e-Procurement_Toolkit.pdf) for monitoring e-GP adoption and performance includes several indicators based on the type of contract (goods, works or services)

[2016-11-14 15:02] duncandewhurst commented on #369
The World Bank's [Public Procurement Indicators](http://www.eprocurementtoolkit.org/sites/default/files/2016-10/Public%20Procurement%20Indicators-Rapid_e-Procurement_Toolkit.pdf) for monitoring e-GP adoption and performance includes indicators based on the type of supplier (SME, large and foreign owned). The proposed extension would address these reporting requirements.

[2016-11-14 15:05] duncandewhurst commented on #392
The World Bank's [Public Procurement Indicators](http://www.eprocurementtoolkit.org/sites/default/files/2016-10/Public%20Procurement%20Indicators-Rapid_e-Procurement_Toolkit.pdf) for monitoring e-GP adoption and performance includes indicators for **number** and **value** of sub-contracts per contract type.

[2016-11-17 12:00] juanpane commented on #249
@timgdavies , yes, that would solve the issue

[2016-11-17 12:04] juanpane commented on #399
for me the real issue is not what code list to use (which can and should be reused from open code lists), but how to actually have this data.
From the CONDATOS session, it was not clear how to get to this data, besides trying to infer this from ready the call for tender or the contract
Any ideas?

[2016-11-18 07:02] chrisalexsmith commented on #399
With the increasing adoption of e-GP, which will be the main repository for OC data,  it should be possible to  classify the contracting authority by its government  function which should not be difficult to establish once the parent ministry as been identified i.e.  a school normally  falls under Ministry of Education.
In fact this mapping and data may already be held in the government finance sy

[2016-11-18 15:26] duncandewhurst commented on #376
The [World Bank Procurement Regulations for IPF borrowers](https://policies.worldbank.org/sites/ppf3/PPFDocuments/4005Procurement%20Regulations_Final%20for%20publishing.pdf) makes a distinction between consulting services, defined as:

And non-consulting services, defined as:

The regulations also define _goods_ as:

We should also note that our terminology of **contractType** could be ambiguous -

[2016-11-18 15:29] duncandewhurst commented on #385
Feedback from consultation with Hunt La Cascia, Senior Procurement Specialist at The World Bank:
- "MEAT" or "most advantageous" (per the [World Bank Procurement Regulations](https://policies.worldbank.org/sites/ppf3/PPFDocuments/4005Procurement%20Regulations_Final%20for%20publishing.pdf) is typically used in place of "best value" or "best proposal"
- "SingleBid" is ambiguous - does this meandirec

[2016-11-18 15:34] duncandewhurst commented on #374
Feedback from consultation with Hunt La Cascia, Senior Procurement Specialist at the World Bank:

**tender.contractPeriod**
- Many times this information could be in the implementation schedule of the tender.
- Tenders don't usually specify contract start and end dates, but rather a duration, typically months.
- There is often a standstill period between award and contract signature - there may be

[2016-11-18 15:39] duncandewhurst commented on #317
The [World Bank Procurement Regulations](https://policies.worldbank.org/sites/ppf3/PPFDocuments/4005Procurement%20Regulations_Final%20for%20publishing.pdf) defines the following contract types:

| Contract Type | Definition |
| --- | --- |
| Lump-sum | Under a lump-sum contract, the contractor/Consultant agrees to perform the scope of services for a fixed contract amount. Payment percentages or am

[2016-11-18 15:41] joshuacpowell commented on #317
Would prefer the more detailed breakout from WB vs the binary of fixed/reimbursement.

[2016-11-18 15:43] duncandewhurst commented on #376
The regulations also define _works_ as:

[2016-11-18 15:47] duncandewhurst commented on #380
The [World Bank Procurement Regulations](https://policies.worldbank.org/sites/ppf3/PPFDocuments/4005Procurement%20Regulations_Final%20for%20publishing.pdf) includes a detailed breakdown of market approach, selection method and selection arrangement options:

![image](https://cloud.githubusercontent.com/assets/19265814/20436002/3bbbbe86-ada6-11e6-99d5-84f4e0eb5b8d.png)

[2016-11-18 15:53] chrisalexsmith commented on #376
As many governments (and other MDBs)have modelled their own procurement laws and regulations on the WB procurement procedures there may already be some natural alignment with the OCDS if World Bank definitions are used.

[2016-11-18 16:29] chrisalexsmith commented on #380
The concern I have regarding the definition in the UNCITRAL model law on public procurement glossary is that it does not seem to distinguish between a solicitation limited to a number of suppliers, which implies that there will be competition, and a solicitation to a single supplier where there is no competition.  Whilst the latter is justifiable in certain circumstances I think its important that

[2016-11-19 10:25] chrisalexsmith commented on #374
A tender/RFP will specify a validity period normally being 60/90 or 120 days. This entitles the contracting authority to place a contract within the defined validity period and for the bidder to accept it without variation in the terms of conditions originally offered.
It does not in itself indicate the expected date of the tender evaluation or contract award but merely the period within which the

[2016-11-22 16:09] kindly commented on #229
Thank you @mpostelnicu

I think using the oneOf is the only way to get wherer we want, even though it would be a pain for some data consumers as @timgdavies said. We also already use it in the record package schema.

However, I would not have the language as a list as it causes issues in making a flattened representation of it and limits validation options (i.e it is hard to validate if people hav

[2016-11-22 18:21] Bjwebb commented on #398
Pull request for this at https://github.com/open-contracting/standard/pull/402

This is now live at http://standard.open-contracting.org/ and permalinks to the 1.0.2 schema at http://standard.open-contracting.org/schema/1__0__2/

[2016-11-22 18:21] #398 closed, assigned to timgdavies

[2016-11-23 11:37] duncandewhurst commented on #371
The [World Bank Procurement Regulations](https://policies.worldbank.org/sites/ppf3/PPFDocuments/4005Procurement%20Regulations_Final%20for%20publishing.pdf) provide a couple of useful definitions here for processes with a qualification stage:

Term | Definition
-----|------------
Prequalification | The shortlisting process which can be used prior to inviting request for bids in the procurement of G

[2016-11-23 12:01] duncandewhurst commented on #371
The [UNCITRAL Model Law on Public Procurement (2011)](http://www.uncitral.org/uncitral/en/uncitral_texts/procurement_infrastructure/2011Model.html) also draws a distinction between pre-qualification and pre-selection:

Term | Definition
-----|------------
Pre-qualification | Procedure to identify, prior to solicitation, suppliers or contractors that are qualified
Pre-selection | Procedure to ident

[2016-11-25 12:37] duncandewhurst commented on #376
Feedback from consultation with Marcela Rozo, Open Contracting Team Leader, World Bank:

Goods, Works, Services etc. are not types of contract but rather what the contract is about, would **contract object** be a better title for the field?

Contract type would typically mean:
 * Concession
 * PPP
 * Framework Agreement

We should consider whether the **initiationType** codelist should be extended

[2016-11-25 12:42] duncandewhurst commented on #374
@chriscrownagents thanks that clarification is really helpful.

Feedback from consultation with Marcela Rozo, Open Contracting Team Leader, World Bank:

* The contract period definition makes sense
* The period between the deadline for bid submission and the award date is typically known as the **evaluation period** rather than the award period

[2016-11-25 12:49] duncandewhurst commented on #317
@joshuacpowell looking at your example from Vietnam I think these are covered by the contract types from the WB procurement regulations.

Do you have an example of data supply where the payment terms you proposed in the original post are broken out separately? Or a user need for this?

Thanks!

[2016-11-25 18:02] #221 closed

[2016-11-25 18:02] timgdavies commented on #221
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] timgdavies commented on #271
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] #271 closed

[2016-11-25 18:02] timgdavies commented on #314
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] #314 closed, assigned to Bjwebb

[2016-11-25 18:02] timgdavies commented on #244
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] #244 closed

[2016-11-25 18:02] timgdavies commented on #362
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] #362 closed, assigned to timgdavies

[2016-11-25 18:02] timgdavies commented on #228
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] #228 closed

[2016-11-25 18:02] timgdavies commented on #340
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:02] #340 closed, assigned to duncandewhurst