[2016-11-25 18:03] timgdavies commented on #341
Fixed in 1.0.2 release which is now live.

[2016-11-25 18:03] #341 closed, assigned to duncandewhurst

[2016-11-25 18:04] timgdavies commented on #401
Sorry for delay in reviewing this. This looks like a good approach.

The one other thing we might have to consider is how to deprecate codelist entries.

[2016-12-01 14:07] duncandewhurst commented on #380
@chriscrownagents thanks and good point - the UNCITRAL definition would cover both **direct** and **limited** in our codelist. Are you aware of somewhere we could find a good definition for **direct** procurement?

Removing the reference to restricted/limited from the UNCITRAL definition would give:

Alexandre Borges de Oliveira, Lead Procurement Specialist (LATAM and Carribean), World Bank sugges

[2016-12-01 14:18] duncandewhurst commented on #179
Feedback from consultation with the Alexandre Borges de Oliveira, World Bank:

* The World Bank language for contracts that can be extended is 'stages' or 'phases'
* This is very rare and does not exist in legislation for most countries
* This type of extension tends to be more applicable to works contracts, e.g. a 5 year road maintenance contract awarded in stages upon successful completion of ea

[2016-12-01 14:31] duncandewhurst commented on #376
Feedback from consultation with Alexandre Borges de Oliveira, World Bank:

* The term "contract type" is ambiguous
* Alternative terms for this concept include "procurement type" and "procurement category"

[2016-12-01 14:43] duncandewhurst commented on #310
The Chartered Institute of Procurement and Supply (CIPS) [knowledge summary on framework arrangements](https://www.cips.org/Documents/Resources/Knowledge%20Summary/Framework%20Arrangements.pdf) gives a useful overview of this area

[2016-12-01 14:50] duncandewhurst commented on #317
Feedback from Alexandre Borges de Oliveira, World Bank:

Most contracts would fall into the buckets defined above in current World Bank Procurement Regulations, however there are several other options, including the following types from the previous version of the regulations:

Contract Type | Description
------|------------
Retainer and/or Contingency (Success) Fee Contract | Retainer and conting

[2016-12-01 15:00] duncandewhurst commented on #385
Feedback from Alexandre Borges de Oliveira, World Bank:

Award criteria can be very granular but the key buckets would be:

* lowestPrice
* qualityOnly (common for consulting)
* quality&Cost (most common for consulting)
* ratedCriteria (equivalent to quality&Cost but typically used for goods and works and implies a weighting of multiple criteria)

The following terms are equivalent:

* value for m

[2016-12-01 18:34] JachymHercher commented on #310
The CIPS note seems to be a bit out of date, see e.g. "(Note: The new consolidated Public Procurement Directive (currently - June 2003 - in its final stages in Brussels) does for the first time explicitly address the issue of framework agreements."

[2016-12-01 18:42] JachymHercher commented on #385
"qualityOnly (common for consulting)" - I would assume that this still means that there is a fixed price. (The information on which we propose to store, in the EU Forms, in the award criteria section.)

Concerning equivalent terms, in the new procurement directives, MEAT has been renamed to BPQR: "best price-quality ratio". On the contrary, "MEAT" is now just a theoretical concept which concerns e

[2016-12-01 19:56] chrisalexsmith commented on #380
I think Alexandre's definition is good.

[2016-12-01 20:08] timgdavies opened #405 "itemClassificationScheme: Add 'CUCOP' code"
Used in Mexico. See https://sites.google.com/site/cnetcucop/

[2016-12-02 09:03] duncandewhurst commented on #310
@JachymHercher well spotted - thank you

[2016-12-02 14:32] timgdavies commented on #403
I've been doing some work on the ```milestones``` extension to capture arbitrary events. [This is documented here](https://github.com/open-contracting/ocds-milestones-update)

This introduces milestones to the ```planning``` section, and adds both milestone ```type``` (with a value for 'approvals') and milestone ```code``` which can be used by particular implementations to track particular kinds o

[2016-12-02 14:33] timgdavies commented on #403
@chriscrownagents Good question on other development institutions signing up to OCDS. That's one I might have to ping over to the Open Contracting Partnership policy team.

[2016-12-02 14:37] timgdavies commented on #373
I've updated the draft extension, [forked into OCDS repository here](https://github.com/open-contracting/ocds-milestones-update).

This draft:

* Only includes milestones on planning, tender and contract (the Readme contains an explanation of this)
* Uses slightly different type codes (preProcurement rather than planning) to avoid mixing milestone names with the names of OCDS sections

Comments we

[2016-12-02 16:42] timgdavies commented on #374
I've been looking at whether we could use the [duration components of ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Durations), but [RFC 3339](https://tools.ietf.org/html/rfc3339#section-5) makes clear this is not supported in date-time that we currently use for validating date entries.

Although we could use duration strings from ISO 8601 in another field, and validate it accordingly, the are

[2016-12-02 16:54] duncandewhurst commented on #322
Feedack from Alexandre Borges de Oliveira, World Bank:

* Agree with the proposal to remove electronicAuction since this is a procurement method rather than submission method
* In most legislation it is unusual for there to be a distinction between written and inPerson, most analysis would be based on online vs offline, where the latter could be either postal or inPerson
* written is an ambiguous

[2016-12-07 17:25] ColinMaudry opened #407 "Tender: Award value variability"
In France, we have a property for tenders (may be set on the award too) that defines whether the set value is :

- fixed (the value cannot be changed ever once awarded)
- modifiable (the value can be changed after award if buyer and supplier agree)
- fixed and adaptable (the value may evolve based on external factors defined in the tender)

There is apparently no such field in OCDS. How would you

[2016-12-08 07:01] timgdavies commented on #407
## Questions

(1) Firstly, a question for our procurement experts:

* To what extent does this concept (modifiability) relate to the concept of 'options' in EU procurement forms?

I notice that the EU forms include simply a tickbox for 'options'  and then free text to describe them, and then ask that the ```value```:

So we might need to think about guidance when using a flag for modifiability abo

[2016-12-10 09:54] timgdavies commented on #395
ResourceContracts.org have also described a need to capture a distinction between:

* Contracts terminated prior to completion
* Contracts terminated at completion

There is also the case of 'expired' contracts. I.e. not formally terminated in any way, but past the dates when they would be active.

## Considerations

There are a couple of considerations here:

1. We need to be careful to distingui

[2016-12-12 15:28] agm3dc commented on #403
@timgdavies Your approach sounds reasonable; probably better than that which I had in mind previously as it's more flexible.

FYI, I've also come across the case of Guinea, where as many as 10 or 12 no objection certificates can be required (essentially all documents produced by the PE need a certificate from the proc authority). This would likely change in the event that they adopt electronic too

[2016-12-14 09:56] pwalsh commented on #378
Hi @timgdavies

Please do @pwalsh or @akariv for the FDP team to jump in here - I was not aware of this discussion.

We can easily add a transaction ID to Fiscal Data Package.

We do have a very strong preference to implementing data models that reflect the data we actually see. I can't remember ever seeing a budget document with transaction identifiers. I have seen spending data with transaction

[2016-12-14 10:19] timgdavies commented on #378
Thank for exploring this.

Our approach has always been that open data specifications should seek to balance publisher **and** user needs.

Just because data has never been represented a particular way to serve internal government needs does not mean that representation will not be important for consumers of the open data version of that dataset - and so specification development offers an opportu

[2016-12-14 10:32] pwalsh commented on #378
@timgdavies

Agreed on including identifiers in theory. It is just that, in the absence of actual identifiers from the source, one goes down other paths which may or may not have the desired effect. e.g.: using the OpenSpending internal identifier as the transaction ID for a budget line - one could wonder if this is a good thing. From your perspective, I might guess that it is a good thing - OpenS

[2016-12-14 10:55] timgdavies commented on #378
Thanks @pwalsh

In the context of OCDS, we ask publishers to link out to additional contextual budget information.

In the update proposed for 1.1, we would have a situation where:

* If they are choosing to manage that information persistently via Open Spending, they can link there.
* If they choose to add identifiers to a bulk FDP (and FDP permits this in a standard way), then they can link ther

[2016-12-14 11:15] pwalsh commented on #378
Agree there is complexity here - but there are also important use-cases of being able to track between contracts and budgets that can't be served without encouraging publishers to find an approach to creating identifiers.

On this, I 100% agree on the use cases. However, if the source data can't meet this promise, a spec can't either. And, that is why composite keys in this regard are actually *da

[2016-12-14 11:25] timgdavies commented on #378
Thanks @pwalsh

On the second point first - a ```MAY``` should get us to the place where we can encourage use of FDP alongside other solutions and be able to mention it (which I would like to be able to do).

On the first point - I think it's important to understand specifications as part of a dynamic system of data production: the underlying data and it's features are not static. We've seen how p

[2016-12-14 12:08] pwalsh commented on #378
Great @timgdavies I'll talk with @akariv on getting a transaction id type added.

@akariv anything to add here in this context?

[2016-12-14 15:51] kindly opened #408 "Conditional fields based on what extensions exist"
There are two independent extensions.  ExtensionA and ExtensionB.

ExtensionA does not depend on ExtensionB and vice versa, and they are both extensions that can be used independently.

However, ExtensionA has added a definition i.e
[code]

ExtensionB wants to add a property to "extensionADefinition" but clearly only if ExtensionA is enabled.

So ExtensionB has something like the following in rele

[2016-12-14 16:25] kindly commented on #408
I see two solutions to this.

1. **We do not care that ExtensionA is enabled**

This will not cause any errors just make the resulting patched jsonSchema look a bit odd. It will look like
[code]
This is perfectly valid JSON schema (even without the type field information). This definition will never be used as only ExtentionA should reference extensionADefinition.
The only issue I see is that will

[2016-12-14 16:32] timgdavies commented on #408
Thanks @kindly. @myroslav Your thoughts on the above really welcome.

[2016-12-14 16:41] duncandewhurst commented on #377
Proposal (for inclusion in extension guidance/documentation):

The **sourceEntity** field should be omitted when this is not known at the time of budgeting (e.g. in a PPP where part of the budget will be provided by the successful private sector bidder). In this case **budgetBreakdown/description** field should be used to provide the source of the budget (e.g. "private sector investment")

[2016-12-14 20:30] timgdavies commented on #342
There is an extension at https://github.com/open-contracting/ocds_upgrade_342 for this (we're using it in the PPP profile of OCDS, hence creating this before we start on the 1.1 schema).

Given the PPP use case, I am supportive of the proposal - and will just make sure we write documentation carefully so consuming applications have good guidance on how to find a title to use when displaying inform

[2016-12-14 23:08] myroslav commented on #408
@kindly you are describing simple case when you have extension to extension. We have more complex cases, when an extensions are independent of each other, but only if both of them are installed some specific properties/values are added to OCDS Schema, including the fact that these so called "intersectional exceptions" should automatically be added, and there can be no case when one adds just two i

[2016-12-15 17:27] ekoner opened #409 "Remove references to the OCDS Mapper tool"
The OCDS Mapper tool  is referenced here http://standard.open-contracting.org/latest/en/implementation/serialization/#generating-json

It is no longer maintained and can be removed from documentation. If the repo can be archived without any issues, I'd also suggest that.

[2016-12-19 08:54] andrewlorien commented on #371
NSW eTendering (Australia) uses "related items" as the only means of linking the stages of the tendering process.
An "Annual Procurement Plan" may be linked to many "Planned Procurements".
A Tender process may link to a Planned Procurement, or to another Tender process. The link is bi-directional and the type of relationship is not specified, but it is used to link new tenders to failed tenders (a

[2016-12-19 13:33] kindly commented on #408
My understanding is that I am describing exactly the inter-sectional extension case above.  An extension to an extension is simple and I ignored that case completely and is covered by the idea of "dependant" extensions outlined [here.](https://github.com/open-contracting/standard_extension_template#optional-fields)

I have outlined the two solutions to the "Intersectional" case above.

Solution 2,

[2016-12-20 01:04] andrewlorien commented on #380
NSW eTendering has a rarely-used "Single Invitation" type, which is defined as

But our "Pre-Qualified / Invited" type does not exclude single suppliers, and is more often used for direct tenders.  I think the new definition of "limited" covers this situation.

[2016-12-20 02:46] andrewlorien commented on #382
NSW eTendering has a field (in various objects) called "Multi Agency Access" (MAA) or "Piggyback", which allows other agencies to share a procurement.  The publication of this field is significant, because it signals to suppliers that there might be a bigger market than the tender initially presents.
A plan with MAA will only "potentially" result in a tender with MAA, a tender with MAA does not al

[2016-12-20 10:30] duncandewhurst commented on #382
@andrewlorien thanks for this

For reference when we look at modelling for this issue here is the ProcurePoint NSW page on [multi-agency access](https://www.procurepoint.nsw.gov.au/policy-and-reform/goods-and-services/multi-agency-access-contracts)

[2016-12-20 14:23] andrewlorien commented on #382
Yes, that's the thing.
None of those arrangements are visible to the eTendering application. So when an agency advertises that a tender may be shared with other agencies, apart from the text in the tender/contract description we don't know what that arrangement is or whether it has borne fruit. If two contracts from different agencies list the same tender as being "related", it's a fair guess that

[2016-12-21 14:10] duncandewhurst opened #410 "Tender status: planned vs proposed"
In the NSW eTendering platform there is a distinction between a [planned procurement](https://tenders.nsw.gov.au/?event=public.app.view&appuuid=AECF4364-FC8D-BE96-0DCF1CF2FAF86C4C) and a [proposed tender](https://tenders.nsw.gov.au/?event=public.rftproposed.list).

In OCDS it is not possible to distinguish between these notices because the ```tender/status``` code list only has a single ```planned

[2016-12-21 14:10] duncandewhurst commented on #410
This may be relevant to the upgrade discussion in #201

[2016-12-21 18:53] KaitlinCCSI commented on #395
Just a few more thoughts from ResourceContracts/OpenLandContracts:

- Agree with earlier comments about the connotation of “terminated” as well as the distinction seen between “terminated” and “completed” (and while we mentioned expired, don't think that there is as much of a need to distinguish between “completed” and “expired”).

- Some potential use cases/reasons why people would want to know d

[2016-12-21 19:35] chrisalexsmith commented on #395
One significant cause of contracts being terminated before completion is non-performance by the supplier (or the purchaser or both),possibly resulting in the parties to the contract going to arbitration or court.
It's important for non-performing suppliers and contracts to be identified.

[2016-12-22 00:13] andrewlorien commented on #410
The Australian Federal Government has a similar structure.  Agencies publish [Planned Procurements](https://www.tenders.gov.au/?event=public.APP.list&tab=List%20By%20Agency) on an annual basis which map reasonably well to OCDS tenders despite having very little detail.  They also publish tenders
with the status [Notice](https://www.tenders.gov.au/?event=public.atm.showClosed&ATMUUID=95207D50-99F1-

[2016-12-22 21:00] AlCollier commented on #371
Bit concerned that we're losing the original use case from #184 here  - to link an existing contract with the tender process for its replacement.

[2016-12-24 06:32] andrewlorien commented on #106
I know this is a million years old, but to support Tim's last comment about legal significance above:
in [AusTender](https://tenders.gov.au), only Contracts are amended.  And they can either be a "material amendment", which is a change to a specific set of fields (eg the value), or a "non-material amendmend", which is a change to any other field (eg a phone number).

[2016-12-25 21:32] andrewlorien commented on #245
in NSW eTendering and AusTender, suppliers have "trading name" as well as "legal name".  Currently I'm mapping "tradingName" to "Name", so this change would actually affect my data.
If publisher and identifier both had "name" AND "legalName", that field wouldn't be a breaking change.

[2016-12-28 22:48] chrisalexsmith commented on #410
Most multilateral development banks will require borrowers to issue a general procurement notice at the outset of a new project and then publish specific notices for each package either as a request for expressions of interest for consultancy services or as an invitation to tender.

[2016-12-31 13:57] chrisalexsmith commented on #407
Quite often a tender will include a clause that permits the purchaser to amend up or down the quantities within predefined % limits at the contract award stage, thereby allowing the purchaser some flexibility on the value of the awarded contract. This is particularly useful if the purchaser has a limited budget and offers a practical alternative to cancelling the tender if sufficient funds are not

[2016-12-31 15:42] ColinMaudry commented on #407
Thanks @chriscrownagents, I didn't know about this case.

Now the French decree is about to be published, the different cases for the changeability of the award value are stable. Here are the possible values:

- **fixed**: the awarded value will not change
- **modifiable**: the awarded value may change, typically through post-award renegotiation
- **fixed but can be updated**: the awarded value ma

[2016-12-31 16:17] chrisalexsmith commented on #407
Thanks @ColinMaudry
World Bank Standard Bidding Document for Goods 2016 includes following:
"42.	Purchaser’s Right to Vary Quantities at Time of Award
42.1  	At the time the Contract is awarded, the Purchaser reserves the right to increase or decrease the quantity of Goods and Related Services originally specified in Section VII, Schedule of Requirements, provided this does not exceed the percenta

[2017-01-05 14:30] duncandewhurst commented on #392
@LindseyAM noted the following reporting requirement in Ukraine:

implementing more than 20 percent of the contract, then the subcontractor’s
name and registration number will be disclosed, as well as the amount of
public funds it spends under the contract.

The proposed ```contract.subcontractors``` array would meet the requirement to disclose the subcontractor's name and registration number whil

[2017-01-11 08:40] duncandewhurst commented on #379
Some requirements for the bid extension are noted in the [EC TED eforms explanatory note](http://ec.europa.eu/DocsRoom/documents/20224):

![image](https://cloud.githubusercontent.com/assets/19265814/21841294/8a6c4f66-d7d9-11e6-8150-30bbc4efc38f.png)

[2017-01-11 11:42] duncandewhurst commented on #250
In NSW Australia eTendering system locations are specified at tender level and are defined based on **both**:

1. a list of [NSW regions](https://tenders.nsw.gov.au/public_data/NSW%20Regions.pdf) which is not known in any of the existing gazetteer codelist options.
2. a list of 'States and Territories'

(see [example](https://tenders.nsw.gov.au/?event=public.rft.show&RFTUUID=F5B03ACB-CD2C-C6BF-0C7

[2017-01-12 10:02] timgdavies opened #413 "Guidance on OCIDs for re-publishers"
We are seeing a number of organisations re-publishing data from others.

We need to work further on guidance around how OCIDs should be constructed and managed in these cases.

(Internal reference to helpdesk issue 1543)

[2017-01-12 10:46] timgdavies commented on #395
Comments from Isabel-Maria Da-Rosa at the EC.

[2017-01-12 10:46] timgdavies commented on #407
Comments from Isabel-Maria Da-Rosa at the EC:

[2017-01-12 14:06] ColinMaudry commented on #407
@timgdavies attn: Isabel-Maria Da-Rosa

Whether the awarded value is modifiable or not, its modification is indeed registered in the OCDS data with a new release. This is not in the scope of this issue.

The topic of this issue is

In other words:

[2017-01-13 15:50] mpostelnicu commented on #379
Thanks, this looks very promising.

Capturing the date of the bid can be very useful later, especially for corruption risk flagging. Not sure if you have that already in the draft, I saw it mentioned in previous (closed) issues, but not here, yet.

[2017-01-16 01:06] andrewlorien commented on #268
In Australia (and I suspect many other places) our description fields can be long and contain all sorts of formatting, which may be important to understanding the content.  This may include lists/sublists, headings/subheadings, and tables.  See an example at https://tenders.nsw.gov.au/justice/?event=public.cn.view&CNUUID=7CF71764-0269-D4FB-A4E51AA90867783A

Some tender applications in NSW are thro

[2017-01-16 10:32] Bjwebb commented on #409
Our approach to archiving repos it to move them into https://github.com/open-contracting-archive

[2017-01-16 11:18] duncandewhurst commented on #374
There is draft schema [here](https://github.com/open-contracting/ocds_upgrade_374) for this proposal which adds ```contractPeriod``` and ```contractDuration``` properties to ```tender```.

```contractPeriod``` is a standard period object for consistency with other uses of ```xxxxPeriod``` elsewhere in the schema.

```contractDuration``` is a [ISO8601 duration format](https://en.wikipedia.org/wiki/

[2017-01-16 12:11] duncandewhurst commented on #378
Flagging that Budget Data Package is also referenced in the ```contract.implementation.transactions``` section of the schema:

Based on the discussion above I think this just needs updating to read "Fiscal Data Package" rather than "Budget Data Package" which I will include in the updates to the transaction block in #372

[2017-01-16 12:30] duncandewhurst commented on #372
There is draft schema [here](https://github.com/open-contracting/ocds_upgrade_372) which implements this proposal.

In addition to the proposed changes above the extension also updates the reference to "Budget Data Package" in the description of the transaction block to read "Fiscal Data Package" in line with the discussion in #378

The extension follows the approach to deprecation described in #4

[2017-01-16 14:25] duncandewhurst commented on #372
Draft schema updated to fix Budget Data Package references in the ```transaction.id``` and ```transaction.source``` field descriptions.

[2017-01-16 15:24] duncandewhurst commented on #377
There is a draft extension which implements this proposal [here](https://github.com/open-contracting/ocds_budget_breakdown_extension).

The documentation for the extension updates the guidance proposed in my previous comment, to recommend that the ```budget.sourceEntity.name``` field is used to provide a free text description when the organization details are not known at the time of budgeting for

[2017-01-16 16:45] duncandewhurst commented on #33
There is a draft extension, based on the modelling proposed by Tim, [here](https://github.com/open-contracting/ocds_upgrade_33).

The extension implements a codelist with the following codes:

* document - a fee payable for access to bidding documents
* submission - a fee payable for the submission of bids
* win - a fee payable by the winning bidder

I've used 'submission' rather than 'participati

[2017-01-17 13:22] timgdavies commented on #33
I've been reviewing the World Bank Benchmarking Public Procurement Report and that points to another category we may need to consider:

* 'Bid security deposits' which bidders may need to pay, but which are refunded after the bid process.

I suggest we consider a 'deposit' codelist entry.

Looking at [an example for Afhanistan](http://bpp.worldbank.org/data/exploreeconomies/afghanistan/2017#bpp_pl

[2017-01-17 13:37] timgdavies commented on #33
@duncandewhurst I've just submitted a pull request that makes some small documentation tweaks and adds 'deposits'.

I'm also left wondering whether we need to include a distinction between:

* The fee to access documents **at all*
* The fee to access hard copy / official copies of documents

This may help make the case discussed in [these usage notes](https://github.com/open-contracting/ocds_upgra

[2017-01-17 13:55] timgdavies commented on #374
A couple of things I think we need to check further here:

* [x] Is there a need for duration in other places (e.g. Award)
* [x] What support is out there for ISO8601 duration format strings

On the second point - I've been looking to explore how this might meaningfully be used in spreadsheets or software, and struggling to come up with anything really good to run with.

Will keep exploring...

[2017-01-17 18:41] ekoner commented on #374
**Review**

Propose: ```contractDuration``` as a duration in days.

Pros:

- Simplifies duration for spreadsheets-users
- Reduces the need to convert the field for humans
- Can be specified as portions of a day (0.5), a day (1), multiple days (100)
- More complex periods can be calculated by consuming applications if needed e.g. (3 weeks)

Cons:

- Barrier to machine-readablility units - users wou

[2017-01-17 18:43] ekoner commented on #374
@timgdavies asked: Is there a need for duration in other places (e.g. Award)

I'd anticipate only in places where dates are uncertain, so perhaps planning. I will review and link a ticket here if there are any candidates.

[2017-01-17 18:46] ekoner commented on #374
![374](https://cloud.githubusercontent.com/assets/4339603/22034692/f2115f5c-dce4-11e6-8ff4-a633a0b6aca9.png)

**Update**: Thanks @duncandewhurst for pointing out issues with the version numbers above. For OCDS v1.2 and v2 please read  v1.02 and v1.1

I visualised most of the dates mentioned on this thread so that we have a shared understanding of the usual dates found in a Tender pipeline. Please

[2017-01-18 05:22] andrewlorien commented on #33
In AusTender there are never any fees for documents or submissions, but in NSW eTendering, there is an admin fee to download the documents, or have a hard copy posted to you (it's not an "official copy", just a paper copy).  The two fees are different, and set by the buyer per tender.  It is intended to be a nominal admin fee.  As you'd expect, the download fee is very rarely used, but the hardcop

[2017-01-18 18:58] timgdavies commented on #382
@duncandewhurst I did some work to tweak the descriptions of the proposed extension for this, and it's entries in the extension registry, to:

* Rename it to [ocds_multiple_buyers_extension](https://github.com/open-contracting/ocds_multiple_buyers_extension) as this will remain an extension, rather than part of core;
* Update the descriptive text to reflect this;

I'm not sure whether we should in

[2017-01-18 19:02] timgdavies commented on #409
I've moved the mapper to the archive, and staged an updated in 1.1 that removes the reference.

[2017-01-18 19:07] timgdavies commented on #387
I've staged changes to the codelist for the above.

As there have been no concerns raised on the issue of codelist versioning, I propose no further action on that until direct issues or use-cases are raised by data publishers or users.

[2017-01-18 19:13] timgdavies commented on #297
This is staged in 1.1-dev branch to be pushed shortly.

[2017-01-18 19:18] timgdavies commented on #323
I'm adding the following section to the serialization page:

I will raise an issue for the OCDS Validator to ensure it checks for I-JSON compliance.

[2017-01-18 20:17] timgdavies commented on #201
Based on the discussions in #410 and above, I've staged an updated tenderStatus codelist as follows:

| Code         | Title        | Description                                                                                                                                           |

[2017-01-18 20:31] timgdavies commented on #214
The sentence has been added to the staged copy of 1.1-dev.

[2017-01-18 20:39] timgdavies commented on #243
I've reviewed the Resource Contracts discussion - but did not find anything substantive to add to proposals here (the concept of whether or not a document should be counted in a tally is an interesting user requirement, but inclusion of a field for this feels application specific).

The proposal for 1.1 then is to create an **extension** which includes

* isFormatOf
* isVersionOf

following the DC

[2017-01-18 20:44] timgdavies commented on #246
I've staged an update with the following updated description for ```release.id```

[2017-01-18 20:48] timgdavies commented on #248
There have been no voices in favour of ```statusDetails```, nor further requests for this field.

This will not be actioned as part of 1.1. Closing.

[2017-01-18 20:48] #248 closed

[2017-01-18 20:51] timgdavies commented on #252
#297 has addressed this for currency codes.

[2017-01-18 20:58] timgdavies commented on #252
I've reviewed codelists in use, and the only other one needing case specified I could find was language codes.

This now specifies lowercase language codes.

[2017-01-18 20:58] timgdavies commented on #252
Assigning to dev team to check if there are any implications for the validator from this.

I.e. does the validator check adequately for case of currency and language codelist entries?

[2017-01-18 21:19] timgdavies commented on #253
I've made a number of schema changes [which can be seen here](https://github.com/open-contracting/standard/commit/c251c0bb21ace026c6b2232a1489efc1113cfaa2) to:

* Update value to allow negative amounts
* Document the logic of negative amounts in budget, tender, award and contract.

This helps to address the issue of negative amounts as payments to government, and negative amounts in transactions a

[2017-01-18 21:37] timgdavies commented on #268
I've been looking at this more, and thinking this likely comes in implementation guidance as soft guidance rather than hard requirements of the standard right now.

Here's a draft for comment:

## Guidance for data publishers

Title fields should contain plain text only.

For description fields, publishing applications should:

* Format fields so that they are readable as plain text;
* Carefully c

[2017-01-19 09:12] duncandewhurst commented on #382
@timgdavies agreed - separate extensions was the approach I was going for, as it will avoid confusion for those who want to use just one or the other.

[2017-01-19 10:16] timgdavies commented on #374
I've been thinking about this and reckon @ekoner is right with the suggestion to simple include contract duration in days.

We could even make the field name very explicit for this ```durationInDays``` to make use intuitive.

I think we could consider adding ```durationInDays``` directly to the ```period``` block.

We might want to add some rules about which of ```startDate```, ```endDate``` and `

[2017-01-19 12:25] duncandewhurst commented on #310
We should consider whether the [approach to modelling qualification processes](https://github.com/open-contracting/public-private-partnerships/issues/36) in the PPP extension could be reused for any types of framework agreement.

[2017-01-19 15:09] Bjwebb commented on #251
@timgdavies This has not yet been address, so needs to be taken forward.

[2017-01-19 15:39] ekoner commented on #372
`providerOrganization` and `receiverOrganization` use the `Identifier` block in the current schema. However there is an upgrade proposal Updates to organisation handling in OCDS #368 which impacts how we implement the change.

Everything else looks fine. Assigning to @duncandewhurst to align with #368

[2017-01-19 15:48] timgdavies commented on #335
Just flagging up https://github.com/json-schema-org/json-schema-spec/issues/15 where there was discussion of a $merge keyword for JSON schema.

It's not being taken forward into JSON Schema v0.5 - but I thought it could be worth skimming just in case anything relevant for us here.

[2017-01-19 15:55] timgdavies opened #414 "Articulating cross-references in the schema"
We have a number of points now where our schema requires cross-references.

E.g.

* contract.awardID should point to a valid award.id
* award.suppliers[].id should point to an entries in parties[].id

Looking at the discussions around JSON Schema v0.5 there are proposals for a $data validation keyword at https://github.com/json-schema-org/json-schema-spec/issues/51

We should check on the status o

[2017-01-19 16:09] ekoner commented on #33
Reviewed: Now ready for peer review.

[Sample JSON](https://github.com/open-contracting/sample-data/tree/ocds_upgrade_33/fictional-example)

[2017-01-19 16:36] ekoner commented on #377
@duncandewhurst `sourceParty` refers to negative amounts but the `Value` object doesn't currently allow negative values. Is there an update to that object?

`transaction.amount` is being changed to `transaction.value` in https://github.com/open-contracting/standard/issues/377, should `budget.amount` become `budget.value` or does amount have a different context here?

[2017-01-19 16:58] duncandewhurst commented on #377
Thanks @ekoner - negative amounts are introduced by #253 so that should be OK.

Good spot on ```budget.amount```, we use ```value``` everywhere else in the schema (or will following the v1.1 upgrades to ```transaction```) so we should probably change this too for consistency, although I expect we have seen more use of ```budget.amount``` than ```transaction.amount``` so would need to balance consi

[2017-01-19 17:51] myroslav commented on #377
In one of the implementations we have budget distribution process linked to specific `Item`s in `Contract` since information is not necessary on planning stage, but instead would be finalized and collected before contract is signed.

Additionally there will be either no `sourceParty` (or all entries would have the same - `Treasury`) but we would need some kind of code that denotes internal categor

[2017-01-23 11:32] timgdavies commented on #205
The Open Procurement API has drafted a complaints extension as follows (showing json-merge-patch version):

[code]

This might provide a basis for a future OCDS complaints extension.

This is currently scheduled for post 1.1.

[2017-01-23 11:55] timgdavies commented on #383
The approach proposed by colleagues in Ukraine is a simple 'valueAddedTaxIncluded' field as follows (json merge patch example):

[code]

[2017-01-23 14:47] timgdavies commented on #379
I've been working on a [draft bids extension here](https://github.com/open-contracting/ocds_bid_extension) which has two main sections:

* Bid Statistics - using the [bidStatistics](https://github.com/open-contracting/ocds_bid_extension/blob/master/codelists/bidStatistics.csv) codelist
* Bid Details - with a block for each bid

I've been drawing on the [Open Procurement API](http://api-docs.openpr

[2017-01-23 15:29] timgdavies opened #416 "Pinning extension versions"
For 1.1-dev I'm planning pulling in core extensions to the documentation, drawing on the extension registry for this.

However, I anticipate that we will need to pin the 1.1-dev docs to particular versions of core extensions.

Input on approaches to do this welcome. Tagging @kindly and @Bjwebb

[2017-01-23 16:59] timgdavies commented on #347
The [spreadsheet here](https://docs.google.com/spreadsheets/d/1oLGD25LpOJMg5KG8Lh_BnvMgTZx2eRU6jBjvUjvKitg/edit#gid=662145505) has been updated with a revised list of definitions, drawing on the input above, and the approach to 'documentation' taken in the PPP extension.

It looks like getting examples together will be beyond the scope of 1.1, so suggest that is a post 1.1 issue.

[2017-01-23 17:16] timgdavies commented on #386
I have staged five additions to the documentType codelist:

| Category     | Section                                 | Code                | Title_en                 | Description_en

[2017-01-23 17:51] edugomez opened #417 "Duplicate key 'title' in release-schema.json 1.0.2"
Duplicate key 'title' in lines 855 and 857 of the release schema:

`"Amendment": { "title":"Amendment", "type": "object", "title": "Amendment information", ...`

[2017-01-23 18:44] timgdavies commented on #417
Thanks for flagging this. It looks like the 2nd 'title' should be 'description'.

I've fixed in this the work for 1.1.

Not sure whether we should bug-fix in a 1.0.3 or not.

[2017-01-24 17:18] kindly commented on #301
Do we make the version

major.minor.patch  e.g 1.1.0   OR
major.minor eg 1.1

My feeling is we just go with major.minor as that should be sufficient to make the validator work.
There should be no changes in a patch release that break behaviour on certain data.

It will also be frustrating for the publisher to feel like they have to produce a new version of their data for every patch release.

A su

[2017-01-24 17:26] timgdavies commented on #301
I would support regex approach, and allowing major.minor or major.minor.patch as

(a) even if we say not to do this, people might do it anyway;
(b) there may be some cases where declaring the patch is important;

[2017-01-25 10:05] kindly commented on #336
We need to think about we do about the existing closed codelists that have enums?

My suggestion, for version 1.1, is to keep them as they are.

In another version, once we have the codelist files fully supported, (with deprecation warnings, working well with extensions and completely supported within validator) we can think about removing them then.

I think it will take time develop this tooling

[2017-01-25 14:20] kindly commented on #416
The plan for this was to make a branch in the extension_registry with the pinned versions for the 1.1 docs.

And then change this variable to point to that branch.
https://github.com/open-contracting/standard/blob/1.1-dev/standard/docs/en/conf.py#L328

[2017-01-25 15:12] kindly commented on #336
First draft of patches can be found https://github.com/open-contracting/ocds_upgrade_1_1_patches/tree/master/336_codelist

[2017-01-25 15:13] kindly commented on #301
First draft of schema can be found:

https://github.com/open-contracting/ocds_upgrade_1_1_patches/tree/master/301_version_extension

[2017-01-25 15:33] timgdavies commented on #416
Ah-ha. Makes perfect sense. Great.

[2017-01-26 00:02] myroslav commented on #385
Is `ratedCriteria` the value to use for `awardCriteria` in our procedures that include non-price criteria described at http://openprocurement.org/en/nonprice-criteria.html ?

[2017-01-26 00:39] myroslav commented on #223
The CCCEV-inspired proposal of @duncandewhurst is too verbose for ProZorro and MEAT (as outlined via Ukrainian Public Procurement Law).

Example of `Features` that are in ProZorro can be observed at http://api-docs.openprocurement.org/en/latest/tutorial.html#creating-tender (search for `features`). Tutorial has no example of the bid, but Bid data structures can be reviewed at http://api-docs.openp

[2017-01-26 10:42] #416 closed, assigned to Bjwebb, kindly, timgdavies

[2017-01-26 17:09] duncandewhurst commented on #377
@timgdavies just noting that the draft schema takes a different approach to that outlined in the proposal and in the [documentation](https://github.com/open-contracting/ocds_budget_breakdown_extension) - introducing a new ```budgetBreakdown``` building block and adding an array of these blocks in ```budget.budgetBreakdown```

If this was the intended approach the documentation will need updating.

[2017-01-27 09:35] timgdavies commented on #223
Thanks @myroslav: is the issue solely verbosity?

I.e. is it **possible** to model the information from your features in terms of a single criteria and requirementsGroup?

Or are there semantic issues we need to consider here?

[2017-01-27 09:36] timgdavies commented on #385
We've not set the proposed updated list here - but it looks to me like ratedCriteria does fit the way your procedures are described.

[2017-01-27 10:49] timgdavies commented on #357
NSW use case suggests that rather than an object with date and rationale, and then array of changes, we need an array of objects - to allow that a single release could declare a number of different amendments from different points in time.

[2017-01-27 16:00] timgdavies commented on #232
We've identified that this creates problems for required fields. Approach needs further review. Tim to discuss with @kindly

[2017-01-27 16:06] timgdavies commented on #229
Discussed with @kindly

We will work this up and put this forward to peer reviewers for 1.1, for a view on accepting or pushing to 2.0 (as it creates some backwards compatibility issues)

[2017-01-30 15:13] ekoner commented on #386
Reviewed: Now ready for peer review.

@timgdavies is sample data required?

[2017-01-30 15:15] ekoner commented on #347
Reviewed: Now ready for peer review.

[2017-01-30 16:51] duncandewhurst commented on #379
@timgdavies I've added ```bid.requirementResponses``` to the [requirements extension](https://github.com/duncandewhurst/ocds-requirements-extension) for the PPP extension so I think that can be ticked off.

[2017-01-30 21:04] jskuhrovec commented on #383
I would suggest VAT to include also the tax rate - so that one can calculate the value without VAT. To have numbers comparable with other tenders.

[2017-02-02 08:17] timgdavies opened #419 "Removing minItems constraint from release package and record package"
In this [API spec issue](https://github.com/open-contracting/api-specification/issues/5) we are exploring whether release and record packages could contain an empty set of releases.

This is helpful for an API returning a query response.

## Proposal

The ```minItems``` constraint is removed from release and record package, so that they can contain an empty set of releases.

## Process

Please ind

[2017-02-03 16:48] ekoner opened #420 "Clarify role of publisher and definition of publisher name"
**publisher name** is currently defined as:

It would be clearer if it explicitly defined the role of the **publisher**, for example:

This has raised questions in a jurisdiction where the buyers are legally responsible for publishing their information to a central platform. A separate body is then responsible for outputting to OCDS.

[2017-02-06 21:07] timgdavies commented on #259
The changes are staged in my local 1.1 copy (to push later) and the enquiries extension is also now in the extensions repository: https://github.com/open-contracting/ocds_enquiry_extension

[2017-02-06 21:26] timgdavies commented on #385
Based on the discussions here I would propose the following codes and definitions:

| Code                  | Title                    | Description

[2017-02-06 21:30] timgdavies commented on #84
This is now addressed in #385

[2017-02-06 21:30] #84 closed

[2017-02-07 01:14] LindseyAM commented on #385
Based on review of the above and the expert comments provided by Myroslav, Alex, & Jachym, I suggest removing qualityAndPrice as it can be included within definition of ratedCriteria and possibility for extension where there are specific local formulas in use. I added a small twist for ‘other criteria’ such as in situations where there is a weighting criteria for eg some social or environmental di

[2017-02-07 16:59] timgdavies commented on #274
I've staged this for inclusion in core, as it appears relevant also to amendment cases (where we are seeing some (mistaken?) use of amendment to represent contract extensions).

[2017-02-07 19:49] timgdavies opened #421 "Updates to documentation generation"
To handle version 1.1 we need a number of updates to documentation generation so that

* [  ] Generated tables indicate deprecated fields

[2017-02-07 20:03] timgdavies commented on #357
A draft patch and documentation (in need of some worked examples) is now available here: https://github.com/open-contracting/ocds_upgrade_357

@ColinMaudry This introduces the ability to provide a description of each of the amendments in a contracting process, but suggests that the very structured information should be captured through multiple releases (for each before and after of an amendment p

[2017-02-07 20:05] timgdavies commented on #385
Thanks @LindseyAM - I agree with this change. Will work on staging this shortly.

[2017-02-07 20:05] #417 closed, assigned to nobody

[2017-02-07 20:18] timgdavies commented on #251
I think I need to run through this with someone.

With the changes in #357 the amendment object is deprecated, and replaced with an amendments array - and as I understand our approach to blanking out array contents is to include an entry with just ```id```

Does this dodge the issue? Or do we still need to do something to allow amendment objects themselves to be null?

[2017-02-07 20:19] timgdavies commented on #410
This is carried forward in #201.

[2017-02-07 20:19] #410 closed, assigned to timgdavies

[2017-02-07 21:02] ColinMaudry commented on #357
Hi @timgdavies, thanks for following up.

In the French model, only the following values can be amended after the first publication of the data:

- the awarded value (if the modifiability of the awarded value allows it)
- the list of the compani(es) that were awarded the contract
- the duration of the contract

Reading [the ways to provide data for an amendment](https://github.com/open-contracting

[2017-02-07 22:03] JachymHercher commented on #385
Small naming comment: wouldn't renaming "qualityOnly" to "highestQuality" make it more consistent with "lowestPrice", "lowestCost"? (Or renaming the last two to priceOnly, costOnly.)

(By the way, as mentioned above, I still think that directly submitting information about criteria instead of "types of criteria" is better [you need just one layer / one codelist; not two]; I think the description o

[2017-02-08 00:22] andrewlorien commented on #357
Thanks Tim, I'm publishing an array of amendments now.
About the delta thing: The Australian Federal government mandates that contract value amendments be reported as a delta.  I think that's because a budget change in one financial year should only be reported in that financial year.  It's incredibly difficult to report on, and very easy to get wrong, especially in aggregate data.  We publish the

[2017-02-08 08:04] timgdavies commented on #357
Thanks @ColinMaudry @andrewlorien - this is really useful feedback.

So - I think in the new model, **if** law requires a delta, this can be given in the unstructured or semi-structured ```description``` field of an amendment in the amendments array - but we would not be asking for this in structured form in OCDS.

For the hybrid model, I think we could accommodate that with guidance around the 'a

[2017-02-08 08:51] timgdavies opened #422 "Add currency codelist to standard"
To support validation of data (see https://github.com/OpenDataServices/cove/issues/543)

[2017-02-08 08:52] timgdavies commented on #422
We currently only reference out to ISO Currency codelist, but don't include it in our standard directories. As we move towards supporting better validation of codelists, this should be included.

[2017-02-08 11:49] timgdavies commented on #385
Thanks @JachymHercher - good points on code consistency - I've updated to have ratedCriteria, priceOnly, costOnly and qualityOnly

I agree that ideal is for people to provide information on each of the requirements (which I understand could be quality, price and cost) but at the moment that only exists in OCDS via an extension, and for analysis being able to read the summary off this codelist I th

[2017-02-08 12:08] timgdavies commented on #325
This can be worked out outside of 1.1, more in relation to API standardisation.

[2017-02-08 12:50] timgdavies commented on #232
Only issue is with awardID being required.

[2017-02-08 13:36] JachymHercher commented on #385
@timgdavies, so the idea of the summary is having some information about the award criteria even if the users want to keep it simple / don't want to use an extension for describing them, right?

I agree with the idea of having a "simple" option, but the increase in complexity, if you ask directly about the criteria, is not that large. Essentially, instead of one selection from a codelist, users ha

[2017-02-08 14:23] LindseyAM commented on #274
I would like to understand a little bit better this proposal as extending the duration of the contract is one way that the contract could be amended (contract amendment or change could be duration, amount, contractor - if contract is assigned - , or change of terms (eg the road is now one lane instead of two, or a combination of the above). Just curious if the proposal is suggesting modeling exten

[2017-02-08 15:21] timgdavies commented on #385
Ah - think I understand you now.

Ok - so idea is that instead of 'awardCriteria' as a single field, it could be:

[code]

which can carry the same information as the four codes above. Right?

I had been thinking the choice was between: (a) simple codelist; and (b) list all the criteria.

The issue with the approach above, in the context of the 1.1 upgrade, is that it would not be backwards compat

[2017-02-08 15:36] JachymHercher commented on #385
Yes. (You don't necessarily need all three though, just two - e.g. price & cost - are enough if you are willing to assume that the weighting adds up to 1 / 100%).

Nope, essentially it's a) just price & cost criteria b) all criteria, including price & cost.

Sure 👍 .

[2017-02-08 15:53] timgdavies commented on #322
In looking at the use-cases for this codelist:

* It does not appear to be used by any of the existing redFlag analysis approaches being explored (although I can see potential uses to detect cases where submission method is overly complex / an outlier - or where the method was more open to interference);
* In EU forms, the codes around electronic submission appear to have a policy reporting angle

[2017-02-08 17:17] timgdavies commented on #380
With the updated definition, and making the codes more concise and consistent, the code list will become:

| Code | Title | Description |
| --- | --- | --- |
| open | Open | All interested suppliers may submit a tender. |
| selective | Selective | Only qualified suppliers are invited to submit a tender. |
| limited | Limited | The procuring entity contacts a number of suppliers of its choice. |
|

[2017-02-08 17:19] timgdavies commented on #298
This will be picked up in #380.

[2017-02-08 17:19] #298 closed, assigned to ekoner

[2017-02-08 17:54] Bjwebb commented on #303
No, there was still some more to do, but it's happened as part of https://github.com/open-contracting/standard/pull/412

[2017-02-09 01:03] siwhitehouse commented on #385
@JachymHercher, can you say whether concession contracts are relevant here, please?

From my reading of the TED notices and eForms Technical Specification then in the case of concession contracts there is the possibility of using an "order of importance" instead of a weighting and I wondered if that has any impact on the rated criteria proposed here.

[2017-02-09 01:15] siwhitehouse commented on #379
Looking at the new TED Notice Forms, there are the following fields included when an award is announced:

Number of requests to participate received:
Number of tenders received:
Number of tenders received from small or medium enterprises:
Number of tenders received from other EU Member States, Iceland, Liechtenstein or Norway
Number of tenders received by electronic means:
Tenders were excluded on

[2017-02-09 01:31] siwhitehouse commented on #381
The following is taken from the new TED Notice Form:

Options and variants in the above appear to be additional requirements that may need to be captured. I am not sure why a procurement level data item - whether it is covered by the Government Procurement Agreement - sits here.

The above has been modelled in the  draft of the worked up extension in https://github.com/open-contracting/standard/is

[2017-02-09 01:46] siwhitehouse commented on #375
The EU, in their new TED Notice forms, also ask for

and in [the GPA](https://www.wto.org/english/tratop_e/gproc_e/gp_gpa_e.htm) there is this

Is it worth including an additional field for estimated dates of subsequent notices?

[2017-02-09 03:34] siwhitehouse commented on #369
The EU has the following:

Is a central purchasing body
Type of buyer (COFOG code)
Main general activity (COFOG code)
Main sectoral activity (COFOG code)
Is an SME

So, from what has already been discussed, I think that only leaves "Is a central purchasing body" as a possible addition.

[2017-02-09 03:52] siwhitehouse commented on #357
Looking at the eForms Technical Specifications for the EU it appears that they also have specific meanings for 'changes' and 'modifications'. My assumption is that 'changes' are made to the tender and 'modifications' are made after the award/contract, but I want to have that checked.

Changes/Modifications are part of the EU's rationales for amendments. These are structured whereas rationale is a

[2017-02-09 11:46] JachymHercher commented on #385
In eForms we are proposing to use the criteria in the same way for concessions as other types of contracts. Let's see if we come up with some reason why this could not work in the coming months.

Ordering is legally possible also for other types of public contracts. I'm doubtful that this is really used much in practice, so I wouldn't add it here for now - at least not until you have some clear de

[2017-02-09 12:09] timgdavies commented on #328
Exported data from TED does not appear to contain the check digit.

It appears that practice is not terribly consistent around this, so I have updated the codelist entry to include what is essentially a warning for users that they need to parse these identifiers carefully:

"Codes may be provided with or without the check digit, and consuming applications should be aware of this when processing da

[2017-02-09 12:55] kindly commented on #229
A first attempt at a patch for this can be found here.

https://github.com/open-contracting/ocds_upgrade_1_1_patches/blob/master/229_language_map/release-schema.json

At the moment this uses patternProperties for what can be in the Language Map but we could rely on extension to add particular languages to the map instead or as well.   Having the pattern properties lowers initial barrier to using t

[2017-02-09 13:33] timgdavies commented on #376
In [this staging extension](https://github.com/open-contracting/ocds_upgrade_376) I've added a ```procurementCategory``` item to ```tender```, and proposed a procurementCategory codelist which is shown below.

Although the category might be set before the tender stage, the rationale for including this in tender, rather than at the top-level, is that it collects it alongside other properties like p

[2017-02-09 15:45] ColinMaudry commented on #357
@siwhitehouse I emailed you the email address of someone closely involved with eForms.

[2017-02-09 18:20] timgdavies commented on #381
The updated lots extension [is now staged here](https://github.com/open-contracting/ocds_lots_extension).

This includes a ```lotGroups``` array to help model the additional lot information in terms of combining lots, and total values across sets of lots.

This model also uses 'relatedLot**s**' plural, with an array of lots whenever the linkage is there, as this is relevant for documents and miles

[2017-02-09 18:21] timgdavies commented on #381
@myroslav note the point above re plural relatedLots. Would this cause any problem for your implementations and OCDS export?

[2017-02-09 19:16] timgdavies commented on #374
I've just pushed an updated version of https://github.com/open-contracting/ocds_upgrade_374 which:

* Introduces ```durationInDays``` to period;
* Introduces ```maxExtentDate``` to period - addressing some of the issues in #375

both available for use wherever period is in use. This also fixes the definitions of awardPeriod, giving it the title of 'Evaluation and award period' to capture that it c

[2017-02-09 20:56] JachymHercher commented on #376
I find the addition of "mixed" an unnecessary loss of information. In particular, in #204 it's mentioned that "single procurement may include both goods/services.". However, in general, any combination of the basic three types can exist, and choosing "mixed" means we don't have any information about what the "main" element was - works/goods/or services? (An array, or a mainProcurementCategory and

[2017-02-09 21:11] duncandewhurst opened #423 "Planning: Budget line title and programme"
The description for the '''budget.description''' field is

In Mexico contracting processes have **both** an associated budget line title **and** and budget programme

[example programme](http://nptp.hacienda.gob.mx/programas/jsp/programas/fichaPrograma.jsp?id=11E047) - drilling down until there is 5 digits shows the budget title.

[2017-02-10 09:40] timgdavies commented on #401
I've just been [working on the parties extension](https://github.com/open-contracting/ocds_parties_extension/blob/master/release-schema.json) - and wanted to check at what level deprecation needs to be applied.

Essentially:

* We are replacing the detailed ```Organization``` block with an ```OrganizationReference``` block at most point in the schema.
* The property names (```buyer```, ```supplier

[2017-02-10 09:57] timgdavies commented on #302
Checking against the Open Procurement API spec, and any other data we have, I've not seen use of 'additionalContactPoint' or 'availableLanguage' in any existing data.

The subject of this issue has been resolved by Schema.org updating to require language codes.

I don't see a change to 1.1 required here.

A future extension for 'additionalContactPoint' and language support in contact points could

[2017-02-10 09:57] #302 closed, assigned to nobody

[2017-02-10 10:00] timgdavies commented on #370
We are proposing postponing this until post 1.1 to allow us to align the approach taken with the emerging [Beneficial Ownership Data Standard](https://github.com/openownership/data-standard), which will incorporate relevant modelling related to corporate structure.

[2017-02-10 13:19] ColinMaudry commented on #381
@timgdavies I unfortunately don't have much test data yet.

What I have so far is fictitious and handcrafted, but valid against the schemas: https://github.com/etalab/format-commande-publique/tree/master/exemples/json

[2017-02-10 17:43] ekoner opened #424 "Guidance on emptying fields and values page: 404"
The [merging](http://standard.open-contracting.org/latest/en/schema/merging/) page links to [guidance on emptying fields and values](http://standard.open-contracting.org/schema/reference.html#emptying-fields-and-values) which 404s.

[2017-02-11 12:01] timgdavies commented on #424
I've got this fixed in the 1.1-dev branch, and have also pushed a correction 1.0.2.

@bjwebb How easy for us to deploy the correction to the latest branch? (Guessing it might also need a quick transifex run and tweak in the translations too?)

[2017-02-12 15:19] timgdavies commented on #113
The updates to milestones in #373 introduce a new ```code``` element to tag particular kinds of milestones.

The extensions mechanism can be used to manage further application-specific data on milestones.

[2017-02-12 15:19] #113 closed

[2017-02-12 15:24] timgdavies commented on #296
This is handled in the updates in #373

[2017-02-12 15:24] #296 closed, assigned to timgdavies

[2017-02-12 16:35] timgdavies commented on #375
The new EU forms break this down into a number of fields, separating the concepts of renewal and recurrent procedures.

In OCDS 1.1 we will now be introducing period, and maxExtent for periods, as well as allowing links to a renewal or recurrent procedure's OCDS data using ```relatedProcess```.

However, as there have been no requests in this thread for this to go into core, I would propose that f

[2017-02-12 16:44] timgdavies commented on #376
The suggestion of 'mixed' came from @joshuacpowell [here](https://github.com/open-contracting/standard/issues/204#issuecomment-197542274) based on data from Vietnam which didn't name the main object, but instead used the term 'mixed' (or equivalent).

Josh - any views on @JachymHercher's point above?

Would it be possible from Vietnam data, or other data you have seen, to provide code based on the

[2017-02-12 16:44] timgdavies commented on #317
As this will be an extension I'm not going to include it in the first round of 1.1 review - but we should be able to include it in the extensions documentation for 1.1.

@duncandewhurst would you be able to have a first shot at working this extension up? (Just the pricingType - the other contractType issues are handled now).

[2017-02-12 17:11] timgdavies commented on #366
An extension, excluding 'symbol', is staged for inclusion here: https://github.com/open-contracting/ocds_upgrade_366

[2017-02-12 20:40] timgdavies commented on #368
The [commit here](https://github.com/open-contracting/standard/commit/6989523e2d07d466a8a74a70cfd650284882a170) applies updates to the documentation and schema based on the terminology of 'parties' ready for review.

This terminology was carried forward from the work on the PPP extension to OCDS and will be checked with reviewers.

[2017-02-12 21:05] siwhitehouse commented on #375
@timgdavies Yes, I'll include this in the extensions for trade. I think you could be right about using separate properties as, although they are similar concepts, the requirements for data capture are quite different.

[2017-02-12 21:11] timgdavies opened #425 "Information in documentation about the extension URLs to use"
At the moment it is hard for a user to discover the extension URL they should declare in their OCDS files when they browse available extensions.

We should include URLs of extensions on core extension pages, and update the community extension listings to also provide the relevant URLs.

[2017-02-13 13:25] Bjwebb commented on #251
I'm not sure, but I think this problem might exist for other objects in the standard, e.g. value, not just amendment.

[2017-02-13 14:04] irwink opened #426 "Add describedby field for the extended release schema"
Edit: This issue effectively starts at https://github.com/open-contracting/standard/issues/426#issuecomment-718963839

`$schema` is meant for the "metaschema", not for the "schema". The linked comment proposes using a `describedby` field to link to the schema.

----

I suggest that a "$schema" field be added to all contracting data files.  The "$schema" field's value would be either a single URI o

[2017-02-13 14:22] Bjwebb commented on #424
Not entirely sure what's happening with the 1.0.2 branch. Previously in dev stuff happened on the 1.0-dev branch, and then a pull request made onto the 1.0 branch.

Yes, this will need running through transifex. Should be possible to make this live this week.

[2017-02-14 13:39] Bjwebb commented on #252
The validator currently doesn't check currency or language codelist entries.

We refer to BCP47 https://tools.ietf.org/html/bcp47 for our language fields, this says:

Moreover these conventions are mixed case for some codes, e.g. en-GB

[2017-02-14 13:46] Bjwebb commented on #330
@kindly Your current code drops `tag` from the versioned release. I'm not quite clear that this is the correct behaviour.

[2017-02-16 08:54] myroslav commented on #377
@duncandewhurst there was decision to split each line item that has multiple budget sources into multiple identical ones (except quantity), with single budget source for each of the items. The logic of "merging" these line items into single one with total quantity will be on side of "data consuming party", if such need will be there.

We are extending `Tender.items` with extra fields about item bu

[2017-02-16 11:44] Bjwebb commented on #330
Just discussed with @kindly why dropping `tag` does make sense, because every versioned block has the associated releaseTag.

[2017-02-17 14:49] #424 closed, assigned to Bjwebb

[2017-02-17 14:55] Bjwebb commented on #424
I think 1.0.2 branch should probably stay at the 1__0__2 tag now that exists. Any non schema fixes for 1.0 should go on the 1.0-dev branch, and then be merged into 1.0.

I've reset 1.0.2, and cherry picked your commit onto 1.0-dev, and I've created a pull request for putting 1.0-dev live https://github.com/open-contracting/standard/pull/427

This issue has been closed because 1.0-dev is set as the

[2017-02-17 17:25] duncandewhurst commented on #377
@myroslav thanks, in that case I think your approach differs from the need this extension is trying to meet of providing more granular information in the ```planning.budget``` section, so would recommend a local extension for the inclusion of the budget source in ```tender```, ```award``` and ```contract``` - though it would be good to see this information included (in aggregate if neccessary) in

[2017-02-17 19:41] myroslav commented on #302
You can see this in documentation to single procedure that has this extension: http://openeu.api-docs.openprocurement.org/en/latest/standard/organization.html

`Organization` has `additionalContactPoints` (array of `Contact`) and `Contact` has `availableLanguage` (2-letter string).

[2017-02-17 20:52] myroslav commented on #368
I cannot get an idea of how proposal is covering case of multiple contact points of procuringEntity that speak in different languages. Can you elaborate?

[2017-02-20 13:07] timgdavies commented on #302
I've based the [additionalContactPoints extension](https://github.com/open-contracting/ocds_additionalContactPoints_extension) on this approach.

[2017-02-20 13:08] timgdavies commented on #368
The multiple contact points would be handled by additionalContactPoints extension. I've added this at https://github.com/open-contracting/ocds_additionalContactPoints_extension

[2017-02-20 13:22] timgdavies commented on #372
I've merged this into my staged copy of the schema, with a minor update to use OrganizationReference rather than Identifier for the cross-referencing.

[2017-02-20 13:50] timgdavies commented on #166
I've staged an edit to the implementation guidance for this.

@kindly @Bjwebb What checks does the validator currently run on encoding of incoming CSV files?

[2017-02-20 15:26] timgdavies commented on #336
The patch (and other codelists required by other updates) has been added to my staged copy.

We still need to:

* [ ] Decide what happens to enum lists in the schema?
* [ ] Add a test to ensure all codelists referenced in the schema exist
* [ ] Add support for checking against codelists to CoVE

[2017-02-20 15:46] timgdavies commented on #426
In OCDS 1.1 (see #301) we were planning to handle this with two properties:

* Version
and
* Extensions

Although I note that [JSON Schema](http://json-schema.org/latest/json-schema-core.html#rfc.section.6) notes that the $schema keyword can be used for both version and schema declaration.

The reason I believe for diverging from JSON Schema here was:

* Many validators dereference the remote $sch

[2017-02-20 18:34] Bjwebb commented on #401
Currently CoVE doesn't handle this.

We use jsonref. It looks like it would be fairly straightfoward to get at this info - http://jsonref.readthedocs.io/en/latest/#jsonref.JsonRef.__reference__

[2017-02-20 18:57] timgdavies commented on #223
The version of this extension for review is now located at https://github.com/open-contracting/ocds_requirements_extension

[2017-02-20 19:15] timgdavies commented on #211
No feedback has been received on this issue, so closing.

[2017-02-20 19:15] #211 closed

[2017-02-20 19:59] timgdavies commented on #401
@bjwebb Could you add handling this to the next CoVE sprint?

[2017-02-20 20:20] timgdavies commented on #251
What would it take to test for this and check if any further fixes required?

[2017-02-21 11:32] robredpath commented on #401
I've added this @timgdavies and we can discuss details when we speak later

[2017-02-21 12:50] irwink commented on #426
The suggestions in issue #301 would handle the extensions problem, however, an application would have to "know" that a JSON file claims to conform to the Open Contracting standard and would also have to know where the schema is located (to validate against it).  Furthermore, if the JSON file repository contains a mixture of Open Contracting files and other non Open Contracting files, there is no p

[2017-02-22 08:49] ekoner opened #428 "Capturing the statutory relationship between notifiers and publishers"
In England, certain public bodies **must** notify Contracts Finder about opportunities and awarded opportunities. The publisher in this case is Contracts Finder/Crown Commercial Service (CCS).

Are there any examples of the relationship between a statutory notifier and a publisher? How is this captured in structured data? Are there any examples from current adopters of OCDS?

Current OCDS practice

[2017-02-22 12:06] #390 closed, assigned to nobody

[2017-02-22 12:36] timgdavies opened #429 "OCDS 1.1 Upgrade: Peer Review Process - Final Review until 15th May"
Thank you to everyone who has been engaging with the OCDS 1.1 upgrade issues.

The majority of issues tagged against the 1.1 milestone have now been addressed with [changes](https://github.com/open-contracting/standard/commits/1.1-dev) on the [1.1-dev branch](https://github.com/open-contracting/standard/tree/1.1-dev) of the standard.

The changes cover codelist updates, a small number of additions

[2017-03-06 10:42] timgdavies opened #430 "Tender: Suspended tender (e.g. blocked by court order)"
**Discussion of a possible extension to OCDS**

From OpenProcurement Ukraine:

I believe the underlying issue here is:

* How to indicate when a tender process has been temporarily suspended as a result of a court order (or for some other reason).

There are two main options we could pursue:

**(1) Adding an entry to the tenderStatus codelist for use in ```tender.status```**

A tender status of 's

[2017-03-06 13:47] myroslav commented on #430
2nd option is more preferable. The only question I'd have is to have suspension reasons codified somehow. Either via `suspended` field itself or via extra `suspendedCode` to accompany `suspendDetails`. Since in informational systems it is normal to have `suspendCode` and `suspendDetails` in OCDS exports derive either pogrammatically from Codelists or from dedicated description field filled by huma

[2017-03-06 14:13] timgdavies commented on #430
I would suggest then we work up the extension to add the following to ```tender```:

```suspended``` - a true/false field to indicate that a process has been suspended.
```suspendedReason``` - a array of one or more codes from the open 'suspendedReasons' to indicate the nature of the suspension;
```suspendDetails``` - a free text field to describe the reason for suspension

For this we just need t

[2017-03-09 15:11] timgdavies commented on #381
See https://github.com/open-contracting/ocds_lots_extension/issues/1 which proposes changing the item->lot relationship from one-to-many to one-to-one.

[2017-03-10 13:34] timgdavies commented on #371
From work on mapping against EU forms, three new field suggestions have come up captured in the merge_patch below.

The first of these could be added to the lots extension #381. The second two might be proposed inclusions in relatedProcess core - or could be added as extensions on this.

[code]

[2017-03-10 21:21] Bjwebb commented on #166
Currently the validator tries the following encodings in order: UTF-8, Windows 1252, Latin 1 https://github.com/OpenDataServices/cove/blob/95b502e1e84251e05945c96ef522a7ebfbbf1232/cove/lib/converters.py#L45
No further checks are run, so if a file is not windows-1252, but uses all the same bytes, it will be misinterpreted.

The dev cove site will warn if UTF-8 is not used (because we think that's t

[2017-03-14 08:13] timgdavies commented on #395
Thanks @KaitlinCCSI for the nudge on this issue.

This did not make it into the 1.1 upgrade, though I'm tagging it post-1.1 so we don't miss it in planning for next major or minor update.

Observations:

* We can't just add a code to ```contract.status```. We would need to deprecate 'terminated' and introduce something like 'concluded' and 'earlyTermination'. Otherwise there is a risk of the meani

[2017-03-14 09:38] JachymHercher commented on #381
In the section on lot groups, is there actually a need for the (lot group local) id? I'm thinking that the array of relatedLots together with the combine and value options would be enough by itself.

(In theory, something could link to the group ID (e.g. a document), but I think that's currently not the case. Nor am I convinced that would be useful - repeating the array in the few such cases that

[2017-03-14 09:52] timgdavies commented on #381
The lotGroupID is essentially a technical artefact of the OCDS model, where each object in an array needs an ```id``` so that future releases can describe whether they are updating an existing array entry, or replacing the entire array.

[2017-03-14 13:00] ekoner commented on #395
@timgdavies I think I replied offline to https://github.com/open-contracting/standard/issues/395#issuecomment-252571383

The answer is no-one had published a terminated status as of our pre-upgrade survey.

[2017-03-15 05:43] andrewlorien commented on #274
I second Lindsay's question.  I agree that a new contract could have a tag which points to the contract it amends.  But I'm not sure whether guidance is required to specify the difference between a new contract and an amendment - in some jurisdictions and cases it will be obvious (when there is a new physical contract), but not always.

[2017-03-15 13:03] andrewlorien commented on #369
In Australia, NSW eTendering and AusTender have reporting rules (which may change from government to government) about types of suppliers - indigenous ownership and SME status are two important ones.

[2017-03-15 17:25] woodbine commented on #274
I didn't propose it to handle amendments,I wanted to be able to cope with
the fact that many contracts have options to extend included at the outset
and there's a need to know not only the planned end date, but also the end
date after the right to extend is over.

Here's an example:
https://procontract.due-north.com/ContractsRegister/ViewContractDetails?contractId=3c2cc92c-8f55-e611-8114-000c29c9b

[2017-03-15 20:19] timgdavies commented on #274
You can see the proposal in context at http://standard.open-contracting.org/1.1-dev/en/schema/reference/#contract

This is to deal with cases where a particular procurement system handles an extension through issuing a new contract. This is, as [the detailed linked discussion notes](https://github.com/open-contracting/implementation-and-extensions/issues/8#issuecomment-157862724) the case in Parag

[2017-03-20 17:59] duncandewhurst commented on #201
Proposing an update to the description for the ```planning``` release tag to align with tender status descriptions:

[2017-03-21 09:24] woodbine commented on #201
Would it be worth considering "proposed" rather than "pipeline" and would it be worth using "scheduled" rather than "planned". Obviously there's a clear difference here, where a tender is given  a scheduled time, which is a useful piece of information that ought to be added.

[2017-03-21 11:17] duncandewhurst commented on #371
In the draft V1.1 standard related process is added at both ```release``` and ```contract``` level (see [documentation](http://standard.open-contracting.org/1.1-dev/en/schema/reference/#relatedprocess) for details)

[2017-03-21 11:33] duncandewhurst commented on #371
The draft [documentation](http://standard.open-contracting.org/1.1-dev/en/schema/reference/#relatedprocess) for related processes states the following uses for the building block:

In the UK Contracts Finder implementation of OCDS, related process could be used **both** to link backwards from subsequent tenders to the OCDS record for an early engagement notice (e.g. early planning/market engagemen

[2017-03-21 17:29] LindseyAM commented on #371
In order to point forward, someone would have to go back and edit the prior
notice to point to the related process?

[2017-03-21 19:28] duncandewhurst commented on #371
My thinking was that in a noticing system which is producing this information, if the user publishing a tender notice needs to select the prior planning notice in order to establish the **backwards** link, then the system would be able to automatically update the prior planning notice with the **forwards** link to the tender notice.

[2017-03-22 07:57] mpostelnicu commented on #274
If possible, it would be really useful to see some examples on how to correctly map all these modes of linking/extending contract/release information by avoiding confusing one with the other, so the new properties:  `extendsContractID`, `relatedProcesses ` (#371) and `amendments` (#357)

Thanks!

[2017-03-22 10:22] patxiworks commented on #384
The instability of exchange rates in some countries may increase the relevance of this. In Nigeria, we've been experiencing a constant fluctuation for the past year or so. Capturing the exchange rate adopted for a contract at the time of award could provide better (and historical) context – and prevent potential fraud through fiscal leakages.

I propose that this be included as a community extensi

[2017-03-22 10:44] duncandewhurst commented on #201
@woodbine, thanks - your point on making the difference clear is really useful, however using ```scheduled``` rather than ```planned``` would involve deprecating the existing code in V1.1 and introducing the new code before removing ```planned``` in a future version, in addition to which we'd need to consider the impact on data publishers and users who are already using ```planned```. Making seman

[2017-03-22 11:21] woodbine commented on #201
+1 for @LindseyAM's suggestion.

Not too fussed about semantics, so don't want to see any deprecating or
recoding of the existing standard. The addition of a time-stamp detailing
the expected commencement of a procurement in the planned item, would
improve the distinction between an item that is open for consultation and
an item that has a specific schedule for implementation.

Ian

On 22 March 20

[2017-03-22 14:13] ekoner commented on #371
@AlCollier Are your concerns addressed here? http://standard.open-contracting.org/1.1-dev/en/schema/reference/#relatedprocess - Please let us know what you think.

[2017-03-23 06:47] mpostelnicu commented on #250
To allow planners specify locations before achieving tender stage, for Vietnam we also have locations at the planning level. We are using the same location entity type you defined in the extension, but besides `Item` we also apply an array of locations to the `Planning` entity.

[2017-03-23 07:41] mpostelnicu commented on #287
are we still using `omitWhenMerged` and `wholeListMerge` described above ? I am having a sense that removing both `ocdsVersion` and `arrayMergeById` and treating all arrays in the same way may not work for some corner cases, also `ocdsOmit`  for the `release.date`.

We have a full merging routine implemented for 1.0 that traverses the release trees and performs the merge based on metadata of each

[2017-03-23 09:32] timgdavies commented on #250
@mpostelnicu Just to check - did you consider using a ```tender``` block with a ```tender.status``` of 'planned' still at the planning stage, and locations attached to items there?

In OCDS, a planning release can (and often should) still include a ```tender``` block with information about the anticipated future tender.

I realise for some very early planning stages this may not be possible.

[2017-03-23 12:11] kindly commented on #287
@mpostelnicu The plan is to still do this.

The main rationale for this change is to make creating OCDS extensions easier for people who do not understand the merge strategies as they currently stand.  It is a fairly large burden for any extension creator to make sure they understand them and use them correctly.
To be honest I am surprised and impressed that anyone else outside the OCP team actual

[2017-03-23 12:40] mpostelnicu commented on #287
OK, as long as we are documenting this nicely, it should be fine.

[2017-03-27 14:44] timgdavies commented on #386
The draft of 1.1 defines 'contractSchedule' as "Documentation setting out key milestones and schedules. Structured versions of this information may be modelled using the milestones block."

However, I think this is (my) in error. This codelist entry should be interpreting [schedule as 'annexe'](http://weagree.com/drafting-principles/4-structuring-the-transaction-documents/4-2-schedules-annexes-and

[2017-03-27 14:50] timgdavies commented on #386
Also:

"finalAudit" is currently defined as "Documentation of a final audit carried out at the end of contract implementation." - however, it could also be used in the tender stage for an audit of the procurement process.

Suggestions:

(1) Update the definition to "Documentation of an audit carried out at the end of the procurement process, or contract implementation."

or

(2) Rename code to 'au

[2017-03-27 14:54] timgdavies commented on #386
"evaluationReport" needs a typo fixed. "Documentation on the evaluation of the bids and the application of the evaluation criteria, including the justification **for** the award"

[2017-03-27 15:21] timgdavies commented on #373
Suggested update to definition of milestone type definitions (for requirements of the PPP project)

| code | title | description |
|---------|------------|------------|
| adjudication |	Adjudication milestones |	For adjudication milestones, such as the meeting date of a committee. **Sometimes known as evaluation or assessment.** |
| delivery | Delivery milestones | For progress milestones covering

[2017-03-29 12:06] SamCCSI commented on #395
Thanks @timgdavies

If we were only interested in marking whether a contract has (i) been amended; (ii) been terminated prior to expiration of the contract term; or (iii) expired at the end of the contract term, would there be a way for us to do so without creating any consistency problems with OCDS once an OCDS standard is actually decided on for these issues? ('Planned' or 'ongoing' would likely

[2017-03-29 12:26] timgdavies commented on #395
@SamCCSI On the specific question you should not make changes to the values of ```contract.status```, but an OCDS idiomatic way to add the additional flags you want would be to include them in an ```contract.statusDetails``` field based on your own codelist, perhaps including:

* earlyTermination
* expiredAtEndOfTerm

For amendments, OCDS 1.1 introduces an ```amendments``` array to key objects (te

[2017-03-30 11:26] JachymHercher commented on #369
Small correction @siwhitehouse - "Type of buyer" and "Main sectoral activity" do not correspond to the COFOG (functions of government) code, only the main general activity does. (The "type of buyer" classification is procurement form-specfic, the "Main sectoral activity" corresponds to the articles in the sectoral procurement directive.)

[2017-03-30 12:09] timgdavies commented on #383
An implementation in Moldova has advised us that law requires both the with **and** without tax figures to be published.

In this case, the proposal is to extend ```value``` with ```amountNet``` property.

This would give:

[code]

This could be combined with the ```taxesIncluded``` or ```valueAddedTaxIncluded``` proposal above.

Any views on the label ```amountNet``` are welcome.

[2017-03-30 13:29] timgdavies commented on #384
Thanks @patxiworks - we will try and get this developed shortly.

[2017-03-30 14:34] JachymHercher commented on #211
This seems similar to what could happen in EU law with qualification systems (essentially a particular type of "technique" in the sectoral procurement directive) and possibly also dynamic purchasing systems. In EU forms, both of these cases are explicitly declared when the call for competition is being published and then need to be "closed" by another notice, saying something like "No further cont

[2017-03-31 09:15] ec-mcs commented on #223
We are currently updating the ESPD data model (https://github.com/ESPD/ESPD-EDM) which is behind the CCEV. The aim is to have the ESPD data model updated end of April. After that the idea is to CCEV accordingly. When do you want to have your new version ready?

[2017-03-31 09:30] timgdavies commented on #223
@ec-mcs We're aiming to release OCDS 1.1 by end of April, which I think would be formally pinned to a version of our [ocds_requirements_extension](https://github.com/open-contracting/ocds_requirements_extension) as it stands then, and also ocds_requirements_extension will be integrated into the Public Private Partnerships profile of OCDS which is due for release around the same time.

However, the

[2017-03-31 18:20] timgdavies opened #432 "Extension: Line item funding sources"
From the Quinta Group team working on OCDS implementation in Moldova:

of national public budget revenues.

See http://www.bulr.com/legal-updates/iban-registry-implementation.html for background on how this operates.

code) to indicate what is the procurement's funding source if it applies.

This has led to an extension request to extend ```item``` with ```fundingSource```, combining a 'scheme' an

[2017-04-06 08:03] timgdavies commented on #342
Comment from Aura Martínez during the peer-review process: (marked with 'Reject' change)

Based on this feedback, our options are to:

* Emphasise this is an optional field, but should exist in the core OCDS standard (just not assigned as required at any 'Basic', 'Intermediate' or 'Advanced' level);
* Move this to being an extension only;

I'll be aiming to make a call on this soon - so views eith

[2017-04-06 08:37] timgdavies commented on #368
Comment from Juan Pane during peer review:

[2017-04-06 08:54] timgdavies commented on #249
Feedback from Jachym Hercher during peer-review process, **rejecting** this change:

@juanpane Thoughts on the above?

[2017-04-06 09:22] timgdavies commented on #371
Feedback from Jachym Hercher during peer review process

[2017-04-06 13:35] duncandewhurst commented on #371
@JachymHercher thanks for the detailed feedback

Changing ```tender``` from an object to an array would be a backward incompatible change, which we're not able to make in V1.1, however in the [draft PPP schema](http://standard.open-contracting.org/ppp-extension/en/schema/release/) we've taken the approach of introducing an optional ```preQualification``` section which is effectively a duplicate of

[2017-04-06 14:23] duncandewhurst opened #433 "Building docs on Windows"
build_docs.sh fails on Windows due to line 478 in conf.py:

[code]

Replacing `split('/')` with `split('\\')` fixes this - should I update the script or will that break on Linux? If so can we replace it with something more universal?

[2017-04-07 07:33] robredpath commented on #433
I'll have a crack at this

[2017-04-07 07:55] Bjwebb commented on #433
What branch should @robredpath be working on to fix this? Whilst it looks like `ppp-extension` is the branch you're currently working on, `1.1-dev` also has the problem, and looking at the diffs, it will be easier to merge all the conf.py changes from `1.1-dev` into `ppp-extension` than the other way around (assuming that's what we want to do).

[2017-04-07 08:17] timgdavies commented on #433
Change on 1.1-dev and we can merge into ppp-extension

[2017-04-07 13:46] timgdavies opened #434 "Rename tenderPeriod to submissionPeriod"
A suggestion from @jachymhercher in 1.1 peer-review to rename ```tender.tenderPeriod``` to ```tender.submissionPeriod``` to be more consistent with other terminology.

As this would be a backwards incompatible change, I'm adding it to the list for a future 2.0 version.

[2017-04-07 13:48] timgdavies commented on #274
We had a 'reject' comment on the peer-review for this,

As a consequence I would propose that we keep ```extendsContractID``` as an extension, rather than in core for the 1.1 version.

Views welcome.

[2017-04-07 14:25] woodbine commented on #274
Well that's a fundamental misunderstanding of what I'm proposing. This
isn't about amendments, its a property of the original contract, and
nothing to do with any post award adjustment. Just because it is called
"extends" doesn't mean it happens post-award.

I'm happy with it being an extension, I just wish people would pay
attention.

Ian

On 7 April 2017 at 14:48, Tim Davies <notifications@githu

[2017-04-07 14:34] LindseyAM commented on #274
Is this proposal about modeling when there is an option to extend? or is it about modeling the actual extension of the contract? At first I thought it was the second one but after @woodbine 's comment 23 days ago I understood it to be the first one. But the proposal reads to me to be the second one (and that is what the reviewer is reacting to as well). @timgdavies can you clarify, is the proposal

[2017-04-07 15:21] timgdavies commented on #274
@woodbine @LindseyAM I think we might have some crossed wires here - partly due to my error of citation in the original description of this issue.

```extendsContractID``` address when one contract is signed as an affective extension of another (as in the Paraguay case).

The [maxExtentDate](https://github.com/open-contracting/standard/issues/374#issuecomment-278743090) in #374 addresses **some**

[2017-04-07 16:15] robredpath commented on #433
I've switched to using `pathlib`'s `PurePath` for path operations in conf.py and it seems to still work on Linux. @duncandewhurst - can you see if it works on Windows?

[2017-04-10 12:55] timgdavies commented on #376
Feedback during the peer review has raised two major concerns:

* The inclusion of the mixed code was opposed by a number of reviewers;
* The inclusion of consultingServices was rejected by one reviewers;

One reviewer noted:

Another reviewer commented that:

Another reviewer stated:

Another review stated:

[2017-04-10 13:39] timgdavies commented on #371
A major revisions comment was raised noting that the use of relatedProcess for 'preQualitification', 'preSelection' and 'frameworks', breaks the idea of an OCID applying to a single contracting process, and risks undermining a key vaue of OCDS - as well as introducing difficulty for mapping between a OCDS process, and a European procurement processes.

The point is well made. The introduction of t

[2017-04-10 15:11] JachymHercher commented on #368
My comment from the 1.1 peer review:

[2017-04-10 15:14] JachymHercher commented on #357
My comment from the 1.1 peer review:

[2017-04-10 15:17] JachymHercher commented on #371
@timgdavies The proposal sounds good.  (@duncandewhurst that could work for two-stage, I'm not sure if it would have worked for more-stage such as competitive dialogue or perhaps innovative partnership.)

One questions about

- I'm not sure what "deserted" means, but is declaring it in relatedProcess in line with releaseTag tenderCancellation? (This might be also linked to my comment in #357.)

[2017-04-10 15:20] JachymHercher commented on #374
My comment from the 1.1 peer review:

Concerning "We have introduced fields for duration in days, and maximum extent, to the period building block"

Concerning "We have introduced contract period in tender and updated the definition of award period."

[2017-04-10 15:23] JachymHercher commented on #274
My comment from the 1.1 peer review:

[2017-04-10 15:24] JachymHercher commented on #246
My comment from the 1.1 peer review:

[2017-04-10 15:25] JachymHercher commented on #337
My comment from the 1.1 peer review:

[2017-04-10 15:26] JachymHercher commented on #379
My comment from the 1.1 peer review:

[2017-04-10 15:30] JachymHercher commented on #201
My comment from the 1.1 peer review:

[2017-04-10 15:31] JachymHercher commented on #322
My comment from the 1.1 peer review:

Correction (2017-09-01): in the post above, I originally said "electronic submission" instead of "electronic auction" by accident.

[2017-04-10 15:32] JachymHercher commented on #385
My comment from the 1.1 peer review:

[2017-04-10 15:34] JachymHercher commented on #373
My comment from the 1.1 peer review:

[2017-04-10 15:35] JachymHercher commented on #382
My comment from the 1.1 peer review:

[2017-04-10 15:38] JachymHercher commented on #223
My comment from the 1.1 peer review:

[2017-04-10 15:40] JachymHercher commented on #370
My comment from the 1.1 peer review:

[2017-04-11 09:49] timgdavies commented on #366
In peer-review, feedback noted that:

[2017-04-11 10:05] timgdavies commented on #378
During peer-review there was a request for a minor revision:

However, the schema states for ```uri``` that this should be:

As human readable documents can be included in the planning.documents block, we don't propose to update the schema guidance.

[2017-04-12 20:52] siwhitehouse commented on #369
What we have done in the extensions for trade work is to use the [Ted Schema](http://formex.publications.europa.eu/ted/schema/). Tim built a more user friendly version and I used that to map what is in the forms to the schema.

Main Sectoral Activity provides a complete match, whereas for Type of Buyer there are quite a few values in the forms that I could not find in the schema. Where this is the

[2017-04-13 07:34] JachymHercher commented on #369
Makes sense - since you are comparing a TED 2.0.9 schema (i.e. the current one, the one which corresponds to the forms on the right side of http://simap.ted.europa.eu/web/simap/standard-forms-for-public-procurement) with a eForms, a draft proposal, the new elements from eForms are not included.

I've had a quick look at the codelist. In typeOfBuyer, "other" and "internationalOrganisation" should a

[2017-04-13 11:30] timgdavies commented on #376
Based on the peer-review feedback, and discussions in the standard team, here's an updated proposal:

(1) We introduce ```mainProcurementCategory``` (singular, one value) with a **closed** codelist consisting of 'supplies', 'services' and 'works'.

(2) We introduce a ```additionalProcurementCategories``` (plural, array of values) field with an **open** codelist, with suggested codes, but the idea

[2017-04-13 14:59] LindseyAM commented on #376
very tiny request: can we use 'goods' instead of 'supplies' (its a shorter
word and commonly used in this context)?

[2017-04-13 15:09] timgdavies commented on #376
@LindseyAM This was discussed in https://github.com/open-contracting/standard/issues/204#issuecomment-160725597 where the point made was that 'supplies' includes 'intangible goods' such as electricity - and so 'supplies', 'works' and 'services' provides a comprehensive list.

[2017-04-14 05:48] chrisalexsmith commented on #376
UNCITRAL Model Law on Public Procurement uses the term Goods not Supplies and I agree with Lindsey

[2017-04-14 10:44] timgdavies opened #438 "Add Milestone.value field (related to payment schedules, planned transactions)"
# Summary

## Motivation

Need to express planned transactions.

## Proposal

Use milestones:

* Add a new code to milestoneType.csv
* Add a `value` field to `Milestone`

----

We've had a request to be able to support information on planned payment schedules:

## Current situation

At the moment we have the transactions block which, in 1.1, contains:

* ```id``` - ID: A unique identifier for this

[2017-04-14 11:58] LindseyAM commented on #376
Interestingly, @JachymHercher pointed out on Oct 20 that electricity is categorized as a service in Europe. In the US, it is sometimes categorized as a service and sometimes categorized as a good (http://faculty.law.miami.edu/rrosen/courses/documents/05kelectricityagood_000.pdf).

It seems that the EU directive uses the term 'supplies' (and in one instance 'goods') whereas 'goods' is the more used

[2017-04-18 11:46] timgdavies commented on #201
Withdrawn was introduced initially as an alternative to 'cancelled' for pipeline/planned projects.

Whereas a publisher should always be explicit about the status of a tender that was active - and should come back to a system to say if it was cancelled, with planned/proposed projects it is less clear that this can be required - and in practice systems like Contracts Finder in the UK have, as I und

[2017-04-18 15:33] duncandewhurst commented on #401
In the current version of the schema viewer, deprecation is only visible where the description of the deprecated field has been updated, e.g. you can't see that `organizationReference/identifier` has been deprecated even though it has the `deprecated` property in the schema:

![image](https://cloud.githubusercontent.com/assets/19265814/25139211/87422aaa-2454-11e7-8e18-94d7a1b3ba33.png)

[2017-04-18 23:28] LindseyAM commented on #201
I think 'consultation' could work because we would hope that consultation notices would go out as part of planning & the needs assessment/market research process...

the other potential option could be a 'planning' notice versus a 'planned' notice.  Planned means its basically a draft or a preview of the upcoming opportunity and Planning means its a notice forming part of the planning process (ie

[2017-04-19 13:29] timgdavies opened #440 "Handling multi-stage contracting processes"
This issue builds on the review comments in #371, and discussions with the technical team and implementers, to set out an approach for OCDS 1.1 for handling multi-stage contracting processes, and sets a direction towards 2.0.

### Current situation

The concept of a **contracting process** is central to OCDS. By bringing together multiple releases of data and information related to a single contra

[2017-04-19 13:33] timgdavies commented on #201
Ok - based on @LindseyAM's comment - I think 'planning' and 'planned' could work.

That would give us:

* **planning** - "A future contracting process is being considered. Early information about the process may be provided in the tender section. A process with this status may provide information on early engagement or consultation opportunities, during which the details of a subsequent tender can

[2017-04-19 16:30] duncandewhurst opened #442 "Duplicate strings in Transifex"
Feedback from work in Mexico to create a localized translation of OCDS - there are some duplicated strings in Transifex where the same strings appear with differences in capitalization of letters.

No immediate action on this, however the team in Mexico will share a list of the fields in the schema where this occurs so that we can fix them as part of the upgrade.

[2017-04-21 09:33] JachymHercher commented on #440
Thanks a lot for the exhaustive overview. I don't have an opinion on the modeling options above (yet?), but please find below a few thoughts.

Concerning:

This is crucial. What do do we _really_ need for transparent publication, and what can we ignore?

What definitely needs to be covered is what you need for submitting bids (i.e. the first round) and the results. What is between is a trade-off b

[2017-04-24 15:26] timgdavies commented on #376
Based on weight of feedback - I'm staging 'goods' as code for 1.1 release candidate - for final review then.

[2017-04-24 15:33] robredpath commented on #433
@duncandewhurst have you had a chance to try this?

[2017-04-24 15:39] timgdavies commented on #385
One comment from the peer review stated:

I've reviewed to try and find a definition of 'singleBidOnly' as an **award criteria** (i.e. something set out in advance of a solicitation, rather than than post-hoc description of how awarding took place), and I've not managed to find one.

I can see it is possible in Canada for a contract to be awarded on the basis of '[One Responsible Bid](https://buya

[2017-04-24 15:46] timgdavies opened #443 "Award criteria breakdown"
In #385 we discussed using the [requirements extensions](https://github.com/open-contracting/ocds_requirements_extension) to handle structured information about award criteria, namely:

* The balance of cost, price and quality considerations

However, discussions have pointed out:

(a) There is a distinction between **requirements** as qualification criteria; and
(b) The award criteria on which a

[2017-04-25 09:54] Bjwebb commented on #401
CoVE now supports the deprecation key on the referencing object.

For the schema viewer, it seems we have two options:
* Update the descriptions of all deprecated fields to state they're deprecated. (This could also be useful for other users of the schema whose tools don't support our custom `deprecated` key).
* Update the schema viewer javascript to do something with our custom javascript key.

[2017-04-25 12:49] duncandewhurst commented on #401
I think we should do both, since the updated descriptions don't 'leap out' in the schema viewer.

[2017-04-26 06:39] JachymHercher commented on #385
Out of curiosity - when would it be useful to have award criteria for a procurement process with only one bidder?

(To me it seems this use case is met by setting procurementMethod to direct and leaving the award criteria empty.)

[2017-04-26 08:19] JachymHercher commented on #376
(I asked around whether there is a clear reason why "supplies" was preferred to "goods" in EU procurement terminology and it seems to be a linguistic choice more or less forgotten by history. The argument that it should cover things like electricity might have been where it started.

Which brings me to correcting my example from Oct 20 - electricity is indeed a supply, not a service, sorry.)

[2017-04-26 09:49] duncandewhurst commented on #433
@robredpath I pulled the latest version of the ```ppp-extenion``` branch and build_docs.sh ran ok without me having to change anything

[2017-04-26 12:17] robredpath commented on #433
@duncandewhurst that's interesting - I made the change on 1.1-dev!

[2017-04-27 17:47] timgdavies commented on #287
I've put together updated merge documentation here: http://standard.open-contracting.org/1.1-dev/en/schema/merging/

[2017-04-28 15:14] duncandewhurst opened #451 "Adding support for language suffixes to address fields"
In Tunisia address fields are provided in multiple languages (FR, EN and AR).

Currently the OCDS ```address``` object only includes support for language suffixes for the ```country``` field.

Depending on the changes proposed in #229 we should consider extend multi-language support to the other fields in the address object as a post 1.1 task.

The pattern properties used in the current approach t

[2017-04-28 23:22] myroslav commented on #438
It look like `Milestone` should cover majority of the cases with `type`: `financing` (or should we extend codelist with dedicated `payment` type) and `status`: `scheduled`.

The biggest missing part is `value` that is part of `Payment`. It can be added to `Milestone` as Extension. Are there are more elegant approaches?

[2017-05-01 11:39] timgdavies commented on #438
As ```type``` is an open codelist, I suspect 'payment' would be good to add, with status of scheduled.

Extending these milestones with a value sounds like the best approach to me.

[2017-05-01 11:47] timgdavies opened #452 "Example: Identifying divisions of an organisation"
From @myroslav:

[2017-05-01 11:48] timgdavies commented on #452
Initial response - as a starting point:

* ```organization/identifier``` blocks are intended to capture the specific legal entity playing a role in the contracting process;
* If the divisions have a separate legal identity (for example, contracts are with that specific division, such that if it closed down, its contracts would not automatically transfer to the parent organisation) then the identif

[2017-05-01 11:50] timgdavies commented on #452
Reply from @myroslav:

[2017-05-01 12:00] timgdavies commented on #452
In OCDS 1.1 - ```organisation.id``` is only used to cross-reference between an in-line reference to an organisation (e.g. buyer, supplier etc.) and the entry in the ```parties``` array with the same ```id```.

Local implementations can chose to use some value for that ```id``` which supports some degree of external linkage (and should document this in their publication policy, so users can underst

[2017-05-01 15:00] timgdavies commented on #429
A release candidate for OCDS 1.1 is now available for testing at http://standard.open-contracting.org/1.1-dev/

This includes updated documentation and examples.

A [changelog is available here](http://standard.open-contracting.org/1.1-dev/en/schema/changelog/).

The release candidate includes revisions made following the parallel invited, and open, peer-review period that ended in March.

Peer re

[2017-05-02 14:13] kindly commented on #287
After rewriting the script to make the versioned_validation_schema I have found that we need one more rule to say explicitly that we need to version a particular id field.  This has no effect on the merge rules as outlined in the new documentation, but it should be mentioned in the versioned release schema section at the bottom.
So even though this is late notice for 1.1, for clarity I think we ne

[2017-05-02 16:26] timgdavies commented on #287
Thanks @kindly

I've added some additional documentation updates to the branch - and will look to merge this now.

[2017-05-02 19:31] siwhitehouse commented on #369
Hi Jachym

Using [Tim's user friendly version](https://timgdavies.github.io/ocds-ted/docs/) I see the following under the ca_type attribute.

which gives some matches for typeOfBuyer, but not anything for "other" or "internationalOrganisation". I've tried looking across the whole file and can't find matches either.

I'm wondering if they aren't there or if I am making a simple error somewhere.

[2017-05-04 08:56] JachymHercher commented on #369
With international organisations this is actually a bit complicated, because the XML is not quite in line with what you would expect from looking at the forms. Nominally, you would think the EU_institution code corresponds to "European institution/agency or international organisation". In reality, the "EU_institution" code corresponds only to "International organisations" concept, while the EU ins

[2017-05-08 02:19] mireille-raad commented on #426
in the same spirit, it would be useful to have a similar field to $schema but for extensions.
As implementations get more complex, and as multiple extensions are used, it would be useful to have a reference to all that somewhere.
Maybe the $extension would be a closed codelist of the official OCDS extensions.

[2017-05-08 07:20] timgdavies commented on #274
This has been moved to a community extension. This means that:

* It is not presented as either part of the core standard, not recommended for use; **but**
* For publishers who do find a need to make this relationship explicit, there is a common approach available;

In terms of @JachymHercher's comments above:

The change is consistent with this. The recommended approach for increasing the value o

[2017-05-08 07:26] timgdavies commented on #370
It is possible for a consortia to be recorded as the ```award.supplier``` in OCDS 1.0 and 1.1.

In such cases, the publisher of the data would need to decide how to assign an identifier to the consortia, and how to describe it (e.g. what organisation name, legal name etc. to use)

The focus of this issue was on whether there should be a structured way of recording each of the companies that make u

[2017-05-08 07:32] timgdavies commented on #368
Thanks for catching the omission of 'reviewBody'. I've added this to the staged codelist. We had drafted it up, but failed to include it:

* ```reviewBody``` - **Review Body** - A party responsible for the review of this procurement process. This party often has a role in any challenges made to the contract award.

[2017-05-09 13:33] timgdavies commented on #429
Update: the period for final comments is extended until 15th May, as per the governance policy that final review will be a period of at least two weeks.

[2017-05-10 13:49] yolile opened #453 "Mark required fields in ocds documentation"
Is very necessary mark more clearly and explicitly the required fields of the standard in the documentation page so these fields could be quickly recognized for the users

[2017-05-10 15:25] timgdavies commented on #453
Thanks for suggesting this. Fortunately the latest version of the OCDS docs that @Bjwebb has been working on updates the layout to include just this: see http://standard.open-contracting.org/1.1-dev/en/schema/reference/

This will go live in 1.1 (but not 1.0 unless we do a retrofit  1.0.3 release)

This is just things which are explicitly marked as 'required' in the schema (not the basic, intermed

[2017-05-10 16:37] duncandewhurst commented on #386
Flagging that the following change wasn't made in 1.1, we should address this in the next bugfix release:

[2017-05-10 16:59] JachymHercher commented on #370
Then it seems I have understood it correctly. In that case, I would really emphasize that this should be dealt with as soon as possible. If you have names and identifiers of multiple companies mixed up in one field, the data cannot really be analyzed without human intervention because each publisher of data will have a different strategy on how to give this information. This is not a negligible is

[2017-05-16 09:15] timgdavies opened #455 "Clarify the scope of uniqueness of Release ID"
In OCDS 1.0 & 1.1 we define ```release.id``` as:

However:

(a) This is conceptually subtle and difficult to communicate;
(b) As we see people starting to aggregate data from multiple sources, this creates a challenge, as an aggregator of information might end up with releases from multiple sources, which have distinct ```ocid``` values, but the same ```release.id```. Strictly then, the re-publish

[2017-05-16 09:18] timgdavies opened #456 "Rename initiationType to processType"
The terminology of [initationType is not very intuitive](http://standard.open-contracting.org/1.1-dev/en/schema/codelists/#initiation-type).

It exists as part of a legacy from the development of 1.0,  where we started thinking about how to model lots of different types of contracting process, but then narrowed down to procurement.

However, the terminology chosen does not really capture what we w

[2017-05-18 14:43] juanpane opened #458 "Add call to action in the Validator example errors column"
When there are errors in the validation, the error count column shows the errors for the row.
However, the number does not look like a link.
Perhaps a call to action is needed or format the number to look like a link

Example:  http://standard.open-contracting.org/validator/data/f7d35e4c-d3c8-4a3b-887c-539ceff7a491

[2017-05-18 17:04] mireille-raad opened #459 "Linking to profiles and OC4IDS from documentation"
Currently the standard documentation shows the following

<img width="331" alt="screen shot 2017-05-18 at 1 01 23 pm" src="https://cloud.githubusercontent.com/assets/521705/26214417/5d4b9bd6-3bca-11e7-8187-db25ca081548.png">

It would be neat to add the PPP extension there, since it is an official one. It means we don't have to remember the link by heart ;p

[2017-05-19 11:59] juanpane opened #460 "Definition of the budget/amount in OCDS"
The current definition of the [Budget](http://standard.open-contracting.org/latest/en/schema/reference/#budget) amount in OCDS 1.0 is:

It seems that this definition is open for interpretation as to whether this can mean the total amount of the budget line, not only the amount of money of the total budget amount that has been reserved/estimated for this particular contracting process.

This might

[2017-05-21 08:34] timgdavies commented on #459
Adding this to post 1.1, but a good idea for something we can add soon. There's a revised version of the extension documentation pages coming up imminently.

[2017-05-23 12:23] juanpane opened #461 "Multiple Organizations publishing data about the same process (OCID prefix)"
In the case of Paraguay, the National Procurement Agency (DNCP) publishes information for the planning, tender, award and contract for the whole procurement process. DNCP uses as OCID prefix "ocds-03ad3f".

We are now starting working with the Ministry of Finance in Paraguay and since they have the payment information they will publish the implementation information (payment transactions) in their

[2017-05-23 16:56] practicalparticipation commented on #460
To give a worked example, if a budget line-item is for £10,000, and £5,000 is allocated to a particular contracting process, our current definition is unclear as to whether the  ```budget/amount``` for a given contracting process should be £10,000 or £5,000.

OCDS 1.1 also has the same ambiguity, with budget defined as:

However, based on discussions in Manchester, we think this should be:

This c

[2017-05-24 00:22] andrewlorien commented on #461
Similar problem in Australia - the Department of Finance handles all planning, tenders, and awards for the whole of government.  But contracts are between the individual agency and buyer, and not centralised at all.

[2017-05-24 08:13] robredpath commented on #458
It's styled in the same way as all of the other links on the page, but it's useful to hear that you feel it doesn't look like a link. I can totally understand why - the number is on its own so it doesn't stand out compared to surround text (because there isn't any), and on my machine the cursor pretty much obscures the underline on hover.

As for a solution - any ideas? @kindly @Bjwebb @edugomez @

[2017-05-24 08:31] edugomez commented on #458
I think @juanpane is right, it doesn't stand out as a link on the page

'see all' text may be the solution @robredpath

[2017-05-24 11:23] yolile commented on #458
Yes, maybe the "see all" could work, or maybe we can add an icon like this next to the number:
![open_in_new_window](https://cloud.githubusercontent.com/assets/6834122/26400987/a8c53096-4051-11e7-8c83-addd87548c2b.png)

[2017-05-25 18:15] timgdavies commented on #461
I think the idea would be for DNCP and Ministry of Finance to both use 'ocds-03ad3f' providing they agree that they will (a) suffix onto this the same national process ID; (b) not use any other potentially clashing suffixes.

In terms of the standard, we should then look at how to improve the definition and guidance around prefixes, to be less about 'publisher prefixes' and more about being prefix

[2017-05-29 19:32] juanpane opened #465 "Typo in description of tender/amendment/date"
The current description of tender/amendment/date is
"The data of this amendment."
http://standard.open-contracting.org/latest/en/schema/reference/#amendment

Please check whether this should be:
"The date of this amendment."

data -> date

[2017-05-30 11:16] robredpath commented on #458
As this actually relates to the validator, I've copied it over to the CoVE repo.

[2017-05-30 11:16] #458 closed

[2017-05-30 20:03] yolile opened #466 "Typo in Spanish Codelist"
In http://standard.open-contracting.org/latest/es/schema/codelists/#release-tag

The title of **tenderAmendment** says "Enmienta" and should be "Enmienda" and the description, "enterga" should be "entrega"
And in the description of **tenderUpdate** "enterga" should be "entrega" and  "etiqueda" should "etiqueta".

[2017-05-31 18:18] duncandewhurst opened #468 "Announcing the release of version 1.1 of the Open Contracting Data Standard"
We are delighted to announce the release of [version 1.1 of the Open Contracting Data Standard (OCDS)]( http://standard.open-contracting.org/latest/en/).

This is the product of a year-long development process that involved the engagement of a wide range of OCDS publishers and stakeholders. Some of the key updates include:

* Introduction of a [formal extensions mechanism](http://standard.open-con

[2017-06-02 14:12] duncandewhurst commented on #371
Flagging that my proposal above for the inclusion of the following code in the relatedProcess codelist didn't make it into 1.1:

code | title | description
------|-----|------------
tender|Tender process|This contracting process resulted in the related tender process

This code is required to model one-to-many relationships between early engagement and tender notices in the UK.

Adding this issue

[2017-06-06 08:37] timgdavies commented on #384
I believe @juanpane has suggested a reworking of the model so that we collect exchange rate properties in their own object, such as below:

[code]

In this version I've dropped the suggestion of ```altAmount``` as this does not fit well under 'exchangeRate'.

I still prefer the flat modelling, as I think it copes better with the case where 'Two currencies are reported for a given contract' but wit

[2017-06-06 08:40] timgdavies commented on #33
Included as a core extension in 1.1: http://standard.open-contracting.org/latest/en/extensions/participation_fee/

[2017-06-06 08:40] #33 closed

[2017-06-06 08:41] #147 closed

[2017-06-06 08:41] #166 closed

[2017-06-07 13:28] siemvaessen commented on #384
This has been adressed on[ IATI discuss](https://discuss.iatistandard.org/t/exchange-rate-options/901/2) as well. I am wondering what type of conversion rate needs to be used, market on non-market based.

[2017-06-08 12:41] ivanka-jakimchuk commented on #430
We suggest to add `suspendPeriod` to `tender`.

[2017-06-08 13:12] ivanka-jakimchuk commented on #430
We suggest to add `suspendPeriod` to `tender`.
It has been also explored that extra documentation is going to be registered into the ProZorro.Sale system (previously it was mentioned  by Myroslav). Hence, we need to add some `documentType`s. Now it is for sure that documents with an explanation why system delays occur should be provided. One of our suggestions is `x_suspensionProtocol`. Is this on

[2017-06-14 10:41] duncandewhurst commented on #430
This sounds appropriate, using the ```period``` building block. Using ```suspendedPeriod``` would be preferable as it is in-line with the naming convention of the other new properties.

```x_suspensionProtocol``` suggests that the document will describe the process or procedure for suspension, rather the reason for the suspension.

Using ```suspendedReason``` instead would be clearer and would be

[2017-06-14 12:16] sofiiashnyr commented on #430
The thing is that we need to have both `suspendedReason` - with such values as `courtOrder` (when a procedure is blocked by a court resolution) and `dgfComissionOrder` (when it is blocked by the decision of Deposit Guarantee Fund commission) allowed - and a new document type, `x_suspensionProtocol`, as we need to have an official document with the text of the very resolution issued either by the C

[2017-06-14 12:54] ivanka-jakimchuk commented on #430
So, you suggest to add `suspendedReason` as a document type, right?
Also, `suspendedReason` is going to be an array of one or more codes from the open 'suspendedReasons' to indicate the nature of the suspension (as it was mentioned before).

[2017-06-14 14:34] duncandewhurst opened #471 "milestoneType codelist documentation & validation"
There is a discrepancy in the codes between

1. the milestoneType codelist in the schema; and

2. the milestoneType codelist [in the docs](http://standard.open-contracting.org/latest/en/schema/codelists/#milestone-type) and the [milestoneType csv](https://github.com/open-contracting/standard/blob/1.1-dev/standard/schema/codelists/milestoneType.csv).

Also, the [OCDS validator](http://standard.open

[2017-06-14 15:18] duncandewhurst commented on #430
@sofiiashnyr my suggestion was to keep **both** the property and the documentType but to align the names, so that it is clear that the document provides more information about the values given in the property.

So, bringing together the proposals so far in this thread, the extension would:

1. Add the following properties to the ```tender``` section:

* ```suspended``` - a true/false field to indi

[2017-06-15 09:03] timgdavies commented on #471
This looks like a bug to me, down to us introducing the "codelist" links, but not being consistent in where we are then using enums.

I would suggest we add this to a 1.1.1 bug-fix ASAP which would:

* Add enums for all closed codelists - updated via a script based off the .csv files;
* Remove enums for any open codelists;

This proposal might have impacts for our validator, so would need views fr

[2017-06-15 09:34] duncandewhurst commented on #471
@timgdavies could you confirm which is the correct codelist? I'm assuming it's the one in the schema with ```preProcurement``` rather than ```planning``` but I wasn't sure whether Jachym's peer review feedback had resulted in any changes

[2017-06-15 09:40] timgdavies commented on #471
Ah - @duncandewhurst you are correct - [it should be preProcurement](https://github.com/open-contracting/standard/issues/373#issuecomment-264467790) rather than planning.

Ok. That will definitely need to be on a bug fix release as we'll need to update the codelist csv and docs.

So, two bugs here:

* planning -> preProcurement (and replacing word 'planning' in the description accordingly also)
*

[2017-06-15 09:50] timgdavies commented on #179
Following the OCDS 1.1 peer review, this proposal was left out of 1.1 on grounds of available time, and as it will be possible to add as a community extension at a later date.

Removing 1.1 milestone.

[2017-06-15 09:52] timgdavies commented on #288
The version 1.1 schema now includes minLength properties for required properties

[2017-06-15 09:52] #288 closed, assigned to kindly, timgdavies

[2017-06-15 09:52] timgdavies commented on #388
Work on this is ongoing. Moved to post 1.1.

[2017-06-15 09:55] timgdavies commented on #229
Moving to 2.0.

This was postponed beyond 1.1. Whilst this change is considered a good move long-run, it involves a backwards incompatible change, and would require substantial refactoring of documentation generation tools and other resources.

[2017-06-15 09:55] timgdavies commented on #383
This was left out of 1.1 on grounds of available time, and as it will be possible to add as a community extension at a later date.

[2017-06-15 10:21] timgdavies commented on #384
I've been reviewing the valuable IATI discussion (and [examples of real data](https://discuss.iatistandard.org/t/currency-conversion/413/11)) and thinking through two main use-cases:

(1) Asserting the exchange rate that was **agreed** at the time of a contract/aid project being signed off;

(2) Explaining any changes that an application has made in order to normalise currency values in it's datas

[2017-06-15 10:26] timgdavies commented on #375
This was left out of 1.1 on grounds of available time, and as it will be possible to add as a community extension at a later date.

Separate work is taking place which may contribute to this in the near future.

[2017-06-15 10:27] timgdavies commented on #317
One part of this issue (contact type) is handled in the procurementCategory field. The Payment Terms field was left out of 1.1 on grounds of time, and will be explored as a community extension at a later date.

[2017-06-15 10:30] timgdavies commented on #370
This was not fully resolved in 1.1, although there is a community extension for [shareholders now available for OCDS 1.1](https://github.com/open-contracting/ocds-shareholders-extension) that can be tested for capturing consortium information, and the ongoing work on EU-related OCDS extensions will further contribute here.

[2017-06-15 10:31] timgdavies commented on #358
We will plan a complete review of standard documentation and text in the next major version update. For now, no further action on this issue is planned.

[2017-06-15 10:31] timgdavies commented on #268
This was left out of 1.1 on grounds of available time. Further review of how publishers are including rich text in the standard is required to inform recommendations.

[2017-06-15 10:33] timgdavies commented on #243
This was left out of 1.1 on grounds of available time, and as it will be possible to add as a community extension at a later date.

As there were no calls for a focus on this during the 1.1 process. I'm closing the issue. It could be re-opened if there was future demand.

[2017-06-15 10:33] #243 closed

[2017-06-15 10:34] timgdavies commented on #401
The deprecation policy has been updated and included in the validator.

We'll continue to work on documentation improvement for the display of deprecation information.

[2017-06-15 10:34] #401 closed, assigned to kindly

[2017-06-15 10:35] #335 closed, assigned to timgdavies

[2017-06-15 10:35] timgdavies commented on #342
This was moved to a core extension and covered in 1.1. No further action planned.

[2017-06-15 10:35] #342 closed, assigned to timgdavies

[2017-06-15 10:36] timgdavies commented on #368
This is now merged into OCDS 1.1

[2017-06-15 10:36] #368 closed, assigned to nobody

[2017-06-15 10:36] #357 closed, assigned to timgdavies

[2017-06-15 10:38] timgdavies commented on #371
@duncandewhurst could you open a new issue with your proposal, so that we can cleanly capture that change needed for next version. I would suggest leaving off the milestone - as it might be that we have a 1.2 before 2.0.

[2017-06-15 10:38] #371 closed, assigned to duncandewhurst

[2017-06-15 10:39] #374 closed, assigned to ekoner, duncandewhurst

[2017-06-15 10:40] #274 closed

[2017-06-15 10:40] #355 closed, assigned to timgdavies

[2017-06-15 10:40] #372 closed, assigned to ekoner, duncandewhurst

[2017-06-15 10:40] #376 closed, assigned to timgdavies

[2017-06-15 10:41] #366 closed, assigned to nobody

[2017-06-15 10:41] #246 closed

[2017-06-15 10:42] #378 closed, assigned to duncandewhurst

[2017-06-15 10:42] #337 closed, assigned to timgdavies

[2017-06-15 10:42] #381 closed, assigned to timgdavies

[2017-06-15 10:42] #379 closed, assigned to timgdavies

[2017-06-15 10:42] #250 closed

[2017-06-15 10:43] #201 closed

[2017-06-15 10:43] #380 closed, assigned to nobody

[2017-06-15 10:44] #373 closed, assigned to nobody

[2017-06-15 10:44] #297 closed, assigned to timgdavies

[2017-06-15 10:46] timgdavies opened #473 "documentType codelist update for 'contractSchedule' required"
From @duncandewhurst at https://github.com/open-contracting/standard/issues/386#issuecomment-300540709

[2017-06-15 10:47] #386 closed, assigned to timgdavies, ekoner

[2017-06-15 10:49] timgdavies opened #474 "Update the submissionMethod codelist"
In OCDS 1.1 we gave [definitions to the entries in the submission method codelist](https://github.com/open-contracting/standard/issues/322) but did not update this list to reflect a better researched list of submission methods.

This should be addressed in the next iteration of OCDS.

[2017-06-15 10:49] #387 closed, assigned to timgdavies

[2017-06-15 10:49] #385 closed, assigned to timgdavies, LindseyAM

[2017-06-15 10:50] #369 closed, assigned to timgdavies

[2017-06-15 10:50] #382 closed, assigned to duncandewhurst

[2017-06-15 10:51] #377 closed, assigned to ekoner, duncandewhurst

[2017-06-15 10:52] #223 closed

[2017-06-15 10:52] #323 closed, assigned to timgdavies

[2017-06-15 10:53] #336 closed, assigned to kindly

[2017-06-15 10:54] timgdavies opened #475 "Review inclusion and validation of enum lists in schema"
Based on #471 and #336 we need to:

* [x] Check that we are not including enum lists in the schema for open codelists
* [ ] Check we **are** including enum lists in the schema for closed codelists
* [ ] Check that our closed codelists in the schema match the csv files that define the codes

[2017-06-15 10:55] #301 closed, assigned to kindly

[2017-06-15 10:55] #287 closed, assigned to kindly

[2017-06-15 10:56] #310 closed, assigned to timgdavies, duncandewhurst

[2017-06-15 10:56] #453 closed, assigned to nobody

[2017-06-15 10:56] #429 closed, assigned to timgdavies

[2017-06-15 11:00] #259 closed

[2017-06-15 11:00] #367 closed, assigned to timgdavies

[2017-06-15 11:00] #347 closed, assigned to timgdavies, ekoner

[2017-06-15 11:00] #328 closed, assigned to timgdavies, duncandewhurst

[2017-06-15 11:08] markbrough commented on #384
I think this looks pretty good @timgdavies, I reckon the [examples of real data](https://discuss.iatistandard.org/t/currency-conversion/413/11) from the IATI thread should be covered by this pretty well as I imagine the exact value amount will almost always be calculable through the exchange rate. Does it matter if it is very slightly off (through rounding errors)? Perhaps it does, so adding an ad

[2017-06-15 11:11] duncandewhurst opened #476 "relatedProcess: Add 'tender' code"
From discussion in #371

In the UK one of the notice types published on the Contracts Finder platform is an early engagement notice, used for inviting feedback from industry on early procurement ideas.

Early engagement notices may not result in a subsequent notice, or may lead to one or more opportunity (tender) notices or future opportunity (planning) notices.

Due to the one-to-many relationshi

[2017-06-15 11:16] duncandewhurst commented on #471
@timgdavies should the other codes in the schema also be added to the csv?

* approval
* assessment (in place of adjudication)
* financing

[2017-06-15 11:36] #421 closed, assigned to kindly, timgdavies

[2017-06-15 11:36] #252 closed

[2017-06-15 11:37] #207 closed

[2017-06-15 11:38] timgdavies commented on #70
A new phase of implementation research is currently planned and we'll open a new thread with results.

[2017-06-15 11:38] #70 closed

[2017-06-15 11:40] timgdavies commented on #224
There have been no updated on this issue since 2015. Closing.

[2017-06-15 11:40] #224 closed

[2017-06-15 11:40] timgdavies commented on #226
There have been no updates on this issue since 2015. Closing.

[2017-06-15 11:40] #226 closed

[2017-06-15 11:40] timgdavies commented on #231
There have been no updates on this issue since 2015. Closing.

[2017-06-15 11:40] #231 closed

[2017-06-15 11:41] timgdavies commented on #240
We now have a more developed OCDS <-> TED mapping which will be published in the next few months. Anyone in need of advanced access, please drop me a line via data@open-contracting.org

[2017-06-15 11:41] #240 closed

[2017-06-15 11:43] timgdavies commented on #245
This was missed from 1.1. Needs action in future revision.

[2017-06-15 11:43] #275 closed

[2017-06-15 11:43] #279 closed

[2017-06-15 11:44] timgdavies commented on #289
This can be handled by local or community extensions in OCDS 1.1

[2017-06-15 11:44] #289 closed, assigned to nobody

[2017-06-15 11:45] #425 closed, assigned to kindly, timgdavies

[2017-06-15 11:45] timgdavies commented on #425
This is in place with the new extension pages.

[2017-06-15 12:59] timgdavies commented on #384
@markbrough  Yes - this would be done as an extension to the ```value``` object, so would be available anywhere a financial value is given.

[2017-06-15 14:59] #468 closed, assigned to nobody

[2017-06-15 15:20] #303 closed, assigned to Bjwebb

[2017-06-15 15:26] timgdavies commented on #466
This was on 1.0.2 - I've updated the translations and pushed the fix which [should be being built now](https://travis-ci.org/open-contracting/standard/builds/243309940).

Will double check with @bjwebb whether I also need to get this merged into 1.0 in order for the fix to display at http://standard.open-contracting.org/1.0/es/schema/codelists/

[2017-06-15 15:50] Bjwebb commented on #466
The 1.0.2 branch shouldn't be altered, it should match the 1__0__2 tag. We've had a bunch of changes on 1.0-dev and 1.0 since then.

Updates for 1.0 should be made on the 1.0-dev https://github.com/open-contracting/standard/commit/574d35a5a2de8a1169fd66f748b2e49228b42568, and then PR'd onto the 1.0 branch https://github.com/open-contracting/standard/pull/477. There's an additional deploy step afte

[2017-06-15 15:57] #433 closed, assigned to robredpath, duncandewhurst

[2017-06-16 10:15] Bjwebb commented on #466
This should now be fixed - http://standard.open-contracting.org/1.0/es/schema/codelists/#release-tag

[2017-06-16 10:15] #466 closed, assigned to nobody

[2017-06-16 15:26] sofiiashnyr commented on #430
@duncandewhurst,

thank you for the suggestion.

- It does make more sense to have `x_suspendedReason` as a new document type, so we'll stick to that.

- No, currently a procedure can be blocked only by a `courtOrder` or `dgfCommissionOrder`.

[2017-06-16 15:29] timgdavies opened #478 "IATI-OCDS linkages (linking aid projects and contracts) (proposal from IATI)"
Over in the [IATI Discuss forum](https://discuss.iatistandard.org/t/adding-links-to-related-ocds-contracts/918) there is a proposal on creating the link between aid projects and contracts.

There is a blog post with further background and a linked working paper on this topic at: http://www.aidtransparency.net/news/blog-linking-aid-and-contracting

Members of the OCDS community with an interest in

[2017-06-20 14:48] Bjwebb opened #479 "releases array required at top of record package schema"
`releases` is a required field at the top level of the record package schema https://github.com/open-contracting/standard/blob/1.1-dev/standard/schema/record-package-schema.json#L118. Pretty sure this is a mistake.

[2017-06-21 13:29] timgdavies commented on #460
Note that the same issue exists for the [Budget Breakdown extension](https://github.com/open-contracting/ocds_budget_breakdown_extension/blob/master/release-schema.json)

[2017-06-21 14:55] robredpath opened #481 "Command-line validation of data"
On the community call on 2017-06-21 there were a number of questions around validation of large files, validation of API output and command-line validation. This is something that's a priority for us to make happen, so I'd love to hear from anyone who would benefit from this feature so that I can make sure that we fully understand the needs.

[2017-06-21 15:04] Bjwebb commented on #251
I've looked through the schema again, and the only non-nullable, but not required field I can see is roles. https://github.com/open-contracting/standard/pull/482

[2017-06-21 15:12] mireille-raad commented on #319
in an OCDS 1.1 community call on 2017-06-21, two people showed interest especially because large files on the validator time out.

I am adding this to the conversation in github issue to help you "track the demand"

[2017-06-22 08:13] timgdavies commented on #400
The [budgets and projects extension](https://github.com/open-contracting/ocds_budget_projects_extension) provides an approach here. However, **it is not currently well documented** and so needs documentation written.

[2017-06-22 08:15] timgdavies opened #483 "Detailed transaction, budget, external budget data linkages"
## Primary use case

A publisher wants to indicate the budget line that a transaction was paid from.

## Considerations

A budget line may not have a clear unique identifier or URI. Where no unique identifier is available, budget lines may be identified by a range of classifications, including:

* Administrative classifications;
* Economic classifications; and
* Funcational classifications

If the

[2017-06-23 15:26] Bjwebb opened #484 "OrganizationReference id fields are required in 1.1 schema, which means valid 1.0 data can be invalid against it"
I ran into this whilst looking at this faked sample data - https://github.com/open-contracting/extension_tester/blob/c16bdd581c18af760dca015ba8230b683564917d/ocds_extension_tests/fixtures/fullfakedata.json - which validates for 1.0 but not 1.1.

[2017-06-26 09:47] Bjwebb opened #485 "Make sure that all text is translated correctly"
Using [podebug](http://docs.translatehouse.org/projects/translate-toolkit/en/latest/commands/option_rewrite.html) we can create a pseduo translation, which we can use to check for gaps.

Here's a build of what this looks like: http://standard.open-contracting.org/pseudo/en_pseudo/

Not translated properly:
- [x] Note boxes
- [x] Framework types box http://localhost:8023/build/en_pseudo/implementat

[2017-06-26 16:39] timgdavies commented on #484
Ok - for backwards compatibility then we should remove that one requirement. I'll look into that now.

[2017-06-26 16:43] robredpath commented on #484
@timgdavies is this backwards-compatibility or forwards-compatibility?

[2017-06-26 16:45] timgdavies commented on #484
I've been working on the assumption that anything valid against 1.0 should be valid against 1.1 - with at most deprecation warnings on things to change.

I've put in a branch and pull open a pull request which we can review as part of a collection of 1.1.1 issues.

[2017-06-26 16:47] robredpath commented on #484
Cool, thanks @timgdavies

[2017-06-27 09:19] duncandewhurst commented on #392
In the UK, a true/false ```supplyChain``` field is being added to the Contracts Finder platform to identify sub-contracting processes

[2017-06-27 15:34] georgneu commented on #396
Just flagging that purchase orders (orden de pago) is information that Argentinean civil society would be looking for. They see this as the key document that provides them with the information on who and what.

A brief look at a purchase order seems to indicate that most of the information is covered in the contract data so it could be integrated there.

[2017-06-27 17:50] Bjwebb commented on #485
Pull request now at https://github.com/open-contracting/standard/pull/487

[2017-06-28 17:50] timgdavies commented on #481
We're looking for community feedback on [the proposal to allow the software that runs the validator (CoVE) to run at the command line](https://github.com/OpenDataServices/cove/issues/207#issuecomment-309018015)

We are hoping to work on this over the next month, with the likely first option being to:

* Maintain the current dependencies on Django, but provide a headless version that can be run in

[2017-07-11 13:28] duncandewhurst opened #489 "milestoneDocuments extension in both core and community extensions"
The milestoneDocuments extension appears in both the [list of core extensions and the list of community extensions](http://standard.open-contracting.org/latest/en/extensions/#using-extensions).

The [entry](https://github.com/open-contracting/extension_registry/blob/master/milestone_documents/entry.json) in the extension registry shows that milestoneDocuments should be a community extension.

We s

[2017-07-11 14:02] timgdavies commented on #489
Just checked against the OCDS 1.1 consultation, and we didn't say either way whether the milestone documents should be a core or community extension.

I realise we need to update the milestone extension so that it unsets the deprecation.

[2017-07-12 10:05] duncandewhurst commented on #329
Re-opening and adding to 1.0.3 bugfix milestone

[2017-07-12 10:06] duncandewhurst commented on #253
Re-opening and adding 1.0.3 bugfix milestone

[2017-07-13 10:53] Bjwebb commented on #489
This is because the list of core extensions comes from the v1.1 branch, where milestoneDocuments is marked as core - https://github.com/open-contracting/extension_registry/blob/v1.1/milestone_documents/extension.json
Whereas the list of community extensions comes from the master branch, where it isn't http://standard.open-contracting.org/latest/en/extensions/#using-extensions

There exists an issu

[2017-07-13 14:00] duncandewhurst opened #491 "Should duplicate entries be permitted in the tenderers array?"
Currently the schema doesn't specify whether duplicate entries are permitted in the ```tender/tenderers``` array.

This question arises when a single organization submits multiple bids.

The bids extension allows details of individual bids (with associated tenderers) to be disclosed, however it's not clear how ```tender/tenderers```, which is part of the core standard, should be populated in this

[2017-07-14 15:56] duncandewhurst commented on #483
Expanding a little on the modelling of budget classifications I have been taking a look at Mexico's [Open Fiscal Data Package pipeline](https://github.com/Victordeleon/os-data-importers/blob/master/america/mexico/fiscal.source-spec.yaml) along with a randomly selected budget line from the [Transparencia Presupuestaria OFDP site](http://www.transparenciapresupuestaria.gob.mx/es/PTP/datos_presupuest

[2017-07-14 16:23] timgdavies commented on #483
Is there a strong reason to nest ```code``` and ```description``` together?

Why not:

[code]

And we might even find that ```code``` and ```id``` could be merged, meaning that all we need to do is introduce a ```description``` field here?

[2017-07-17 12:29] timgdavies commented on #491
The definition of this field is currently:

It is paired with:

```numberOfTenderers``` defined as:

I read from this that there should not be duplication in the ```tenderers``` array.

Duplication would also not work when merging in OCDS 1.1, as the duplicated entries would have the same ```id```, and so would be collapsed into one when merging anyway.

[2017-07-17 12:29] #491 closed, assigned to nobody

[2017-07-17 12:53] duncandewhurst commented on #483
There are two possible sets of ids/titles/descriptions in use here:

1. The id/title/description of the classification as a whole (e.g. Institutional activity)
2. The id/title/description of the code drawn from the classification (e.g. Administrative Support Services, Public Service and Good Governance etc.)

So the the ```value``` and ```description``` nested under ```code``` belong to the code d

[2017-07-17 14:31] timgdavies commented on #483
Thanks for the clarification.

I've been looking at the Fiscal Data Package (http://specs.frictionlessdata.io/fiscal-data-package/#examples) and Open Spending (http://docs.openspending.org/en/latest/) for terminology precedents to use here. I didn't find anything solid, but the one term that did come up was 'dimension'.

That could be useful in place of 'title', so we say ```type```, ```dimension`

[2017-07-17 14:38] timgdavies opened #493 "Replace organizationIdentifiersRegistrationAgency codelist with org-id.guide"
We currently embed an outdated version of the organization identifier scheme codelist [in the documentation here](http://standard.open-contracting.org/latest/en/schema/codelists/#organization-identifier-scheme).

This should be replaced by a link to the org-id.guide codelist.

[2017-07-18 07:30] timgdavies opened #496 "Improve / update heading on extensions documentation pages"
At the moment [on the extensions page](http://standard.open-contracting.org/latest/en/extensions/

* The core and community extension lookup table lack headings that display within the Sphinx menus;
* Organization details is displaying as part of the core extensions list when it should not.

These issues should be fixed in the upcoming minor changes.

[2017-07-18 10:11] duncandewhurst opened #498 "Schema viewer: null type not shown where format key used"
The schema viewer doesn't show ```null``` as an option for properties where the ```format``` key is used in the json schema, e.g. for ```uri``` or ```date-time```.

In the example below, ```null``` is a valid type for both ```maxExtentDate``` and ```durationInDays``` but it is only shown in the schema viewer for ```durationInDays```

### schema viewer

![image](https://user-images.githubuserconten

[2017-07-18 14:12] timgdavies opened #499 "Features (as a means of expressing structured assessment criteria)"
The [requirements extension](https://github.com/open-contracting/ocds_requirements_extension/blob/master/README.md) covers **eligibility criteria** for procurement processes.

This does not, as we had initially thought, cover structured **assessment criteria** for a procurement process.

For this we still need to work up a structured extension based on the Open Procurement API concept of a [Featur

[2017-07-18 14:24] Bjwebb commented on #485
I've updated the bid extension repo with my changes: https://github.com/open-contracting/ocds_bid_extension/commit/85fc7eb6a34506facc916141946b0570429918d1

The other change was to the location extension, but the table there is missing from the repo, so I've not tried to do anything with it.

[2017-07-18 14:24] #485 closed, assigned to Bjwebb

[2017-07-19 10:04] Bjwebb commented on #498
Here's the place in docson.js that this happens - https://github.com/open-contracting/standard/blob/65f884d793f0b956163d7b6e54b99d4b5f887edf/standard/docs/en/_static/docson/docson.js#L148

My javascript is rather rusty. @kindly might be in a better place to change this.

[2017-07-19 13:46] Bjwebb commented on #489
Pull request to make milestone_documents consistently core: https://github.com/open-contracting/extension_registry/pull/48

[2017-07-20 10:46] timgdavies opened #500 "Check enums for closed codelists"
We need to check all the enums for closed codelists are correctly aligned with the CSV versions of those codelists.

[2017-07-20 10:46] timgdavies commented on #500
From #471

[2017-07-20 11:11] timgdavies commented on #471
@duncandewhurst In https://github.com/open-contracting/standard/compare/471-milestone-type I've staged changes that:

* change planning to procurement, and add approval, assessment and financing to reflect the enum list;
* remove the enum list;

As this is an open codelist, we're not breaking any published data - but if any publishers have already mapped to 'planning' rather than 'preProcurement'

[2017-07-20 13:33] duncandewhurst opened #501 "Links in schema in /latest point to /1.1 and links in /1.0 point to /latest"
In the /latest version of the docs, links in the schema point to the /1.1 version of the docs, e.g. in [/latest/en/schema/reference](http://standard.open-contracting.org/latest/en/schema/reference/#release) the link in the description of ```ocid``` points to [/1.1/en/schema/identifiers](http://standard.open-contracting.org/1.1/en/schema/identifiers/)

Whilst in the /1.0 version of the docs, links

[2017-07-20 13:35] timgdavies commented on #501
@bjwebb Can you give a quick estimate on how complicated it would be for us to add a search/replace process to the documentation build? So that links get updated to reflect the branch they are on?

[2017-07-20 15:05] Bjwebb commented on #501
This should be reasonably straightforward to do, a couple of hours work.

[2017-07-20 17:02] timgdavies commented on #501
Thanks - I've opened a non-sprint ticket to see if we can tackle this in the next couple of weeks.

[2017-07-21 01:50] transpresupuestaria commented on #483
Following up on several conversations with Duncan from the helpdesk we wanted to add some documentation to the way we at Mexico’s Ministry of Finance are modelling the link between the OCDS and the Open Fiscal Data Standard (OFDS):
The same Budget can be published using different classifications that give us more information on how public money is being spent. In Mexico we mainly use the following

[2017-07-21 12:09] timgdavies commented on #473
I'm staging an update with the following definition:

* contractSchedule - **Contract schedules** - "The contract schedules (sometimes referred to as annexes, attachment or appendix) are generally prepared alongside the core terms of the contract, and may provide additional detail on the goods, services or works that the contract covers."

@LindseyAM @jpmckinney Please can you confirm you are happ

[2017-07-21 12:21] timgdavies commented on #483
@transpresupuestaria Thank you for sharing this: it's really useful to see.

I'm pasting in your budgetBreakdown.txt example below for others reading this thread, and will add some comments to check my understanding.

[code]

### Observations

#### Observation 1: sections
The measures (translated as Comprometido = Committed; Devengado = Accrued; Ejercido = Exercised; Pagado = Paid) represent the d

[2017-07-21 13:59] jpmckinney commented on #473
Grammatically, "attachments" and "appendices" should also be pluralized. Otherwise, looks good to me.

[2017-07-21 14:42] #500 closed, assigned to nobody

[2017-07-21 14:42] timgdavies commented on #500
Duplicate of #475

[2017-07-21 14:45] timgdavies commented on #501
We also want to check the links in changelog are turned into relative links (and ideally to do this in a way that does not upset all the translations)

[2017-07-21 15:54] jpmckinney commented on #471
Was it decided not to do this? Otherwise may want to open a new issue. I don't see enums for at least `method` and `procurementCategory`.

[2017-07-21 16:58] timgdavies commented on #471
This is issue #475  - If you had time to look at a script solution most welcome. Otherwise I'll be working on a manual version for 1.1.1 on Monday

[2017-07-21 21:25] LindseyAM commented on #473
We would want to include the concepts of appendix, annex, attachment, schedule, addendum etc etc so would recommend to define as "Any document which contains additional terms, obligations or information related to the contract, such as a schedule, appendix, annex, attachment or addendum."

[2017-07-22 10:45] timgdavies opened #506 "Can we remove make_field_definitions.py"
I believe [make_field_definitions.py](https://github.com/open-contracting/standard/blob/1.1-dev/standard/schema/utils/make_field_definitions.py) is no longer used in the build process, as our new sphinx directive removes the need to rely on intermediate CSV files.

However, it is still present in the builds scripts and babel process.

@Bjwebb Is it safe to remove this in the 1.1.1?

[2017-07-23 07:41] mireille-raad opened #507 "have a friendly TLDR version of contributing.md"
I was creating an issue and noticed the link for contributing... it is nice and necessary... but it would be great to create a TLDR; or maybe some user friendly bullet point list summarizing the legal jargon.

Digital Ocean has some great example on how to do this on  https://www.digitalocean.com/legal/terms/

Here are some screenshots to demonstrate

![screen shot 2017-07-23 at 10 38 53 am](https

[2017-07-23 07:43] mireille-raad opened #508 "is search not working or is it me?"
I tried to use search on standard.open-contracting.org

i noticed it doesn't work from phone, laptop (2 browsers: chrome and opera) and from 2 different locations.

Is it me or something is up?

here is my console log:

![screen shot 2017-07-23 at 10 43 04 am](https://user-images.githubusercontent.com/521705/28497591-c2d4e8ac-6f93-11e7-891d-791805430f7f.png)

[2017-07-23 08:07] mireille-raad commented on #428
In a more traditional setting, a "notification" about opportunities or awards has to be done in the official government newspaper or in newspapers in general  (there is usually a minimum number of newspapers in which an ad has to be published)
Sometimes, this depends on the value of the contract.

I believe this is to fight corruption and to increase value for money and competition. Since those ar

[2017-07-23 09:49] mireille-raad commented on #478
one thought: instead of editing codelists or fields... would it make sense to add to the  “release package schema” a reference to a joined OCDS-IATI data uri?

[code]

The string “IATI” + “OCID prefix of the publisher” will ensure that this url is unique in the world.

Then on that uri… you can build a json that links OCDS and IATI, it can include documents, projects, any type of identifier you wa

[2017-07-24 08:23] timgdavies commented on #507
Good idea. In practice the contributor agreement is really for code contributions - but the fact it is displaying for issues could be a bit off-putting.

I've had an issue internally open to look at https://cla.github.com/ to see if we could even streamline our Contributor Agreement a bit more.

@jpmckinney might have thoughts on this.

[2017-07-24 08:31] timgdavies commented on #508
This seems to be an issue for me to. Tagging @Bjwebb to explore

[2017-07-24 08:34] Bjwebb commented on #506
Yes, should be safe to remove this.

[2017-07-24 08:35] timgdavies commented on #506
Ok. I'll do that shortly.

[2017-07-24 09:19] #506 closed, assigned to timgdavies

[2017-07-24 09:50] #508 closed, assigned to Bjwebb

[2017-07-24 09:51] Bjwebb commented on #508
Fixed in the source repo, will be updated on the live site shortly.

[2017-07-24 10:21] Bjwebb commented on #508
Fixed now on http://standard.open-contracting.org/latest/en/

[2017-07-24 11:16] timgdavies commented on #473
Ok - so I'm going with "Any document which contains additional terms, obligations or information related to the contract, such as a schedule, appendix, annex, attachment or addendum." as @LindseyAM suggests.

[2017-07-24 15:07] timgdavies commented on #501
This is a nice-to-have, but not a blocker for 1.1.1

[2017-07-24 15:09] timgdavies opened #510 "Requirements for 1.1.1 to be ready"
* [x] Write changelog
* [x] Update schema id values to "id": "http://standard.open-contracting.org/schema/1__1__1/release-schema.json"

[2017-07-24 18:04] jpmckinney commented on #507
I think we can move `CONTRIBUTING.md` to another path (maybe `CONTRIBUTOR-AGREEMENT.md`), and instead add briefer language to `CONTRIBUTING.md` while referencing the agreement. This would also give an opportunity to give more direction as to what makes a good issue / bug report.

[2017-07-24 19:04] LindseyAM commented on #395
This issue continues to be relevant in Ukraine where data users have indicated it is hard to tell when a contract has been 'terminated' (eg due to non-performance) or ended as intended (eg a concluded purchase).

Perhaps confusion around this codelist is the reason why @ekoner mentioned the terminated status had not been used. I wonder therefore if users can tell if a contract is concluded in any

[2017-07-24 20:32] timgdavies commented on #510
@Bjwebb I've hit the chicken-and-egg problem again with changing the schema id, as this breaks the documentation build (which wants to find a schema at "http://standard.open-contracting.org/schema/1__1__1/release-schema.json") to build docs for release-package-schema.

Ideas for a good workaround?

[2017-07-24 20:32] #422 closed, assigned to timgdavies

[2017-07-24 20:32] #460 closed, assigned to nobody

[2017-07-24 20:32] #465 closed, assigned to nobody

[2017-07-24 20:32] #471 closed, assigned to timgdavies, duncandewhurst

[2017-07-24 20:32] #473 closed, assigned to LindseyAM

[2017-07-24 20:32] #475 closed, assigned to nobody

[2017-07-24 20:32] #479 closed, assigned to nobody

[2017-07-24 20:32] #493 closed, assigned to nobody

[2017-07-24 20:32] #496 closed, assigned to nobody

[2017-07-25 09:11] timgdavies opened #512 "Update basic, intermediate, advanced guidance for OCDS 1.1"
The 1.1 docs currently embed OCDS 1.0.2 Basic, Intermediate, Advanced spreadsheet in the implementation guidance.

This needs to be updated to include 1.1.0 guidance.

[2017-07-25 09:31] Bjwebb commented on #510
Does ref resloving need to work, or does it just need to not fail? (I think the sphinx docs don't actually display fields across ref boundaries, although the javascript widgets do). If it just needs to not fail, I can configure JSONRef to return empty dictionaries for remote refs.

[2017-07-25 09:36] timgdavies commented on #510
I think you are right - let's try with it just not failing.

[2017-07-25 09:39] Bjwebb commented on #510
This needs updating in sphinxcontrib-jsonschema. Here's a new commit to use for that: b7332e8fd5c788ee59b983396102ddc38967a3d0

[2017-07-25 10:04] duncandewhurst commented on #489
milestone_documents is still displaying in both core and community in [1.1.1-dev](http://standard.open-contracting.org/1.1.1-dev/en/extensions/)

[2017-07-25 10:14] timgdavies commented on #489
Might need @bjwebb or @edugomez to take a glance here.

In the master branch of the extension registry here https://github.com/open-contracting/extension_registry/blob/master/milestone_documents/entry.json I see ```"core": true```

but in the deployed javascript at http://standard.open-contracting.org/extension_registry/master/extensions.js I see ```"core": false```

And I see [the build was succe

[2017-07-25 16:24] timgdavies commented on #253
In the 1.0.3 branch I'm planning to only update the schema, without the additional change to the documentation for each field. This means negative numbers will validate: but the clarification of the  semantics for negative numbers, as presented in 1.1, will not display in 1.0 docs.

This is in order to avoid needing additional translations of 1.0, or updates to other tools using 1.0.

[2017-07-25 16:42] timgdavies commented on #478
Thanks @dc-coder - I think I follow the suggestion. We should explore opportunities to try this with real IATI and OCDS data. Do you think there might be some examples from the World Bank we could try with?

[2017-07-25 17:06] mireille-raad commented on #478
Here are some public links to start with (let me know how useful) - from data.worldbank.org

### API or CSV download

Portfolio (or the aid projects)
http://data.worldbank.org/data-catalog/projects-portfolio

Procurement Notices
http://data.worldbank.org/data-catalog/procurement-notices

Contract Awards
http://data.worldbank.org/data-catalog/contract-awards

### No API or bulk download available

[2017-07-25 17:17] mireille-raad commented on #478
More links from http://data.worldbank.org/data-catalog

### API and CSV
Corporate Procurement Contract Awards
http://data.worldbank.org/data-catalog/a3d9-f9xv

World Bank Program Budget
http://data.worldbank.org/data-catalog/gprm-cvxz

Paid In Contributions to IBRD/IDA/IFC Trust Funds based on FY of Receipt (this could count as a form of aid)
http://data.worldbank.org/data-catalog/nh5z-5qch

IBRD

[2017-07-25 17:34] mireille-raad commented on #481
Def. useful suggestion/tool ;p

If this was to be translated to a command line, what would be the flags or parameters that you can pass? it might be good to start doing this thought experiment :). Maybe you can start getting community feedback on that... like how to validate for specific things, what types of inputs/outputs are expected...

If you want to go a one step further, it might be useful

[2017-07-25 17:41] mireille-raad commented on #413
are they re-publishing as is? or are they adding data as well? any links you can share?

you might want to add to the guidance on OCID some guidance on mentioning the dates for when the dataset was re-published. (I can't imagine everyone is already doing real time integration/republishing)

[2017-07-25 17:57] mireille-raad commented on #365
hmm... could we add page number to the equation? I believe OCDS 1.1 enables linking page numbers in documents with specific information. When creating a UI, it might be useful to show specific page of a document.. which means, we'd have to order that doc on a specific page. I am also wondering if wget or curl or other programming utilities now enable ordering only part of a document.... that would

[2017-07-25 18:54] timgdavies commented on #481
There is work-in-progress on allowing the online validator to also run on the command line [in this branch of the underlying CoVE tool](https://github.com/OpenDataServices/cove/blob/749-command-line/README.rst#command-line-interface)

More on draft output that will give soon....

[2017-07-26 04:01] mireille-raad commented on #507
Maybe use `Contributor-License-Agreement.md` or `CLA.md` (CLA seems to be the abbreviation of choice...) - a `legal.md` could also do.

The [contributing on tensorflow](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md) is a good example imho...

There is a CLA for corporate and another for individuals btw... I noticed this is the same for Apache, Google etc

Apache
https://www.

[2017-07-26 04:05] mireille-raad commented on #478
btw, maybe devgateway can help....

they already built http://aiddata.org and have an API http://aiddata.org/api-aid

[2017-07-26 08:52] Bjwebb commented on #489
This should be fixed now.

Looks like I broke it whilst setting up the OCDS PPP profile deploy.

[2017-07-26 08:52] #489 closed, assigned to Bjwebb, edugomez

[2017-07-26 13:56] mpostelnicu opened #515 "Git version tag present for some extensions"
Hi guys,

I noticed that for some official OCDS extensions there is a git tag added `v1.1` and for others there is no tag. Some questions:

- Is this something that is planned to be standardized as well ? Like any extension to have a tag like this, or not ?
- Does it have to do with what OCDS major version can it be applied to ? like `v1.1` ones are for OCDS 1.1.x , etc... ?
- Can we assume the on

[2017-07-26 14:40] kindly commented on #515
The v1.1 tag is for OCDS core extensions. These extensions are ones that appear in the standard documentation. The tag is basically in order to fix the version so we know we are going to get the same result if we rebuild the docs.  So I do not think this will be very useful for you.

This work around extensions is very immature still so sorry for lack of documentation and clarity.

To get what you

[2017-07-26 14:57] mpostelnicu commented on #515
I remember i applied extensions over 1.0 as well, you had a location patch in 1.0.
https://github.com/open-contracting/implementation-and-extensions/blob/master/proposed_extensions/proposed_location/schema_usecase_2.json

The difference is on 1.0 you guys used JSON Patch (RFC-6902) https://tools.ietf.org/html/rfc6902 while on 1.1 you started using JSON Merge Patch (RFC-7386) https://tools.ietf.org

[2017-07-26 18:52] timgdavies opened #516 "Fixing bid extension typos"
This [pull request](https://github.com/open-contracting/ocds_bid_extension/pull/8) has fixed some typos in the bid extension on the master branch.

OCDS 1.1 uses a pinned version of the extension, which may need these same changes applied to it, and an entry made to the OCDS 1.1.1 changelog to note the update.

[2017-07-26 19:17] jpmckinney opened #517 "Ensure versioned-release-validation-schema.json in extensions is up-to-date"
Either:

* delete the file if it's used for nothing
* document how to generate it manually, then automate and test for it like this repo does

Originally reported: https://github.com/open-contracting/ocds-riskAllocation-extension/issues/7

At least one extension (riskAllocation) has an out-of-date versioned-release-validation-schema.json that conflicts with the other schema.

[2017-07-26 19:19] jpmckinney commented on #517
Unless it's used for nothing, I'd push the "document how to generate it manually" upward in priority (especially as I assume documenting an operation that has occurred many times shouldn't be long or difficult).

[2017-07-26 19:24] timgdavies commented on #517
I've never generated a versioned-release-validation-schema for an extension when hand-writing extensions.

It's possible these come from the [extension creator tool though](https://open-contracting.github.io/extension_creator/)

Tagging @kindly and @duncandewhurst for views.

My understanding through is that no tools are then using versioned-release-validation-schema.json

[2017-07-27 07:29] duncandewhurst commented on #517
Yes, the extension creator generates a versioned-release-validation-schema.

For some extensions, the release-schema will have subsequently been edited outside of the extension creator, so the versioned-release-validation-schema will be out of sync.

The extension creator could be used as part of a manual process to update the versioned-release-validation-schema after each update to the release-sc

[2017-07-27 11:41] Bjwebb commented on #507
Very much in favour of moving the legal agreement to another path.

Our CoVE repo is another example of what a friendlier CONTRIBUTING.md could look like https://github.com/OpenDataServices/cove/blob/master/CONTRIBUTING.md.

[2017-07-27 13:18] jpmckinney commented on #517
Has anyone done this programmatically? It looks like I can rig something up in Node using https://github.com/open-contracting/extension_creator/blob/gh-pages/make_validation_schema.js

[2017-07-27 14:09] timgdavies commented on #517
I've only use the python script in the main repo against the main schema.

A node process across all the repos would be good stop-gap, but I guess we should review whether or not this should really be part of an extension before putting effort there? Perhaps a topic for 3rd August meeting?

[2017-07-27 14:14] jpmckinney commented on #517
Sounds good - we can put this issue on the agenda.

[2017-07-27 14:37] jpmckinney commented on #517
In general, I'd like to add to the agenda: starting an effort (if not existing already) to document all the maintenance/publication workflows leading to new versions of schema and documentation, and what tools we need/want to automate as much as possible.

[2017-07-27 14:46] jpmckinney commented on #245
I'm not sure the pain of inconsistency is greater than the pain of upgrading here.

[2017-07-28 11:34] Bjwebb commented on #501
Remaining tasks:
- [x] Sort out translations
- [x] Work out how we need update the deploy, so that latest is built on a latest branch.

[2017-07-30 21:29] jpmckinney commented on #38
Relevant to EU and UNCITRAL.

EU:

UNCITRAL:

[2017-07-30 21:33] jpmckinney commented on #179
Just noting that in terms of nomenclature we may need to be careful distinguishing reviews of contracts from review procedures for awards as in EU and UNCITRAL.

[2017-07-30 22:04] jpmckinney commented on #205
~~Relevant to review procedures in EU forms, UNCITRAL, WTO GPA.~~ (see below)

[2017-07-30 22:14] jpmckinney commented on #430
Relevant to review procedures in EU forms, UNCITRAL, WTO GPA.

Also, we typically use `Rationale` not `Reason` elsewhere in the schema.

[2017-07-30 22:47] jpmckinney commented on #440
Relevant to EU forms.

[2017-07-31 10:05] timgdavies opened #521 "Bug fix releases for OCDS 1.1 and 1.0 - 7 day comment period"
Bug fix (patch) releases of OCDS 1.1 and 1.0 are now staged and ready for review.

You will find OCDS 1.1.1 at http://standard.open-contracting.org/1.1.1-dev/en/ with a [changelog here](http://standard.open-contracting.org/1.1.1-dev/en/schema/changelog/) and pasted below. Please use [GitHub issue #520](https://github.com/open-contracting/standard/pull/520) to raise any questions or concerns about

[2017-07-31 14:42] mireille-raad opened #523 "Add Milestone.period field (date interval)"
I just saw a use case in which `tender/milestones/dueDate`  is actually a date interval (with startDate and endDate).

I wonder if this normal or if you ever saw it elsewhere. are there any recommendations on how to publish this? (my guess would be to use the biggest date as the OCDS dueDate)

[2017-07-31 14:50] timgdavies commented on #523
I've not encountered this before. As dueDate is a simple date-time, and not a [period](http://standard.open-contracting.org/latest/en/schema/reference/#period) object, we unfortunately don't get the automatic benefit of the 1.1 distinction between ```endDate``` and ```maxExtentDate```.

Whether the earlier or later date (or a mid-point) should be used does depend on context I think.

For example,

[2017-07-31 14:55] mireille-raad commented on #523
ha! thanks a lot for the super detailed answer and clarification.

I'll try to get some more information on why the dueDate is this way... if there is some insight to be gained, i'll open/share in a ticket... closing the issue for now.

[2017-08-02 14:24] timgdavies opened #524 "Add Address.country field (with ISO3166-1 alpha-2 codelist)"
From workshop in Kiev:

We use address from schema.org - we need country code as well for some use cases.

Follow up with @myroslav.

[2017-08-02 15:14] duncandewhurst opened #525 "Header in 1.1 documentation displays 1.0 on smaller viewports"
![image](https://user-images.githubusercontent.com/19265814/28880636-958bd4c0-779d-11e7-8db9-755bab03bba1.png)

[2017-08-02 15:49] juanpane commented on #483
Hi all:
I’ll try to comment on some issues:

## Budget line classification.

Considering the comment about hierarchical classifications, what I’ve see in the budget dataset from [Paraguay](https://datos.hacienda.gov.py/data/pgn-gasto), and also from Argentina and Honduras, normally there are several hierarchical classifications in the budget. For instance, in the [data dictionary from Paraguay](ht

[2017-08-02 17:10] Bjwebb commented on #525
This is fixed now in the theme repo, and I've rebuilt these dev branches:
http://standard.open-contracting.org/1.1-dev/en/
http://standard.open-contracting.org/1.1.1-dev/en/

[2017-08-02 20:08] transpresupuestaria commented on #483
Hey @timgdavies  , thanks for the feedback.

Regarding your questions and observations:

## 1: sections.

- We are not considering using the planning/budget/amount because: a) national budget planning is not made in a per contract basis but rather per budgetary program, and b) multiple programs and line items can be the financial source for the same contract, so we need to disaggregate the informa

[2017-08-02 23:25] juanpane commented on #483
considering the last comment from @transpresupuestaria

This would be great, as long as the user of the data has a way to automatically reaching that information from the data being consumed, for instance, by the URI of the budget line, where the parent concepts are shown when the URI is resolved.

[2017-08-03 00:46] juanpane commented on #483
## Different phases of budget execution and contracts:

Different countries have different (but similar) phases for managing the impact of a procurement process in the National Budget. I’ll try to do my best to try to explain (a simplified version) of 2 countries, Paraguay and Honduras.

### Paraguay

In Paraguay these are the phases:

- **Previsto (expected budget)**: When a planning is done (PAC

[2017-08-03 20:31] jpmckinney commented on #517
We didn't get around to chatting about this, but I'll add that if we choose to remove the file, we should also edit [standard_extension_template](https://github.com/open-contracting/standard_extension_template).

[2017-08-03 20:36] jpmckinney opened #527 "Implementation levels text is in need of review"
https://github.com/open-contracting-archive/mapper

I'd also like to review what in `open-contracting-archive` can be deleted (or in a few cases where there is just a README, backed up as historical in Google Drive), and what in `open-contracting` can be archived or deleted (we have some early work that doesn't belong).

[2017-08-04 08:41] #501 closed, assigned to Bjwebb, timgdavies

[2017-08-04 14:31] duncandewhurst commented on #483
@transpresupuestaria @juanpane thanks both for your contributions on this issue

This is has been really useful to surface a couple of different understandings of the use of ```budget``` and ```budgetBreakdown``` in OCDS.

My understanding from the discussion so far is as follows:

* In the cases referred to in Paraguay and Honduras the budget being described is the **amount reserved for the indiv

[2017-08-04 15:20] duncandewhurst opened #528 "Make publicationPolicy a required field"
Currently the ```publicationPolicy``` field in the [release package schema](http://standard.open-contracting.org/latest/en/schema/release_package/) is not a required field.

We advise all publishers to provide a publication policy to explain how they produce OCDS data and the choices they have made in doing so.

Is there any reason we shouldn't make ```publicationPolicy``` a required field so that

[2017-08-04 15:29] jpmckinney commented on #528
One reason would be backwards-incompatibility.

[2017-08-04 15:32] timgdavies commented on #528
I think two issues here:

(1) Should it be a schema change? That would need to wait for 1.2 (as would any schema change... this is implied in the question)

(2) Should we get the validator to report on it (that could be an additional check we layer in)

My view is that we should look at (2) in any case, as (1) is further away, and we want to make sure we're picking up missing publication policies

[2017-08-04 16:13] Bjwebb commented on #528
As a schema change, it would not be backwards compatible, so waiting for 2.0, rather than 1.2.

[2017-08-05 10:43] timgdavies commented on #527
The text in levels.md could do with a more thorough-going re-write, but that is blocked currently by decisions about publication levels etc.

I'm generally against deleting from the archive - as the point of an archive is to make sure links stay active, and that anyone who does want to access that content can. It should just clearly be marked as outdated.

[2017-08-05 10:44] timgdavies commented on #527
Updating title to reflect wider issue.

Specific issue that led to issue was reference to https://github.com/open-contracting-archive/mapper in the levels.md file.

[2017-08-05 20:41] jpmckinney commented on #527
I don't have admin on open-contracting-archive in order to see traffic graphs, but I'd be surprised if anything relevant links to ocdata-blend and some others. Anyway, I'm more keen on archiving more things from open-contracting (e.g. the historical ocds_upgrade_* repos, and any old and unused repos unchanged since 2014 or 2015) than on deleting anything.

[2017-08-06 09:55] timgdavies commented on #527
I've just invited you to the archive repo.

Yep - the ocds_upgrade_* repos can be archived safely I believe.

[2017-08-06 22:32] jpmckinney opened #529 "Archive some more repositories"
I archived all the `ocds_upgrade_*` repos and `ocds-milestones-update`. I didn't archive `ocds_upgrade_1_1_patches` because #229 is still open.

Admins can see audit log here: https://github.com/organizations/open-contracting-archive/settings/audit-log

I propose the archival of (assuming none of these are used anymore, or linked from standard.open-contracting.org and other current materials):

*

[2017-08-06 22:33] jpmckinney commented on #527
Archival is continued in #529

[2017-08-07 08:20] timgdavies commented on #529
Thanks for the tidy up.

I've archived ```ocds_upgrade_1_1_patches``` as #229 is likely to lead to new work if we do progress it.

I've checked off above those that I think can be archived safely. Will flag to the rest of the team to confirm, but if no objections by end of day, I think safe to archive those too.

I believe we should keep https://github.com/open-contracting/standard-legacy-staticsi

[2017-08-07 10:43] #484 closed, assigned to nobody

[2017-08-07 10:43] #251 closed

[2017-08-07 10:43] #510 closed, assigned to Bjwebb

[2017-08-07 13:23] jpmckinney commented on #529
Sounds good. When was the switch made from JSON-Merge to JSON-Merge-Patch? Just wondering about https://github.com/open-contracting/ocds-merge

[2017-08-07 13:35] timgdavies commented on #529
For extensions we made the switch from [JSON Patch](http://jsonpatch.com/) to [JSON Merge Patch](https://tools.ietf.org/html/rfc7386) in [September 2016](https://github.com/open-contracting/standard/issues/335#issuecomment-246769257).

We maintain a [python implementation of a JSON Merge Patch library](https://github.com/open-contracting/json-merge-patch) (written by @kindly). This could potential

[2017-08-07 14:21] jpmckinney commented on #517
Since we didn't get around to talking about this issue on Thursday, we should pick up the conversation here or in a scheduled call. I don't think we should be releasing incorrect `versioned-release-validation-schema.json` files in any extensions, so should either update them or delete them.

[2017-08-07 14:29] timgdavies opened #533 "JSON example formatting is degraded in 1.1"
We have a javascript library in the documentation which:

(a) Folds JSON examples, and then expands just the leaves of interest;
(b) Collects together multiple examples, and provides a drop-down box to choose between them;

This currently works in 1.0 by taking the contents of a custon JSONInclude directive as below:

[code]

and then adding information to the class of the ```LiteralInclude``` blo

[2017-08-07 14:31] jpmckinney commented on #529
Thanks! Added jsonmerge to list at top of issue.

[2017-08-07 14:32] timgdavies commented on #517
Pinging @kindly for a view on this and to confirm if there is any reason `versioned-release-validation-schema.json` should not be removed.

I think a wider call on next-step technical strategy for extensions in later August/early Sept would be useful.

[2017-08-07 14:35] jpmckinney commented on #529
Seems fine to me to move `json-merge-patch` to `OpenDataServices`. Where do these belong?

* https://github.com/OpenDataServices/OCDSExtensionCreator
* https://github.com/OpenDataServices/ocds-faker

[2017-08-07 14:40] timgdavies commented on #529
https://github.com/OpenDataServices/OCDSExtensionCreator is an early draft of https://github.com/open-contracting/extension_creator - I'll check if we can get this removed.

https://github.com/OpenDataServices/ocds-faker is currently used for generating test data. We could move it to open-contracting to support it here, but probably only once it is more documented.

[2017-08-07 14:43] #525 closed, assigned to Bjwebb

[2017-08-07 14:54] Bjwebb commented on #533
Looks like we can use a container node to pass through the classes: https://github.com/open-contracting/standard/commit/520afec26ad3afc7164283df8bfe1af78c6e695d

1.1-dev now works http://standard.open-contracting.org/1.1-dev/en/getting_started/

[2017-08-07 14:54] #533 closed, assigned to Bjwebb

[2017-08-07 17:56] #516 closed, assigned to nobody

[2017-08-08 11:39] duncandewhurst opened #537 "Links in the schema viewer are displayed in an iframe"
When you click a link in the [schema viewer](http://standard.open-contracting.org/latest/en/schema/release/) the destination is displayed in an iframe:

![image](https://user-images.githubusercontent.com/19265814/29070214-32c0c98e-7c36-11e7-8bc4-cad063e960f2.png)

I think the correct behaviour here is to take you to the destination in the main browser window.

I believe this is a new issue in 1.1.

[2017-08-08 11:41] Bjwebb commented on #537
I can reproduce the issue for 1.0 also: http://standard.open-contracting.org/1.0/en/schema/release/

Is it possible you previously opened the links in a new tab?

[2017-08-08 11:53] duncandewhurst commented on #537
I didn't think so, but I may well have done!

[2017-08-08 14:53] Bjwebb commented on #529
That's correct.

[2017-08-09 01:24] transpresupuestaria commented on #483
@duncandewhurst thanks for your comments.

•	Only the accruing momento “Aprobado” refers to the the whole Budget program as it appears in the Presupuesto de Egresos de la Federación, which is the national government’s main planning document.
•	Even though “budget” uses the accruing moment “Aprobado” in the plannning section, the Budget breakdown extension allows to disaggregate the information by:

[2017-08-10 13:09] jpmckinney commented on #529
I archived the checked repos in issue description.

[2017-08-10 13:09] #529 closed, assigned to nobody

[2017-08-10 13:11] jpmckinney opened #541 "Move repositories to appropriate organizations"
Move to OpenDataServices:

* [x] https://github.com/open-contracting/json-merge-patch

Move to open-contracting:

* [x] https://github.com/OpenDataServices/ocds-faker

Remove?

* [x] https://github.com/OpenDataServices/OCDSExtensionCreator

Continuing from #529

[2017-08-10 14:00] juanpane commented on #483
I'm under the impression that we might be mixing things here.

OCDS deals only with a specific contracting process, and as @duncandewhurst said, when we talk about planning/budget, it refers only to the budget that we plan for a particular contracting process,

The national budget planning, which on its own its a complete different thing (although related) with its own set of rules, moments, chang

[2017-08-10 15:58] duncandewhurst commented on #537
Fixed in https://github.com/open-contracting/standard/pull/540 (thanks @Bjwebb)

[2017-08-10 15:58] #537 closed, assigned to Bjwebb

[2017-08-10 17:42] timgdavies commented on #541
@kindly could you please move json-merge-patch to opendataservices, and check if (and update if true) https://github.com/OpenDataServices/OCDSExtensionCreator can be removed.

@edugomez please could you take a look at moving ocds-faker to the open-contracting repo

Thanks both :)

[2017-08-11 21:24] yank07 opened #543 "How to know at what stage is a contracting process?"
Hello all!

We are using the API of the OCDS in Paraguay, we have a question of knowing the stage of a contracting process giving a compiled release of the contracting process.

We could, for sure, infer that if a compiled release has the tender object  not empty, the giving contracting process are at least in the tender stage. Querying all the other stage objects we could know the real stage of t

[2017-08-14 06:23] mireille-raad commented on #543
is the "Release Tag" field not helpful?
http://standard.open-contracting.org/latest/en/schema/codelists/#release-tag

[2017-08-14 06:29] mireille-raad commented on #521
I was checking http://standard.open-contracting.org/1.1.1-dev/en/implementation/levels/#how-to-publish-5-approach

I visited the link to OCDS mapper and it is no longer supported - https://github.com/open-contracting-archive/mapper
Maybe remove the reference or link to something that is supported ?

[2017-08-14 06:38] mireille-raad commented on #521
For the different levels of publication

☆ ☆ Provide machine-readable data about contracts

Maybe you can add something about creating a basic/friendly user interface that allows end users to search, see analytics on procurements and summaries of contracts (something along those line)

This can add some focus on end users needs and not just a 100% pure data oriented approach.

If you think this is

[2017-08-14 06:42] mireille-raad commented on #521
![levels_en](https://user-images.githubusercontent.com/521705/29260754-82901814-80d4-11e7-8f3a-3e34098a49c9.png)

This image is a bit cluttered.

It might be nice to create individual "Cards" or "Badges" about the different publication levels. Each card will then have a cleaner look and will be visually nice and fancy.

[2017-08-14 06:47] mireille-raad commented on #521
Broken link on "established protocols" - it leads to a 404 on http://standard.open-contracting.org/1.1.1-dev/en/implementation/levels/hosting#discovery-and-apis (not sure if will be automatically fixed once this is moved out of dev)

☆ ☆ ☆ ☆ Use best practices for data on the web
[...]
Use **established protocols** to support discovery of your data, and to provide atom feeds of recently updated da

[2017-08-14 07:04] mireille-raad commented on #521
☆ ☆ ☆ ☆ Use best practices for data on the web

[...]
This will allow users to follow the links to discover more about the context of the contracting processes they are exploring, **and will allow big-data analysis linking in these different datasets.** For example, following links to a company register to discover whether a company awarded a contract has been dissolved, or following links to budg

[2017-08-14 15:32] duncandewhurst commented on #543
In a `compiledRelease` the `tag` field should be set to `compiled`, so this wouldn't indicate the current stage of the process.

However, you can use the [`releases`](http://standard.open-contracting.org/latest/en/schema/records_reference/#release-list) section of an OCDS record to determine the stage of the process from the most recent release by using the `tag` field.

For example, in [this reco

[2017-08-14 22:33] jpmckinney commented on #517
Moved to https://github.com/open-contracting/standard-development-handbook/issues/19

[2017-08-14 22:33] #517 closed, assigned to kindly, duncandewhurst

[2017-08-15 00:20] transpresupuestaria commented on #483
Maybe to be clear we need to re-state the purpose of our display of the data. What we’re doing is connecting the budget information (as presented by the Open Fiscal Data Package) with the contracting process information. The budget information has two main stages to be included at:

- Planning: The “approved” and “modified” accruing moments specify the amounts that were actually planned for a budg

[2017-08-15 03:24] jpmckinney commented on #363
What's the progress on this?

[2017-08-15 03:57] jpmckinney opened #544 "Add more documentation tests"
We can add tests to ensure the following works:

* [x] Search box
* [x] Community [extensions](http://standard.open-contracting.org/latest/en/extensions/) table
* [ ] [Examples](https://standard.open-contracting.org/latest/en/getting_started/releases_and_records/) (expand tests for `json-example-format.js` in `test_docs.py`)
* [ ] Docson, e.g. [Release Schema](http://standard.open-contracting.org/

[2017-08-15 04:23] jpmckinney opened #545 "Validation of object consistency"
For example, if a release is using lots, and an `Item` sets a `relatedLot` field, it would be expected for each `Item` object to set a `relatedLot` field. I suspect there are other cases where we would expect a consistency of implementation. This may be more about data quality than validation. Anyhow, I'm not aware of any guidance along the lines of "If you use this field, you should provide it in

[2017-08-15 04:25] jpmckinney opened #546 "Extending building blocks"
Does our documentation warn that extending a building block adds the field everywhere that block appears? For example, if your intention is to extend `Item` in the context of a `Contract`, you should know that extending `Item` will change `Item` objects in `Tender` and `Award` as well.

[2017-08-16 01:03] jpmckinney commented on #400
Is this still true? I see a commit on Jul 8 which greatly expanded the extension's documentation.

[2017-08-16 07:40] mireille-raad opened #548 "partyRole: Add code for Contract administration entity"
The code list for party roles doesn't include any "Contract administration entity"

http://standard.open-contracting.org/latest/en/schema/codelists/#party-role

A contract administration entity might be present in more large contracts and in PPPs. Would you consider adding it to the open code list as one of the defaults?

[2017-08-22 14:00] jpmckinney opened #549 "HEAD changelog.md should include all branches' changelogs"
i.e. 1.1.1's changelog.md doesn't include a description of 1.0.3 changes, but it should.

Also, can we have a note in the changelog about why there is no 1.0.1?

[2017-08-24 01:13] dpinedam commented on #548
I Agree, there should be such role in Party block, and that for this case the Contract administration entity should be referenced under Contract/Signatories

[2017-08-24 01:24] agm3dc commented on #548
I've recently run into the issue of not having a clear place to put contact info for a contract administrator, who may be different than the person referenced in the tender level procuring entity space.

[2017-08-24 01:44] dpinedam commented on #548
Well, Contract Administration happens once a contract has been awarded and signed, so it could be a different partie.
So if it is defined at a early stage (tender or even planning) using Party building block, it already has contact info as part of its attributes.
See:  http://standard.open-contracting.org/1.1-dev/en/schema/reference/#parties

[2017-08-24 01:57] agm3dc commented on #548
Thanks @dpinedam, I hadn't seen the additionalContactPoints array. That's what i needed.

[2017-08-24 15:08] Bjwebb commented on #544
Some of these can be tested against the Travis build:
- [x] Search box
- [x] Community [extensions](http://standard.open-contracting.org/latest/en/extensions/)
- Examples, e.g. [Getting Started](http://standard.open-contracting.org/latest/en/getting_started/)
- Docson, e.g. [Release Schema](http://standard.open-contracting.org/latest/en/schema/release/)

Some can only be tested against the actual

[2017-08-24 15:16] jpmckinney commented on #544
Ok, let's make the issue about what's possible with the Travis build.

[2017-08-24 15:31] #512 closed, assigned to timgdavies

[2017-08-24 15:32] #253 closed

[2017-08-24 15:32] #329 closed, assigned to timgdavies

[2017-08-24 16:32] Bjwebb commented on #544
I was most of the way through writing a test of the language switcher before I realised it wouldn't work.

I've commited the test, which will be skipped by default, but will run if you specify a live url to test, e.g.:
[code]

We should be able to set up tests like that to be run with travis cron, against the live site.

[2017-08-26 00:29] jpmckinney commented on #354
Is this still unresolved?

[2017-08-26 00:44] jpmckinney commented on #521
Just noting that http://standard.open-contracting.org/latest/en/implementation/levels/ is more likely to undergo an overhaul than a tweak #388. That said, the [two broken links](https://github.com/open-contracting/standard/issues/521#issuecomment-322112082) should be fixed.

[2017-08-26 00:45] jpmckinney commented on #543
Closing as the question seems to be answered.

[2017-08-26 00:45] #543 closed, assigned to nobody

[2017-08-26 00:49] jpmckinney commented on #521
I'll open a new issue for the broken links. The upgrades have been merged. #388 now links here regarding the comments about revisions to `levels.md`, which wasn't part of the upgrade (there haven't been substantive changes since 1.0).

[2017-08-26 00:49] #521 closed, assigned to nobody

[2017-08-26 00:50] jpmckinney opened #552 "Fix broken links"
Originally reported in comment: https://github.com/open-contracting/standard/issues/521#issuecomment-322112082

The following links are broken in `levels.md`:

[code]

and

[code]

[2017-08-26 00:59] jpmckinney commented on #515
Thanks for the comments here. Let's move the discussion to https://github.com/open-contracting/extension_registry/issues/56

[2017-08-26 00:59] #515 closed, assigned to kindly

[2017-08-26 01:00] jpmckinney commented on #474
This issue is fairly underspecified. Closing as doing research without evidence of demand/issues is too low priority. I haven't come across submission methods in EU or GPA requirements that are not covered by OCDS, for example.

We can re-open if there is some specific evidence.

[2017-08-26 01:00] #474 closed, assigned to nobody

[2017-08-26 01:10] jpmckinney commented on #426
Regarding extensions, couldn't `$schema` be a URL of a release schema that has been patched with the relevant extensions? The value of `$schema` in this case would not be useful for identifying the version of OCDS, but the purpose of `$schema` in JSON Schema is for validation - not for version identification.

[2017-08-26 01:53] jpmckinney commented on #408
I'm not clear on the motivation for this issue. It seems to me like if you have complex interdependencies and rules-based logic depending on which combination of extensions you have, then you probably want to author your own 'extension builder' that implements all that logic. It's extremely unlikely that we will author a domain-specific language for extensions with which to express that inter-depe

[2017-08-26 01:53] #408 closed, assigned to nobody

[2017-08-26 01:58] jpmckinney commented on #329
Fixed in #514.

[2017-08-26 01:58] jpmckinney commented on #253
Fixed in #514.

[2017-08-26 02:01] jpmckinney commented on #363
I'm unaware of an upgrade guide and the only upgrade tooling I'm aware of are scripts in `sample-data`.

[2017-08-26 02:05] jpmckinney commented on #330
The issues that @kindly and @duncandewhurst reported haven't been fixed.

[2017-08-26 02:09] jpmckinney commented on #232
This issue has not been resolved. Moving to a new milestone and reopening.

[2017-08-26 02:10] jpmckinney commented on #512
Confirmed resolved.

[2017-08-26 02:18] jpmckinney commented on #369
By my understanding, this was resolved by adding `parties/details` (which doesn't provide fields for all the linked issues, instead allowing future extensions to provide those fields). A best practice is to describe why an issue is being closed when closing an issue.

[2017-08-26 02:21] jpmckinney commented on #381
Closed with creation of https://github.com/open-contracting/ocds_lots_extension

[2017-08-26 02:23] jpmckinney commented on #270
The phoenix rises: #524

[2017-08-26 02:50] jpmckinney commented on #523
`milestones` ends up being used for any date information that can't go in the other `date-time` and `Period` fields serving more common use cases like submission periods, etc.

In GPA, there is a "time-frame for delivery of goods or services", suggesting a period, and 'delivery' is indeed a `milestoneType` defined as "For delivery milestones, such as the date when a good or service should be provi

[2017-08-26 03:04] jpmckinney commented on #377
Closed with creation of https://github.com/open-contracting/ocds_budget_breakdown_extension

[2017-08-26 03:06] jpmckinney commented on #474
#322 has far more information and context, so re-opening that instead.

[2017-08-26 03:10] jpmckinney commented on #322
Noting that 1.1 added definitions, but otherwise did not edit the codelist (we would need to deprecate codes).

[2017-08-26 03:18] jpmckinney commented on #250
Closed with creation of https://github.com/open-contracting/ocds_location_extension

[2017-08-26 03:21] jpmckinney commented on #246
The phoenix rises: https://github.com/open-contracting/standard/issues/455

[2017-08-26 03:27] jpmckinney commented on #371
'framework' was not removed, FYI.

**Update:** See #577 for discussion about why it was retained.

[2017-08-26 03:33] jpmckinney commented on #342
The core extension is https://github.com/open-contracting/ocds_process_title_extension

[2017-08-26 03:35] jpmckinney commented on #358
As no such plan is documented (as far as I'm aware), I'll re-open and put in the 2.0 milestone.

[2017-08-26 03:43] jpmckinney commented on #379
Noting that @JachymHercher's comment is reflected in the following commit.

[2017-08-26 03:50] jpmckinney commented on #374
Noting that (at least some of) @JachymHercher's comments are reflected in the following commits.

[2017-08-26 04:11] jpmckinney commented on #409
As @dc-coder [reported](https://github.com/open-contracting/standard/issues/521#issuecomment-322109913), there is still one link to mapper in levels.md

[2017-08-26 04:15] jpmckinney commented on #310
Page resolving this issue is readable at http://standard.open-contracting.org/latest/en/implementation/related_processes/

[2017-08-26 14:42] jpmckinney commented on #181
Closed with creation of https://github.com/open-contracting/ocds_partyDetails_scale_extension

[2017-08-26 14:43] jpmckinney commented on #260
Treated as duplicate of #181

[2017-08-26 14:44] jpmckinney commented on #262
Unresolved, but will be resolved with OCDS profile for EU.

[2017-08-26 14:45] jpmckinney commented on #269
Unresolved, but will be resolved with OCDS profile for EU.

[2017-08-26 15:15] jpmckinney commented on #322
With regard to electronic auctions, I propose (likely as an extension):

* deprecate the 'electronicAuction' code in the `submissionMethod` codelist
* add a new `procurementMethodModalities` field with an open `methodModalities` codelist, to avoid diluting or confusing the semantics of the `procurementMethod` field and its `method` codelist, which directly map to definitions in the GPA, with the e

[2017-08-26 15:33] jpmckinney commented on #375
Noting that this issue is distinct from the question of recurrence/recurring/recurrent contracts.

[2017-08-26 15:35] jpmckinney commented on #116
Closing in favor of:

* https://github.com/open-contracting/standard-maintenance-scripts/issues/7
* https://github.com/open-contracting/standard-maintenance-scripts/issues/9

[2017-08-26 15:35] #116 closed

[2017-08-29 16:04] julijahansen opened #554 "currency: Incorrect code for Zambian currency"
We list ZMK as the code for Zambian currency in http://standard.open-contracting.org/latest/en/schema/codelists/ , however the code listed under ISO4217 is ZMW: https://www.currency-iso.org/en/home/tables/table-a1.html

[2017-08-31 10:52] duncandewhurst opened #557 "partyRole: Add 'interestedParty' code"
From @dwasyl:

This code exists in the PPP profile with the following definition:

[2017-08-31 13:55] jpmckinney commented on #554
We should have a script to generate / validate this codelist.

[2017-08-31 16:21] timgdavies commented on #354
This is still an active issue. We are planning some dialogues on translation later in the year which this could be addressed through.

[2017-09-01 11:33] Bjwebb commented on #351
I think this issue can be closed in favour of https://github.com/open-contracting/mapping-sheet-generator/issues/6

[2017-09-01 11:33] #351 closed, assigned to Bjwebb

[2017-09-01 15:59] Bjwebb commented on #552
I've written a test to catch broken links, at @duncandewhurst's suggestion.

There's a lot of them, to the point where I think something has changed in how Sphinx handles relative links. I've also noticed that the behaviour of links in the English docs seems to be different to translations https://github.com/open-contracting/standard/pull/556/files#r136608618. I think some poking around with our S

[2017-09-01 16:44] mireille-raad commented on #403
Approval just came up in a CoST-PPP technical discussion. Here are some "conceptual" reasons that could potentially justify a new building block for approvals:

- The importance of the approval data in the corruption use case (which is a main one in the OCDS). It would make this building block more permanent instead of it being a codelist. You can add much more details to it.

- When you get into

[2017-09-01 16:48] mireille-raad commented on #403
hmm... now i am re-reading my other issue about "certificate" and your suggestion for it to be an extension. (I missed to see the reference earlier). do you still think certificate is the good answer for this issue?

[2017-09-01 16:56] mireille-raad commented on #557
would it make sense to call it something more specific like interestedBidder ? an interestedParty can be anyone like an NGO, a bank, a news media outlet, a developer poking around with open data. I didn't get what it really meant until I read the email....so an open data users can get confused with what it means to be an interested party.